
{% set dataGroup = null %}
    {% if form.parent is defined %}
        {% set dataGroup = form.vars.id|replace({ ('_'~form.parent.vars.name~'_') : '_disko_' })  %}
    {% endif %}

<div class="form-group relative-line {% if form.vars['errors'] |length > 0 %}has-error has-feedback{% endif %}">
    <div class="row">
        {{ form_label(form, label, { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
        <div class="col-sm-8">
            <label class="switcher switcher-success" style="margin-top: 13px;">
                {{ form_widget(form, { 'attr': {'class': 'form-control disko-group '~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup} }) }}
                <div class="switcher-indicator">
                    <div class="switcher-yes">OUI</div>
                    <div class="switcher-no">NON</div>
                </div>
            </label>

            {% include "@Admin/partials/form/element/apply.html.twig" %}
        </div>

    </div>

    {% if info is defined and info is not empty %}
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="alert alert-info" style="padding: 8px;font-size: 12px;border-radius: 5px;">
                    {{ info|raw }}
                </div>
            </div>
        </div>
    {% endif %}
</div>