<div class="form-group relative-line {% if form.vars['errors'] |length > 0 %}has-error has-feedback{% endif %}">

    {% set dataGroup = null %}
    {% if form.parent is defined %}
        {% set dataGroup = form.vars.id|replace({ ('_'~form.parent.vars.name~'_') : '_disko_' })  %}
    {% endif %}

    <div class="row">
        {{ form_label(form, label, { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
        <div class="col-sm-8">
            <div class='input-group date'>
                {{ form_widget(form, { 'attr': {'class': 'form-control disko-group '~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup} }) }}
                <span class="input-group-addon"><span class="fa fa-calendar"></span>
                            </span>
            </div>
            {% if form.vars['errors'] |length > 0 %}<div class="jquery-validate-error help-block">{{ form_errors(form) }}</div>{% endif %}

            {% include "@Admin/partials/form/element/apply.html.twig" %}
        </div>
    </div>
</div>