<div class="form-group relative-line  {% if form is defined and form.vars['errors'] |length > 0 %}has-error has-feedback{% endif %}">
    <div class="row">


        {% set dataGroup = null %}
        {% if form.parent is defined %}
            {% set dataGroup = form.vars.id|replace({ ('_'~form.parent.vars.name~'_') : '_disko_' })  %}
        {% endif %}


        {% if form is defined %}
            <div class="col-sm-2">
                <label class="control-label" style="margin-bottom: 10px;font-size: 12px;">&nbsp;&nbsp;&nbsp;{{ label is defined and label is not empty ? label : "Image" }}</label>
                <a href="" class="btn btn-xs btn-upload" style="margin: auto auto 10px auto;display: block;white-space: initial;{% if modeSmall is not defined or not modeSmall %}max-width: 130px;{% else %}max-width: 60px;{% endif %}">
                    <i class="fa fa-desktop text-info" style="display: block;padding: 4px 0;"></i>
                    {% if modeSmall is not defined or not modeSmall %}<span>Télécharger depuis votre <b>ordinateur</b></span>{% endif %}
                </a>
                {% set acceptedFilter = 'images/*' %}
                {% if accepted is defined and accepted is not empty %}
                    {% set acceptedFilter = accepted|replace({',' : ':'}) %}
                {% endif %}
                <a href="{{ path('admin_media_center_ajax_list', {"accepted": acceptedFilter}) }}" class="btn btn-xs btn-mediatheque" style="margin: auto auto 10px auto;display: block;white-space: initial;{% if modeSmall is not defined or not modeSmall %}max-width: 130px;{% else %}max-width: 60px;{% endif %}">
                    <i class="fa fa-image text-warning" style="display: block;padding: 4px 0;"></i>
                    {% if modeSmall is not defined or not modeSmall %}<span>Choisir dans la <b>médiathèque</b></span>{% endif %}
                </a>
            </div>
        {% endif %}


        <div class="col-sm-{% if form is defined %}8{% else %}12{% endif %}">
            <div data-accepted="{% if accepted is defined and accepted is not empty %}{{ accepted }}{% else %}image/*{% endif %}" data-ratio="{% if ratio is defined and ratio is not empty %}{{ ratio }}{% endif %}"  class="dropzone-box {% if form is defined and form.vars['value'] is not empty %}dz-clickable dz-started dz-max-files-reached{% endif %}" style="text-align:center">
                <div class="dz-default dz-message">

                    <i class="fa fa-cloud-upload"></i>
                    Placez votre fichier ici<br>

                    {% if form is defined %}
                        <span class="dz-text-small">ou le/la choisir dans la médiathèque</span>
                    {% else %}
                        <span class="dz-text-small">Il sera automatiquement ajouté à la médiathèque à la fin de son téléchargement</span>
                    {% endif %}
                </div>


                {% if form is defined and form.vars['value'] is not empty %}
                    <div class="dz-preview dz-processing dz-image-preview dz-success">
                        <div class="dz-details">
                            <div class="dz-thumbnail-wrapper">
                                <div class="dz-thumbnail">

                                    {% if accepted is defined and accepted != 'image/*'  %}
                                        <a class="dz-nopreview" href="{{ path('media_view', {id: form.vars['value']}) }}" target="_blank">Voir le fichier</a>
                                    {%  else %}
                                        <img data-dz-thumbnail="" src="{{ path('media_view', {id: form.vars['value']}) }}">
                                        <span class="dz-nopreview">Pas de prévisualisation</span>
                                    {%  endif %}

                                </div>
                            </div>
                        </div>
                        <a class="dz-update-disko" href="{{ path('image_seo', {'id': form.vars['value']}) }}"><i class="fa fa-cogs"></i> &nbsp; Seo</a>
                        <a class="dz-remove dz-remove-disko" href="javascript:undefined;" data-dz-remove=""><i class="fa fa-times"></i> &nbsp; Supprimer le fichier</a>
                    </div>
                {% endif %}

                {% if form is defined %}
                    {{ form_widget(form, { 'attr': {'class': 'input-dropzone-disko disko-group' ~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup, 'data-id': form.vars['value']} }) }}
                {% else %}
                    <div class="input-dropzone-disko" data-id="">
                        <div>
                            <input type="text" name="notneed">
                        </div>
                    </div>

                {% endif %}
            </div>
            {% include "@Admin/partials/form/element/apply.html.twig" %}
        </div>


    </div>
</div>