
<ul class="a2lix_translationsLocales nav nav-tabs" role="tablist" style="border:none;">
    {% for form in form.translations %}
        {% set locale = form.vars.name %}

        <li class="nav-item {% if app.request.get('locale', app.request.locale) == locale %}active{% endif %}">
            <a href="#" style="border-radius: 5px;padding: 4px 7px;" class="nav-link {% if app.request.get('locale', app.request.locale) == locale %}active{% endif %}" data-toggle="tab" data-target=".{{ form.vars.id }}_a2lix_translationsFields-{{ locale }}" role="tab">
                <span style="width: 1.2em" class="flag-icon flag-icon-{% if locale == 'en' %}gb{% else %}{{ locale }}{% endif %}"></span>
                {% if form.vars.required %}*{% endif %}

            </a>
        </li>
    {% endfor %}
</ul>