<div class="form-group relative-line {% if form.vars['errors'] |length > 0 %}has-error has-feedback{% endif %}">

    {% set dataGroup = null %}
    {% if form.parent is defined %}
        {% set dataGroup = form.vars.id|replace({ ('_'~form.parent.vars.name~'_') : '_disko_' })  %}
    {% endif %}

    {% if select_label is defined %}
        <div class="row">
            {{ form_label(form, label, { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-8">
                {% if class_widget is defined %}
                    {% if id_widget is defined %}
                        {{ form_widget(form, {'id': id_widget, 'attr': {'class': 'form-control disko-group' ~ class_widget~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup} }) }}
                    {% else %}
                        {{ form_widget(form, {'attr': {'class': 'form-control disko-group' ~ class_widget ~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup} }) }}
                    {% endif %}
                {% else %}
                    {{ form_widget(form, { 'attr': {'class': 'form-control disko-group' ~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup} }) }}
                {% endif %}
                {% if form.vars['errors'] |length > 0 %}<div class="jquery-validate-error help-block">{{ form_errors(form) }}</div>{% endif %}


                {% include "@Admin/partials/form/element/apply.html.twig" %}

            </div>
        </div>
    {% else %}
        <div class="row">
            {# {{ form_label(form, label, { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }} #}
            {% if label_class is defined %}
                {{ form_label(form, label, { 'label_attr': { 'class': 'col-sm-2 control-label ' ~ label_class }}) }}
            {% else %}
                {{ form_label(form, label, { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            {% endif %}
            <div class="col-sm-8">
                {% if big_area is defined %}
                    {% if class_widget is defined %}
                        {% if id_widget is defined %}
                            {% if name_widget is defined %}
                                {{ form_widget(form, {'id': id_widget, 'name': name_widget, 'attr': {'class': 'form-control disko-group ' ~ class_widget~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup, 'style': 'height: 500px;'} }) }}
                            {% else %}
                                {{ form_widget(form, {'id': id_widget, 'attr': {'class': 'form-control disko-group ' ~ class_widget~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup, 'style': 'height: 500px;'} }) }}
                            {% endif %}
                        {% else %}
                            {{ form_widget(form, { 'attr': {'class': 'form-control disko-group ' ~ class_widget~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup, 'style': 'height: 500px;'} }) }}
                        {% endif %}
                    {% else %}
                        {{ form_widget(form, { 'attr': {'class': 'form-control', 'style': 'height: 500px;'} }) }}
                    {% endif %}
                    {% if form.vars['errors'] |length > 0 %}<div class="jquery-validate-error help-block">{{ form_errors(form) }}</div>{% endif %}
                {% else %}
                    {% if class_widget is defined %}
                        {{ form_widget(form, { 'attr': {'class': 'form-control disko-group ' ~ class_widget~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup} }) }}
                    {% else %}
                        {{ form_widget(form, { 'attr': {'class': 'form-control disko-group'~ ' ' ~ dataGroup ~ ' ' ~ form.vars.id, 'data-group': dataGroup} }) }}
                    {% endif %}
                    {% if form.vars['errors'] |length > 0 %}<div class="jquery-validate-error help-block">{{ form_errors(form) }}</div>{% endif %}
                {% endif %}

                {% include "@Admin/partials/form/element/apply.html.twig" %}
            </div>
        </div>
    {% endif %}



    {% if info is defined and info is not empty %}
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="alert alert-info" style="padding: 8px;font-size: 12px;border-radius: 5px;">
                    {{ info|raw }}
                </div>
            </div>
        </div>
    {% endif %}
</div>