{% extends 'front/layout.html.twig' %}


{% block content %}


    <div class="intro intro--alt">
        <div class="container">
            <div class="intro__inner fadein">
                <div class="intro__content">
                    <div class="form">

                        <p>Bonjour,</p>
                        <p>Votre compte <b>n'a pas les droits nécessaires</b> pour accéder à au moins un stock.</p>
                        <p>
                            Merci de contact l'administrateur suivant afin qu'il vous rajoute à la liste des personnes autorisées : <a href="mailto:xxxx@hennessy.com">xxxx@hennessy.com</a>
                        </p>

                    </div><!-- /.form -->
                </div><!-- /.intro__content -->
            </div><!-- /.intro__inner -->
            {% include 'front/parts/images_homepage.html.twig' with {'medium': true} %}
        </div><!-- /.container -->
    </div><!-- /.intro -->


{% endblock %}

{% block footer %}
{% endblock %}