<p>
    Cliquer sur le lien suivant pour modifier votre mot de passe :
    <a href="{{ url('admin_forget_password_reset', {token: passwordRequest.token}) }}">{{ url('admin_forget_password_reset', {token: passwordRequest.token}) }}</a>
</p>