<style>
body.runner {

}

body.runner .px-nav-toggle {
    height: 53px;
    border-bottom: 3px solid #a9d5de!important;
}

body.runner .px-nav-item:first-child {
    border-top: 1px solid #dfe4e6;
}

body.runner .px-nav-sublabel {
    font-size: 10px;
    display: block;
    padding-left: 30px;
    line-height: 10px;
}

body.runner .px-nav-icon{
    font-size: 25px;
    top: 5px;
    width: 30px;
}

</style>
<!-- Nav -->
<nav id="main-menu" class="px-nav px-nav-left">
    <button type="button" class="px-nav-toggle" data-toggle="px-nav">
        <span class="px-nav-toggle-arrow"></span>
        <span class="navbar-toggle-icon"></span>
        <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
    </button>

    <ul class="px-nav-content">
        <li class="px-nav-item {{ active=='general' ? 'active' : ''}}">
            <a href="{{ path('runner_homepage') }}">
                <i class="menu-icon px-nav-icon fa fa-tachometer"></i>
                <span class="px-nav-label">Tableau de bord</span>
                <span class="px-nav-sublabel">
                    Vue globale
                </span>
            </a>
        </li>
        <li class="px-nav-item {{ active=='waiting' ? 'active' : ''}}">
            <a href="{{ path('runner_waiting') }}">
                <i class="menu-icon px-nav-icon fa fa-clock-o"></i>
                <span class="px-nav-label">Commandes En attente</span>
                <span class="px-nav-sublabel">
                    Commandes en attentes
                </span>
            </a>
        </li>
        <li class="px-nav-item {{ active=='stock_entry_115_waiting' ? 'active' : ''}}">
            <a href="{{ path('runner_stock_entry_115_waiting') }}">
                <i class="menu-icon px-nav-icon fa fa-clock-o"></i>
                <span class="px-nav-label">Entrées de stock En attentes</span>
                <span class="px-nav-sublabel">
                    Entrées de stock cave 115 en attentes
                </span>
            </a>
        </li>
        <li class="px-nav-item {{ active=='preparation' ? 'active' : ''}}">
            <a href="{{ path('runner_preparation') }}">
                <i class="menu-icon px-nav-icon fa fa-shopping-basket"></i>
                <span class="px-nav-label">En préparation</span>
                <span class="px-nav-sublabel">
                    Commande en préparation
                </span>
            </a>
        </li>
        <li class="px-nav-item {{ active=='inway' ? 'active' : ''}}">
            <a href="{{ path('runner_inway') }}">
                <i class="menu-icon px-nav-icon fa fa-paper-plane"></i>
                <span class="px-nav-label">En acheminement</span>
                <span class="px-nav-sublabel">
                    Commandes en cours d'acheminement
                </span>
            </a>
        </li>
        <li class="px-nav-item {{ active=='delivered' ? 'active' : ''}}">
            <a href="{{ path('runner_delivered') }}">
                <i class="menu-icon px-nav-icon fa fa-archive"></i>
                <span class="px-nav-label">Terminées</span>
                <span class="px-nav-sublabel">
                    Commandes livrées
                </span>
            </a>
        </li>
        <li class="px-nav-item {{ active=='stock_entry_115_validated' ? 'active' : ''}}">
          <a href="{{ path('runner_stock_entry_115_validated') }}">
            <i class="menu-icon px-nav-icon fa fa-check-square-o"></i>
            <span class="px-nav-label">Entrées de stock Validées</span>
            <span class="px-nav-sublabel">
                    Entrées de stock cave 115 validées
              </span>
          </a>
        </li>

    </ul>
</nav>
