{% if compteur is even %}
    <div class="row">
{% endif %}

{% set anchor = "item-" ~ item.id %}
{% set qty = item.quantity %}
{% set product = item.product %}
{% set path = product.translate(app.request.locale).cover is not empty and product.translate(app.request.locale).cover.path is not empty ? product.translate(app.request.locale).cover : null %}
<style>
body.runner .thumbnail .caption .item-title {
    margin-top : 0;
    margin-bottom : 0;
}
body.runner .thumbnail.runner-ok {
    border-color: #41b08a;
    border-width : 2px;
    zzbackground: #51bf99;
}
body.runner .thumbnail.runner-empty {
    border-color: #ca5e51;
    border-width : 2px;
    zzbackground: #e46050;
}
body.runner .thumbnail.runner-partial {
    border-color: #dc9c41;
    border-width : 2px;
    zzbackground: #f4ab43;
}
</style>
<div class="col-md-6" id="{{ anchor }}">
    <div class="thumbnail {{ item.status == 'ok' ? 'runner-ok' : item.status == 'empty' ? 'runner-empty' : item.status == 'partial' ? 'runner-partial' : '' }}">
        {% if path %}
            <img src="{{ asset(path|ifs.path|imagine_filter(filter|default('hennessy_project_list'))) }}" />
        {% else %}
            <img src="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}" />
        {% endif %}
        <div class="caption">
            <h3 class="item-title">
                {{ item.quantity }} x {{ item.product.translate(app.request.locale).name }}
            </h3>
            <div class="row">
                <div class="col-md-4 text-right">
                    SKU:
                </div>
                <div class="col-md-8">
                    {{ item.product.translate(app.request.locale).code }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    Code barre:<br>
                    <small>(Item)</small>
                </div>
                <div class="col-md-8">
                    {{ item.product.translate(app.request.locale).eanPart }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    Code barre:<br>
                    <small>(Boite)</small>
                </div>
                <div class="col-md-8">
                    {{ item.product.translate(app.request.locale).eanBox }}
                </div>
            </div>
            <p class="description">
                {{ item.product.translate(app.request.locale).description }}
            </p>

            <h4>Contrôle des quantités</h4>
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('runner_preparation_entry_stock_validation_item', {id: item.id, status:'ok'}) }}" class="btn btn-primary btn-block btn-xl" role="button">
                        <i class="fa fa-check-square"></i>
                    </a>
                  <i>Entrée de stock complète</i>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning btn-block btn-xl" data-toggle="modal" data-target="#item-partial-{{ item.id }}">
                        <i class="fa fa-exclamation-triangle"></i>
                    </button>
                  <i>Entrée de stock incomplète</i>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-danger btn-block btn-xl" data-toggle="modal" data-target="#item-empty-{{ item.id }}">
                        <i class="fa fa-ban"></i>
                    </button>
                  <i>Entrée de stock annulée</i>
                </div>
            </div>
            {% if item.comment %}
                <div class="row">
                    <div class="col-md-4 text-right">
                        Commentaire du Runner :
                    </div>
                    <div class="col-md-8">
                        <p>{{ item.comment }}</p>
                    </div>
                </div>
            {% endif %}

            {% if item.quantityReceived > 0 %}
                <div class="row">
                    <div class="col-md-4 text-right">
                        Quantité réelle :
                    </div>
                    <div class="col-md-8">
                        <p>{{ item.quantityReceived }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="item-partial-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="{{ path('runner_preparation_entry_stock_validation_item', {id: item.id, status:'partial'}) }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Livraison partielle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="runnerComment">Commentaire</label>
                            <textarea class="form-control" id="runnerComment" name="comment">{{item.comment}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="runnerQuantity">Quantité réelle</label>
                            <input type="number" class="form-control" id="runnerQuantity" name="quantity" value="{{item.quantityReceived}}" min="0">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Commenter</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="item-empty-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="{{ path('runner_preparation_entry_stock_validation_item', {id: item.id, status:'empty'}) }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Produit manquant</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="runnerComment">Commentaire</label>
                            <textarea class="form-control" id="runnerComment" name="comment">{{item.comment}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Commenter</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if compteur is odd %}
    </div>
{% endif %}
