<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                Contrôle de l'entrée de stock {{ stockEntry.id }} pour :
            </div>
            <div class="col-md-6">
              <span style="color: red; font-weight: bold">Stock : {{ stockEntry.stock.name }}</span><br />
              {{ stockEntry.username}}
            </div>

            {% if stockEntry.pickUpLocation == constant("App\\Entity\\Project::CAVE_115") %}
                <div class="col-md-6 col-md-offset-6">
                    Quai de déchargement du 115 (Service courrier)
                </div>
            {% else %}
                <div class="col-md-6 col-md-offset-6">
                    {{ stockEntry.floor}}<sup>{{ stockEntry.floor == 1 ? 'er' : 'e' }}</sup> étage
                </div>
                <div class="col-md-6 col-md-offset-6">
                    Bureau {{ stockEntry.officeNumber}}
                </div>
            {% endif %}

            <div class="col-md-6 col-md-offset-6">
                Date de ramassage : {{ stockEntry.pickUpDate|date('d/m/Y') }} - {{ stockEntry.timeSlots }}<br />
            </div>
        </div>
    </div>
</div>
{% set compteur = 0 %}
{% set nbAutre = 0 %}
{% for item in stockEntry.stockEntry115Items if item.status not in ['ok', 'partial', 'empty'] %}
    {% include '@Admin/Runner/_preparation_stock_entry_item.html.twig' %}
    {% set compteur = compteur + 1 %}
    {% set nbAutre = nbAutre + 1 %}
{% endfor %}
{% for item in stockEntry.stockEntry115Items if item.status == 'ok' %}
    {% include '@Admin/Runner/_preparation_stock_entry_item.html.twig' %}
    {% set compteur = compteur + 1 %}
{% endfor %}
{% for item in stockEntry.stockEntry115Items if item.status == 'partial' %}
    {% include '@Admin/Runner/_preparation_stock_entry_item.html.twig' %}
    {% set compteur = compteur + 1 %}
{% endfor %}
{% for item in stockEntry.stockEntry115Items if item.status == 'empty' %}
    {% include '@Admin/Runner/_preparation_stock_entry_item.html.twig' %}
    {% set compteur = compteur + 1 %}
{% endfor %}
{% if compteur is odd %}
    </div>
{% endif %}
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <button class="btn btn-block btn-warning btn-xl" data-toggle="modal" data-target="#cancel-preparation">
            <i class="fa fa-undo "></i> Annuler
        </button>
    </div>
    <div class="col-md-3">
        <a href="{{ path('runner_preparation_stock_entry_valid', {id: stockEntry.id}) }}" class="btn btn-block btn-success btn-xl">
            <i class="fa fa-check"></i> Valider
        </a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cancel-preparation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Annulation de la préparation</h4>
            </div>
            <div class="modal-body">
                <p>
                    Attention, l'entrée de stock va être réinitialisée.
                </p>
                <p>
                    Les commentaires et checks vont être remis à zéro.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="{{ path('runner_preparation_cancel', {id: stockEntry.id}) }}" class="btn btn-danger">Réinitialiser</a>
            </div>
        </div>
    </div>
</div>
