<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                Préparation de la commande {{ project.id }} pour :
            </div>
            <div class="col-md-6">
                {{ project.recipientFirstName }}
                {{ project.recipientLastName }}
                ({{ project.recipientSociety }})
            </div>
            <div class="col-md-6 col-md-offset-6">
                Etage : {{ project.recipientAddress }}
            </div>
            <div class="col-md-6 col-md-offset-6">
                Bureau : {{ project.recipientAddressComplement }}
            </div>
        </div>
    </div>
</div>
{% set compteur = 0 %}
{% set nbAutre = 0 %}
{% for item in project.items if item.runnerStatus not in ['ok', 'partial', 'empty'] %}
    {% include '@Admin/Runner/_preparation_item.html.twig' %}
    {% set compteur = compteur + 1 %}
    {% set nbAutre = nbAutre + 1 %}
{% endfor %}
{% for item in project.items if item.runnerStatus == 'ok' %}
    {% include '@Admin/Runner/_preparation_item.html.twig' %}
    {% set compteur = compteur + 1 %}
{% endfor %}
{% for item in project.items if item.runnerStatus == 'partial' %}
    {% include '@Admin/Runner/_preparation_item.html.twig' %}
    {% set compteur = compteur + 1 %}
{% endfor %}
{% for item in project.items if item.runnerStatus == 'empty' %}
    {% include '@Admin/Runner/_preparation_item.html.twig' %}
    {% set compteur = compteur + 1 %}
{% endfor %}
{% if compteur is odd %}
    </div>
{% endif %}

<h4>Confirmation de la commande</h4>
<div class="row">
    <div class="col-md-3">
        <a href="{{ path('runner_preparation_valid', {id: project.id}) }}" class="btn btn-block btn-success btn-xl">
            <i class="fa fa-check"></i> Valider
        </a>
        <i>Valider la commande complète ou partielle</i>
    </div>
    <div class="col-md-3">
        <button data-toggle="modal" data-target="#reject-preparation" class="btn btn-block btn-danger btn-xl">
            <i class="fa fa-check"></i> Rejeter
        </button>
        <i>Rejeter la commande car stock insuffisant ou sur demande du collaborateur</i>
    </div>
    <div class="col-md-3 col-md-offset-3">
        <button class="btn btn-block btn-warning btn-xl" data-toggle="modal" data-target="#cancel-preparation">
            <i class="fa fa-undo "></i> Mettre en attente
        </button>
        <i>Remettre la commande en attente de préparation</i>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cancel-preparation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Annulation de la préparation</h4>
            </div>
            <div class="modal-body">
                <p>
                    Attention, la commande va être Réinitialisée.
                </p>
                <p>
                    Les commentaires et checks vont être remis à zéro.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="{{ path('runner_preparation_cancel', {id: project.id}) }}"
                   class="btn btn-danger">Réinitialiser</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reject-preparation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Rejet de la préparation</h4>
            </div>
            <div class="modal-body">
                <p>
                    Attention, la commande va être rejetée.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="{{ path('runner_preparation_reject', {id: project.id}) }}" class="btn btn-danger">Rejeter</a>
            </div>
        </div>
    </div>
</div>
