{#% set menuActive = 'myBoxesBoxs' %#}
{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Commandes livrées' %}

{#%  block options %}
    <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_myBoxesBox_export'}) }}">
        <i class="fa fa-download "></i> Exporter
    </button>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %#}

{% block content %}
<div class="table-disko" id="flip-scroll">
    <table class="table table-bordered table-hover table-striped cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Destinataire</th>
                <th>Livraison</th>
                <th></th>
            <tr>
        </thead>
        <tbody>
            {% if pagination|length <= 0 %}
                <tr>
                    <td colspan="100">Aucun résultat trouvé.</td>
                </tr>
            {% else %}
                {% for project in pagination %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.dateStart|date('d/m/Y', 'Europe/Paris') }}</td>
                        <td>
                            {{ project.recipientFirstName}}
                            {{ project.recipientLastName}}
                            ({{ project.recipientSociety}})<br>
                            Etage {{ project.recipientAddress }}<br>
                            Bureau {{ project.recipientAddressComplement }}
                        </td>
                        <td>
                            {{ project.landingPerson }} à {{ project.landingHour }}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-block btn-xl" data-toggle="modal" data-target="#project-overview-{{ project.id }}">
                                <i class="fa fa-eye"></i>
                            </button>
                            <div class="modal fade" id="project-overview-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Détails de livraison</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Runner</label>
                                                            <div class="col-sm-8">
                                                                <p class="form-control-static">{{ project.runner.username }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Receveur</label>
                                                            <div class="col-sm-8">
                                                                <p class="form-control-static">{{ project.landingPerson }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Heure</label>
                                                            <div class="col-sm-8">
                                                                <p class="form-control-static">{{ project.landingHour }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Destinataire</label>
                                                            <div class="col-sm-8">
                                                                <p class="form-control-static">
                                                                    {{ project.recipientFirstName}}
                                                                    {{ project.recipientLastName}}
                                                                    ({{ project.recipientSociety}})
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-8 col-sm-offset-4">
                                                                <p class="form-control-static">
                                                                    Etage {{ project.recipientAddress }}
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-8 col-sm-offset-4">
                                                                <p class="form-control-static">
                                                                    Bureau {{ project.recipientAddressComplement }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Produits</label>
                                                    <div class="col-sm-10">
                                                        <ul class="list-group">
                                                            {% for item in project.items %}
                                                                <li class="list-group-item">
                                                                    <div class="list-group-item-heading">
                                                                        {{ item.quantity }} x {{ item.product.translate(app.request.locale).name }} ({{ item.product.translate(app.request.locale).code }})
                                                                    </div>
                                                                    <p class="list-group-item-text">
                                                                        {% if item.runnerStatus == 'ok' %}
                                                                            <span class="text-success">Disponible</span>
                                                                        {% elseif item.runnerStatus == 'partial' %}
                                                                            <span class="text-warning">Partiellement disponible</span>
                                                                        {% elseif item.runnerStatus == 'empty' %}
                                                                            <span class="text-danger">Indisponible</span>
                                                                        {% endif %}
                                                                    </p>
                                                                    {% if item.runnerComment is not empty %}
                                                                        <p class="list-group-item-text">
                                                                            {{ item.runnerComment|nl2br }}
                                                                        </p>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Commentaire</label>
                                                    <div class="col-sm-10">
                                                        <p class="form-control-static">
                                                            {{ project.landingComment|nl2br }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% if pagination|length > 0 %}
        <div class="navigation">
            {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
        </div>
    {% endif %}
</div>
{% endblock %}
