{#% set menuActive = 'myBoxesBoxs' %#}
{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Commandes livrées' %}

{#%  block options %}
    <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_myBoxesBox_export'}) }}">
        <i class="fa fa-download "></i> Exporter
    </button>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %#}

{% block content %}
<div class="table-disko" id="flip-scroll">
    <table class="table table-bordered table-hover table-striped cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Expéditeur</th>
                <th>Livraison</th>
                <th></th>
            <tr>
        </thead>
        <tbody>
            {% if pagination|length <= 0 %}
                <tr>
                    <td colspan="100">Aucun résultat trouvé.</td>
                </tr>
            {% else %}
                {% for stockEntry in pagination %}
                    <tr>
                        <td>{{ stockEntry.id }}</td>
                        <td>{{ stockEntry.dateStart|date('d/m/Y', 'Europe/Paris') }}</td>
                        <td>
                            {{ stockEntry.recipientFirstName}}
                            {{ stockEntry.recipientLastName}}
                            ({{ stockEntry.recipientSociety}})<br>
                            Etage {{ stockEntry.recipientAddress }}<br>
                            Bureau {{ stockEntry.recipientAddressComplement }}
                        </td>
                        <td>
                            {{ stockEntry.landingPerson }} à {{ stockEntry.landingHour }}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-block btn-xl" data-toggle="modal" data-target="#stockEntry-overview-{{ stockEntry.id }}">
                                <i class="fa fa-eye"></i>
                            </button>
                            <div class="modal fade" id="stockEntry-overview-{{ stockEntry.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Détails de livraison</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Runner</label>
                                                            <div class="col-sm-8">
                                                                <p class="form-control-static">{{ stockEntry.runner.username }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Expéditeur</label>
                                                            <div class="col-sm-8">
                                                                <p class="form-control-static">
                                                                    {{ stockEntry.username }}
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-8 col-sm-offset-4">
                                                                <p class="form-control-static">
                                                                    Etage {{ stockEntry.floor }}
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-8 col-sm-offset-4">
                                                                <p class="form-control-static">
                                                                    Bureau {{ stockEntry.officeNumber }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Produits</label>
                                                    <div class="col-sm-10">
                                                        <ul class="list-group">
                                                            {% for item in stockEntry.items %}
                                                                <li class="list-group-item">
                                                                    <div class="list-group-item-heading">
                                                                        {{ item.product.translate(app.request.locale).name }}
                                                                    </div>
                                                                    {% if item.runnerComment is not empty %}
                                                                        <p class="list-group-item-text">
                                                                            {{ item.runnerComment|nl2br }}
                                                                        </p>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Commentaire</label>
                                                    <div class="col-sm-10">
                                                        <p class="form-control-static">
                                                            {{ stockEntry.landingComment|nl2br }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% if pagination|length > 0 %}
        <div class="navigation">
            {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
        </div>
    {% endif %}
</div>
{% endblock %}
