{#% set menuActive = 'myBoxesBoxs' %#}
{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Tableau de bord' %}

{#%  block options %}
    <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_myBoxesBox_export'}) }}">
        <i class="fa fa-download "></i> Exporter
    </button>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %#}
{% block content %}
    <style>
        .panel.box {z-index: auto;}
    </style>
    <div class="row">
        <div style="padding-top: 10px" class="col-xs-12 col-sm-6">
            <div class="panel box">
                <div class="box-row">
                    <div class="box-cell p-x-2 p-y-1 bg-black text-xs-center font-size-14 font-weight-semibold">
                        Entrées de stock
                    </div>
                </div>
                <div class="box-row">
                    <div class="box-cell p-y-2">
                        <ul class="list-group m-x-0 m-t-3 m-b-0">
                            <li class="list-group-item p-x-1 b-x-0 b-t-0">
                                <span class="label label-info pull-right">{{ waitingStockEntries + updatedStockEntries }}</span>
                                Total
                            </li>
                            <li class="list-group-item p-x-1 b-x-0 b-b-0">
                                <span class="label label-danger pull-right">{{ waitingStockEntries }}</span>
                                En attente
                            </li>
                            <li class="list-group-item p-x-1 b-x-0">
                                <span class="label label-primary pull-right">{{ updatedStockEntries }}</span>
                                Validées
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-top: 10px" class="col-xs-12 col-sm-6">
            <div class="panel box">
                <div class="box-row">
                    <div class="box-cell p-x-2 p-y-1 bg-black text-xs-center font-size-14 font-weight-semibold">
                        Commandes
                    </div>
                </div>
                <div class="box-row">
                    <div class="box-cell p-y-2">
                        <ul class="list-group m-x-0 m-t-3 m-b-0">
                            <li class="list-group-item p-x-1 b-x-0 b-t-0">
                                <span class="label label-info pull-right">{{ waitingOrders + inProgressOrders + shippedOrders + deliveredOrders }}</span>
                                Total
                            </li>
                            <li class="list-group-item p-x-1 b-x-0 b-b-0">
                                <span class="label label-danger pull-right">{{ waitingOrders }}</span>
                                En attente
                            </li>
                            <li class="list-group-item p-x-1 b-x-0 b-b-0">
                                <span class="label label-default pull-right">{{ inProgressOrders }}</span>
                                En préparation
                            </li>
                            <li class="list-group-item p-x-1 b-x-0 b-b-0">
                                <span class="label label-default pull-right">{{ shippedOrders }}</span>
                                En acheminement
                            </li>
                            <li class="list-group-item p-x-1 b-x-0 b-b-0">
                                <span class="label label-primary pull-right">{{ deliveredOrders }}</span>
                                Terminées
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div style="padding-top: 10px" class="col-xs-12 col-sm-6">
            <div class="panel box">
                <div class="box-row">
                    <div class="box-cell p-x-2 p-y-1 bg-black text-xs-center font-size-14 font-weight-semibold">
                        Entrées de stock validées
                    </div>
                </div>
                <div class="box-row">
                    <div class="box-cell p-y-2">
                        <table class="table table-sm table-bordered table-hover table-striped cf">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Stock</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stockEntry in validatedStockEntriesLatest %}
                                <tr>
                                    <td>{{ stockEntry.id }}</td>
                                    <td>{{ stockEntry.created|date('d/m/Y', 'Europe/Paris') }}</td>
                                    <td>{{ stockEntry.stock.name }}</td>
                                    <td>
                                        <button class="btn btn-primary btn-block btn-md" data-toggle="modal" data-target="#stock-entry-overview-{{ stockEntry.id }}">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <div class="modal fade" id="stock-entry-overview-{{ stockEntry.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Détails de l'entrée de stock</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">Produits</label>
                                                                <div class="col-sm-10">
                                                                    <ul class="list-group">
                                                                        {% for item in stockEntry.stockEntry115Items %}
                                                                            <li class="list-group-item">
                                                                                <div class="list-group-item-heading">
                                                                                    {{ item.quantity }} x {{ item.product.translate(app.request.locale).name }} ({{ item.product.translate(app.request.locale).code }})
                                                                                </div>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('runner_stock_entry_115_validated') }}" class="btn btn-secondary">Voir toutes les entrées de stock validées</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-top: 10px" class="col-xs-12 col-sm-6">
            <div class="panel box">
                <div class="box-row">
                    <div class="box-cell p-x-2 p-y-1 bg-black text-xs-center font-size-14 font-weight-semibold">
                        Commandes terminées
                    </div>
                </div>
                <div class="box-row">
                    <div class="box-cell p-y-2">
                        <table class="table table-bordered table-hover table-striped cf">
                            <thead class="cf">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Destinataire</th>
                                    <th></th>
                                <tr>
                            </thead>
                            <tbody>
                            {% for project in deliveredOrdersLatest %}
                                <tr>
                                    <td>{{ project.id }}</td>
                                    <td>{{ project.dateStart|date('d/m/Y', 'Europe/Paris') }}</td>
                                    <td>
                                        {{ project.recipientFirstName}}
                                        {{ project.recipientLastName}}
                                        ({{ project.recipientSociety}})<br>
                                        Etage {{ project.recipientAddress }}<br>
                                        Bureau {{ project.recipientAddressComplement }}
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-block btn-md" data-toggle="modal" data-target="#project-overview-{{ project.id }}">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <div class="modal fade" id="project-overview-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Détails de livraison</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-horizontal">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 control-label">Runner</label>
                                                                        <div class="col-sm-8">
                                                                            <p class="form-control-static">{{ project.runner.username }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 control-label">Receveur</label>
                                                                        <div class="col-sm-8">
                                                                            <p class="form-control-static">{{ project.landingPerson }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 control-label">Heure</label>
                                                                        <div class="col-sm-8">
                                                                            <p class="form-control-static">{{ project.landingHour }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 control-label">Destinataire</label>
                                                                        <div class="col-sm-8">
                                                                            <p class="form-control-static">
                                                                                {{ project.recipientFirstName}}
                                                                                {{ project.recipientLastName}}
                                                                                ({{ project.recipientSociety}})
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-8 col-sm-offset-4">
                                                                            <p class="form-control-static">
                                                                                Etage {{ project.recipientAddress }}
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-8 col-sm-offset-4">
                                                                            <p class="form-control-static">
                                                                                Bureau {{ project.recipientAddressComplement }}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">Produits</label>
                                                                <div class="col-sm-10">
                                                                    <ul class="list-group">
                                                                        {% for item in project.items %}
                                                                            <li class="list-group-item">
                                                                                <div class="list-group-item-heading">
                                                                                    {{ item.quantity }} x {{ item.product.translate(app.request.locale).name }} ({{ item.product.translate(app.request.locale).code }})
                                                                                </div>
                                                                                <p class="list-group-item-text">
                                                                                    {% if item.runnerStatus == 'ok' %}
                                                                                        <span class="text-success">Disponible</span>
                                                                                    {% elseif item.runnerStatus == 'partial' %}
                                                                                        <span class="text-warning">Partiellement disponible</span>
                                                                                    {% elseif item.runnerStatus == 'empty' %}
                                                                                        <span class="text-danger">Indisponible</span>
                                                                                    {% endif %}
                                                                                </p>
                                                                                {% if item.runnerComment is not empty %}
                                                                                    <p class="list-group-item-text">
                                                                                        {{ item.runnerComment|nl2br }}
                                                                                    </p>
                                                                                {% endif %}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">Commentaire</label>
                                                                <div class="col-sm-10">
                                                                    <p class="form-control-static">
                                                                        {{ project.landingComment|nl2br }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('runner_delivered') }}" class="btn btn-secondary">Voir toutes les commandes terminées</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
