{#% set menuActive = 'myBoxesBoxs' %#}
{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Commandes en cours de livraison' %}

{% block content %}
<div class="table-disko" id="flip-scroll">
    <table class="table table-bordered table-hover table-striped cf">
        <thead class="cf">
        <thead>
            <th>#</th>
            <th>Date</th>
            <th>Etage</th>
            <th>Bureau</th>
            <th>Destinataire</th>
            <th></th>
        </thead>
        <tbody>
            {% if pagination|length <= 0 %}
                <tr>
                    <td colspan="100">Aucun résultat trouvé.</td>
                </tr>
            {% else %}
                {% for project in pagination %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.dateStart|date('d/m/Y', 'Europe/Paris') }}</td>
                        <td>{{ project.recipientAddress }}</td>
                        <td>{{ project.recipientAddressComplement }}</td>
                        <td>
                            {{ project.recipientFirstName}}
                            {{ project.recipientLastName}}
                            ({{ project.recipientSociety}})
                        </td>
                        <td>
                            <button class="btn btn-primary btn-block btn-xl" data-toggle="modal" data-target="#project-deliver-{{ project.id }}">
                                <i class="fa fa-handshake-o"></i>
                            </button>
                            <div class="modal fade" id="project-deliver-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <form action="{{ path('runner_deliver', {id: project.id}) }}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Remise de commande</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label for="runnerReceiverName">Receveur</label>
                                                        <input  class="form-control"
                                                                id="runnerReceiverName"
                                                                name="receiver"
                                                                value="{{ project.recipientFirstName }} {{ project.recipientLastName }}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label for="runnerReceiverComment">Commentaires de préparation</label>
                                                        {% for item in project.items %}
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    Produit :
                                                                </div>
                                                                <div class="col-md-9">
                                                                    {{ item.product.translate(app.request.locale).name }}
                                                                </div>
                                                                <div class="col-md-2 col-md-offset-1">
                                                                    Status :
                                                                </div>
                                                                <div class="col-md-9">
                                                                    {% if item.runnerStatus == 'ok' %}
                                                                        <span class="text-success">Disponible</span>
                                                                    {% elseif item.runnerStatus == 'partial' %}
                                                                        <span class="text-warning">Partiellement disponible</span>
                                                                    {% elseif item.runnerStatus == 'empty' %}
                                                                        <span class="text-danger">Indisponible</span>
                                                                    {% endif %}
                                                                </div>
                                                                {% if item.runnerComment is not empty %}
                                                                    <div class="col-md-2 col-md-offset-1">
                                                                        Commentaire :
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        {{ item.runnerComment|nl2br }}
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label for="runnerReceiverHour">Heure</label>
                                                        <input  class="form-control"
                                                                id="runnerReceiverHour"
                                                                name="hour"
                                                                value="{{ "now"|date("H\\hi", "Europe/Paris") }}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label for="runnerReceiverComment">Commentaire</label>
                                                        <textarea class="form-control" id="runnerReceiverComment" name="comment"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                <button type="submit" class="btn btn-primary">Valider</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% if pagination|length > 0 %}
        <div class="navigation">
            {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
        </div>
    {% endif %}
</div>
{% endblock %}
