{#% set menuActive = 'myBoxesBoxs' %#}
{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Commandes en cours de préparation' %}

{%  block options %}
{% endblock %}
{% block content %}
<div class="table-disko" id="flip-scroll">
    {% if project is empty %}
        {% include '@Admin/Runner/_preparation_empty.html.twig' %}
    {% else %}
        {% include '@Admin/Runner/_preparation_project.html.twig' %}
    {% endif %}
</div>
{% endblock %}
