{#% set menuActive = 'myBoxesBoxs' %#}
{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Entrée de stock à réceptionner' %}

{%  block options %}
{% endblock %}
{% block content %}
<div class="table-disko" id="flip-scroll">
    {% if stockEntry is empty %}
        {% include '@Admin/Runner/_preparation_empty.html.twig' %}
    {% else %}
        {% include '@Admin/Runner/_preparation_stock_entry.html.twig' %}
    {% endif %}
</div>
{% endblock %}
