{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Entrées de stock Validées' %}

{% block content %}
  <div class="table-disko" id="flip-scroll">
    <table class="table table-bordered table-hover table-striped cf">
      <thead class="cf">
      <thead>
      <th>#</th>
      <th>Date</th>
      <th>Stock</th>
      <th>Nb Article</th>
      <th>Poids estimé</th>
      <th>Lieu de ramassage</th>
      <th>Date de ramassage</th>
      <th>Crée par</th>
      <th></th>
      </thead>
      <tbody>

      {% if pagination|length <= 0 %}
        <tr>
          <td colspan="100">Aucun résultat trouvé.</td>
        </tr>
      {% else %}
        {% for stockEntry in pagination %}
          {% set nbArticle = 0 %}
          {% set poidEstime = stockEntry.stockEntry115Items | length %}
          {% set sansPoid = 0 %}
          {% for item in stockEntry.stockEntry115Items %}
            {% set nbArticle = nbArticle + item.quantity %}
            {% set weight = item.product.translate(app.request.locale).weight %}
            {% if weight is not empty %}
              {% set poidEstime = poidEstime + (item.quantity * weight) %}
            {% else %}
              {% set sansPoid = sansPoid + 1 %}
            {% endif %}
          {% endfor %}
          <tr>
            <td>{{ stockEntry.id }}</td>
            <td>{{ stockEntry.created|date('d/m/Y', 'Europe/Paris') }}</td>
            <td>{{ stockEntry.stock.name }}</td>
            <td class="text-right">
              {{ nbArticle }}
            </td>
            <td class="text-right">
              {{ poidEstime }}kg
              {% if sansPoid > 0 %}
                <br>
                <small>
                  (
                  {{ sansPoid }}
                  article{{ sansPoid > 1 ? 's' : '' }}
                  non renseigné{{ sansPoid > 1 ? 's' : '' }}
                  )
                </small>
              {% endif %}
            </td>
            <td>
              {% if stockEntry.pickUpLocation == constant("App\\Entity\\Project::CAVE_115") %}
                Quai de déchargement du 115 (Service courrier)
              {% else %}
                {{ stockEntry.floor}}<sup>{{ stockEntry.floor == 1 ? 'er' : 'e' }}</sup> étage<br>
                Bureau {{ stockEntry.officeNumber}}
              {% endif %}
            </td>
            <td>
              {{ stockEntry.pickUpDate|date('d/m/Y') }} - {{ stockEntry.timeSlots }}
            </td>
            <td>
              {{ stockEntry.user.firstName }}
              {{ stockEntry.user.lastName }}
              {% if stockEntry.user.company is defined and stockEntry.user.company is not null %}
                ({{ stockEntry.user.company }})
              {% endif %}
            </td>
            <td>
                <button class="btn btn-primary btn-block btn-xl" data-toggle="modal" data-target="#stock-entry-overview-{{ stockEntry.id }}">
                    <i class="fa fa-eye"></i>
                </button>
                <div class="modal fade" id="stock-entry-overview-{{ stockEntry.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Détails de l'entrée de stock</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Produits</label>
                                        <div class="col-sm-10">
                                            <ul class="list-group">
                                                {% for item in stockEntry.stockEntry115Items %}
                                                    <li class="list-group-item">
                                                        <div class="list-group-item-heading">
                                                            {{ item.quantity }} x {{ item.product.translate(app.request.locale).name }} ({{ item.product.translate(app.request.locale).code }})
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>
    {% if pagination|length > 0 %}
      <div class="navigation">
        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
      </div>
    {% endif %}
  </div>
{% endblock %}
