{#% set menuActive = 'myBoxesBoxs' %#}
{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Commandes en Attentes' %}

{% block content %}
<div class="table-disko" id="flip-scroll">
    <table class="table table-bordered table-hover table-striped cf">
        <thead class="cf">
        <thead>
            <th>#</th>
            <th>Date</th>
            <th>Horaire demandé</th>
            <th>Nb Article</th>
            <th>Poids estimé</th>
            <th>Etage</th>
            <th>Bureau</th>
            <th>Destinataire</th>
            <th></th>
        </thead>
        <tbody>
            {% if pagination|length <= 0 %}
                <tr>
                    <td colspan="100">Aucun résultat trouvé.</td>
                </tr>
            {% else %}
                {% for project in pagination %}
                    {% set nbArticle = 0 %}
                    {% set poidEstime = project.items | length %}
                    {% set sansPoid = 0 %}
                    {% for item in project.items %}
                        {% set nbArticle = nbArticle + item.quantity %}
                        {% set weight = item.product.translate(app.request.locale).weight %}
                        {% if weight is not empty %}
                            {% set poidEstime = poidEstime + (item.quantity * weight) %}
                        {% else %}
                            {% set sansPoid = sansPoid + 1 %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.dateStart|date('d/m/Y') }}</td>
                        <td>{{ project.hourStart|date('H:i') }}</td>
                        <td class="text-right">
                            {{ nbArticle }}
                        </td>
                        <td class="text-right">
                            {{ poidEstime }}kg
                            {% if sansPoid > 0 %}
                                <br>
                                <small>
                                    (
                                    {{ sansPoid }}
                                    article{{ sansPoid > 1 ? 's' : '' }}
                                    non renseigné{{ sansPoid > 1 ? 's' : '' }}
                                    )
                                </small>
                            {% endif %}
                        </td>
                        <td>{{ project.recipientAddress }}</td>
                        <td>{{ project.recipientAddressComplement }}</td>
                        <td>
                            {{ project.recipientFirstName}}
                            {{ project.recipientLastName}}
                            ({{ project.recipientSociety}})
                        </td>
                        <td>
                            {% if project.runner is not empty %}
                                En cours de préparation par {{ project.runner.username }}.<br>
                                <a title="Mettre en attente" href="{{ path('runner_preparation_cancel', {'id': project.id}) }}" class="btn btn-xl btn-default">
                                    <i class="fa fa-reply"></i>
                                </a>
                            {% else %}
                                <a title="Préparer" href="{{ path('runner_preparation_start', {'id': project.id}) }}" class="btn btn-xl btn-default">
                                    <i class="fa fa-shopping-basket"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% if pagination|length > 0 %}
        <div class="navigation">
            {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
        </div>
    {% endif %}
</div>
{% endblock %}
