{% extends "@Admin/layout-runner.html.twig" %}

{% block mainTitle 'Entrées de stock en Attente' %}

{% block content %}
<div class="table-disko" id="flip-scroll">
    <table class="table table-bordered table-hover table-striped cf">
        <thead class="cf">
        <thead>
            <th>#</th>
            <th>Date</th>
            <th>Stock</th>
            <th>Nb Article</th>
            <th>Poids estimé</th>
            <th>Lieu de ramassage</th>
            <th>Date de ramassage</th>
            <th>Demandeur</th>
            <th></th>
        </thead>
        <tbody>

            {% if pagination|length <= 0 %}
                <tr>
                    <td colspan="100">Aucun résultat trouvé.</td>
                </tr>
            {% else %}
                {% for stockEntry in pagination %}
                    {% set nbArticle = 0 %}
                    {% set poidEstime = stockEntry.stockEntry115Items | length %}
                    {% set sansPoid = 0 %}
                    {% for item in stockEntry.stockEntry115Items %}
                        {% set nbArticle = nbArticle + item.quantity %}
                        {% set weight = item.product.translate(app.request.locale).weight %}
                        {% if weight is not empty %}
                            {% set poidEstime = poidEstime + (item.quantity * weight) %}
                        {% else %}
                            {% set sansPoid = sansPoid + 1 %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>{{ stockEntry.id }}</td>
                        <td>{{ stockEntry.created|date('d/m/Y', 'Europe/Paris') }}</td>
                        <td>{{ stockEntry.stock.name }}</td>
                        <td class="text-right">
                            {{ nbArticle }}
                        </td>
                        <td class="text-right">
                            {{ poidEstime }}kg
                            {% if sansPoid > 0 %}
                                <br>
                                <small>
                                    (
                                    {{ sansPoid }}
                                    article{{ sansPoid > 1 ? 's' : '' }}
                                    non renseigné{{ sansPoid > 1 ? 's' : '' }}
                                    )
                                </small>
                            {% endif %}
                        </td>
                        <td>
                            {% if stockEntry.pickUpLocation == constant("App\\Entity\\Project::CAVE_115") %}
                                Quai de déchargement du 115 (Service courrier)
                            {% else %}
                                {{ stockEntry.floor}}<sup>{{ stockEntry.floor == 1 ? 'er' : 'e' }}</sup> étage<br>
                                Bureau {{ stockEntry.officeNumber}}
                            {% endif %}
                        </td>
                        <td>
                            {{ stockEntry.pickUpDate|date('d/m/Y') }} - {{ stockEntry.timeSlots }}
                        </td>
                        <td>
                            {{ stockEntry.user.firstName }}
                            {{ stockEntry.user.lastName }}
                            {% if stockEntry.user.company is defined and stockEntry.user.company is not null %}
                                ({{ stockEntry.user.company }})
                            {% endif %}
                        </td>
                        <td>
                            {% if stockEntry.runner is not empty %}
                                En cours de ramassage par {{ stockEntry.runner.username }}.<br>
                                <a title="Mettre en attente" href="{{ path('runner_preparation_cancel', {'id': stockEntry.id}) }}" class="btn btn-xl btn-default">
                                    <i class="fa fa-reply"></i>
                                </a>
                            {% else %}
                                <a title="Ramasser" href="{{ path('runner_ramasser', {'id': stockEntry.id}) }}" class="btn btn-xl btn-default">
                                    <i class="fa fa-hand-rock-o"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% if pagination|length > 0 %}
        <div class="navigation">
            {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
        </div>
    {% endif %}
</div>
{% endblock %}
