<div class="col-md-6 col-lg-5">
    {% if mode == 'update' %}
        <div class="form__row form__row--md js-group jsFocusLabel filled">
            <div class="form__controls">
                <div class="select">
                    {{ form_widget(form.isEmpty) }}
                    {{ form_errors(form.isEmpty) }}
                </div>
            </div><!-- /.form__controls -->
        </div><!-- /.form__row -->
    {% endif %}
    <div class="form__row form__row--md js-group jsFocusLabel{% if form.name.vars.value is not empty %} filled{% endif %} mode-empty-target">
        <label for="field-boxName" class="form__label">{{ 'app.myboxes.edit.label.name'|trans }}*</label>
        <div class="form__controls">
            {{ form_widget(form.name, {'attr': {class:'field'}}) }}
            {{ form_errors(form.name) }}
        </div><!-- /.form__controls -->
    </div><!-- /.form__row -->
    <div class="form__row form__row--textarea form__row--textarea-label-icon form__row--md js-group jsFocusLabel{% if form.content.vars.value is not empty %} filled{% endif %} mode-empty-target">
        <label for="field-content" class="form__label form__label--textarea">
            {{ 'app.myboxes.edit.label.content'|trans }}
            <img src="{{ asset('assets/myboxes/images/content_icon3.svg') }}" alt="" class="icon"/>
            <img src="{{ asset('assets/myboxes/images/content_icon1.svg') }}" alt="" class="icon"/>
            <img src="{{ asset('assets/myboxes/images/content_icon2.svg') }}" alt="" class="icon"/>
        </label>
        <div class="form__controls">
            {{ form_widget(form.content, {'attr' : {class:'field field--textarea', cols:'30', row:'4'}}) }}
            {{ form_errors(form.content) }}
        </div><!-- /.form__controls -->
    </div><!-- /.form__row -->

    <div class="form__row mode-empty-target">
        {% include "hub/myboxes/partials/form/boxMedias.html.twig" %}
    </div><!-- /.form__row -->
</div><!-- /.col-md-6 col-lg-5 -->
