<div class="col-md-6 col-lg-5">
    <div class="form__row form__row--md js-group jsFocusLabel filled">
        <label for="field-product" class="form__label">{{ 'app.myboxes.edit.label.format-create'|trans }}*</label>
        <div class="form__controls">
            <div class="select">
                {{ form_widget(form.product, {'attr': {class:'custom-select'}}) }}
                {{ form_errors(form.product) }}
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6.072" class="svg svg-arrow replaced-svg" viewBox="0 0 11 6.072"><path d="M4.836 5.8L.3 1.609A.892.892 0 01.3.276a1.08 1.08 0 011.442 0l3.806 3.513 3.7-3.5a1.082 1.082 0 011.443-.022.892.892 0 01.019 1.333L6.288 5.787a1.079 1.079 0 01-1.452.013z" fill="#2C455B"></path></svg>
            </div>
        </div><!-- /.form__controls -->
    </div><!-- /.form__row -->
    <div class="form__row form__row--md js-group jsFocusLabel{% if mode == 'update' or form.barcode.vars.value is not empty %} filled{% endif %}">
        {% if mode == 'create' %}
            <label for="field-barCode" class="form__label">{{ 'app.myboxes.edit.label.barcode-create'|trans }}*</label>
            <div class="form__controls">
                {{ form_widget(form.barcode, {'attr': {class:'field'}}) }}
                {{ form_errors(form.barcode) }}
            </div><!-- /.form__controls -->
        {% endif %}
        {% if mode == 'update' %}
            <label class="form__label">{{ 'app.myboxes.edit.label.barcode-create'|trans }}</label>
            <div class="form__controls">
                <div class="field" style="line-height: 24px; color #7f7a7799;">
                    {{ form.vars.value.barcode }}
                </div>
            </div><!-- /.form__controls -->
        {% endif %}
    </div><!-- /.form__row -->
    <div class="form__row form__row--md js-group jsFocusLabel{% if form.seal.vars.value is not empty %} filled{% endif %} mode-empty-target">
        {% if mode == 'create' %}
            <label for="field-seal" class="form__label">{{ 'app.myboxes.edit.label.seal-create'|trans }}*</label>
        {% endif %}
        {% if mode == 'update' %}
            <label for="field-seal" class="form__label">{{ 'app.myboxes.edit.label.seal-update'|trans }}*</label>
        {% endif %}
        <div class="form__controls">
            {{ form_widget(form.seal, {'attr': {class:'field check-length-7'}}) }}
            {{ form_errors(form.seal) }}
            <p class="form__error check-length-error">
                Cette chaîne doit avoir exactement 7 caractères.
            </p>
        </div><!-- /.form__controls -->
    </div><!-- /.form__row -->
</div><!-- /.col-md-6 col-lg-5 -->
