<div class="form__body">
    <div class="form__group">
        <div class="form__subhead c-green">
            <h4>
                <img src="{{ asset('assets/myboxes/images/box.svg') }}" alt="" class="svg">
                <span>{{ 'app.myboxes.edit.subtitle1'|trans }}</span>
            </h4>
        </div><!-- /.form__subhead -->
        <div class="form-row justify-content-between">
            <div class="col-md-6 col-lg-5">
                <div class="form__row js-group filled">
                    <label for="select-box" class="form__label">{{ 'app.myboxes.edit.label.type'|trans }}</label>
                    <div class="form__controls">
                        <div class="select">
                            {{ form_widget(form.type, {'attr': {'class': 'custom-select'}}) }}
                            {{ form_errors(form.type) }}
                        </div><!-- /.select -->
                        <img class="svg svg-arrow" src="{{ asset('assets/myboxes/images/angle-down.svg') }}" alt="">
                    </div><!-- /.form__controls -->
                </div><!-- /.form__row -->
            </div><!-- /.col-md-6 col-md-7 -->
            <div class="col-md-6 col-lg-5">
                <a href="#popup-add" class="btn btn--grey-dark js-link-popup for-teambox">{{ 'app.myboxes.edit.create-team.open'|trans }}</a>
                <div class="popup mfp-hide" id="popup-add">
                    <button class="mfp-close" type="button">
                        <svg width="19" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"><path d="M18.622.378a1.29 1.29 0 00-1.824 0L9.5 7.676 2.202.378A1.29 1.29 0 10.378 2.202L7.676 9.5.378 16.798a1.29 1.29 0 101.824 1.824L9.5 11.324l7.298 7.298a1.29 1.29 0 101.824-1.824L11.324 9.5l7.298-7.298a1.29 1.29 0 000-1.824z" fill="#2c455b"/></svg>
                    </button><!-- /.popup__close -->
                    <div class="popup__inner">
                        <div class="popup__head">
                            <div class="popup__title c-green">
                                <svg width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19"><path d="M15.351 1.118c2.358 0 4.257 1.87 4.257 4.19 0 1.499-.797 2.803-1.995 3.546a.556.556 0 00.133 1.004c3.355 1.03 5.846 4.195 6.075 8.024H6.882c.229-3.829 2.72-6.994 6.075-8.024a.556.556 0 00.133-1.004c-1.198-.743-1.995-2.047-1.995-3.545 0-2.322 1.899-4.191 4.256-4.191zm0-1.118c-1.66 0-3.15.745-4.14 1.912A4.582 4.582 0 008.256.838c-2.5 0-4.54 2.008-4.54 4.47 0 1.267.547 2.4 1.41 3.214-2.27.962-4.045 2.867-4.754 5.283a.553.553 0 00.125.56c.143.15.358.21.56.157a.563.563 0 00.406-.412c.7-2.388 2.57-4.248 4.913-4.907a.556.556 0 00.133-1.022c-.993-.586-1.658-1.646-1.658-2.872 0-1.859 1.518-3.353 3.405-3.353.9 0 1.715.341 2.323.9a5.191 5.191 0 00-.62 2.453c0 .884.234 1.709.63 2.436a3.372 3.372 0 01-.586.437.556.556 0 00.133 1.021c.294.083.583.188.86.306-2.362 1.248-4.155 3.46-4.904 6.138H.595a.576.576 0 00-.532.302.552.552 0 00.027.559.57.57 0 00.505.257h5.25a10.412 10.412 0 00-.142 1.676c0 .309.254.559.568.559h18.161c.314 0 .568-.25.568-.559 0-4.189-2.47-7.764-5.995-9.273 1.057-.968 1.738-2.328 1.738-3.86 0-2.925-2.42-5.308-5.392-5.308z" fill="#3ebeab"/></svg>
                                <h4>{{ 'app.myboxes.edit.create-team.title'|trans }}</h4>
                            </div><!-- /.popup__title -->
                            <p>{{ 'app.myboxes.edit.create-team.subtitle'|trans }}</p>
                        </div><!-- /.popup__head -->
                        <div class="popup__body">
                            <div class="form">
                                {% include "hub/myboxes/partials/form/boxUsers.html.twig" %}
                                <div class="form__foot form__foot--center">
                                    <input type="submit" class="btn btn--green mfp-close-btn" value="{{ 'app.myboxes.edit.create-team.cta'|trans }}">
                                </div><!-- /.form__foot -->
                            </div><!-- /.form -->
                        </div><!-- /.popup__body -->
                    </div><!-- /.popup__inner -->
                </div><!-- /.popup -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.form-row -->
    </div><!-- /.form__group -->
</div><!-- /.form__body -->
