<div class="row">
    <div class="col-md-9">
        <div class="form__head c-green">
            {% if mode == 'create' %}
                <h2 class="form__title">{{ 'app.myboxes.edit.title-create'|trans }}</h2>
                <div class="form__subtitle">
                    <p>{{ 'app.myboxes.edit.subtitle-create'|trans }}</p>
                </div><!-- /.form__subtitle -->
            {% endif %}
            {% if mode == 'update' %}
                <h2 class="form__title">{{ 'app.myboxes.edit.title-update'|trans }}</h2>
                <div class="form__subtitle">
                    <p>{{ 'app.myboxes.edit.subtitle-update'|trans }}</p>
                </div><!-- /.form__subtitle -->
            {% endif %}
        </div><!-- /.form__head -->
    </div><!-- /.col-md-6 -->
</div><!-- /.row -->
