<div class="row">
    <div class="col-md-9">
        <div class="form__head c-green">
            <h2 class="form__title">{{ 'app.myboxes.edit.title-modify'|trans }}</h2>
            <div class="form__subtitle">
                <p>{{ 'app.myboxes.edit.subtitle-modify'|trans }}</p>
            </div><!-- /.form__subtitle -->
        </div><!-- /.form__head -->
    </div><!-- /.col-md-6 -->
</div><!-- /.row -->
