<div class="form__body">
    <div class="form__group">
        <div class="form__subhead c-green">
            <h4>
                <img src="{{ asset('assets/myboxes/images/box.svg') }}" alt="" class="svg">
                <span>{{ 'app.myboxes.edit.subtitle1'|trans }}</span>
            </h4>
        </div><!-- /.form__subhead -->
        <div class="form-row justify-content-between">
            <div class="col-md-6 col-lg-5">
                <div class="form__row js-group filled">
                    <label for="select-box" class="form__label">{{ 'app.myboxes.edit.label.type'|trans }}</label>
                    <div class="form__controls">
                        <div class="select">
                            {{ form_widget(form.type, {'attr': {'class': 'custom-select'}}) }}
                            {{ form_errors(form.type) }}
                        </div><!-- /.select -->
                        <img class="svg svg-arrow" src="{{ asset('assets/myboxes/images/angle-down.svg') }}" alt="">
                    </div><!-- /.form__controls -->
                </div><!-- /.form__row -->
            </div><!-- /.col-md-6 col-md-7 -->
        </div><!-- /.form-row -->
    </div><!-- /.form__group -->
</div><!-- /.form__body -->
