<div class="col-md-6 col-lg-5">
    <div class="form__row form__row--md js-group jsFocusLabel{% if form.name.vars.value is not empty %} filled{% endif %}">
        <label for="field-boxName" class="form__label">{{ 'app.myboxes.edit.label.name'|trans }}*</label>
        <div class="form__controls">
            {{ form_widget(form.name, {'attr': {class:'field'}}) }}
            {{ form_errors(form.name) }}
        </div><!-- /.form__controls -->
    </div><!-- /.form__row -->
    <div class="form__row form__row--textarea form__row--md js-group jsFocusLabel{% if form.content.vars.value is not empty %} filled{% endif %}">
        <label for="field-content" class="form__label form__label--textarea">{{ 'app.myboxes.edit.label.content'|trans }}</label>
        <div class="form__controls">
            {{ form_widget(form.content, {'attr' : {class:'field field--textarea', cols:'30', row:'4'}}) }}
            {{ form_errors(form.content) }}
        </div><!-- /.form__controls -->
    </div><!-- /.form__row -->

    <div class="form__row">
        {% include "hub/myboxes/partials/form/boxMedias.html.twig" %}
    </div><!-- /.form__row -->
</div><!-- /.col-md-6 col-lg-5 -->
