<div class="col-md-6 col-lg-5">
    <ul class="list-info-package">
        <li>
            <strong>{{ 'app.myboxes.edit.label.barcode-modify'|trans }}</strong>
            <span>{{ form.vars.value.barcode }}</span>
        </li>
        <li>
            <strong>{{ 'app.myboxes.edit.label.seal-modify'|trans }}</strong>
            <span>{{ form.vars.value.seal }}</span>
        </li>
        <li>
            <strong>{{ 'app.myboxes.edit.label.format-modify'|trans }}</strong>
            <span>{{ form.vars.value.product.name }}</span>
        </li>
    </ul><!-- /.list-info-package -->
    <div class="form__table for-teambox">
        {% include "hub/myboxes/partials/form/boxUsers.html.twig" %}
    </div>
</div><!-- /.col-md-6 col-lg-5 -->
