<div class="container">
    <div class="section__head">
        <h2 class="section__title c-green">{{ 'app.myboxes.stock.title'|trans }}</h2><!-- /.section__title -->
    </div><!-- /.section__head -->
</div><!-- /.container -->

