<div class="section__content">
    <div class="section__subtitle">
        <img class="svg" src="{{ asset('assets/myboxes/images/box.svg') }}" alt="">

        <h4 class="c-green">{{ 'app.myboxes.list.title'|trans }}</h4>

        <p>{{ 'app.myboxes.list.subtitle'|trans }}</p>
    </div><!-- /.section__subtitle -->

    <div class="section__entry">
        <div class="tabs-alt">
            <div class="tabs__head">
                <nav class="tabs__nav">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#my-boxes" class="nav-link active" id="my-boxes-tab" data-toggle="tab" role="tab" aria-controls="myboxes" aria-selected="true">
                                {{ 'app.myboxes.list.personnal-tab'|trans }}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#my-team-boxes" class="nav-link" id="my-team-boxes-tab" data-toggle="tab" role="tab" aria-controls="myteamboxes" aria-selected="false">
                                {{ 'app.myboxes.list.team-tab'|trans }}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#my-commands" class="nav-link" id="my-commands-tab" data-toggle="tab" role="tab" aria-controls="mycommands" aria-selected="false">
                                {{ 'app.myboxes.list.command-tab'|trans }}
                            </a>
                        </li>
                    </ul>
                </nav><!-- /.tabs__nav -->
            </div><!-- /.tabs__head -->
            
            <div class="tabs__body tab-content">
                <div class="tab-pane fade show active" id="my-boxes" role="tabpanel" aria-labelledby="my-boxes-tab">
                    <div class="table-projects-alt table-projects-alt--secondary">
                        <table>
                            <thead>
                                <th>{{ 'app.myboxes.list.column.name'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.format'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.state'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.actions'|trans }}</th>
                            </thead>
                            <tbody>
                                {% if perso is empty %}
                                    <tr>
                                        <td colspan="4">
                                            {{ 'app.myboxes.list.no-data'|trans }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% for box in perso %}
                                    <tr>
                                        <td data-title="{{ 'app.myboxes.list.column.name'|trans }}">
                                            <a href="{{ path('myboxes_box_view' , {id : box.id}) }}" style="text-decoration: none"><h4 data-max-char="52">{{ box.name }} <small>(#{{box.id}})</small></h4></a>
                                        </td>
                                        <td data-title="{{ 'app.myboxes.list.column.format'|trans }}">
                                            {{ box.product is empty ? '-' : box.product.name }}
                                        </td>
                                        <td data-title="{{ 'app.myboxes.list.column.team'|trans }}">
                                            {% if box.state == 'accepted' %}
                                                {% set label = 'app.myboxes.state.box.accepted' %}
                                                {% set style = 'gold' %}
                                            {% elseif box.state == 'prepared' %}
                                                {% set label = 'app.myboxes.state.box.preprared' %}
                                                {% set style = '' %}
                                            {% elseif box.state == 'sent' %}
                                                {% set label = 'app.myboxes.state.box.send' %}
                                                {% set style = 'status-list' %}
                                            {% elseif box.state == 'stock_in_veolog' %}
                                                {% set label = 'app.myboxes.state.box.stock_in_veolog' %}
                                                {% set style = 'success' %}
                                            {% elseif box.state == 'member' %}
                                                {% set label = 'app.myboxes.state.box.member' %}
                                                {% set style = 'success' %}
                                            {% elseif box.state == 'user_ask' %}
                                                {% set label = 'app.myboxes.state.box.user_ask' %}
                                                {% set style = '' %}
                                            {% elseif box.state == 'user_sent' %}
                                                {% set label = 'app.myboxes.state.box.user_sent' %}
                                                {% set style = 'status-list' %}
                                            {% else %}
                                                {% set label =  box.state %}
                                                {% set style = 'danger' %}
                                            {% endif %}
                                            <span class="status {{ style }}">
                                                {# <img class="svg" src="{{ asset('assets/myboxes/images/check.svg') }}" alt="" /> #}
                                                {{ label|trans }}
                                                {% if box.state == 'sent' and box.trackers is not empty %}
                                                    <ul>
                                                        {% for tracker in box.trackers %}
                                                            <li><a href="{{ tracker }}" target="_blank">{{loop.index}}. {{ 'app.myboxes.list.tracker'|trans }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td>
                                            <ul class="list-icons list-icons--alt">
                                                <li>
                                                    <a href="{{ path('myboxes_box_view', {id: box.id}) }}">
                                                        <img class="svg black eye" src="{{ asset('assets/myboxes/images/eye.svg') }}" alt="" />
                                                        <span>{{ 'app.myboxes.list.action.show'|trans }}</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('myboxes_box_edit' , {id : box.id}) }}">
                                                        <img class="svg" src="{{ asset('assets/myboxes/images/edit.svg') }}" alt="" />
                                                        <span>{{ 'app.myboxes.list.action.edit'|trans }}</span>
                                                    </a>
                                                </li>
                                            </ul><!-- /.list-icons -->
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.table-projects-alt -->
                </div><!-- /.tab -->

                <div class="tab-pane fade" id="my-team-boxes" role="tabpanel" aria-labelledby="my-team-boxes-tab">
                    <div class="table-projects-alt table-projects-alt--secondary">
                        <table>
                            <thead>
                                <th>{{ 'app.myboxes.list.column.name'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.format'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.state'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.team'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.actions'|trans }}</th>
                            </thead>

                            <tbody>
                                {% if team is empty %}
                                    <tr>
                                        <td colspan="5">
                                            {{ 'app.myboxes.list.no-data'|trans }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% for box in team %}
                                    <tr>
                                        <td data-title="{{ 'app.myboxes.list.column.name'|trans }}">
                                            <a href="{{ path('myboxes_box_view' , {id : box.id}) }}" style="text-decoration: none"><h4 data-max-char="52">{{ box.name }} <small>(#{{box.id}})</small></h4></a>
                                        </td>
                                        <td data-title="{{ 'app.myboxes.list.column.format'|trans }}">
                                            {{ box.product is empty ? '-' : box.product.name }}
                                        </td>
                                        <td data-title="{{ 'app.myboxes.list.column.state'|trans }}">
                                            {% if box.state == 'accepted' %}
                                                {% set label = 'app.myboxes.state.box.accepted' %}
                                                {% set style = 'gold' %}
                                            {% elseif box.state == 'prepared' %}
                                                {% set label = 'app.myboxes.state.box.preprared' %}
                                                {% set style = '' %}
                                            {% elseif box.state == 'sent' %}
                                                {% set label = 'app.myboxes.state.box.send' %}
                                                {% set style = 'status-list' %}
                                            {% elseif box.state == 'stock_in_veolog' %}
                                                {% set label = 'app.myboxes.state.box.stock_in_veolog' %}
                                                {% set style = 'success' %}
                                            {% elseif box.state == 'member' %}
                                                {% set label = 'app.myboxes.state.box.member' %}
                                                {% set style = 'success' %}
                                            {% elseif box.state == 'user_ask' %}
                                                {% set label = 'app.myboxes.state.box.user_ask' %}
                                                {% set style = '' %}
                                            {% elseif box.state == 'user_sent' %}
                                                {% set label = 'app.myboxes.state.box.user_sent' %}
                                                {% set style = 'status-list' %}
                                            {% else %}
                                                {% set label =  box.state %}
                                                {% set style = 'danger' %}
                                            {% endif %}
                                            <span class="status {{ style }}">
                                                {# <img class="svg" src="{{ asset('assets/myboxes/images/check.svg') }}" alt="" /> #}
                                                {{ label|trans }}
                                                {% if box.state == 'sent' and box.trackers is not empty %}
                                                    <ul>
                                                        {% for tracker in box.trackers %}
                                                            <li><a href="{{ tracker }}" target="_blank">{{loop.index}}. {{ 'app.myboxes.list.tracker'|trans }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td data-title="{{ 'app.myboxes.list.column.team'|trans }}">
                                            <ul>
                                                {% for buser in box.boxUsers %}
                                                    <li>{{ buser.user.email }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="list-icons list-icons--alt">
                                                <li>
                                                    <a href="{{ path('myboxes_box_view', {id: box.id}) }}">
                                                        <img class="svg black eye" src="{{ asset('assets/myboxes/images/eye.svg') }}" alt="" />
                                                        <span>{{ 'app.myboxes.list.action.show'|trans }}</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('myboxes_box_edit' , {id : box.id}) }}">
                                                        <img class="svg" src="{{ asset('assets/myboxes/images/edit.svg') }}" alt="" />
                                                        <span>{{ 'app.myboxes.list.action.edit'|trans }}</span>
                                                    </a>
                                                </li>
                                            </ul><!-- /.list-icons -->
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.table-projects-alt -->
                </div><!-- /.tab -->

                <div class="tab-pane fade" id="my-commands" role="tabpanel" aria-labelledby="my-commands-tab">
                    <div class="table-projects-alt table-projects-alt--secondary">
                        <table>
                            <thead>
                                <th>{{ 'app.myboxes.list.column.format'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.state'|trans }}</th>
                                <th>{{ 'app.myboxes.list.column.since'|trans }}</th>
                            </thead>

                            <tbody>
                                {% if commands is empty %}
                                    <tr>
                                        <td colspan="3">
                                            {{ 'app.myboxes.list.no-command'|trans }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% for command in commands %}
                                    <tr>
                                        <td data-title="{{ 'app.myboxes.list.column.format'|trans }}">
                                            <ul>
                                                {% for item in command.items %}
                                                    {% if item.quantity > 0 %}
                                                        <li>
                                                            {{ item.product.name }}
                                                            x{{ item.quantity }}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td data-title="{{ 'app.myboxes.list.column.state'|trans }}">
                                            {% if command.state == 'accepted' %}
                                                {% set label = 'app.myboxes.state.command.accepted' %}
                                                {% set style = 'gold' %}
                                            {% elseif command.state == 'prepared' %}
                                                {% set label = 'app.myboxes.state.command.preprared' %}
                                                {% set style = '' %}
                                            {% elseif command.state == 'sent' %}
                                                {% set label = 'app.myboxes.state.command.send' %}
                                                {% set style = 'status-list' %}
                                            {% elseif command.state == 'waiting' %}
                                                {% set label = 'app.myboxes.state.command.waiting' %}
                                                {% set style = 'success' %}
                                            {% elseif command.state == 'ask' %}
                                                {% set label = 'app.myboxes.state.command.ask' %}
                                                {% set style = 'success' %}
                                            {% else %}
                                                {% set label =  command.state %}
                                                {% set style = 'danger' %}
                                            {% endif %}
                                            <span class="status {{ style }}">
                                                {# <img class="svg" src="{{ asset('assets/myboxes/images/check.svg') }}" alt="" /> #}
                                                {{ label|trans }}
                                                {% if command.state == 'sent' and command.trackers is not empty %}
                                                    <ul>
                                                        {% for tracker in command.trackers %}
                                                            <li><a href="{{ tracker }}" target="_blank">{{loop.index}}. {{ 'app.myboxes.list.tracker'|trans }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td data-title="{{ 'app.myboxes.list.column.since'|trans }}">
                                            {{ command.stateDate|date("d/m/Y h:i", "Europe/Paris") }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.table-projects-alt -->
                </div><!-- /.tab -->

            </div><!-- /.tabs__body -->
        </div><!-- /.tabs -->
    </div><!-- /.section__entry -->
</div><!-- /.section__content -->
