<div class="section__aside">
    <div class="block-orders">
        <div class="block__groups">
            <div class="block__group">
                <div class="block__head">
                    <div class="block__title block__title--green c-green">
                        <img class="svg" src="{{ asset('assets/myboxes/images/box-open.svg') }}" alt="">
                        <h4>{{ 'app.myboxes.menu.title1'|trans }}</h4>
                    </div><!-- /.block__title -->
                    <div class="block__subtitle">
                        <p>{{ 'app.myboxes.menu.subtitle1'|trans }}</p>
                    </div><!-- /.block__subtitle -->
                </div><!-- /.block__head -->
                <div class="block__content">
                    <div class="block__row">
                        <div class="block__cols">
                            <div class="block__col block__col--1of2" style="text-align: left;">
                                <a href="{{ path('myboxes_command_create') }}" class="btn btn--green">
                                    <img class="svg" src="{{ asset('assets/myboxes/images/document.svg') }}" alt="">
                                    <span>{{ 'app.myboxes.menu.command.button'|trans|raw }}</span>
                                </a>
                                <div class="toolbox-holder">
                                    <a href="#" class="link link--alt link--toolbox">
                                        <span>{{ 'app.myboxes.menu.command.help'|trans }}</span>
                                        <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                                    </a>
                                    <div class="toolbox">
                                        <div class="toolbox__head">
                                            <h6>{{ 'app.myboxes.menu.command.tooltip-title'|trans }}</h6>
                                        </div><!-- /.toolbox__head -->

                                        <div class="toolbox__content">
                                            <p>{{ 'app.myboxes.menu.command.tooltip-text'|trans|raw }}</p>
                                        </div><!-- /.toolbox__content -->
                                    </div><!-- /.toolbox -->
                                </div><!-- /.toolbox-holder -->
                            </div><!-- /.block__col -->
                            <div class="block__col block__col--1of2" style="text-align: left;">
                                <a href="{{ path('myboxes_box_create') }}" class="btn btn--green">
                                    <img class="svg" src="{{ asset('assets/myboxes/images/box-arrow.svg') }}" alt="">
                                    <span>{{ 'app.myboxes.menu.box.button'|trans|raw }}</span>
                                </a>
                                <div class="toolbox-holder">
                                    <a href="#" class="link link--alt link--toolbox">
                                        <span>{{ 'app.myboxes.menu.box.help'|trans }}</span>
                                        <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                                    </a>
                                    <div class="toolbox">
                                        <div class="toolbox__head">
                                            <h6>{{ 'app.myboxes.menu.box.tooltip-title'|trans }}</h6>
                                        </div><!-- /.toolbox__head -->
                                        <div class="toolbox__content">
                                            <p>{{ 'app.myboxes.menu.box.tooltip-text'|trans|raw }}</p>
                                        </div><!-- /.toolbox__content -->
                                    </div><!-- /.toolbox -->
                                </div><!-- /.toolbox-holder -->
                            </div><!-- /.block__col -->
                        </div><!-- /.block__cols -->
                    </div><!-- /.block__row -->
                </div><!-- /.block__content -->
            </div><!-- /.block__group -->

            <div class="block__group">
                <div class="block__head">
                    <div class="block__title block__title--green c-green">
                        <img class="svg" src="{{ asset('assets/myboxes/images/box-circle.svg') }}" alt="">
                        <h4>{{ 'app.myboxes.menu.title2'|trans }}</h4>
                    </div><!-- /.block__title -->

                    <div class="block__subtitle">
                        <p>{{ 'app.myboxes.menu.subtitle2'|trans }}</p>
                    </div><!-- /.block__subtitle -->
                </div><!-- /.block__head -->
            
                <div class="block__content">
                    <div class="block__row">
                        <div class="block__cols">
                            <div class="block__col block__col--1of2" style="text-align: left;">
                                <a href="#popup-delivery" class="btn btn--green js-link-popup" id="open-bring-home">
                                    <img class="svg" src="{{ asset('assets/myboxes/images/delivery.svg') }}" alt="">
                                    <span>{{ 'app.myboxes.menu.bring-home.button'|trans|raw }}</span>
                                </a>
                                <div class="toolbox-holder">
                                    <a href="#" class="link link--alt link--toolbox">
                                        <span>{{ 'app.myboxes.menu.bring-home.help'|trans }}</span>
                                        <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                                    </a>
                                    <div class="toolbox">
                                        <div class="toolbox__head">
                                            <h6>{{ 'app.myboxes.menu.bring-home.tooltip-title'|trans }}</h6>
                                        </div><!-- /.toolbox__head -->
                                        <div class="toolbox__content">
                                            <p>{{ 'app.myboxes.menu.bring-home.tooltip-text'|trans|raw }}</p>
                                        </div><!-- /.toolbox__content -->
                                    </div><!-- /.toolbox -->
                                </div><!-- /.toolbox-holder -->

                                <div class="popup mfp-hide" id="popup-delivery">
                                    <button class="mfp-close" type="button">
                                        <svg width="19" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"><path d="M18.622.378a1.29 1.29 0 00-1.824 0L9.5 7.676 2.202.378A1.29 1.29 0 10.378 2.202L7.676 9.5.378 16.798a1.29 1.29 0 101.824 1.824L9.5 11.324l7.298 7.298a1.29 1.29 0 101.824-1.824L11.324 9.5l7.298-7.298a1.29 1.29 0 000-1.824z" fill="#2c455b"/></svg>
                                    </button><!-- /.popup__close -->
                                    <div class="popup__inner">
                                        <div class="popup__head">
                                            <div class="popup__title c-green">
                                                <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M6.016 2.16v3.06c.31.14.562.401.697.724H8.84v1.094H6.713c-.206.492-.678.842-1.221.842-.73 0-1.332-.629-1.332-1.389 0-.566.335-1.056.807-1.271V2.16zM16.12 14.64h1.56v1.04h-1.56zM5.72 1.48a4.84 4.84 0 100 9.68 4.84 4.84 0 000-9.68m0 10.56A5.727 5.727 0 010 6.32a5.72 5.72 0 115.72 5.72m-4.68.52H2.6v1.04H1.04zm-.52 2.08H2.6v1.04H.52zM0 16.72h2.6v1.04H0zm20.8.52h1.04v1.04H20.8zm-13 0h1.04v1.04H7.8zm17.333-4.787v-.26l-3.646-3.732h-2.854v3.992zm-4.333 7.54c1.196-.001 2.165-.994 2.167-2.218 0-1.224-.97-2.217-2.167-2.217-1.197 0-2.167.993-2.167 2.217 0 1.225.97 2.218 2.167 2.218zm-2.119 0a3.122 3.122 0 01-.88-1.774h-6.136a3.122 3.122 0 01-.88 1.774zM6.5 17.775c.001 1.224.97 2.217 2.167 2.218 1.196 0 2.166-.993 2.166-2.218 0-1.224-.97-2.217-2.166-2.217-1.197 0-2.167.993-2.167 2.217zm19.373-6.08a.449.449 0 01.127.314v4.88c0 .734-.582 1.33-1.3 1.33h-.901c-.217 1.525-1.493 2.658-2.999 2.661H0v-.887h6.548a3.122 3.122 0 01-.88-1.774h-.901c-.718 0-1.3-.596-1.3-1.33v-3.993h.866v3.992c0 .245.194.444.434.444h.901c.191-1.363 1.237-2.433 2.568-2.629 1.656-.243 3.191.934 3.43 2.629H17.8c.191-1.363 1.237-2.433 2.568-2.629 1.656-.243 3.192.934 3.43 2.629h.901c.24 0 .433-.199.433-.444V13.34h-6.5a.877.877 0 01-.866-.887V8.46c0-.49.388-.887.866-.887h1.988l-.74-.757a.429.429 0 00-.307-.13h-4.407v6.653H14.3V6.687h-2.167V5.8h7.441c.345-.001.676.14.92.39zM5.209 6.492c0 .17.12.295.283.295.162 0 .283-.126.283-.295 0-.17-.12-.295-.283-.295-.162 0-.283.126-.283.295z" fill="#55c1b1"/></svg>
                                                <h4>{{ 'app.myboxes.menu.bring-home.pop-in.title'|trans }}</h4>
                                            </div><!-- /.popup__title -->
                                            <p>{{ 'app.myboxes.menu.bring-home.pop-in.subtitle'|trans|raw }}</p>
                                        </div><!-- /.popup__head -->
                                        <div class="popup__body">
                                            <div class="form">
                                                {{ form_start(formBringHome, {'attr': {'novalidate': '', 'action': path('myboxes_box_bringhome_test'), 'autocomplete': "off"}}) }}
                                                    <div class="form__body">
                                                        <div class="form__group">
                                                            <div class="form-row">
                                                                <div class="col-md-7">
                                                                    {% if formBringHome.box.vars.choices | length == 0 %}
                                                                        <p>{{ 'app.myboxes.menu.bring-home.pop-in.no-box'|trans }}</p>
                                                                        {{ form_widget(formBringHome.box, {'attr' : {'style' : 'display: none;'}}) }}
                                                                    {% else %}
                                                                    <div class="form__row js-group filled">
                                                                        <label for="select-box" class="form__label">{{ 'app.myboxes.menu.bring-home.pop-in.label'|trans }}*</label>
                                                                        <div class="form__controls">
                                                                            <div class="select">
                                                                                {{ form_widget(formBringHome.box, {'attr' : {'class': 'custom-select', 'id' : 'select-box'}}) }}
                                                                                {{ form_errors(formBringHome.box) }}
                                                                            </div><!-- /.select -->
                                                                            <img class="svg svg-arrow" src="{{ asset('assets/myboxes/images/angle-down.svg') }}" alt="">
                                                                        </div><!-- /.form__controls -->
                                                                    </div><!-- /.form__row -->
                                                                    {% endif %}
                                                                </div><!-- /.col-md-7 -->
                                                            </div><!-- /.form-row -->
                                                        </div><!-- /.form__group -->
                                                        {{ form_errors(formBringHome) }}
                                                    </div><!-- /.form__body -->
                                                    <div class="form__foot form__foot--center">
                                                        {% if formBringHome.box.vars.choices | length == 0 %}
                                                            <input type="submit" class="btn btn--green" value="{{ 'app.myboxes.menu.bring-home.pop-in.cta'|trans }}" disabled>
                                                        {% else %}
                                                            <input type="submit" class="btn btn--green" value="{{ 'app.myboxes.menu.bring-home.pop-in.cta'|trans }}">
                                                        {% endif %}
                                                    </div><!-- /.form__foot -->
                                                    {{ form_row(formBringHome._token) }}
                                                {{ form_end(formBringHome) }}
                                            </div><!-- /.form -->
                                        </div><!-- /.popup__body -->
                                    </div><!-- /.popup__inner -->
                                </div><!-- /.popup -->
                            </div><!-- /.block__col -->
                            <div class="block__col block__col--1of2" style="text-align: left;">
                                <a href="#popup-backhub" class="btn btn--green js-link-popup" id="open-back-hub">
                                    <img class="svg" src="{{ asset('assets/myboxes/images/box-arrow.svg') }}" alt="">
                                    <span>{{ 'app.myboxes.menu.back-hub.button'|trans|raw }}</span>
                                </a>
                                <div class="toolbox-holder">
                                    <a href="#" class="link link--alt link--toolbox">
                                        <span>{{ 'app.myboxes.menu.back-hub.help'|trans }}</span>
                                        <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                                    </a>
                                    <div class="toolbox">
                                        <div class="toolbox__head">
                                            <h6>{{ 'app.myboxes.menu.back-hub.tooltip-title'|trans }}</h6>
                                        </div><!-- /.toolbox__head -->
                                        <div class="toolbox__content">
                                            <p>{{ 'app.myboxes.menu.back-hub.tooltip-text'|trans|raw }}</p>
                                        </div><!-- /.toolbox__content -->
                                    </div><!-- /.toolbox -->
                                </div><!-- /.toolbox-holder -->

                                <div class="popup mfp-hide" id="popup-backhub">
                                    <button class="mfp-close" type="button">
                                        <svg width="19" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"><path d="M18.622.378a1.29 1.29 0 00-1.824 0L9.5 7.676 2.202.378A1.29 1.29 0 10.378 2.202L7.676 9.5.378 16.798a1.29 1.29 0 101.824 1.824L9.5 11.324l7.298 7.298a1.29 1.29 0 101.824-1.824L11.324 9.5l7.298-7.298a1.29 1.29 0 000-1.824z" fill="#2c455b"/></svg>
                                    </button><!-- /.popup__close -->
                                    <div class="popup__inner">
                                        <div class="popup__head">
                                            <div class="popup__title c-green">
                                                <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M6.016 2.16v3.06c.31.14.562.401.697.724H8.84v1.094H6.713c-.206.492-.678.842-1.221.842-.73 0-1.332-.629-1.332-1.389 0-.566.335-1.056.807-1.271V2.16zM16.12 14.64h1.56v1.04h-1.56zM5.72 1.48a4.84 4.84 0 100 9.68 4.84 4.84 0 000-9.68m0 10.56A5.727 5.727 0 010 6.32a5.72 5.72 0 115.72 5.72m-4.68.52H2.6v1.04H1.04zm-.52 2.08H2.6v1.04H.52zM0 16.72h2.6v1.04H0zm20.8.52h1.04v1.04H20.8zm-13 0h1.04v1.04H7.8zm17.333-4.787v-.26l-3.646-3.732h-2.854v3.992zm-4.333 7.54c1.196-.001 2.165-.994 2.167-2.218 0-1.224-.97-2.217-2.167-2.217-1.197 0-2.167.993-2.167 2.217 0 1.225.97 2.218 2.167 2.218zm-2.119 0a3.122 3.122 0 01-.88-1.774h-6.136a3.122 3.122 0 01-.88 1.774zM6.5 17.775c.001 1.224.97 2.217 2.167 2.218 1.196 0 2.166-.993 2.166-2.218 0-1.224-.97-2.217-2.166-2.217-1.197 0-2.167.993-2.167 2.217zm19.373-6.08a.449.449 0 01.127.314v4.88c0 .734-.582 1.33-1.3 1.33h-.901c-.217 1.525-1.493 2.658-2.999 2.661H0v-.887h6.548a3.122 3.122 0 01-.88-1.774h-.901c-.718 0-1.3-.596-1.3-1.33v-3.993h.866v3.992c0 .245.194.444.434.444h.901c.191-1.363 1.237-2.433 2.568-2.629 1.656-.243 3.191.934 3.43 2.629H17.8c.191-1.363 1.237-2.433 2.568-2.629 1.656-.243 3.192.934 3.43 2.629h.901c.24 0 .433-.199.433-.444V13.34h-6.5a.877.877 0 01-.866-.887V8.46c0-.49.388-.887.866-.887h1.988l-.74-.757a.429.429 0 00-.307-.13h-4.407v6.653H14.3V6.687h-2.167V5.8h7.441c.345-.001.676.14.92.39zM5.209 6.492c0 .17.12.295.283.295.162 0 .283-.126.283-.295 0-.17-.12-.295-.283-.295-.162 0-.283.126-.283.295z" fill="#55c1b1"/></svg>
                                                <h4>{{ 'app.myboxes.menu.back-hub.pop-in.title'|trans }}</h4>
                                            </div><!-- /.popup__title -->
                                            <p>{{ 'app.myboxes.menu.back-hub.pop-in.subtitle'|trans|raw }}</p>
                                        </div><!-- /.popup__head -->
                                        <div class="popup__body">
                                            <div class="form">
                                                {{ form_start(formBackHub, {'attr': {'novalidate': '', 'action': path('myboxes_box_backhub_test'), 'autocomplete': "off"}}) }}
                                                    <div class="form__body">
                                                        <div class="form__group">
                                                            <div class="form-row">
                                                                <div class="col-md-7">
                                                                    {% if formBackHub.box.vars.choices | length == 0 %}
                                                                        <p>{{ 'app.myboxes.menu.back-hub.pop-in.no-box'|trans }}</p>
                                                                        {{ form_widget(formBackHub.box, {'attr' : {'style' : 'display: none;'}}) }}
                                                                    {% else %}
                                                                    <div class="form__row js-group filled">
                                                                        <label for="select-box" class="form__label">{{ 'app.myboxes.menu.back-hub.pop-in.label'|trans }}*</label>
                                                                        <div class="form__controls">
                                                                            <div class="select">
                                                                                {{ form_widget(formBackHub.box, {'attr' : {'class': 'custom-select', 'id' : 'select-box'}}) }}
                                                                                {{ form_errors(formBackHub.box) }}
                                                                            </div><!-- /.select -->
                                                                            <img class="svg svg-arrow" src="{{ asset('assets/myboxes/images/angle-down.svg') }}" alt="">
                                                                        </div><!-- /.form__controls -->
                                                                    </div><!-- /.form__row -->
                                                                    {% endif %}
                                                                </div><!-- /.col-md-7 -->
                                                            </div><!-- /.form-row -->
                                                        </div><!-- /.form__group -->
                                                        {{ form_errors(formBackHub) }}
                                                    </div><!-- /.form__body -->
                                                    <div class="form__foot form__foot--center">
                                                        {% if formBackHub.box.vars.choices | length == 0 %}
                                                            <input type="submit" class="btn btn--green" value="{{ 'app.myboxes.menu.back-hub.pop-in.cta'|trans }}" disabled>
                                                        {% else %}
                                                            <input type="submit" class="btn btn--green" value="{{ 'app.myboxes.menu.back-hub.pop-in.cta'|trans }}">
                                                        {% endif %}
                                                    </div><!-- /.form__foot -->
                                                    {{ form_row(formBackHub._token) }}
                                                {{ form_end(formBackHub) }}
                                            </div><!-- /.form -->
                                        </div><!-- /.popup__body -->
                                    </div><!-- /.popup__inner -->
                                </div><!-- /.popup -->
                            </div><!-- /.block__col -->
                        </div><!-- /.block__cols -->
                    </div><!-- /.block__row -->
                </div><!-- /.block__content -->
            </div><!-- /.block__group -->

{#  ########################################################################
    FONCTIONNALITE DESACTIVEE.
    ########################################################################
            <div class="block__group">
                <div class="block__row">
                    <div class="block__cols">
                        <div class="block__col" style="text-align: left;">
                            <a href="#" class="btn btn--orange">
                                <img class="svg" src="{{ asset('assets/myboxes/images/box-arrow.svg') }}" alt="">
                                <span>{{ 'app.myboxes.menu.destroy.button'|trans|raw }}</span>
                            </a>
                            <div class="toolbox-holder">
                                <a href="#" class="link link--alt link--toolbox">
                                    <span>{{ 'app.myboxes.menu.destroy.help'|trans }}</span>
                                    <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                                </a>
                                <div class="toolbox">
                                    <div class="toolbox__head">
                                        <h6 style="color: orange">{{ 'app.myboxes.menu.destroy.tooltip-title'|trans }}</h6>
                                    </div><!-- /.toolbox__head -->
                                    <div class="toolbox__content">
                                        <p>{{ 'app.myboxes.menu.destroy.tooltip-text'|trans|raw }}</p>
                                    </div><!-- /.toolbox__content -->
                                </div><!-- /.toolbox -->
                            </div><!-- /.toolbox-holder -->
                        </div>
                    </div>
                </div>
            </div><!-- /.block__group -->
    ########################################################################
#}
        </div><!-- /.block__groups -->
    </div><!-- /.block-orders -->
</div><!-- /.section__aside -->

<script>
{% if openBringHome %}
    $().ready(() => {
        $('#open-bring-home').click();
    })
{% endif %}
{% if openBackHub %}
    $().ready(() => {
        $('#open-back-hub').click();
    })
{% endif %}
</script>