{% set product = item.product %}
<div class="product__image" style="background-image: url({% include 'hub/myboxes/partials/_mainImage.html.twig' with {'product': product, 'filter': 'hennessy_product_box', 'only_path': true} %});">
</div><!-- /.product__image -->
<div class="product__content">
    <h6>{{ product.name }}</h6>
    <p data-max-char="34">{{ product.description }}</p>
    <span class="product__stock " {% if product.stock <= 0 %}style="color:red" {% endif %}>
        {% if product.stock > 0 %}
            <img class="svg" src="{{ asset('assets/myboxes/images/check.svg') }}" alt="">
        {% endif %}
        {{ 'app.myboxes.command.items.stock'|trans({'%value': product.stock}) }}
        {{ form_errors(form.quantity) }}
    </span>
</div><!-- /.product__content -->
