{% set item = form.vars.data %}
<tr>
    <td>
        <div class="product product--small">
            {% include 'hub/myboxes/partials/_info.html.twig' with {'item': item} %}
        </div>
    </td>
    <td>
        <ul class="list-count list-count--pink  jsCounter {% if form.quantity.vars.disabled %}disabled{% endif %}">
            <li class="minus" {% if form.quantity.vars.disabled %}style="opacity: 0.2;"{% endif %}>
                <a href="#" class="qty-less">
                    <img class="svg" src="{{ asset('assets/shop/images/minus.svg') }}" alt="">
                </a>
            </li>
            <li class="result">
                {{ form_widget(form.quantity) }}
            </li>
            <li class="plus" {% if form.quantity.vars.disabled %}style="opacity: 0.2;"{% endif %}>
                <a href="#" class="qty-more">
                    <img class="svg" src="{{ asset('assets/shop/images/plus.svg') }}" alt="">
                </a>
            </li>
        </ul><!-- /.list-count -->

    </td>
</tr>
