{% if product.cover is not empty and product.cover.path is not empty %}
    {% set path = asset(product.cover|ifs.path|imagine_filter(filter|default('hennessy_project_list'))) %}
{% else %}
    {% if product.sku == "BOX_40L_001" %}
        {% set path = asset('/assets/front/images/jaune.jpg') %}
    {% elseif product.sku == "BOX_55L_001"  %}
        {% set path = asset('/assets/front/images/rouge.jpg') %}
    {% elseif product.sku == "BOX_72L_001"  %}
        {% set path = asset('/assets/front/images/bleu.jpg') %}
    {% else %}
        {% set path = '//placehold.it/500x500' %}
    {% endif %}
{% endif %}
{% spaceless %}
    {% if only_path is   defined %}
        {{ path }}
    {% else %}
        <img src="{{ path }}" alt="" class="ui bordered image" />
    {% endif %}
{% endspaceless %}