<div class="product__image">
    <ul class="product__image-list jsProductGallery">
        {% if box.boxMedias is not empty %}
            {% for boxMedia in box.boxMedias %}
                {% if boxMedia.cover is not empty and boxMedia.cover.path is not empty  %}
                    <li class="{{ loop.index0 == 0 ? 'current' : '' }}">
                        <a href="#" data-image-small="{{ asset(boxMedia.cover|ifs.path) }}" data-image-large="{{ asset(boxMedia.cover|ifs.path) }}"></a>
                    </li>
                {% else %}
                    <li class="{{ loop.index0 == 0 ? 'current' : '' }}">
                        <a href="#" data-image-small="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}" data-image-large="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}"></a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li class="current">
                <a href="#" data-image-small="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}" data-image-large="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}"></a>
            </li>
        {% endif %}
    </ul><!-- /.product__image-list -->
    {% if box.boxMedias is not empty %}
        {% set boxMedia = box.boxMedias[0] %}
        {% if boxMedia.cover is not empty and boxMedia.cover.path is not empty  %}
            <div class="product__image-main" style="background-image: url({{ asset(boxMedia.cover|ifs.path) }});"></div>
        {% else %}
            <div class="product__image-main" style="background-image: url({{ asset("assets/admin/images/pixel-admin/noimage.jpg") }});"></div>
        {% endif %}
    {% else %}
        <div class="product__image-main" style="background-image: url({{ asset("assets/admin/images/pixel-admin/noimage.jpg") }});"></div>
    {% endif %}
</div><!-- /.product__image -->
