<h2 class="c-green">{{ box.name }}</h2>

{% if box.state == 'accepted' %}
    {% set label = 'app.myboxes.state.box.accepted' %}
    {% set style = 'gold' %}
{% elseif box.state == 'prepared' %}
    {% set label = 'app.myboxes.state.box.preprared' %}
    {% set style = '' %}
{% elseif box.state == 'sent' %}
    {% set label = 'app.myboxes.state.box.send' %}
    {% set style = 'status-list' %}
{% elseif box.state == 'stock_in_veolog' %}
    {% set label = 'app.myboxes.state.box.stock_in_veolog' %}
    {% set style = 'success' %}
{% elseif box.state == 'member' %}
    {% set label = 'app.myboxes.state.box.member' %}
    {% set style = 'success' %}
{% elseif box.state == 'user_ask' %}
    {% set label = 'app.myboxes.state.box.user_ask' %}
    {% set style = '' %}
{% elseif box.state == 'user_sent' %}
    {% set label = 'app.myboxes.state.box.user_sent' %}
    {% set style = 'status-list' %}
{% else %}
    {% set label =  box.state %}
    {% set style = 'danger' %}
{% endif %}

<span class="product__stock">
    {# <img class="svg" src="{{ asset('assets/myboxes/images/check.svg') }}" alt="" /> #}
    {{ label|trans }}
</span>

<p>{{ box.content|nl2br }}</p>

<div class="product__info">
    <ul>
        <li>
            <strong>{{ 'app.myboxes.show.label.barcode'|trans }}</strong>
            <span>{{ box.barcode }}</span>
        </li>
        <li>
            <strong>{{ 'app.myboxes.show.label.seal'|trans }}</strong>
            <span>{{ box.seal }}</span>
        </li>
        <li>
            <strong>{{ 'app.myboxes.show.label.members'|trans({'%value': box.boxUsers | length}) }}</strong>
            <ul style="margin-top: 8px;">
            {% for buser in box.boxUsers %}
                <li style="padding-left: 20px;">
                    <span>{{ buser.user.firstname }} {{ buser.user.lastname }}</span>
                    <small>{{ buser.user.email }}</small>
                </li>
            {% endfor %}
        </li>
    </ul>
</div>
