<div class="product__actions">
    <a href="{{ path( 'myboxes_box_edit' , {id : box.id}) }}" class="btn btn--grey-dark btn--cart">
        <img src="{{ asset('assets/myboxes/images/edit.svg') }}" alt="" class="svg">
        <span>{{ 'app.myboxes.show.edit.button'|trans }}</span>
    </a>
    {% if bringableHome %}
        <a href="{{ path( 'myboxes_command_box' , {id : box.id}) }}" class="btn btn--green">
            <img src="{{ asset('assets/myboxes/images/delivery.svg') }}" alt="" class="svg">
            <span>{{ 'app.myboxes.show.bring-home.button'|trans }}</span>
        </a>
    {% endif %}
</div><!-- /.product__actions -->
<div class="product__foot">
    {% if bringableHome %}
    <div class="toolbox-holder">
        <a href="#" class="link link--alt link--toolbox">
            <span>{{ 'app.myboxes.show.bring-home.help'|trans }}</span>
            <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
        </a>
        <div class="toolbox">
            <div class="toolbox__head">
                <h6>{{ 'app.myboxes.show.bring-home.tooltip-title'|trans }}</h6>
            </div><!-- /.toolbox__head -->
            <div class="toolbox__content">
                <p>{{ 'app.myboxes.show.bring-home.tooltip-text'|trans|raw }}</p>
            </div><!-- /.toolbox__content -->
        </div><!-- /.toolbox -->
    </div><!-- /.toolbox-holder -->
    {% endif %}
</div><!-- /.product__foot -->
