<header class="section__head">
    <a href="{{ path('myboxes_box_list') }}" class="link-back">
        <img class="svg" src="{{ asset('assets/myboxes/images/angle-left.svg') }}" alt="" />
        <span>{{ 'app.myboxes.show.back'|trans }}</span>
    </a>
</header><!-- /.section__head -->
