<table class="table table-sm table-bordered table-hover table-striped cf">
    <thead>
    <tr>
        <th>Utilisateur</th>
        <th>Nombre de Box individuelle</th>
        <th>Nombre de Box partagée</th>
    </tr>
    </thead>
    <tbody>
    {% for boxUser in boxUsers %}
        <tr>
            <td>{{ boxUser.email }}</td>
            <td style="text-align: center">{{ boxUser.singleboxes }}</td>
            <td style="text-align: center">{{ boxUser.sharedboxes }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>