<table class="table table-sm table-bordered table-hover table-striped cf">
    <thead>
    <tr>
        <th>Nom / Type / Email collaborateur</th>
        <th>Delais avant expédition</th>
    </tr>
    </thead>
    <tbody>
    {% for project in topDelay %}
        <tr>
            <td style="vertical-align: middle">
                {{ project.name }}<br/>

                {% if project.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                    <span class="text-danger" style="font-size: 10px;">
                    Commande Urgente
                </span><br/>
                {% elseif project.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                    <span class="text-warning" style="font-size: 10px;">
                    Commande Navette 142
                </span><br/>
                {% else %}
                    <span class="text-info" style="font-size: 10px;">
                    {% if project.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
                    Commande Standard
                    {% endif %}
                    {% if project.type == constant("App\\Entity\\Project::TYPE_BULK") %}
                    Commande Groupée
                    {% endif %}
                </span><br/>
                {% endif %}
                <span class="text-secondary" style="font-size: 10px;">
                    {{ project.email }}
                </span>
            </td>
            <td style="vertical-align: middle;font-size: 12px;text-align: center">
                <b>


                {% if project.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                    <b class="{% if project.delay > 0.17 %}text-danger{% else %}text-success{% endif %}">{{ project.delay }}j vs 4h</b>
                {% elseif project.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                    <b class="{% if project.delay > 1 %}text-danger{% else %}text-success{% endif %}">{{ project.delay }}j vs 1j</b>
                {% else %}
                    <b class="{% if project.delay > 1 %}text-danger{% else %}text-success{% endif %}">{{ project.delay }}j vs 1j</b>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>