<table class="table table-sm table-bordered table-hover table-striped cf">
    <thead>
    <tr>
        <th>Code barre</th>
        <th>Produit</th>
        <th>Dernière mise à jour</th>
    </tr>
    </thead>
    <tbody>
    {% for box in boxInSleeps %}
        <tr>
            <td style="vertical-align: middle">{{ box.barcode }}</td>
            <td style="vertical-align: middle">{{ box.product.name }}</td>
            <td style="font-size: 12px;text-align: center">

                <b class="text-danger">
                {% set difference = date("now"|date()).diff(date(box.updated)) %}
                {% set leftMonths = difference.m %}
                {% set leftDays = difference.d %}
                {% set leftHours = difference.h %}
                {% set leftYears = difference.y %}

                {% if leftYears > 0 %}{{ leftYears }} années {% endif %}
                {% if leftMonths > 0 %}{{ leftMonths }} mois {% endif %}
                {% if leftDays > 0 %}{{ leftDays }} jours {% endif %}
                {% if leftHours > 0 %}{{ leftHours }} heures {% endif %}
                </b><br>

                <em class="text-secondary" style="font-size: 11px;">{{ box.updated|date("d/m/Y h:i", "Europe/Paris") }}</em>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>