<table class="table table-sm table-bordered table-hover table-striped cf">
    <thead>
    <tr>
        <th>Code barre</th>
        <th>Rotations</th>
        <th>Répatriations</th>
        <th>Renvois</th>
    </tr>
    </thead>
    <tbody>
    {% for box in boxInMovements %}
        <tr>
            <td style="vertical-align: middle">{{ box.barcode }}<br/>
                <span class="text-secondary" style="font-size: 10px;">
                    {{ box.email }}
                </span>
            </td>
            <td style="font-size: 12px;text-align: center">
                <b>{{ (box.cpt/2)|round(0, 'floor') }}</b>
            </td>
            <td style="font-size: 12px;text-align: center">
                {{ (box.cpt/2)|round(0, 'ceil') }}
            </td>
            <td style="font-size: 12px;text-align: center">
                {{ (box.cpt/2)|round(0, 'floor') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>