<table class="table table-sm table-bordered table-hover table-striped cf">
    <thead>
    <tr>
        <th>Code barre</th>
        <th>Durée de stockage</th>
    </tr>
    </thead>
    <tbody>
    {% for box in topByStorageDelay %}
        <tr>
            <td style="vertical-align: middle">{{ box.barcode }}<br/>
                <span class="text-secondary" style="font-size: 10px;">
                    {{ box.email }}
                </span>
            </td>
            <td style="font-size: 12px;text-align: center">
                <b class="{% if box.delay > 3 %}text-danger{% else %}text-success{% endif %}">{{ box.delay }}j vs 3j</b>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>