<table class="table table-sm table-bordered table-hover table-striped cf">
    <thead>
    <tr>
        <th>Type de projet</th>
        <th>Nombre de commande</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: middle">
                Standard
            </td>
            <td style="vertical-align: middle;font-size: 12px;text-align: center">
              <b class="text-success">{{ statsByBasic }}</b>
            </td>
        </tr>

        <tr>
          <td style="vertical-align: middle">
            Urgente
          </td>
          <td style="vertical-align: middle;font-size: 12px;text-align: center">
            <b class="text-success">{{ statsUrgency }}</b>
          </td>
        </tr>

        <tr>
          <td style="vertical-align: middle">
            Navette
          </td>
          <td style="vertical-align: middle;font-size: 12px;text-align: center">
            <b class="text-success">{{ statsShuttle }}</b>
          </td>
        </tr>
    </tbody>
</table>
