{% extends 'hub/layout-mb.html.twig' %}

{% block title %}Hub 142  / MyBoxes / Toolbox{% endblock %}

{% block content %}
    <section class="section-alt" style="background: none">
        <div class="container">
            <div class="section__head">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h2 class="section__title c-green">Toolbox</h2><!-- /.section__title -->
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div><!-- /.section__head -->
            <div class="section__content">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">

                        {% if toolboxes|length > 0 %}
                            <ul class="list-info-package list-info-package--alt">
                                {% for toolbox in toolboxes %}

                                    <li>
                                        <strong>{{ toolbox.translate(app.request.locale).title }}</strong>

                                        <span>
                                            <a style="color: #55c1b1; font-weight: bold; text-decoration: none; font-size: 13px;" href="{{ asset( toolbox.translate(app.request.locale).cover|ifs.path) }}" download="">Télécharger</a>
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul><!-- /.list-info-package -->
                        {% else %}
                            <p>Aucune toolbox disponible.</p>
                        {% endif %}
                    </div><!-- /.col-md-6 col-lg-5 -->
                    <div class="col-md-2"></div>
                </div><!-- /.row -->
            </div><!-- /.section__content -->
        </div><!-- /.container -->
    </section><!-- /.section-alt -->
{% endblock %}
