{% extends 'hub/layout.html.twig' %}

{% set headerType = 'simple' %}

{% block content %}


    <div class="intro intro--full intro--full-mobile">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-9">
                    <div class="intro__inner text-center">
                        <div class="intro__head">
                            <h1 class="intro__title">Bienvenue sur HUB 142</h1><!-- /.intro__title -->

                            <h6 class="intro__subtitle">Vous ne disposez pas des droits d’accès.Veuillez contacter un responsable afin de demander les droits d’accès. </h6><!-- /.intro__subtitle -->
                        </div><!-- /.intro__head -->
                    </div><!-- /.intro__inner -->
                </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

        <div class="intro__images">
            <div class="intro__image" style="background-image: url({{ asset('assets/front/images/temp/intro-bg-1.png') }});"></div><!-- /.intro__image intro__image-/-1 -->

            <div class="intro__image" style="background-image: url({{ asset('assets/front/images/temp/intro-bg-2.png') }});"></div><!-- /.intro__image intro__image-/-1 -->

            <div class="intro__image" style="background-image: url({{ asset('assets/front/images/temp/intro-bg-3.png') }});"></div><!-- /.intro__image intro__image-/-1 -->
        </div><!-- /.intro__images -->
    </div><!-- /.intro -->


{% endblock %}

{% block footer %}
{% endblock %}