{% if bismode is defined %}
    {% set menuActive = 'projects-restrict' %}
{% elseif veologmode is defined %}
    {% set menuActive = 'projects-veolog' %}
{% else %}
    {% set menuActive = 'projects' %}
{% endif %}

{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Commandes' %}


{%  block options %}
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/Project/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_project_list'} %}

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'N° de commande', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nom', 'e.name') }} {% if pagination.isSorted('e.name') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Etat</th>
                            <th>Suivi</th>
                            <th class="cansort {% if pagination.isSorted('e.type') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Type', 'e.type') }} {% if pagination.isSorted('e.type') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Stock</th>
                            <th>Cave</th>
                            <th class="cansort {% if pagination.isSorted('e.dateAddVlg') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Date ajout Veolog', 'e.dateAddVeolog') }} {% if pagination.isSorted('e.dateAddVeolog') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.dateStart') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Date de début', 'e.dateStart') }} {% if pagination.isSorted('e.dateStart') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.dateEnd') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Date de fin', 'e.dateEnd') }} {% if pagination.isSorted('e.dateEnd') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Demandeur</th>
                            <th class="cansort {% if pagination.isSorted('e.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'e.created') }} {% if pagination.isSorted('e.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for project in pagination %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ project.id }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">

                                        {% if bismode is defined %}
                                            <a href="{{ path('admin_project_show_current', {id: project.id}) }}">
                                        {% elseif veologmode is defined %}
                                            <a href="{{ path('admin_project_show_veolog', {id: project.id}) }}">
                                        {% else %}
                                            <a href="{{ path('admin_project_show', {id: project.id}) }}">
                                        {% endif %}
                                        {{ project.name }}
                                        </a>
                                    </td>

                                    <td style="vertical-align:middle;font-size: 12px">

                                        {% set style = 'text-warning' %}
                                        {% set label = 'Brouillon' %}
                                        {% if project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}
                                            {% set label = 'Brouillon' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED") %}
                                            {% set label = 'Validé modifiable' %}
                                            {% set style = 'text-info' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED") or project.state == 'back_product' or project.state == 'in_progress' %}
                                            {% set label = 'Validée non modifiable' %}
                                            {% set style = 'text-success' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_REJECTED") %}
                                            {% set label = 'Commande rejetée par Véolog' %}
                                            {% set style = 'text-danger' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_INT") %}
                                            {% set label = 'Commande intégrée chez Véolog' %}
                                            {% set style = 'text-success' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_CANCEL") %}
                                            {% set label = 'Annulation veolog' %}
                                            {% set style = 'text-danger' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_PREPARE") %}
                                            {% set label = 'En préparation' %}
                                            {% set style = 'text-success' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_EXP") %}
                                            {% set label = 'Commande Expédiée' %}
                                            {% set style = 'text-success' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_REFUSED") %}
                                            {% set label = 'Commande refusée' %}
                                            {% set style = 'text-danger' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_CANCEL_ASK") %}
                                            {% set label = 'Demande d\'annulation' %}
                                            {% set style = 'text-danger' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_CANCEL") %}
                                            {% set label = 'Annulée' %}
                                            {% set style = 'text-danger' %}
                                        {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_DELIVERED") %}
                                            {% set label = 'Livrée' %}
                                            {% set style = 'text-success' %}
                                        {% endif %}

                                        <b class="{{ style }}">{{ label }}</b>
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {% for tracker in project.trackers %}
                                            <a href="{{ tracker }}" target="_blank">Suivre</a><br>
                                        {% endfor %}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">


                                        {% if project.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
                                            Standard
                                        {% elseif project.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                                            Urgente
                                        {% elseif project.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                                            Navette 142
                                        {% elseif project.type == constant("App\\Entity\\Project::TYPE_BULK") %}
                                            Groupée
                                        {% endif %}

                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {% if project.stock %}
                                            {{ project.stock.translate(app.request.locale).name }}
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ project.cave }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                      {% if project.dateAddVlg != '' %}
                                        {{ project.dateAddVlg|date("d/m/Y h:i:s", "Europe/Paris") }}
                                      {% endif %}
                                    </td>
                                  <td style="vertical-align:middle;font-size: 12px">
                                        {{ project.dateStart|date("d/m/Y", "Europe/Paris") }}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {% if project.needReturn %}
                                            {{ project.dateEnd|date("d/m/Y", "Europe/Paris") }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {% if project.user is not empty %}
                                            {{ project.user.firstName }} {{ project.user.lastName }}<br/>
                                            {{ project.user.email }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ project.created|date("d/m/Y h:i", "Europe/Paris") }}</td>
                                    <td style="width: 150px;text-align:center;vertical-align:middle;">
                                        {% if not is_granted('ROLE_VEOLOG_ADMIN') %}
                                            <a title="Supprimer" href="{{ path('admin_project_delete', {'id': project.id}) }}" class="btn btn-xs btn-danger delete-button">
                                                <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
