{% if bismode is defined %}
  {% set menuActive = 'projects-restrict' %}
{% elseif veologmode is defined %}
  {% set menuActive = 'projects-veolog' %}
{% else %}
  {% set menuActive = 'projects' %}
{% endif %}

{% extends "@Admin/layout.html.twig" %}

{% block mainTitle %}Commandes : <b>{{ project.name }}</b>{% endblock %}

{% block content %}

  <div class="panel panel-inverse">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2 style="margin-top: 0;">Informations Générales</h2>
          <p>
            <b>Nom : </b> {{ project.name }}
          </p>
          <p>
            <b>Etat : </b>


            {% set style = 'text-warning' %}
            {% set label = 'Brouillon' %}
            {% if project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}
              {% set label = 'Brouillon' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED") %}
              {% set label = 'Validé modifiable' %}
              {% set style = 'text-info' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED") or project.state == 'back_product' or project.state == 'in_progress' %}
              {% set label = 'Validée non modifiable' %}
              {% set style = 'text-success' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_INT") %}
              {% set label = 'Commande intégrée chez Véolog' %}
              {% set style = 'text-success' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_CANCEL") %}
              {% set label = 'Annulation veolog' %}
              {% set style = 'text-success' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_PREPARE") %}
              {% set label = 'En préparation' %}
              {% set style = 'text-success' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_EXP") %}
              {% set label = 'Commande Expédiée' %}
              {% set style = 'text-success' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_REFUSED") %}
              {% set label = 'Commande refusée' %}
              {% set style = 'text-danger' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_CANCEL_ASK") %}
              {% set label = 'Demande d\'annulation' %}
              {% set style = 'text-danger' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_CANCEL") %}
              {% set label = 'Annulée' %}
              {% set style = 'text-danger' %}
            {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_DELIVERED") %}
              {% set label = 'Livrée' %}
              {% set style = 'text-success' %}
            {% endif %}

            <b class="{{ style }}">{{ label }}</b>

            {% for tracker in project.trackers %}
                , <small><a href="{{ tracker }}" target="_blank">suivre la commande</a></small>
            {% endfor %}
          </p>
          <p>
            <b>Type de commande : </b>
            {% if project.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
              Standard
            {% elseif project.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
              Urgente
            {% elseif project.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
              Navette 142
            {% elseif project.type == constant("App\\Entity\\Project::TYPE_BULK") %}
              Groupée
            {% endif %}

          </p>
          <p>
            <b>Date de début/livraison : </b> {{ project.dateStart|date("d/m/Y", "Europe/Paris") }}<br/>
            <b>Heure souhaitée : </b> {{ project.hourStart|date("h", "Europe/Paris") }}h<br/>
            <b>Date de fin : </b>
            {% if project.needReturn %}
              {{ project.dateEnd|date("d/m/Y", "Europe/Paris") }}
            {% else %}
              -
            {% endif %}
          </p>
          <p>
            <b>Utilisateur demandeur : </b>
            {% if project.user is not empty %}
              {{ project.user.email }}
            {% endif %}
          </p>
          <p>
            <b>Stock : </b>
            {% if project.stock is not empty %}
              {{ project.stock.translate(app.request.locale).name }}
            {% endif %}
          </p>
          <p>
            <b>Centre de coût : </b>
            {% if project.billingCenter is not empty %}
              {{ project.billingCenter.translate(app.request.locale).name }}
            {% endif %}
          </p>


          {% if project.reasonOfDelete is not empty %}
            <p>
              <b>Raison de la suppression : </b>
              {{ project.reasonOfDelete }}
            </p>
          {% endif %}

        </div>
        <div class="col-md-6">
          <h2 style="margin-top: 0;">Adresse de livraison</h2>

          <p>
            <b>Société : </b>
            {% if project.recipientSociety is not empty %}
              {{ project.recipientSociety }}
            {% endif %}
          </p>
          <p>
            <b>Prénom : </b>
            {% if project.recipientFirstName is not empty %}
              {{ project.recipientFirstName }}
            {% endif %}
          </p>
          <p>
            <b>Nom : </b>
            {% if project.recipientLastName is not empty %}
              {{ project.recipientLastName }}
            {% endif %}
          </p>
          <p>
            <b>Téléphone : </b>
            {% if project.recipientPhone is not empty %}
              {{ project.recipientPhone }}
            {% endif %}
          </p>
          <p>
            <b>Mobile : </b>
            {% if project.recipientMobilePhone is not empty %}
              {{ project.recipientMobilePhone }}
            {% endif %}
          </p>
          <p>
            <b>Email : </b>
            {% if project.recipientEmail is not empty %}
              {{ project.recipientEmail }}
            {% endif %}
          </p>
          <p>
            <b>Pays : </b>
            {% if project.recipientCountry is not empty %}
              {{ project.recipientCountry }}
            {% endif %}
          </p>
          <p>
            <b>Adresse : </b>
            {{ project.recipientAddress }} {{ project.recipientZip }} {{ project.recipientCity }}<br/>
            {{ project.recipientAddressComplement }}<br/>
            {{ project.recipientInformation }}
          </p>
        </div>
        <div class="col-md-12">
          <hr/>
        </div>

        <div class="col-md-6">
          <h2 style="margin-top: 0;">Services</h2>

          <b> AVANT LIVRAISON </b>
          <p>
            <b>&nbsp; Devis
              : </b> {% if project.beforeQuote is not empty %}{{ project.beforeQuote }}{% else %}-{% endif %}<br/>
            <b>&nbsp; Services : </b> <br/>
            {% for service in project.beforeServices %}
              &nbsp;   - {{ service.translate(app.request.locale).name }}
            {% endfor %}
            {% if project.beforeOther is not empty %}
              &nbsp;   - {{ project.beforeOther }}
            {% endif %}
          </p>


          <b> AU RETOUR : </b>
          <p>
            <b>&nbsp; Devis
              : </b> {% if project.afterQuote is not empty %}{{ project.afterQuote }}{% else %}-{% endif %}<br/>
            <b>&nbsp; Services : </b> <br/>
            {% for service in project.afterServices %}
              &nbsp;  - {{ service.translate(app.request.locale).name }}
            {% endfor %}
            {% if project.afterOther is not empty %}
              &nbsp;   - {{ project.afterOther }}
            {% endif %}
          </p>

        </div>


        <div class="col-md-6">
          <h2 style="margin-top: 0;">Produits</h2>

          {% if project.items|length > 0 %}
            <div class="table-disko" id="flip-scroll">
              <table class="table table-bordered table-hover table-striped cf">
                <thead class="cf">
                <tr>
                  <th>Nom</th>
                  <th>Quantité</th>
                </tr>
                </thead>
                <tbody>
                {% for item in project.items %}
                  <tr>
                    <td>
                      {% if item.product is not empty %}
                        <a
                          href="{{ path('admin_product_show', {id: item.product.id}) }}">{{ item.product.translate(app.request.locale).name }}</a>
                      {% endif %}
                    </td>
                    <td>
                      {{ item.quantity }}
                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
          {% else %}
            <p>
              Aucun produit pour la moment...
            </p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
