{% set menuActive = 'ips' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Création d'une restriction d'IP" %}

{% block content %}
    <form action="" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-12">

                <div class="alert alert-info">
                    <p>Votre IP actuelle : <b>{{ app.request.clientIp }}</b></p>
                </div>

                {% include "@Admin/IP/partials/form.html.twig" with {'create': true} %}

                <button class="btn btn-info btn-save">
                    <i class="fa fa-save"></i> Créer
                </button>
            </div>
        </div>
    </form>
{% endblock %}
