{% set menuActive = 'ips' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Restrictions d\'IP' %}


{%  block options %}
    <a class="btn btn-success btn-xs" href="{{ path('admin_ip_create') }}">
        <i class="fa fa-plus "></i> Ajouter
    </a>
    <a class="btn btn-warning btn-xs" href="{{ path('admin_ip_export') }}">
        <i class="fa fa-download "></i> Exporter
    </a>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}

    <div class="alert alert-warning" style="border-bottom:none; margin-bottom: 0;">
        <p>Votre IP actuelle : <b>{{ app.request.clientIp }}</b> <span style="float: right;">
                <a href="{{ path('admin_ip_on') }}" class="btn btn-xs btn-success"><i class="fa fa-check"></i> Tout activer</a>
                <a href="{{ path('admin_ip_off') }}" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Tout désactiver</a>
            </span></p>
    </div>

    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/IP/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.active') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Activé', 'e.active') }} {% if pagination.isSorted('e.active') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.v4') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'V4', 'e.v4') }} {% if pagination.isSorted('e.v4') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.v6') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'V6', 'e.v6') }} {% if pagination.isSorted('e.v6') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'e.created') }} {% if pagination.isSorted('e.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for ip in pagination %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ ip.id }}</td>
                                    <td style="text-align:center;vertical-align:middle;width: 40px">
                                        {% if ip.active %}
                                            <span class="label label-success label-pill" style="font-size: 5px;line-height: 14px;"><i class="fa fa-check"></i></span>
                                        {% else %}
                                            <span class="label label-danger label-pill" style="font-size: 5px;line-height: 14px;"><i class="fa fa-times"></i></span>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px"><a href="{{ path('admin_ip_edit', {'id': ip.id}) }}">{{ ip.v4 }}</a></td>
                                    <td style="vertical-align:middle;font-size: 12px"><a href="{{ path('admin_ip_edit', {'id': ip.id}) }}">{{ ip.v6 }}</a></td>
                                    <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ ip.created|date("m/d/Y h:i", "Europe/Paris") }}</td>
                                    <td style="width: 100px;text-align:center;vertical-align:middle;">

                                        <a title="Modifier" href="{{ path('admin_ip_edit', {'id': ip.id}) }}" class="btn btn-xs btn-default">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a title="Supprimer" href="{{ path('admin_ip_delete', {'id': ip.id}) }}" class="btn btn-xs btn-danger delete-button">
                                            <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
