{% set menuActive = 'myBoxesBox' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle %}
    Historique de box : {{ box.name }}
{% endblock %}


{% block content %}


    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#general" data-toggle="tab"><i class="fa fa-folder"></i> &nbsp; Box
            </a>
        </li>
    </ul>
    <div class="tab-content tab-content-bordered" style="background: #fff;">
        <div class="tab-pane fade in active" id="general">
            <h3 style="margin-top: 0;">Opérations </h3>


            <a class="btn" href="{{ path('admin_myBoxesBox_list') }}">Retour à la liste</a>

            <div class="row">
                <div class="col-md-12 col-sm-12">

                    {% if myBoxesLog|length > 0 %}
                    <div class="table-disko" id="flip-scroll">

                        <table class="table table-bordered table-hover table-striped cf">
                            <thead class="cf">
                                <tr>
                                    <th>Box</th>
                                    <th>Opération</th>
                                    <th>Date</th>
                                    <th>Utilisateur</th>
                                </tr>
                            </thead>
                            {% for log in myBoxesLog %}
                                <tr>
                                    <td>{{ log.box.name }}</td>
                                    <td>
                                    {% if log.info == 'resend' %}
                                    Envoi au hub
                                    {% elseif log.info == 'repatriation' %}
                                    Repatriation
                                    {% elseif log.info == 'deletion' %}
                                    Destruction
                                    {% elseif log.info == 'modification' %}
                                    Modifications
                                    {% else %}
                                    {{ log.info|raw|nl2br }}
                                    {% endif %}
                                    </td>
                                    <td>{{ log.created|date("d/m/Y H:i", "Europe/Paris") }}</td>
                                    <td>{{ log.createdBy }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                <br>
                <em>Aucun opérations pour ce box</em>
                {% endif %}
                </div>
            </div>


        </div>
    </div>



{% endblock %}
