{% set menuActive = 'myBoxesBoxs' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Boxes' %}


{%  block options %}
    <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_myBoxesBox_export'}) }}">
        <i class="fa fa-download "></i> Exporter

    </button>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/MyBoxesBox/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_myBoxesBox_list'} %}

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nom', 'e.name') }} {% if pagination.isSorted('e.name') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Contenu</th>
                            <th class="cansort {% if pagination.isSorted('e.barcode') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Code barre', 'e.barcode') }} {% if pagination.isSorted('e.barcode') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Trackers</th>
                            <th class="cansort {% if pagination.isSorted('e.seal') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Scellé', 'e.seal') }} {% if pagination.isSorted('e.seal') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="">Accès</th>
                            <th class="cansort {% if pagination.isSorted('e.state') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Etat', 'e.state') }} {% if pagination.isSorted('e.state') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'e.created') }} {% if pagination.isSorted('e.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for myBoxesBox in pagination %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ myBoxesBox.id }}</td>

                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesBox.name }} 
                                    <br>
                                    <a target="_blank" href="{{ path('admin_myboxlog_view', {id: myBoxesBox.id }) }}"><i class="fa fa-list"></i> Suivi des modifications</a>
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesBox.content|nl2br }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesBox.barcode }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {% for tracker in myBoxesBox.trackers %}
                                            <a href="{{ tracker }}" target="_blank">{{ tracker }}</a>
                                            {% if not loop.last %}<br/>{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesBox.seal }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">

                                        {% for buser in myBoxesBox.boxUsers %}
                                            {{ buser.user.email }}
                                            {% if not loop.last %}<br/>{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesBox.state }}</td>
                                    <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ myBoxesBox.created|date("d/m/Y h:i", "Europe/Paris") }}</td>
                                    <td style="width: 150px;text-align:center;vertical-align:middle;">
                                            <a title="Modifier" href="{{ path('admin_myBoxesBox_edit', {'id': myBoxesBox.id}) }}" class="btn btn-xs btn-default">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a title="Supprimer" href="{{ path('admin_myBoxesBox_delete', {'id': myBoxesBox.id}) }}" class="btn btn-xs btn-danger delete-button">
                                                <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                            </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
