{% set menuActive = 'report-commons' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Rapports communs' %}


{%  block options %}
{% endblock %}

{% block content %}
    <div class="row">


        <div class="col-md-12 col-sm-12 search-zone">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="">Statstiques dans le temps</h3>
                </div>
            </div>
        </div>


        <div class="col-md-12 m-b-2 col-sm-12 search-zone">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            {% include "@Admin/Report/Common/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>





        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChart" style="display: block; height: 463px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config = {
                                    type: 'line',
                                    data: {
                                        labels: [
                                            {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                 "{{ "now"|date_modify('-' ~ "now"|date('z') ~' day')|date_modify("+"~doy~" days")|date("d/m/Y") }}"
                                            {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ],
                                        datasets: [{
                                            label: "Nombre de nouveaux utilisateurs",
                                            backgroundColor: 'rgb(54, 162, 235)',
                                            borderColor: 'rgb(54, 162, 235)',
                                            data: [
                                                {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                    {% set val = 0 %}
                                                    {% for stat in statsCreated %}
                                                        {% if stat['dayofyear'] == doy %}
                                                            {% set val = stat['cpt'] %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {{ val }}
                                                    {% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            ],
                                            fill: false,
                                        },{
                                            label: "Nombre de première connexions",
                                            backgroundColor: 'rgb(75, 192, 192)',
                                            borderColor: 'rgb(75, 192, 192)',
                                            data: [
                                                {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                {% set val = 0 %}
                                                {% for stat in statsFirstConnections %}
                                                {% if stat['dayofyear'] == doy %}
                                                {% set val = stat['cpt'] %}
                                                {% endif %}
                                                {% endfor %}
                                                {{ val }}
                                                {% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            ],
                                            fill: false,
                                        },{
                                            label: "Nombre de connexions / utilisateurs actifs",
                                            backgroundColor: 'rgb(255, 159, 64)',
                                            borderColor: 'rgb(255, 159, 64)',
                                            data: [
                                                {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                {% set val = 0 %}
                                                {% for stat in statsConnections %}
                                                {% if stat['dayofyear'] == doy %}
                                                {% set val = stat['cpt'] %}
                                                {% endif %}
                                                {% endfor %}
                                                {{ val }}
                                                {% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            ],
                                            fill: false,
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Statistiques utilisateurs'
                                        },
                                        legend:{
                                            position: 'bottom',
                                            align: 'start',
                                            labels:{
                                                boxWidth: 10,
                                                fontSize: 10,
                                            },
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                ticks: {
                                                    callback: function(dataLabel, index) {
                                                        // Hide the label of every 2nd dataset. return null to hide the grid line too
                                                        return index % 2 === 0 ? dataLabel : '';
                                                    }
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0
                                                }
                                            }]
                                        }
                                    }
                                };

                                window.onload = function() {
                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    window.myLine = new Chart(ctx, config);
                                };

                            </script>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
