{% extends 'front/layout.html.twig' %}

{% block project_sticky_menu %}
    {% if app.user is not null %}
        {{ render(controller('App\\Controller\\Front\\ProjectController::stickyMenu')) }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="section-products">
        <div class="container">

            {% include 'front/catalog/partials/_sidebar.html.twig' %}
            {% include 'front/catalog/partials/_main.html.twig' %}

        </div><!-- /.container -->
    </section><!-- /.section-products -->
{% endblock %}