{% extends 'front/layout.html.twig' %}

{% block project_sticky_menu %}
    {% if app.user is not null %}
        {{ render(controller('App\\Controller\\Front\\ProjectController::stickyMenu')) }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="section-products-full">
        <div class="container container-md">
            <header class="section__head">
                <a href="{{ path('catalog') }}" class="link-back">
                    <img class="svg" src="{{ asset('assets/shop/images/angle-left.svg') }}" alt="">
                    <span>{{ 'sylius.ui.all_catalog'|trans() }}</span>
                </a>
                <h1>{{ 'sylius.ui.result.choice'|trans({'%count%': pagination.getTotalItemCount() }) }}</h1>
                {% include 'front/catalog/partials/_search.html.twig' %}
            </header><!-- /.section__head -->
            {% if pagination.getTotalItemCount() > 0 %}
                {% include 'front/catalog/partials/_main.html.twig' with {'class_container_products': 'products-4', 'class_container': 'section__body'} %}
            {% else %}
                <div class="section__actions">
                    <a href="{{ path('catalog') }}" class="btn">
                        <span>Aller au catalogue</span>
                    </a>
                </div><!-- /.section__actions -->
            {% endif %}
        </div>
    </section>
{% endblock %}