<div class="product product--higher">
    <a href="{{ path('product_view', {slug: product.translate('fr').slug}) }}" class="product__image" style="background-image: url({% if product.translate('fr').cover is not empty and product.translate('fr').cover.path is not empty %}{{ asset( product.translate('fr').cover|ifs.path|imagine_filter(filter|default('hennessy_product_main'))) }}{% else %}//placehold.it/200x200{% endif %});">
        {% if product.translate('fr').state != "new" %}
            <span class="product__block" style="background-color: rgba(176, 128, 103, 0.9); color: #FFF;">
                <img class="svg" src="{{ asset('assets/front/images/info.svg') }}" alt="">
                <span>{{ 'app.product.states.out_of_use'|trans }}</span>
            </span>
        {% endif %}
    </a>

    <div class="product__content">
        <h6><a href="{{ path('product_view', {slug: product.translate('fr').slug}) }}">{{ product.translate('fr').name }}</a></h6>
        <p>{{ product.translate('fr').description }}</p>

        {% include "hub/product/partials/_stock.html.twig" %}

    </div><!-- /.product__content -->
</div><!-- /.product -->