<div class="{{ class_container|default('content') }}">
    {% include 'hub/catalog/partials/_filter.html.twig' %}

    {% if pagination|length > 0 %}
        <div class="products {{ class_container_products|default('') }}">
            {% for product in pagination %}
                {% include 'hub/catalog/partials/_box.html.twig' with {'product': product} %}
            {% endfor %}
        </div><!-- /.products -->

        {{ knp_pagination_render(pagination, 'hub/partials/sliding.html.twig') }}
    {% endif %}

</div><!-- /.content -->