


    <div class="row">
        <div class="col-md-12">

            {{ form_errors(form) }}

            <div class="a2lix_translations">


                {% include "@Admin/partials/form/intl-bar.html.twig" with {
                    'form' : form
                } %}

                <div class="a2lix_translationsFields tab-content">
                    {% set formParent = form %}
                    {% for form in form.translations %}
                        {% set locale = form.vars.name %}

                        <div class="{{ form.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.get('locale', app.request.locale) == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">

                            <div class="row">


                                <div class="col-sm-12">
                                    <ul class="nav nav-info nav-tabs">
                                        <li class="active">
                                            <a href="#{{ form.vars.id }}_general" data-toggle="tab"><i class="fa fa-cogs"></i> Paramètres généraux
                                                {% if
                                                    form.name.vars['errors'] |length > 0 or
                                                    form.active.vars['errors'] |length > 0 or
                                                    form.description.vars['errors'] |length > 0 or
                                                    form.cover.vars['errors'] |length > 0
                                                %}
                                                    <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#{{ form.vars.id }}_seo" data-toggle="tab"><i class="fa fa-share-alt"></i> SEO
                                                {% if
                                                    form.seoMetaTitle.vars['errors'] |length > 0 or
                                                    form.seoMetaDescription.vars['errors'] |length > 0 or
                                                    form.seoMetaKeywords.vars['errors'] |length > 0
                                                %}
                                                    <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>


                                    <div class="tab-content tab-content-bordered">
                                        <div class="tab-pane fade in active" id="{{ form.vars.id }}_general">

                                            {% set obj = example %}
                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.name,
                                                'label': "Nom"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.mantra,
                                                'label': "Mantra"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.category,
                                                'label': "Catégorie",
                                                'class_widget': 'select2-single'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.multiples,
                                                'label': "Multiples",
                                                'class_widget': 'select2-multiple'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.description,
                                                'label': "Description"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.descriptionUi,
                                                'label': "Description (wyswyg)",
                                                'class_widget': 'editor-wysiwyg'
                                            } %}

                                            {% include "@Admin/partials/form/image-line.html.twig" with {
                                                'form' : form.cover,
                                                'label': "Photo de couverture",
                                            } %}

                                            {% include "@Admin/partials/form/image-line.html.twig" with {
                                                'form' : form.crop,
                                                'label': "Photo Cropée",
                                                'ratio': 150 / 200
                                            } %}

                                            {% include "@Admin/partials/form/image-line.html.twig" with {
                                                'form' : form.pdf,
                                                'label': "Fichier",
                                                'accepted': "application/pdf"
                                            } %}

                                            {% include "@Admin/partials/form/date-line.html.twig" with {
                                                'form' : form.publishDate,
                                                'label': "Date de publication",
                                            } %}

                                            {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                                                'form' : form.active,
                                                'label': "En ligne",
                                            } %}
                                        </div>
                                        <div class="tab-pane fade in" id="{{ form.vars.id }}_seo">
                                            {% include "@Admin/partials/form/seo/line.html.twig" with {
                                                'form' : form,
                                            } %}
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>


            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>


{#

#}