{% set menuActive = 'report-stock115' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Rapports stock115' %}


{%  block options %}
{% endblock %}

{% block content %}
    <div class="row">


        <div class="col-md-12 col-sm-12 search-zone">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="">Statistiques dans le temps</h3>
                </div>
            </div>
        </div>


        <div class="col-md-12 m-b-2 col-sm-12 search-zone">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            {% include "@Admin/Report/Stock115/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChart" style="display: block; height: 463px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config = {
                                    type: 'line',
                                    data: {
                                        labels: [
                                            {% for doy in statsProjectCreated['labels'] %}
                                                "{{ doy }}",
                                            {% endfor %}
                                        ],
                                        datasets: [
                                            {% for data in statsProjectCreated['data'] %}
                                                {
                                                    label: "{{ data['name'] }}",
                                                    backgroundColor: 'rgb(54, 162, 235)',
                                                    borderColor: '{{ data['color'] }}',
                                                    data: [
                                                        {% for valeur in data['numbers'] %}
                                                            {{ valeur }},
                                                        {% endfor %}
                                                    ],
                                                    fill: false,
                                                },
                                            {% endfor %}
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Statistiques commandes'
                                        },
                                        legend:{
                                            position: 'bottom',
                                            align: 'start',
                                            labels:{
                                                boxWidth: 10,
                                                fontSize: 10,
                                            },
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                ticks: {
                                                    callback: function(dataLabel, index) {
                                                        // Hide the label of every 2nd dataset. return null to hide the grid line too
                                                        return index % 2 === 0 ? dataLabel : '';
                                                    }
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0
                                                }
                                            }]
                                        }
                                    }
                                };

                            </script>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChartProduct" style="display: block; height: 463px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config2 = {
                                    type: 'line',
                                    data: {
                                        labels: [
                                            {% for doy in statsProductByProject['labels'] %}
                                                "{{ doy }}",
                                            {% endfor %}
                                        ],
                                        datasets: [
                                            {% for data in statsProductByProject['data'] %}
                                                {
                                                    label: "{{ data['name'] }}",
                                                    backgroundColor: 'rgb(54, 162, 235)',
                                                    borderColor: '{{ data['color'] }}',
                                                    data: [
                                                        {% for valeur in data['numbers'] %}
                                                        {{ valeur }},
                                                        {% endfor %}
                                                    ],
                                                    fill: false,
                                                },
                                            {% endfor %}
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Statistiques produits'
                                        },
                                        legend:{
                                            position: 'bottom',
                                            align: 'start',
                                            labels:{
                                                boxWidth: 10,
                                                fontSize: 10,
                                            },
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                ticks: {
                                                    callback: function(dataLabel, index) {
                                                        // Hide the label of every 2nd dataset. return null to hide the grid line too
                                                        return index % 2 === 0 ? dataLabel : '';
                                                    }
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0
                                                }
                                            }]
                                        }
                                    }
                                };

                            </script>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            <table class="table table-sm table-bordered table-hover table-striped cf">
                                <thead>
                                <tr>
                                    <th>Commande</th>
                                    <th>Délai de livraison (en heure)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in statsProjectDeliveryTime %}
                                    <tr>
                                        <td>{{ project.name }}</td>
                                        <td style="text-align: center">{{ project.dateEnd.diff(project.dateStart)|date("%h") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            <table class="table table-sm table-bordered table-hover table-striped cf">
                                <thead>
                                <tr>
                                    <th>Commande</th>
                                    <th>Runner</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tracing in tracings %}
                                    <tr>
                                        <td style="text-align: center">{{ tracing.project.name }}</td>
                                        <td style="text-align: center">{{ tracing.runner }}</td>
                                        <td style="text-align: center">{{ tracing.state }}</td>
                                        <td style="text-align: center">{{ tracing.created|date("d/m/Y", "Europe/Paris") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        window.onload = function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            window.myLine = new Chart(ctx, config);

            var ctx2 = document.getElementById('myChartProduct').getContext('2d');
            window.myLine = new Chart(ctx2, config2);
        };

    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
