{% set icon = '' %}
{% set label = project.state %}
{% set alt_class = '' %}
{% set color_class = '' %}
{% if project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}
    {% set icon = 'block.svg' %}
    {% set alt_class = 'alt' %}
    {% set label = 'Brouillon' %}
{% elseif project.state == 'review' %}
    {% set icon = 'clock.svg' %}
    {% set color_class = 'danger' %}
    {% set label = 'En revue' %}
{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED") %}
    {% set icon = 'check.svg' %}
    {% set label = 'Validé' %}
    {% set color_class = 'success' %}
{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED") or project.state == 'back_product' or project.state == 'in_progress' %}
    {% set icon = 'check.svg' %}
    {% set color_class = 'success' %}
    {% set label = 'Validée non modifiable' %}
{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_REFUSED") %}
    {% set icon = 'close.svg' %}
    {% set color_class = 'danger' %}
    {% set label = 'Refusé' %}
{% endif %}

<span class="status {{ alt_class }} {{ color_class }}">
    {% if icon is not empty %}
        <img class="svg" src="{{ asset('assets/shop/images/' ~ icon) }}" alt="">
    {% endif %}
    {{ label }}
</span>