{% extends 'front/layout.html.twig' %}

{% block body_class %}class="scroll-disable"{% endblock %}

{% block content %}
    <section class="section-project section-project--alt section-project--empty">
        <div class="container container-md">
            <a href="{{ path('catalog') }}" class="link-back">
                <img class="svg" src="{{ asset('assets/shop/images/angle-left.svg') }}" alt="angle-left">
                <span>Retour au stock</span>
            </a>
            <h1>Mon compte</h1>

            {% include "front/account/projects.html.twig" %}
        </div><!-- /.container -->
    </section><!-- /.section-project-/-alt -->

{% endblock %}
