{% if projects|length > 0 %}
    <div class="table-projects-alt">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Adresse</th>
                    <th>Etat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                {% set class_tr = 'gold' %}
                {% if project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}
                    {% set class_tr = '' %}
                {% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_REFUSED") or project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED")  %}
                    {% set class_tr = 'grey' %}
                {% endif %}
                <tr class="{{ class_tr }}">
                    <td data-title="Nom">
                        <h4 data-max-char="52">{{ project.name }}</h4>
                        {% include "front/project/partials/type.html.twig" %}
                    </td>
                    <td data-title="Date">
                        {{ project.dateStart|date('d/m/Y') }}<br>
                        {{ project.dateEnd|date('d/m/Y') }}
                    </td>
                    <td data-title="Adresse">
                        {{ project.place|nl2br }}
                    </td>
                    <td data-title="Etat">
                        {% include 'front/account/_state.html.twig' with {'state': project.state} %}
                    </td>
                    <td>
                        <ul class="list-icons">
                            <li>
                                <a href="{{ path('project_view', {'id': project.id}) }}">
                                    <img class="svg black" src="{{ asset('assets/shop/images/eye.svg') }}" alt="eye">
                                    <span>Voir</span>
                                </a>
                            </li>
                            {% if project.state in constant("App\\Entity\\Project::STATE_EDITABLE") %}
                                <li>
                                    <a href="{{ path('project_switch', {'id': project.id}) }}">
                                        <img class="svg black" src="{{ asset('assets/shop/images/edit.svg') }}" alt="edit">
                                        <span>Modifier</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if project.state in constant("App\\Entity\\Project::STATE_EDITABLE") %}
                                <li>
                                    <a href="{{ path('project_remove_form', {'id': project.id}) }}" class="jsProjectDelete">
                                        <img class="svg black" src="{{ asset('assets/shop/images/trash.svg') }}" alt="trash">
                                        <span>Supprimer</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p><em>{{ 'sylius.ui.no_project'|trans }}</em></p>
    <a href="{{ path('project_create') }}" class="btn">
        <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="papers">
        <span>{{ 'sylius.ui.create_project'|trans }}</span>
    </a>
{% endif %}