{% if versions|length > 0 %}
    <h5 style="margin-top: 25px;" class="text-info">
        Les dernières versions
        <em style="font-size: 10px;font-weight: normal;color: lightgrey;">{{ versions[0].refBase }}</em>
    </h5>
    {% for version in versions %}
        <div class="alert alert-version
                {% if version.id == idCurrent %}alert-current{% endif %}
            " style="
                {% if version.state == "draft" %}border-left: 3px solid #f4ab43;{% endif %}
                {% if version.state == "publish" %}border-left: 3px solid #78bd5d;{% endif %}
                {% if version.state == "wait" %}border-left: 3px solid #59c4e4;{% endif %}

                ">

            {% if version.id == idCurrent %}
                <span class="arrow-current bg-info"><i class="fa fa-arrow-right"></i></span>
            {% endif %}



            <b>{% if version.master %}<i class="fa fa-star"></i>{% endif %} {{ version.versionNumber }}</b>

            {% if version.state == "draft" %}<span class="label label-warning">Brouillon</span>{% endif %}
            {% if version.state == "publish" %}<span class="label label-success">En ligne</span>{% endif %}
            {% if version.state == "wait" %}<span class="label label-info">En validation</span>{% endif %}

            <br/>
            Date de création : {{ version.created|date("m/d/Y h:i", "Europe/Paris") }}<br/>
            Créé par : <b>{{ version.createdBy }}</b><br/>



            <div style="text-align: left; margin-top: 5px;">
                <div class="btn-group">
                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle waves-effect waves-light" type="button">&nbsp; Faire une action</button>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="{{ path('admin_'~ entity ~'_edit', {id: version.id}) }}" style="position: relative"  {% if not edit %}onclick="if (!confirm('Confirmez-vous cette action (Vous allez perder toutes les données non sauvegardées) ?')){ return false;}"{% endif %}>
                                <i class="fa fa-edit bg-default" style="padding: 4px; border-radius: 50%;font-size: 10px;"></i> &nbsp; Modifier à partir de cette version
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(entity ~'_show_preview', {id: version.id}) }}" target="_blank" style="position: relative">
                                <i class="fa fa-cogs bg-info" style="padding: 4px; border-radius: 50%;font-size: 10px;"></i> &nbsp; Voir une preview de cette version
                            </a>
                        </li>
                        <li class="divider"></li>

                        {% if version.state != "publish" %}
                            <li>
                                <a href="{{ path('admin_'~ entity ~'_publish', {id: version.id, edit: edit}) }}" style="position: relative" onclick="if (!confirm('Confirmez-vous cette action (Mise en ligne) ?')){ return false;}">
                                    <i class="fa fa-check bg-success" style="padding: 4px; border-radius: 50%;font-size: 10px;"></i> &nbsp; Mettre cette version en ligne
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('admin_'~ entity ~'_unpublish', {id: version.id, edit: edit}) }}" style="position: relative" onclick="if (!confirm('Confirmez-vous cette action (Mise en Hors-ligne) ?')){ return false;}">
                                    <i class="fa fa-exclamation-circle bg-primary" style="padding: 4px; border-radius: 50%;font-size: 10px;"></i> &nbsp; Mettre cette version en hors-ligne
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_'~ entity ~'_regenerate_slug', {id: version.id, edit: edit}) }}" style="position: relative" onclick="if (!confirm('Confirmez-vous cette action (Régénération du slug) ?')){ return false;}">
                                    <i class="fa fa-refresh bg-success" style="padding: 4px; border-radius: 50%;font-size: 10px;"></i> &nbsp; Regénérer le slug
                                </a>
                            </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('admin_'~ entity ~'_duplicate_version', {id: version.id, edit: edit}) }}" style="position: relative"  onclick="if (!confirm('Confirmez-vous cette action (Duplication de la version en nouvel élément) ?')){ return false;}">
                                <i class="fa fa-paste bg-warning" style="padding: 3px 4px 4px 4px; border-radius: 50%;font-size: 10px;"></i> &nbsp; Dupliquer cette version comme nouvel élément
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('admin_'~ entity ~'_delete_version', {id: version.id, edit: edit}) }}" style="position: relative"  onclick="if (!confirm('Confirmez-vous cette action (Suppression de la version) ?')){ return false;}">
                                <i class="fa fa-times bg-danger" style="padding: 3px 4px 4px 4px; border-radius: 50%;font-size: 10px;"></i> &nbsp; Supprimer cette version
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info">
        Aucune version trouvée...
    </div>
{% endif %}