<div style="position: absolute;right: 10px;z-index: 10; top: -82px;">
    <a href="{{ path(path, {refBase: refBase, idCurrent: form.vars.data.id }) }}" class="btn btn-info btn-versions-open" style="float: right;    top: -10px;"><i class="fa fa-archive"></i> &nbsp;<b>Archives</b> <br><em style="font-size: 12px;">Voir toutes les versions</em></a>
</div>