{% set menuActive = 'deliverys' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Consitions de livraison' %}


{%  block options %}
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/Delivery/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_delivery_list'} %}

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.zip') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, "Département", 'et.zip') }} {% if pagination.isSorted('et.zip') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.country') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, "Pays", 'et.country') }} {% if pagination.isSorted('et.country') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.hour') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, "Délais", 'et.hour') }} {% if pagination.isSorted('et.hour') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.deliver') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, "Livreur", 'et.deliver') }} {% if pagination.isSorted('et.deliver') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.type') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, "Type", 'et.type') }} {% if pagination.isSorted('et.type') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'et.created') }} {% if pagination.isSorted('et.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for delivery in pagination %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ delivery.id }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {{ delivery.zip }}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {{ delivery.country }}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {{ delivery.hour }}h
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {{ delivery.deliver }}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {{ delivery.type }}
                                    </td>
                                    <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ delivery.created|date("m/d/Y h:i", "Europe/Paris") }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
