{% extends 'admin/security/layout.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <script>
            document.location.href="{{ path('admin_homepage') }}"
        </script>
    {% endif %}
    <div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div></div><div id="px-breakpoint-lg"></div><div id="px-breakpoint-md"></div><div id="px-breakpoint-sm"></div><div id="px-breakpoint-xs"></div>
    <div class="page-signin-modal modal" style="display: block;margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="box m-a-0">
                    <div class="box-row">
                        <div class="box-cell col-md-5 bg-primary p-a-4">
                            <div class="text-xs-center text-md-left">
                                <a class="px-demo-brand px-demo-brand-lg" href="#">
                                    <span class="px-demo-logo m-t-0"><span class="px-demo-logo-1"></span><span class="px-demo-logo-2"></span><span class="px-demo-logo-3"></span><span class="px-demo-logo-4"></span><span class="px-demo-logo-5"></span><span class="px-demo-logo-6"></span><span class="px-demo-logo-7"></span><span class="px-demo-logo-8"></span><span class="px-demo-logo-9"></span></span>
                                    <span class="font-size-20 line-height-1">HUB 142</span></a>
                                <div class="font-size-15 m-t-1 line-height-1">Simple. Flexible. Powerful.</div>
                            </div>
                            <ul class="list-group m-t-3 m-b-0 visible-md visible-lg visible-xl" style="padding: 0;">
                                <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-sitemap text-white"></i> Gestion des stocks</li>
                                <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-cogs text-white"></i> Evènements</li>
                                <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-outdent text-white"></i> Utilisateurs</li>
                            </ul>
                        </div>
                        <div class="box-cell col-md-7">
                            <form action="{{ path('admin_login') }}" class="p-a-4" id="page-signin-form" method="post" novalidate>
                                <h4 class="m-t-0 m-b-4 text-xs-center font-weight-semibold">Authentifiez-vous à votre compte</h4>
                                {% if error is not null %}
                                    <div class="form-group has-error has-feedback" style="font-size: 12px;text-align: center;margin-bottom: 0px; color: red;">
                                        <p class="text-danger">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </p>
                                    </div>
                                    <br>
                                {% endif %}

                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="form-group has-error has-feedback" style="font-size: 12px;text-align: center;margin-bottom: 0px; color: red;">
                                        <p class="text-primary">
                                            {{ flashMessage|raw }}
                                        </p>
                                    </div>
                                    <br>
                                {% endfor %}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="form-group has-error has-feedback" style="font-size: 12px;text-align: center;margin-bottom: 0px; color: red;">
                                        <p class="text-danger">
                                            Votre compte vient d'être banni durant 1 heure pour cause de 5 tentatives de connexion incorrectes.
                                        </p>
                                    </div>
                                    <br>
                                {% endfor %}


                                <fieldset class="page-signin-form-group form-group form-group-lg">
                                    <input type="text" id="username" name="_username" class="page-signin-form-control form-control" value="{{ last_username }}" placeholder="{{ 'login.username'|trans({}, 'security') }}" required >
                                </fieldset>

                                <fieldset class="page-signin-form-group form-group form-group-lg">
                                    <input type="password" id="password" name="_password" class="page-signin-form-control form-control" placeholder="{{ 'login.password'|trans({}, 'security') }}" required >
                                </fieldset>

                                <div class="clearfix">
                                            <input type="checkbox" id="remember_me" name="_remember_me" tabindex="0" class="hidden">
                                    <label for="remember_me" class="custom-control custom-checkbox pull-xs-left">
                                            <span class="custom-control-indicator"></span>
                                            {{ 'login.keep_logged'|trans({}, 'security') }}
                                        </label>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                {% if target_path is not null %}
                                    <input type="hidden" name="_target_path" value="{{ target_path }}" />
                                {% endif %}
                                <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">{{ 'login.button'|trans({}, 'security') }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-responsive-bg">
        <div class="px-responsive-bg-overlay" style="background: rgb(0, 0, 0); opacity: 0.2;"></div>
        <img alt="" src="{{ asset('assets/admin/images/signin-bg-' ~ random(range(1, 9)) ~ '.jpg') }}" style="position:fixed; background-attachment:cover;">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#remember_me').on('change', function(){
            if ($(this).is(':checked'))
            {
                $('.custom-control-indicator').css('background', '#51bf99').css('boxShadow', '0 0 0 1px #41b08a inset');
            }
            else
            {
                $('.custom-control-indicator').css('background', 'none').css('boxShadow', '0 0 0 1px #d6d6d6 inset');
            }
        });
    </script>
{% endblock %}
