{% extends 'admin/security/layout.html.twig' %}

{% block title %}Mot de passe oublié / Modifier{% endblock %}


{% block content %}

    <div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div></div><div id="px-breakpoint-lg"></div><div id="px-breakpoint-md"></div><div id="px-breakpoint-sm"></div><div id="px-breakpoint-xs"></div>
    <div class="page-signin-modal modal" style="display: block;margin-top: 10%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="box m-a-0">
                    <div class="box-row">
                        <div class="box-cell col-md-5 bg-primary p-a-4">
                            <div class="text-xs-center text-md-left">
                                <a class="px-demo-brand px-demo-brand-lg" href="#">
                                    <span class="px-demo-logo m-t-0"><span class="px-demo-logo-1"></span><span class="px-demo-logo-2"></span><span class="px-demo-logo-3"></span><span class="px-demo-logo-4"></span><span class="px-demo-logo-5"></span><span class="px-demo-logo-6"></span><span class="px-demo-logo-7"></span><span class="px-demo-logo-8"></span><span class="px-demo-logo-9"></span></span>
                                    <span class="font-size-20 line-height-1">Disko</span></a>
                                <div class="font-size-15 m-t-1 line-height-1">Simple. Flexible. Powerful.</div>
                            </div>
                            <ul class="list-group m-t-3 m-b-0 visible-md visible-lg visible-xl" style="padding: 0;">
                                <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-sitemap text-white"></i> Small teams huge impact</li>
                                <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-cogs text-white"></i> New creative process</li>
                                <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-outdent text-white"></i> Fast and furious</li>
                            </ul>
                        </div>
                        <div class="box-cell col-md-7">
                            <form action="{{ path('admin_forget_password_reset', {token: passwordRequest.token}) }}" class="p-a-4" id="page-signin-form" method="post">
                                <h4 class="m-t-0 m-b-4 text-xs-center font-weight-semibold">Modifier votre mot de passe</h4>

                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="form-group has-error has-feedback" style="font-size: 12px;text-align: center;margin-bottom: 0px; color: red;">
                                        <p class="text-primary">
                                            {{ flashMessage|raw }}
                                        </p>
                                    </div>
                                    <br>
                                {% endfor %}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="form-group has-error has-feedback" style="font-size: 12px;text-align: center;margin-bottom: 0px; color: red;">
                                        <p class="text-danger">
                                            {{ flashMessage|raw }}
                                        </p>
                                    </div>
                                    <br>
                                {% endfor %}

                                {% if
                                    form.plainPassword.vars['errors'] |length > 0 or
                                    form.plainPassword.first.vars['errors'] |length > 0 or
                                    form.plainPassword.second.vars['errors'] |length > 0
                                %}

                                    <div class="form-group has-error has-feedback" style="font-size: 12px;text-align: center;margin-bottom: 0px; color: red;">
                                        <p class="text-danger">
                                            Les mot de passes doivent être identiques
                                        </p>
                                    </div>
                                    <br>
                                {% endif %}


                                <fieldset class="page-signin-form-group form-group form-group-lg">
                                    {{ form_widget(form.plainPassword.first, {attr:{'placeholder': "Mot de passe *", class: "page-signin-form-control form-control"}}) }}
                                </fieldset>

                                <fieldset class="page-signin-form-group form-group form-group-lg">
                                    {{ form_widget(form.plainPassword.second, {attr:{'placeholder': "Répétez le mot de passe *", class: "page-signin-form-control form-control"}}) }}
                                </fieldset>


                                <br/>

                                {{ form_rest(form) }}

                                <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">{{ 'login.send'|trans({}, 'security') }}</button>

                                <br/>
                                <div>
                                    <a href="{{ path('login') }}"  class="text-primary" style="float: right; font-size: 11px;">Se connecter</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-responsive-bg">
        <div class="px-responsive-bg-overlay" style="background: rgb(0, 0, 0); opacity: 0.2;"></div>
        <img alt="" src="{{ asset('assets/admin/images/signin-bg-' ~ random(range(1, 9)) ~ '.jpg') }}" style="position:fixed; background-attachment:cover;">
    </div>
{% endblock %}
