{% set menuActive = 'maintenance' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Mise en maintenance' %}


{%  block options %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 m-b-2 col-sm-12">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div class="alert alert-warning">
                                Merci de vérifier que votre ip : <b>{{ app.request.getClientIp }}</b> est bien dans la liste des ips whitelistées avant de mettre en maintenance.

                                <br/><br/>

                                <p>Liste des <b>ips whitelistées</b> : (par défault, les ips de l'agence <b>Disko</b>)</p>
                                <p>
                                <ul>
                                    {% for ip in ips_maintenance %}
                                    <li>
                                        {% if ip == app.request.getClientIp %}
                                            <span class="text-success"><b>{{ ip }}</b></span>
                                        {% else %}
                                            {{ ip }}
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                </p>
                            </div>


                            <p style="text-align: center">
                                <a href="{{ path('admin_maintenance_toggle', {state: 1}) }}" class="btn btn-info">Activer la maintenance (24h)</a>
                                <a href="{{ path('admin_maintenance_toggle', {state: 0}) }}" class="btn btn-warning">Désactiver la maintenance (Maintenant)</a>
                            </p>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
