
<div class="row">

    <div class="col-md-6">
        <h4 style="text-align:center; margin-top: 10px;">
            <img src="{{ asset('assets/admin/images/google-logo.png') }}" style="height: 80px;">
            <br/>
            <em class="text-default" style="font-size: 12px;">Balises Meta</em>
        </h4>

        {% include "@Admin/partials/form/text-line.html.twig" with {
        'form' : form.seoMetaTitle,
        'label': "Titre"
        } %}

        {% include "@Admin/partials/form/text-line.html.twig" with {
        'form' : form.seoMetaDescription,
        'label': "Description"
        } %}

        {% include "@Admin/partials/form/text-line.html.twig" with {
        'form' : form.seoMetaKeywords,
        'label': "Mot clés"
        } %}
    </div>
    <div class="col-md-6">
        <h4 style="text-align:center;margin-top: 10px;">
            <img src="{{ asset('assets/admin/images/facebook-logo.png') }}" style="height: 80px;">
            <br/>
            <em class="text-default" style="font-size: 12px;">Balises OGG</em>
        </h4>

        {% include "@Admin/partials/form/text-line.html.twig" with {
        'form' : form.ogTitle,
        'label': "Titre "
        } %}

        {% include "@Admin/partials/form/text-line.html.twig" with {
        'form' : form.ogDescription,
        'label': "Description"
        } %}

        {% include "@Admin/partials/form/image-line.html.twig" with {
        'form' : form.ogCover,
        'modeSmall': true,
        'label': "Image"
        } %}

    </div>
</div>
