{% set menuActive = 'services' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Edition d'un service" %}

{% block content %}

    <form action="" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-12">

                {% include "@Admin/Service/partials/form.html.twig" with {'edit': true} %}

                <button class="btn btn-info btn-save">
                    <i class="fa fa-save"></i> Mettre à jour
                </button>
            </div>
        </div>
    </form>
{% endblock %}
