{% set menuActive = 'services' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Services' %}


{%  block options %}

    {% if not is_granted('ROLE_VEOLOG_ADMIN') %}
        <a class="btn btn-success btn-xs" href="{{ path('admin_service_create') }}">
            <i class="fa fa-plus "></i> Ajouter
        </a>
    {% endif %}
    <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_service_export'}) }}">
        <i class="fa fa-download "></i> Exporter

    </button>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/Service/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_service_list'} %}

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'app.service.name'|trans(), 'et.name') }} {% if pagination.isSorted('et.name') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.code') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'app.service.code'|trans(), 'et.code') }} {% if pagination.isSorted('et.code') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.stock') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'app.service.stock'|trans(), 'et.stock') }} {% if pagination.isSorted('et.stock') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.isServiceStandard') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'app.service.is_service_standard'|trans(), 'et.isServiceStandard') }} {% if pagination.isSorted('et.isServiceStandard') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'et.created') }} {% if pagination.isSorted('et.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for service in pagination %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ service.id }}</td>
                                    <td style="vertical-align:middle;font-size: 12px"><a href="{{ path('admin_service_edit', {'id': service .id, locale: askLocale}) }}">{{ service.translate(askLocale).name }}</a></td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ service.translate(askLocale).code }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ service.translate(askLocale).stock|capitalize }}</td>
                                    <td style="text-align:center;vertical-align:middle;">
                                        {% if service.translate(askLocale).isServiceStandard %}
                                          <span class="label label-success label-pill" style="font-size: 5px;line-height: 14px;"><i class="fa fa-check"></i></span>
                                        {% else %}
                                          <span class="label label-danger label-pill" style="font-size: 5px;line-height: 14px;"><i class="fa fa-times"></i></span>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ service.translate(askLocale).created|date("m/d/Y h:i", "Europe/Paris") }}</td>
                                    <td style="width: 150px;text-align:center;vertical-align:middle;">
                                            <a title="Modifier" href="{{ path('admin_service_edit', {'id': service.id, locale: askLocale}) }}" class="btn btn-xs btn-default">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            {% if not is_granted('ROLE_VEOLOG_ADMIN') %}
                                                <a title="Dupliquer" href="{{ path('admin_service_duplicate', {'id': service.id}) }}" class="btn btn-xs btn-default duplicate-button">
                                                    <i class="fa fa-paste"></i>
                                                </a>

                                                <a title="Supprimer" href="{{ path('admin_service_delete', {'id': service.id}) }}" class="btn btn-xs btn-danger delete-button">
                                                    <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                                </a>
                                            {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
