
<form action="" method="get" enctype="multipart/form-data" class="form-horizontal  p-y-0" novalidate>
    {{ form_errors(form.id) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.id, "N° de commande", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.id, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.firstname, "Prénom", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.lastname, "Nom", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.officeNumber, "Numéro de bureau", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.officeNumber, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.stage, "Etage", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.stage, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.state, "Etat", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.state, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>
