{% set menuActive = 'myBoxesCommands' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Commandes' %}


{%  block options %}
    <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_myBoxesCommand_export'}) }}">
        <i class="fa fa-download "></i> Exporter

    </button>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/MyBoxesCommand/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_myBoxesCommand_list'} %}

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'N° de commande', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.firstname') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Prénom', 'e.firstname') }} {% if pagination.isSorted('e.firstname') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.lastname') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nom', 'e.lastname') }} {% if pagination.isSorted('e.lastname') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.officeNumber') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Numéro de Bureau', 'e.officeNumber') }} {% if pagination.isSorted('e.officeNumber') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.stage') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Etage', 'e.stage') }} {% if pagination.isSorted('e.stage') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>

                            <th class="">Type</th>
                            <th class="cansort {% if pagination.isSorted('e.state') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Etat', 'e.state') }} {% if pagination.isSorted('e.state') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>

                            <th class="cansort {% if pagination.isSorted('e.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'e.created') }} {% if pagination.isSorted('e.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for myBoxesCommand in pagination %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ myBoxesCommand.id }}</td>

                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesCommand.firstname }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesCommand.lastname }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesCommand.officeNumber }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesCommand.stage }}</td>

                                    <td style="vertical-align:middle;font-size: 12px;width: 150px;">
                                        {% if myBoxesCommand.box is not empty %}
                                            <span class="label label-success label-pill" style="font-size: 11px;">
                                                Rapatriement
                                            </span>
                                            <br/><span style="font-size: 11px"> - {{ myBoxesCommand.box.name }} : {{ myBoxesCommand.box.barcode }}</span>
                                        {% else %}
                                            <span class="label label-warning label-pill" style="font-size: 11px;">
                                                Commande de boxes vides ({{ myBoxesCommand.items|length }} éléments)

                                            </span>
                                            {% for item in myBoxesCommand.items %}
                                                {% if item.quantity > 0 %}
                                                    <br/><span style="font-size: 11px"> - {{ item.quantity }} {{ item.product.name }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {{ myBoxesCommand.state }}
                                    </td>

                                    <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ myBoxesCommand.created|date("d/m/Y h:i", "Europe/Paris") }}</td>
                                    <td style="width: 150px;text-align:center;vertical-align:middle;">
                                            <a title="Supprimer" href="{{ path('admin_myBoxesCommand_delete', {'id': myBoxesCommand.id}) }}" class="btn btn-xs btn-danger delete-button">
                                                <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                            </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
