{% form_theme form 'front/parts/form_theme.html.twig' %}
{{ form_start(form, {'action': path('project_remove', {'id': form.vars.data.id}), 'attr': {'id': 'project-delete-form', 'novalidate': 'novalidate', style: 'width: 100%;'}}) }}
    <div class="form__body" style="    float: left;
    width: 70%;
    padding-top: 8px;">
        {{ form_widget(form) }}
    </div><!-- /.form__body -->
    <div class="form__actions" style="float: right;">
        <input type="submit" value="{{ 'sylius.ui.modal.delete'|trans }}" class="btn btn--md form__btn btn--dark">
    </div><!-- /.form__actions -->
{{ form_end(form) }}