{% set isShuttle = form.vars.data.type == 'shuttle' %}
{% set isCaveInterne = form.vars.data.cave == constant('App\\Entity\\Project::CAVE_115') %}

<style>
/********************************************************************************/
/** Block Information de retour sur le formulaire de projet**********************/
.block-need-return {
  border: 2px solid #d8b693;
  border-radius: 10px;
  position : relative;
  padding: 10px;
}
.block-need-return > .block-need-return-arrow {
  position : absolute;
  color: #d8b693;
  top : -30px;
  font-size: 26px;
  right : calc( 100% - 30px);
}
@media (min-width: 768px) {
  .block-need-return > .block-need-return-arrow {
      right : calc( 50% - 27px);
  }
}
@media (min-width: 992px) {
  .block-need-return > .block-need-return-arrow {
      right : calc( 41.66667% - 27px);
  }
}
/********************************************************************************/
</style>

{{ form_start(form, {'attr': {'id': 'project-create', 'novalidate': ''}}) }}
    <div class="form__section row">
        <div class="container col-xl-9 col-md-11">
            <div class="form__head">
                {% if edit %}
                    <section class="section-project section-project--alt section-project--empty" style="padding: 0;min-height: 0;">
                        <div class="container container-md">
                            <a href="{{ path('project_summary') }}" class="link-back">
                                <img class="svg" src="{{ asset('assets/front/images/angle-left.svg') }}" alt="angle-left">
                                <span>Retour à la commande</span>
                            </a>
                        </div><!-- /.container -->
                    </section><!-- /.section-project-/-alt -->
                    <h2 class="form__title">Edition de la commande : {{ form.vars.data.name }}</h2>
                {% else %}
                    <h2 class="form__title">
                        Commande
                        {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
                            standard
                        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                            urgente
                        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                            navette 142
                        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_BULK") %}
                            groupée
                        {% endif %}
                    </h2>
                {% endif %}
                {#{% if not edit and form.vars.data.type != "shuttle" %}
                    <div class="form__subtitle">
                        <p>Veuillez sélectionner votre stock de départ : <b>{{ 'app.cave.front.cave_115'|trans }}</b> ou <b>{{ 'app.cave.front.cave_pantin'|trans }}.</p>
                    </div><!-- /.form__subtitle -->
                {% endif %}#}
                {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                    <div class="form__subtitle">
                        <p style="color: red;"> Les commandes urgentes sont disponibles sur Paris et les départements 92, 93, 94. Passé 16h, votre commande urgente sera livrée le lendemain matin</p>
                    </div><!-- /.form__subtitle -->
                {% endif %}
            </div><!-- /.form__head -->
            <div class="form__body">
                <div class="form__group">
                    <div class="form__subhead">
                        <h4>
                            <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">
                            <span>Votre commande</span>
                        </h4>
                        {% if edit %}
                            <p>Date de création de la commande :
                            le {{ form.vars.data.created|date("d/m/Y", "Europe/Paris") }}</p>
                        {% endif %}
                    </div><!-- /.form__subhead -->
                    <div class="form-row justify-content-between">
                        <div class="col-md-6 col-lg-5">
                            <div class="form__row js-group">
                                {{ form_row(form.cave, {attr:{class: 'custom-select'}}) }}
                            </div><!-- /.form__row -->
                            <div class="form__row js-group jsFocusLabel">
                                {{ form_row(form.name) }}
                            </div><!-- /.form__row -->
                            <div class="form__row js-group">
                                {{ form_row(form.billingCenter, {attr:{class: 'custom-select'}}) }}
                            </div><!-- /.form__row -->
                        </div><!-- /.col-md-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="form__row js-group jsFocusLabel">
                                <label for="field-delivery" class="form__label">Date de livraison demandée*</label>
                                <div class="form__controls datepicker-wrapper">
                                    {{ form_row(form.dateStart, {
                                            attr: {
                                                class:'field jsDateStart ' ~ (isCaveInterne?'cave-interne':'datepicker no-weekend cave-externe'),
                                                readonly : isCaveInterne,
                                            }
                                        })
                                    }}
                                </div><!-- /.form__controls -->
                                {% if isCaveInterne %}
                                    <p class="form__info">Les commandes sur {{ 'app.cave.front.la_cave_115'|trans }} se font toujours le jour même.</p>
                                {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
                                    <p class="form__info">Attention : les demandes passées le Jour J après 17h seront traitées à J+1 pour Paris et l’Île-de-France et après 13h pour le reste de la France.</p>
                                {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                                    <p class="form__info">Attention : les demandes passées le jour J après 16h seront livrées à J+1</p>
                                {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                                    <p class="form__info">10h: heure limite pour passer les commandes du jour pour livraison entre 14h et 15h au 142. Passé 10h, les
                                        commandes seront livrées à J+1</p>
                                {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_BULK") %}
                                    <p class="form__info">Attention : les demandes passées le Jour J après 17h seront traitées à J+1 pour Paris et l’Île-de-France et après 13h pour le reste de la France.</p>
                                {% endif %}
                            </div><!-- /.form-group col-md-5 -->
                            {% if form.vars.data.type != constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                            <div class="form__row js-group jsFocusLabel">
                                <div class="form__controls">
                                    {{ form_row(form.hourStart, {attr:{class: 'custom-select'}}) }}
                                </div><!-- /.form__controls -->
                            </div><!-- /.form-group col-md-5 -->
                            {% endif %}
                            {% if not isCaveInterne %}
                                <div class="form__row">
                                    <div class="form__controls">
                                        <div class="checkbox">
                                            {{ form_row(form.needReturn) }}
                                        </div><!-- /.checkbox -->
                                    </div><!-- /.form__controls -->
                                </div><!-- /.form__row -->
                            {% endif %}
                        </div><!-- /.form-group col-md-5 -->
                    </div><!-- /.form-row -->

                    {% if not isCaveInterne %}
                        <div class="form-row justify-content-between needReturn block-need-return">
                            <div class="block-need-return-arrow">
                                &#x25b2;
                            </div>

                            <div class="col-md-6 col-lg-5">
                                <div class="form__row js-group">
                                    {{ form_row(form.infoReturn) }}
                                </div><!-- /.form__row -->

                                <div class="form__row js-group">
                                    {{ form_row(form.emailReturn) }}
                                </div><!-- /.form__row -->

                                <div class="form__row js-group">
                                    {{ form_row(form.phoneReturn) }}
                                </div><!-- /.form__row -->
                            </div><!-- /.col-md-6 -->

                            <div class="col-md-6 col-lg-5">
                                <div class="form__row js-group jsFocusLabel">
                                    <div class="form__controls datepicker-wrapper">
                                        {{ form_row(form.dateEnd, {attr: {class:'field datepicker jsDateStart no-weekend ' ~ (isCaveInterne?'cave-interne':'cave-externe')}}) }}
                                    </div><!-- /.form__controls -->

                                    <p class="form__note">Retour en stock des marchandises : J+1 de la date de fin de commande.</p>
                                </div><!-- /.form-group js-group -->

                                <div class="form__row js-group jsFocusLabel project_hourEnd">
                                    {{ form_row(form.hourEnd) }}
                                </div><!-- /.form__row js-group-->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.form-row -->
                    {% endif %}
                </div><!-- /.form__group -->
                <div class="form__group">
                    <div class="form__subhead">
                        <h4>
                            <img class="svg" src="{{ asset('assets/front/images/user.svg') }}" alt="">
                            <span>Destinataire</span>
                        </h4>
                    </div><!-- /.form__subhead -->
                    <div class="form-row justify-content-between">
                        <div class="col-md-6 col-lg-5">
                            <div class="form__row js-group jsFocusLabel">
                                {{ form_row(form.recipientSociety) }}
                            </div><!-- /.form__row -->

                            <div class="form__row js-group jsFocusLabel">
                                {{ form_row(form.recipientLastName) }}
                            </div><!-- /.form__row -->

                            <div class="form__row js-group jsFocusLabel">
                                {{ form_row(form.recipientFirstName) }}
                            </div><!-- /.form__row -->

                            <div class="form__row js-group jsFocusLabel">
                                {{ form_row(form.recipientMobilePhone) }}
                            </div><!-- /.form__row -->

                            <div class="form__row js-group jsFocusLabel">
                                {{ form_row(form.recipientPhone) }}
                            </div><!-- /.form__row -->

                            <div class="form__row js-group jsFocusLabel">
                                {{ form_row(form.recipientEmail) }}
                            </div><!-- /.form__row -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 col-lg-5">
                            {% if not isCaveInterne %}
                                <div class="form__row js-group">
                                    {# <a href="{{ asset('pdf/delais-transporteurs.pdf') }}"
                                        target="_blank"
                                        class="link"
                                        style="
                                            position: absolute;
                                            left: 42px;
                                            font-size: 11px;
                                            top: 2px;
                                            z-index: 2;
                                        ">
                                        <span>Délais transporteurs</span>
                                    </a> #}

                                    {% if app.request.get('type') == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                                        {{ form_row(form.recipientCountry) }}
                                    {% else %}
                                        {% if isShuttle %}
                                            <div class="form__row jsFocusLabel filled">
                                                <label class="form__label">Pays*</label>
                                                <div class="form__controls">
                                                    <select  class="field field-country" disabled  style="color: lightgrey !important;">
                                                        <option value="FR" selected>France</option>
                                                    </select>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6.072" class="svg svg-arrow replaced-svg" viewBox="0 0 11 6.072"><path d="M4.836 5.8L.3 1.609A.892.892 0 0 1 .3.276a1.08 1.08 0 0 1 1.442 0l3.806 3.513 3.7-3.5a1.082 1.082 0 0 1 1.443-.022.892.892 0 0 1 .019 1.333L6.288 5.787a1.079 1.079 0 0 1-1.452.013z" fill="#2C455B"></path></svg>
                                                </div>
                                            </div>

                                            <div style="display: none;">
                                                {{ form_row(form.recipientCountry) }}
                                            </div>
                                        {% else %}
                                            {{ form_row(form.recipientCountry) }}
                                        {% endif %}
                                    {% endif %}

                                </div><!-- /.form__row -->
                            {% endif %}
                            <div class="form__row js-group jsFocusLabel">
                                {% if isCaveInterne %}
                                    <div class="form__row jsFocusLabel" >
                                        <label class="form__label">Etage *</label>
                                        <div class="form__controls">
                                            {{ form_widget(form.recipientAddress) }}
                                            {{ form_errors(form.recipientAddress) }}
                                        </div>
                                    </div>
                                {% elseif isShuttle %}
                                    <div class="form__row jsFocusLabel filled" >
                                      {{ form_widget(form.adressType, {'attr': {'class': 'custom-select'}}) }}
                                      {{ form_errors(form.adressType) }}
                                        {#<label class="form__label">Adresse*</label>
                                        <div class="form__controls">
                                            <input type="text"  style="color: lightgrey !important;" class="field" value="{{ form.recipientAddress.vars.data }}" disabled>
                                        </div>#}
                                    </div>
                                    <div style="display: none;">
                                        {{ form_row(form.recipientAddress) }}
                                    </div>
                                {% else %}
                                    {{ form_row(form.recipientAddress) }}
                                {% endif %}
                            </div><!-- /.form__row -->
                            <div class="form__row js-group jsFocusLabel">
                                {{ form_row(form.recipientInformation) }}
                            </div><!-- /.form__row -->
                            {% if isCaveInterne %}
                                <div class="form__row jsFocusLabel" >
                                    <label class="form__label">Bureau *</label>
                                    <div class="form__controls">
                                        {{ form_widget(form.recipientAddressComplement) }}
                                        {{ form_errors(form.recipientAddressComplement) }}
                                    </div>
                                </div>
                            {% elseif isShuttle %}
{#                                <div class="form__row jsFocusLabel filled" >#}
{#                                    <label class="form__label">Adresse complémentaire</label>#}
{#                                    <div class="form__controls">#}
{#                                        <input type="text"  style="color: lightgrey !important;" class="field" value="{{ form.recipientAddressComplement.vars.data }}" disabled>#}
{#                                    </div>#}
{#                                </div>#}
                                <div style="display: none;">
                                    {{ form_row(form.recipientAddressComplement) }}
                                </div>
                            {% else %}
                                {{ form_row(form.recipientAddressComplement) }}
                            {% endif %}

                            {% if not isCaveInterne %}
                                <div class="form__row js-group">
                                    {% if isShuttle %}
                                        {#<div class="form__row jsFocusLabel filled" >
                                            <label class="form__label">Code postal*</label>
                                            <div class="form__controls">
                                                <input type="text"  style="color: lightgrey !important;" class="field" value="{{ form.recipientZip.vars.data }}" disabled>
                                            </div>
                                        </div>#}

                                        <div style="display: none;">
                                            {{ form_row(form.recipientZip) }}
                                        </div>
                                    {% else %}
                                        {{ form_row(form.recipientZip) }}
                                    {% endif %}
                                </div><!-- /.form__row -->
                            {% endif %}
                            {% if not isCaveInterne %}
                                <div class="form__row js-group jsFocusLabel">
                                    {% if isShuttle %}
                                        {#<div class="form__row jsFocusLabel filled" >
                                            <label class="form__label">Ville*</label>
                                            <div class="form__controls">
                                                <input type="text"  style="color: lightgrey !important;" class="field" value="{{ form.recipientCity.vars.data }}" disabled>
                                            </div>
                                        </div>#}

                                        <div style="display: none;">
                                            {{ form_row(form.recipientCity) }}
                                        </div>
                                    {% else %}
                                        {{ form_row(form.recipientCity) }}
                                    {% endif %}
                                </div><!-- /.form__row -->
                            {% endif %}
                        </div><!-- /.col-md-5 -->
                    </div><!-- /.form-row -->
                </div><!-- /.form__group -->
                {% if not isCaveInterne %}
                    <div class="form__group">
                        <div class="form__subhead">
                            <h4>
                                <img class="svg" src="{{ asset('assets/front/images/package-3.svg') }}" alt="">
                                <span>Prestations standards - avant livraison</span><br/>
                                <a href="{{ path('services') }}" target="_blank" class="link"><span>Consulter les tarifs</span></a>
                                <p class="form__note">Ce service vous sera facturé. Avant de valider votre commande merci de consulter la <a href="{{ asset('assets/front/Grille Tarifaire Globale MH_HUB142 2020.pdf') }}">grille tarifaire</a> qui servira de base de calcul.</p>
                            </h4>
                        </div><!-- /.form__subhead -->
                        <div class="form__row form-row mb-4">
                            <div class="col-md-4">
                                <ul class="list-checkboxes">
                                    {% set cpt = 3 %}
                                    {% for child in form.beforeServices.children %}
                                        {% if cpt == 3 %}
                                            {% set spl = child.vars.label|split('::') %}
                                            <li class="cave_service cave_{{ spl[1] }} {% if not spl[2] %}cave_service_no_standard{% endif %}">
                                                <div class="checkbox">
                                                    <input type="radio" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                                    <label class="toolbox-holder" for="{{ child.vars.id }}">
                                                        {{ spl[0] }}
                                                        <div class="toolbox">
                                                            <div class="toolbox__content">
                                                                <p>{{ child.vars.attr['data-description'] }}</p>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div><!-- /.checkbox -->
                                            </li>
                                            {% set cpt = 1 %}
                                        {% else %}
                                            {% set cpt = cpt + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                </ul><!-- /.list-checkboxes -->
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <ul class="list-checkboxes">
                                    {% set cpt = 2 %}
                                    {% for child in form.beforeServices.children %}
                                        {% if cpt == 3 %}
                                            {% set spl = child.vars.label|split('::') %}
                                            <li class="cave_service cave_{{ spl[1] }}  {% if not spl[2] %}cave_service_no_standard{% endif %}">
                                                <div class="checkbox">
                                                    <input type="radio" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                                    <label class="toolbox-holder" for="{{ child.vars.id }}">
                                                        {{ spl[0] }}
                                                        <div class="toolbox">
                                                            <div class="toolbox__content">
                                                                <p>{{ child.vars.attr['data-description'] }}</p>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div><!-- /.checkbox -->
                                            </li>
                                            {% set cpt = 1 %}
                                        {% else %}
                                            {% set cpt = cpt + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                </ul><!-- /.list-checkboxes -->
                            </div><!-- /.col-12 -->
                            <div class="col-md-4">
                                <ul class="list-checkboxes">
                                    {% set cpt = 1 %}
                                    {% for child in form.beforeServices.children %}
                                        {% if cpt == 3 %}
                                            {% set spl = child.vars.label|split('::') %}
                                            <li class="cave_service cave_{{ spl[1] }} {% if not spl[2] %}cave_service_no_standard{% endif %}">
                                                <div class="checkbox">
                                                    <input type="radio" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                                    <label class="toolbox-holder" for="{{ child.vars.id }}">
                                                        {{ spl[0] }}
                                                        <div class="toolbox">
                                                            <div class="toolbox__content">
                                                                <p>{{ child.vars.attr['data-description'] }}</p>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div><!-- /.checkbox -->
                                            </li>
                                            {% set cpt = 1 %}
                                        {% else %}
                                            {% set cpt = cpt + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                </ul><!-- /.list-checkboxes -->
                            </div><!-- /.col-12 -->
                        </div><!-- /.form-row -->
                        {#<div class="form-row">#}
                            {#<div class="col-12">#}
                                {#<div class="form__row js-group jsFocusLabel">#}
                                    {#{{ form_row(form.beforeOther) }}#}
                                {#</div><!-- /.form__row -->#}
                            {#</div><!-- /.col-12 -->#}
                        {#</div><!-- /.form-row -->#}
                    </div><!-- /.form__group -->
                {% endif %}

            </div><!-- /.form__body -->
        </div><!-- /.container -->
    </div><!-- /.form__section -->

    {% if not isCaveInterne %}
        <div class="form__section row form__section--dark needReturn" {{ isShuttle ? 'style="display:none"' : null }}>
            <div class="container col-xl-9 col-md-11">
                <div class="form__body">
                    <div class="form__group">
                        <div class="form__subhead">
                            <h4>
                                <img class="svg" src="{{ asset('assets/front/images/package-2.svg') }}" alt="">
                                <span>Prestations Retour livraison</span><br/>
                                <a href="{{ path('services') }}" target="_blank" class="link"><span>Consulter les tarifs</span></a>
                                <p class="form__note">Ce service vous sera facturé. Avant de valider votre commande merci de consulter la <a href="{{ asset('assets/front/Grille Tarifaire Globale MH_HUB142 2020.pdf') }}">grille tarifaire</a> qui servira de base de calcul.</p>
                            </h4>
                        </div><!-- /.form__subhead -->
                        <div class="form-row mb-4">
                            <div class="col-md-4">
                                <ul class="list-checkboxes">
                                    {% set cpt = 3 %}
                                    {% for child in form.afterServices.children %}
                                        {% if cpt == 3 %}
                                            {% set spl = child.vars.label|split('::') %}
                                            <li class="cave_service cave_{{ spl[1] }} {% if not spl[2] %}cave_service_no_standard{% endif %}">
                                                <div class="checkbox">
                                                    <input type="checkbox" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                                    <label for="{{ child.vars.id }}">{{ spl[0] }}</label>
                                                </div><!-- /.checkbox -->
                                            </li>
                                            {% set cpt = 1 %}
                                        {% else %}
                                            {% set cpt = cpt + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                </ul><!-- /.list-checkboxes -->
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <ul class="list-checkboxes">
                                    {% set cpt = 2 %}
                                    {% for child in form.afterServices.children %}
                                        {% if cpt == 3 %}
                                            {% set spl = child.vars.label|split('::') %}
                                            <li class="cave_service cave_{{ spl[1] }}  {% if not spl[2] %}cave_service_no_standard{% endif %}">
                                                <div class="checkbox">
                                                    <input type="checkbox" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                                    <label for="{{ child.vars.id }}">{{ spl[0] }}</label>
                                                </div><!-- /.checkbox -->
                                            </li>
                                            {% set cpt = 1 %}
                                        {% else %}
                                            {% set cpt = cpt + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                </ul><!-- /.list-checkboxes -->
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <ul class="list-checkboxes">
                                    {% set cpt = 1 %}
                                    {% for child in form.afterServices.children %}
                                        {% if cpt == 3 %}
                                            {% set spl = child.vars.label|split('::') %}
                                            <li class="cave_service cave_{{ spl[1] }}  {% if not spl[2] %}cave_service_no_standard{% endif %}">
                                                <div class="checkbox">
                                                    <input type="checkbox" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                                    <label for="{{ child.vars.id }}">{{ spl[0] }}</label>
                                                </div><!-- /.checkbox -->
                                            </li>
                                            {% set cpt = 1 %}
                                        {% else %}
                                            {% set cpt = cpt + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                </ul><!-- /.list-checkboxes -->
                            </div><!-- /.col-md-4 -->
                        </div><!-- /.form-row -->
                        {#<div class="form-row">#}
                            {#<div class="col-12">#}
                                {#<div class="form__row js-group jsFocusLabel">#}
                                    {#{{ form_row(form.afterOther) }}#}
                                {#</div><!-- /.form__row -->#}
                            {#</div><!-- /.col-12 -->#}
                        {#</div><!-- /.form-row -->#}
                    </div><!-- /.form__group -->
                </div><!-- /.form__body -->
            </div><!-- /.container -->
        </div><!-- /.form__section -->
    {% endif %}

    {% if not isCaveInterne %}
        <div class="form__section row form__section form__section_quote">
            <div class="container col-xl-9 col-md-11">
                <div class="form__body">
                    <div class="form__group">
                        <div class="form__subhead">
                            <h4>
                                <img class="svg" src="{{ asset('assets/front/images/package-3.svg') }}" alt="">
                                <span>Prestations sur devis</span>
                                <a href="{{ path('services') }}" target="_blank" class="link"><span>Comment demander un devis ?</span></a>
                                <p class="form__note">Ce service vous sera facturé. Avant de valider votre commande merci de consulter la <a href="{{ asset('assets/front/Grille Tarifaire Globale MH_HUB142 2020.pdf') }}">grille tarifaire</a> qui servira de base de calcul.</p>
                            </h4>
                        </div><!-- /.form__subhead -->
                        <div class="form__row">
                            <div class="form__controls">
                                <div class="checkbox">
                                    {{ form_row(form.needQuote) }}
                                </div><!-- /.checkbox -->
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->
                        <div class="form__subtitle" {{ isShuttle ? 'style="display:none"' : null }}>
                            <p>Veuillez préciser votre numéro de devis en respectant le format : AAMM_XXX</p>
                        </div>
                        <div class="form__subtitle" {{ isShuttle ? 'style="display:none"' : null }}>
                            <p>En saisissant cette référence vous confirmez avoir <span style="color: #FFA500">valider</span> le devis.</p>
                        </div>
                        <div class="form__row form-row mb-4" {{ isShuttle ? 'style="display:none"' : null }}>
                            <div class="col-md-6 col-lg-5">
                                <div class="js-group jsFocusLabel">
                                    {{ form_row(form.beforeQuote) }}
                                </div><!-- /.form__row -->
                            </div><!-- /.col-md-5 -->
                        </div><!-- /.form__row -->
                    </div><!-- /.form__group -->
                </div><!-- /.form__body -->
            </div><!-- /.container -->
        </div><!-- /.form__section -->
    {% endif %}

    <div class="form__controls  datepicker-wrapper ">
        <div style="display: none">
            {{ form_row(form.type) }}
        </div>
        <input style="display: none" type="text" id="project_dateStart" name="none" class="field datepicker" autocomplete="off">
    </div><!-- /.form__controls -->

    <div class="form__section row">
        <div class="container col-md-9">
            <div class="form__actions">
                <button type="submit" value="Submit" class="btn btn--dark form__btn">
                    <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">
                    <span>Valider</span>
                </button>

                {% if edit %}
                    <p style="text-align: center">
                        <br/>
                        <a href="{{ path('project_summary') }}" class="link-back">
                            <span>Annuler les modifications</span>
                        </a>
                    </p>
                {% endif %}

                {{ form_row(form.cave) }}
                {{ form_row(form._token) }}
                {% if isCaveInterne %}
                    <input type="hidden"
                            id="{{ form.dateEnd.vars.id }}"
                            name="{{ form.dateEnd.vars.full_name }}"
                            value="{{ form.dateEnd.vars.data ? form.dateEnd.vars.data.format('d/m/Y') : null }}">
                    <input type="hidden"
                            id="{{ form.hourEnd.vars.id }}_hour"
                            name="{{ form.hourEnd.vars.full_name }}[hour]"
                            value="{{ form.hourEnd.vars.data ? form.hourEnd.vars.data.format('G') : null }}">
                    <input type="hidden"
                            id="{{ form.hourEnd.vars.id }}_minute"
                            name="{{ form.hourEnd.vars.full_name }}[minute]"
                            value="{{ form.hourEnd.vars.data ? form.hourEnd.vars.data.format('i')|number_format : null }}">
                    <input type="hidden"
                            id="{{ form.recipientZip.vars.id }}"
                            name="{{ form.recipientZip.vars.full_name }}"
                            value="{{ form.recipientZip.vars.data }}">
                    <input type="hidden"
                            id="{{ form.recipientCity.vars.id }}"
                            name="{{ form.recipientCity.vars.full_name }}"
                            value="{{ form.recipientCity.vars.data }}">
                    <input type="hidden"
                            id="{{ form.recipientCountry.vars.id }}"
                            name="{{ form.recipientCountry.vars.full_name }}"
                            value="{{ form.recipientCountry.vars.data }}">
                {% endif %}

                <p class="form__asterisk">* Champs obligatoires</p><!-- /.form__asterisk -->
            </div><!-- /.form__actions -->
        </div><!-- /.container -->
    </div><!-- /.form__section -->
</form>

{% block javascript %}
<script>

</script>
{% endblock %}
