
<script>
    setTimeout(function(){

        $('#project-create select').each(function(){
            $(this).parents('.form__row').addClass('filled');
        });
        $('#project-create input, #project-create select').each(function(){
            if ($(this).val())
            {
                $(this).parents('.form__row').addClass('filled')
            }
        });

        $('.selectric-hours-select').each(function(){

            var val = '';
            $(this).parents('.select').find('.hide').find('select').each(function(){


                var number = $(this).val();
                if (number <= 9)
                {
                    number = '0'+number;
                }

                if (val == '')
                {
                    val = number+' : ';
                }
                else
                {
                    val = val + number;
                }
            });

            $(this).find('.selectric .label').html(val);
        });

        quoteAppear();
        $('#project_needQuote').change(function(){
            quoteAppear();
        });

        function quoteAppear()
        {
            if ($('#project_needQuote').prop("checked"))
            {
                $('.form__section_quote .form__subtitle').show();
                $('.form__section_quote .form-row').show();
            } else {
                $('.form__section_quote .form__subtitle').hide();
                $('.form__section_quote .form-row').hide();
            }
        }
    }, 500);




    checkboxNeedReturn();
    $('#project_needReturn').change(function(e){
        checkboxNeedReturn();
    });

    function checkboxNeedReturn()
    {
        if ($("#project_needReturn").is(":checked"))
        {
            $('.needReturn').fadeIn();
            $('.ui-datepicker').show();
        }
        else
        {
            $('.needReturn').fadeOut();
            $('.ui-datepicker').show();
        }

        $('.ui-datepicker').hide();
    }
</script>


<script>
    updateServicesByCave();
    $('body').on('change', '#project_cave', function(){
        $('.cave_service input').prop('checked', '');
        updateServicesByCave();
    });
    function updateServicesByCave()
    {
        var val = $('#project_cave').val();
        $('.cave_service').parents('.col-md-4').hide();
        $('.cave_service.cave_'+val).parents('.col-md-4').show();
    }

    countryZipCodeLength();
    $('body').on('change', '#project_recipientCountry', function(){
        countryZipCodeLength();
    });

    function countryZipCodeLength()
    {
        var val = $('#project_recipientCountry').val();
        if (val == "FR")
        {
            $('#project_recipientZip').attr('maxLength', 5);
            var val =  $('#project_recipientZip').val().slice(0,5);
            $('#project_recipientZip').val(val);
        }
        else
        {
            $('#project_recipientZip').removeAttr('maxLength');
        }
    }

</script>