

{% if project is not null %}

    <div class="page-bar page-bar--alt">
        <div class="container">
            <div class="page__content">
                <div class="row justify-content-around align-items-center">
                    <div class="col-6 col-md-3">
                        <p>
                            Date : {% if project.needReturn %}Du{% endif %}
                            {{ project.dateStart|date('d/m/Y') }}
                            {% if project.needReturn %}
                                au {{ project.dateEnd|date('d/m/Y') }} {{ project.hourEnd|date('H:i') }}
                            {% endif %}
                        </p>
                    </div><!-- /.col-md-4 -->

                    <div class="col-6 col-md-3">
                        <p>Cave : <b>{{ project.cave|upper }}</b></p>
                    </div><!-- /.col-md-4 -->


                    <div class="col-6 col-md-3">
                        <p>Type : {% include 'hub/project/partials/type.html.twig' %}</p>
                    </div><!-- /.col-md-4 -->


                    {% if form.project.vars.choices|length %}
                        <div class="col-6 col-md-3">
                            <div class="form form--filter">
                                {{ form_start(form, {'attr': {class:"custom-select-simple", 'id': 'sticky-project-switch', 'action': path('project_switch_sticky_menu')}}) }}
                                <div class="select">
                                    {{ form_widget(form.project) }}
                                </div><!-- /.select -->
                                {{ form_end(form) }}
                            </div><!-- /.form -->
                        </div><!-- /.col-md-3 -->
                    {% endif %}
                </div><!-- /.row -->
            </div><!-- /.page__content -->
        </div><!-- /.container -->
    </div><!-- /.page-bar -->
{% else %}
    <div class="page-bar">
        <div class="page__content">
            <p class="page__info">
                <img class="svg" src="{{ asset('assets/front/images/eye.svg') }}" alt="">

                <span>Vous êtes actuellement en mode consultation de catalogue, créez une commande pour réserver des produits</span>
            </p>
        </div><!-- /.page__content -->

        {% if app.session is defined and app.session.get('current_stock').cave != '115' %}
        <div class="page__aside">
            <div class="btn-group btn-group--bar" role="group" aria-label="Basic example">
                <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_SHUTTLE")}) }}" class="btn btn--white">
                    <img class="svg" src="{{ asset('assets/front/images/delivery.svg') }}" alt="">

                    <span>Commande navette 142</span>
                </a>

                <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_URGENCY")}) }}" class="btn btn--grey-dark">
                    <img class="svg" src="{{ asset('assets/front/images/package.svg') }}" alt="">

                    <span>Commande urgente</span>
                </a>

                <a href="{{ path('project_create') }}" class="btn btn--dark">
                    <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">

                    <span>Commande standard</span>
                </a>
            </div><!-- /.btn-group -->
        </div><!-- /.page__aside -->
        {% endif %}
    </div><!-- /.page-bar -->
{% endif %}
