
{% if project.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
    <span style="color: #e2a287;font-weight: bold;">Commande standard</span>
{% elseif  project.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
    <span style="color: orangered;font-weight: bold;">Commande urgente</span>
{% elseif  project.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
    <span style="color: deepskyblue;font-weight: bold;">Commande navette 142</span>
{% elseif  project.type == constant("App\\Entity\\Project::TYPE_BULK") %}
    <span style="color: #9633FF;font-weight: bold;">Commande groupée</span>
{% endif %}