{% if stocks|length > 0 %}
    <div style="width: 300px;margin-right: 40px;">
        <select id="change_stock" class="hide custom-select">
            {% for stock in stocks %}
                <option value="{{ stock.id }}" {% if app.session.get('current_stock').id == stock.id %}selected{% endif %}>{{ stock.translate(app.request.locale).name }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}

<style>
    .navbar-right .selectric{
        border:1px solid #d8b693;
        border-radius: 5px;
    }
    .navbar-right .selectric-items li{
        font-size: 12px;
        line-height: 1;
    }

    .navbar-right .selectric .label{
        margin: 0;
        padding: 0 10px;
    }
</style>

