
{% if pagination|length > 0 %}
    <div class="navigation">
        {{ knp_pagination_render(pagination, '@Admin/Media/partials/sliding.html.twig') }}
    </div>
{% endif %}

<div class="clearfix" style="min-height: 400px;">



    {% if pagination|length > 0 %}
        {% for media in pagination %}

            <div class="widget-products-item col-xs-12 col-sm-3 col-xl-3 img-select-mediacenter canhover btn-select-picture" style="cursor: pointer;margin-bottom: 10px;position: relative;">

                <div class="supp-media-actions" style="position: absolute;z-index: 100;bottom: 46px;right: 16px;font-size: 10px;">
                    <a href="{{ path('media_view', {id: media.id}) }}" data-info="{{ path('media_info', {id: media.id}) }}" class="btn btn-xs btn-info btn-select-picture-button" data-filename="{{ media.filename }}" title="Sélectionner cette image" style="padding: 1px 4px; font-size: 9px;"><i class="fa fa-mouse-pointer"></i> Sélectionner</a>
                    {#
                    <a href="" class="btn btn-xs btn-default" title="Configurer le SEO de l'image" style="padding: 1px 4px; font-size: 9px;"><i class="fa fa-cogs"></i></a>
                    <a href="" class="btn  btn-xs btn-danger" title="Supprimer cette image" style="padding: 1px 4px; font-size: 9px;"><i class="fa fa-times"></i></a>
                    #}
                </div>
                <a href="#" class="widget-products-image" style="text-align: center;max-height: 80px;min-height: 80px;">
                    <img src="{% if media.extension == "pdf" %}{{ asset('/assets/admin/images/pdf_icon.png') }}{% else %}{{ path('media_view', {id: media.id}) }}{% endif %}" style="max-height: 70px;width: auto;max-width: 100%;">
                    <span class="widget-products-overlay"></span>
                </a>
                <div class=" img-select-info">
                    <a href="#" class="widget-products-title font-size-12 text-info" style="text-overflow: ellipsis;white-space: nowrap;text-overflow: ellipsis;
    overflow: hidden;margin:4px 0 0 0;padding:0;line-height: 11px;font-size: 10px !important;width: 100%;display: inline-block;vertical-align: top;">
                        <span class="label label-warning" style="margin: 0;line-height: 9px;font-size: 7px;position: relative;top: -1px;">{{ media.extension|upper }}</span>  {{ media.filename }}
                    </a>
                    <span class=" text-default" style="font-size: 9px; display: block;">
                        {{ media.created|date("m/d/Y h:i", "Europe/Paris") }}
                        <span class="pull-right">{{ (media.size/1000000)|round(2, 'floor') }} Mo</span>
                    </span>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p style="text-align: center; margin-top: 15%;" class="font-size-12 text-info">Aucune image n'a été trouvée.</p>
    {% endif %}

</div>

{% if pagination|length > 0 %}
    <div class="navigation">
        {{ knp_pagination_render(pagination, '@Admin/Media/partials/sliding.html.twig') }}
    </div>
{% endif %}