{% if pagination|length > 0 %}
    <div class="navigation">
        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
    </div>
{% endif %}
<br/>
<div style="clear:both"></div>

{% if pagination|length <= 0 %}
    <p style="text-align: center;" class="font-size-12 text-info">Aucune fichier n'a été trouvé.</p>
{% else %}
    {% for media in pagination %}
        <div class="widget-products-item col-xs-12 col-sm-2  col-xl-2 img-select-mediacenter canhover" style="cursor: pointer;margin-bottom: 10px;position: relative;">

            <div class="supp-media-actions" style="text-align: right;position: absolute;z-index: 100;bottom: 46px;right: 16px;font-size: 10px;right: -4px;">

                <a href="{{ path('image_seo', {'id': media.id}) }}" class="btn btn-xs btn-info media-seo-disko" title="SEO du fichier" style="padding: 1px 4px; font-size: 9px;"><i class="fa fa-cogs"></i> SEO</a>
                <br/><!--
                --><a href="{{ path('media_view', {id: media.id}) }}" class="btn btn-xs btn-success" title="Voir le fichier" download="{{ media.filename }}" style="padding: 1px 4px; font-size: 9px;"><i class="fa fa-download"></i> Télécharger</a>
                <br/><!--
                --><a href="{{ path('media_delete', {id: media.id}) }}" class="btn btn-xs btn-danger delete-button-media" title="Supprimer le fichier" style="padding: 1px 4px; font-size: 9px;"><i class="fa fa-times"></i> Supprimer</a>
                <br/>
                {#
                <a href="" class="btn btn-xs btn-default" title="Configurer le SEO de l'image" style="padding: 1px 4px; font-size: 9px;"><i class="fa fa-cogs"></i></a>
                <a href="" class="btn  btn-xs btn-danger" title="Supprimer cette image" style="padding: 1px 4px; font-size: 9px;"><i class="fa fa-times"></i></a>
                #}
            </div>
            <a href="#" class="widget-products-image" style="text-align: center;max-height: 80px;min-height: 80px;">

                <img src="{% if media.extension == "pdf" %}{{ asset('/assets/admin/images/pdf_icon.png') }}{% else %}{{ path('media_view', {id: media.id}) }}{% endif %}" style="max-height: 70px;width: auto;max-width: 100%;">
                <span class="widget-products-overlay"></span>
            </a>
            <div class=" img-select-info">
                <a href="#" class="widget-products-title font-size-12 text-info" style="text-overflow: ellipsis;white-space: nowrap;text-overflow: ellipsis;
        overflow: hidden;margin:4px 0 0 0;padding:0;line-height: 11px;font-size: 10px !important;width: 100%;display: inline-block;vertical-align: top;">
                    <span class="label label-warning" style="margin: 0;line-height: 9px;font-size: 7px;position: relative;top: -1px;">{{ media.extension|upper }}</span> {{ media.filename }}
                </a>
                                            <span class=" text-default" style="font-size: 9px; display: block;">
                                                {{ media.created|date("m/d/Y h:i", "Europe/Paris") }}
                                                <span class="pull-right">{{ (media.size/1000000)|round(2, 'floor') }} Mo</span>
                                            </span>
            </div>
        </div>

    {% endfor %}
{% endif %}

<div style="clear:both"></div>
<br/>
{% if pagination|length > 0 %}
    <div class="navigation">
        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
    </div>
{% endif %}