
<form id="mediacenter_search" action="{{ path('admin_media_center_ajax_list') }}">
<div class="row">
    <div class="col-sm-3" style="position: relative;">
        <div class="panel clearfix text-default" style="position: fixed;    width: 24%;">
            <div class="panel-title font-size-12 " style="text-align: center">
                {{ form_widget(form.search, { 'attr': {'style': 'width:80%', 'placeholder': 'Rechercher un fichier'} }) }}
                {{ form_widget(form.accepted) }}
                <input class="btn btn-default btn-xs btn-info" style="line-height: 18px;position: relative; top: -1px;" type="submit" value="Go">
            </div>

        </div>
    </div>
    <div class="col-sm-9 img-container-mediacenter" style="min-height: 450px;">
        {% include "@Admin/Media/partials/content.html.twig" %}
    </div>
</div>
</form>