
    <form id="mediaSaveSeo" action="{{ path('image_seo', {'id': id}) }}" class="form-horizontal" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">

            <div class="col-md-12" style="text-align: center;margin-bottom: 20px;">
                {% if form.vars['value']|ifs.extension == "pdf" %}
                    <img style="max-height: 100px;" src="{{ asset('/assets/admin/images/pdf_icon.png') }}" />
                {% else %}
                    <img style="max-height: 100px;" src="{{ asset(form.vars['value']|ifs.path) }}" />
                {% endif %}
            </div>


            <div class="col-md-12">

                {% include "@Admin/partials/form/intl-bar.html.twig" with {
                    'form' : form
                } %}



                <div class="a2lix_translationsFields tab-content">
                    {% for form in form.translations %}
                        {% set locale = form.vars.name %}

                        <div class="{{ form.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">

                            <div class="row">
                                <div class="col-sm-12">
                                    {% include "@Admin/partials/form/text-line.html.twig" with {
                                        'form' : form.title,
                                        'label': "Titre"
                                    } %}

                                    {% include "@Admin/partials/form/text-line.html.twig" with {
                                        'form' : form.alt,
                                        'label': "Alt"
                                    } %}

                                    {% include "@Admin/partials/form/text-line.html.twig" with {
                                        'form' : form.legend,
                                        'label': "Légende"
                                    } %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>