


{% if pageCount > 1 %}
    <div class="clearfix" style="margin-bottom: 8px;">

        {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="btn btn-xs btn-default btn-mediacenter-change" style="margin-left: 11px;float:left">< Précédent</a>
        {% endif %}


        {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="btn btn-xs btn-default btn-mediacenter-change" style="margin-right: 11px;float:right"> Suivant ></a>
        {% endif %}

        <span style="text-align:center;display:block;height: 22px;font-size: 11px;">  Page {{ current }}/{{ last }} : {{ totalCount }} résultat(s)</span>
    </div>
{% endif %}
