{% extends 'hub/layout-mb.html.twig' %}

{% set headerType = 'simple' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .intro-container {
            box-sizing: border-box;
            height: 260px;
            border: 1px solid #979797;
            background-color: #D8D8D8;
        }
        .intro-container h2 {
            padding-top : 60px;
            padding-bottom : 30px;
            color: #000000;
            font-family: Helvetica;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 4.64px;
            line-height: 16px;
            text-transform: uppercase;
        }
        .intro-container .btn {
            height: 67px;
            color: #000000;
            font-family: Helvetica;
            font-size: 16px;
            line-height: 67px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}



    <div class="intro">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-9">
                    <div class="intro__inner text-center">
                        <div class="intro__head">
                            <h1 class="intro__title">Bienvenue sur le HUB 142</h1><!-- /.intro__title -->

                            <h6 class="intro__subtitle">
                                Choisissez entre l'application MyHub ou MyBoxes.
                            </h6><!-- /.intro__subtitle -->
                        </div><!-- /.intro__head -->

                        <div class="intro__actions">
                            <div class="boxes">

                                <div class="box">
                                    <div class="box__head">
                                        <h2 class="box__title">
                                            <img src="{{ asset("assets/myboxes/images/label-blue.svg") }}" alt="" class="svg">

                                            <span>Hub</span>
                                        </h2><!-- /.box__title -->
                                    </div><!-- /.box__head -->


                                    {% if stocks|length > 0 %}
                                    <div class="box__content">
                                        <div class="box__row js-group">
                                            <label for="select-votre-stock" class="box__label">Votre stock*</label>

                                            <div class="box__controls">
                                                <div class="select">
                                                    <select class="custom-select custom-select--box" name="select-votre-stock" id="stock-choice">
                                                        <option selected="" disabled=""></option>

                                                        {% for stock in stocks %}
                                                            <option value="{{ path('homepage_choice', {id: stock.id}) }}">
                                                                {{ stock.translate('fr').name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div><!-- /.select -->

                                                <img class="svg svg-arrow" src="{{ asset("assets/myboxes/images/angle-down.svg") }}" alt="">
                                            </div><!-- /.form__controls -->
                                        </div><!-- /.form__row -->
                                    </div><!-- /.box__content -->

                                    <div class="box__actions">
                                        <a href="#" class="btn btn--dark" id="choose-stock">
                                            <img class="svg" src="{{ asset("assets/myboxes/images/boxes-white.svg") }}" alt="">

                                            <span>Accéder au stock</span>
                                        </a>
                                    </div><!-- /.box__actions -->

                                    {% else %}

                                        <div class="box__content">
                                            <br/>
                                            <p>Vous ne disposez pas des droits d’accès. Veuillez contacter l'administrateur afin de demander les droits d’accès. </p>
                                        </div>
                                        <div class="box__actions">
                                            <a href="mailto:hub142@moethennessy.com" class="btn btn--dark">
                                                <img class="svg" src="{{ asset("assets/myboxes/images/boxes-white.svg") }}" alt="">
                                                <span>Contacter l'administrateur</span>
                                            </a>
                                        </div><!-- /.box__actions -->
                                    {% endif %}
                                </div><!-- /.box -->

                                <div class="box box--green">
                                    <div class="box__head">
                                        <h2 class="box__title">
                                            <img src="{{ asset("assets/myboxes/images/label-green.svg") }}" alt="" class="svg">

                                            <span>Boxes</span>
                                        </h2><!-- /.box__title -->
                                    </div><!-- /.box__head -->


                                    {#
                                    <div style="margin-top: 20px;padding: 8px 14px;background: #f2e0cd;color: darkgoldenrod;border: 2px solid goldenrod; position: absolute;bottom: -75px;">
                                        Cette section est en <b>BETA</b>. <br/>Merci de ne pas l'utiliser pour le moment.
                                    </div>
                                    #}

                                    <div class="box__actions">
                                        <a href="{{ path('myboxes_homepage') }}" class="btn btn--green" >
                                            <img class="svg" src="{{ asset("assets/myboxes/images/box.svg") }}" alt="">

                                            <span>Accéder aux boxes</span>
                                        </a>
                                    </div><!-- /.box__actions -->
                                </div><!-- /.box -->
                            </div><!-- /.boxes -->
                        </div><!-- /.intro__actions -->
                    </div><!-- /.intro__inner -->
                </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

        <div class="intro__images">
            <div class="intro__image" style="background-image: url({{ asset("assets/myboxes/images/temp/intro-bg-1.png") }});"></div><!-- /.intro__image intro__image-/-1 -->

            <div class="intro__image" style="background-image: url({{ asset("assets/myboxes/images/temp/intro-bg-2.png") }});"></div><!-- /.intro__image intro__image-/-1 -->

            <div class="intro__image" style="background-image: url({{ asset("assets/myboxes/images/temp/intro-bg-3.png") }});"></div><!-- /.intro__image intro__image-/-1 -->
        </div><!-- /.intro__images -->
    </div><!-- /.intro -->

{#    <div class="popup popup--info mfp-hide" id="popup-covid">
        <button class="mfp-close" type="button">
                <svg width="19" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"><path d="M18.622.378a1.29 1.29 0 00-1.824 0L9.5 7.676 2.202.378A1.29 1.29 0 10.378 2.202L7.676 9.5.378 16.798a1.29 1.29 0 101.824 1.824L9.5 11.324l7.298 7.298a1.29 1.29 0 101.824-1.824L11.324 9.5l7.298-7.298a1.29 1.29 0 000-1.824z" fill="#2c455b"/></svg>
        </button><!-- /.popup__close -->

        <div class="popup__inner">
            <div class="popup__head">
                <div class="popup__title c-pink-light">
                    <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M6.016 2.16v3.06c.31.14.562.401.697.724H8.84v1.094H6.713c-.206.492-.678.842-1.221.842-.73 0-1.332-.629-1.332-1.389 0-.566.335-1.056.807-1.271V2.16zM16.12 14.64h1.56v1.04h-1.56zM5.72 1.48a4.84 4.84 0 100 9.68 4.84 4.84 0 000-9.68m0 10.56A5.727 5.727 0 010 6.32a5.72 5.72 0 115.72 5.72m-4.68.52H2.6v1.04H1.04zm-.52 2.08H2.6v1.04H.52zM0 16.72h2.6v1.04H0zm20.8.52h1.04v1.04H20.8zm-13 0h1.04v1.04H7.8zm17.333-4.787v-.26l-3.646-3.732h-2.854v3.992zm-4.333 7.54c1.196-.001 2.165-.994 2.167-2.218 0-1.224-.97-2.217-2.167-2.217-1.197 0-2.167.993-2.167 2.217 0 1.225.97 2.218 2.167 2.218zm-2.119 0a3.122 3.122 0 01-.88-1.774h-6.136a3.122 3.122 0 01-.88 1.774zM6.5 17.775c.001 1.224.97 2.217 2.167 2.218 1.196 0 2.166-.993 2.166-2.218 0-1.224-.97-2.217-2.166-2.217-1.197 0-2.167.993-2.167 2.217zm19.373-6.08a.449.449 0 01.127.314v4.88c0 .734-.582 1.33-1.3 1.33h-.901c-.217 1.525-1.493 2.658-2.999 2.661H0v-.887h6.548a3.122 3.122 0 01-.88-1.774h-.901c-.718 0-1.3-.596-1.3-1.33v-3.993h.866v3.992c0 .245.194.444.434.444h.901c.191-1.363 1.237-2.433 2.568-2.629 1.656-.243 3.191.934 3.43 2.629H17.8c.191-1.363 1.237-2.433 2.568-2.629 1.656-.243 3.192.934 3.43 2.629h.901c.24 0 .433-.199.433-.444V13.34h-6.5a.877.877 0 01-.866-.887V8.46c0-.49.388-.887.866-.887h1.988l-.74-.757a.429.429 0 00-.307-.13h-4.407v6.653H14.3V6.687h-2.167V5.8h7.441c.345-.001.676.14.92.39zM5.209 6.492c0 .17.12.295.283.295.162 0 .283-.126.283-.295 0-.17-.12-.295-.283-.295-.162 0-.283.126-.283.295z" fill="#D99778"/></svg>
                    <h4>Informations Covid-19</h4>
                </div><!-- /.popup__title -->
            </div><!-- /.popup__head -->

            <div class="popup__entry">
                <p>Au vu du contexte, pour toutes commandes effectuées, <b>les délais de livraison sont susceptibles d’être allongés.</b> Merci de votre compréhension.</p>
                <p>Tenons bons, ensemble !</p>
                <p>Toute l’équipe du Hub 142.</p>
            </div><!-- /.popup__entry -->
        </div><!-- /.popup__inner -->
    </div><!-- /.popup -->#}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(() => {
            $('#choose-stock').click((event) => {
                event.preventDefault();
                if ($('#stock-choice').val()) {
                    document.location = $('#stock-choice').val();
                }
            });
        });
    </script>
{% endblock %}