{% extends 'front/layout.html.twig' %}

{% block project_sticky_menu %}
    {% if app.user is not null %}
        {{ render(controller('App\\Controller\\Front\\ProjectController::stickyMenu')) }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="section-product">
        <div class="container container-md">

            {% set url = referer %}
            {% if url is null or url == app.request.uri %}
                {% set url = path('catalog') %}
            {% endif %}
            <header class="section__head">
                <a href="{{ url }}" class="link-back">
                    <img class="svg" src="{{ asset('assets/shop/images/angle-left.svg') }}" alt="">
                    <span>{{ 'sylius.ui.back_result'|trans }}</span>
                </a>
            </header><!-- /.section__head -->

            <div class="section__body">
                <div class="product-single">
                    {% include 'front/product/partials/_images.html.twig' %}

                    <div class="product__content">
                        {% include 'front/product/partials/_header.html.twig' %}
                        {{ render(url('add_project_item', {'productId': product.id})) }}
                    </div><!-- /.product__content -->
                </div><!-- /.product-single -->
                {% include 'front/product/partials/_tabs.html.twig' %}
            </div><!-- /.section__body -->

        </div><!-- /.container -->
    </section><!-- /.section-product -->

    {% include 'front/product/partials/_associations.html.twig' %}

{% endblock %}
