{% set menuActive = 'restrict-users' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle  %}
   Création d'un nouvel utilisateur
{% endblock %}

{% block content %}
    <form action="" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-12">

                {% include "@Admin/User/partials/restrict/form.html.twig" with {'edit': false} %}

                <button class="btn btn-info btn-save">
                    <i class="fa fa-save"></i> Créer le compte
                </button>
            </div>
        </div>
    </form>
{% endblock %}
