{% set menuActive = 'restrict-users' %}
{% extends "admin/layout.html.twig" %}

{% block mainTitle 'Utilisateurs' %}
{% block mainSubtitle %}
    <span class="fa fa-info-circle"></span> La mise à jour des utilisateurs (provenant de l'AD) se fait tous les lundis matins.
{% endblock %}


{%  block options %}
    {% if app.user is defined and app.user is not null and app.user.hasAdminStock(app.session.get('current_admin_stock')) %}
        <a class="btn btn-success btn-xs" href="{{ path('admin_restrict_user_create') }}">
            <i class="fa fa-plus "></i> Créer un nouvel utilisateur
        </a>
    {% endif %}
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            {% include "admin/User/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12 col-sm-12">

            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                    <tr>
                        <th>Rôle</th>
                        <th class="cansort {% if pagination.isSorted('u.firstName') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Prénom', 'u.firstName') }} {% if pagination.isSorted('u.firstName') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.lastName') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nom', 'u.lastName') }} {% if pagination.isSorted('u.lastName') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.email') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'E-mail', 'u.email') }} {% if pagination.isSorted('u.email') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.company') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Maison', 'u.company') }} {% if pagination.isSorted('u.company') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if pagination|length <= 0 %}
                        <tr>
                            <td colspan="100">Aucun résultat trouvé.</td>
                        </tr>
                    {% else %}
                        {% for user in pagination %}
                            <tr>
                                <td style="vertical-align:middle;width: 200px;">


                                    {% if user.hasRole('ROLE_GENERAL_ADMIN') %}
                                        <span class="label label-danger"><i class="fa fa-users"></i> &nbsp; Super Administrateur</span>
                                    {% else %}
                                        {% if user.hasAdminStock(app.session.get('current_admin_stock')) %}
                                            <span class="label label-warning"><i class="fa fa-users"></i>&nbsp;  Administrateur de stock(s)</span>
                                        {% elseif user.hasStock(app.session.get('current_admin_stock')) %}
                                            <span class="label label-info"><i class="fa fa-user"></i> &nbsp; Membre</span>
                                        {% else %}
                                            <span class="label label-default"><i class="fa fa-lock"></i> &nbsp; Non accès</span>
                                        {% endif %}

                                    {% endif %}
                                </td>
                                <td style="vertical-align:middle;">{{ user.firstName }}</td>
                                <td style="vertical-align:middle;">{{ user.lastName }}</td>
                                <td style="vertical-align:middle;">{{ user.email }}</td>

                                <td style="vertical-align:middle;">{{ user.company }}</td>

                                <td style="width: 100px;text-align:center;vertical-align:middle;">

                                    {% if not user.hasRole('ROLE_GENERAL_ADMIN') %}
                                        {% if not user.hasStock(app.session.get('current_admin_stock')) %}
                                            <a title="Rendre cet utilisateur : membre de stock" href="{{ path('admin_restrict_user_member', {'id': user.id}) }}" class="btn btn-xs btn-info">
                                                <i class="fa fa-user" style="color:white;transition: all 30s linear;"></i>
                                            </a>
                                        {% endif %}

                                        {% if not user.hasAdminStock(app.session.get('current_admin_stock')) %}
                                            <a title="Rendre cet utilisateur : administrateur de stock" href="{{ path('admin_restrict_user_admin', {'id': user.id}) }}" class="btn btn-xs btn-warning">
                                                <i class="fa fa-user" style="color:white;transition: all 30s linear;"></i>
                                            </a>
                                        {% endif %}

                                        {% if user.hasStock(app.session.get('current_admin_stock')) or user.hasAdminStock(app.session.get('current_admin_stock')) %}
                                            {# <a title="Supprimer les droits de cet utilisateur sur ce stock" href="{{ path('admin_restrict_user_remove', {'id': user.id}) }}" class="btn btn-xs btn-danger">
                                                <i class="fa fa-lock" style="color:white;transition: all 30s linear;"></i>
                                            </a> #}
                                            <a title="Modifier les droits de cet utilisateur" href="{{ path('admin_user_edit', {'id': user.id}) }}?tab=stocks" class="btn btn-xs btn-danger">
                                                <i class="fa fa-edit" style="color:white;transition: all 30s linear;"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
