{% set menuActive = 'billingcenters' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Création d'un centre de coûts" %}

{% block content %}

    <form action="" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-12">

                {% include "@Admin/BillingCenter/partials/form.html.twig" with {'create': true} %}

                <button class="btn btn-info btn-save">
                    <i class="fa fa-save"></i> Créer
                </button>
            </div>
        </div>
    </form>
{% endblock %}
