{% set menuActive = 'examples' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Exemples' %}


{%  block options %}
    <a class="btn btn-success btn-xs" href="{{ path('admin_example_create') }}">
        <i class="fa fa-plus "></i> Ajouter
    </a>
    <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_example_export'}) }}">
        <i class="fa fa-download "></i> Exporter

    </button>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/Example/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_example_list'} %}

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Langues</th>
                            <th>Photo</th>
                            <th>Miniature <span style="font-size: 9px;">(imagine)</span></th>
                            <th class="cansort {% if pagination.isSorted('et.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nom', 'et.name') }} {% if pagination.isSorted('et.name') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'et.created') }} {% if pagination.isSorted('et.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for example in pagination %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ example.id }}</td>

                                    <td style="text-align:center;vertical-align:middle;width: 150px">
                                        {% for locale in locales  %}
                                            <a href="{{ path('admin_example_edit', {'id': example.id, locale:locale }) }}" style="height: 12px;" class="flag-icon flag-icon-{% if locale == 'en' %}gb{% else %}{{ locale }}{% endif %}">
                                                  <div class="{% if example.translate(locale).active and example.translate(locale).locale == locale %}bg-success{% else %}bg-danger{% endif %}" style="display:block;height:4px;width:100%;position: absolute;border: 1px solid grey; bottom: -6px;right: 0px;"></div>
                                            </a>

                                        {% endfor %}
                                    </td>

                                    <td width="100" style="text-align: center;">
                                        {% if example.translate(askLocale).cover is not empty %}
                                            <img style="max-width: 50px; max-height: 50px;" src="{{ asset(example.translate(askLocale).cover|ifs.path) }}" />
                                        {% else %}
                                            <img style="max-width: 50px; max-height: 50px;" src="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}" />
                                        {% endif %}
                                    </td>

                                    <td width="150" style="text-align: center;">
                                        {% if example.translate(askLocale).cover is not empty %}
                                            <img style="max-width: 50px; max-height: 50px;" src="{{ example.translate(askLocale).cover|ifs.getPath|preImagine|imagine_filter('keyword') }}" alt="" />
                                        {% else %}
                                            <img style="max-width: 25px; max-height: 25px;" src="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}" />
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align:middle;font-size: 12px"><a href="{{ path('admin_example_edit', {'id': example .id, locale: askLocale}) }}">{{ example.translate(askLocale).name }}</a></td>
                                    <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ example.translate(askLocale).created|date("m/d/Y h:i", "Europe/Paris") }}</td>
                                    <td style="width: 150px;text-align:center;vertical-align:middle;">
                                            <a title="Modifier" href="{{ path('admin_example_edit', {'id': example.id, locale: askLocale}) }}" class="btn btn-xs btn-default">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a title="Dupliquer" href="{{ path('admin_example_duplicate', {'id': example.id}) }}" class="btn btn-xs btn-default duplicate-button">
                                                <i class="fa fa-paste"></i>
                                            </a>

                                            <a title="Supprimer" href="{{ path('admin_example_delete', {'id': example.id}) }}" class="btn btn-xs btn-danger delete-button">
                                                <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                            </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
