{% set menuActive = 'mediacenter' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Médiathèque' %}


{%  block options %}
{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-md-10 m-b-2 col-sm-10 ">
            <div class="font-size-12 " style="text-align: center; text-align: left;">
                <form>
                {{ form_widget(form.search, { 'attr': {'style': 'width:75%;line-height: 34px;padding: 0px 10px;', 'placeholder': 'Rechercher un fichier'} }) }}
                <input class="btn btn-default btn-xs btn-info" style="line-height: 30px;position: relative; top: -1px;width: 100px" type="submit" value="Go">
                </form>
            </div>

        </div>
        <div class="col-md-2 m-t-2 col-sm-2 ">
            <a href="{{ path('media_add') }}" class="btn btn-xs btn-info media-add-disko">
                <i class="fa fa-plus"></i> &nbsp;
                Ajouter un média
            </a>
        </div>

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko panel">
                <div class="panel-body panel-media-list">
                    {% include "@Admin/Media/partials/index_list.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
