{% extends 'hub/layout-mb.html.twig' %}

{% form_theme form 'hub/parts/form_theme.html.twig' %}

{% block title %}Hub 142  / MyBoxes / Rapatrier {{ form.vars.value.box.product.name }}{% endblock %}

{% block content %}
<section class="section-alt">
    <div class="container">
        <div class="section__subhead">
            <a href="{{ path('myboxes_homepage') }}" class="link-back">
                <img class="svg" src="{{ asset('assets/myboxes/images/angle-left.svg') }}" alt="" />
                <span>{{ 'app.myboxes.command.back'|trans }}</span>
            </a>
        </div><!-- /.section__subhead -->

        <div class="section__head">
            <h2 class="section__title c-green">{{ 'app.myboxes.command.title-box'|trans }}</h2><!-- /.section__title -->
        </div><!-- /.section__head -->

        <div class="section__content">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-info-package list-info-package--alt">
                        <li>
                            <strong>{{ 'app.myboxes.command.label.name'|trans }}</strong>
                            <span>{{ form.vars.value.box.name }}</span>
                        </li>
                        <li>
                            <strong>{{ 'app.myboxes.command.label.format'|trans }}</strong>
                            <span>{{ form.vars.value.box.product.name }}</span>
                        </li>
                    </ul><!-- /.list-info-package -->
                </div><!-- /.col-md-6 col-lg-5 -->
            </div><!-- /.row -->
        </div><!-- /.section__content -->
    </div><!-- /.container -->
</section><!-- /.section-alt -->
<div class="form form--alt">
    {{ form_start(form, {'attr': {'novalidate': '', 'autocomplete': "off"}}) }}
        <div class="form__section row form__section--dark">
            <div class="container">
                <div class="form__body">
                    <div class="error">
                        {{ form_errors(form) }}
                    </div>
                    <div class="form__group">
                        <div class="form__subhead c-green">
                            <h4>
                                <img class="svg" src="{{ asset('assets/myboxes/images/user.svg') }}" alt="">
                                <span>{{ 'app.myboxes.command.subtitle'|trans }}</span>
                            </h4>
                        </div><!-- /.form__subhead -->
                        <div class="form-row">
                            <div class="col-md-6 col-lg-4 form__col">
                                <div class="form__row js-group jsFocusLabel{% if form.firstname.vars.value is not empty %} filled{% endif %}">
                                    <label for="field-firstName" class="form__label">{{ 'app.myboxes.command.label.firstname'|trans }}*</label>
                                    <div class="form__controls">
                                        {{ form_widget(form.firstname, {attr: {class:'field'}}) }}
                                    </div><!-- /.form__controls -->
                                    <div class="error">
                                        {{ form_errors(form.firstname) }}
                                    </div>
                                </div><!-- /.form__row -->
                                <div class="form__row js-group jsFocusLabel{% if form.lastname.vars.value is not empty %} filled{% endif %}">
                                    <label for="field-lastName" class="form__label">{{ 'app.myboxes.command.label.lastname'|trans }}*</label>
                                    <div class="form__controls">
                                        {{ form_widget(form.lastname, {attr: {class:'field'}}) }}
                                    </div><!-- /.form__controls -->
                                    <div class="error">
                                        {{ form_errors(form.lastname) }}
                                    </div>
                                </div><!-- /.form__row -->

                                <div class="form__row js-group jsFocusLabel filled">

                                    <label for="select-box" class="form__label">{{ 'app.myboxes.command.label.adress'|trans }}*</label>
                                    <div class="form__controls">
                                        <div class="select">
                                            {{ form_widget(form.adressType, {'attr': {'class': 'custom-select'}}) }}
                                            {{ form_errors(form.adressType) }}
                                        </div><!-- /.select -->
                                        <img class="svg svg-arrow" src="{{ asset('assets/myboxes/images/angle-down.svg') }}" alt="">
                                    </div><!-- /.form__controls -->
                                </div><!-- /.form__row -->

                            </div><!-- /.col-md-6 col-lg-5 -->
                            <div class="col-md-6 col-lg-4 form__col">
                                <div class="form__row js-group jsFocusLabel{% if form.officeNumber.vars.value is not empty %} filled{% endif %}">
                                    <label for="field-officeNumber" class="form__label">{{ 'app.myboxes.command.label.office'|trans }}*</label>
                                    <div class="form__controls">
                                        {{ form_widget(form.officeNumber, {attr: {class:'field'}}) }}
                                    </div><!-- /.form__controls -->
                                    <div class="error">
                                        {{ form_errors(form.officeNumber) }}
                                    </div>
                                </div><!-- /.form__row -->
                                <div class="form__row js-group jsFocusLabel{% if form.stage.vars.value is not empty %} filled{% endif %}">
                                    <label for="field-floor" class="form__label">{{ 'app.myboxes.command.label.stage'|trans }}*</label>
                                    <div class="form__controls">
                                        {{ form_widget(form.stage, {attr: {id: 'field-floor', class:'field'}}) }}
                                    </div><!-- /.form__controls -->
                                    <div class="error">
                                        {{ form_errors(form.stage) }}
                                    </div>
                                </div><!-- /.form__row -->
                            </div><!-- /.col-md-6 col-lg-5 -->
                        </div><!-- /.form-row justify-content-between -->
                    </div><!-- /.form__group -->
                </div><!-- /.form__body -->
            </div><!-- /.container -->
        </div><!-- /.form__section row form__section-/-dark -->
        <div class="form__section row">
            <div class="container">
                <div class="form__actions">
                    <button type="submit" value="Submit" class="btn btn--green form__btn">
                        <span>{{ 'app.myboxes.command.cta-box'|trans }}</span>
                    </button>
                    <p class="form__asterisk">* {{ 'app.myboxes.command.mandatory'|trans }}</p><!-- /.form__asterisk -->
                </div><!-- /.form__actions -->
            </div><!-- /.container -->
        </div><!-- /.form__section -->
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div><!-- /.form -->
{% endblock %}
