<section class="section-related">
    <div class="container container-md">
        <header class="section__head">
            <h2>Produits similaires</h2>
        </header><!-- /.section__head -->
        <div class="section__body">
            <div class="row">
                {{ render(url('product_similars', {'count': 4, 'id': product.id})) }}
            </div>
        </div>
    </div>
</section>

