{% if totalAvailable is not empty  %}
    <span class="product__stock ">
        {% if totalAvailable > 0 %}

            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 12.116 9" class="svg replaced-svg"><defs><clipPath id="a-check"><path d="M5.039 9l7.077-7.078L10.194 0 5.039 5.155 1.922 2.039 0 3.961z" transform="translate(19 21)"></path></clipPath></defs><g transform="translate(-19 -21)" clip-path="url(#a-check)"><path fill="transparent" d="M0 0h50v50H0z"></path><path fill="#d8b693" d="M0 0h50v50H0z"></path></g></svg>
            <span class="product__stock_available">{{ totalAvailable }}</span>&nbsp;disponibles en stock
        {% else %}
            <span style="color: red">Indisponible</span>
        {% endif %}
    </span>
{% elseif total115Available is not empty  %}
    <span class="product__stock " style="bottom: 30px;">
        {% if total115Available > 0 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 12.116 9" class="svg replaced-svg"><defs><clipPath id="a-check"><path d="M5.039 9l7.077-7.078L10.194 0 5.039 5.155 1.922 2.039 0 3.961z" transform="translate(19 21)"></path></clipPath></defs><g transform="translate(-19 -21)" clip-path="url(#a-check)"><path fill="transparent" d="M0 0h50v50H0z"></path><path fill="#d8b693" d="M0 0h50v50H0z"></path></g></svg>
            {{ total115Available }} disponibles en stock {{ 'app.cave.front.at_cave_115'|trans }}
        {% else %}
            <span style="color: red">Indisponible {{ 'app.cave.front.at_cave_115'|trans }}</span>
        {% endif %}
    </span>
{% elseif totalPantinAvailable is not empty  %}
    <span class="product__stock ">
        {% if totalPantinAvailable > 0 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 12.116 9" class="svg replaced-svg"><defs><clipPath id="a-check"><path d="M5.039 9l7.077-7.078L10.194 0 5.039 5.155 1.922 2.039 0 3.961z" transform="translate(19 21)"></path></clipPath></defs><g transform="translate(-19 -21)" clip-path="url(#a-check)"><path fill="transparent" d="M0 0h50v50H0z"></path><path fill="#d8b693" d="M0 0h50v50H0z"></path></g></svg>
        {{ totalPantinAvailable }} disponibles en stock {{ 'app.cave.front.at_cave_pantin'|trans }}
        {% else %}
            <span style="color: red">Indisponible {{ 'app.cave.front.at_cave_pantin'|trans }}</span>
        {% endif %}
    </span>
{% else %}
{% endif %}