{% if totalWithHolds is iterable or totalWithHolds is not empty   %}
    {% set num = 0 %}
    {% for total in totalWithHolds if total['id'] == product.id %}
        {% set num = total['total'] %}
    {% endfor %}

    <span class="product__stock ">
                {% if num > 0 %}

                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 12.116 9" class="svg replaced-svg"><defs><clipPath id="a-check"><path d="M5.039 9l7.077-7.078L10.194 0 5.039 5.155 1.922 2.039 0 3.961z" transform="translate(19 21)"></path></clipPath></defs><g transform="translate(-19 -21)" clip-path="url(#a-check)"><path fill="transparent" d="M0 0h50v50H0z"></path><path fill="#d8b693" d="M0 0h50v50H0z"></path></g></svg>
                    {{ num }} disponibles en stock
                {% else %}
                    <span style="color: red">Indisponible</span>
                {% endif %}
            </span>
{% elseif total115WithHolds is not empty  %}
    {% set num115 = 0 %}
    {% for total in total115WithHolds if total['id'] == product.id %}
        {% set num115 = total['total'] %}
    {% endfor %}

    <span class="product__stock " style="bottom: 30px;">
        {% if num115 > 0 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 12.116 9" class="svg replaced-svg"><defs><clipPath id="a-check"><path d="M5.039 9l7.077-7.078L10.194 0 5.039 5.155 1.922 2.039 0 3.961z" transform="translate(19 21)"></path></clipPath></defs><g transform="translate(-19 -21)" clip-path="url(#a-check)"><path fill="transparent" d="M0 0h50v50H0z"></path><path fill="#d8b693" d="M0 0h50v50H0z"></path></g></svg>
            {{ num115 }} disponibles en stock {{ 'app.cave.front.at_cave_115'|trans }}
        {% else %}
            <span style="color: red">Indisponible {{ 'app.cave.front.at_cave_115'|trans }}</span>
        {% endif %}
    </span>
{% elseif totalPantinWithHolds is not empty  %}
    {% set numPantin = 0 %}
    {% for total in totalPantinWithHolds if total['id'] == product.id %}
        {% set numPantin = total['total'] %}
    {% endfor %}

    <span class="product__stock ">
        {% if numPantin > 0 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 12.116 9" class="svg replaced-svg"><defs><clipPath id="a-check"><path d="M5.039 9l7.077-7.078L10.194 0 5.039 5.155 1.922 2.039 0 3.961z" transform="translate(19 21)"></path></clipPath></defs><g transform="translate(-19 -21)" clip-path="url(#a-check)"><path fill="transparent" d="M0 0h50v50H0z"></path><path fill="#d8b693" d="M0 0h50v50H0z"></path></g></svg>
        {{ numPantin }} disponibles en stock {{ 'app.cave.front.at_cave_pantin'|trans }}
        {% else %}
            <span style="color: red">Indisponible {{ 'app.cave.front.at_cave_pantin'|trans }}</span>
        {% endif %}
    </span>
{% else %}
{% endif %}