<div class="tabs jsTabs" style="background-color: #f4f4f4">
    <div class="tabs__head">
        <nav class="tabs__nav">
            <ul>
                <li class="active">
                    <a href="#">Détails</a>
                </li>
            </ul>
        </nav><!-- /.tabs__nav -->
    </div><!-- /.tabs__head -->
    <div class="tabs__body">
        <div class="tab active">
            <div class="table table--attributes">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <strong>{{ 'sylius.ui.product.description'|trans() }}</strong>
                        </td>
                        <td>
                            {% if product.translate('fr').description is not empty %}
                                {{ product.translate('fr').description|nl2br }}
                            {% else %}
                                    Aucune description disponible.
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{ 'sylius.ui.product.material'|trans() }}</strong>
                        </td>
                        <td>{{ product.translate('fr').material }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{ 'sylius.ui.product.color'|trans() }}</strong>
                        </td>
                        <td>{{ product.translate('fr').color }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{ 'sylius.ui.product.dimensions'|trans() }}</strong>
                        </td>
                        <td>{{ 'sylius.ui.product.dimensions_value'|trans({'%height%': product.translate('fr').height, '%width%': product.translate('fr').width, '%depth%': product.translate('fr').depth}) }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{ 'sylius.ui.product.weight'|trans() }}</strong>
                        </td>

                        <td>{{ 'sylius.ui.product.weight_value'|trans({'%weight%': product.translate('fr').weight}) }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{ 'sylius.ui.product.reference'|trans() }}</strong>
                        </td>
                        <td>{{ product.translate('fr').code|upper }}</td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /.table-/-attributes -->
        </div><!-- /.tab -->
    </div><!-- /.tabs__body -->

</div><!-- /.tabs -->