<div class="block-orders">
    <div class="block__head">
        <div class="block__title">
            <img class="svg" src="{{ asset('assets/myboxes/images/document.svg') }}" alt="">
            <h4>Passer une commande</h4>
        </div><!-- /.block__title -->
        <div class="block__subtitle">
            <p>Choisissez votre type de commande depuis votre stock</p>
        </div><!-- /.block__subtitle -->
    </div><!-- /.block__head -->
    <div class="block__content">
        {% if app.session.get('current_stock').cave != constant('App\\Entity\\Project::CAVE_115') %}
            <div class="block__row">
                <div class="block__cols">
                    <div class="block__col block__col--1of2">
                        <a href="{{ path('project_create') }}" class="btn btn--dark">
                            <img class="svg" src="{{ asset('assets/myboxes/images/document.svg') }}" alt="">
                            <span>Commande standard</span>
                        </a>
                        <div class="toolbox-holder">
                            <a href="#" class="link link--alt link--toolbox">
                                <span>Comment ça marche ?</span>
                                <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                            </a>
                            <div class="toolbox">
                                <div class="toolbox__head">
                                    <h6>Commande standard</h6>
                                </div><!-- /.toolbox__head -->
                                <div class="toolbox__content">
                                    <p>
                                        Les "Commandes standards" sont préparées pour expédition à J+1.
                                        Elles peuvent être expédiées partout en France avec des délais de livraisons variables selon les destinations.
                                    </p>
                                    <p>
                                        <b>Heures limites :</b><br>
                                        <b>17h</b> pour Paris et l’Île-de-France, passé cet horaire votre commande sera livrée au plus tard à J+2 avant midi. <br>
                                        <b>13h</b> pour le reste de la France, passé cet horaire votre commande partira le lendemain à 14h.<br>
                                    </p>
                                </div><!-- /.toolbox__content -->
                            </div><!-- /.toolbox -->
                        </div><!-- /.toolbox-holder -->
                    </div><!-- /.block__col -->
                    <div class="block__col block__col--1of2">
                        <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_URGENCY")}) }}" class="btn btn--dark">
                            <img class="svg" src="{{ asset('assets/myboxes/images/package.svg') }}" alt="">
                            <span>Commande urgente</span>
                        </a>
                        <div class="toolbox-holder">
                            <a href="#" class="link link--alt link--toolbox">
                                <span>Comment ça marche ?</span>
                                <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                            </a>
                            <div class="toolbox">
                                <div class="toolbox__head">
                                    <h6>Commande urgente</h6>
                                </div><!-- /.toolbox__head -->
                                <div class="toolbox__content">
                                    <p>
                                        Les "Commandes urgentes" sont préparées et livrées à destination dans un délai de 4H maximum.
                                    </p>
                                    <p>
                                        Ces commandes concernent uniquement Paris et les département 92, 93 et 94.
                                    </p>
                                    <p>
                                        <b>Heure limite :</b><br>
                                        <b>16h</b>, passé cet horaire votre commande urgente sera livrée le lendemain matin.
                                    </p>
                                </div><!-- /.toolbox__content -->
                            </div><!-- /.toolbox -->
                        </div><!-- /.toolbox-holder -->
                    </div><!-- /.block__col -->
                </div><!-- /.block__cols -->
            </div><!-- /.block__row -->
            <div class="block__row">
                <div class="block__cols">
                    <div class="block__col block__col--1of2">
                        <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_SHUTTLE")}) }}" class="btn btn--dark">
                            <img class="svg" src="{{ asset('assets/myboxes/images/delivery.svg') }}" alt="">
                            <span>Commande navette 142</span>
                        </a>
                        <div class="toolbox-holder">
                            <a href="#" class="link link--alt link--toolbox">
                                <span>Comment ça marche ?</span>
                                <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                            </a>
                            <div class="toolbox">
                                <div class="toolbox__head">
                                    <h6>Commande navette 142</h6>
                                </div><!-- /.toolbox__head -->
                                <div class="toolbox__content">
                                    <p>
                                        Les commandes navette se font uniquement entre le Hub et le 142 pour livraison gratuite à 14h du Lundi au Vendredi.
                                    </p>
                                    <p>
                                        <b>Heure limite :</b><br>
                                        <b>10h</b>, passé cet horaire les commandes seront livrées à J+1.
                                    </p>
                                </div><!-- /.toolbox__content -->
                            </div><!-- /.toolbox -->
                        </div><!-- /.toolbox-holder -->
                    </div><!-- /.block__col -->
                    <div class="block__col block__col--1of2">
                        <a href="{{ path('bulk_order_create') }}" class="btn btn--dark">
                            <img class="svg svg--group" src="{{ asset('assets/myboxes/images/users.svg') }}" alt="">
                            <span>Commande groupée</span>
                        </a>
                        <div class="toolbox-holder">
                            <a href="#" class="link link--alt link--toolbox">
                                <span>Comment ça marche ?</span>
                                <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                            </a><br>
                            <span style="color: #7f7a77;">Délai d'anticipation :</span><br>
                            <span style="color: #7f7a77;">Prévoir 7 jours ouvrés</span>
                            <div class="toolbox">
                                <div class="toolbox__head">
                                    <h6>Commande groupée</h6>
                                </div><!-- /.toolbox__head -->
                                <div class="toolbox__content">
                                    <p>
                                        Effectuez de manière simplifiée vos commandes multidestinataires et multiproduits pour des opérations spéciales. Une commande doit contenir au moins trois adresses de livraison différentes, en France.<br>
                                        Avant de passer commande, assurez-vous d'avoir approvisionné votre stock en produits finis et consommables.<br><br>
                                        Les commandes devront être passées au moins 7 jours ouvrés avant la date d'expédition souhaitée.
                                    </p>
                                </div><!-- /.toolbox__content -->
                            </div><!-- /.toolbox -->
                        </div><!-- /.toolbox-holder -->
                    </div><!-- /.block__col -->
                </div><!-- /.block__cols -->
            </div><!-- /.block__row -->
            <div class="block__row">
                <div class="block__cols">
                <div class="block__col block__col--1of2">
                    <a href="{{ path('procedure_entree_stock') }}" class="btn btn--pink-light">
                        <span>Entrée de stock</span>
                    </a>
                    <div class="toolbox-holder">
                        <a href="#" class="link link--alt link--toolbox">
                            <span>Comment ça marche ?</span>
                            <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                        </a>
                        <div class="toolbox">
                            <div class="toolbox__head">
                                <h6>Entrée de stock</h6>
                            </div><!-- /.toolbox__head -->
                            <div class="toolbox__content">
                                <p>Informez les gestionnaires de stock de l'intégration de nouveaux produits dans (au Hub142 ou au stock 115).<br>
                                Merci de vous assurer que les produits livrés comportent : le numéro d’entrée de stock et le code stock concerné.</p>
                            </div><!-- /.toolbox__content -->
                        </div><!-- /.toolbox -->
                    </div><!-- /.toolbox-holder -->
                </div><!-- /.block__col -->
                <div class="block__col block__col--1of2" style="position:relative;">
                    <a href="{{ path('stock_entries_listing') }}" class="btn btn--pink-light">
                        <span>Suivi entrée de stock</span><span style="display: none;position: absolute;top: -10px;right: -10px;font-size: inherit;cursor: pointer;" class="badge badge-danger stock_list_badge" title="Nombre d'entrées de stock à valider"></span>
                    </a>
                    <div class="toolbox-holder">
                        <a href="#" class="link link--alt link--toolbox">
                            <span>Comment ça marche ?</span>
                            <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                        </a>
                        <div class="toolbox">
                            <div class="toolbox__head">
                                <h6>Suivi entrée de stock</h6>
                            </div><!-- /.toolbox__head -->
                            <div class="toolbox__content">
                                <p>Suivez le traitement de vos entrées de stock.</p>
                            </div><!-- /.toolbox__content -->
                        </div><!-- /.toolbox -->
                    </div><!-- /.toolbox-holder -->
                </div><!-- /.block__col -->
                </div><!-- /.block__cols -->
            </div><!-- /.block__row -->
        {% else %}
            <div class="block__row">
                <div class="block__cols">
                    <div class="block__col block__col--1of2">
                        <a href="{{ path('project_create') }}" class="btn btn--dark">
                            <img class="svg" src="{{ asset('assets/myboxes/images/document.svg') }}" alt="">
                            <span>Commande 115</span>
                        </a>
                        <div class="toolbox-holder">
                            <a href="#" class="link link--alt link--toolbox">
                                <span>Comment ça marche ?</span>
                                <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                            </a>
                            <div class="toolbox">
                                <div class="toolbox__head">
                                    <h6>Commande 115</h6>
                                </div><!-- /.toolbox__head -->
                                <div class="toolbox__content">
                                    <p>
                                        Les Commandes 115 sont préparées le jour-même sous un délai de 2h et livrées au pied de votre bureau contre signature.
                                    </p>
                                    <p>
                                        Horaires de fonctionnement : 9h-12h / 13h-17h30
                                    </p>
                                </div><!-- /.toolbox__content -->
                            </div><!-- /.toolbox -->
                        </div><!-- /.toolbox-holder -->
                    </div><!-- /.block__col -->
                </div><!-- /.block__cols -->
            </div><!-- /.block__row -->
          <div class="block__row">
            <div class="block__cols">
              <div class="block__col block__col--1of2">
                <a href="{{ path('procedure_entree_stock') }}" class="btn btn--pink-light">
                  <span>Entrée de stock</span>
                </a>
                <div class="toolbox-holder">
                  <a href="#" class="link link--alt link--toolbox">
                    <span>Comment ça marche ?</span>
                    <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                  </a>
                  <div class="toolbox">
                    <div class="toolbox__head">
                      <h6>Entrée de stock</h6>
                    </div><!-- /.toolbox__head -->
                    <div class="toolbox__content">
                        <p>
                            Informez les gestionnaires de stock de l'arrivée de nouveaux produits à votre stock 115.<br/>
                            Le ramassage des produits peut avoir lieu :<br/>
                        </p>
                        <p>
                            Au pied de votre bureau de 9h-12h et de 13h-17h30<br/>
                            Au quai de déchargement du 115 Rue du Bac de 9h à 16h.
                        </p>
                        <p>
                            Merci de communiquer cette information à vos transporteurs.
                        </p>
                    </div><!-- /.toolbox__content -->
                  </div><!-- /.toolbox -->
                </div><!-- /.toolbox-holder -->
              </div><!-- /.block__col -->
              <div class="block__col block__col--1of2">
                <a href="{{ path('stock_entries_listing') }}" class="btn btn--pink-light">
                  <span>Suivi entrée de stock</span><span style="display: none;position: absolute;top: -10px;right: -10px;font-size: inherit;cursor: pointer;" class="badge badge-danger stock_list_badge" title="Nombre d'entrées de stock à valider"></span>
                </a>
                <div class="toolbox-holder">
                  <a href="#" class="link link--alt link--toolbox">
                    <span>Comment ça marche ?</span>
                    <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                  </a>
                  <div class="toolbox">
                    <div class="toolbox__head">
                      <h6>Suivi entrée de stock</h6>
                    </div><!-- /.toolbox__head -->
                    <div class="toolbox__content">
                      <p>Suivez le traitement de vos entrées de stock au 115.</p>
                    </div><!-- /.toolbox__content -->
                  </div><!-- /.toolbox -->
                </div><!-- /.toolbox-holder -->
              </div><!-- /.block__col -->
            </div><!-- /.block__cols -->
          </div><!-- /.block__row -->
        {% endif %}
    </div><!-- /.block__content -->
</div><!-- /.block-orders -->


{% block javascripts %}
  <script>
    $.ajax({
      url: '{{ path('dashboard_stock_button_ajax_validate') }}',
      method: 'post',
      contentType: 'application/json',
      headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
      cache: false,
      success: function (data) {
        if (data != 0) {
          $('.stock_list_badge').show();
          $('.stock_list_badge').text(data);
        } else {
          $('.stock_list_badge').hide();
        }
      }
    });
  </script>
{% endblock %}
