{#{% set icon = '' %}#}
{#{% set label = project.state %}#}
{#{% set alt_class = '' %}#}
{#{% set color_class = '' %}#}
{#{% if project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}#}
{#    {% set icon = 'block.svg' %}#}
{#    {% set alt_class = 'alt' %}#}
{#    {% set label = 'Brouillon' %}#}
{#{% elseif project.state == 'review' %}#}
{#    {% set icon = 'clock.svg' %}#}
{#    {% set color_class = 'danger' %}#}
{#    {% set label = 'En revue' %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED") %}#}
{#    {% set icon = 'check.svg' %}#}
{#    {% set label = 'Validé' %}#}
{#    {% set color_class = 'success' %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED") or project.state == 'back_product' or project.state == 'in_progress' %}#}
{#    {% set icon = 'check.svg' %}#}
{#    {% set color_class = 'success' %}#}
{#    {% set label = 'Validée non modifiable' %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_REJECTED") %}#}
{#    {% set icon = 'close.svg' %}#}
{#    {% set color_class = 'danger' %}#}
{#    {% set label = 'Commande rejetée par Véolog' %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_INT") %}#}
{#    {% set icon = 'check.svg' %}#}
{#    {% set color_class = 'success' %}#}
{#    {% set label = 'Commande intégrée chez Véolog' %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_PREPARE") %}#}
{#    {% set icon = 'check.svg' %}#}
{#    {% set color_class = 'success' %}#}
{#    {% set label = 'En préparation' %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_EXP") %}#}
{#    {% set icon = 'check.svg' %}#}
{#    {% set color_class = 'success' %}#}
{#    {% set label = 'Commande Expédiée' %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_REFUSED") %}#}
{#    {% set icon = 'close.svg' %}#}
{#    {% set color_class = 'danger' %}#}
{#    {% set label = 'Refusé' %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_CANCEL_ASK") %}#}
{#    {% set icon = 'close.svg' %}#}
{#    {% set color_class = 'danger' %}#}
{#    {% set label = "Demande d'annulation" %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_CANCEL") %}#}
{#    {% set icon = 'close.svg' %}#}
{#    {% set color_class = 'danger' %}#}
{#    {% set label = "Annulation veolog" %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_CANCEL") %}#}
{#    {% set icon = 'close.svg' %}#}
{#    {% set color_class = 'danger' %}#}
{#    {% set label = "Annulée" %}#}
{#{% elseif project.state == constant("App\\Entity\\Project::STATE_HUB_DELIVERED") %}#}
{#    {% set icon = 'check.svg' %}#}
{#    {% set color_class = 'success' %}#}
{#    {% set label = 'Livrée' %}#}
{#{% endif %}#}

<span class="status">
  <img class="svg" src="{{ asset('assets/front/images/loader.gif') }}" width="40px" alt="">
</span>

{% if project.reasonOfDelete is not empty and (project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT_CANCEL_ASK") or project.state == constant("App\\Entity\\Project::STATE_HUB_CANCEL_ASK") or project.state == constant("App\\Entity\\Project::STATE_HUB_CANCEL")) %}
    <p class="state danger" style="color: #e44137;padding: 10px 0 0 35px;">
        Raison : {{ project.reasonOfDelete }}
    </p>
{% endif %}

{% if project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_REJECTED") %}
<ol style="color: #e44137;padding: 10px 0 0 35px;">
    {% for rejections in project.rejectionMessages %}
        <li style="list-style:none;">Raison :
            {% if rejections.rejectionMessage == 'sku_not_found' %}
                Article inconnu
            {% else %}
            {{ rejections.rejectionMessage }}
            {% endif %}
            {% if rejections.product %}
                - {{ rejections.product.translate('fr').name }} ({{ rejections.product.translate('fr').code }})
            {% endif %}
        </li>
    {% endfor %}
</ol>
{% endif %}

{#{% for tracker in project.trackers %}#}
    <span class="tracking" style="padding: 15px 0 0 16px;display: block;"></span>
{#{% endfor %}#}
