{% extends 'hub/layout-mb.html.twig' %}

{% block body_class %}{% endblock %}

{% block content %}
    <section class="section-default">
        <div class="container">
            <div class="section__head">
                <h2 class="section__title">
                    Stock :
                    {% if app.session.get('current_stock', null) is not empty %}
                        {{ app.session.get('current_stock', null).name }}
                    {% endif %}
                </h2><!-- /.section__title -->


                <a href="{{ path('catalog') }}" class="link">
                    <img class="svg" src="{{ asset('assets/myboxes/images/eye.svg') }}" alt="">
                    <span>Consulter le catalogue</span>
                </a>
            </div><!-- /.section__head -->
        </div><!-- /.container -->
        <div class="section__body">
            <div class="container">
                <div class="section__aside">
                    {% include "hub/account/_actions.html.twig" %}
                </div><!-- /.section__aside -->
                <div class="section__content">
                    <div class="section__subtitle">
                        <img class="svg" src="{{ asset('assets/myboxes/images/document-2.svg') }}" alt="">
                        <h4>Mes commandes passées</h4>
                        <p style="font-weight:normal;font-size:12px;">
                            {% if app.session.get('current_stock').cave == constant('App\\Entity\\Project::CAVE_PANTIN') %}
                                <strong>J-7</strong>
                                avant votre date de commande :
                                <strong>plus de modification</strong>.
                                Annulation possible en cliquant sur le picto de suppression.
                                <br>
                                <strong>J-2</strong>
                                avant votre date de commande :
                                <strong>plus d’annulation ni de modification possible<strong>
                            {% endif %}
                            {% if app.session.get('current_stock').cave == constant('App\\Entity\\Project::CAVE_115') %}
                                Les commandes 115 sont réalisées le jour même.
                                Aucune modification ou annulation n'est possible une fois le formulaire validé.
                            {% endif %}
                        </p>
                    </div><!-- /.section__subtitle -->
                    <div class="section__entry">
                        {% include "hub/account/projects.html.twig" %}
                    </div><!-- /.section__entry -->
                    <div class="section__actions">
                        <a href="#" class="btn btn--grey-dark">Toutes mes commandes</a>
                    </div><!-- /.section__actions -->
                </div><!-- /.section__content -->
            </div><!-- /.container -->
        </div><!-- /.section__body -->
    </section><!-- /.section-default -->
{% endblock %}

{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}