{% if projects|length > 0 %}
  <div><p id="hello"></p></div>
    <div class="table-projects-alt table-projects-alt--secondary">
        <table>
            <thead>
                <th style="font-size:15px;">Nom du projet</th>
                <th style="font-size:15px;">{% if parent is defined and parent is not null %} Adresse du destinataire {% else %} Cave {% endif %}</th>
                <th style="font-size:15px;">{% if parent is defined and parent is not null %} Date d'expédition {% else %} Date {% endif %}</th>
                <th style="font-size:15px;">Statut</th>
                <th style="font-size:15px;">Actions</th>
            </thead>
            <tbody>
                {% for project in projects %}

                    <tr>
                        <td data-title="{{ project.name }}">
                            {% if project.parent is defined and project.parent is not null %}
                                <h4 data-max-char="52">{{ project.recipientLastName }} {{ project.recipientFirstName }}</h4>
                            {% else %}
                                <h4 data-max-char="52">{{ project.name }}</h4>
                            {% endif %}
                            {% include "hub/project/partials/type.html.twig" %}
                            {% if project.type is defined and project.type != 'bulk' %}
                              <br/><br/><p>#{{ project.id }}</p>
                            {% endif %}
                        </td>
                        {% if project.parent is defined and project.parent is not null %}
                            <td data-title="{{ project.recipientAddress }}">
                                {{ project.recipientAddress }} {{ project.recipientZip }} {{ project.recipientCountry }}
                            </td>
                        {% else %}
                            <td data-title="{{ project.cave }}">
                                {% if project.cave == constant('App\\Entity\\Project::CAVE_115') %}
                                    {{ 'app.cave.front.cave_115'|trans }}
                                {% elseif project.cave == constant('App\\Entity\\Project::CAVE_PANTIN') %}
                                    {{ 'app.cave.front.cave_pantin'|trans }}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td data-title="{{ project.dateStart|date('d/m/Y') }}">
                          Création : {{ project.created|date('d/m/Y H:i' ) }} <br/>
                          Par : {{ project.user.firstName }} {{ project.user.lastName }} <br/><br/>
                          Livraison :
                          {% if project.needReturn %} Du {% endif %}
                           {{ project.dateStart|date('d/m/Y') }}
                            {% if project.needReturn %}<br> au
                                {{ project.dateEnd|date('d/m/Y') }}
                            {% endif %}
                        </td>
                        <td class="project-status" data-id-project="{{ project.id }}">
                            {% include 'hub/account/_state.html.twig' %}
                        </td>
                        <td>
                            <ul class="list-icons list-icons--alt">
                                <li>
                                    {% if project.state in constant("App\\Entity\\Project::STATE_EDITABLE") %}
                                        <a href="{{ path('project_switch_and_see', {'id': project.id}) }}">
                                    {% else %}
                                        <a href="{{ path('project_view', {'id': project.id}) }}">
                                    {% endif %}
                                        <img class="svg black eye" src="{{ asset('assets/myboxes/images/eye.svg') }}" alt="eye">
                                        <span>Voir</span>
                                    </a>
                                </li>
                                {% if project.state in constant("App\\Entity\\Project::STATE_EDITABLE") and app.user == project.user and project.type != constant("App\\Entity\\Project::TYPE_BULK") %}
                                    <li>
                                        <a href="{{ path('project_switch', {'id': project.id}) }}">
                                            <img class="svg black" src="{{ asset('assets/myboxes/images/edit.svg') }}" alt="edit">
                                            <span>Modifier</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if project.isDeletable and app.user == project.user and project.type != constant("App\\Entity\\Project::TYPE_BULK") %}
                                    <li>
                                        <a href="{{ path('project_remove_form', {'id': project.id}) }}" class="jsProjectDeleteForm">
                                            <img class="svg black" src="{{ asset('assets/myboxes/images/trash.svg') }}" alt="trash">
                                            <span>Supprimer</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.table-projects-alt -->
{% else %}
    <p><em>{{ 'sylius.ui.no_project'|trans }}</em></p>
    {% if project is defined and project.type != constant("App\\Entity\\Project::TYPE_BULK") %}
        <a href="{{ path('project_create') }}" class="btn">
            <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="papers">
            <span>{{ 'sylius.ui.create_project'|trans }}</span>
        </a>
    {% endif %}
{% endif %}

{% block javascripts %}
<script>
          var projects_id = $('.project-status').map(function() {
            return $(this).data('id-project');
          }).get();

          $.ajax({
            url: '{{ path('dashboard_project_ajax_status') }}',
            method: 'post',
            data: {data:projects_id},
            contentType: 'application/json',
            headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
            cache: false,
            success: function (data) {
              $('.project-status').map(function() {
                var project_id = $(this).data('id-project');
                for (var i = 0; i < data.length; i++) {
                  if (data[i]['id'] == project_id)
                  {
                    var status = data[i]['state'];
                    var trackers = data[i]['trackers'];

                    for (var x = 0; x < trackers.length; x++) {
                      $(this).find('.tracking').append("<a href='"+ trackers[x] +"' target='_blank'>suivre la commande</a><br>");
                    }

                    if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_DRAFT") }}') {
                      $(this).find('.status').html('<img class="svg" src="{{ asset('assets/front/images/block.svg') }}" alt="alt">&nbsp;Brouillon');
                    } else if (status == 'review') {
                      $(this).find('.status').addClass('danger').html('<img class="svg" src="{{ asset('assets/front/images/clock.svg') }}" alt="alt">En revue');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED") }}') {
                      $(this).find('.status').addClass('success').html('<img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Validée');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED") }}' || status == 'back_product' || status == 'in_progress') {
                      $(this).find('.status').addClass('success').html('<img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Validée non modifiable');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_REJECTED") }}') {
                      $(this).find('.status').addClass('danger').html('<img style="padding:5px 15px 0 4px;" class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="alt">Rejetée par Véolog');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_INT") }}') {
                      $(this).find('.status').addClass('success').html('<img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Commande intégrée chez Véolog');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_PREPARE") }}') {
                      {% if app.session.get('current_stock').cave == '115' %}
                        $(this).find('.status').addClass('success').html('<img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">En préparation chez le Runner');
                      {% else %}
                        $(this).find('.status').addClass('success').html('<img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">En préparation chez Veolog');
                      {% endif %}
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_EXP") }}') {
                      {% if app.session.get('current_stock').cave == '115' %}
                        $(this).find('.status').addClass('success').html('<img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Expédiée par le Runner');
                      {% else %}
                        $(this).find('.status').addClass('success').html('<img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Expédiée par Veolog');
                      {% endif %}
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_REFUSED") }}') {
                      $(this).find('.status').addClass('danger').html('<img style="padding:5px 15px 0 4px;" class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="alt">Refusé');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_CANCEL_ASK") }}') {
                      $(this).find('.status').addClass('danger').html('<img style="padding:5px 15px 0 4px;" class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="alt">Annulation demandée');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_CANCEL") }}') {
                      $(this).find('.status').addClass('danger').css('color', '#e44137').html('<img style="padding:5px 15px 0 4px;" class="svg" src="{{ asset('assets/front/images/close-pink.svg') }}" alt="alt">Annulation confirmée');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_CANCEL") }}') {
                      $(this).find('.status').addClass('danger').html('<img style="padding:5px 15px 0 4px;" class="svg" src="{{ asset('assets/front/images/close-pink.svg') }}" alt="alt">Annulée');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_DELIVERED") }}') {
                      $(this).find('.status').addClass('success').html('<img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Livrée');
                    } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_DRAFT_CANCEL_ASK") }}') {
                      $(this).find('.status').addClass('danger').css('color', '#e44137').html('<img style="padding:5px 15px 0 4px;" class="svg" src="{{ asset('assets/front/images/close-pink.svg') }}" alt="alt">Annulation confirmée');
                    }
                  }
                }
              }).get();
            }
          });
</script>
{% endblock %}
