/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$f-hennessy-sans: 'Hennessy Sans', sans-serif;
$f-trebuchet: 'Trebuchet MS', sans-serif;
$f-moet: 'Moet Hennessy', sans-serif;
$f-futura: 'Futura PT Book', sans-serif;
$f-gotham: 'Gotham', sans-serif;
$f-sf-pro-text: 'SF Pro Text', sans-serif;

$font-size-base: 13px;
$line-height-base: 1.54;

$c-base: #7f7a77;
$c-dark: #2c455b;
$c-brown-light: #d8b693;
$c-green: #52c48a;
$c-red: #e44137;
$c-grey: #e4e4e4;
$c-grey-2: #e3e2dc;
$c-grey-dark: #7f7a77;
$c-grey-light: #ebebeb;
$c-grey-light-2: #c2c1be;
$c-grey-light-3: #eee;
$c-white: #fff;
$c-black: #000;
$c-pink: #e2a287;
$c-pink-light: #d99778;
$c-green: #55c1b1;

$container-max-width: 1700px;

$container-gutter: 15px;

$t-duration: 0.4s;

$responsive-xxs: 374px;
$responsive-xs: 767px;
$responsive-xs3: 600px;
$responsive-xs4: 782px;
$responsive-sm: 985px;
$responsive-md: 1200px;
$responsive-lg: 1400px;

$breakpoint-mobile2: '(max-width: #{$responsive-xs3})';
$breakpoint-mobile3: '(max-width: #{$responsive-xs4})';
$breakpoint-mobile-portrait: '(max-width: #{$responsive-xxs}) ';
$breakpoint-mobile: '(max-width: #{$responsive-xs}) ';
$breakpoint-tablet-portrait: '(max-width: #{$responsive-sm}) ';
$breakpoint-small-desktop: '(max-width: #{$responsive-md}) ';
$breakpoint-large-desktop: '(max-width: #{$responsive-lg}) ';
$retina: '(min-resolution: 2dppx) ';
