{% if formParent is defined and form is defined %}
    {% if formParent.translations is defined and formParent.translations|length >= 2   %}

        <div class="btn-group m-r-10" style="position: absolute;top: 0;right: -48px;">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button"><i class="fa fa-globe"></i>&nbsp; </button>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a href="#" class="disko-group-intl" style="position: relative">
                        <img class="load" style="height: 15px;position: absolute;left: 0px;top: 8px;display: none;" src="/assets/admin/images/ajax-loader.svg?4">
                        <span style="position: relative; top: 1px;height: 12px;" class="flag-icon flag-icon-un"></span> &nbsp;
                        Appliquer à toutes les langues
                    </a>
                </li>
                <li class="divider"></li>

                {% for translation in formParent.translations %}
                    {% set locale = translation.vars.name %}
                    {% if form.parent.vars.name != locale%}
                        <li>
                            <a href="#"  class="disko-group-alone" style="position: relative" data-locale="{{ locale }}">
                                <img class="load" style="height: 15px;position: absolute;left: 0px;top: 8px;display: none;" src="/assets/admin/images/ajax-loader.svg?4">
                                <span style="position: relative; top: 1px;height: 12px;" class="flag-icon flag-icon-{% if locale == "en" %}gb{% else %}{{ locale }}{% endif %}"></span> &nbsp;
                                Appliquer en <b>{{ locale }}</b>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
    {% endif %}
{% endif %}
