<form action="" class="form-horizontal" method="get" enctype="multipart/form-data" novalidate >
    {{ form_errors(form.id) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.id, "ID", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.id, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un identifiant'} }) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.firstName) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.firstName, "Prénom", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un prénom'} }) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.lastName) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.lastName, "Nom", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un nom'} }) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.email) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.email, "E-mail", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un e-mail'} }) }}
            </div>
        </div>
    </div>

    <div class="form-group panel-block">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>
