{% set menuActive = 'report-myhub' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Rapports MyHUb' %}


{%  block options %}
{% endblock %}

{% block content %}
    <div class="row">


        <div class="col-md-12 col-sm-12 search-zone">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="">Statstiques dans le temps</h3>
                </div>
            </div>
        </div>


        <div class="col-md-12 m-b-2 col-sm-12 search-zone">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            {% include "@Admin/Report/MyHub/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>





        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChart" style="display: block; height: 800px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config = {
                                    type: 'bar',
                                    data: {
                                        labels: [
                                            {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                 "{{ "now"|date_modify('-' ~ "now"|date('z') ~' day')|date_modify("+"~doy~" days")|date("d/m/Y") }}"
                                            {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ],
                                        datasets: [{
                                            label: "Nombre de nouveaux stocks (caves)",
                                            backgroundColor: 'rgb(54, 162, 235)',
                                            borderColor: 'rgb(54, 162, 235)',
                                            data: [
                                                {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                    {% set val = 0 %}
                                                    {% for stat in statsStockCreated %}
                                                        {% if stat['dayofyear'] == doy %}
                                                            {% set val = stat['cpt'] %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {{ val }}
                                                    {% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            ],
                                            fill: false,
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Statistiques Caves'
                                        },
                                        legend:{
                                            position: 'bottom',
                                            align: 'start',
                                            labels:{
                                                boxWidth: 10,
                                                fontSize: 10,
                                            },
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                ticks: {
                                                    callback: function(dataLabel, index) {
                                                        // Hide the label of every 2nd dataset. return null to hide the grid line too
                                                        return index % 2 === 0 ? dataLabel : '';
                                                    }
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0
                                                }
                                            }]
                                        }
                                    }
                                };


                            </script>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChartProductCreated" style="display: block; height: 800px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config5 = {
                                    type: 'bar',
                                    data: {
                                        labels: [
                                            {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                            "{{ "now"|date_modify('-' ~ "now"|date('z') ~' day')|date_modify("+"~doy~" days")|date("d/m/Y") }}"
                                            {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ],
                                        datasets: [{
                                            label: "Nouveaux produits",
                                            backgroundColor: 'rgb(54, 162, 235)',
                                            borderColor: 'rgb(54, 162, 235)',
                                            data: [
                                                {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                {% set val = 0 %}
                                                {% for stat in statsProductCreated %}
                                                {% if stat['dayofyear'] == doy %}
                                                {% set val = stat['cpt'] %}
                                                {% endif %}
                                                {% endfor %}
                                                {{ val }}
                                                {% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            ],
                                            fill: false,
                                        },{
                                            label: "Nouveaux produits HUB",
                                            backgroundColor: 'red',
                                            borderColor: 'red',
                                            data: [
                                                {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                {% set val = 0 %}
                                                {% for stat in statsProductCreatedHub %}
                                                {% if stat['dayofyear'] == doy %}
                                                {% set val = stat['cpt'] %}
                                                {% endif %}
                                                {% endfor %}
                                                {{ val }}
                                                {% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            ],
                                            fill: false,
                                        },{
                                            label: "Nouveaux produits non HUB",
                                            backgroundColor: 'orange',
                                            borderColor: 'orange',
                                            data: [
                                                {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                {% set val = 0 %}
                                                {% for stat in statsProductCreatedNoHub %}
                                                {% if stat['dayofyear'] == doy %}
                                                {% set val = stat['cpt'] %}
                                                {% endif %}
                                                {% endfor %}
                                                {{ val }}
                                                {% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            ],
                                            fill: false,
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Produits du Référentiel'
                                        },
                                        legend:{
                                            position: 'bottom',
                                            align: 'start',
                                            labels:{
                                                boxWidth: 10,
                                                fontSize: 10,
                                            },
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                ticks: {
                                                    callback: function(dataLabel, index) {
                                                        // Hide the label of every 2nd dataset. return null to hide the grid line too
                                                        return index % 2 === 0 ? dataLabel : '';
                                                    }
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0
                                                }
                                            }]
                                        }
                                    }
                                };


                            </script>
                        </div>

                    </div>
                </div>


                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChartstatsByHouse" style="display: block; height: 800px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config2 = {
                                    type: 'bar',
                                    data: {
                                        labels: [
                                            {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                            "{{ "now"|date_modify('-' ~ "now"|date('z') ~' day')|date_modify("+"~doy~" days")|date("d/m/Y") }}"
                                            {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ],
                                        datasets: [
                                            {% for house, datas in statsByHouse %}
                                                {
                                                    label: "{{ house }}",
                                                    backgroundColor: '#{{ house|md5|slice(0, 6) }}',
                                                    borderColor: '#{{ house|md5|slice(0, 6) }}',
                                                    data: [
                                                        {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                            {% set val = 0 %}
                                                            {% for stat in datas %}
                                                                {% if stat['dayofyear'] == doy %}
                                                                    {% set val = stat['cpt'] %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {{ val }}
                                                            {% if not loop.last %},{% endif %}
                                                        {% endfor %}
                                                    ],
                                                    fill: false,
                                                }
                                                {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Commandes expédiées par stock'
                                        },
                                        legend:{
                                            position: 'bottom',
                                            align: 'start',
                                            labels:{
                                                boxWidth: 10,
                                                fontSize: 10,
                                            },
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                ticks: {
                                                    callback: function(dataLabel, index) {
                                                        // Hide the label of every 2nd dataset. return null to hide the grid line too
                                                        return index % 2 === 0 ? dataLabel : '';
                                                    }
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0
                                                }
                                            }]
                                        }
                                    }
                                };


                            </script>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChartstatsByService" style="display: block; height: 800px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config3 = {
                                    type: 'bar',
                                    data: {
                                        labels: [
                                            {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                            "{{ "now"|date_modify('-' ~ "now"|date('z') ~' day')|date_modify("+"~doy~" days")|date("d/m/Y") }}"
                                            {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ],
                                        datasets: [
                                            {% for service, datas in statsByService %}
                                            {
                                                label: "{{ service }}",
                                                backgroundColor: '#{{ service|md5|slice(0, 6) }}',
                                                borderColor: '#{{ service|md5|slice(0, 6) }}',
                                                data: [
                                                    {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                    {% set val = 0 %}
                                                    {% for stat in datas %}
                                                    {% if stat['dayofyear'] == doy %}
                                                    {% set val = stat['cpt'] %}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {{ val }}
                                                    {% if not loop.last %},{% endif %}
                                                    {% endfor %}
                                                ],
                                                fill: false,
                                            }
                                            {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Services utilisés par commandes expédiées'
                                        },
                                        legend:{
                                            position: 'bottom',
                                            align: 'start',
                                            labels:{
                                                boxWidth: 10,
                                                fontSize: 10,
                                            },
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                ticks: {
                                                    callback: function(dataLabel, index) {
                                                        // Hide the label of every 2nd dataset. return null to hide the grid line too
                                                        return index % 2 === 0 ? dataLabel : '';
                                                    }
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0
                                                }
                                            }]
                                        }
                                    }
                                };


                            </script>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChartstatsByCountry" style="display: block; height: 800px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config4 = {
                                    type: 'bar',
                                    data: {
                                        labels: [
                                            {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                            "{{ "now"|date_modify('-' ~ "now"|date('z') ~' day')|date_modify("+"~doy~" days")|date("d/m/Y") }}"
                                            {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ],
                                        datasets: [
                                            {% for country, datas in statsByCountry %}
                                            {
                                                label: "{{ country|capitalize }}",
                                                backgroundColor: '#{{ country|md5|slice(0, 6) }}',
                                                borderColor: '#{{ country|md5|slice(0, 6) }}',
                                                data: [
                                                    {% for doy in range(data.start|date('z'),data.end|date('z'))   %}
                                                    {% set val = 0 %}
                                                    {% for stat in datas %}
                                                    {% if stat['dayofyear'] == doy %}
                                                    {% set val = stat['cpt'] %}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {{ val }}
                                                    {% if not loop.last %},{% endif %}
                                                    {% endfor %}
                                                ],
                                                fill: false,
                                            }
                                            {% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Commandes expédiées par pays'
                                        },
                                        legend:{
                                            position: 'bottom',
                                            align: 'start',
                                            labels:{
                                                boxWidth: 10,
                                                fontSize: 10,
                                            },
                                        },
                                        scales: {
                                            xAxes: [{
                                                display: true,
                                                ticks: {
                                                    callback: function(dataLabel, index) {
                                                        // Hide the label of every 2nd dataset. return null to hide the grid line too
                                                        return index % 2 === 0 ? dataLabel : '';
                                                    }
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0
                                                }
                                            }]
                                        }
                                    }
                                };


                            </script>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChartAvgDelay" style="display: block; height: 800px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config6 = {
                                    data: {
                                        datasets: [{
                                            data: [
                                                {{ statsByDelayBasic }},
                                                {{ statsByDelayUrgency }},
                                                {{ statsByDelayShuttle }}
                                            ],
                                            backgroundColor: [
                                                "rgb(54, 162, 235)",
                                                "rgb(255, 99, 132)",
                                                "rgb(153, 102, 255)",
                                            ]
                                        }],
                                        labels: [
                                            'Standard',
                                            'Urgente',
                                            'Navette'
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        legend: {
                                            position: 'right',
                                        },
                                        title: {
                                            display: true,
                                            text: "Delais moyen d'envois des commandes par type (en jour)"
                                        },
                                        scale: {
                                            ticks: {
                                                beginAtZero: true
                                            },
                                            reverse: false
                                        },
                                        animation: {
                                            animateRotate: false,
                                            animateScale: true
                                        }
                                    }
                                };


                            </script>
                        </div>

                    </div>
                </div>

              <div class="col-md-6 col-sm-12">
                <div class="panel panel-inverse">

                  <div class="panel-body">

                    <div class="table-disko" style="max-height: 700px;">
                      <h6 style="margin: 0 0 10px 0;text-align: center">Nombre commandes par type</h6>

                      <div class="table-ajax-top-delay">
                        {% include "@Admin/Report/MyHub/partials/table-type-project.html.twig" %}
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <div class="col-md-12">
                <div class="panel panel-inverse">

                  <div class="panel-body">

                    <div class="table-disko" style="max-height: 700px;">
                      <h6 style="margin: 0 0 10px 0;text-align: center">Services utilisés par stock</h6>

                      <div class="table-ajax-stock-services">
                        <table class="table table-sm table-bordered table-hover table-striped cf">
                            <thead>
                            <tr>
                                <th>Stock</th>
                                <th>Services</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for stock, services in statsServicesByStock %}
                                <tr>
                                    <td style="border-bottom:1px solid #ccc;">{{ stock }}</td>

                                    <td style="border-bottom:1px solid #ccc;">
                                        <table class="table table-sm">
                                        {% for service in services %}
                                            <tr>
                                                <td width="75%">{{ service.name }}</td>
                                                <td width="25%">{{ service.count }}</td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>
        </div>
    </div>
    <script>

        window.onload = function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            window.myLine = new Chart(ctx, config);

            var ctx2 = document.getElementById('myChartstatsByHouse').getContext('2d');
            window.myLine = new Chart(ctx2, config2);

            var ctx3 = document.getElementById('myChartstatsByService').getContext('2d');
            window.myLine = new Chart(ctx3, config3);

            var ctx4 = document.getElementById('myChartstatsByCountry').getContext('2d');
            window.myLine = new Chart(ctx4, config4);

            var ctx5 = document.getElementById('myChartProductCreated').getContext('2d');
            window.myLine = new Chart(ctx5, config5);

            var ctx6 = document.getElementById('myChartAvgDelay');
            window.myPolarArea = Chart.PolarArea(ctx6, config6);

        };

    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
