{% set menuActive = 'users' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Utilisateurs' %}
{% block mainSubtitle %}
    <span class="fa fa-info-circle"></span> La mise à jour des utilisateurs (provenant de l'AD) se fait tous les lundis matins.
{% endblock %}


{%  block options %}
    <a class="btn btn-success btn-xs" href="{{ path('admin_user_create') }}">
        <i class="fa fa-plus "></i> Créer un nouvel utilisateur
    </a>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            {% include "@Admin/User/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>






        <div class="col-md-12 col-sm-12">

            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                    <tr>
                        <th class="cansort {% if pagination.isSorted('u.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'u.id') }} {% if pagination.isSorted('u.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th>Rôle</th>
                        <th class="cansort {% if pagination.isSorted('u.firstName') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Prénom', 'u.firstName') }} {% if pagination.isSorted('u.firstName') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.lastName') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nom', 'u.lastName') }} {% if pagination.isSorted('u.lastName') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.email') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'E-mail', 'u.email') }} {% if pagination.isSorted('u.email') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.company') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Maison', 'u.company') }} {% if pagination.isSorted('u.company') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'u.created') }} {% if pagination.isSorted('u.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if pagination|length <= 0 %}
                        <tr>
                            <td colspan="100">Aucun résultat trouvé.</td>
                        </tr>
                    {% else %}
                        {% for user in pagination %}
                            <tr>
                                <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ user.id }}</td>

                                <td style="vertical-align:middle;width: 200px;">

                                    {% if user.hasRole('ROLE_GENERAL_ADMIN') %}
                                        <span class="label label-danger"><i class="fa fa-users"></i> Super Administrateur</span>
                                    {% elseif user.hasRole('ROLE_VEOLOG_ADMIN') %}
                                        <span class="label label-success"><i class="fa fa-cog"></i> Veolog Administrateur</span>
                                    {% else %}
                                        {% if user.adminStocks|length > 0 %}
                                            <span class="label label-warning"><i class="fa fa-users"></i> Administrateur de {{ user.adminStocks|length }} stock(s)</span>
                                        {% endif %}

                                        {% if user.stocks|length > 0 %}
                                            <span class="label label-info"><i class="fa fa-user"></i> Membre de {{ user.stocks|length }}  stock(s)</span>
                                        {% endif %}
                                    {% endif %}

                                </td>
                                <td style="vertical-align:middle;"><a href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ user.firstName }}</a></td>
                                <td style="vertical-align:middle;"><a href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ user.lastName }}</a></td>
                                <td style="vertical-align:middle;"><a href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ user.email }}</a></td>
                                <td style="vertical-align:middle;">{{ user.company }}</td>
                                <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ user.created|date("m/d/Y h:i", "Europe/Paris") }}</td>
                                <td style="width: 100px;text-align:center;vertical-align:middle;">

                                    <a title="Modifier" href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-xs btn-default">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a title="Supprimer" href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-xs btn-danger delete-button">
                                        <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
