

{% if product.translate('fr').cover is not empty and product.translate('fr').cover.path is not empty %}
    {% set path = asset(product.translate('fr').cover|ifs.path|imagine_filter(filter|default('hennessy_project_list'))) %}
{% else %}
    {% set path = '//placehold.it/500x500' %}
{% endif %}

{% spaceless %}
    {% if only_path is defined %}
        {{ path }}
    {% else %}
        <img src="{{ path }}" alt="" class="ui bordered image" />
    {% endif %}
{% endspaceless %}