<div class="navbar">
    <button class="hidden navbar-toggler navbar-border-left" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
        <img class="svg" src="{{ asset('assets/shop/images/profile.svg') }}" alt="profile" />
        <strong class="hidden-xs">{{ app.user.email }}</strong>
        <img class="svg hidden-xs" src="{{ asset('assets/shop/images/angle-down.svg') }}" alt="angle-down" />
    </button>
    <div class="navbar-collapse navbar-profile collapse">
        <ul class="navbar-nav">
            <li>
                <a href="{{ path('homepage') }}" class="navbar-brand hidden-sm hidden-md hidden-lg">
                    <img src="{{ asset('assets/shop/images/logo@2x.png') }}" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="svg hidden-xs" src="{{ asset('assets/shop/images/profile.svg') }}" alt="profile" />
                    <strong class="hidden-xs">{{ app.user.email }}</strong>
                    <img class="svg hidden-xs" src="{{ asset('assets/shop/images/angle-up.svg') }}" alt="angle-up" />
                    <img class="svg hidden-sm hidden-md hidden-lg" src="{{ asset('assets/shop/images/close.svg') }}" alt="close" />
                </button>
            </li>

            {% if app.session.get('current_stock', false) %}
                <li>
                    <a href="{{ path('project_create') }}">
                        <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="papers" />
                        <span>Créer un projet</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('account') }}">
                        <img class="svg" src="{{ asset('assets/shop/images/eye.svg') }}" alt="eye" />
                        <span>Voir mes projets</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.myhennessy.com/" target="_blank">
                        <img class="svg" src="{{ asset('assets/shop/images/my.svg') }}" alt="" />
                        <span>My hennessy</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin_homepage') }}">
                        <img class="svg" src="{{ asset('assets/shop/images/edit.svg') }}" alt="" />
                        <span>Administration</span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('logout') }}">
                    <img class="svg" src="{{ asset('assets/shop/images/power.svg') }}" alt="" />
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul><!-- /.navbar-nav -->
    </div><!-- /.navbar-collapse -->
</div><!-- /.navbar -->