{% form_theme form 'front/parts/form_theme.html.twig' %}
{{ form_start(form, {'action': path('project_remove', {'id': form.vars.data.id}), 'attr': {'id': 'project-delete-form', 'novalidate': 'novalidate'}}) }}
    <div class="form__body">
        {{ form_widget(form) }}
    </div><!-- /.form__body -->
    <div class="form__actions">
        <input type="submit" value="Confirmer la suppression" class="btn btn--md form__btn">
    </div><!-- /.form__actions -->
{{ form_end(form) }}