

{% set hideit = null %}
{% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
    {% set hideit = 'style="display:none"' %}
{% endif %}

{{ form_start(form, {'attr': {'id': 'project-create', 'novalidate': ''}}) }}
<div class="form__head">
    <h2 class="form__title">VOTRE PROJET</h2>
</div><!-- /.form__head -->
<div class="form__body">
    <div class="row">

        {% if not edit %}
            <div class="col-md-8">
                <p style="width: 100%;max-width: none;border: 1px solid #d8b693;padding: 8px; background: floralwhite;">
                    Veuillez créer votre projet de livraison à partir du stock de départ <b>{{ 'app.cave.front.cave_115'|trans }}</b> ou <b>{{ 'app.cave.front.cave_pantin'|trans }}</b>
                </p>
            </div>
        {% endif %}

        {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
            <div class="col-md-8">
                <p style="width: 100%;max-width: none;color: white;border: 1px solid red;padding: 8px; background: palevioletred;">
                    Attention : les commandes urgentes sont possibles avant 16h et couvrent unqiuement la région Parisienne.
                </p>
            </div>
        {% endif %}

        {% if not edit %}
            <div class="col-md-4">
                <p style="text-align: right">
                    <a href="{{ path('catalog') }}">Voir le catalogue</a>
                </p>
            </div>
        {% endif %}
    </div>

    <hr style="border:none;"/>

    <div class="row">
        <div class="col-md-6" >
            {{ form_row(form.cave) }}
        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.dateStart) }}

                    {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC")  %}
                        <span style="position: absolute;bottom: 2px;font-size: 10px;"><em>Attention : les commandes faites après 17h ne seront traitées qu'après J+2</em></span>
                    {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY")  %}
                        <span style="position: absolute;bottom: 2px;font-size: 10px;"><em>Attention : les commandes faites après 17h ne seront traitées qu'après J+2</em></span>
                    {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_SHUTTLE")  %}
                        <span style="position: absolute;bottom: 2px;font-size: 10px;"><em>Attention : les commandes faites après 10h ne seront traitées que pour la navette 142 de 14h à J+1</em></span>
                    {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_BULK")  %}
                        <span style="position: absolute;bottom: 2px;font-size: 10px;"><em>Attention : les commandes faites après 17h ne seront traitées qu'après J+2</em></span>
                    {% endif %}
                </div>
                {#
                <div class="col-md-6">
                    {{ form_row(form.hourStart) }}
                </div>
                #}
            </div>
        </div>
    </div>

    {# hidden list type #}
    <div style="display: none">
        {{ form_row(form.type) }}
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.needReturn) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.billingCenter) }}
        </div>
        <div class="col-md-6">
            <div class="row needReturn">
                <div class="col-md-6">
                    {{ form_row(form.dateEnd) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.hourEnd) }}
                </div>
            </div>
        </div>
    </div>

</div><!-- /.form__body -->

<br/>

<div class="form__head" {{ hideit|raw }}>
    <h2 class="form__title">Destinataire</h2>
</div><!-- /.form__head -->


<div class="form__body" {{ hideit|raw }}>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.recipientSociety) }}
        </div>
        <div class="col-md-6">
            <div class="form__row js-group">
                {{ form_label(form.recipientCountry) }}
            </div>
            <div class="form__controls">
                <div class="select">
                    {{ form_widget(form.recipientCountry) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.recipientLastName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.recipientAddress) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.recipientFirstName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.recipientAddressComplement) }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.recipientPhone) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.recipientZip) }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.recipientMobilePhone) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.recipientCity) }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.recipientEmail) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.recipientInformation) }}
        </div>
    </div>

</div>


<br/>

<div class="form__head" {{ hideit|raw }}>
    <h2 class="form__title">Services - avant livraison</h2>
</div><!-- /.form__head -->
<div class="form__body" {{ hideit|raw }}>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.beforeQuote) }}
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                {% for child in form.beforeServices.children %}

                    {% set spl = child.vars.label|split('::') %}
                    <div class="col-md-4 cave_service cave_{{ spl[1] }}">
                        <div class="form__row filled">
                            <div class="form__controls  ">
                                <div class="checkbox" style="margin-top: 15px;">
                                    <input type="checkbox" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                    <label for="{{ child.vars.id }}">{{ spl[0] }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.beforeOther) }}
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>

<br/>

<div class="form__head needReturn" {{ hideit|raw }}>
    <h2 class="form__title">Services - retour livraison</h2>
</div><!-- /.form__head -->
<div class="form__body needReturn" {{ hideit|raw }}>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.afterQuote) }}
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                {% for child in form.afterServices.children %}

                    {% set spl = child.vars.label|split('::') %}
                    <div class="col-md-4 cave_service cave_{{ spl[1] }}">
                        <div class="form__row filled">
                            <div class="form__controls  ">
                                <div class="checkbox" style="margin-top: 15px;">
                                    <input type="checkbox" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                    <label for="{{ child.vars.id }}">{{ spl[0] }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.afterOther) }}
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>

<div class="form__controls  datepicker-wrapper ">
    <input style="display: none" type="text" id="project_dateStart" name="none" class="field datepicker" autocomplete="off">
</div>

<div class="form__actions">
    <button type="submit" value="Submit" class="btn form__btn">
        <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="">
        <span>
        {% if edit %}
            Modifier le projet
        {% else %}
            Créer le projet
        {% endif %}</span>
    </button>
</div><!-- /.form__actions -->
{{ form_row(form._token) }}
</form>
