
<script>
    setTimeout(function(){

        $('#project-create select').each(function(){
            $(this).parents('.form__row').addClass('filled');
        });
        $('#project-create input, #project-create select').each(function(){
            if ($(this).val())
            {
                $(this).parents('.form__row').addClass('filled')
            }
        });

        $('.selectric-hours-select').each(function(){

            var val = '';
            $(this).parents('.select').find('.hide').find('select').each(function(){


                var number = $(this).val();
                if (number <= 9)
                {
                    number = '0'+number;
                }

                if (val == '')
                {
                    val = number+' : ';
                }
                else
                {
                    val = val + number;
                }
            });

            $(this).find('.selectric .label').html(val);
        });

    }, 500);




    checkboxNeedReturn();
    $('#project_needReturn').change(function(e){
        checkboxNeedReturn();
    });

    function checkboxNeedReturn()
    {
        if ($("#project_needReturn").is(":checked"))
        {
            $('.needReturn').fadeIn();
            $('.ui-datepicker').show();
        }
        else
        {
            $('.needReturn').fadeOut();
            $('.ui-datepicker').show();
        }

        $('.ui-datepicker').hide();
    }
</script>


<script>
    updateServicesByCave();
    $('body').on('change', '#project_cave', function(){
        $('.cave_service input').prop('checked', '');
        updateServicesByCave();
    });
    function updateServicesByCave()
    {
        var val = $('#project_cave').val();
        console.log('.cave_service.cave_'+val);
        $('.cave_service').hide();
        $('.cave_service.cave_'+val).show();
    }
</script>