<div class="page-bar {% if project is not null %}page-bar--alt{% endif %}" style="background-color: #f4f4f4">
    <div class="container">
        {% if project is not null %}
            <div class="page__content">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-rhombs">
                            <li style="position: relative">
                                {{ project.name }}

                                <span style="position: absolute;left: 28px;top: 20px;font-size: 11px;">
                                    {% include "front/project/partials/type.html.twig" %}
                                </span>
                            </li>
                        </ul><!-- /.list-rhombs -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <ul class="list-dates">
                            <li>
                                {{ project.dateStart|date('d/m/Y') }}<br />
                                {{ project.dateEnd|date('d/m/Y') }} {{ project.hourEnd|date('H:i') }}
                            </li>
                        </ul><!-- /.list-dates -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        {% if project.place is defined %}
                            <ul class="list-pins">
                                <li>
                                    {{ project.place|nl2br }}
                                </li>
                            </ul><!-- /.list-pins -->
                        {% endif %}
                    </div><!-- /.col-md-3 -->
                    {% if form.project.vars.choices|length %}
                    <div class="col-md-3">
                        <div class="form form--filter">
                            {{ form_start(form, {'attr': {'id': 'sticky-project-switch', 'action': path('project_switch_sticky_menu')}}) }}
                                <div class="select">
                                    {{ form_widget(form.project) }}
                                </div><!-- /.select -->
                            {{ form_end(form) }}
                        </div><!-- /.form -->
                    </div><!-- /.col-md-3 -->
                    {% endif %}
                </div><!-- /.row -->
            </div><!-- /.page__content -->
        {% else %}
            <div class="page__content">
                <p class="page__info">
                    <img class="svg" src="{{ asset('assets/shop/images/eye.svg') }}" alt="eye" />
                    <span>Vous êtes actuellement en mode consultation de catalogue, créez un projet pour réserver des produits</span>
                </p>
            </div><!-- /.page__content -->
            <div class="page__aside">
            <div class="row">
                {% if form.project.vars.choices|length %}
                    <div class="col-md-7">
                        <div class="form form--filter">
                            {{ form_start(form, {'attr': {'id': 'sticky-project-switch', 'action': path('project_switch_sticky_menu')}}) }}
                            <div class="select">
                                {{ form_widget(form.project) }}
                            </div><!-- /.select -->
                            {{ form_end(form) }}
                        </div><!-- /.col-md-3 -->
                    </div>
                {% endif %}
                <div class="{% if form.project.vars.choices|length %}col-md-3{% else %}col-md-12{% endif %}">
                    <a href="{{ path('project_create') }}" class="btn">
                        <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="papers" />
                        <span>Créer un projet</span>
                    </a>
                </div>
            </div>
            </div><!-- /.page__aside -->
        {% endif %}
    </div><!-- /.container -->
</div><!-- /.page-bar -->