
{% if project.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
    <span style="color: deepskyblue">Commande standard</span>
{% elseif  project.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
    <span style="color: orangered">Commande urgente</span>
{% elseif  project.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
    <span style="color: yellowgreen">Commande navette 142</span>
{% elseif  project.type == constant("App\\Entity\\Project::TYPE_BULK") %}
    <span style="color: deepskyblue">Commande groupée</span>
{% endif %}

|

<span style="color: #AFAFAF;">{{ project.cave }}</span>