<br>
<p>Cordialement</p>
<hr>
<p>Equipe Support Hub142 – MyHub &amp; MyBoxes</p>
<p>
  <a href="mailto:hub142@moethennessy.com">
    Hub142@moethennessy.com
  </a>
</p>
<img src="{{  'https://hub142.moethennessy.com' ~ asset('assets/myboxes/images/logo@2x.png') }}" alt="">
