
<form action="" method="get" enctype="multipart/form-data" class="form-horizontal  p-y-0" novalidate>
    {{ form_errors(form.id) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.id, "ID", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.id, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.name, "Nom", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.sku, "SKU", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.sku, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.ean, "EAN pièce ou carton", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.ean, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.brand, "Marque", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.brand, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.description, "Description", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.dateStart, "Date de début", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}

            <div class="col-sm-10">
                <div class='input-group date'>
                    {{ form_widget(form.dateStart, { 'attr': {'class': 'form-control disko-group'} }) }}
                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                            </span>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.dateEnd, "Date de fin", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}


            <div class="col-sm-10">
                <div class='input-group date'>
                    {{ form_widget(form.dateEnd, { 'attr': {'class': 'form-control disko-group'} }) }}
                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                            </span>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.filterQty, "Filtre de produit", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.filterQty, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>
