{% set menuActive = 'redirect-generator' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Générateur de redirection 301 pour Apache ou Nginx" %}

{% block content %}

    <p>
        Le générateur va vous transformer vos urls en redirection 301 pour Apache2, en gérant le bon ordre.
    </p>
    <form action="" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-6">
                <h4>Départs</h4>
                <textarea  class="form-control" style="width: 100%; height: 500px;" placeholder="Urls de l'ancien site (une url par ligne)" name="gen[start]">{{ gen.start }}</textarea>
            </div>
            <div class="col-md-6">
                <h4>Arrivées</h4>
                <textarea class="form-control"  style="width: 100%; height: 500px;" placeholder="Urls à rediriger (une url par ligne)" name="gen[end]">{{ gen.end }}</textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
            {% if res is not empty %}
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h4>Résultats : Apache2</h4>
                    <textarea class="form-control"  style="width: 100%; height: 500px;" >{{ res }}</textarea>
                </div>
                <div class="col-md-2">
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><span class="label label-info">Nginx</span> Si besoin de redirection en mode Nginx, vour pouvez vous render sur ce site : <a target="_blank" href="https://winginx.com/en/htaccess">https://winginx.com/en/htaccess</a></p>
                <button class="btn btn-info btn-save">
                    <i class="fa fa-save"></i> Générer
                </button>
            </div>
        </div>
    </form>
{% endblock %}
