

<div class="row">

    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#general" data-toggle="tab"><i class="fa fa-cogs"></i> Paramètres généraux
                    {% if
                    form.code.vars['errors'] |length > 0
                    %}
                        <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                    {% endif %}
                </a>
            </li>
        </ul>


        <div class="tab-content tab-content-bordered">
            <div class="tab-pane fade in active" id="general">
                {% include "@Admin/partials/form/text-line.html.twig" with {
                    'form' : form.code,
                    'label': "Code ISO (2 lettres)",
                } %}
                {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                    'form' : form.default,
                    'label': "Langue par défaut",
                } %}
                {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                    'form' : form.active,
                    'label': "En ligne",
                } %}
            </div>

            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>

</div>