<form action="" method="get" enctype="multipart/form-data" class="form-horizontal  p-y-0" novalidate>
    {{ form_errors(form.id) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.id, "ID", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.id, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un identifiant'} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.code, "Code", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.code, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un code iso'} }) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>
