
<form action="" method="get" enctype="multipart/form-data" class="form-horizontal  p-y-0" novalidate>
    {{ form_errors(form.id) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.id, "ID / Numéro de commande", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.id, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.name, "Nom", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.state, "Etat", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.state, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.trackingAvailable, "Suivi", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-8">
                <label class="switcher switcher-success" style="margin-top: 13px;">
                    {{ form_widget(form.trackingAvailable, { 'attr': {'class': 'form-control'} }) }}
                    <div class="switcher-indicator">
                        <div class="switcher-yes">OUI</div>
                        <div class="switcher-no">NON</div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.type, "Type", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.type, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.stock, "Stock", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.stock, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.cave, "Cave", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.cave, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.dateAddVlg, "Date ajout Veolog", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}

            <div class="col-sm-10">
                <div class='input-group date'>
                    {{ form_widget(form.dateAddVlg, { 'attr': {'class': 'form-control disko-group'} }) }}
                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.dateStart, "Date de début", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}

            <div class="col-sm-10">
                <div class='input-group date'>
                    {{ form_widget(form.dateStart, { 'attr': {'class': 'form-control disko-group'} }) }}
                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.dateEnd, "Date de fin", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}

            <div class="col-sm-10">
                <div class='input-group date'>
                    {{ form_widget(form.dateEnd, { 'attr': {'class': 'form-control disko-group'} }) }}
                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.userFullName, "Nom demandeur", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.userFullName, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
        <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.created, "Créé le", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}

            <div class="col-sm-10">
                <div class='input-group date'>
                    {{ form_widget(form.created, { 'attr': {'class': 'form-control disko-group'} }) }}
                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>
