<footer class="footer" style="background-color: #2c455b">
	<div class="container">
		<a href="#" class="link link--white">
			<img src="assets/images/phone.svg" alt="" class="svg">
			<span>Nous contacter</span>
		</a>
	</div><!-- /.container -->	
</footer><!-- /.footer -->