<header class="header header--simple">
	<div class="container">
		<div class="navbar d-flex justify-content-center">
			<a class="navbar-brand" href="#">
				<img src="assets/images/logo@2x.png" alt="" />
			</a>
		</div><!-- /.navbar -->
	</div><!-- /.container -->
</header><!-- /.header -->