<header class="header">
	<div class="container">
		<div class="navbar">
			<div class="navbar-left navbar-left--new">
				<a class="navbar-brand navbar-brand--large" href="#">
					<img src="assets/images/logo@2x.png" alt="" />
				</a>

				<ul class="list-links-alt list-links-alt--new d-none d-md-block">
					<li>
						<a href="#">
							<img src="assets/images/house.svg" alt="">
						</a>
					</li>

					<li class="dropdown-header dropdown-header--alt dropdown-header--new">
						<a href="#" class="dropdown-toggle" id="my-hub" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="assets/images/boxes.svg" alt="" class="svg">

							<span>HENNESSY DESIGN IDENTITE VISUELLE</span>

							<img class="svg" src="assets/images/arrow-down.svg" alt="">
						</a>

						<div class="dropdown-menu" aria-labelledby="my-hub">
							<ul>
								<li>
									<a href="#">Link 1</a>
								</li>
								
								<li>
									<a href="#">Link 2</a>
								</li>
								
								<li>
									<a href="#">Link 3</a>
								</li>
								
								<li>
									<a href="#">Link 4</a>
								</li>
							</ul>
						</div><!-- /.dropdown -->
					</li>

					<li>
						<a href="#" class="c-green">
							<img src="assets/images/box.svg" alt="">
							
							<span>MyBoxes</span>
						</a>
					</li>
				</ul><!-- /.list-links-alt -->
			</div><!-- /.navbar-left -->

			<div class="navbar-right">
				<div class="dropdown-header d-none">
					<a href="#" class="dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span>Krug - Département A </span>

						<img class="svg" src="assets/images/angle-up.svg" alt="" />
					</a>

					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<ul>
							<li>
								<a href="#">Krug - Département A</a>
							</li>
							
							<li>
								<a href="#">Krug - Département B</a>
							</li>
							
							<li>
								<a href="#">Hennessy RH</a>
							</li>
							
							<li>
								<a href="#">Hennessy Communication</a>
							</li>
							
							<li>
								<a href="#">Hennessy Finance</a>
							</li>
							
							<li>
								<a href="#">Hennessy Global</a>
							</li>
							
							<li>
								<a href="#">Lorem Ipsum dolor sit amet</a>
							</li>
							
							<li>
								<a href="#">Lorem Ipsum dolor sit amet</a>
							</li>
						</ul>
					</div><!-- /.dropdown -->
				</div>

				<button class="navbar-toggler navbar-toggler--small d-none d-md-flex">
					<img class="svg" src="assets/images/toolbox.svg" alt="" />

					<strong class="hidden-xs">Toolbox</strong>
				</button>

				<div class="navbar-collapse navbar-search collapse">
					<div class="search">
						<div class="container">
							<a href="#" class="search__close jsSearchClose">
								<img class="svg" src="assets/images/close.svg" alt="" />
							</a><!-- /.search__close -->

							<form action="?" method="get">
								<input type="search" name="q" id="q" value="" placeholder="Chais" class="search__field">
								
								<button type="submit" value="GO" class="search__btn">
									<ion-icon name="search"></ion-icon>
								</button>
							</form>
						</div><!-- /.container -->

					</div><!-- /.search -->
				</div><!-- /.navbar-collapse -->

				<a href="#" class="cart">
					<div class="cart__content">
						<span class="cart__items">2</span>

						<img class="svg" src="assets/images/basket.svg" alt="" />

						<strong class="d-none d-lg-inline-block">Mon panier</strong>
					</div><!-- /.cart__content -->
				</a><!-- /.cart -->

				<button class="navbar-toggler navbar-toggler--user navbar-border-left" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
					<img class="svg" src="assets/images/profile.svg" alt="" />

					<strong class="hidden-xs d-none d-lg-inline-block">
						<span>Mon compte</span>
						<span>chloe.p@disko.fr</span>
					</strong>					

					<img class="svg hidden-xs d-none d-lg-inline-block" src="assets/images/angle-down.svg" alt="" />
				</button>
			</div><!-- /.navbar-right -->
		</div><!-- /.navbar -->
	</div><!-- /.container -->
</header><!-- /.header -->

<div class="navbar">
	<button class="hidden navbar-toggler navbar-border-left" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
		<img class="svg" src="assets/images/profile.svg" alt="" />

		<strong class="hidden-xs">Mon compte</strong>

		<img class="svg hidden-xs" src="assets/images/angle-down.svg" alt="" />
	</button>
	
	<div class="navbar-collapse navbar-profile collapse">
		<ul class="navbar-nav">
			<li>
				<a href="#" class="navbar-brand hidden-sm hidden-md hidden-lg">
					<img src="assets/images/logo@2x.png" alt="" />
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
					<img class="svg hidden-xs" src="assets/images/profile.svg" alt="" />

					<strong class="hidden-xs">Mon compte</strong>

					<img class="svg hidden-xs" src="assets/images/angle-up.svg" alt="" />

					<img class="svg hidden-sm hidden-md hidden-lg" src="assets/images/close.svg" alt="" />
				</button>

				<p class="user-email">chloe.p@disko.fr</p>
			</li>

			<li class="has-dropdown dropdown">
				<a href="#" class="dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>Krug - Département A </span>

					<img class="svg" src="assets/images/angle-up.svg" alt="" />
				</a>

				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<ul>
						<li>
							<a href="#">Krug - Département A</a>
						</li>
						
						<li>
							<a href="#">Krug - Département B</a>
						</li>
						
						<li>
							<a href="#">Hennessy RH</a>
						</li>
						
						<li>
							<a href="#">Hennessy Communication</a>
						</li>
						
						<li>
							<a href="#">Hennessy Finance</a>
						</li>
						
						<li>
							<a href="#">Hennessy Global</a>
						</li>
						
						<li>
							<a href="#">Lorem Ipsum dolor sit amet</a>
						</li>
						
						<li>
							<a href="#">Lorem Ipsum dolor sit amet</a>
						</li>
					</ul>
				</div><!-- /.dropdown -->
			</li>
			
			<li>
				<a href="#">
					<img class="svg" src="assets/images/document.svg" alt="" />

					<span>Voir mes projets</span>
				</a>
			</li>
			
			<li>
				<a href="#">
					<img class="svg" src="assets/images/power.svg" alt="" />

					<span>Déconnexion</span>
				</a>
			</li>

			<li class="dropdown-header dropdown-header--alt d-block d-lg-none">
				<a href="#" class="dropdown-toggle" id="my-hub" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="assets/images/boxes.svg" alt="" class="svg">

					<span>HENNESSY DESIGN IDENTITE VISUELLE</span>

					<img class="svg" src="assets/images/arrow-down.svg" alt="">
				</a>

				<div class="dropdown-menu" aria-labelledby="my-hub">
					<ul>
						<li>
							<a href="#">Link 1</a>
						</li>
						
						<li>
							<a href="#">Link 2</a>
						</li>
						
						<li>
							<a href="#">Link 3</a>
						</li>
						
						<li>
							<a href="#">Link 4</a>
						</li>
					</ul>
				</div><!-- /.dropdown -->
			</li>
			
			<li class="d-block d-lg-none">
				<a href="#" class="c-green">
					<img class="svg" src="assets/images/box.svg" alt="">
					
					<span>MyBoxes</span>
				</a>
			</li>

			<li class="d-block d-lg-none">
				<a href="#">
					<img class="svg" src="assets/images/toolbox.svg" alt="" />
					
					<span>Toolbox</span>
				</a>
			</li>
			
			<li class="d-block d-lg-none">
				<a href="#">
					<img src="assets/images/house.svg" alt="">
				</a>
			</li>
		</ul><!-- /.navbar-nav -->
	</div><!-- /.navbar-collapse -->
</div><!-- /.navbar -->
