<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<title>Hennessy Stocknet</title>

	<link rel="stylesheet" href="assets/vendor/bootstrap-4.0.0/css/bootstrap.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="assets/vendor/slick-1.8.1/slick.css" type="text/css">
	<link rel="stylesheet" href="assets/vendor/jquery-ui-1.12.1/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="assets/vendor/custom-select-and-scroll/selectric.css">
	<link rel="stylesheet" href="assets/vendor/magnific-popup.css">

	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />
</head>
