<script src="assets/vendor/jquery-3.1.1.min.js"></script>
	
<script src="assets/vendor/bootstrap-4.0.0/js/bootstrap.min.js"></script>
<script src="assets/vendor/slick-1.8.1/slick.min.js"></script>
<script src="assets/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="assets/vendor/custom-select-and-scroll/jquery.selectric.min.js"></script>
<script src="assets/vendor/custom-select-and-scroll/jquery.nicescroll.min.js"></script>
<script src="assets/vendor/jquery.magnific-popup.min.js"></script>
	
<script src="assets/js/bundle.js"></script>
