{% set menuActive = 'check-projects' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle " lock accepted projects (7 days before start)." %}

{% block menu %}
  {% if not secure %}{{ parent() }}{% endif %}
{% endblock %}

{% block headbar %}
  {% if not secure %}{{ parent() }}{% endif %}
{% endblock %}

{% block content %}
  <div class="row">

    <!-- Stats -->

    <div class="col-md-12">
      <p style="text-align: center">
      <pre
        class="bg-success">{% spaceless %}{{ output }}{% endspaceless %} </pre>
      </p>
    </div>

    <!-- / Stats -->

  </div>
{% endblock %}
