{% set menuActive = 'import-product-sap' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Import de la base produit depuis SAP" %}

{% block menu %}
  {% if not secure %}{{ parent() }}{% endif %}
{% endblock %}

{% block headbar %}
  {% if not secure %}{{ parent() }}{% endif %}
{% endblock %}

{% block content %}
  <div class="row">

    <!-- Stats -->

    <div class="col-md-12">
      <p style="text-align: center">
      <pre
        class="bg-success">{% spaceless %}{{ output }}{% endspaceless %} </pre>
      </p>
    </div>

    <!-- / Stats -->

  </div>
{% endblock %}
