{% extends 'hub/layout-mb.html.twig' %}
{% block title %}Accès non autorisé.{% endblock %}
{% block content %}

  <div class="container text-center w-50">
    <div style="font-size:75px">403</div>
    <img src="{{ asset('assets/front/images/403.png') }}" class="img-fluid w-25 mt-auto">
    <h3>Accès non autorisé.</h3>
    <p>
      Il semblerait que vous tentiez d'accéder à une page dont vous n'avez pas les droits.<br> Vous pouvez nous contacter à l'adresse <a href="mailto:hub142@moethennessy.com">hub142@moethennessy.com</a> pour toute information complémentaire.
    </p>
    <p><a href="{{ path('homepage') }}" role="button" class="btn btn-outline-dark">Retour vers la page d'accueil</a> </p>
  </div>
  <style>
    footer.footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
{% endblock %}

