{% extends 'hub/layout-mb.html.twig' %}
{% block title %}Service temporairement indisponible ou en maintenance.{% endblock %}
{% block content %}

  <div class="container text-center w-50">
    <div style="font-size:75px">503</div>
    <img src="{{ asset('assets/front/images/503.png') }}" class="img-fluid w-25 mt-auto">
    <h3>Service temporairement indisponible ou en maintenance.</h3>
    <p>
      Il semblerait que vous tentiez d'accéder à une page dont vous n'avez pas les droits.<br> Vous pouvez nous contacter à l'adresse <a href="mailto:hub142@moethennessy.com">hub142@moethennessy.com</a> pour toute information complémentaire.
    </p>
  </div>
  <style>
    footer.footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
{% endblock %}
