{% extends 'hub/layout-mb.html.twig' %}
{% block title %}Erreur interne du serveur.{% endblock %}
{% block content %}

  <div class="container text-center w-50">
    <div style="font-size:75px">500</div>
    <img src="{{ asset('assets/front/images/500.png') }}" class="img-fluid w-25 mt-auto">
    <h3>Erreur interne du serveur.</h3>
    <p>
      Il semblerait qu'une erreur interne du serveur a été détectée.<br> Merci de réessayer un peu plus tard. Vous pouvez nous contacter à l'adresse <a href="mailto:hub142@moethennessy.com">hub142@moethennessy.com</a> pour toute information complémentaire.
    </p>
  </div>
  <style>
    footer.footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
{% endblock %}
