{% set minutes = [0, 30] %}
<select class="custom-select" id="select-pick-time">
    <option selected="" disabled=""></option>
    {% for h in 8..17 %}
        {% if h == 17 %}
            {% set minutes = [0] %}
        {% endif %}

        {% for m in minutes %}
            {% set label = h %}
            {% if h < 10 %}{% set label = '0' ~ h %}{% endif %}
            {% if m == 0 %}{% set label = label ~ ' : 00' %}{% else %}{% set label = label ~ ' : 30' %}{% endif %}
            <option value="{{ h }}|{{ m }}">{{ label }}</option>
        {% endfor %}
    {% endfor %}
</select>