{% set background_image = medium ? 'assets/shop/images/hennessy/intro-image-main-md.jpg' : 'assets/shop/images/hennessy/intro-image-main.jpg' %}
<div class="intro__images" style="background-image: url({{ asset(background_image) }});">
    <div class="intro__images-inner">
        <img src="{{ asset('assets/shop/images/hennessy/lamp.png') }}" alt="lamp" />
        <img src="{{ asset('assets/shop/images/hennessy/chair.png') }}" alt="chair" />
        <img src="{{ asset('assets/shop/images/hennessy/table.png') }}" alt="table" />
    </div><!-- /.intro__images-inner -->
</div><!-- /.intro__images -->