{% set menuActive = 'products' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Edition d'un produit" %}

{% block content %}

    <form action="" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-12">

                {% include "@Admin/Product/partials/form.html.twig" with {'edit': true} %}

                <button class="btn btn-info btn-save">
                    <i class="fa fa-save"></i> Mettre à jour
                </button>

                <br/>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('.control-integer').each(function(){
            $(this).addClass('test');
            $(this).parent().find('input').attr('type', 'number');
            $(this).parent().find('input').on('keydown', function(event){
                if(event.which == 69 || event.which == 187 || event.which == 109 || event.which == 189 || event.which == 188){
                    event.preventDefault();
                };
            });
        });

        function ForNumbers(evt){
          var charCode = (evt.which) ? evt.which : event.keyCode;

          if (
            //0~9
            charCode >= 48 && charCode <= 57 ||
            //number pad 0~9
            charCode >= 96 && charCode <= 105
            // //backspace
            // charCode == 8 ||
            // //tab
            // charCode == 9 ||
            // //enter
            // charCode == 13 ||
            // //left, right, delete..
            // charCode >= 35 && charCode <= 46
          )
          {
            //make sure the new value below 20
            if(parseInt(this.value+String.fromCharCode(charCode), 10) <= 9999999999 )
              return true;
          }

          evt.preventDefault();
          evt.stopPropagation();

          return false;
        }
        document.getElementById('product_translations_fr_customsNomenclature').setAttribute('onkeydown', "javascript: return event.keyCode == 69 ? false : true");
        document.getElementById('product_translations_fr_customsNomenclature').addEventListener('keypress', ForNumbers, false);

    </script>
{% endblock %}
