{% set menuActive = 'products' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Import de fichier de produits" %}

{% block content %}
    {% if mktime is empty %}
        {{ form_start(form, {'attr': {'novalidate': '', 'id' : form.vars.id, 'autocomplete': "off", class:'form-horizontal form-bordered'}}) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group relative-line {% if form.file.vars['errors'] |length > 0 %}has-error has-feedback{% endif %}">
                        <div class="row">
                            {{ form_label(form, 'Fichier', { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.file, { 'attr': {'class': 'form-control disko-group' ~ ' ' ~ form.file.vars.id} }) }}
                                {% if form.file.vars['errors'] |length > 0 %}
                                    <div class="jquery-validate-error help-block">{{ form_errors(form.file) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info btn-save">
                        <i class="fa fa-cogs"></i> Importer
                    </button>
                </div>
            </div>
            {{ form_rest(form) }}
        {{ form_end(form) }}
    {% else %}
        <div class="row">
            <div class="col-md-12">
                Fichier en cours de traitement.<br>
                Merci de ne pas fermer cette page.
            </div>
            <div class="col-md-12">
                <ul class="log-import">
                </ul>
            </div>
        </div>
        <style>
        .log-import {
            max-height: 500px;
            overflow-y: scroll;
        }
        </style>
        <script>
        $(document).ready(() => {

            function stopImport() {
                $waiting = $('.spinner-import');
                $waiting.hide();
            }

            function startImport() {
                $waiting = $('.spinner-import');
                if ($waiting.length == 0) {
                    $waiting = $('<img>')
                                .attr('src', '{{ asset('assets/admin/images/ajax-loader.svg') }}')
                                .css('width', '50px')
                                .addClass('spinner-import')
                                .hide();
                    $('.log-import').after($waiting);
                }
                $waiting.show();
            }

            function logImport(data) {
                if (data.status == 500) {
                    li = $('<li>')
                                .addClass('bg-danger')
                                .text(data.message);
                    $('.log-import').append(li);
                    $('.log-import').scrollTop($('.log-import').height());
                } else if (data.status == 200) {
                    ul = $('<ul>')
                    data.logs
                        .map(log => $('<li>').text(log.sku + ' - ' + log.label))
                        .map(item => ul.append(item));
                    li = $('<li>')
                                .addClass('text-success')
                                .text('Nombre de lignes traitées : ' + data.nb);
                    li.append(ul);
                    $('.log-import').append(li);
                    if (!data.nextURL) {
                        end = $('<li>')
                                .addClass('bg-success')
                                .text('Fin de traitement');
                        $('.log-import').append(end);
                    }
                    $('.log-import').scrollTop($('.log-import').height());
                } else {
                    inconnu = $('<li>')
                            .addClass('bg-error')
                            .text('Statut ' + data.status);
                    $('.log-import').append(end);
                }
            }

            function nextStep(url){
                if (url) {
                    $.get(url).then((data) => {
                        logImport(data);
                        nextStep(data.nextURL);
                    }, () => {
                        inconnu = $('<li>')
                                .addClass('bg-error')
                                .text('Erreur serveur');
                        $('.log-import').append(end);
                        stopImport();
                    })
                } else {
                    stopImport()
                }
            }

            startImport();
            nextStep('{{ path('admin_product_import_ajax', {mktime: mktime, page: 0}) }}');
        })
        </script>
    {% endif %}
{% endblock %}
