{% set menuActive = 'products' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Produits' %}


{%  block options %}

    {% if not is_granted('ROLE_VEOLOG_ADMIN') %}
        <a class="btn btn-success btn-xs" href="{{ path('admin_product_create') }}">
            <i class="fa fa-plus "></i> Ajouter
        </a>
        <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_product_export'}) }}">
            <i class="fa fa-download "></i> Exporter
        </button>

    {% endif %}
    {% if is_granted('ROLE_GENERAL_ADMIN') %}
        <a class="btn btn-success btn-xs" href="{{ path('admin_product_import') }}">
            <i class="fa fa-upload"></i> Import
        </a>
    {% endif %}
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/Product/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_product_list'} %}

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th class="cansort {% if pagination.isSorted('et.code') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'SKU', 'et.code') }} {% if pagination.isSorted('et.code') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Couverture</th>
                            <th class="cansort {% if pagination.isSorted('et.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nom', 'et.name') }} {% if pagination.isSorted('et.name') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Catégories</th>
                            <th class="cansort {% if pagination.isSorted('et.state') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Etat', 'et.state') }} {% if pagination.isSorted('et.state') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Origine</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for product in pagination %}
                                <tr>
                                    <td style="min-width: 50px;vertical-align:middle;font-size: 12px">
                                        <span style="display: block;font-size: 9px;color: magenta;line-height: 8px;padding-bottom: 2px;text-transform: uppercase;">{{ product.translate(app.request.locale).code }}</span>
                                    </td>
                                    <td width="100" style="vertical-align: middle;text-align: center;">
                                        {% if product.translate(app.request.locale).cover is not empty and product.translate(app.request.locale).cover.path is not empty %}
                                            <img style="max-width: 50px; max-height: 50px;" src="{{ asset(product.translate(app.request.locale).cover|ifs.path|imagine_filter(filter|default('hennessy_project_list'))) }}" />
                                        {% else %}
                                            <img style="max-width: 50px; max-height: 50px;" src="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}" />
                                        {% endif %}
                                    </td>
                                    <td style="min-width: 250px;vertical-align:middle;font-size: 12px">
                                        <a href="{{ path('admin_product_show', {'id': product .id, locale: askLocale}) }}">{{ product.translate(askLocale).name }}</a>

                                        <span style="font-size: 10px;color: gray;display: block">
                                            {{ product.translate(app.request.locale).description|nl2br }}
                                        </span>

                                        <em style="font-size: 10px;color: grey;">Créé le :{{ product.translate(app.request.locale).created|date("d/m/Y h:i", "Europe/Paris") }} </em>
                                        {% if product.translate(app.request.locale).isExpendable %}
                                            <span style="float:right;ddisplay: block;font-size: 10px;" class="text-success">Consommable</span>
                                        {% else %}
                                            <span style="float:right;display: block;font-size: 10px;" class="text-danger">Non consommable</span>
                                        {% endif %}
                                    </td>
                                    <td style="text-align:center;vertical-align:middle;">
                                        {% if product.translate(app.request.locale).categories|length > 0 %}
                                            {% for category in product.translate(app.request.locale).categories %}
                                                <span class="label label-info">{{ category.translate(app.request.locale).name }}</span>
                                            {% endfor %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="text-align:center;vertical-align:middle;">
                                        {% if product.translate(app.request.locale).state == 'out_of_use' %}
                                            <span class="label label-warning">{{ 'app.product.states.out_of_use'|trans }}</span>
                                        {% else %}
                                            <span class="label label-success">{{ 'app.product.states.new'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td style="text-align:center;vertical-align:middle;font-size: 12px">
                                        {% if product.translate(app.request.locale).origin == 0 %}
                                            <span style="color: grey">SAP</span>
                                        {% else %}
                                            <span style="color: darkgray">NON&nbsp;SAP</span>
                                            <em style="display: block;font-size: 9px">#{{ product.translate(app.request.locale).origin }}</em>
                                        {% endif %}
                                    </td>
                                    <td style="width: 150px;text-align:center;vertical-align:middle;">
                                            <a title="Modifier" href="{{ path('admin_product_edit', {'id': product.id, locale: askLocale}) }}" class="btn btn-xs btn-default">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            {% if not is_granted('ROLE_VEOLOG_ADMIN') %}
                                                <a title="Supprimer" href="{{ path('admin_product_delete', {'id': product.id}) }}" class="btn btn-xs btn-danger delete-button">
                                                    <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                                </a>
                                            {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
