{% set menuActive = 'products' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle  %}{{ 'app.product.show'|trans() }} : <b>{{ product.translate(askLocale).name }}</b>{% endblock %}

{%  block options %}
  {#<a class="btn btn-warning btn-xs" href="mailto:m.bertrand@disko.fr,mateo@disko.fr
                      ?subject=Informations Produit {{ product.translate(askLocale).name }}
                      &body=Bonjour%0d%0a
                        %0d%0aVoici les informations concernant le produit : {{ product.translate(askLocale).name }}
                        %0d%0aCode produit : {{ product.translate(askLocale).code }}
                        %0d%0aPropriétaire du stock : {{ stock.name }}
                        %0d%0aLien vers la fiche produit : {{ url('admin_product_show', {'id': product.id, locale: askLocale}) }} ">
    <i class="fa fa-plus "></i> {{ 'app.ui.send_informations'|trans }}
  </a>#}
  <a class="btn btn-success btn-xs" href="{{ path('admin_product_edit', {'id': product.id, locale: askLocale}) }}">
    <i class="fa fa-plus "></i> Modifier
  </a>
{% endblock %}

{% block content %}

<div class="panel panel-inverse">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5 product-show">
          <div class="field">
              {% include '@Admin/partials/images.html.twig' with {'product.images': product.images} %}
          </div>
        </div>
        <div class="col-md-3 product-show">

            {% if product.translate(askLocale).name %}
              <div class="field">
                <div>{{ 'app.product.name'|trans }}</div>
                <p>{{ product.translate(askLocale).name }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).code %}
              <div class="field">
                <div>{{ 'app.product.code'|trans }}</div>
                <p>{{ product.translate(askLocale).code }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).description %}
              <div class="field">
                <div>{{ 'app.product.description'|trans }}</div>
                <p>{{ product.translate(askLocale).description }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).eanPart %}
              <div class="field">
                <div>{{ 'app.product.ean_part'|trans }}</div>
                <p>{{ product.translate(askLocale).eanPart }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).unitConditioning %}
              <div class="field">
                <div>{{ 'app.product.unit_conditioning'|trans }}</div>
                <p>{{ product.translate(askLocale).unitConditioning }}</p>
              </div>
            {% endif %}

          {% if product.translate(askLocale).totalUnitsByBox %}
            <div class="field">
              <div>{{ 'app.product.total_units_by_box'|trans }}</div>
              <p>{{ product.translate(askLocale).totalUnitsByBox }}</p>
            </div>
          {% endif %}

          {% if product.translate(askLocale).eanBox %}
            <div class="field">
              <div>{{ 'app.product.ean_box'|trans }}</div>
              <p>{{ product.translate(askLocale).eanBox }}</p>
            </div>
          {% endif %}

          {% if product.translate(askLocale).weightBox %}
            <div class="field">
              <div>{{ 'app.product.weight_box'|trans }}</div>
              <p>{{ product.translate(askLocale).weightBox }}</p>
            </div>
          {% endif %}

          {% if product.translate(askLocale).widthBox %}
            <div class="field">
              <div>{{ 'app.product.width_box'|trans }}</div>
              <p>{{ product.translate(askLocale).widthBox }}</p>
            </div>
          {% endif %}

          {% if product.translate(askLocale).heightBox %}
            <div class="field">
              <div>{{ 'app.product.height_box'|trans }}</div>
              <p>{{ product.translate(askLocale).heightBox }}</p>
            </div>
          {% endif %}

          {% if product.translate(askLocale).depthBox %}
            <div class="field">
              <div>{{ 'app.product.depth_box'|trans }}</div>
              <p>{{ product.translate(askLocale).depthBox }}</p>
            </div>
          {% endif %}

          {% if product.translate(askLocale).otherInformation %}
            <div class="field">
              <div>{{ 'app.product.other_information'|trans }}</div>
              <p>{{ product.translate(askLocale).otherInformation }}</p>
            </div>
          {% endif %}

          {% if product.translate(askLocale).categories|length > 0 %}
              <div class="field">
                <div>{{ 'app.product.categories'|trans }}</div>
                <p>
                    {% for categorie in product.translate(askLocale).categories %}
                        {{ categorie.name }}
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                </p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).brand %}
              <div class="field">
                <div>{{ 'app.product.brand'|trans }}</div>
                <p>{{ product.translate(askLocale).brand.name }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).referenceSAP %}
              <div class="field">
                <div>{{ 'app.product.reference_sap'|trans }}</div>
                <p>{{ product.translate(askLocale).referenceSAP }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).referenceProvider %}
              <div class="field">
                <div>{{ 'app.product.reference_provider'|trans }}</div>
                <p>{{ product.translate(askLocale).referenceProvider }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).color %}
              <div class="field">
                <div>{{ 'app.product.color'|trans }}</div>
                <p>{{ product.translate(askLocale).color }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).material %}
              <div class="field">
                <div>{{ 'app.product.material'|trans }}</div>
                <p>{{ product.translate(askLocale).material }}</p>
              </div>
            {% endif %}
        </div>
        <div class="col-md-4 product-show">
            {% if product.translate(askLocale).valorization %}
              <div class="field">
                <div>{{ 'app.product.valorization'|trans }}</div>
                <p>{{ product.translate(askLocale).valorization }}</p>
              </div>
            {% endif %}

          <div class="field">
            <div>{{ 'app.product.is_fragile'|trans }}</div>
            <p>{% include '@Admin/partials/enabled.html.twig' with {'data': product.translate(askLocale).isFragile} %}</p>
          </div>

          <div class="field">
            <div>{{ 'app.product.is_expendable'|trans }}</div>
            <p>{% include '@Admin/partials/enabled.html.twig' with {'data': product.translate(askLocale).isExpendable} %}</p>
          </div>

            {% if product.translate(askLocale).state %}
              <div class="field">
                <div>{{ 'app.product.state'|trans }}</div>
                <p>{{ ('app.product.states.' ~ product.translate(askLocale).state)|trans }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).weight %}
              <div class="field">
                <div>{{ 'app.product.weight'|trans }}</div>
                <p>{{ product.translate(askLocale).weight }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).width %}
              <div class="field">
                <div>{{ 'app.product.width'|trans }}</div>
                <p>{{ product.translate(askLocale).width }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).height %}
              <div class="field">
                <div>{{ 'app.product.height'|trans }}</div>
                <p>{{ product.translate(askLocale).height }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).depth %}
              <div class="field">
                <div>{{ 'app.product.depth'|trans }}</div>
                <p>{{ product.translate(askLocale).depth }}</p>
              </div>
            {% endif %}

            <div class="field">
              <div>{{ 'app.product.crd'|trans }}</div>
              <p>{% include '@Admin/partials/enabled.html.twig' with {'data': product.translate(askLocale).crd} %}</p>
            </div>

            {% if product.translate(askLocale).country %}
              <div class="field">
                <div>{{ 'app.product.country'|trans }}</div>
                <p>{{ product.translate(askLocale).country }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).litrageBottle %}
              <div class="field">
                <div>{{ 'app.product.litrage_bottle'|trans }}</div>
                <p>{{ product.translate(askLocale).litrageBottle }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).designationBottle %}
              <div class="field">
                <div>{{ 'app.product.designation_bottle'|trans }}</div>
                <p>{{ product.translate(askLocale).designationBottle }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).vintage %}
              <div class="field">
                <div>{{ 'app.product.vintage'|trans }}</div>
                <p>{{ product.translate(askLocale).vintage }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).wineColor %}
              <div class="field">
                <div>{{ 'app.product.wine_color'|trans }}</div>
                <p>{{ product.translate(askLocale).wineColor }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).wineCategory %}
              <div class="field">
                <div>{{ 'app.product.wine_category'|trans }}</div>
                <p>{{ product.translate(askLocale).wineCategory }}</p>
              </div>
            {% endif %}

            {% if product.translate(askLocale).customsNomenclature %}
              <div class="field">
                <div>{{ 'app.product.customs_nomenclature'|trans }}</div>
                <p>{{ product.translate(askLocale).customsNomenclature }}</p>
              </div>
            {% endif %}

            <div class="field">
              <div>{{ 'app.product.is_effervescent'|trans }}</div>
              <p>{% include '@Admin/partials/enabled.html.twig' with {'data': product.translate(askLocale).isEffervescent} %}</p>
            </div>

            {% if product.translate(askLocale).degreeAlcohol %}
              <div class="field">
                <div>{{ 'app.product.degree_alcohol'|trans }}</div>
                <p>{{ product.translate(askLocale).degreeAlcohol }}</p>
              </div>
            {% endif %}

        </div>

        <a href="mailto:{{toVlgInfoMail}}?subject={{ subjectVlgInfoMail }}&body=Bonjour%0d%0a
                        %0d%0aVoici les informations concernant le produit : {{ product.translate(askLocale).name }}
%0d%0aPropriétaire du stock : {{ stock.name }}
                        %0d%0aLien vers la fiche produit : {{ url('admin_product_show', {'id': product.id, locale: askLocale}) }}
{{ vlgInfoMail }}" class="btn btn-info btn-send-veolog">
          <i class="fa fa-envelope"></i> Envoyer information produit à Veolog
        </a>

      </div>
    </div>
</div>
{% endblock %}
