<div class="form__uploads" data-prototype="{% filter escape %}{% include 'hub/myboxes/partials/prototype/boxMedias.html.twig' with {'form': form.boxMedias.vars.prototype} %}{% endfilter %}">
    {% for boxMedia in form.boxMedias %}
        <div class="preview">
            {% include 'hub/myboxes/partials/prototype/boxMedias.html.twig' with {'form': boxMedia} %}
        </div><!-- /.preview -->
    {% endfor %}
</div><!-- /.form__uploads -->
<label class="mybox-uploader uploader">
    <input type="file" class="mybox-uploader-input" data-template="#preview-template">
    <span class="mybox-uploader-button">{{ 'app.myboxes.edit.add.media'|trans }}</span>
</label><!-- /.uploader -->

<script>

(function() {

    var collectionHolderBoxMedia = $('div.form__uploads');
    var cptBoxMedia = collectionHolderBoxMedia.find('.well').length;

    $(document).ready(function() {

        $('.mybox-uploader .mybox-uploader-button').on('click', function(e) {
            e.preventDefault();
            $(this).parents('.mybox-uploader').find('.mybox-uploader-input').click();
        });

        $('.mybox-uploader .mybox-uploader-input').on('change', function(e) {
            e.preventDefault();

            var fileName = $(this).val();
            if (fileName) {
                var formData = new FormData();
                formData.append('file', $(this)[0].files[0]);
                $.ajax({
                    method      : 'POST',
                    url         : '{{ path('myboxes_media_upload') }}',
                    data        : formData,
                    dataType    : 'json',
                    processData : false,
                    contentType: false,
                    cache: false,
                }).then((response) => {
                    addFormBoxMedia(response);
                }, (error) => {
                    console.log(error)
                });
            }

            $(this).val("");

        });
    });

    function addFormBoxMedia(response) {
        var prototype = collectionHolderBoxMedia.attr('data-prototype');
        var newForm = prototype.replace(/__name__/g, cptBoxMedia);
        cptBoxMedia++;
        var $newFormLi = $('<div class="preview"></div>').append(newForm);

        $newFormLi.find('.preview__img').css('background-image', 'url(' + response.url + ')')
        $newFormLi.find('input').val(response.id);

        collectionHolderBoxMedia.append($newFormLi);
    }

})();

</script>
