<div class="table-members" data-prototype="{% filter escape %}{% include 'hub/myboxes/partials/prototype/boxUsers.html.twig' with {'form': form.boxUsers.vars.prototype} %}{% endfilter %}">
    <table>
        <thead>
            <tr>
                <th>{{ 'app.myboxes.edit.label.members'|trans }}</th>
                <th class="count-members"></th>
            </tr>
        </thead>
        <tbody>
            {% for boxUser in form.boxUsers %}
                {% include 'hub/myboxes/partials/prototype/boxUsers.html.twig' with {'form': boxUser} %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a href="#" class="link add-member">
                        <span>{{ 'app.myboxes.edit.add.members'|trans }}</span>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
</div><!-- /.table -->

<script>

(function() {

    // Récupère le div qui contient la collection
    var collectionHolderBoxUser = $('.table-members');
    var cptBoxUser = collectionHolderBoxUser.find('.row-member').length;

    $(document).ready(function() {

        $('.count-members').text(collectionHolderBoxUser.find('.row-member').length)

        $('.table-members').on('click', 'a.add-member', function(e) {
            e.preventDefault();
            addFormBoxUser(collectionHolderBoxUser);

            var options = {

                url: function(phrase) {
                    return "{{ path('myboxes_user_search') }}";
                },

                getValue: function(element) {
                    return element.name;
                },

                ajaxSettings: {
                    dataType: "json",
                    method: "POST",
                    data: {
                        dataType: "json"
                    }
                },

                preparePostData: function(data) {
                    data.phrase = $('.me-select2-user-email').val();
                    return data;
                },

                requestDelay: 400
            };


            $(".select2-user-email").easyAutocomplete(options);
            $('.easy-autocomplete').each(function(){
                $(this).css('width', '100%');
                $(this).find('input').addClass('field');
            });
            $('.count-members').text(collectionHolderBoxUser.find('.row-member').length)
        });

        $('.table-members').on('click', 'a.remove-member', function(e) {
            e.preventDefault();
            $(this).parents('.row-member').remove();
            $('.count-members').text(collectionHolderBoxUser.find('.row-member').length)
        });

    });

    function addFormBoxUser(collectionHolderBoxUser) {
        var prototype = collectionHolderBoxUser.attr('data-prototype');
        var newForm = prototype.replace(/__name__/g, cptBoxUser);
        cptBoxUser++;
        $('.row-member:last').after(newForm);
    }

})();

</script>
