<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Hennessy E-Stock{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="/{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/shop/css/app.css') }}">
    {% endblock %}
</head>

<body {% block body_class %}{% endblock %}>

<div class="wrapper" id="container">
    {% block top %}
        {% include 'front/partials/header.html.twig' %}
    {% endblock %}

    {% block project_sticky_menu %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include 'front/partials/footer.html.twig' %}
    {% endblock %}

    {% if message_cart is defined and message_cart is not null %}
        <div class="message-wrapper visible">
            <div class="message message--alt" style="background-color: #f4f4f4">
                <div class="container">
                    <div class="message__inner">
                        <div class="message__content">
                            <p>
                                {% if message_cart == "draft" or message_cart == "submit" %}
                                {{ ('sylius.ui.modal.' ~ message_cart)|trans|raw }}
                                {% else %}
                                    {{ message_cart|trans|raw }}
                                {% endif %}
                            </p>
                        </div><!-- /.message__content -->

                        <div class="message__aside">
                            <a href="#" class="btn jsMessageClose">
                                <span>{{ 'sylius.ui.modal.button.ok'|trans }}</span>
                            </a>
                        </div><!-- /.message__aside -->
                    </div><!-- /.message__inner -->

                    <a href="#" class="message__close jsMessageClose">
                        <img class="svg" src="{{ asset('assets/shop/images/close.svg') }}" alt="">
                    </a><!-- /.message__close -->
                </div><!-- /.container -->
            </div><!-- /.message -->
        </div><!-- /.message-wrapper -->
    {% endif %}
</div>

{% block javascripts %}
    <script src="{{ asset('assets/shop/js/app.js') }}"></script>
    <script>
        $('body').on('change', '#change_stock', function(e){
            var url = "{{ path('change_stock') }}";
            var val = $(this).val();

            document.location.href = url+'?id='+val;
        });
        $(document).on('change', '#project_switch_project', function() {
            $('#sticky-project-switch').submit();
        });


    </script>
{% endblock %}

</body>
</html>
