{% extends 'hub/layout.html.twig' %}

{% block project_sticky_menu %}
    {% if app.user is not null %}
        {{ render(controller('App\\Controller\\Front\\ProjectController::stickyMenu')) }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="section-products">
        <div class="container">
            <div class="search-alt">
                <form action="{{ path('catalog') }}" method="get">
                    <label for="keyword" class="hidden">Recherche</label>
                    <input type="hidden" name="category" id="category" value="{{search.category}}" class="search__field">
                    <input type="search" name="keyword" id="keyword" value="{{search.keyword}}" placeholder="Recherche" class="search__field">
                    <button type="submit" class="search__btn">
                        <img class="svg" src="{{ asset('assets/myboxes/images/search.svg') }}" alt="">
                    </button>
                </form>
            </div><!-- /.search -->

            {% include 'hub/catalog/partials/_sidebar.html.twig' %}
            {% include 'hub/catalog/partials/_main.html.twig' %}

        </div><!-- /.container -->
    </section><!-- /.section-products -->
{% endblock %}


{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}