{% extends "@Admin/layout.html.twig" %}

{% set menuActive = 'dashboard' %}

{% block mainTitle '<i style="top: 3px; font-size: 25px; position: relative;" class="px-nav-icon ion-ios-speedometer-outline"></i> Tableau de bord' %}

{% block content %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}