<form action="" class="form-horizontal" method="get" enctype="multipart/form-data" novalidate >
    {{ form_errors(form.id) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.id, "ID", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.id, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un identifiant'} }) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.username) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.username, "Login", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un login'} }) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.ip) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.ip, "IP", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.ip, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez une ip'} }) }}
            </div>
        </div>
    </div>
    {{ form_errors(form.route) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.route, "Uri", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.route, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez une uri'} }) }}
            </div>
        </div>
    </div>

    <div class="form-group panel-block">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>
