
{% form_theme form 'front/parts/form_theme.html.twig' %}

<section class="section-project section-project{% if project.empty is defined and project.empty %}--empty{% endif %}">
    <div class="container container-md">
        <div class="form form--projects">

            {{ form_start(form, {'attr': {'id': 'cart-project-form', 'data-url-cart-save': path('project_cart_save'), 'data-url-information-edit': path('project_update_information', {'id': project.id})}}) }}
                <div class="form__inner">

                    <div class="form__content">
                        {% include 'front/project/cart/_header.html.twig' %}

                        {% if not project.isEmpty %}
                            {% include 'front/project/cart/_items.html.twig' %}
                        {% else %}
                            <p><em>{{ 'sylius.ui.car_no_product'|trans }}</em></p>



                            {% set path_add_product = null %}
                            {% if show_action is not defined %}
                                {% set path_add_product = path('catalog') %}
                            {% else %}
                                {% set path_add_product = path('project_switch', {'id': project.id}) %}
                            {% endif %}


                            {% if path_add_product is not null %}
                                <a href="{{ path_add_product }}" class="btn">
                                    <span>Ajouter des produits dans ce projet</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div><!-- /.form__content -->
                    {% include 'front/project/cart/_sidebar.html.twig' %}

                </div><!-- /.form__inner -->
            {{ form_end(form) }}
        </div><!-- /.form -->
    </div><!-- /.container -->
</section><!-- /.section-project -->
