{% set path = path('catalog') %}
{% set label = 'sylius.ui.back_to_product' %}
{% if show_action is defined %}
    {% set path = path('account') %}
    {% set label = 'sylius.ui.back_to_account' %}
{% endif %}

<a href="{{ path }}" class="link-back">
    <img class="svg" src="{{ asset('assets/shop/images/angle-left.svg') }}" alt="">
    <span>{{ label|trans }}</span>
</a>
<h1>{{ 'sylius.ui.cart_project'|trans }}</h1>
