{% set product = item.product %}
<div class="product__image" style="background-image: url({% include 'front/images/_mainImage.html.twig' with {'product': product, 'filter': 'hennessy_product_box', 'only_path': true} %});">
</div><!-- /.product__image -->
<div class="product__content">
    <h4>{{ product.translate('fr').name }}</h4>
    <p data-max-char="34">{{ product.translate('fr').material }}</p>

    {# {{ render(url('product_in_stock', {'id': product.id, 'idProject': project.id})) }}


    {% if project is defined and project is not empty %}
        {% if project.state != constant("App\\Entity\\Project::STATE_HUB_DRAFT") and item.quantity > 0 %}
            <em style="font-size: 12px;">Déjà {{ item.quantity }} produit(s) réservé(s) pour ce projet</em>
        {% endif %}
    {% endif %} #}

    {{ form_errors(form.quantity) }}
</div><!-- /.product__content -->