{% set item = form.vars.data %}
<tr>
    <td>
        <div class="product product--small">
            {% include 'front/project/cart/_info.html.twig' with {'item': item} %}
        </div>
    </td>
    <td>
        <ul class="list-count list-count--pink  jsCounter {% if form.quantity.vars.disabled %}disabled{% endif %}">
            <li class="minus" {% if form.quantity.vars.disabled %}style="opacity: 0.5;"{% endif %}>
                <a href="#" class="qty-less">
                    <img class="svg" src="{{ asset('assets/shop/images/minus.svg') }}" alt="">
                </a>
            </li>
            <li class="result">
                {{ form_widget(form.quantity) }}
            </li>
            <li class="plus" {% if form.quantity.vars.disabled %}style="opacity: 0.5;"{% endif %}>
                <a href="#" class="qty-more">
                    <img class="svg" src="{{ asset('assets/shop/images/plus.svg') }}" alt="">
                </a>
            </li>
        </ul><!-- /.list-count -->

    </td>
    <td>
        <a href="{% if form.quantity.vars.disabled %}{{ path('project_ajax_cart_item_remove', {'id': item.id}) }}{% endif %}" class="jsRemoveProject {% if form.quantity.vars.disabled %}disabled{% endif %}" {% if form.quantity.vars.disabled %}style="opacity: 0.5;"{% endif %}>
            <img class="svg" src="{{ asset('assets/shop/images/trash.svg') }}" alt="">
        </a>
    </td>
</tr>
