<h4 class="form__title">{{ project.name }}</h4>
<ul class="list-icon">
    <li>
        <img class="svg" src="{{ asset('assets/shop/images/calendar.svg') }}" alt="">

        <p>{{ 'sylius.ui.project_date'|trans({'%start%': project.dateStart|date('d/m/Y'), '%end%': project.dateEnd|date('d/m/Y')}) }}</p>
    </li>
    <li>
        <i class="ico-clock"></i>
        <p>
            En retour de préférence à {{ project.hourEnd|date('H:i') }}
        </p>
    </li>
    <li>
        <img class="svg" src="{{ asset('assets/shop/images/pin.svg') }}" alt="">
        <p>
            {{ project.place|nl2br }}
        </p>
    </li>

    <li>
        <p>
            Cave : {{ project.cave|capitalize }}<br/>
            Date de création : {{ project.created|date('d/m/Y H:i') }}<br/>
            Services en sortie : {{ project.beforeServices|length }}<br/>
            {% if project.afterServices|length > 0 %}
                Services en retour : {{ project.afterServices|length }}
            {% endif %}
        </p>
    </li>
    {#
    <li>
        {% set icon_clean = project.clean ? 'check.svg' : 'close.svg' %}
        {% set label_clean = project.clean ? 'sylius.ui.clean' : 'sylius.ui.no_clean' %}
        <img class="svg" src="{{ asset('assets/shop/images/' ~ icon_clean) }}" alt="">
        <p>
            {{ label_clean|trans }}
        </p>
    </li>
    <li>
        <p>{{ project.information|raw|nl2br }}</p>
    </li>
    #}
</ul><!-- /.list-icon -->