<div class="form__sidebar" style="background-color: #f4f4f4">
    <div class="form__sidebar-inner">
        <div class="form__entry information-no-form visible-element" id="information-no-form-content">
            {% include 'front/project/cart/_project_informations.html.twig' %}
        </div>
        {#
        <div class="form__body information-form hidden-element" id="information-form-content">
            {% include 'front/project/cart/_project_form.html.twig' %}
        </div><!-- /.form__body -->
        #}
        <div class="form__foot">
            {% if project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") or project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED")  %}
                <ul class="list-icon hidden-xs">
                    <li>
                        <a href="{{ path('project_update_information',{id: project.id}) }}">
                            <img class="svg svg-edit" src="{{ asset('assets/shop/images/edit.svg') }}" alt="">
                            <span>{{ 'sylius.ui.edit_information'|trans }}</span>
                        </a>
                    </li>
                </ul><!-- /.list-icon -->
                {% if show_action is not defined %}
                    <div class="form__actions information-no-form">
                        {% if form.submit is defined %}
                            {{ form_widget(form.submit) }}
                        {% endif %}
                        {% if form.draft is defined %}
                            {% if form.vars.data.state != constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}<div style="display: none">{% endif %}
                                {{ form_widget(form.draft) }}
                            {% if form.vars.data.state != constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}</div>{% endif %}
                        {% endif %}
                    </div><!-- /.form__actions -->
                {% endif %}
            {% else %}
                <div class="form__foot-entry">
                    <p><em>{{ 'sylius.ui.cant_edit_project'|trans|raw }}</em></p>
                </div><!-- /.form__foot-entry -->
            {% endif %}
        </div><!-- /.form__foot -->
    </div><!-- /.form__sidebar-inner -->
</div><!-- /.form__sidebar -->