<footer class="footer">
    <div class="container">
        <a href="{{ path('homepage') }}" class="logo">
            <img src="{{ asset('assets/shop/images/logo-white@2x.png') }}" alt="">
        </a>
        <nav class="footer__nav">
            <ul>
                <li>
                    <a href="https://www.myhennessy.com/" target="_blank">MY HENNESSY</a>
                </li>
                <li>
                    <a href="mailto:hub142@moethennessy.com">NOUS CONTACTER</a>
                </li>
                <li>
                    <a href="{{ asset('pdf/e-stock-notice-explicative.pdf') }}" target="_blank">COMMENT ÇA MARCHE</a>
                </li>
            </ul>
        </nav><!-- /.footer__nav -->
        <p>L'abus d'alcool est dangereux pour la santé, à consommer avec modération</p>
    </div><!-- /.container -->
</footer><!-- /.footer -->
