{% if app.user is not null %}
    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbar-left">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        <img class="svg" src="{{ asset('assets/shop/images/logo.svg') }}" alt="logo" />
                    </a>
                </div><!-- /.navbar-left -->
                <div class="navbar-right">



                    {% if app.user and app.session.get('current_stock', false) %}

                        {{ render(controller('App\\Controller\\Front\\StockController::choice')) }}


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-search" aria-controls=".navbar-search" aria-expanded="false" aria-label="Toggle navigation">
                            <img class="svg" src="{{ asset('assets/shop/images/search.svg') }}" alt="search" />
                        </button>
                        <div class="navbar-collapse navbar-search collapse">
                            <div class="search">
                                <div class="container">
                                    <a href="#" class="search__close jsSearchClose">
                                        <img class="svg" src="{{ asset('assets/shop/images/close.svg') }}" alt="close" />
                                    </a><!-- /.search__close -->


                                    <form method="get" action="{{ path('catalog') }}" class="ui form">
                                        <div>
                                            <input type="text" value="{{ app.request.get('keyword', '') }}" name="keyword" id="keyword" class="search__field" />
                                        </div>
                                        <button type="submit" class="search__btn">
                                        </button>
                                    </form>

                                </div><!-- /.container -->
                            </div><!-- /.search -->
                        </div><!-- /.navbar-collapse -->

                        {{ render(controller('App\\Controller\\Front\\ProjectItemController::cartHead')) }}
                    {% endif %}

                    <button class="navbar-toggler navbar-border-left" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
                        <img class="svg" src="{{ asset('assets/shop/images/profile.svg') }}" alt="profile" />
                        <strong class="hidden-xs">{{ app.user.email }}</strong>
                        <img class="svg hidden-xs" src="{{ asset('assets/shop/images/angle-down.svg') }}" alt="angle-down" />
                    </button>
                </div><!-- /.navbar-right -->
            </div><!-- /.navbar -->
        </div><!-- /.container -->
    </header><!-- /.header -->
    {% include 'front/partials/menu/security.html.twig' %}
{% endif %}
