{% extends 'hub/layout-mb.html.twig' %}

{% form_theme form 'hub/parts/form_theme-mb.html.twig' %}

{% block title %}Hub 142  / MyBoxes/ Préparer et Envoyer{% endblock %}

{% block content %}
    <section class="section-alt">
        <div class="container container--small">
            <div class="section__subhead section__subhead--left">
                <a href="{{ path('myboxes_box_list') }}" class="link-back">
                    <img class="svg" src="{{ asset('assets/myboxes/images/angle-left.svg') }}" alt="" />
                    <span>{{ 'app.myboxes.edit.back'|trans }}</span>
                </a>
            </div><!-- /.section__subhead -->
        </div><!-- /.container -->
        <div class="section__body">
            <div class="form form--alt js-form-upload">
                {{ form_start(form, {'attr': {'novalidate': '', 'id' : form.vars.id, 'autocomplete': "off"}}) }}
                    <div class="form__section row">
                        <div class="container container--small">
                            {% include "hub/myboxes/partials/_create_box_title.html.twig" %}
                            {% include "hub/myboxes/partials/_create_box_type.html.twig" %}
                        </div><!-- /.form__section row -->
                    </div>
                    <div class="form__section row form__section--dark">
                        <div class="container container--small">
                            <div class="form__body">
                                <div class="form__group">
                                    <div class="form__subhead c-green">
                                        <h4>
                                            <img src="{{ asset('assets/myboxes/images/info-circle.svg') }}" alt="" class="svg">
                                            <span>{{ 'app.myboxes.edit.subtitle2'|trans }}</span>
                                        </h4>
                                    </div><!-- /.form__subhead -->
                                    <div class="form-row justify-content-between">
                                        {% include "hub/myboxes/partials/_create_box_left.html.twig" %}
                                        {% include "hub/myboxes/partials/_create_box_right.html.twig" %}
                                        {{ form_errors(form) }}
                                    </div><!-- /.form-row -->
                                </div><!-- /.form__group -->
                            </div><!-- /.form__body -->
                        </div><!-- /.container container-/-small -->
                    </div><!-- /.form__section row -->
                    <div class="form__section row">
                        <div class="container container--small">
                            <div style="font-weight: bolder;color: red;font-size: 1.2em;text-align: center;max-width: 50%;margin-left: auto;margin-right: auto">
                                {{ 'app.myboxes.edit.warning'|trans }}
                            </div>
                            <div class="form__actions">
                                <button type="submit" value="Submit" class="btn btn--green form__btn">
                                    <span>{{ 'app.myboxes.edit.cta'|trans }}</span>
                                </button>
                                <p class="form__asterisk">* {{ 'app.myboxes.edit.mandatory'|trans }}</p><!-- /.form__asterisk -->
                            </div><!-- /.form__actions -->
                        </div><!-- /.container -->
                    </div><!-- /.form__section -->
                <div style="display: none;">
                    {{ form_rest(form) }}
                </div>
                {{ form_end(form) }}
            </div><!-- /.form -->
        </div><!-- /.section__body -->
    </section><!-- /.section-alt -->
    <script type="text/template" id="preview-template">
        <div class="preview">
            <div class="preview__img">
                <a href="#" class="js-remove-img preview__link">
                    <svg width="15" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 18"><path fill="#fff" d="M14.98 1.95v3.406h-1.032L12.955 18H2.026L1.032 5.356H0V1.95h5.006V0h4.988v1.95zM6 1.93h3V.966H6zm6.955 3.408H2.045l.916 11.678h9.078zm1.052-2.423H.994v1.457h13.013zM9.75 7.5h.75V15h-.75zm-2.714 0h.75V15h-.75zM4.5 7.5h.75V15H4.5z"/></svg>
                </a>
            </div><!-- /.preview__img -->
        </div><!-- /.preview -->
    </script>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    function checkLength($input, length) {
        var value = $input.val();
        var $control = $input.parents('.form__controls');

        $control.find('.form__error').each((index, item) => {
            var content = $(item).text().trim();
            if (content == 'Cette chaîne doit avoir exactement 7 caractères.') {
                $(item).hide();
            }
        });
        if (value && value.length && value.length == 7) {
            $control.find('.check-length-error').hide();
        } else {
            $control.find('.check-length-error').show();
        }
    }

    function switchEmptyBox($input) {
        const val = $input.prop('checked');
        if (val) {
            $('.mode-empty-target').hide();
        } else {
            $('.mode-empty-target').show();
        }

    }

    $().ready(() => {
        $('#{{ form.vars.id }} #{{ form.type.vars.id}}').change((event) => {
            var value = $(event.target).val();
            if (value==='group') {
                $('.for-teambox').show();
            } else {
                $('.for-teambox').hide();
            }
        })
        $('#{{ form.vars.id }} #{{ form.type.vars.id}}').change();

        $('.check-length-7').change((event) => {
            checkLength($(event.target), 7)
        })
        $('.check-length-7').keyup((event) => {
            checkLength($(event.target), 7)
        })
        $('.check-length-7').change();

        $('.mode-empty-source').change((event) => {
            switchEmptyBox($(event.target));
        });

        $('.mode-empty-source').change();

    });
</script>
{% endblock %}
