{% extends 'hub/layout-mb.html.twig' %}

{% block title %}Hub 142  / MyBoxes / Dashboard {% endblock %}

{% block content %}
    <section class="section-default">
        {% include "hub/myboxes/partials/_index_title.html.twig" %}
        <div class="section__body" style="min-height: 800px;">
            <div class="container">
                {% include "hub/myboxes/partials/_index_left.html.twig" %}
                {% include "hub/myboxes/partials/_index_right.html.twig" %}
            </div><!-- /.container -->
        </div><!-- /.section__body -->
    </section><!-- /.section-default -->
{% endblock %}
