{% extends 'hub/layout-mb.html.twig' %}

{% block title %}Hub 142  / MyBoxes / {{ box.name }} {% endblock %}

{% block content %}
    <section class="section-product section-product--small">
        <div class="container">
            {% include "hub/myboxes/partials/_show_title.html.twig" %}
            <div class="section__body">
                <div class="product-single product-single--alt">
                    {% include "hub/myboxes/partials/_show_pictures.html.twig" %}
                    <div class="product__content">
                        {% include "hub/myboxes/partials/_show_data.html.twig" %}
                        {% include "hub/myboxes/partials/_show_actions.html.twig" %}
                    </div><!-- /.product__content -->
                </div><!-- /.product-single -->
            </div><!-- /.section__body -->
        </div><!-- /.container -->
    </section><!-- /.section-product -->
{% endblock %}
