{% extends 'hub/layout.html.twig' %}

{% block content %}
    <section class="section-form">
        <div class="section__body">
            <div class="form">

                <div class="form__section row">
                    <div class="container col-xl-9 col-md-11">
                        <div class="form__head">
                            <h2 class="form__title">Pays autorisés pour l'expédition des commandes groupées</h2>
                        </div>

                        <div class="form__body">
                            <div class="form__group">
                                {# <span>Les envois sont actuellement limités à la France aux pays membres de l'Espace Schengen (CEE).</span><br>
                                <span>Voici la liste des destinations autorisées :</span><br><br>
                                <ul>
                                    <li>Allemagne</li>
                                    <li>Autriche</li>
                                    <li>Belgique</li>
                                    <li>Danemark</li>
                                    <li>Espagne</li>
                                    <li>Estonie</li>
                                    <li>Finlande</li>
                                    <li>France</li>
                                    <li>Grèce</li>
                                    <li>Hongrie</li>
                                    <li>Islande</li>
                                    <li>Italie</li>
                                    <li>Lettonie</li>
                                    <li>Liechtenstein</li>
                                    <li>Lituanie</li>
                                    <li>Luxembourg</li>
                                    <li>Malte</li>
                                    <li>Norvège</li>
                                    <li>Pays-Bas</li>
                                    <li>Pologne</li>
                                    <li>Portugal</li>
                                    <li>République Tchèque</li>
                                    <li>Slovaquie</li>
                                    <li>Slovénie</li>
                                    <li>Suède</li>
                                </ul> #}
                                <span>Les envois sont actuellement limités à la France uniquement</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.form -->
        </div><!-- /.section__body -->
    </section><!-- /.section -->
{% endblock %}

{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}