<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <base href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">
    <style>
        table, th, td {
            border: 1px solid black;
        }
        table {
            border-collapse: collapse;
        }
        .head th {
            color: #2c455b;
        }
    </style>
</head>
    <body>
        <img width="127" height="130" style="float:right;" src="{{ logo }}" alt="">

        <h1 style="text-align:center; margin-bottom: 21px; line-height: 1.2; color: #2c455b; font-family: 'Moet Hennessy, sans-serif';">Hub142 - Récapitulatif de la commande</h1><br/><br/><br/><br/><br/>

        <span style="color: #2c455b; font-size: 24px;font-weight:bold;">Information sur la commande</span><br/><br/>
        <span style="color: #7f7a77; font-size: 24px;">Stock : {{ project.stock.translate('fr').name }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Date de création : {{ project.created|date('d/m/Y - h:i', "Europe/Paris") }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Référence de la commande : # {{ project.id }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Type de commande : {% include "hub/project/partials/type.html.twig" %}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Nom de la commande : {{ project.name }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Demandeur : {{ user.firstName }} {{ user.lastName }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Email : {{ user.email }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Téléphone : {{ user.phone }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Centre de coût : {{ project.billingCenter.translate('fr').name }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Date d’expédition souhaitée : {{ project.dateStart|date('d/m/Y') }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Adresse de livraison : {{ project.recipientAddress }} {{ project.recipientZip}} {{ project.recipientCity }} {{ project.recipientCountry }}</span><br/>
        <span style="color: #7f7a77; font-size: 24px;">Prestation(s) associée(s) : {% if project.beforeServices is not null %}{% for beforeService in project.beforeServices %}{{ beforeService.translate('fr').name }}{% endfor %}{% endif %} {% if project.beforeQuote is not null %}{{ project.beforeQuote }}{% endif %}</span><br/><br /><br/>

        <span style="color: #2c455b; font-size: 24px;font-weight:bold;">Récapitulatif de la commande</span><br/><br/><br/>

        <table style="width: 100%;">
            <tr class="head">
                <th>SKU</th>
                <th>Désignation du produit</th>
                <th>Quantité</th>
            </tr>
            {% for item in project.items %}
                <tr>
                    <td>
                        {{ item.product.translate('fr').code }}
                    </td>
                    <td>
                        {{ item.product.translate('fr').name }}
                    </td>
                    <td>
                        {{ item.quantity}}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </body>
</html>