{% extends 'hub/layout-mb.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .footer {
            margin-top: 0 !important;
            z-index: 2;
            position: relative;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="section-default section-default--primary">
        <div class="section__head">
            <div class="container">
                <h2 class="section__title">Procédure de commande groupée</h2><!-- /.section__title -->

                <h5>Pour effectuer une commande groupée, veuillez remplir le formulaire ci-dessous.</h5>

                {% if errors is defined and errors is not empty %}
                    {% for key,error in errors %}
                        <ul style="z-index: 1;">
                            <li style="color: red; z-index: 1; font-size: 16px; list-style: none;">{{ error }}</li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div><!-- /.container -->
        </div><!-- /.section__head -->

        <div class="section__body">
            <div class="container">
                <div class="section__aside">
                    <h4>
                        <img class="svg" src="{{ asset('assets/myboxes/images/box-open.svg') }}" alt="">

                        Bon à savoir :
                    </h4>

                    <p>Un délai moyen de 7 jours ouvrés est nécessaire à la préparation de votre commande groupée.<br>
                        Ce délai est susceptible de varier en fonction de la taille de votre commande.<br></p>

                    <p>Pour trouver les références de vos produits et connaître l'état de vos stocks, veuillez consulter votre catalogue en ligne.<br></p>

                    <p>Pensez à approvisionner vos stocks en amont :<br>
                        - En produits finis<br>
                        - En consommables : papier de soie, sacs siglés, stickers, cartes nominatives, etc.<br></p>

                    {# <p>
                        Les envois sont actuellement limités à la France aux pays membres de l'Espace Schengen (CEE).<br>
                        Consultez ici <a href="{{ path('authorized_countries') }}">la liste</a> des destinations autorisées
                    </p> #}
                    <p><strong>Les envois sont actuellement limités à la France uniquement.</strong></p>

                    <p>
                        <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Shape</title>
                            <defs>
                                <path d="M37.2755111,25.5212358 C33.2346941,36.8262544 17.2244897,36.8262544 13.1836735,25.5212358 L13,24.9961392 L13.1836735,24.5019304 C17.2244897,13.1660233 33.2346941,13.1660233 37.2755111,24.5019304 L37.4285717,24.9961392 L37.2755111,25.5212358 Z M25.2142858,19.4671814 C26.1020408,19.4671814 26.8979592,19.6833977 27.6326533,20.023166 C26.2551021,20.0849421 25.1530612,21.2277993 25.1530612,22.6177606 C25.1530612,24.0386101 26.3163263,25.2123555 27.7244896,25.2123555 C29.0714287,25.2123555 30.1734696,24.1621621 30.2653059,22.8339769 C30.5714284,23.5135134 30.7244897,24.2239382 30.7244897,24.9961391 C30.7244897,28.0540539 28.2448976,30.5559847 25.2142858,30.5559847 C22.1836736,30.5559847 19.734694,28.0540539 19.734694,24.9961391 C19.734694,21.938224 22.1836736,19.4671814 25.2142858,19.4671814 Z M35.8673475,24.9961387 C32.3163269,35.0038597 18.1428572,35.0038597 14.5918367,24.9961387 C18.1428572,14.988417 32.3163269,14.988417 35.8673475,24.9961387 Z" id="path-1"></path>
                            </defs>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="02-/-Icons-/-Eyes" transform="translate(-13.000000, -16.000000)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <use id="Shape" fill="#E2A287" xlink:href="#path-1"></use>
                                </g>
                            </g>
                        </svg>
                        <a href="{{ path('catalog') }}" target="_blank" style="color: #e2a287;font-weight: bold;">
                            CONSULTER LE CATALOGUE
                        </a>
                    </p>
                </div><!-- /.section__aside -->

                <div class="section__content">
                    <div class="form form--procedure">
                        {{ form_start(form, {'multipart': true, 'attr' : { 'atucomplete' : 'off' }}) }}
                        <div class="form__section row">
                            <div class="container col-xl-9 col-md-11">
                                <div class="form__body">
                                    <div class="form__group">
                                        <div class="form__subhead">
                                            <h4>
                                                <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">

                                                <span>Etape 1 : Produits à envoyer</span>
                                            </h4>
                                        </div><!-- /.form__subhead -->

                                        <p>1. Téléchargez le modèle de fichier Excel à remplir</p>

                                        <a href="{{ asset('assets/front/Template_commande_groupee_def_FR.xlsx') }}">
                                            <button type="button" style="margin-bottom: 39px;" id="donwload-btn" class="btn btn--dark form__btn">
                                                <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">

                                                <span>telecharger le <br>fichier</span>
                                            </button>
                                        </a>

                                        <p>2. Remplissez le modèle avec les informations de votre commande (produits, quantités, adresse de livraison et destinataire)</p>

                                        <p>3. Importer le fichier Excel pour passer votre commande</p>

                                        <div style="display: none;">{{ form_widget(form.excelFile, { 'id' : 'file-import' }) }}</div>

                                        <button type="button" id="htmlburger-button" class="btn btn--dark form__btn">
                                            <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">

                                            <span>importer le <br>fichier</span>
                                        </button>

                                        <ul class="form__list">
                                            <li id="file-title">monfichier.xls</li>

                                            <li>Lignes présentes dans le fichier : <span id="number-of-rows">0</span></li>

                                            <li class="textError" style="display: none; color: red;"><span>La commande groupée ne peut pas être soumise.</span><br><span>Cause: votre commande comporte des erreurs merci de les modifier</span></li>

                                            <li id="number-of-errors">Erreur(s) : <span>0</span></li>
                                            <li style="display: none;" id="rows-with-errors">Cellules(s) concernée(s) : <span>0</span></li><br>
                                            <li style="display: none;" id="code-with-errors"></li>
                                            <li style="display: none;" id="name-with-errors"><span>Le SKU “” correspond au produit “”.</span> <br>Veuillez confirmer en utilisant cette désignation exacte dans votre fichier</li>
                                        </ul>
                                    </div><!-- /.form__group -->

                                    <div class="form__group">
                                        <div class="form__subhead">
                                            <h4>
                                                <img class="svg" src="{{ asset('assets/front/images/user.svg') }}" alt="">

                                                <span>Etape 2 : Prestations associées</span>
                                            </h4>

                                            <h5>Prestations standard avant livraison</h5>
                                        </div><!-- /.form__subhead -->

                                        <div class="form__checkbox checkbox">
                                            {% for child in form.beforeServices.children %}

                                                {% set spl = child.vars.label|split('::') %}
                                                <input type="radio" {% if child.vars.data %}checked{% endif %} id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                                                <label class="toolbox-holder" style="margin-bottom: 10px" for="{{ child.vars.id }}">
                                                    {{ spl[0] }}
                                                    <div class="toolbox">
                                                        <div class="toolbox__content">
                                                            <p>{{ child.vars.attr['data-description'] }}</p>
                                                        </div>
                                                    </div>
                                                </label>
                                            {% endfor %}

                                            <div class="form__toolbox-holder toolbox-holder">
                                                <a href="{{ path('services') }}" class="link link--alt link--toolbox" target="_blank">
                                                    <span>Comment ça marche ?</span>

                                                    <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                                                </a>

                                                <div class="toolbox">
                                                    <div class="toolbox__content">
                                                        <p>Ce service vous sera facturé. Avant de valider votre commande merci de consulter la <a href="{{ asset('assets/front/Grille Tarifaire Globale MH_HUB142 2020.pdf') }}" target="_blank">grille tarifaire</a> qui servira de base de calcul.</p>
                                                    </div><!-- /.toolbox__content -->
                                                </div><!-- /.toolbox -->
                                            </div><!-- /.toolbox-holder -->
                                        </div><!-- /.checkbox -->

                                        <div class="form__info-alt">
                                            <p>Prestations sur devis</p>

                                            <div class="form__toolbox-holder toolbox-holder">
                                                <a href="{{ path('services') }}" class="link link--alt link--toolbox" target="_blank">
                                                    <span>Comment demander un devis ?</span>

                                                    <img class="svg svg--toolbox" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                                                </a>

                                                <div class="toolbox">
                                                    <div class="toolbox__content">
                                                        <p>Ce service vous sera facturé. Avant de valider votre commande merci de consulter la <a href="{{ asset('assets/front/Grille Tarifaire Globale MH_HUB142 2020.pdf') }}" target="_blank">grille tarifaire</a> qui servira de base de calcul.</p>
                                                    </div><!-- /.toolbox__content -->
                                                </div><!-- /.toolbox -->
                                            </div><!-- /.toolbox-holder -->
                                        </div><!-- /.form__info -->

                                        <div class="form__checkbox checkbox">
                                            {{ form_widget(form.needQuote, { 'id' : 'field-copacking-quote' }) }}

                                            <label for="field-copacking-quote">Cocher si la prestation nécessite un devis</label>
                                        </div><!-- /.checkbox -->
                                        <p style="margin-bottom: 0; font-weight: 700;">Veuillez préciser votre numéro de devis en respectant le format : AAMM_XXX <br>
                                            En saisissant cette référence vous confirmez avoir valider le devis.</p>
                                        <div class="form__row">
                                            <div class="js-group jsFocusLabel">

                                                <label for="field-number" class="form__label form__italic">Numéro de Devis*</label>

                                                <div class="form__controls">
                                                    {{ form_widget(form.beforeQuote) }}
                                                </div><!-- /.form__controls -->
                                            </div><!-- /.js-group jsFocusLabel -->
                                        </div><!-- /.form__row -->
                                    </div><!-- /.form__group -->

                                    <div class="form__group">
                                        <div class="form__subhead form__subhead--alt">
                                            <h4>
                                                <img class="svg" src="{{ asset('assets/front/images/user.svg') }}" alt="">

                                                <span>Etape 3 : Vos informations</span>
                                            </h4>
                                        </div><!-- /.form__subhead form__subhead-/-alt -->

                                        <div class="form__row">
                                            <label for="field-votre-stock" class="form__label-alt">Votre stock*</label>

                                            <div class="form__controls">
                                                <div class="form__select">
                                                    {{ form_widget(form.stock, { 'id' : 'field-votre-stock', 'class' : 'js-select' }) }}
                                                </div><!-- /.select -->
                                            </div><!-- /.form__controls -->
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--alt">
                                            <div class="js-group jsFocusLabel">
                                                <label for="field-name" class="form__label form__italic">Nom de votre projet*</label>

                                                <div class="form__controls">
                                                    {{ form_widget(form.projectName) }}
                                                </div><!-- /.form__controls -->
                                            </div><!-- /.js-group jsFocusLabel -->
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--alt">
                                            <label for="field-votre-centre" class="form__label-alt">Votre centre de coûts*</label>

                                            <div class="form__controls">
                                                <div class="form__select">
                                                    {{ form_widget(form.billingCenter) }}
                                                </div><!-- /.select -->
                                            </div><!-- /.form__controls -->
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="select-date-livraison" class="form__label form__italic">Date d'expédition souhaitée*</label>
                                            <div class="form__controls datepicker-wrapper">
                                                {{ form_widget(form.deliveryDate, { 'attr' : { 'class': 'field datepicker jsDateStart no-weekend' } }) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.deliveryDate) }}
                                            </div>
                                        </div><!-- /.form__row -->
                                    </div><!-- /.form__group -->
                                </div><!-- /.form__body -->

                                <div class="form__actions">
                                    <button type="submit" value="Submit" id="submit-btn" class="btn btn--grey-dark form__btn" {% if errors is defined and errors is not empty %}disabled{% endif %}>
                                        <span>Valider votre <br>commande groupee</span>
                                    </button>

                                    <p class="form__asterisk">* Champs obligatoires</p>
                                </div><!-- /.form__actions -->
                            </div><!-- /.container -->
                        </div><!-- /.form__section -->
                        {{ form_end(form) }}
                    </div><!-- /.form -->
                </div><!-- /.section__content -->
            </div><!-- /.container -->
        </div><!-- /.section__body -->
    </section><!-- /.section-default -->
{% endblock %}

{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% include "hub/project/partials/scripts.html.twig" %}

    <script type="text/javascript">
        $( document ).ready(function() {

            $(".jsDateStart").datepicker( "option", "minDate", '2');

            postLoadingPageInitSelect2($('#field-votre-stock'));

            $('#htmlburger-button').on('click', function (e) {
                e.preventDefault();
                $("#file-import").click();
            });

            $('#file-import').on('change', function() {
                $('#file-title').text(this.files && this.files.length ? this.files[0].name : '');

                var fileName = $(this).val();
                if (undefined !== fileName || null !== fileName) {
                    var formData = new FormData();
                    formData.append('file', $(this)[0].files[0]);
                    $.ajax({
                        method      : 'POST',
                        url         : '{{ path('bulk_order_validator') }}',
                        data        : formData,
                        dataType    : 'json',
                        processData : false,
                        contentType: false,
                        cache: false,
                    }).then((response) => {
                        $('#number-of-rows').text(response.numberOfRows);
                        if (parseInt(response.errors) > 0) {
                            var html = "<li style='color: red;' id='number-of-errors'>Erreur(s) : <span id='number-of-errors'>" + response.errors + "</span></li>";
                            $('#number-of-errors').html(html);

                            var cells =[];
                            // Get the cells position from the excel file :
                            $.each(response.rowsWithErrors, function(index, item) { $.each(item, function (idx, value) {
                                var str = idx + value;
                                cells.push(str);
                            }) });

                            $('#rows-with-errors').replaceWith("<li style='display: inline; color: red;' id='rows-with-errors'>Cellules(s) concernée(s) : <span>" + cells + "</span></li>");
                            if (response.nonExistentCode > 0) {
                                $('#code-with-errors').replaceWith("<li style='display: inline; color: red;' id='code-with-errors'<span>le(s) code(s) article renseigné(s) (" + response.nonExistentCode + ") ne figure(nt) pas dans le catalogue. Merci de vérifier la présence de cet article dans votre catalogue en ligne </span></li>");
                            }
                            if (response.realName.length > 0) {
                                var names = "";
                                // Get the cells position from the excel file :
                                $.each(response.realName, function(index, item) { $.each(item, function (idx, value) {
                                    var str = "<span>Le SKU “" + idx + "” correspond au produit “" + value + "”</span><br>";
                                    names += str;
                                }) });
                                $('#name-with-errors').replaceWith("<li style='display: inline; color: red;' id='name-with-errors''> " + names + "<br>Veuillez confirmer en utilisant cette désignation exacte dans votre fichier</li>");
                            }
                            $('.textError').show();
                            $('#submit-btn').attr("disabled", true);
                        } else {
                            var html = "<li id='number-of-errors'>Erreur(s) : <span id='number-of-errors'>0</span></li>";
                            $('#number-of-errors').html(html);
                            $('#rows-with-errors').replaceWith("<li style='display: none;' id='rows-with-errors'>Cellules(s) concernée(s) : <span>0</span></li>");
                            $('#name-with-errors').replaceWith("<li style='display: none;' id='name-with-errors''> <span>Le SKU “YYY” correspond au produit “XXX”. Veuillez confirmer en utilisant cette désignation exacte dans votre fichier</span><br>Veuillez confirmer en utilisant cette désignation exacte dans votre fichier</li>");
                            $('.textError').hide();
                            $('#submit-btn').attr("disabled", false);
                        }
                    }, (error) => {
                        console.log(error)
                    });
                }
            });
        });
    </script>
{% endblock %}
