{% extends 'hub/layout.html.twig' %}

{% block content %}
    <section class="section-project section-project--primary">
        <div class="section__head">
            <div class="container container-md">
                <h2 class="section__title">Votre commande groupée est validée</h2>

                <h6 class="section__subtitle">Veuillez trouver ici la liste des destinataires de votre commande groupée.</h6><!-- /.section__subtitle -->
            </div><!-- /.container -->
        </div><!-- /.section__head -->

        <div class="section-primary">
            <div class="container container-md">
                <div class="section__inner">
                    <header class="section__head">
                        <h4>
                            <img src="{{ asset('assets/myboxes/images/info-circle.svg') }}" alt="" class="svg">

                            <span>Description de votre commande</span>
                        </h4>
                    </header><!-- /.section__head -->

                    <div class="section__body">
                        <div class="section__content">
                            <h4>{{ projects[0].name }}</h4>

                            <ul>
                                <li>Référence commande : {{ projects[0].id }}</li>

                                <li>Date d'expédition souhaitée : {{ projects[0].dateStart|date('d/m/Y') }}</li>

                                <li>Stock : {{ projects[0].stock.translate('fr').name }}</li>

                                <li>Prestation(s) associée(s) : {% if bulkOrder.beforeServices is not null %}copacking{% elseif bulkOrder.beforeServices is not null and bulkOrder.needQuote == true %} + devis {{ bulkOrder.beforeQuote }}{% elseif bulkOrder.beforeServices is null and bulkOrder.needQuote == true %}devis {{ bulkOrder.beforeQuote }}{% endif %}</li>

                                <li>Nombre de lignes présentes dans le fichier : {{ numberOfRows }}</li>
                            </ul>
                        </div><!-- /.section__content -->

                        <div class="section__actions">
                            <a href="{{ path('bulk_order_packing_slip_pdf', { 'bulkOrderId' : projects[0].id, 'numberOfRows' : numberOfRows }) }}">
                                <button type="button" value="Submit" class="btn btn--dark btn--auto">
                                    <span>Télécharger <br>le récapitulatif de la commande groupée</span>
                                </button>
                            </a>
                        </div><!-- /.section__actions -->
                    </div><!-- /.section__body -->
                </div><!-- /.section__inner -->
            </div><!-- /.container -->
        </div><!-- /.section-primary -->

        <div class="section__table table-projects-alt table-projects-alt--primary">
            <div class="container container-md">
                <table>
                    <thead>
                    <th><em>#</em></th>

                    <th>DESTINATAIRES</th>

                    <th>Adresse du destinataire</th>

                    <th>Statut</th>

                    <th>Suivi d’expedition</th>

                    <th>Actions</th>
                    </thead>

                    <tbody>
                        {% for project in projects %}
                            <!-- If not the parent project : -->
                            {% if not loop.first %}
                                <tr>
                                <td data-title="#">1</td>

                                <td data-title="DESTINATAIRES"><strong class="c-dark-blue">{{ project.recipientLastname|upper }} {{ project.recipientFirstname }}</strong></td>

                                <td data-title="Adresse du destinataire">{{ project.recipientAddress }} {{ project.recipientZip }} {{ project.recipientCountry }}</td>

                                <td data-title="Statut">
                                            <span class="status success">
                                                <img class="svg" src="assets/images/check.svg" alt="" />
                                                {% set state = 'sylius.ui.project_state.' ~ project.state %}
                                                {{ state|trans }}
                                            </span>
                                </td>

                                <td data-title="Suivi d’expedition">
                                    {% for tracker in project.trackers %}
                                        <a href="{{ tracker }}">Suivi de livraison</a>
                                    {% endfor %}
                                </td>

                                <td>
                                    <ul class="list-icons">
                                        <li>
                                            <a href="{{ path('project_view', { 'id' : project.id }) }}">
                                                <img class="svg black eye" src="{{ asset('assets/front/images/eye.svg') }}" alt="" />
                                            </a>
                                        </li>{#

                                        <li>
                                            <a href="{{ path('project_update_information', { 'id' : project.id }) }}">
                                                <img class="svg" src="{{ asset('assets/front/images/edit.svg') }}" alt="" />
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('project_remove', { 'id' : project.id }) }}">
                                                <img class="svg" src="{{ asset('assets/front/images/trash.svg') }}" alt="" />
                                            </a>
                                        </li>#}
                                    </ul><!-- /.list-icons -->
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if is_granted('ROLE_GENERAL_ADMIN') or app.user.stocks|length > 0 %}
                    <div style="text-align: center">
                        <a href="{{ path('account') }}">
                            <button type="button" class="btn btn--dark btn--auto">
                                <span>Retour à mon Dashboard</span>
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div><!-- /.container -->
        </div><!-- /.section__table table-projects-alt -->
    </section><!-- /.section-project-/-alt -->
{% endblock %}


{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}
