
{% extends 'hub/layout.html.twig' %}

{% form_theme form 'hub/parts/form_theme.html.twig' %}


{% block content %}
    <section class="section-form">
        <div class="section__body">
            <div class="form">
                {% include "hub/project/partials/form.html.twig" with {edit: false} %}
            </div><!-- /.form -->
        </div><!-- /.section__body -->
    </section><!-- /.section -->
{% endblock %}

{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% include "hub/project/partials/scripts.html.twig" %}

    <script>
        var paris_offset = '+'+{{ daylight_savings_offset_in_hours_for_paris }};
        $( document ).ready(function() {
            {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
                var dStart = new Date();
                var dEnd = new Date();

                if(dStart.getDay() >= 5){
                    dStart.setDate(dStart.getDate() + (1 + 7 - dStart.getDay()) % 7);
                }else{
                    dStart.setDate(dStart.getDate() + 1);
                }

                dEnd.setDate(dStart.getDate() + 1);

                $(".jsDateStart.cave-externe").datepicker( "option", "minDate", dStart);
                $(".jsDateStart.cave-interne").datepicker( "option", "minDate", '0');
                $(".jsDateEnd.cave-externe").datepicker( "option", "minDate", dEnd);
                $(".jsDateEnd.cave-interne").datepicker( "option", "minDate", '0');

            {% endif %}

            function returnDateOnSelect(){
                var selectedReturnDate = moment($("#project_dateEnd").val(), 'DD/MM/YYYY');

                if(selectedReturnDate.isValid()){
                    if(selectedReturnDate.day() == 5){
                        $("#select-pick-time option").each(function(){
                            if($(this).val() == "16|30" || $(this).val() == "17|0"){
                                $(this).attr('disabled', '');
                            }
                        });
                    }else{
                        $("#select-pick-time option").removeAttr('disabled');
                    }
                }

                $('#select-pick-time').selectric('refresh');
            }

            returnDateOnSelect();
            $("#project_dateEnd").datepicker( "option", "onSelect", returnDateOnSelect);

            var container = $("html, body");
            var scrollTo = $('.error');

            if(typeof scrollTo.offset() !== 'undefined'){
                container.animate({scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop(), scrollLeft: 0},300);
            }

            {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}

                var parisCurrentTime = calcTime('Paris', paris_offset);

                var minDate = new Date();
                var maxDate = "0";

                var currentDate = new Date();

                if(parisCurrentTime  > "16:00:00"){
                  var today = new Date();
                  // Check if today is Friday then J+1 will be on Monday
                  if(today.getDay() === 5) {
                    minDate = "+3";
                    maxDate = "3";
                  } else if(today.getDay() === 6) {
                    minDate = "+2";
                    maxDate = "2";
                  } else {
                    minDate = "+1";
                    maxDate = "1";
                  } // Check if today is weekend then J+1 will be on Monday
                } else if ((parisCurrentTime > "16:00:00" || parisCurrentTime < "16:00:00") && currentDate.getDay() == 6) {
                  minDate = "+2";
                  maxDate = "2";
                } else if ((parisCurrentTime > "16:00:00" || parisCurrentTime < "16:00:00") && currentDate.getDay() == 0) {
                  minDate = "+1";
                  maxDate = "1";
                }

                var now = new Date();

                //if(now.getDay() >= 5){
                //    minDate = "+" + (8 - now.getDay());
                //    maxDate = (8 - now.getDay());
                //}

                $('#project_dateStart').datepicker( "destroy" );

                $('#project_dateStart').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    orientation: "top",
                    minDate: minDate,
                    maxDate: maxDate,
                    onSelect: function (dateText, inst) {
                        checkUrgencyDeliveryTime(dateText);
                    },
                    beforeShowDay: $.datepicker.noWeekends
                });

                if(parisCurrentTime  > "16:00:00"){
                    var tomorrow = new Date();
                    //if(now.getDay() >= 5){
                    //    tomorrow.setDate(new Date().getDate()+(8 - now.getDay()));
                    //}else{
                        tomorrow.setDate(new Date().getDate()+1);
                    //}

                    checkUrgencyDeliveryTime(tomorrow);
                }else{
                    checkUrgencyDeliveryTime(new Date());
                }

                $('#project_recipientZip').on('change keyup', function(){
                    var selectedZip = $(this).val();
                    if(selectedZip.length >= 2){
                        var selectedDept = selectedZip.substring(0, 2);
                        if(selectedDept == '75' || selectedDept == '92' || selectedDept == '93' || selectedDept == '94'){
                            var newMinDate = new Date();
                            var newMaxDate = "0";
                            var momentToday = moment();
                            
                            if(parisCurrentTime  > "16:00:00"){
                                var nextBusinessDay = momentToday.nextBusinessDay();
                                newMinDate = nextBusinessDay.toDate();
                                newMaxDate = nextBusinessDay.toDate();
                            }

                            $('#project_dateStart').datepicker( "destroy" );

                            $('#project_dateStart').datepicker({
                                format: "dd/mm/yyyy",
                                autoclose: true,
                                orientation: "top",
                                minDate: newMinDate,
                                maxDate: newMaxDate,
                                onSelect: function (dateText, inst) {
                                    checkUrgencyDeliveryTime(dateText);
                                },
                                beforeShowDay: $.datepicker.noWeekends
                            });

                            $('#project_dateStart').val(moment(newMinDate).format('DD/MM/YYYY'));
                            
                            checkUrgencyDeliveryTime(newMinDate);

                        }
                    }
                });

            {% endif %}
        });

        function checkUrgencyDeliveryTime(deliveryDate){
            //var today = new Date();
            var today = calcTime('Paris', paris_offset, true);

            if(typeof deliveryDate.getMonth !== 'function'){
                deliveryDate = parseDate(deliveryDate)
            }

            var isToday = deliveryDate.getDate() == today.getDate() &&
                deliveryDate.getMonth() == today.getMonth() &&
                deliveryDate.getFullYear() == today.getFullYear();

            if(isToday){
                $('#project_hourStart option').each(function(){
                    if(today.getHours() >= 9){
                        if($(this).attr('value') < today.getHours() - 6){
                            $(this).attr('disabled', '');
                        }

                        if($(this).attr('value') == today.getHours() - 6){
                            $(this).attr('selected', '');
                        }
                    }else{
                        if($(this).attr('value') < 3){
                            $(this).attr('disabled', '');
                        }

                        if($(this).attr('value') == 3){
                            $(this).attr('selected', '');
                        }
                    }
                });
            }else{
                $('#project_hourStart option').removeAttr('disabled');
                $('#project_hourStart option[value="3"]').attr('selected', '');
                $('#project_hourStart option[value="0"]').attr('disabled', '');
                $('#project_hourStart option[value="1"]').attr('disabled', '');
                $('#project_hourStart option[value="2"]').attr('disabled', '');
            }

            $('#project_hourStart').selectric('refresh');
        }

        function calcTime(city, offset, returnObject = false) {
            // create Date object for current location
            var d = new Date();

            // convert to msec
            // subtract local time zone offset
            // get UTC time in msec
            var utc = d.getTime() + (d.getTimezoneOffset() * 60000);

            // create new Date object for different city
            // using supplied offset
            var nd = new Date(utc + (3600000*offset));

            if(returnObject){
                return nd;
            }

            // return time as a string
            return nd.toLocaleTimeString('fr-FR');
        }

        function parseDate(input) {
            var parts = input.match(/(\d+)/g);
            // note parts[1]-1
            return new Date(parts[2], parts[1]-1, parts[0]);
        }

        var alreadySubmit = false;
        $('body').on('submit', '#project-create', function(e){

            if (!alreadySubmit)
            {
                alreadySubmit = true;
                e.preventDefault();

                {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
                    var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_CLASSIC') }};
                    var messagecutoff = "Les commandes passées après 17h pour une livraison à J+1 seront livrées au maximum à J+2 avant midi. Voulez-vous confirmer votre création de projet ?";
                {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                    var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_EMERGENCY') }};
                    var messagecutoff = "Les commandes passées après 16h pour une livraison urgente seront livrées à J+1. Voulez-vous confirmer votre création de commande ?";
                {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                    var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_SHUTTLE') }};
                    var messagecutoff = "Les commandes navette 142 passées après 10h ne sont plus prises en compte pour aujourd'hui, vous serez livré à J+1. Voulez-vous confirmer votre création de commande ?";
                {% endif %}

                var today = new Date();

                {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") and form.vars.data.cave != constant('App\\Entity\\Project::CAVE_115') %}
                    today.setDate(today.getDate()+1);
                {% endif %}

                var hours = today.getHours();
                var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();

                var startDate = $('#project_dateStart').val();

                startDate = parseDate(startDate, "dd/mm/yyyy");
                startDate = startDate.getDate()+'/'+(startDate.getMonth()+1)+'/'+startDate.getFullYear();

                if (startDate == date && hours >= timecutoff)
                {
                    if (confirm(messagecutoff))
                    {
                        $(this).submit();
                    }
                }
                else
                {
                    $(this).submit();
                }

                alreadySubmit = false;
            }
        });
    </script>
{% endblock %}
