{% extends 'hub/layout.html.twig' %}

{% form_theme form 'hub/parts/form_theme.html.twig' %}


{% block content %}




    <section class="section-form">
        <div class="section__body">


            <div class="form">
                {% include "hub/project/partials/form.html.twig" with {edit: true} %}
            </div><!-- /.form -->
        </div><!-- /.section__body -->
    </section><!-- /.section -->
{#
    <div class="intro intro--alt">
        <div class="container">

            <div class="intro__inner fadein" style="padding: 60px;">
                <div style="position: absolute;top: 20px;">
                    <a href="{{ path('catalog') }}" class="link-back">
                        <img class="svg" src="{{ asset('assets/front/images/angle-left.svg') }}" alt="angle-left">
                        <span>Retour au stock</span>
                    </a>
                </div>
                <div class="intro__content"  style="padding: 0px;">

                    <div class="form">
                        <div class="form__head">
                            <h1>EDITION DE LA COMMANDE : {{ form.vars.data.name }}</h1>
                        </div><!-- /.form__head -->

                        {% include "front/project/partials/form.html.twig" with {edit: true} %}

                    </div><!-- /.form -->
                </div><!-- /.intro__content -->
                <div class="intro__bottom" style="position: initial;margin-top: 20px;">
                    <span>* Champs obligatoires</span>
                </div><!-- /.intro__bottom -->
            </div><!-- /.intro__inner -->
        </div><!-- /.container -->
    </div><!-- /.intro -->
    #}
{% endblock %}

{% block footer %}
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    {% include "front/project/partials/scripts.html.twig" %}
{% endblock %}