{% extends 'hub/layout.html.twig' %}



{% block content %}


    <div class="intro">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-9">
                    <div class="intro__inner text-center">
                        <div class="intro__head">
                            <h1 class="intro__title">Bienvenue sur HUB 142</h1><!-- /.intro__title -->

                            <h6 class="intro__subtitle"></h6><!-- /.intro__subtitle -->
                        </div><!-- /.intro__head -->

                        <div class="intro__actions">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{{ path('project_create') }}" class="btn btn--dark">
                                    <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">

                                    <span>Commande standard</span>
                                </a>

                                <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_URGENCY")}) }}" class="btn btn--grey-dark">
                                    <img class="svg" src="{{ asset('assets/front/images/package.svg') }}" alt="">

                                    <span>Commande urgente</span>
                                </a>

                                <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_SHUTTLE")}) }}" class="btn btn--white">
                                    <img class="svg" src="{{ asset('assets/front/images/delivery.svg') }}" alt="">

                                    <span>Commande navette 142</span>
                                </a>
                            </div><!-- /.btn-group -->

                            <a href="{{ path('catalog') }}" class="link">
                                <img class="svg" src="{{ asset('assets/front/images/eye.svg') }}" alt="">
                                <span>Consulter le catalogue</span>
                            </a>

                            <a href="{{ path('procedure_entree_stock') }}" class="link">
                                <img class="svg" src="{{ asset('assets/front/images/plus.svg') }}" alt="">
                                <span>{{ 'app.project.entry_stock_veolog'|trans }}</span>
                            </a>
                        </div><!-- /.intro__actions -->
                    </div><!-- /.intro__inner -->
                </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

        <div class="intro__images">
            <div class="intro__image" style="background-image: url({{ asset('assets/front/images/temp/intro-bg-1.png') }});"></div><!-- /.intro__image intro__image-/-1 -->

            <div class="intro__image" style="background-image: url({{ asset('assets/front/images/temp/intro-bg-2.png') }});"></div><!-- /.intro__image intro__image-/-1 -->

            <div class="intro__image" style="background-image: url({{ asset('assets/front/images/temp/intro-bg-3.png') }});"></div><!-- /.intro__image intro__image-/-1 -->
        </div><!-- /.intro__images -->
    </div><!-- /.intro -->
{% endblock %}

{% block footer %}
{% endblock %}