{% extends 'hub/layout.html.twig' %}

{% set header = 'Mon panier commande' %}

{% block title %}{{ parent() }} | {{ header|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .success .svg,
        .success .svg path {
            fill: #28a745;
        }
        .danger .svg,
        .danger .svg path {
            fill: #dc3545;
        }
    </style>
{% endblock %}

{% block content %}

    {% if project %}
        {% include 'hub/project/cart/_cart.html.twig' %}
    {% else %}
        {% include 'hub/project/cart/_no_cart.html.twig' %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery-inline-svg/dist/jquery-inline-svg.js') }}"></script>
    <script>


        {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
        var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_CLASSIC') }};
        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
        var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_EMERGENCY') }};
        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
        var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_SHUTTLE') }};
        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_BULK") %}
        var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_CLASSIC') }};
        {% endif %}

        var today = new Date();
        var hours = today.getHours();
        var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();

        var startDate = "{{ form.vars.data.dateStart|date("d/m/Y", "Europe/Paris") }}";

        if (startDate == date && hours >= timecutoff)
        {
            $('.information-no-form').first().append("<p style='color: red'>Cutoff : Attention, vous avez dépassé l'heure limite de "+timecutoff+"h, votre commande sera livrée le lendemain si vous validez</p>");
        }
    </script>
{% endblock %}

{% block footer %}
{% endblock %}
