{% if stocks|length > 0 %}
    <select id="change_stock" class="select2-single" style="z-index: 10000;background: none;border: none;">
        {% for stock in stocks %}
            <option value="{{ stock.id }}" {% if app.session.get('current_admin_stock').id == stock.id %}selected{% endif %}>{{ stock.translate(app.request.locale).name }}</option>
        {% endfor %}
    </select>
{% endif %}