


    <div class="row">
        <div class="col-md-12">

            {{ form_errors(form) }}

            <div class="a2lix_translations">


                {% include "@Admin/partials/form/intl-bar.html.twig" with {
                    'form' : form
                } %}

                <div class="a2lix_translationsFields tab-content">
                    {% set formParent = form %}

                    {% for form in form.translations %}
                        {% set locale = form.vars.name %}

                        <div class="{{ form.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.get('locale', app.request.locale) == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">

                            <div class="row">


                                <div class="col-sm-12">
                                    <ul class="nav nav-info nav-tabs">
                                        <li class="active">
                                            <a href="#{{ form.vars.id }}_general" data-toggle="tab"><i class="fa fa-cogs"></i> Paramètres généraux

                                                {% if form.name is defined %}
                                                    {% if
                                                        form.name.vars['errors'] |length > 0
                                                    %}
                                                        <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                    {% endif %}
                                                {% endif %}

                                                {% if form.code is defined %}
                                                    {% if
                                                        form.code.vars['errors'] |length > 0
                                                    %}
                                                        <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </li>

                                    </ul>


                                    <div class="tab-content tab-content-bordered">
                                        <div class="tab-pane fade in active" id="{{ form.vars.id }}_general">

                                            {% set obj = stock %}

                                            {% if form.name is defined %}
                                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                                    'form' : form.name,
                                                    'label': "app.stock.name"
                                                } %}
                                            {% endif %}

                                            {% if form.code is defined %}
                                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                                  'form' : form.code,
                                                  'label': "app.stock.code"
                                                } %}
                                            {% endif %}

                                            {% if formParent.billingCenters is defined %}
                                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                                  'form' : formParent.billingCenters,
                                                  'label': "app.stock.billing_center",
                                                  'class_widget': 'select2-multiple'
                                                } %}
                                            {% endif %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.house,
                                              'label': "app.stock.house"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.company,
                                              'label': "app.stock.company"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.service,
                                              'label': "app.stock.service"
                                            } %}

                                            {% if formParent.vars.data.id %}
                                                <input type="hidden"
                                                        id="{{ formParent.cave.vars.id }}"
                                                        name="{{ formParent.cave.vars.full_name }}"
                                                        value="{{ formParent.cave.vars.data ? formParent.cave.vars.data : null }}">
                                                <div class="form-group relative-line ">
                                                    <div class="row">
                                                        <label class="col-sm-2 control-label" for="stock_cave">Cave</label>
                                                        <div class="col-sm-8">
                                                            <p class="form-control-static">
                                                                {{ formParent.vars.data.cave == constant('App\\Entity\\Project::CAVE_PANTIN') ? 'Cave Pantin' : '' }}
                                                                {{ formParent.vars.data.cave == constant('App\\Entity\\Project::CAVE_115') ? 'Cave 115' : '' }}
                                                            </p>
                                                            <span class="help-block">
                                                                Ce champs n'est modifiable qu'en mode création.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                                    'form' : formParent.cave,
                                                    'label': "app.stock.cave"
                                                } %}
                                            {% endif %}

                                            {% include "@Admin/partials/readonly.html.twig" with {
                                              'entityAdmin' : entityAdmin,
                                              'link' : 'admin_user_edit',
                                              'label': "app.stock.contact"
                                            } %}

                                            {% if formParent.referentUser is defined %}
                                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                                    'form' : formParent.referentUser,
                                                    'label': "app.stock.referent_user",
                                                    'class_widget': 'select2-single'
                                                } %}
                                            {% endif %}

                                          {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.otherInformations,
                                                'label': "app.stock.other_informations",
                                            } %}
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>


            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>


<script>
    $(document).ready(function(){
        $('#stock_referentUser').select2({
            ajax: {
                url: '{{ path('admin_stock_get_user_list_ajax') }}',
                dataType: 'json'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            },
            placeholder: 'Sélectionner un utilisateur',
        });
    });
</script>
