<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<base href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">
        <title>Hub142 – Bordereau d'envoi en stock</title>
	</head>
	<body>
		<img width="127" height="130" style="float:right;" src="{{ logo }}" alt="">

		<br/>
		<h1 style="text-align:center; margin-bottom: 10px; line-height: 1.2;font-family: 'sans-serif'; color: #000000; font-size: 28px;">Hub142 – Bordereau d'envoi en stock</h1>

		<div style="text-align:center; color: #ff0000; font-size: 22px; font-family: sans-serif;">
			<mark style="color: #ff0000">
				<strong>Informations ci-dessous à communiquer au transporteur<br/>Ce document est à coller sur les cartons</strong>
			</mark>
		</div>
		<br/>
		<hr style="border-style: solid; border-color: #589eef;">
		<table style="width: 100%">
			<tr>
				<td style="line-height: 22px;">
					<span style="font-family: sans-serif; color: #000000; font-size: 18px; padding-bottom: 6px; display: inline-block;">
						<strong>Lieu et heures de livraison :
						</strong>
					</span><br/>
					<span style="font-family: sans-serif; color: red; font-size: 18px;">Quai de réception du
						<b>lundi au jeudi 9h-17h</b>
						et
						<b>vendredi 9h-16h</b>
					</span><br/>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">VEOLOG Logistique -
						<br/>A l’attention de Anna DACRUZ</span><br/>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">110 bis avenue du Général Leclerc</span><br/>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Bâtiment 13 – Niveau 1</span><br/>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">93500 Pantin - France</span><br/>
					{#<span style="color: #000000; font-size: 24px;">Se présenter au quai de réception du lundi au jeudi de 9h à 12h ou de 14h à 17h, et jusqu’à 16h le vendredi. </span><br/><br/>#}
				</td>

				<td style="border:1px solid black;margin: 10px 0 0;display:inline-grid;line-height: 28px;padding: 10px;">
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">
						<strong>Pour contacter VEOLOG :
						</strong>
					</span>
					{#<span style="color: #000000; font-size: 24px;">Anna Dacruz</span><br/>#}
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">(01 41 83 60 15)</span>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">
						<a href="mailto:hub142@veolog.fr" style="color: #1565C0;">hub142@veolog.fr</a>
					</span>
				</td>
			</tr>

			<tr>
				<td style="display: inline-block; width: 60%;">
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">
						<mark style="color: #ff0000">Entrée de Stock
							<strong>#{{ stockEntry.id }}</strong>
						</mark>
					</span>
				</td>

				<td style="display: inline-block; width: 38%;">
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">
						<mark style="color: #ff0000">
                            Code Stock :
							<strong>{{ stockEntry.stock.translate('fr').code }}</strong>
                        </mark>
                    </span>
                </td>
            </tr>

			<tr>
				<td>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Nom de stock :
						{{ stockEntry.stock.translate('fr').name }}</span>
				</td>
			</tr>

			<tr>
				<td style="display: inline-block; width: 60%;">
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Date de réception
						<b>estimée</b>
						:
						<b>{{ stockEntry.deliveryDate|date('d/m/Y') }}</b>
					</span>
				</td>
				<td style="display: inline-block; width: 38%;">
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Créneau demandé :
						{{ stockEntry.timeSlots }}</span>
				</td>
			</tr>
		</table>

		<hr style="border-style: solid; border-color: #589eef;">
		<span style="font-family: sans-serif; color: #000000; font-size: 18px; display: inline-block; padding-bottom: 6px;">
			<b>Demandeur :</b>
		</span><br/>
		<table style="width: 100%">
			<tr>
				<td>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Nom :
						{{ stockEntry.username }}</span>
				</td>
				<td>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Email :
						<a href="mailto:{{ stockEntry.email }}" style="color: #1565C0;">{{ stockEntry.email }}</a>
					</span>
				</td>
			</tr>

			<tr>
				<td>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Téléphone :
						{{ stockEntry.phone }}</span>
				</td>
				<td>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Transporteur choisi :
						{{ stockEntry.carrier }}</span>
				</td>
			</tr>
		</table>

		{#<span style="color: #000000; font-size: 24px;">Centre de coût : {{ stockEntry.billingCenter.translate('fr').name }}</span><br/>#}
		<hr style="border-style: solid; border-color: #589eef;">
		<span style="color: #000000; font-size: 18px; display: inline-block; padding-bottom: 6px; font-family: sans-serif;">
			<b>Produits :</b>
		</span><br/>
		<table cellspacing="0" cellspacing="1" style="width:100%; border-collapse: collapse;">
			<thead>
				<tr style="border: 1px solid black;">
					{#    <td style="border: 1px solid black;color: #2c455b;font-size: 24px;padding: 2px 5px;">Produit</td>#}
					{#    <td style="border: 1px solid black;color: #2c455b;font-size: 24px;padding: 2px 5px;">Catégorie</td>#}
					{#    <td style="border: 1px solid black;color: #2c455b;font-size: 24px;padding: 2px 5px;">Marque</td>#}
         			<td style="border: 1px solid black;color: #000000;font-size: 18px;padding: 2px 5px; font-family: sans-serif;"> Code</td>
					<td style="border: 1px solid black;color: #000000;font-size: 18px;padding: 2px 5px; font-family: sans-serif;">Désignation</td>
					{#    <td style="border: 1px solid black;color: #2c455b;font-size: 24px;padding: 2px 5px;">Code EAN</td>#}
					<td style="border: 1px solid black;color: #000000;font-size: 18px;padding: 2px 5px; font-family: sans-serif;">Quantité</td>
					{#    <td style="border: 1px solid black;color: #2c455b;font-size: 24px;padding: 2px 5px;">&Eacute;tat</td>#}
					{# <td style="border: 1px solid black;color: #000000;font-size: 18px;padding: 2px 5px; font-family: sans-serif;">Options</td> #}
				</tr>
			</thead>
			<tbody>
				{% set totalProducts = 0 %}
				{% for stockEntryItem in stockEntry.stockEntryItems %}
					{% set totalProducts = totalProducts + stockEntryItem.quantity %}
					<tr>
						{#      <td style="border: 1px solid black;color: #2c455b; font-size: 20px;">{{ loop.index }}</td>#}

						{#      <td style="border: 1px solid black;color: #000000; font-size: 20px;padding: 2px 5px;">{% for category in  stockEntryItem.product.translate('fr').categories %}{{ category.name }}{% endfor %}</td>#}
						{#      <td style="border: 1px solid black;color: #000000; font-size: 20px;padding: 2px 5px;">{{ stockEntryItem.product.translate('fr').brand.translate('fr').name }}</td>#}
            <td style="border: 1px solid black;color: #000000; font-size: 18px;padding: 2px 5px; font-family: sans-serif;"> {{ stockEntryItem.product.translate('fr').code }}</td>
						<td style="border: 1px solid black;color: #000000; font-size: 18px;padding: 2px 5px; font-family: sans-serif;">
							{{ stockEntryItem.product.translate('fr').name }}
							<br><strong style="color: #000000; font-size: 15px;">Services additionnels :</strong><br>
							{% if stockEntryItem.washBasins %}
								<span style="color: #000000; font-size: 13px;">- Nettoyage vasques</span><br/>
							{% endif %}
							{% if stockEntryItem.dryCleaning %}
								<span style="color: #000000; font-size: 13px;">- Pressing</span><br/>
							{% endif %}
							{% if stockEntryItem.washGlasses %}
								<span style="color: #000000; font-size: 13px;">- Nettoyage verres</span><br/>
							{% endif %}
							{% if stockEntryItem.washBasins == false and stockEntryItem.dryCleaning == false and stockEntryItem.washGlasses == false %}
								<span style="color: #000000; font-size: 13px;">Aucun</span>
							{% endif %}			
						</td>
						{#      <td style="border: 1px solid black;color: #000000; font-size: 20px;padding: 2px 5px;">{{ stockEntryItem.product.translate('fr').eanPart }} / {{ stockEntryItem.product.translate('fr').eanBox }}</td>#}
						<td style="border: 1px solid black;color: #000000; font-size: 18px;padding: 2px 5px; font-family: sans-serif;">{{ stockEntryItem.quantity }}</td>
						{# <td style="border: 1px solid black;color: #000000; font-size: 20px;padding: 2px 5px;">{% if stockEntryItem.productState == 'not-new' %}Non neuf{% else %}Neuf{% endif %}</td> #}
						{# <td style="border: 1px solid black;color: #000000; font-size: 18px;padding: 2px 5px; font-family: sans-serif;">
							{% if stockEntryItem.washBasins %}
								<span style="color: #000000; font-size: 15px;">Nettoyage vasques</span><br/>
							{% endif %}
							{% if stockEntryItem.dryCleaning %}
								<span style="color: #000000; font-size: 15px;">Pressing</span><br/>
							{% endif %}
							{% if stockEntryItem.washGlasses %}
								<span style="color: #000000; font-size: 15px;">Nettoyage verres</span><br/>
							{% endif %}
							{% if stockEntryItem.washBasins == false and stockEntryItem.dryCleaning == false and stockEntryItem.washGlasses == false %}
								<span style="color: #000000; font-size: 15px;">Aucun</span>
							{% endif %}
						</td> #}
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td style="border: 2px solid black;color: #000000;font-size: 18px;padding: 2px 5px;font-family: sans-serif">
						<b>TOTAL produits</b>
					</td>
					<td style="border: 2px solid black;color: #000000;font-size: 18px;padding: 2px 5px;font-family: sans-serif">
						<b>{{ totalProducts }}</b>
					</td>
				</tr>
			</tbody>
		</table>
		<br/><br/>
	</body>
</html>
