<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<base href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">
	</head>
	<body>
		<img width="127" height="130" style="float:right;" src="{{ logo }}" alt="">

		<br/>
		<h1 style="text-align:center; margin-bottom: 10px; line-height: 1.2;font-family: 'sans-serif'; color: #000000; font-size: 28px;">Hub142 – Bordereau d'envoi en stock</h1>

		<div style="text-align:center; color: #ff0000; font-size: 22px; font-family: sans-serif;">
			<mark style="color: #ff0000">
				<strong>Informations ci-dessous à communiquer au transporteur<br/>Ce document est à coller sur les cartons</strong>
			</mark>
		</div>
    <br/>
		<hr style="border-style: solid; border-color: #589eef;">
		<span style="border:1px solid black;margin: 10px 0 0;display:inline-grid;line-height: 28px;padding: 10px;float:right;">
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">
						<strong>Pour contacter l'équipe Hub142 :
						</strong>
					</span>
					<br>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">
						<a href="mailto:hub142@moethennessy.com" style="color: #1565C0;">hub142@moethennessy.com</a>
					</span>
		</span>
		<span style="color: #000000; font-size: 18px; display: inline-block; padding-bottom: 6px;">
			<strong>Lieu et heures de livraison :</strong>
		</span><br/>

		{% if stockEntry.pickUpLocation == constant("App\\Entity\\Project::CAVE_115") %}
			<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">Quai de déchargement du 115 (Service courrier)</span><br/>
		{% else %}
			<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">Etage :
				{{ stockEntry.floor }}</span><br/>
			<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">N° bureau :
				{{ stockEntry.officeNumber }}</span><br/>
		{% endif %}
		<br/>
		<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">
			<mark style="color: #ff0000">Entrée de Stock :
				<strong>#{{ stockEntry.id }}</strong>
			</mark>
		</span><br/>
		<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">Nom de stock :
			{{ stockEntry.stock.translate('fr').name }}</span><br/>
		<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">
			<mark style="color: #ff0000">Code Stock :
				<strong>{{ stockEntry.stock.translate('fr').code }}</strong>
			</mark>
		</span><br/>
		<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">Date de ramassage :
			{{ stockEntry.pickUpDate|date('d/m/Y') }}</span><br/>
		<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">Créneau de ramassage :
			{{ stockEntry.timeSlots }}</span><br/><br/>
		<hr style="border-style: solid; border-color: #589eef;">
		<span style="color: #000000; font-size: 18px;font-family: sans-serif; display: inline-block; padding-bottom: 6px;">
			<b>Demandeur :</b>
		</span><br/>
    <table style="width: 100%">
			<tr>
				<td>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Nom :
						{{ stockEntry.username }}</span>
				</td>
				<td>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Email :
						<a href="mailto:{{ stockEntry.email }}" style="color: #1565C0;">{{ stockEntry.email }}</a>
					</span>
				</td>
			</tr>

			<tr>
				<td>
					<span style="font-family: sans-serif; color: #000000; font-size: 18px;">Téléphone :
						{{ stockEntry.phone }}</span>
				</td>
			</tr>
		</table>
    
		{#<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">Centre de coût : {{ stockEntry.billingCenter.translate('fr').name }}</span><br/>#}

		<hr style="border-style: solid; border-color: #589eef;">
		<span style="color: #000000; font-size: 18px;font-family: sans-serif; ">
			<b>Produits :</b>
		</span><br/>
		<table cellspacing="0" cellspacing="1" style="width:100%; border-collapse: collapse;">
			<thead>
				<tr style="border: 1px solid black;">
					{#    <td style="border: 1px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">Produit</td>#}
					{#    <td style="border: 1px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">Catégorie</td>#}
					{#    <td style="border: 1px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">Marque</td>#}<td style="border: 1px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;"> Code</td>
					<td style="border: 1px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">Désignation</td>
					{#    <td style="border: 1px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">Code EAN</td>#}
					<td style="border: 1px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">Quantité</td>
					{#    <td style="border: 1px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">&Eacute;tat</td>#}
				</tr>
			</thead>
			<tbody>
				{% set totalProducts = 0 %}
				{% for stockEntry115Item in stockEntry.stockEntry115Items %}
					{% set totalProducts = totalProducts + stockEntry115Item.quantity %}
					<tr>
						{#  <td style="border: 1px solid black;color: #000000; font-size: 20px;">{{ loop.index }}</td>#}

						{#  <td style="border: 1px solid black;color: #000000; font-size: 20px;padding: 2px 5px;">{% for category in  stockEntry115Item.product.translate('fr').categories %}{{ category.name }}{% endfor %}</td>#}
						{#  <td style="border: 1px solid black;color: #000000; font-size: 20px;padding: 2px 5px;">{{ stockEntry115Item.product.translate('fr').brand.translate('fr').name }}</td>#}<td style="border: 1px solid black;color: #000000; font-size: 18px;font-family: sans-serif;padding: 2px 5px;"> {{ stockEntry115Item.product.translate('fr').code }}</td>
						<td style="border: 1px solid black;color: #000000; font-size: 18px;font-family: sans-serif;padding: 2px 5px;">{{ stockEntry115Item.product.translate('fr').name }}</td>
						{#  <td style="border: 1px solid black;color: #000000; font-size: 20px;padding: 2px 5px;">{{ stockEntry115Item.product.translate('fr').eanPart }} / {{ stockEntry115Item.product.translate('fr').eanBox }}</td>#}
						<td style="border: 1px solid black;color: #000000; font-size: 18px;font-family: sans-serif;padding: 2px 5px;">{{ stockEntry115Item.quantity }}</td>
						{#  <td style="border: 1px solid black;color: #000000; font-size: 20px;padding: 2px 5px;">{% if stockEntry115Item.productState == 'not-new' %}Non neuf{% else %}Neuf{% endif %}</td>#}
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td style="border: 2px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">
						<b>TOTAL produits</b>
					</td>
					<td style="border: 2px solid black;color: #000000;font-size: 18px;font-family: sans-serif; padding: 2px 5px;">
						<b>{{ totalProducts }}</b>
					</td>
				</tr>
			</tbody>
		</table>
		<br/><br/>
	</body>
</html>
