{% extends 'hub/layout-mb.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <style>
        .scrollToTopBtn {
            position: fixed;
            bottom: 25vh;
            right: 50px;
            z-index: 100;
            display: none;
            cursor: pointer;
            padding: 0 15px;
            min-width: inherit;
        }
    </style>
{% endblock %}

{% block content %}
<style>
    .block-info-alt {
        margin-bottom : 30px;
    }
    .section-default-simple {
        padding-bottom : 40px;
    }
</style>
<section class="section-default-simple section-default-simple--alt position-relative">
    <button class="scrollToTopBtn btn btn--green justify-content-center align-items-center" style='display:none;position:fixed;bottom:40px;'><i class="fas fa-chevron-up mr-3"></i> Revenir en haut</button>
    <div class="container container--small">
        <div class="section__inner">
            <a style="display:inline-block;margin-bottom:41px;" href="{{ path('project_index') }}" class="link-back">
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 5.979 10" class="svg replaced-svg"><defs><clipPath id="angle-left-a"><path d="M5.6 5.708l4.128-4.124A.928.928 0 0 0 8.417.272l-3.46 3.46L1.592.281a.928.928 0 1 0-1.329 1.3L4.284 5.7a.926.926 0 0 0 1.32.009z" transform="rotate(90 2.99 2.99)" fill="#1e1e1e"></path></clipPath></defs><g clip-path="url(#angle-left-a)"><path fill="transparent" d="M-7.21-5.29h20v20h-20z"></path><path fill="#44413d" d="M-7.21-5.29h20v20h-20z"></path></g></svg>
                <span>Retour au dashboard</span>
            </a>

            <header class="section__head">
                <h1 class="section__title title">
                    Suivi des entrées de stock
                </h1><!-- /.section__title title -->
                <div class="section__subtitle">
                    <img class="svg" src="assets/images/boxes.svg" alt="">
                    <h4>Mes dernières opérations</h4>
                </div><!-- /.section__subtitle -->
            </header><!-- /.section__head -->

            <div class="section__body">
                {{ form_start(form) }}

                {{ form_row(form._token) }}

                {% for stockEntry in stockEntries %}
                    {# {% if not stockEntry.validated %} #}
                    <h5>Entrée de Stock #{{ stockEntry.id }} Date de réception estimée pour le {{ stockEntry.deliveryDate|date('d/m/Y') }} <small>(Création le {{ stockEntry.created|date('d/m/Y à H:i') }})</small></h5>

                    {% if stockEntry.rejections|length > 0 %}
                        <h6><span style="color:red;">Entrée de Stock rejetée par Veolog</span> </h6>
                        <ol style="padding-left: 30px;">
                            {% for stockEntryRejection in stockEntry.rejections %}
                                <li style="list-style:decimal-leading-zero;">
                                    {% if stockEntryRejection.rejectionMsg == 'sku_not_found' %}
                                        Article inconnu
                                    {% else %}
                                    {{stockEntryRejection.rejectionMsg}}
                                    {% endif %}

                                    {% if stockEntryRejection.stockEntryItem %}
                                         - {{ stockEntryRejection.stockEntryItem.product.translate('fr').name }} ({{ stockEntryRejection.stockEntryItem.product.translate('fr').code }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}

                    {% for item in stockEntry.stockEntryItems %}
                        {% if item.status != constant("App\\Entity\\StockEntry::STATE_ITEM_VALIDATE") %}
                        {% set product = item.product.translate(app.request.locale) %}
                        <div class="block-info-alt" style="position:relative;">
                            {# {% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") %}
                                <input class="stock-entry-checkbox" type="checkbox" name="stockEntryItemsToValidate[]" value="{{ stockEntry.id }}:{{ item.id }}" style="position:absolute;top:10px;left:10px;" />
                            {% endif %} #}
                            <div class="block__groups">
                                <div class="block__group">
                                    <div class="list-product-info">
                                        <ul>
                                          <li class="list-product-info__label">
                                            <strong>Créé par :</strong>
                                          </li>
                                          <li class="list-product-info__name">
                                            <strong>
                                              {{ stockEntry.user.firstName }} {{ stockEntry.user.lastName }}
                                            </strong>
                                          </li>
                                        </ul>
                                        <ul>
                                            <li class="list-product-info__label">
                                                <strong>Nom :</strong>
                                            </li>
                                            <li class="list-product-info__name">
                                                <strong>
                                                    {{ product.name }}
                                                </strong>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="list-product-info__label">
                                              <strong>Services additionnels :</strong>
                                            </li>
                                            <li class="list-product-info__name">
                                                <strong>
                                                    {% if item.washBasins %}
                                                       - Nettoyage vasques<br/>
                                                    {% endif %}
                                                    {% if item.dryCleaning %}
                                                        - Pressing<br/>
                                                    {% endif %}
                                                    {% if item.washGlasses %}
                                                       - Nettoyage verres<br/>
                                                    {% endif %}
                                                    {% if item.washBasins == false and item.dryCleaning == false and item.washGlasses == false %}
                                                        Aucun
                                                    {% endif %}
                                                </strong>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="list-product-info__label">
                                                <strong>Quantité :</strong>
                                            </li>
                                            <li class="list-product-info__qty">
                                                <strong>{% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") and item.quantityReceived < item.quantity %}<i style="color:red;font-style:normal;">{{ item.quantityReceived }}</i>{% else %}{{ item.quantityReceived }}{% endif %} / {{ item.quantity }}</strong>
                                            </li>
                                            <li class="list-product-info__btn">
                                                {% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_CREATE") %}
                                                    <span class="bg-blue-500">En attente de traitement</span>
                                                {% elseif item.status == constant("App\\Entity\\StockEntry::STATE_INT_VEOLOG") %}
                                                    <span class="bg-blue-500">En attente de réception produits</span>
                                                {% elseif item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") %}
                                                    <span class="bg-green">Réceptionnée chez Veolog</span>
                                                {% elseif item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_VALIDATE") %}
                                                    <span class="bg-green">Entrée de stock validée</span>
                                                {% elseif stockEntry.rejections|length > 0 or item.status == constant("App\\Entity\\StockEntry::STATE_REJECT_VEOLOG") %}
                                                    <span class="bg-red">Rejetée par Veolog</span>
                                                {% elseif item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_REJECT") %}
                                                    <span class="bg-red">Contestation en cours</span>
                                                {% endif %}

                                            </li>
                                        </ul>
                                    </div><!-- /.list-product-info -->
                                </div><!-- /.block__group -->
                                <div class="block__group">
                                    <div class="list-numbers">
                                        <ul>
                                            <li>
                                                <span>
                                                    Code Produit :
                                                    {{ product.code }}
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    Code EAN {{ product.eanBox is not empty ? '(pièce)' : '' }} :
                                                    {{ product.eanPart }}
                                                </span>
                                            </li>
                                            {% if product.eanBox is not empty %}
                                                <li>
                                                    <span>Code EAN (carton) : {{ product.eanBox }}</span>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div><!-- /.list-numbers -->
                                </div><!-- /.block__group -->
                            </div><!-- /.block__groups -->
                            <div class="block__actions">
                                {% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") %}
                                    <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'idItem': item.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_REJECT"), 'cave': 'pantin' }) }}" class="btn btn--grey-dark btn--cart">Contester l'entrée de stock</a>
                                {% endif %}

                                {% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") or item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_REJECT") %}
                                    <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'idItem': item.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_VALIDATE"), 'cave': 'pantin' }) }}" class="btn btn--dark btn--cart">Valider l'entrée en stock</a>
                                {% endif %}
                                    {# <button type="button" class="btn btn--disabled btn--cart">Contester l'entrée de stock</button>
                                    <button type="button" class="btn btn--disabled btn--cart">Valider l'entrée en stock</button>
                                {% endif %} #}
                            </div><!-- /.block__actions -->
                            <div class="block__actions">
                                 {# <a href="{{ path('stock_entry_summary_pdf', { 'stockEntryId' : stockEntry.id }) }}" class="btn btn--dark btn--auto">
                                    Télécharger le récapitulatif <br> de la commande
                                </a> #}
                                <a href="{{ path('stock_entry_packing_slip_pdf', { 'stockEntryId' : stockEntry.id }) }}" class="btn btn--dark btn--auto">
                                    Télécharger <br> le bordereau d'envoi
                                </a>
                            </div>
                        </div><!-- /.block-simple-info -->
                        {% else %}
                          {% set product = item.product.translate(app.request.locale) %}
                          <div class="block-info-alt" style="position:relative;">
                            <div class="block__groups">
                              <div class="block__group">
                                <div class="list-product-info">
                                <ul>
                                    <li class="list-product-info__label">
                                    <strong>Créé par :</strong>
                                    </li>
                                    <li class="list-product-info__name">
                                    <strong>
                                        {{ stockEntry.user.firstName }} {{ stockEntry.user.lastName }}
                                    </strong>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="list-product-info__label">
                                        <strong>Nom :</strong>
                                    </li>
                                    <li class="list-product-info__name">
                                        <strong>
                                            {{ product.name }}
                                        </strong>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="list-product-info__label">
                                      <strong>Services additionnels :</strong>
                                    </li>
                                    <li class="list-product-info__name">
                                        <strong>
                                            {% if item.washBasins %}
                                               - Nettoyage vasques<br/>
                                            {% endif %}
                                            {% if item.dryCleaning %}
                                                - Pressing<br/>
                                            {% endif %}
                                            {% if item.washGlasses %}
                                               - Nettoyage verres<br/>
                                            {% endif %}
                                            {% if item.washBasins == false and item.dryCleaning == false and item.washGlasses == false %}
                                                Aucun
                                            {% endif %}
                                        </strong>
                                    </li>
                                </ul>
                                  <ul>
                                    <li class="list-product-info__label">
                                      <strong>Quantité :</strong>
                                    </li>
                                    <li class="list-product-info__qty">
                                      <strong>{{ item.quantityReceived }} / {{ item.quantity }}</strong>
                                    </li>
                                    {# <li class="list-product-info__btn">
                                      <span class="{{ item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_VALIDATE") ? 'bg-green' : '' }}">Valide</span>
                                    </li> #}
                                  </ul>
                                </div><!-- /.list-product-info -->
                              </div><!-- /.block__group -->
                              <div class="block__group">
                                <div class="list-numbers">
                                  <ul>
                                    <li>
                                                <span>
                                                    Code Produit :
                                                    {{ product.code }}
                                                </span>
                                    </li>
                                    <li>
                                                <span>
                                                    Code EAN {{ product.eanBox is not empty ? '(pièce)' : '' }} :
                                                    {{ product.eanPart }}
                                                </span>
                                    </li>
                                    {% if product.eanBox is not empty %}
                                      <li>
                                        <span>Code EAN (carton) : {{ product.eanBox }}</span>
                                      </li>
                                    {% endif %}
                                  </ul>
                                </div><!-- /.list-numbers -->
                              </div><!-- /.block__group -->
                            </div><!-- /.block__groups -->
                            <div class="block__actions">
                              <h4 style="color:green;">Entrée de stock validée</h4>
                              {# <a href="{{ path('stock_entry_summary_pdf', { 'stockEntryId' : stockEntry.id }) }}" class="btn btn--dark btn--auto">
                                    Télécharger le récapitulatif <br> de la commande
                                </a> #}
                              <a href="{{ path('stock_entry_packing_slip_pdf', { 'stockEntryId' : stockEntry.id }) }}" class="btn btn--dark btn--auto">
                                Télécharger <br> le bordereau d'envoi
                              </a>
                            </div>
                          </div><!-- /.block-simple-info -->
                        {% endif %}
                    {% endfor %}
                   {# {% endif %} #}
                {% endfor %}

                {# <div class="form__actions">
                    <button type="submit" value="Submit" class="btn btn--dark form__btn" id="confirm-bulk-stock-entry-validation">
                        <span>Valider les entrées de stock sélectionnées</span>
                    </button>
                </div> #}

                {{ form_end(form) }}

                <div class="d-flex justify-content-between align-items-end">
                    <a style="display:inline-block;margin-top:41px;" href="{{ path('project_index') }}" class="link-back">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 5.979 10" class="svg replaced-svg"><defs><clipPath id="angle-left-a"><path d="M5.6 5.708l4.128-4.124A.928.928 0 0 0 8.417.272l-3.46 3.46L1.592.281a.928.928 0 1 0-1.329 1.3L4.284 5.7a.926.926 0 0 0 1.32.009z" transform="rotate(90 2.99 2.99)" fill="#1e1e1e"></path></clipPath></defs><g clip-path="url(#angle-left-a)"><path fill="transparent" d="M-7.21-5.29h20v20h-20z"></path><path fill="#44413d" d="M-7.21-5.29h20v20h-20z"></path></g></svg>
                        <span>Retour au dashboard</span>
                    </a>
                    <button class="scroll-to-top-bottom-btn border-0 bg-transparent link-back" style="display:none;position:fixed;bottom:40px;"><i class="fas fa-chevron-up mr-3"></i> Revenir en haut</button> </div><!-- /.section__inner -->
                </div>
            </div><!-- /.section__body -->
        </div><!-- /.section__inner -->
    </div><!-- /.container -->
</section><!-- /.section-default-simple -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function() {
            initScroll();
            window.addEventListener('resize', function() {
                initScroll();
            }, true);

            function scrollToTop() {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            }

            function initScroll() {
                let scrollToTopBtn = document.querySelector('.scrollToTopBtn'),
                    scrollToTopBottomBtn = document.querySelector('.scroll-to-top-bottom-btn'),
                    windowWidth = window.innerWidth
                        || document.documentElement.clientWidth
                        || document.body.clientWidth
                ;

                function handleScroll() {
                    let scrollableHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
                    let GOLDEN_RATIO = 0.001,
                        w = window.innerWidth
                            || document.documentElement.clientWidth
                            || document.body.clientWidth;

                    if (w > 1400) {
                        if ((document.documentElement.scrollTop / scrollableHeight) > GOLDEN_RATIO) {
                            //show button
                            scrollToTopBtn.style.display = 'inline-flex';
                        } else {
                            //hide button
                            scrollToTopBtn.style.display = 'none';
                        }
                    }
                }

                if (windowWidth > 1400) {
                    scrollToTopBottomBtn.style.display = 'none';
                    if (window.scrollY > 50) {
                        scrollToTopBtn.style.display = 'inline-flex';
                    }
                    document.addEventListener('scroll', handleScroll);
                    scrollToTopBtn.addEventListener('click', scrollToTop);
                } else {
                    scrollToTopBtn.style.display = 'none';
                    scrollToTopBottomBtn.style.display = 'inline-flex';
                    scrollToTopBottomBtn.addEventListener('click', scrollToTop);
                }
            }
        })();
    </script>
{% endblock %}

