{% extends 'hub/layout-mb.html.twig' %}

{% block content %}
<style>
    .block-info-alt {
        margin-bottom : 30px;
    }
    .section-default-simple {
        padding-bottom : 40px;
    }
</style>
<section class="section-default-simple section-default-simple--alt">
    <div class="container container--small">
        <div class="section__inner">
            <header class="section__head">
                <h1 class="section__title title">
                    Vérification d'entrée de stock à Cave 115
                </h1><!-- /.section__title title -->
                <p>
                    <strong>
                        Pour valider l'entrée de stock à Cave 115, veuillez vérifier les informations relatives aux produits réceptionnés.
                    </strong>
                </p>
                <div class="section__subtitle">
                    <img class="svg" src="assets/images/boxes.svg" alt="">
                    <h4>Marchandises réceptionnées à valider</h4>
                </div><!-- /.section__subtitle -->
            </header><!-- /.section__head -->
            <div class="section__body">
                <h5>Entrée de Stock #{{ stockEntry.id }} prévue le {{ stockEntry.pickUpDate|date('d/m/Y') }} <small>(créé le {{ stockEntry.created|date('d/m/Y') }})</small></h5>

                {% if stockEntry.status == constant("App\\Entity\\StockEntry115::STATE_REQUEST_TAKEN") %}
                    <p class="alert alert-info">Cette entrée de stock est en cours de traitement.</p>
                {% elseif stockEntry.status == constant("App\\Entity\\StockEntry::STATE_ITEM_VALIDATE") %}
                    <p class="alert alert-success">Cette entrée de stock est clôturée.</p>
                {% endif %}

                {% for item in stockEntry.stockEntry115Items %}
                    {% set product = item.product.translate(app.request.locale) %}
                    <div class="block-info-alt {{ item.challenged ? 'alert alert-danger' : '' }}">
                        <div class="block__groups">
                            <div class="block__group">
                                <div class="list-product-info entry115Btn">
                                    <ul>
                                        <li class="list-product-info__label">
                                            <strong>Nom :</strong>
                                        </li>
                                        <li class="list-product-info__name">
                                            <strong>
                                                {{ product.name }}
                                            </strong>
                                        </li>
                                    </ul>
                                    <ul class="entry115Btn">
                                        <li class="list-product-info__label">
                                            <strong>Quantité :</strong>
                                        </li>
                                        <li class="list-product-info__qty">
                                            <strong>{{ item.quantityReceived }} / {{ item.quantity }}</strong>
                                        </li>
                                    </ul>
                                    <ul class="entry115Btn">
                                        <li class="list-product-info__label">
                                            <strong>Statut déclaré par le runner :</strong>
                                        </li>
                                        <li>&nbsp;
                                            {% if item.status == 'ok' %}
                                                <span class="bg-green">Entrée de stock complète</span>
                                            {% elseif item.status == 'partial' %}
                                                <span class="bg-red">Entrée de stock incomplète</span>
                                            {% elseif item.status == 'empty' %}
                                                <span class="bg-red">Entrée de stock annulée</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div><!-- /.list-product-info -->
                            </div><!-- /.block__group -->
                            <div class="block__group">
                                <div class="list-numbers">
                                    <ul>
                                        <li>
                                            <span>
                                                Code Produit :
                                                {{ product.code }}
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Code EAN {{ product.eanBox is not empty ? '(pièce)' : '' }} :
                                                {{ product.eanPart }}
                                            </span>
                                        </li>
                                        {% if product.eanBox is not empty %}
                                            <li>
                                                <span>Code EAN (carton) : {{ product.eanBox }}</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div><!-- /.list-numbers -->
                            </div><!-- /.block__group -->
                        </div><!-- /.block__groups -->
                        <div class="block__actions">
                            {% if stockEntry.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") and not item.challenged %}
                                <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'idItem': item.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_REJECT") }) }}" class="btn btn--grey-dark btn--cart">Contester</a>
                            {% endif %}

                            {% if item.challenged and stockEntry.status != constant("App\\Entity\\StockEntry::STATE_ITEM_VALIDATE") %}
                                <p class="alert alert-danger">Cet article a été contesté.</p>
                            {% endif %}
                        </div><!-- /.block__actions -->
                    </div><!-- /.block-simple-info -->
                {% endfor %}

                {% if stockEntry.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") %}
                    <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_VALIDATE") }) }}" class="validate-stock-entry btn btn--dark btn--cart mb-5 w-100">Clôturer l'entrée en stock</a>
                {% endif %}
            </div><!-- /.section__body -->

            {#<div class="section__foot">
                <p class="section__error">Note : la mise à jour des entrées de stock au sein de votre catalogue se fait à 13H30 & 20H30</p><!-- /.section__error -->
            </div><!-- /.section__foot -->#}
        </div><!-- /.section__inner -->
    </div><!-- /.container -->
</section><!-- /.section-default-simple -->

{% if is_granted('ROLE_GENERAL_ADMIN') or app.user.stocks|length > 0 %}
    <div class="block__actions" style="text-align: center">
        <a href="{{ path('account') }}" class="btn btn--dark btn--auto">
            <img class="svg" src="{{ asset('assets/myboxes/images/boxes.svg') }}" alt="">
            <span>Retour à mon Dashboard</span>
        </a>
    </div>
{% endif %}
{% endblock %}
