{% extends 'hub/layout-mb.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <style>
        .scrollToTopBtn {
            position: fixed;
            bottom: 25vh;
            right: 50px;
            z-index: 100;
            display: none;
            cursor: pointer;
            padding: 0 15px;
            min-width: inherit;
        }
    </style>
{% endblock %}

{% block content %}
<style>
    .block-info-alt {
        margin-bottom : 30px;
    }
    .section-default-simple {
        padding-bottom : 40px;
    }
</style>
<section class="section-default-simple section-default-simple--alt">
    <button class="scrollToTopBtn btn btn--green justify-content-center align-items-center" style='display:none;position:fixed;bottom:40px;'><i class="fas fa-chevron-up mr-3"></i> Revenir en haut</button>
    <div class="container container--small">
        <div class="section__inner">
            <a style="display:inline-block;margin-bottom:41px;" href="{{ path('project_index') }}" class="link-back">
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 5.979 10" class="svg replaced-svg"><defs><clipPath id="angle-left-a"><path d="M5.6 5.708l4.128-4.124A.928.928 0 0 0 8.417.272l-3.46 3.46L1.592.281a.928.928 0 1 0-1.329 1.3L4.284 5.7a.926.926 0 0 0 1.32.009z" transform="rotate(90 2.99 2.99)" fill="#1e1e1e"></path></clipPath></defs><g clip-path="url(#angle-left-a)"><path fill="transparent" d="M-7.21-5.29h20v20h-20z"></path><path fill="#44413d" d="M-7.21-5.29h20v20h-20z"></path></g></svg>
                <span>Retour au dashboard</span>
            </a>

            <header class="section__head">
                <h1 class="section__title title">
                    Suivi des entrées de stock
                </h1><!-- /.section__title title -->
                <div class="section__subtitle">
                    <img class="svg" src="assets/images/boxes.svg" alt="">
                    <h4>Mes dernières opérations</h4>
                </div><!-- /.section__subtitle -->
            </header><!-- /.section__head -->

            <div class="section__body">
                {% for stockEntry in stockEntries %}
                    <h5>Entrée de Stock #{{ stockEntry.id }} Date de réception estimée pour le {{ stockEntry.pickupDate|date('d/m/Y') }} <small>(Création le {{ stockEntry.created|date('d/m/Y - H:i') }})</small></h5>

                    {# {% if stockEntry.status == constant("App\\Entity\\StockEntry115::STATE_REQUEST_TAKEN") %}
                        <p class="alert alert-info">Cette entrée de stock est en cours de traitement.</p>
                    {% endif %} #}

                    {% for item in stockEntry.stockEntry115Items %}
                        {% set product = item.product.translate(app.request.locale) %}
                        <div class="block-info-alt">
                            <div class="block__groups">
                                <div class="block__group">
                                    <div class="list-product-info">
                                        <ul>
                                          <li class="list-product-info__label">
                                            <strong>Créé par :</strong>
                                          </li>
                                          <li class="list-product-info__name">
                                            <strong>
                                              {{ stockEntry.user.firstName }} {{ stockEntry.user.lastName }}
                                            </strong>
                                          </li>
                                        </ul>
                                        <ul>
                                            <li class="list-product-info__label">
                                                <strong>Nom :</strong>
                                            </li>
                                            <li class="list-product-info__name">
                                                <strong>
                                                    {{ product.name }}
                                                </strong>
                                            </li>
                                        </ul>
                                        {# <h5>Contrôle des quantités</h5> #}
                                        <ul>
                                            <li class="list-product-info__label">
                                                <strong>Quantité :</strong>
                                            </li>
                                            <li class="list-product-info__qty">
                                                <strong>{{ item.quantityReceived }} / {{ item.quantity }}</strong>
                                            </li>

                                            <li class="list-product-info__btn">
                                                {% if item.status == 'ok' %}
                                                    {# <span class="bg-green">Entrée de stock complète</span> #}
                                                {% elseif item.status == 'partial' %}
                                                    <span class="bg-red">Entrée de stock incomplète</span>
                                                {% elseif item.status == 'empty' %}
                                                    <span class="bg-red">Entrée de stock annulée</span>
                                                {% elseif stockEntry.status == constant("App\\Entity\\StockEntry115::STATE_REQUEST_TAKEN") %}
                                                    <span class="bg-blue-500">En attente de traitement</span>
                                                {% elseif item.challenged %}
                                                    <span class="bg-red">Contestation en cours</span>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div><!-- /.list-product-info -->
                                </div><!-- /.block__group -->
                                <div class="block__group">
                                    <div class="list-numbers">
                                        <ul>
                                            <li>
                                                <span>
                                                    Code Produit :
                                                    {{ product.code }}
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    Code EAN {{ product.eanBox is not empty ? '(pièce)' : '' }} :
                                                    {{ product.eanPart }}
                                                </span>
                                            </li>
                                            {% if product.eanBox is not empty %}
                                                <li>
                                                    <span>Code EAN (carton) : {{ product.eanBox }}</span>
                                                </li>
                                            {% endif %}

                                          {% if item.comment is not empty %}
                                            <li>
                                              <span>Commentaire du runner : {{ item.comment }}</span>
                                            </li>
                                          {% endif %}
                                        </ul>
                                    </div><!-- /.list-numbers -->
                                </div><!-- /.block__group -->
                            </div><!-- /.block__groups -->
                            <div class="block__actions">
                                {% if stockEntry.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") and not item.challenged %}
                                    <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'idItem': item.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_REJECT"), 'cave': '115' }) }}" class="btn btn--grey-dark btn--cart">Contester</a>
                                {% endif %}

                                {# {% if item.challenged %}
                                    <p class="alert alert-danger">Cet article a été contesté.</p>
                                {% endif %} #}

                                {% if item.status == 'ok' %}
                                    <h4 style="color:green;">Entrée de stock complète</h4>
                                {% endif %}

                                <a href="{{ path('stock_entry_packing_slip_pdf', { 'stockEntryId' : stockEntry.id }) }}" class="btn btn--dark btn--auto">
                                    Télécharger <br> le bordereau d'envoi
                                </a>
                            </div><!-- /.block__actions -->
                        </div><!-- /.block-simple-info -->
                    {% endfor %}

                    {% if stockEntry.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") %}
                        <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_VALIDATE"), 'cave': '115' }) }}" class="validate-stock-entry btn btn--dark btn--cart mb-5 w-100">Clôturer l'entrée en stock</a>
                    {% endif %}
                {% endfor %}

                <div class="d-flex justify-content-between align-items-end">
                    <a style="display:inline-block;margin-top:41px;" href="{{ path('project_index') }}" class="link-back">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 5.979 10" class="svg replaced-svg"><defs><clipPath id="angle-left-a"><path d="M5.6 5.708l4.128-4.124A.928.928 0 0 0 8.417.272l-3.46 3.46L1.592.281a.928.928 0 1 0-1.329 1.3L4.284 5.7a.926.926 0 0 0 1.32.009z" transform="rotate(90 2.99 2.99)" fill="#1e1e1e"></path></clipPath></defs><g clip-path="url(#angle-left-a)"><path fill="transparent" d="M-7.21-5.29h20v20h-20z"></path><path fill="#44413d" d="M-7.21-5.29h20v20h-20z"></path></g></svg>
                        <span>Retour au dashboard</span>
                    </a>
                    <button class="scroll-to-top-bottom-btn border-0 bg-transparent link-back" style="display:none;position:fixed;bottom:40px;"><i class="fas fa-chevron-up mr-3"></i> Revenir en haut</button>
                </div>
            </div><!-- /.section__body -->
        </div><!-- /.section__inner -->
    </div><!-- /.container -->
</section><!-- /.section-default-simple -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function() {
            initScroll();
            window.addEventListener('resize', function() {
                initScroll();
            }, true);

            function scrollToTop() {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            }

            function initScroll() {
                let scrollToTopBtn = document.querySelector('.scrollToTopBtn'),
                    scrollToTopBottomBtn = document.querySelector('.scroll-to-top-bottom-btn'),
                    windowWidth = window.innerWidth
                        || document.documentElement.clientWidth
                        || document.body.clientWidth
                ;

                function handleScroll() {
                    let scrollableHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
                    let GOLDEN_RATIO = 0.001,
                        w = window.innerWidth
                            || document.documentElement.clientWidth
                            || document.body.clientWidth;

                    if (w > 1400) {
                        if ((document.documentElement.scrollTop / scrollableHeight) > GOLDEN_RATIO) {
                            //show button
                            scrollToTopBtn.style.display = 'inline-flex';
                        } else {
                            //hide button
                            scrollToTopBtn.style.display = 'none';
                        }
                    }
                }

                if (windowWidth > 1400) {
                    scrollToTopBottomBtn.style.display = 'none';
                    if (window.scrollY > 50) {
                        scrollToTopBtn.style.display = 'inline-flex';
                    }
                    document.addEventListener('scroll', handleScroll);
                    scrollToTopBtn.addEventListener('click', scrollToTop);
                } else {
                    scrollToTopBtn.style.display = 'none';
                    scrollToTopBottomBtn.style.display = 'inline-flex';
                    scrollToTopBottomBtn.addEventListener('click', scrollToTop);
                }
            }
        })();
    </script>
{% endblock %}
