{% extends 'hub/layout-mb.html.twig' %}

{% block content %}
<style>
    .block-info-alt {
        margin-bottom : 30px;
    }
    .section-default-simple {
        padding-bottom : 40px;
    }
</style>
<section class="section-default-simple section-default-simple--alt">
    <div class="container container--small">
        <div class="section__inner">
            <header class="section__head">
                <h1 class="section__title title">
                    Vérification d'entrée de stock à Pantin
                </h1><!-- /.section__title title -->
                <p>
                    <strong>
                        Pour valider l'entrée de stock à Pantin, veuillez vérifier les informations relatives aux produits réceptionnés.
                    </strong>
                </p>
                <div class="section__subtitle">
                    <img class="svg" src="assets/images/boxes.svg" alt="">
                    <h4>Marchandises réceptionnées à valider</h4>
                </div><!-- /.section__subtitle -->
            </header><!-- /.section__head -->
            <div class="section__body">
                <h5>Entrée de Stock #{{ stockEntry.id }} prévue le {{ stockEntry.deliveryDate|date('d/m/Y') }} <small>(créé le {{ stockEntry.created|date('d/m/Y') }})</small></h5>
                {% for item in stockEntry.stockEntryItems %}
                    {% set product = item.product.translate(app.request.locale) %}
                    <div class="block-info-alt">
                        <div class="block__groups">
                            <div class="block__group">
                                <div class="list-product-info">
                                    <ul>
                                        <li class="list-product-info__label">
                                        <strong>Créé par :</strong>
                                        </li>
                                        <li class="list-product-info__name">
                                        <strong>
                                            {{ stockEntry.user.firstName }} {{ stockEntry.user.lastName }}
                                        </strong>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="list-product-info__label">
                                            <strong>Nom :</strong>
                                        </li>
                                        <li class="list-product-info__name">
                                            <strong>
                                                {{ product.name }}
                                            </strong>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="list-product-info__label">
                                            <strong>Quantité :</strong>
                                        </li>
                                        <li class="list-product-info__qty">
                                            <strong>{{ item.quantityReceived }} / {{ item.quantity }}</strong>
                                        </li>
                                        <li class="list-product-info__btn">
                                            {# <span class="{{ item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_VALIDATE") ? 'bg-green' : '' }}">Valide</span>
                                            <span class="{{ item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_REJECT") ? 'bg-red' : '' }}">NON-VALIDE</span> #}
                                            {% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_CREATE") %}
                                                <span class="bg-blue-500">En attente de traitement</span>
                                            {% elseif item.status == constant("App\\Entity\\StockEntry::STATE_INT_VEOLOG") %}
                                                <span class="bg-blue-500">En attente de réception produits</span>
                                            {% elseif item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") %}
                                                <span class="bg-green">Réceptionnée chez Veolog</span>
                                            {% elseif item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_VALIDATE") %}
                                                <span class="bg-green">Entrée de stock validée</span>
                                            {% elseif stockEntry.rejections|length > 0 or item.status == constant("App\\Entity\\StockEntry::STATE_REJECT_VEOLOG") %}
                                                <span class="bg-red">Rejetée par Veolog</span>
                                            {% elseif item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_REJECT") %}
                                                <span class="bg-red">Contestation en cours</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div><!-- /.list-product-info -->
                            </div><!-- /.block__group -->
                            <div class="block__group">
                                <div class="list-numbers">
                                    <ul>
                                        <li>
                                            <span>
                                                Code Produit :
                                                {{ product.code }}
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Code EAN {{ product.eanBox is not empty ? '(pièce)' : '' }} :
                                                {{ product.eanPart }}
                                            </span>
                                        </li>
                                        {% if product.eanBox is not empty %}
                                            <li>
                                                <span>Code EAN (carton) : {{ product.eanBox }}</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div><!-- /.list-numbers -->
                            </div><!-- /.block__group -->
                        </div><!-- /.block__groups -->
                        <div class="block__actions">
                            {# {% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") %}
                                <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'idItem': item.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_REJECT"), 'cave': 'pantin' }) }}" class="btn btn--grey-dark btn--cart">Contester l'entrée de stock</a>
                                <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'idItem': item.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_VALIDATE"), 'cave': 'pantin' }) }}" class="btn btn--dark btn--cart">Valider l'entrée en stock</a>
                            {% else %}
                                <button type="button" class="btn btn--disabled btn--cart">Contester l'entrée de stock</button>
                                <button type="button" class="btn btn--disabled btn--cart">Valider l'entrée en stock</button>
                            {% endif %} #}
                            {% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") %}
                                <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'idItem': item.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_REJECT"), 'cave': 'pantin' }) }}" class="btn btn--grey-dark btn--cart">Contester l'entrée de stock</a>
                            {% endif %}
                            
                            {% if item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_UPDATE") or item.status == constant("App\\Entity\\StockEntry::STATE_ITEM_REJECT") %}
                                <a href="{{ path('entree_stock_confirm', {'id' : stockEntry.id, 'idItem': item.id, 'status': constant("App\\Entity\\StockEntry::URL_STATE_ITEM_VALIDATE"), 'cave': 'pantin' }) }}" class="btn btn--dark btn--cart">Valider l'entrée en stock</a>
                            {% endif %}
                        </div><!-- /.block__actions -->
                    </div><!-- /.block-simple-info -->
                {% endfor %}
            </div><!-- /.section__body -->

            <div class="section__foot">
                {# <p class="section__error">Note : la mise à jour des entrées de stock au sein de votre catalogue se fait à 13H30 & 20H30</p><!-- /.section__error --> #}
            </div><!-- /.section__foot -->
        </div><!-- /.section__inner -->
    </div><!-- /.container -->
</section><!-- /.section-default-simple -->
{% endblock %}