{% extends 'hub/layout.html.twig' %}

{% block content %}
    <section class="section-form">
        <div class="section__body">
            <div class="form">

                <div class="form__section row">
                    <div class="container col-xl-9 col-md-11">
                        <div class="form__head">
                            <h2 class="form__title">Informations prestations</h2>
                        </div>

                        <div class="form__body">
                            <div class="form__group">
                                <h3>Tarifs des prestations standards</h3>
                                <ul>
                                    <li><strong>Copacking : </strong>0,90 € par col*</li>
                                </ul>
                                <p><em><small>* Hors coûts logistiques : gestion de la commande + picking + suremballage carton si nécessaire</small></em></p>
                                <p><strong>Attention le copacking doit s'anticiper</strong> : veillez à approvisionner votre stock en produits consommables : papier de soie, stickers, sacs siglés, cartes manuscrites rédigées par vos soins, etc. en amont de votre demande. Les quantités de consommables en stock sont visibles sur votre catalogue de produits</p>
                                <ul>
                                <li><strong>Copacking 1</strong> : produit(s) emballé(s) dans du papier de soie, insertion dans un sac siglé, fermeture avec un sticker</li>
                                <li><strong>Copacking 2</strong> : produit(s) emballé(s) dans du dans papier de soie, insertion dans un sac siglé, ajout d’une carte non nominative, fermeture avec un sticker</li>
                                <li><strong>Copacking 3</strong> : produit(s) emballé(s) dans du papier de soie, insertion dans un sac siglé, ajout d’une carte nominative, fermeture avec un sticker</li>
                                </ul>
                                <ul>
                                    <li><strong>Nettoyage verres : </strong>2,50 € par bac**</li>
                                    <li><strong>Nettoyage vasques : </strong>3,00 € par vasque**</li>
                                </ul>
                                <p><em><small>** Hors coûts logistiques + gestion de la commande</small></em></p>
                            </div>

                            <div class="form__group">
                                <h3>Prestations sur devis</h3>
                                <p>Pour une demande de prestation particulière merci d’envoyez votre demande aux contacts suivants : <a href="mailto:admin.pantin@veolog.fr">admin.pantin@veolog.fr</a> + <a href="mailto:emma.pantin@veolog.fr">emma.pantin@veolog.fr</a> + <a href="mailto:hub142@moethennessy.com">hub142@moethennessy.com</a>, <strong>au moins 14 jours avant la date de réalisation</strong> de la prestation souhaitée.</p>
                                <p>Merci d’y indiquer les informations suivantes :</p>
                                <ul>
                                    <li>Votre Nom / Prénom</li>
                                    <li>Centre de coût concerné</li>
                                    <li>Date souhaitée de réalisation de la prestation</li>
                                    <li>Stock concerné</li>
                                    <li>Type de prestation : avant livraison</li>
                                    <li>Descriptif du copacking ou de la prestation souhaitée, avec ajout de photo pour chaque étape du copacking ou de la prestation souhaitée.</li>
                                    <li>Liste des références des produits à prendre en compte (bouteilles, stickers, sacs, autres, …)</li>
                                    <li>Quantité de commandes estimée</li>
                                </ul>
                                <p>Vous recevrez une réponse <strong>sous 24-48H ouvrées</strong>, avec un devis contenant un tarif et un numéro de devis au format : <strong>AAMM_XXX</strong></p>
                                <p>Ce numéro sera à renseigner dans le champ devis lors du passage de votre commande groupée et <strong>fera office de validation de votre part</strong>.</p>
                                <p>N’hésitez pas à contacter <a href="mailto:hub142@moethennessy.com">hub142@moethennessy.com</a> en amont de l’envoi de votre demande de devis si vous souhaitez de plus amples informations.</p>
                                <br>
                                <a href="mailto:admin.pantin@veolog.fr,emma.pantin@veolog.fr,hub142@moethennessy.com?subject=%5BHub142%5D%20-%20Demande%20de%20devis&amp;body=Bonjour%2C%0A%0AJe%20souhaites%20obtenir%20un%20devis.%0A%0AVoici%20les%20informations%20demand%C3%A9es%20%3A%0APr%C3%A9nom%20%2F%20Nom%20%3A%0ACentre%20de%20co%C3%BBt%20concern%C3%A9%20%3A%0ADate%20souhait%C3%A9e%20de%20r%C3%A9alisation%20de%20la%20prestation%20%3A%0AStock%20concern%C3%A9%20%3A%0AType%20de%20prestation%20%3A%0ADescriptif%20du%20copacking%20ou%20de%20la%20prestation%20souhait%C3%A9e%2C%20avec%20ajout%20de%20photo%20pour%20chaque%20%C3%A9tape%20du%20copacking%20ou%20de%20la%20prestation%20souhait%C3%A9e%20%3A%0AListe%20des%20r%C3%A9f%C3%A9rences%20des%20produits%20%C3%A0%20prendre%20en%20compte%20%28bouteilles%2C%20stickers%2C%20sacs%2C%20autres%2C%20%E2%80%A6%29%20%3A%0AQuantit%C3%A9%20de%20commandes%20estim%C3%A9e%20%3A%0ADans%20l%27attente%20d%27un%20retour%20de%20votre%20part.%0A%0ABien%20cordialement%2C" class="btn btn-primary">Demander un devis</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.form -->
        </div><!-- /.section__body -->
    </section><!-- /.section -->
{% endblock %}

{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}
