{% extends 'hub/layout-mb.html.twig' %}

{% block content %}
    {{ form_start(form) }}

    {{ form_row(form._token) }}

    <style>
    .error.stock-entry-items {
        color: red;
        font-size: 1.25em;
    }
    .error.stock-entry-items ul {
        list-style: none;
    }
    .item-stock-entry .spinner-waiting-product {
        display: none;
    }
    .item-stock-entry.loading .spinner-waiting-product {
        display: block;
        width : 25px;
        position : relative;
        top: -25px;
        float: right;
    }
    .header {
        position : unset;
    }
    </style>

    <section class="section-default-simple section-default-simple--form">
			<header class="section__head">
				<div class="container container--small">
					<h1 class="section__title section__title--left title">Procédure d'entrée de stock</h1><!-- /.section__title title -->

					<p><strong>Pour effectuer une demande d'entrée en stock, veuillez remplir le formulaire ci-dessous</strong></p>
				</div><!-- /.container container-/-small -->
			</header><!-- /.section__head -->

            <div class="section__body">
				<div class="container">
					<div class="section__subhead">
						<div class="section__subtitle">
							<img class="svg" src="{{ asset('assets/myboxes/images/boxes.svg') }}" alt="">

							<h4>Marchandises à réceptionner</h4>
						</div><!-- /.section__subtitle -->

						<p>
                            <strong>Veuillez renseigner ici les informations relatives à la marchandise.</strong><br>
                            <strong class="c-pink">Si votre produit n'existe pas dans la base référentielle, merci de vous rapprocher de votre référent pour qu'il procède à sa création.</strong><br>
                            <strong class="c-pink">Si votre produit est référencé dans SAP mais introuvable sur MyHub, merci de contacter le Support Hub142.</strong><br>
{#
                            <strong class="c-pink">Attention, la base article s’actualise tous les matins à 6h, si votre article doit être référencé, merci de reporter votre demande d’entrée en stock à J+1.</strong>
#}
                        </p>

                        <strong style="color: red;">Toutes les bouteilles envoyées à Pantin doivent avoir la preuve de l’acquittement des droits de douane.</strong><br>
                        <strong style="color: red;">Les entrées de stock sont possibles uniquement pour le Champagne (avec le CRD visible - la Marianne au-dessus du bouchon). Les autres bouteilles sans CRD doivent être accompagnés d'une facture ou document DSAC.</strong><br>
                        <strong style="color: red;">Les bouteilles qui arriveront sans CRD seront automatiquement refusées.</strong>
					</div><!-- /.section__subhead -->

					<div class="section__content">
						<div class="accordion js-accordion">
						<ul class="stockEntry115Items" data-prototype="{% filter escape %}{% include 'hub/partials/form/entree_stock_prototype_115.html.twig' with { 'form': form.stockEntry115Items.vars.prototype } %}{% endfilter %}">
                            {% for stockEntry115Item in form.stockEntry115Items %}
                                {% include 'hub/partials/form/entree_stock_prototype_115.html.twig' with {'form' : stockEntry115Item} %}
                            {% endfor %}
                        </ul>
                        <div class="error stock-entry-items">
                            {{ form_errors(form.stockEntry115Items) }}
                        </div>
                        </div><!-- /.accordion js-accordion -->
					</div><!-- /.section__content -->

                    <div class="section__actions">
                        <a href="#" class="btn-add">
                            <span></span>
                            <span></span>
                        </a>
                    </div><!-- /.section__actions -->
                </div><!-- /.container -->
            </div><!-- /.section__body -->
        </section><!-- /.section-default-simple -->

    <section class="section-default-simple section-default-simple--form section-default-simple--no-padding">
        <div class="form form--alt form--alt-simple">
                <div class="form__groups">
                    <div class="form__group form__group--gray">
                        <div class="container container--small">
                            <div class="form__head">
                                <h4>
                                    <img src="{{ asset('assets/myboxes/images/info-circle-blue.svg') }}" alt="" class="svg">

                                    <span>Vos informations</span>
                                </h4>
                            </div>

                            <div class="form__body">
                                <div class="form__cols">
                                    <div class="form__col form__col--1of2">
                                        <div class="form__row form__row--md js-group jsFocusLabel filled">
                                            <label for="field-demandeur" class="form__label">Demandeur*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.username) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.username) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel filled">
                                            <label for="field-stock" class="form__label">Stock concerné*</label>

                                            <div class="form__controls"  id="stock">
                                                <div class="field" style="padding-top: 10px;">
                                                    {{ form.vars.value.stock.translate(app.request.locale).name }}
                                                </div>
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="field-mail" class="form__label">E-mail*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.email) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="field-phone" class="form__label">Téléphone*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.phone) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.phone) }}
                                            </div>
                                        </div><!-- /.form__row -->
                                    </div><!-- /.form__col form__col-/-1of2 -->

                                    <div class="form__col form__col--1of2">

                                        <div class="form__row form__row--md js-group jsFocusLabel filled" id="billingCenter">
                                            <label for="select-centre" class="form__label">Centre de coût*</label>

                                            <div class="form__controls">
                                                <div class="select">
                                                    {{ form_widget(form.billingCenter) }}
                                                </div><!-- /.select -->

                                                <img class="svg svg-arrow" src="assets/images/angle-down.svg" alt="">
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.billingCenter) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="field-date" class="form__label">Date de ramassage demandée (dd/mm/aaaa)*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.pickUpDate) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.pickUpDate) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row js-group filled" id="timeSlot">
                                            <label for="select-livraison" class="form__label">Créneaux de ramassage*</label>

                                            <div class="form__controls">
                                                <div class="select">
                                                    {{ form_widget((form.timeSlots)) }}
                                                </div><!-- /.select -->

                                                <img class="svg svg-arrow" src="assets/images/angle-down.svg" alt="">
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.timeSlots) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row js-group jsFocusLabel filled">
                                            <label for="field-date" class="form__label">Lieu de ramassage : </label>

                                            <div class="form__controls">
                                                {{ form_widget(form.pickUpLocation) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.pickUpLocation) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div id="floor_fields" class="form__row form__row--md js-group jsFocusLabel" style="display: none;">
                                            <label for="field-floor" class="form__label">Etage*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.floor) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.floor) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div id="office_number_fields" class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="field-office-number" class="form__label">N° du bureau*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.officeNumber) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.officeNumber) }}
                                            </div>
                                        </div><!-- /.form__row -->
                                    </div><!-- /.form__col form__col-/-1of2 -->
                                </div><!-- /.form__cols -->
                            </div><!-- /.form__body -->
                        </div><!-- /.container container-/-small -->
                    </div><!-- /.form__group -->

                    <div class="form__group form__group--small">
                        <div class="container">
                            <div class="form__actions">
                                <button type="submit" value="Submit" class="btn btn--dark form__btn">
                                    <span>Valider le formulaire</span>
                                </button>

                                <p class="form__asterisk">* Champs obligatoires</p><!-- /.form__asterisk -->
                            </div><!-- /.form__actions -->
                        </div><!-- /.container container-/-small -->
                    </div><!-- /.form__group -->
                </div><!-- /.form__groups -->
        </div><!-- /.form form-/-alt -->
    </section><!-- /.section-default-simple section-default-simple-/-form -->

    {{ form_end(form) }}
{% endblock %}

{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/myboxes/js/jquery.easy-autocomplete.min.js') }}"></script>
    <script type="text/javascript">

        (function(){

            function optionUrl (phrase) {
                return "{{ path('procedure_entree_stock_ajax') }}";
            }

            var optionAjaxSettings = {
                dataType: "json",
                method: "POST",
                data: {
                    dataType: "json"
                }
            };

            function initSubFormStockEntry115(stockEntry115Item) {

                postLoadingPageInitSelect2(stockEntry115Item.find('.category'));
                postLoadingPageInitSelect2(stockEntry115Item.find('.input-entry-brand'));
                postLoadingPageInitSelect2(stockEntry115Item.find('.input-entry-state'));

                function selectValue(value) {
                    stockEntry115Item.find('.product').val(value.id);
                    stockEntry115Item.find('.input-entry-name').val(value.name);
                    stockEntry115Item.find('.input-entry-code').val(value.code);
                    stockEntry115Item.find('.input-entry-ean').val(value.eanPart + ' / ' + value.eanBox);
                    stockEntry115Item.find('.input-entry-state').val(value.state);
                };

                var optionListName = {
                    onChooseEvent: function() {
                        var value = stockEntry115Item.find(".input-entry-name").getSelectedItemData();
                        selectValue(value);
                    },
                    onLoadEvent : function() {
                        stockEntry115Item.removeClass('loading');
                    },
                    maxNumberOfElements: 20,
                };

                var optionListCode = {
                    onChooseEvent: function() {
                        var value = stockEntry115Item.find(".input-entry-code").getSelectedItemData();
                        selectValue(value);
                    },
                    onLoadEvent : function() {
                        stockEntry115Item.removeClass('loading');
                    },
                    maxNumberOfElements: 20,
                };

                var optionListEan = {
                    onChooseEvent: function() {
                        var value = stockEntry115Item.find(".input-entry-ean").getSelectedItemData();
                        selectValue(value);
                    },
                    onLoadEvent : function() {
                        stockEntry115Item.removeClass('loading');
                    },
                    maxNumberOfElements: 20,
                };

                var optionsEasyCompleteName = {

                    url: optionUrl,

                    getValue: function (element) {
                        return element.name;
                    },

                    ajaxSettings: optionAjaxSettings,
                    list: optionListName,

                    preparePostData: function (data) {
                        data.categoryId = stockEntry115Item.find('.category').val();
                        data.brandId = stockEntry115Item.find('.input-entry-brand').val();
                        data.name = stockEntry115Item.find('.input-entry-name').val();
                        return data;
                    },

                    requestDelay: 400
                };

                var optionsEasyCompleteCode = {

                    url: optionUrl,

                    getValue: function (element) {
                        return element.code;
                    },

                    ajaxSettings: optionAjaxSettings,
                    list: optionListCode,

                    preparePostData: function (data) {
                        data.categoryId = stockEntry115Item.find('.category').val();
                        data.brandId = stockEntry115Item.find('.input-entry-brand').val();
                        data.code = stockEntry115Item.find('.input-entry-code').val();
                        return data;
                    },

                    requestDelay: 400
                };

                var optionsEasyCompleteEan = {

                    url: optionUrl,

                    getValue: function (element) {
                        return element.eanPart + ' / ' + element.eanBox;
                    },

                    ajaxSettings: optionAjaxSettings,
                    list: optionListEan,

                    preparePostData: function (data) {
                        data.categoryId = stockEntry115Item.find('.category').val();
                        data.brandId = stockEntry115Item.find('.input-entry-brand').val();
                        data.ean = stockEntry115Item.find('.input-entry-ean').val();
                        return data;
                    },

                    requestDelay: 400
                };

                stockEntry115Item.on('change', '.category', function(e) {
                    stockEntry115Item.find(".input-entry-name").val('');
                    stockEntry115Item.find(".input-entry-code").val('');
                    stockEntry115Item.find(".input-entry-ean").val('');
                });

                stockEntry115Item.on('input', '.input-entry-name', function(e) {
                    if (stockEntry115Item.find(".input-entry-name").val()) {
                        stockEntry115Item.addClass('loading');
                    }
                    stockEntry115Item.find(".input-entry-code").val('');
                    stockEntry115Item.find(".input-entry-ean").val('');
                });

                stockEntry115Item.on('input', '.input-entry-code', function(e) {
                    if (stockEntry115Item.find(".input-entry-code").val()) {
                        stockEntry115Item.addClass('loading');
                    }
                    stockEntry115Item.find(".input-entry-name").val('');
                    stockEntry115Item.find(".input-entry-ean").val('');
                });

                stockEntry115Item.on('input', '.input-entry-ean', function(e) {
                    if (stockEntry115Item.find(".input-entry-ean").val()) {
                        stockEntry115Item.addClass('loading');
                    }
                    stockEntry115Item.find(".input-entry-name").val('');
                    stockEntry115Item.find(".input-entry-code").val('');
                });

                stockEntry115Item.find(".input-entry-name").easyAutocomplete(optionsEasyCompleteName);
                stockEntry115Item.find(".input-entry-code").easyAutocomplete(optionsEasyCompleteCode);
                stockEntry115Item.find(".input-entry-ean").easyAutocomplete(optionsEasyCompleteEan);
            };

            $( document ).ready(function() {
                $('.item-stock-entry').each(function(index, stockEntry115Item) {
                    initSubFormStockEntry115(stockEntry115Item);
                });
            });

            var $collectionHolder;

            var $newLinkLi = $('<li style="list-style: none;"></li>');
            var indexStr = '';

            jQuery(document).ready(function() {
                $collectionHolder = $('ul.stockEntry115Items');

                $collectionHolder.append($newLinkLi);

                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                $('.btn-add').on('click', function(e) {
                    addStockEntry115ItemForm($collectionHolder, $newLinkLi);
                    $('li .item-stock-entry').each(function(index) {
                        index += 1;
                        if (index < 10) {
                            indexStr = '0' + index;
                        } else {
                            indexStr = index;
                        }
                        $(this).find('.merchandise_nb').text(indexStr);
                    });
                });
            });

            function addStockEntry115ItemForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');

                var index = $collectionHolder.data('index');

                var newForm = prototype;

                newForm = newForm.replace(/__name__/g, index);

                $collectionHolder.data('index', index + 1);

                var $newFormLi = $('<li style="list-style: none;"></li>').addClass('item-stock-entry').append(newForm);

                $newLinkLi.before($newFormLi);

                initSubFormStockEntry115($newFormLi);
            }

            $('#stock li').on('click', function() {

                $('#stock_entry_stock option').each(function(index, stockEntry115Item) {
                    $(this).removeAttr('selected');
                });

                var elt = $(this).data("index");
                $("#stock_entry_stock option[value=" + elt + "]").attr('selected','true');

                console.log(elt, "#stock_entry_stock option[value=" + elt + "]",  $("#stock_entry_stock option[value=" + elt + "]"), $("#stock_entry_stock option[value=" + elt + "]").prop('selected'));
            });

            $('#billingCenter li').on('click', function() {

                $('#stock_entry_billingCenter option').each(function(index, stockEntry115Item) {
                    $(this).removeAttr('selected');
                });

                var elt = $(this).data("index");
                $("#stock_entry_billingCenter option[value=" + elt + "]").attr('selected','true');
            });

            var valueTimeSlot = $('#timeSlot li.selected').val();

            if (valueTimeSlot === 0) {
                $('#stock_entry_timeSlots option[value=matin]').attr('selected','true');
            } else {
                $('#stock_entry_timeSlots option[value=après-midi]').attr('selected','true');
            }

            $('#timeSlot li').on('click', function() {
                var elt = $(this).data("index");
                if (elt === 0) {
                    $('#stock_entry_timeSlots option[value=matin]').attr('selected','true');
                    $('#stock_entry_timeSlots option[value=après-midi]').removeAttr('selected');
                } else {
                    $('#stock_entry_timeSlots option[value=après-midi]').attr('selected','true');
                    $('#stock_entry_timeSlots option[value=matin]').removeAttr('selected');
                }
            });

            $(document).on('click','.accordion .accordion__remove',function(){
                $(this).closest('li').remove();
            });

            var selectedOption = $('#stock_entry115_pickUpLocation').children("option:selected").val();

            if (selectedOption == '142') {
                $('#floor_fields').show();
                $('#office_number_fields').show();
            } else {
                $('#floor_fields').hide();
                $('#office_number_fields').hide();
            }

            $('#stock_entry115_pickUpLocation').change(function(){
                var selectedOption = $(this).children("option:selected").val();
                if (selectedOption == '142') {
                    $('#floor_fields').show();
                    $('#office_number_fields').show();
                } else {
                    $('#floor_fields').hide();
                    $('#office_number_fields').hide();
                }
            });

        })();
    </script>
{% endblock %}
