{% extends 'hub/layout-mb.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr': {'id': 'form-stock-entry'}}) }}
    {{ form_row(form._token) }}

    <style>
    .error.stock-entry-items {
        color: red;
        font-size: 1.25em;
    }
    .error.stock-entry-items ul {
        list-style: none;
    }
    .item-stock-entry .spinner-waiting-product {
        display: none;
    }
    .item-stock-entry.loading .spinner-waiting-product {
        display: block;
        width : 25px;
        position : relative;
        top: -25px;
        float: right;
    }
    .header {
        position : unset;
    }
    .form__col div.error {
        color: red;
    }

    .form__controls label.error {
        display: none;
    }
    </style>

    <section class="section-default-simple section-default-simple--form">
			<header class="section__head">
				<div class="container container--small">
					<h1 class="section__title section__title--left title">Procédure d'entrée de stock</h1><!-- /.section__title title -->

					<p><strong>Pour effectuer une demande d'entrée en stock, veuillez remplir le formulaire ci-dessous</strong></p>
				</div><!-- /.container container-/-small -->
			</header><!-- /.section__head -->

            <div class="section__body">
				<div class="container">
					<div class="section__subhead">
						<div class="section__subtitle">
							<img class="svg" src="{{ asset('assets/myboxes/images/boxes.svg') }}" alt="">

							<h4>Marchandises à réceptionner</h4>
						</div><!-- /.section__subtitle -->

						<p>
                            <strong>Veuillez renseigner ici les informations relatives à la marchandise.</strong><br>
                            <strong class="c-pink">Si votre produit n'existe pas dans la base référentielle, merci de vous rapprocher de votre référent pour qu'il procède à sa création.</strong><br>
                            <strong class="c-pink">Si votre produit est référencé dans SAP mais introuvable sur MyHub, merci de contacter le Support Hub142.</strong><br>
{#
                            <strong class="c-pink">Attention, la base article s’actualise tous les matins à 6h, si votre article doit être référencé, merci de reporter votre demande d’entrée en stock à J+1.</strong>
#}
                        </p>

                        <strong style="color: red;">Toutes les bouteilles envoyées à Pantin doivent avoir la preuve de l’acquittement des droits de douane.</strong><br>
                        <strong style="color: red;">Les entrées de stock sont possibles uniquement pour le Champagne (avec le CRD visible - la Marianne au-dessus du bouchon). Les autres bouteilles sans CRD doivent être accompagnés d'une facture ou document DSAC.</strong><br>
                        <strong style="color: red;">Les bouteilles qui arriveront sans CRD seront automatiquement refusées.</strong>
					</div><!-- /.section__subhead -->

					<div class="section__content">
						<div class="accordion js-accordion">
						<ul class="stockEntryItems" data-prototype="{% filter escape %}{% include 'hub/partials/form/entree_stock_prototype.html.twig' with { 'form': form.stockEntryItems.vars.prototype } %}{% endfilter %}">
                            {% for stockEntryItem in form.stockEntryItems %}
                                {% include 'hub/partials/form/entree_stock_prototype.html.twig' with {'form' : stockEntryItem} %}
                            {% endfor %}
                        </ul>
                        <div class="error stock-entry-items">
                            {{ form_errors(form.stockEntryItems) }}
                        </div>
                        </div><!-- /.accordion js-accordion -->
					</div><!-- /.section__content -->

                    <div class="section__actions">
                        <a href="#" class="btn-add">
                            <span></span>
                            <span></span>
                        </a>
                    </div><!-- /.section__actions -->
                </div><!-- /.container -->
            </div><!-- /.section__body -->
        </section><!-- /.section-default-simple -->

    <section class="section-default-simple section-default-simple--form section-default-simple--no-padding">
        <div class="form form--alt form--alt-simple">
                <div class="form__groups">
                    <div class="form__group form__group--gray">
                        <div class="container container--small">
                            <div class="form__head">
                                <h4>
                                    <img src="{{ asset('assets/myboxes/images/info-circle-blue.svg') }}" alt="" class="svg">

                                    <span>Vos informations</span>
                                </h4>
                            </div>

                            <div class="form__body">
                                <div class="form__cols">
                                    <div class="form__col form__col--1of2">
                                        <div class="form__row form__row--md js-group jsFocusLabel filled">
                                            <label for="field-demandeur" class="form__label">Demandeur*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.username) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.username) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel filled">
                                            <label for="field-stock" class="form__label">Stock concerné*</label>

                                            <div class="form__controls"  id="stock">
                                                <div class="field" style="padding-top: 10px;">
                                                    {{ form.vars.value.stock.translate(app.request.locale).name }}
                                                </div>
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="field-mail" class="form__label">E-mail*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.email) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="field-phone" class="form__label">Téléphone*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.phone) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.phone) }}
                                            </div>
                                        </div><!-- /.form__row -->
                                    </div><!-- /.form__col form__col-/-1of2 -->

                                    <div class="form__col form__col--1of2">
                                        <div class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="field-transporteur" class="form__label">Transporteur (si connu)</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.carrier) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.carrier) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel filled" id="billingCenter">
                                            <label for="select-centre" class="form__label">Centre de coût*</label>

                                            <div class="form__controls">
                                                <div class="select">
                                                    {{ form_widget(form.billingCenter) }}
                                                </div><!-- /.select -->

                                                <img class="svg svg-arrow" src="assets/images/angle-down.svg" alt="">
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.billingCenter) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row form__row--md js-group jsFocusLabel">
                                            <label for="field-date" class="form__label">Date de livraison chez Veolog  (dd/mm/aaaa)*</label>

                                            <div class="form__controls">
                                                {{ form_widget(form.deliveryDate) }}
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.deliveryDate) }}
                                            </div>
                                        </div><!-- /.form__row -->

                                        <div class="form__row js-group filled" id="timeSlot">
                                            <label for="select-livraison" class="form__label">Créneaux de livraison*</label>

                                            <div class="form__controls">
                                                <div class="select">
                                                    {{ form_widget((form.timeSlots)) }}
                                                </div><!-- /.select -->

                                                <img class="svg svg-arrow" src="assets/images/angle-down.svg" alt="">
                                            </div><!-- /.form__controls -->
                                            <div class="error">
                                                {{ form_errors(form.timeSlots) }}
                                            </div>
                                        </div><!-- /.form__row -->
                                    </div><!-- /.form__col form__col-/-1of2 -->
                                </div><!-- /.form__cols -->
                            </div><!-- /.form__body -->
                        </div><!-- /.container container-/-small -->
                    </div><!-- /.form__group -->

                    <div class="form__group form__group--small">
                        <div class="container">
                            <div class="form__actions">
                                <button type="submit" value="Submit" class="btn btn--dark form__btn">
                                    <span>Valider le formulaire</span>
                                </button>

                                <p class="form__asterisk">* Champs obligatoires</p><!-- /.form__asterisk -->
                            </div><!-- /.form__actions -->
                        </div><!-- /.container container-/-small -->
                    </div><!-- /.form__group -->
                </div><!-- /.form__groups -->
        </div><!-- /.form form-/-alt -->
    </section><!-- /.section-default-simple section-default-simple-/-form -->

    {{ form_end(form) }}
{% endblock %}

{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/myboxes/js/jquery.easy-autocomplete.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script type="text/javascript">

        (function(){

            function optionUrl (phrase) {
                return "{{ path('procedure_entree_stock_ajax') }}";
            }

            var optionAjaxSettings = {
                dataType: "json",
                method: "POST",
                data: {
                    dataType: "json"
                }
            };

            function initSubFormStockEntry(stockEntryItem) {

                postLoadingPageInitSelect2(stockEntryItem.find('.category'));
                postLoadingPageInitSelect2(stockEntryItem.find('.input-entry-brand'));
                postLoadingPageInitSelect2(stockEntryItem.find('.input-entry-state'));
                postLoadingPageInitSelect2(stockEntryItem.find('.input-entry-crd'));

                function selectValue(value) {
                    stockEntryItem.find('.product').val(value.id);
                    stockEntryItem.find('.input-entry-name').val(value.name);
                    stockEntryItem.find('.input-entry-code').val(value.code);


                    var ean = null;
                    if (value.eanBox && value.eanPart)
                    {
                        ean = value.eanPart + ' / ' + value.eanBox;
                    }
                    else if (value.eanPart)
                    {
                        ean = value.eanPart;
                    }

                    else if (value.eanBox)
                    {
                        ean = value.eanBox;
                    }

                    stockEntryItem.find('.input-entry-ean').val(ean);
                    stockEntryItem.find('.input-entry-state').val(value.state);

                    if(value.crd){
                        stockEntryItem.find('.input-entry-crd option[value="1"]').removeAttr('disabled');
                        stockEntryItem.find('.input-entry-crd').val('1');
                        stockEntryItem.find('.input-entry-crd option[value="0"]').attr('disabled', '');
                        stockEntryItem.find('.input-entry-crd').trigger('change');
                    }else{
                        stockEntryItem.find('.input-entry-crd option[value="0"]').removeAttr('disabled');
                        stockEntryItem.find('.input-entry-crd').val('0');
                        stockEntryItem.find('.input-entry-crd option[value="1"]').attr('disabled', '');
                        stockEntryItem.find('.input-entry-crd').trigger('change');
                    }
                };

                var optionListName = {
                    onChooseEvent: function() {
                        var value = stockEntryItem.find(".input-entry-name").getSelectedItemData();
                        selectValue(value);
                    },
                    onLoadEvent : function() {
                        stockEntryItem.removeClass('loading');
                    },
                    maxNumberOfElements: 20,
                };

                var optionListCode = {
                    onChooseEvent: function() {
                        var value = stockEntryItem.find(".input-entry-code").getSelectedItemData();
                        selectValue(value);
                    },
                    onLoadEvent : function() {
                        stockEntryItem.removeClass('loading');
                    },
                    maxNumberOfElements: 20,
                };

                var optionListEan = {
                    onChooseEvent: function() {
                        var value = stockEntryItem.find(".input-entry-ean").getSelectedItemData();
                        selectValue(value);
                    },
                    onLoadEvent : function() {
                        stockEntryItem.removeClass('loading');
                    },
                    maxNumberOfElements: 20,
                };

                var optionsEasyCompleteName = {

                    url: optionUrl,

                    getValue: function (element) {
                        return element.name;
                    },

                    ajaxSettings: optionAjaxSettings,
                    list: optionListName,

                    preparePostData: function (data) {
                        delete data.ean;
                        delete data.code;
                        data.categoryId = stockEntryItem.find('.category').val();
                        data.brandId = stockEntryItem.find('.input-entry-brand').val();
                        data.name = stockEntryItem.find('.input-entry-name').val();
                        return data;
                    },

                    requestDelay: 400
                };

                var optionsEasyCompleteCode = {

                    url: optionUrl,

                    getValue: function (element) {
                        return element.code;
                    },

                    ajaxSettings: optionAjaxSettings,
                    list: optionListCode,

                    preparePostData: function (data) {
                        delete data.ean;
                        delete data.name;
                        data.categoryId = stockEntryItem.find('.category').val();
                        data.brandId = stockEntryItem.find('.input-entry-brand').val();
                        data.code = stockEntryItem.find('.input-entry-code').val();
                        return data;
                    },

                    requestDelay: 400
                };

                var optionsEasyCompleteEan = {

                    url: optionUrl,

                    getValue: function (element) {
                        if (element.eanBox && element.eanPart)
                        {
                            return element.eanPart + ' / ' + element.eanBox;
                        }

                        if (element.eanPart)
                        {
                            return element.eanPart;
                        }

                        if (element.eanBox)
                        {
                            return element.eanBox;
                        }

                        return null;
                    },

                    ajaxSettings: optionAjaxSettings,
                    list: optionListEan,

                    preparePostData: function (data) {
                        delete data.code;
                        delete data.name;
                        data.categoryId = stockEntryItem.find('.category').val();
                        data.brandId = stockEntryItem.find('.input-entry-brand').val();
                        data.ean = stockEntryItem.find('.input-entry-ean').val();
                        return data;
                    },

                    requestDelay: 400
                };

                stockEntryItem.on('change', '.category', function(e) {
                    stockEntryItem.find(".input-entry-name").val('');
                    stockEntryItem.find(".input-entry-code").val('');
                    stockEntryItem.find(".input-entry-ean").val('');
                    initCrdField(stockEntryItem);
                });

                initCrdField(stockEntryItem);

                stockEntryItem.on('change', '.input-entry-brand', function(e) {
                    stockEntryItem.find(".input-entry-name").val('');
                    stockEntryItem.find(".input-entry-code").val('');
                    stockEntryItem.find(".input-entry-ean").val('');
                });

                stockEntryItem.on('input', '.input-entry-name', function(e) {
                    if (stockEntryItem.find(".input-entry-name").val()) {
                        stockEntryItem.addClass('loading');
                    }
                    stockEntryItem.find(".input-entry-code").val('');
                    stockEntryItem.find(".input-entry-ean").val('');
                });

                stockEntryItem.on('input', '.input-entry-code', function(e) {
                    if (stockEntryItem.find(".input-entry-code").val()) {
                        stockEntryItem.addClass('loading');
                    }
                    stockEntryItem.find(".input-entry-name").val('');
                    stockEntryItem.find(".input-entry-ean").val('');
                });

                stockEntryItem.on('input', '.input-entry-ean', function(e) {
                    if (stockEntryItem.find(".input-entry-ean").val()) {
                        stockEntryItem.addClass('loading');
                    }
                    stockEntryItem.find(".input-entry-name").val('');
                    stockEntryItem.find(".input-entry-code").val('');
                });

                stockEntryItem.find(".input-entry-name").easyAutocomplete(optionsEasyCompleteName);
                stockEntryItem.find(".input-entry-code").easyAutocomplete(optionsEasyCompleteCode);
                stockEntryItem.find(".input-entry-ean").easyAutocomplete(optionsEasyCompleteEan);
            };

            $( document ).ready(function() {
                $('.item-stock-entry').each(function(index, stockEntryItem) {
                    initSubFormStockEntry(stockEntryItem);
                });
            });

            var $collectionHolder;

            var $newLinkLi = $('<li style="list-style: none;"></li>');
            var indexStr = '';

            jQuery(document).ready(function() {
                $collectionHolder = $('ul.stockEntryItems');

                $collectionHolder.append($newLinkLi);

                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                $('.btn-add').on('click', function(e) {
                    addStockEntryItemForm($collectionHolder, $newLinkLi);
                    $('li .item-stock-entry').each(function(index) {
                        index += 1;
                        if (index < 10) {
                            indexStr = '0' + index;
                        } else {
                            indexStr = index;
                        }
                        $(this).find('.merchandise_nb').text(indexStr);
                    });
                    e.preventDefault();
                });

                $('button.form__btn').on('click', function(e) {

                    $("#form-stock-entry").validate({
                        showErrors: function(errorMap, errorList) {}
                    });

                    var hasCrdError = false;

                    $('ul.stockEntryItems li.item-stock-entry').each(function(index) {

                        var currentLi = $(this);
                   
                    //   currentLi.find('input').each(function(){
                    //       if(!$(this).prop('required')){
                    //         console.log("NR");
                    //       } else {
                    //        currentLi.find('input').addClass('error-required');
                    //        }
                    //   });

                        var requiredFields = $('input[type="text"],input[type="number"]', currentLi).filter('[required]');

                        requiredFields.each(function(){
                            var fieldCol = $(this).closest('.form__col');

                            if($(this).val() == ''){
                                $('div.error', fieldCol).text('Champ obligatoire');
                            }else{
                                $('div.error', fieldCol).text('');
                            }
                        });

                        if(currentLi.find('.category').val() == 5 && currentLi.find(".input-entry-crd").val() == 0 && currentLi.find(".input-invoicefile").get(0).files.length === 0) {
                            hasCrdError = true;
                            currentLi.find('.invoicefile-error').fadeIn(100);
                        }

                        if(hasCrdError){
                            $("body,html").animate(
                            {
                                scrollTop: $('ul.stockEntryItems').offset().top
                            },
                            800 //speed
                            );
                            e.preventDefault();
                        } else {
                            currentLi.find('.invoicefile-error').addClass('hide');
                        }

                    });

                });
            });

            function addStockEntryItemForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');

                var index = $collectionHolder.data('index');

                var newForm = prototype;

                newForm = newForm.replace(/__name__/g, index);

                $collectionHolder.data('index', index + 1);

                var $newFormLi = $('<li style="list-style: none;"></li>').addClass('item-stock-entry').append(newForm);

                $newLinkLi.before($newFormLi);

                initSubFormStockEntry($newFormLi);
            }

            function initCrdField(stockEntryItem){
                var categoryId = stockEntryItem.find('.category').val();

                if(categoryId == 5){
                    stockEntryItem.find('.crd-col').fadeIn(100);

                    if(stockEntryItem.find(".input-entry-crd").val() == 0){
                        stockEntryItem.find('.row-crd-doc').fadeIn(100);
                    }else{
                        stockEntryItem.find('.row-crd-doc').fadeOut(100);
                    }

                    stockEntryItem.on('change', '.input-entry-crd', function(e) {
                        if(stockEntryItem.find(".input-entry-crd").val() == 0 && stockEntryItem.find('.category').val() == 5){
                            stockEntryItem.find('.row-crd-doc').fadeIn(100);
                        }else{
                            stockEntryItem.find('.row-crd-doc').fadeOut(100);
                        }
                    });
                }else{
                    stockEntryItem.find('.crd-col').fadeOut(100);
                    stockEntryItem.find('.row-crd-doc').fadeOut(100);
                }
            }

            $('#stock li').on('click', function() {

                $('#stock_entry_stock option').each(function(index, stockEntryItem) {
                    $(this).removeAttr('selected');
                });

                var elt = $(this).data("index");
                $("#stock_entry_stock option[value=" + elt + "]").attr('selected','true');

                console.log(elt, "#stock_entry_stock option[value=" + elt + "]",  $("#stock_entry_stock option[value=" + elt + "]"), $("#stock_entry_stock option[value=" + elt + "]").prop('selected'));
            });

            $('#billingCenter li').on('click', function() {

                $('#stock_entry_billingCenter option').each(function(index, stockEntryItem) {
                    $(this).removeAttr('selected');
                });

                var elt = $(this).data("index");
                $("#stock_entry_billingCenter option[value=" + elt + "]").attr('selected','true');
            });

            var valueTimeSlot = $('#timeSlot li.selected').val();

            if (valueTimeSlot === 0) {
                $('#stock_entry_timeSlots option[value=matin]').attr('selected','true');
            } else {
                $('#stock_entry_timeSlots option[value=après-midi]').attr('selected','true');
            }

            $('#timeSlot li').on('click', function() {
                var elt = $(this).data("index");
                if (elt === 0) {
                    $('#stock_entry_timeSlots option[value=matin]').attr('selected','true');
                    $('#stock_entry_timeSlots option[value=après-midi]').removeAttr('selected');
                } else {
                    $('#stock_entry_timeSlots option[value=après-midi]').attr('selected','true');
                    $('#stock_entry_timeSlots option[value=matin]').removeAttr('selected');
                }
            });

            $(document).on('click','.accordion .accordion__remove',function(){
                $(this).closest('li').remove();
            });
        })();
    </script>
{% endblock %}