<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <base href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">
</head>
<body>
<img width="127" height="130" style="float:right;" src="{{ logo }}" alt="">

<h1 style=" text-align:center; margin-bottom: 21px; line-height: 1.2; color: #2c455b; font-family: 'Moet Hennessy, sans-serif';">Hub142 – Récapitulatif de l’entrée de Stock</h1><br/><br/><br/>

<span style="color: #2c455b; font-size: 24px;">Informations sur le demandeur :</span><br/><br/>

<span style="color: #7f7a77; font-size: 24px;">Demandeur : {{ stockEntry.username }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Stock concerné : {{ stockEntry.stock.translate('fr').name }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Code Stock : {{ stockEntry.stock.translate('fr').code }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Email : {{ stockEntry.email }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Téléphone : {{ stockEntry.phone }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Centre de coût : {{ stockEntry.billingCenter.translate('fr').name }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Date de ramassage : {{ stockEntry.pickupDate|date('d/m/Y') }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Créneau de ramassage : {{ stockEntry.timeSlots }}</span><br/><br/>

{% for stockEntry115Item in stockEntry.stockEntry115Items %}

    <span style="color: #2c455b; font-size: 24px;">## Produit {{ loop.index }} ##</span><br/><br/>

    <span style="color: #7f7a77; font-size: 24px;">Catégorie : {% for category in  stockEntry115Item.product.translate('fr').categories %}{{ category.name }}{% endfor %}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Marque : {{ stockEntry115Item.product.translate('fr').brand.translate('fr').name }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Nom du produit : {{ stockEntry115Item.product.translate('fr').name }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Code produit : {{ stockEntry115Item.product.translate('fr').code }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Code EAN : {{ stockEntry115Item.product.translate('fr').eanPart }} / {{ stockEntry115Item.product.translate('fr').eanBox }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Quantité : {{ stockEntry115Item.quantity }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">&Eacute;tat : {% if stockEntryItem.productState == 'not-new' %}Non neuf{% else %}Neuf{% endif %}</span><br/>
{% endfor %}
</body>
</html>