Nom : {{ stockEntry.username }}
Stock : { stockEntry.stock.translate('fr').name }}
Email : {{ stockEntry.email }}
Téléphone : {{ stockEntry.phone }}
Transporteur : {{ stockEntry.carrier }}
Centre de coût : {{ stockEntry.billingCenter.translate('fr').name }}
Date de livraison chez Veolog : {{ stockEntry.deliveryDate|date('d/m/Y') }}
Créneaux de livraison : {{ stockEntry.timeSlots }}

{% for itemStockEntry in stockEntry.itemsStockEntries %}

    Entrée de stock {{ loop.index }}

    Services additionnels :
    {% for additionalService in itemStockEntry.additionalServices %}
        {{ additionalService }}
    {% endfor %}
    Quantité : {{ itemStockEntry.quantity }}
    Nom du produit : {{ itemStockEntry.productName }}
    Catégorie : {{ itemStockEntry.productCategory.translate('fr').name }}
    Marque : {{ itemStockEntry.productBrand.translate('fr').name }}
    Code : {{ itemStockEntry.productCode }}
    EAN : {{ itemStockEntry.productEan }}
{% endfor %}