<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <base href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">
</head>
<body>
<img width="127" height="130" style="float:right;" src="{{ logo }}" alt="">

<h1 style=" text-align:center; margin-bottom: 21px; line-height: 1.2; color: #2c455b; font-family: 'Moet Hennessy, sans-serif';">Hub142 – Récapitulatif de l’entrée de Stock</h1><br/><br/><br/>

<span style="color: #2c455b; font-size: 24px;">Informations sur le demandeur :</span><br/><br/>

<span style="color: #7f7a77; font-size: 24px;">Demandeur : {{ stockEntry.username }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Stock concerné : {{ stockEntry.stock.translate('fr').name }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Code Stock : {{ stockEntry.stock.translate('fr').code }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Email : {{ stockEntry.email }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Téléphone : {{ stockEntry.phone }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Transporteur : {{ stockEntry.carrier }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Centre de coût : {{ stockEntry.billingCenter.translate('fr').name }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Date de livraison chez Véolog : {{ stockEntry.deliveryDate|date('d/m/Y') }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Créneau de livraison : {{ stockEntry.timeSlots }}</span><br/>
<span style="color: #7f7a77; font-size: 24px;">Entrée de Stock #{{ stockEntry.id }}</span><br/>
<br/>

{% for stockEntryItem in stockEntry.stockEntryItems %}

    <span style="color: #2c455b; font-size: 24px;">## Produit {{ loop.index }} ##</span><br/><br/>

    <span style="color: #7f7a77; font-size: 24px;">Catégorie : {% for category in  stockEntryItem.product.translate('fr').categories %}{{ category.name }}{% endfor %}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Marque : {{ stockEntryItem.product.translate('fr').brand.translate('fr').name }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Nom du produit : {{ stockEntryItem.product.translate('fr').name }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Code produit : {{ stockEntryItem.product.translate('fr').code }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Code EAN : {{ stockEntryItem.product.translate('fr').eanPart }} / {{ stockEntryItem.product.translate('fr').eanBox }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Quantité : {{ stockEntryItem.quantity }}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">&Eacute;tat : {% if stockEntryItem.productState == 'not-new' %}Non neuf{% else %}Neuf{% endif %}</span><br/>
    <span style="color: #7f7a77; font-size: 24px;">Services additionnels :</span><br/>
    {% if stockEntryItem.washBasins %}
        <span style="color: #7f7a77; font-size: 24px;">Nettoyage vasques</span><br/>
    {% endif %}
    {% if stockEntryItem.dryCleaning %}
        <span style="color: #7f7a77; font-size: 24px;">Pressing</span><br/>
    {% endif %}
    {% if stockEntryItem.washGlasses %}
        <span style="color: #7f7a77; font-size: 24px;">Nettoyage verres</span><br/>
    {% endif %}
    {% if stockEntryItem.washBasins == false and stockEntryItem.dryCleaning == false and stockEntryItem.washGlasses == false %}
        <span style="color: #7f7a77; font-size: 24px;">Aucun</span>
    {% endif %}
    <br/><br/>
{% endfor %}
</body>
</html>