{% extends 'hub/layout.html.twig' %}

{% block content %}
    <section class="section-form">
        <div class="section__body">
            <div class="form">

                <div class="form__section row">
                    <div class="container col-xl-9 col-md-11">
                        <div class="form__head">
                            <h2 class="form__title">Tarifs & Services</h2>
                        </div>

                        <div class="form__body">
                            <div class="form__group">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et efficitur mi. Proin vitae aliquam sem. Nam condimentum lectus eget lectus vulputate blandit id dictum neque. Phasellus interdum libero vitae dui tincidunt eleifend. Cras consequat orci non orci mattis, et consequat lacus euismod. Aliquam ullamcorper ullamcorper malesuada. Duis efficitur aliquet leo, vel viverra felis sodales at. Mauris vel mi sit amet urna posuere aliquet ac porta quam.
                                </p><p>
                                    Pellentesque dapibus turpis ut arcu vulputate, at ultricies magna dictum. Cras et mollis nulla, sed eleifend lorem. In eu lacus nulla. Donec laoreet ante sed erat sodales euismod. Sed nunc dui, viverra non enim ut, laoreet varius sapien. Maecenas non augue vel orci mattis mattis nec sollicitudin tellus. Integer ac nulla non lorem vulputate tincidunt. Cras eleifend mollis ligula vel viverra. Cras porttitor felis ac quam dictum vehicula.
                                </p><p>
                                    Suspendisse magna odio, tempus in maximus sit amet, lacinia id felis. Ut sed molestie quam. Cras in faucibus ante. Aliquam condimentum diam odio, ac eleifend erat fringilla ultrices. In vehicula elementum eros, ut tincidunt lorem pellentesque a. Praesent varius tempor felis a maximus. Donec tincidunt magna ut sodales semper. Sed feugiat, libero fermentum ultrices venenatis, elit tellus porta nibh, id elementum ipsum metus vel nisl. Mauris at risus aliquam, ultricies erat sit amet, vehicula diam. Fusce lacus ligula, porttitor ut cursus vitae, placerat vitae ligula. Aliquam tempor metus et nulla fermentum, ac dictum enim varius. Donec est est, volutpat vel vestibulum at, finibus nec ex. Integer dapibus quis eros vel viverra.
                                </p><p>
                                    Duis ultricies imperdiet dui quis bibendum. Duis posuere dolor sit amet leo cursus consectetur. Suspendisse ac mauris mi. Proin vitae augue quis enim varius feugiat. Etiam ex enim, facilisis ut maximus a, eleifend at leo. Curabitur viverra, neque a pulvinar dapibus, ligula purus fringilla mauris, et aliquam metus leo at quam. Nunc eu vulputate nisi. Aliquam viverra, lorem ut tempus dignissim, odio lectus sodales eros, non elementum nibh enim eget risus. Cras in diam a arcu elementum lobortis in id eros. Praesent rutrum, metus sed finibus feugiat, risus justo tempus purus, vitae euismod nisi diam ut nisi. Integer condimentum accumsan consequat.
                                </p><p>
                                    Nullam pulvinar sollicitudin metus. Vivamus volutpat leo velit, sed scelerisque lorem vestibulum eu. Fusce rhoncus nibh imperdiet metus venenatis pretium. Mauris gravida ipsum eu urna maximus congue. Donec aliquet elit vitae nunc vestibulum dictum. Mauris vel semper mi, eget euismod est. Phasellus dapibus tellus non lacus ultrices, eu dictum enim molestie. Praesent consectetur auctor sem gravida tempor. Praesent scelerisque, dolor nec ultricies venenatis, lorem lectus tempor purus, sed luctus nisi est et mauris.
                                </p><p>
                                    Quisque nisi urna, ullamcorper non molestie vulputate, dignissim eget mauris. Donec porta condimentum odio id hendrerit. Ut scelerisque dignissim felis, non ultricies sem mollis nec. Phasellus ante libero, euismod sit amet elit quis, scelerisque consectetur est. Duis magna justo, convallis a dolor eu, semper vestibulum neque. Praesent ex libero, condimentum a lectus ac, fringilla aliquam mauris. Cras ullamcorper eget purus quis tempor. Morbi venenatis, turpis vulputate aliquam volutpat, mi ipsum egestas est, laoreet cursus magna purus non risus. Sed sagittis leo eget tempus pulvinar. Sed vitae augue efficitur, scelerisque neque non, condimentum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                </p><p>
                                    Donec cursus erat ex, at pharetra leo tristique in. Pellentesque vel urna magna. Aenean quis purus maximus, maximus elit et, volutpat nibh. Fusce malesuada neque in turpis imperdiet, ac congue dolor laoreet. Etiam malesuada in nisl a tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis cursus finibus est id varius. Proin ac sapien urna.
                                </p><p>
                                    Nullam placerat suscipit tortor vel vulputate. Etiam mi arcu, ornare nec nisi ut, tincidunt accumsan lacus. Ut gravida rutrum elit vitae lacinia. Nam vulputate faucibus felis, at viverra augue tincidunt ac. Nullam pellentesque luctus lacinia. Pellentesque aliquam nibh nulla, in rhoncus augue tincidunt vitae. Aenean ultricies sagittis lorem, a faucibus lacus posuere ac. Integer maximus sapien sapien. Vivamus in erat bibendum, dapibus leo vel, vehicula ex. Vestibulum semper eros dolor. Maecenas scelerisque mi egestas, tempor enim ut, pretium ipsum. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque et eleifend tellus, a volutpat nulla.
                                </p><p>
                                    Etiam efficitur vestibulum mattis. Morbi iaculis ante a ullamcorper aliquet. Ut dignissim ultrices est vitae lobortis. Nulla facilisi. Fusce laoreet rhoncus diam, eu suscipit metus molestie eu. Vestibulum magna purus, euismod vel nisl non, condimentum mattis augue. Nam id maximus sem, sed maximus neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sit amet odio convallis gravida. Curabitur pulvinar pulvinar venenatis. Duis semper elit eget iaculis finibus.
                                </p><p>
                                    Nunc et viverra lacus, in tempor sapien. Nullam lobortis augue eu nunc cursus vehicula. Quisque nec augue vitae dolor efficitur bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Nullam nec lacus eu sapien blandit sollicitudin. Sed sit amet nisl quis erat tempus interdum. Aenean urna metus, elementum sit amet ante sed, venenatis gravida ligula. Sed sapien lectus, imperdiet eu convallis nec, tempus vel massa.
                                </p>
                                <p>
                                    <a href="" target="_blank" class="btn btn--dark">Télécharger le CSV</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- /.form -->
        </div><!-- /.section__body -->
    </section><!-- /.section -->
{% endblock %}
