{% extends 'hub/layout-mb.html.twig' %}

{% block content %}
    <div class="wrapper">

        <section class="section-default-simple">
            <div class="container container--small">
                <div class="section__inner">
                    <header class="section__head">
                        <h1 class="section__title title">
                            Votre entrée de stock est validée
                        </h1><!-- /.section__title title -->

                        <p><strong>Cliquez ci-dessous pour télécharger le récapitulatif de votre commande et votre bordereau d'envoi.</strong></p>
                    </header><!-- /.section__head -->

                    <div class="section__body">
                        {# <div class="block-simple-info">
                            <div class="block__inner">
                                <div class="block__content">
                                    <h4 class="block__title">
                                        Récapitulatif de la commande
                                    </h4><!-- /.block__title -->
                                </div><!-- /.block__content -->

                                <div class="block__actions">
                                    <a href="{{ path('stock_entry_summary_pdf', { 'stockEntryId' : stockEntry.id }) }}" class="btn btn--dark btn--auto">
                                        Télécharger le récapitulatif <br> de la commande
                                    </a>
                                </div><!-- /.block__actions -->
                            </div><!-- /.block__inner -->
                        </div><!-- /.block-simple-info --> #}

                        <div class="block-simple-info">
                            <div class="block__inner">
                                <div class="block__content">
                                    <h4 class="block__title">
                                        Informations à communiquer au transporteur pour l'envoi
                                    </h4><!-- /.block__title -->

                                    <h6 class="block__subtitle">
                                        Machandises à ramasser à l'adresse suivante :
                                    </h6><!-- /.block__subtitle -->

                                    <div class="block__entry">
                                        <p>
                                            {{ stockEntry.username }} <br>
                                            {{ stockEntry.stock.translate('fr').name }} {{ stockEntry.stock.translate('fr').code }} <br>
                                            {% if stockEntry.pickUpLocation == constant("App\\Entity\\Project::CAVE_115") %}
                                                Quai de déchargement du 115 (Service courrier)<br/>
                                            {% else %}
                                                Etage : {{ stockEntry.floor }} <br>
                                                N° bureau : {{ stockEntry.officeNumber }} <br>
                                            {% endif %}
                                        </p>
                                    </div><!-- /.block__entry -->
                                </div><!-- /.block__content -->

                                <div class="block__actions">
                                    <a href="{{ path('stock_entry_packing_slip_pdf', { 'stockEntryId' : stockEntry.id }) }}" class="btn btn--dark btn--auto">
                                        Télécharger <br> le bordereau d'envoi
                                    </a>
                                </div><!-- /.block__actions -->
                            </div><!-- /.block__inner -->
                        </div><!-- /.block-simple-info -->
                    </div><!-- /.section__body -->

                    <div class="section__foot">
                        <p class="section__error">Merci de transmettre ces documents au transporteur ou à votre fournisseur pour qu'ils suivent la marchandise</p><!-- /.section__error -->
                        {# <p class="section__error">Note : la mise à jour des entrées de stock au sein de votre catalogue se fait à 13H30 & 20H30</p> #}
                        <!-- /.section__error -->
                    </div><!-- /.section__foot -->
                </div><!-- /.section__inner -->
            </div><!-- /.container -->
        </section><!-- /.section-default-simple -->
        {% if is_granted('ROLE_GENERAL_ADMIN') or app.user.stocks|length > 0 %}
            <div class="block__actions" style="text-align: center">
                <a href="{{ path('account') }}" class="btn btn--dark btn--auto">
                    <img class="svg" src="{{ asset('assets/myboxes/images/boxes.svg') }}" alt="">
                    <span>Retour à mon Dashboard</span>
                </a>
            </div>
        {% endif %}
    </div><!-- /.wrapper -->
{% endblock %}
