{% set menuActive = 'detect' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Détecteur de reste à faire" %}

{% block content %}
    <div class="row">

        <!-- Stats -->

        <div class="col-md-12">

            {% if userDetect %}
                <div class="col-md-12">
                    <div class="box bg-danger darken" style="margin-bottom: 2px;">
                        <div class="box-cell p-x-3 p-y-1">
                            <div class="font-weight-bold  font-size-13"  style="margin-bottom:8px;"><i class="ion-android-lock"></i> &nbsp; Utilisateur admin@gmail.com par défaut </div>
                            <div class=" font-size-12" style="border-left: 4px solid rgba(255,255,255, 0.9);padding-left: 10px;">Le mot de passe de l'admin@gmail.com est toujours <b>admin</b>...<br>
                                Merci de le changer <a href="{{ path('admin_user_edit', {id: user.id}) }}"><b>En cliquant ici</b></a>
                            </div>
                            <i class="box-bg-icon middle right font-size-52 ion-android-lock"></i>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="box bg-success darken" style="margin-bottom: 2px;">
                        <div class="box-cell p-x-3 p-y-1">
                            <div class="font-weight-semibold font-size-12" style="margin-bottom: 0;"><i class="ion-android-lock"></i> &nbsp; Utilisateur admin@gmail.com n'est pas avec un mot de passe par défaut </div>
                            <i style="font-size: 30px !important;" class="box-bg-icon middle right font-size-52 ion-android-lock"></i>
                        </div>
                    </div>
                </div>
            {% endif %}



            {% if recaptcha %}
                <div class="col-md-12">
                    <div class="box bg-danger darken" style="margin-bottom: 2px;">
                        <div class="box-cell p-x-3 p-y-1">
                            <div class="font-weight-bold  font-size-13"  style="margin-bottom:8px;"><i class="ion-android-lock"></i> &nbsp;  Recaptcha Désactivé </div>
                            <div class=" font-size-12" style="border-left: 4px solid rgba(255,255,255, 0.9);padding-left: 10px;">Merci de mettre <b>recaptcha_enable</b> à true, de configurer la <b>clé privée</b> et la <b>clé publique</b> dans le parameters.yml <br/>
                                et de mettre des recaptcha sur <b>tous les formulaires</b> pouvant être utilisés anonymements en front.<br>
                                <em style="font-size: 9px">Merci de contacter le client pour le compte recpatcha et de le faire modifier par le développeur en charge de la commande</em>
                            </div>
                            <i class="box-bg-icon middle right font-size-52 ion-android-lock"></i>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="box bg-success darken" style="margin-bottom: 2px;">
                        <div class="box-cell p-x-3 p-y-1">
                            <div class="font-weight-semibold font-size-12" style="margin-bottom: 0;"><i class="ion-android-lock"></i> &nbsp; Recaptcha Activé </div>
                            <i style="font-size: 30px !important;" class="box-bg-icon middle right font-size-52 ion-android-lock"></i>
                        </div>
                    </div>
                </div>
            {% endif %}




            {% if fav %}
                <div class="col-md-12">
                    <div class="box bg-warning darken" style="margin-bottom: 2px;">
                        <div class="box-cell p-x-3 p-y-1">
                            <div class="font-weight-bold  font-size-13"  style="margin-bottom:8px;"><i class="ion-android-image"></i> &nbsp; Favicon</div>
                            <div class="font-size-12" style="border-left: 4px solid rgba(255,255,255, 0.9);padding-left: 10px;">Le favicon est toujours celui de Symfony...<br>
                                <em style="font-size: 9px">Merci de le faire modifier par le développeur en charge de la commande</em>
                            </div>
                            <i class="box-bg-icon middle right font-size-52 ion-android-image"></i>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="box bg-success darken" style="margin-bottom: 2px;">
                        <div class="box-cell p-x-3 p-y-1">
                            <div class="font-weight-semibold font-size-12" style="margin-bottom: 0;"><i class="ion-android-image"></i> &nbsp; Favicon n'est pas par défaut </div>
                            <i style="font-size: 30px !important;" class="box-bg-icon middle right font-size-52 ion-android-image"></i>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if ga %}
                <div class="col-md-12">
                    <div class="box bg-warning darken" style="margin-bottom: 2px;">
                        <div class="box-cell p-x-3 p-y-1">
                            <div class="font-weight-bold  font-size-13"  style="margin-bottom:8px;"><i class="ion-arrow-graph-up-right"></i> &nbsp; Google analytics non définit</div>
                            <div class="font-size-12" style="border-left: 4px solid rgba(255,255,255, 0.9);padding-left: 10px;">
                                Mettre l'identificant GTM dans le parameters.yml sous la clé <b>gtm_id</b> et de mettre le <b>gtm_enable</b> à true<br>
                                <em style="font-size: 9px">Merci de le faire modifier par le développeur en charge de la commande</em>
                            </div>
                            <i class="box-bg-icon middle right font-size-52 ion-arrow-graph-up-right"></i>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="box bg-success darken" style="margin-bottom: 2px;">
                        <div class="box-cell p-x-3 p-y-1">
                            <div class="font-weight-semibold font-size-12" style="margin-bottom: 0;"><i class="ion-arrow-graph-up-right"></i> &nbsp; Google analytics Activé </div>
                            <i style="font-size: 30px !important;" class="box-bg-icon middle right font-size-52 ion-arrow-graph-up-right"></i>
                        </div>
                    </div>
                </div>
            {% endif %}


        </div>

        <!-- / Stats -->

    </div>
{% endblock %}
