{% set menuActive = 'fail2bans' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Tentatives de connexion' %}


{%  block options %}
    <a class="btn btn-warning btn-xs" href="{{ path('admin_fail2ban_export') }}">
        <i class="fa fa-download "></i> Exporter
    </a>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            {% include "@Admin/Fail2Ban/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>






        <div class="col-md-12 col-sm-12">

            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                    <tr>
                        <th class="cansort {% if pagination.isSorted('u.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'u.id') }} {% if pagination.isSorted('u.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.username') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Login', 'u.username') }} {% if pagination.isSorted('u.username') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.ip') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'IP', 'u.ip') }} {% if pagination.isSorted('u.ip') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.route') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Uri', 'u.route') }} {% if pagination.isSorted('u.route') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('u.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'u.created') }} {% if pagination.isSorted('u.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if pagination|length <= 0 %}
                        <tr>
                            <td colspan="100">Aucun résultat trouvé.</td>
                        </tr>
                    {% else %}
                        {% for fail2ban in pagination %}
                            <tr >
                                <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ fail2ban.id }}</td>
                                <td style="font-size: 12px;vertical-align:middle;">{{ fail2ban.username }}</td>
                                <td style="width: 150px;text-align:center;vertical-align:middle;font-size: 12px;"><b>{{ fail2ban.ip }}</b></td>
                                <td style="width: 150px;text-align:center;vertical-align:middle;color:gray;font-size: 11px;">{{ fail2ban.route }}</td>
                                <td style="vertical-align:middle;width: 150px;text-align:center; color:gray;font-size: 11px;">{{ fail2ban.created|date("m/d/Y h:i", "Europe/Paris") }}</td>
                                <td style="vertical-align: middle;text-align: center; width: 100px;font-size: 11px;" class="{% if fail2ban.success %}bg-success{% else %}bg-warning{% endif %}">
                                    {% if fail2ban.success %}Réussite{% else %}Erreur{% endif %}
                                </td>
                                <td style="width: 100px;text-align:center;vertical-align:middle;">

                                    <a title="Supprimer" href="{{ path('admin_fail2ban_delete', {'id': fail2ban.id}) }}" class="btn btn-xs btn-danger delete-button">
                                        <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
