input[type=checkbox][disabled] {
    display: none;
}

.cansort a{
    color: rgba(255,255,255,0.8);
}

a > img {
    outline: none;
}

.dropdown-item.padding {
    padding: 10px 15px;
    display: block;
}

.cansort a:hover{
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.sorted a{
    color: rgba(255,255,255,1);
}

.sorted a:hover{
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.sorted .fa-sort-desc{
    position: relative;
    top: 3px;
}
.sorted .fa-sort-asc{
    position: relative;
    top: 9px;
}
.cansort .sortable{
    color: white;
    font-weight: bold;
}


.flash-danger{
    background: #f8b2b2 !important;
    color: #e66454 !important;
}

.jquery-validate-error ul{
    list-style: none;
    margin: 5px 0;
    text-indent: 0;
    padding: 0;
}

.help-block-noevol{
    color: #959595 !important;
    background: none !important;
    border: 0px !important;
}

.help-block-noevol:before{
    display: none;
}

.help-block-noevol:after{
    display: none;
}

.btn-save, .btn-save-withcolor, .btn-send-veolog{
    width: 80%;
    font-weight: bold;
    padding: 25px 0;
    font-size: 18px;
    margin: auto;
    margin-top: 15px;
    display: block;
}

a.btn-send-veolog{
  display: flow-root;
}

.btn-save-withcolor{
    width: 100%;
    padding: 15px 0;
}


.btn-save-withcolor em{
    font-size: 12px;
    position: relative;
    top: -5px;
    font-weight: normal;
    font-style: inherit;
}



.btn-save .fa, .btn-save-withcolor .fa, .btn-send-veolog .fa{
    margin-right: 15px;
}

.photoPreview img{
    padding: 5px;
    border-radius: 10px;
    background: #444;
    border: 5px solid darkgray;
    min-width: 100px;
    max-width: 200px;
    cursor: pointer;
}

.pagination{
    margin-bottom: 0px !important;
}
.pagination > li.active > a, .pagination > li.active > a:active, .pagination > li.active > a:focus, .pagination > li.active > a:hover, .pagination > li.active > span{
    background: #3d4a5d;
    border-color: #3d4a5d;
}
.pager li > a:active, .pager li > a:focus, .pager li > a:hover, .pagination > li > a:active, .pagination > li > a:focus, .pagination > li > a:hover{
    border-color: #3d4a5d;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
    font-size: 12px;
}

.table-disko thead th, .table-disko thead tr {
    background: #48b6d7;
}
.table-disko .table-header, .table-disko thead, .table-disko thead th, .table-disko thead tr {
    border-color: #37a7c8!important;
    color: #fff;
}

.photoPreview img{
    padding: 5px;
    border-radius: 10px;
    background: #444;
    border: 5px solid darkgray;
    min-width: 100px;
    max-width: 200px;
    cursor: pointer;
}


.dz-update-disko{
    line-height: 30px;
    display: block;
    margin: -1px -11px -9px -11px;
    text-align: center;
    color: #666;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid transparent;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.dz-update-disko:hover{
    background: #1d89cf;
    color: #fff;
    border-top-color: transparent;
    text-decoration: none;
}

.input-dropzone-disko{
    display: none;
}

.dropzone-box{
    min-height: 200px;
}

.ck-editor__editable{
    padding-top: 10px !important;
    min-height: 200px;
    padding-bottom: 10px !important;
    background: white;
}

.nav.nav-tabs > li.active > a{
    background: #3d4a5d;
    border-color: #3d4a5d;
    border-bottom-color: #3d4a5d !important;
}
.btn-save, .btn-send-veolog{
    background: #3d4a5d !important;
    border-color: #3d4a5d;
}

.btn-save:hover, .btn-send-veolog:hover{
    background: #3d4a5d !important;
    border-color: #3d4a5d;
}

textarea.form-control{
    height: 200px;
}

.cropper-point.point-se{
    height: 5px !important;
    width: 5px !important;
}

.img-select-mediacenter .supp-media-actions{
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.img-select-mediacenter.canhover:hover .supp-media-actions, .img-select-mediacenter.hover .supp-media-actions{
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.img-select-mediacenter .widget-products-image{
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.img-select-mediacenter.canhover:hover .widget-products-image, .img-select-mediacenter.hover .widget-products-image{
    border-color: #46bb92;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.img-select-mediacenter .img-select-info{
    line-height: 12px;
    background: #f8f8f8;
    padding: 6px 8px 8px 8px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.img-select-mediacenter.canhover:hover .img-select-info, .img-select-mediacenter.hover .img-select-info{
    line-height: 12px;
    background: #46bb92;
    padding: 6px 8px 8px 8px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.img-select-mediacenter.canhover:hover .img-select-info *, .img-select-mediacenter.hover .img-select-info *{
    color: white !important;
}

.dz-error-message{
    display: block !important;
    background: none;
    color: #e46050;
    text-shadow: 1px 0px 0px darkred;
}
.dz-error-mark .fa-times-circle-o{
    display: none;
    opacity: 0;
}

.img-container {
    width: 300px; /* use this as the maxWidth */
    height: 300px; /* use this as the maxHeight */
}

.btn-multilingual{
    display: inline-block;
    position: absolute;
    padding: 1px 4px;
    right: 0px;
    top: 15px;
    z-index: 1050;
    font-size: 11px;
}

.relative-line{
    position: relative;
}

.form-group.alert-warning{
    margin: 0;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.dz-default.dz-message{
    padding-left: 0;
}

.px-nav-collapse > .px-nav-scrollable-area > .ps-container > .px-nav-item > a > span{
    display: none !important;
}

.px-nav-scrollable-area > .px-nav-content {
    padding-bottom: 200px;
}

.label-putonoff{
    position: absolute !important;
    right: 5px;
    top: 5px !important;
    font-size: 8px;
    padding: 0 3px;
    line-height: 14px !important;
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info {
    border-color: grey!important;
    background: #bfbfbf!important;
}
.btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover {
    border-color: grey!important;
    background: #bfbfbf!important;
}


.px-nav-item.active>a.delete-menu{
    color: white !important;
}
.px-nav-dropdown>a.delete-menu:after
{
    display: none;
}
.delete-menu{
    position: absolute !important;
    border-color: #e46050  !important;
    background: #e46050 !important;

    width: 16px;
    padding: 0 !important;
    margin: 0 !important;
    color: white !important;
    font-weight: bold;
    right: 0;
    top: 0;
    line-height: 20px;
    text-align: center;
    box-shadow: none !important;
    font-size: 11px;
}
.delete-menu .text{
    display: none;
}
.delete-menu:hover{
    padding: 0 4px !important;
    background: #e46050 !important;
    width: auto;
    font-size: 11px;
}
.delete-menu:hover .text{
    display: inline-block;
}



.createin-menu{
    position: absolute !important;


    border-color: #59c4e4 !important;
    background: #59c4e4 !important;

    width: 16px;
    padding: 0 !important;
    margin: 0 !important;
    color: white !important;
    font-weight: bold;
    right: 0;
    top: 21px;
    line-height: 20px;
    text-align: center;
    box-shadow: none !important;
    font-size: 11px;
}
.createin-menu .text{
    display: none;
}
.createin-menu:hover{
    padding: 0 4px !important;
    background: #59c4e4 !important;
    width: auto;
    font-size: 11px;
}
.createin-menu:hover .text{
    display: inline-block;
}

.px-nav-collapse .delete-menu:hover .text, .px-nav-collapse .createin-menu:hover .text{
    display: none;
    line-height: 0px;
    color: white !important;
}
.px-nav-collapse .delete-menu {
    line-height: 0px;
    font-size: 9px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    color: white !important;
    border-color: #e46050  !important;
    background: #e46050 !important;

}
.px-nav-collapse .createin-menu {
    line-height: 0px;
    font-size: 9px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    color: white !important;
    border-color: #59c4e4 !important;
    background: #59c4e4 !important;

}

.px-nav-collapse .delete-menu::after, .px-nav-collapse .createin-menu::after {
    display: none !important;
}

.px-nav-collapse .createin-menu {
    top: 13px;
}

.px-nav-dropdown-menu.px-show .px-nav-dropdown-menu>.px-nav-item>a, .px-nav-dropdown-menu>.px-nav-item>a
{
    padding-left: 30px;
}
.px-nav-dropdown-menu .px-nav-dropdown-menu>.px-nav-item>a, .px-nav-dropdown-menu.px-show .px-nav-dropdown-menu .px-nav-dropdown-menu>.px-nav-item>a{
    padding-left: 40px;
}

.px-nav-icon{
    font-size: 14px;
    position: relative;
    top: 1px;
}

.a2lix_translationsLocales{
    margin-right: 100px;
}
.a2lix_translationsLocales .nav-item{
    margin-bottom: 5px;
    /**margin-right: 6px !important;
    margin-left: 6px !important;**/
}

.versions-zone{
    display: block;
    height: 100%;
    width: 0px;
    background: white;
    position: fixed;
    right: 0px;
    top: 0px;
    border: 1px solid rgba(0,0,0,.11);
    z-index: 1500;
    padding: 0px;
    transition: all 0.5s;
    overflow-y: scroll;
}


.versions-zone.active{
    width: 400px;
    padding: 30px;
}

.versions-zone-close{
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 50%;
    padding: 1px 5px;
}

.alert-version {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    background: ghostwhite;
}
.alert-version .label{
    float: right;
}


.alert-version.alert-current{
}

.alert-version .arrow-current{
    position: absolute;
    left: 5px;
    font-size: 12px;
    padding: 0px 5px;
    line-height: 20px;
    border-radius: 50%;
}

.alert-version .dropdown-menu{
    padding-left: 0;
    padding: 0;
    border: 1px solid darkgrey;
}


.alert-version .dropdown-menu li{
    font-size: 12px;
}

.alert-version .dropdown-menu li a{
    font-size: 12px;
    padding: 5px 10px;
}



.navbar-brand .select2{
    width: 500px!important;
    margin-left: 30px;
}

.product-show .field div {
  font-weight: bold;
}


/*
    Document   : flip-scroll
    Created on : 28/02/2012, 11:01:45 AM
    Author     : Simon Elvery
    Description:
        Demonstration of the responsive tables method described at by David Bushell
		at http://dbushell.com/2012/01/05/responsive-tables-2/
*/

@media only screen and (max-width: 800px) {

    .navbar-brand .select2{
        width: 100px !important;
    }
    #flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    #flip-scroll * html .cf { zoom: 1; }
    #flip-scroll *:first-child+html .cf { zoom: 1; }

    #flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }

    #flip-scroll th,
    #flip-scroll td { margin: 0; vertical-align: top; width: 100% !important;
        text-align: center !important;}
    #flip-scroll th { text-align: left; }

    #flip-scroll table { display: block; position: relative; width: 100%; }
    #flip-scroll thead { display: block; float: left; }
    #flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    #flip-scroll thead tr { display: block; }
    #flip-scroll th { display: block; text-align: right; }
    #flip-scroll tbody tr { display: inline-block; vertical-align: top; }
    #flip-scroll td { display: block; min-height: 1.25em; text-align: left; }

    #flip-scroll tbody td a {
        display: inline-block;
        width: 22px;
        overflow: hidden;
        padding-left: 5px;
        color: transparent;}

    #flip-scroll tbody td a i {
        color: black;}

    /* sort out borders */

    #flip-scroll th { border-bottom: 0; border-left: 0; }
    #flip-scroll td { border: none; height: 35px; }
    #flip-scroll tbody tr { border-left: 1px solid #babcbf; }
    #flip-scroll th:last-child,
    #flip-scroll td:last-child { border-bottom: none; }
}
