


.px-nav-item a{
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.px-nav-toggle-pagebuilder{
    display: none;
}

.addbtn {
    text-align: center;
}



.px-nav-return{
    margin-bottom: 20px;
}
.px-nav-return a{
    background: rgba(255,255,255, 0.8);
}
.px-nav-return a:hover{
    background: rgba(255,255,255, 1);
}
.px-nav-general{
    margin-bottom: 0px;
}
.px-nav-general a{
    color: rgba(255,255,255, 0.8);
    background: #3d4a5d;
}
.px-nav-general a:hover{
    color: rgba(255,255,255, 1);
    background: #3d4a5d;
}

.menu-pagebuilder .px-nav-scrollable-area{
    padding-top: 0px;
}

.menu-pagebuilder .px-nav-content{
    padding-bottom: 1000px;
}

.menu-pagebuilder .px-nav-item a{
    color: rgba(255,255,255, 0.7);
    background: #3d4a5d;
}
.menu-pagebuilder .px-nav-item a:hover{
    color: rgba(255,255,255, 1);
    background: #3d4a5d;
}

.menu-pagebuilder .px-nav-options{
    position: relative;
    top: -1px;
}

.menu-pagebuilder .px-nav-options a{
    width: 50%;
    display: inline-block;
    padding: 5px;
    font-size: 11px;
    background: #ececec;
    color: #3d4a5d;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
    border-radius: 0;
}

.menu-pagebuilder .px-nav-options a.btn-export{
    border-right: none;
}
.menu-pagebuilder .px-nav-options a.btn-export:hover{
    border-color: #dc9c41;
    background: #f4ab43;

    border-left: none;
    border-right: 1px solid #dc9c41;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}
.menu-pagebuilder .px-nav-options a.btn-import:hover{
    border-color: #59b0cb;
    background: #59c4e4;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}
.menu-pagebuilder .px-nav-options a i {
    position: relative;
    bottom: -1px;
}
.menu-pagebuilder .px-nav-options a:hover i {
    color: white !important;
}

.menu-pagebuilder .px-nav-element{
    display: table;
    border: 1px solid transparent;
}
.menu-pagebuilder .px-nav-element a{
    color: #3d4a5d;
    background: #e5e5e5;
    display: inline-block;
    width: 100%;
}
.menu-pagebuilder .px-nav-element a .px-nav-label{
    position: relative;
    top: -2px;
}
.menu-pagebuilder .px-nav-element a:hover{
    color: #3d4a5d;
    background: #e5e5e5;
}

.menu-pagebuilder .px-nav-element a.delete-element{
    background: #9f7474;
    color: white;
    padding: 0px;
    text-align: center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 20px;
    font-size: 10px !important;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}
.menu-pagebuilder .px-nav-element a.delete-element:hover{
    background: red;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
    font-size: 12px !important;
}

.menu-pagebuilder .px-nav-element a.delete-element i{
    margin: 0 !important;
    font-size: 10px !important;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}
.menu-pagebuilder .px-nav-element a.delete-element:hover i{
    margin: 0 !important;
    font-size: 14px !important;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}

.menu-pagebuilder .px-nav-item .information{
    font-size: 10px;
    line-height: 10px;
    padding-left: 25px;
    padding-bottom: 3px;
}

.menu-pagebuilder .px-nav-item .information img{
    width: 80%;
    max-height: 35px;
    margin-top: 5px;
}


.menu-pagebuilder .px-nav-item .information .options{
    padding-top: 8px;
    font-size: 10px;
    line-height: 10px;
    color: steelblue;
}
.menu-pagebuilder .px-nav-item .information .options > div{
    padding-top: 1px;
}


.menu-pagebuilder .insert-here{
    position: relative;
    height: 8px;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}
.menu-pagebuilder .insert-here:hover,
.menu-pagebuilder .insert-here-show{
    height: 27px;
    padding-top: 5px;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}
.menu-pagebuilder .insert-here{
    text-align: center;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
    list-style: none;
}
.menu-pagebuilder .insert-here .add{
    opacity: 0;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
    font-size: 11px;
}

.menu-pagebuilder .insert-here .add span.text{
    position: relative;
    top: -2px;
}
.menu-pagebuilder .insert-here:hover .add,
.menu-pagebuilder .insert-here-show .add{
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
    opacity: 1;
    position: relative;
    height: 3px;
}

.px-nav-general-title a{
    color: #3d4a5d !important;
    background: white !important;
    padding: 5px 10px;
    font-weight: 600;
}




/** ZONE UPDATE **/
.zone-update{
    background:rgba(0,0,0,0.5);
    height: 0;
    -webkit-box-shadow: -1px 0 0 #d8dddf inset;
    box-shadow: -1px 0 0 #d8dddf inset;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 1020;
    -webkit-transition: height 0.2s; /* Safari */
    transition: height 0.2s;
    opacity: 0;
}

.zone-update.active{
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
    height: 100%;
    opacity: 1;
}


.zone-update .close{
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 35px;
    cursor: pointer;
}

.zone-update .closebtn{
    position: absolute;
    left: 15px;
    top: 5px;
    cursor: pointer;
}

.zone-update .content{
    margin: auto;
    /**opacity: 0;**/
    width: 90%;
    overflow-y: scroll;
    max-height: 100%;
    height: 0;
    background: white;
    padding: 50px;
    margin: 0;
    margin-left: 10%;
    border-left: 10px solid #59C4E6;
    position: relative;
}

.zone-update.active .content{
    height: 100%;
    /**opacity: 1;**/
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.zone-update .form-group{
    position: relative;
}

.zone-update .content h4{
    border-bottom: 1px solid #d8dddf;
    padding: 0 0 10px 0;
    font-size: 22px;
    margin-top: 0px;
}

.zone-update .content form
{
    width: 90%;
    margin: auto;
}

.zone-update .component-select{

    /**
    color: rgba(61, 74, 93, 0.7);
    background: #e5e5e5;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    min-height: 110px;**/
    min-height: 100px;
    background: #efefef;

}
.zone-update .component-select:hover{
    /**
    color: rgba(61, 74, 93, 1);
    background: #e5e5e5;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;**/
    background: white;
    border-color: #59C4E6;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
    color: #444;
}

.zone-update .component-select .label-ribbon{
    left: -18px;
    top: 5px;
    font-size: 12px;
}


.zone-update .component-select .list-group-item-text{
    font-size: 11px;
    padding-top: 25px;
}

.zone-update .content .row-content{
    max-height: 550px;
    overflow-y: scroll;
}

.zone-update .search{
    font-size: 12px;
}

.zone-save{
    display: none;
}

.select2-container{
    z-index: 1020 !important;
}
.select2-dropdown{
    z-index: 1020 !important;
}
.px-nav-element.dragndrop-select {
    border: 1px dashed #9f7474;
    opacity: 0.5;
    z-index: 4000;
}
.ui-droppable-active {
    height: 10px !important;
    cursor: crosshair;
    background: #eaeaea;
    border: 1px dashed darkgrey;
}
li.droppable-ready {
    border: 1px dashed #3d4a5d;
}

.dragndrop-hoverdrop{
    border: 1px dashed #f8ffff;
    height: 10px !important;
    background: #a9d5de;
    cursor: crosshair;
}


.ui-droppable-active a.add{
    display: none;
}
.dragndrop-hoverdrop a.add{
    display: none;
}


.component-menu-active{
    border: 1px dashed lightskyblue !important;
}
a.edit-element{
    -webkit-transition: all 0.2s; /* Safari */
}
.component-menu-find a.edit-element{
    background: lightskyblue !important;
    -webkit-transition: all 0.2s; /* Safari */
}

.component{
    border: 1px dashed transparent;
    margin-bottom: 1px;
    position: relative;
}

.component *{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-top: 8px;
}

.component:hover{
    border: 1px dashed lightskyblue;
}


.component .bar-action{
    background: #EFEFEF;
    padding: 0 10px;
    text-align: right;
    position: absolute;
    display: block;
    opacity: 0;
    -webkit-transition: all 0.2s; /* Safari */
    z-index: 100;
    width: 95px;
    right: 0;
}


.component:hover .bar-action{
    display: block;
    opacity: 0.8;
    -webkit-transition: all 0.2s; /* Safari */
}

.component:hover .bar-action:hover{
    opacity: 1;
    -webkit-transition: all 0.2s; /* Safari */
}

.component .bar-action .delete-element-relay{
    color: #9f7474;
}
.component .bar-action .delete-element-relay:hover{
    color: red;
}
.component .bar-action .see-element-relay{
    color: darkseagreen;
}
.component .bar-action .see-element-relay:hover{
    color: forestgreen;
}


.moving-up{
    position: fixed;
    opacity: 0.5;
    bottom: -5px;
    right: 10%;
    z-index: 200;
    -webkit-transition: all 0.2s; /* Safari */
}

.moving-up:hover{
    opacity: 1;
    bottom: 0px;
    -webkit-transition: all 0.2s; /* Safari */
}

.component-no-preview .title-component{
    color: #494949;
    font-weight: bold;
}
.component-no-preview .nojs-component{
    color: #494949;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
}
.component-no-preview{
    background: #e5e5e5;
}

.search-components{
    width: 350px;
    display: inline-block;
    float: right;
    position: relative;
    top: -3px;
}

.btn-backcomponents, .btn-backcomponents:hover{
    color: #fff;
    border-color: #59c4e4;
    background: #59c4e4;
    position: absolute;
    left: -10px;
    margin-left: 9px;
    border: none;
    top: 10px;
}

.alert-mini{
    padding: 5px;
    font-size: 11px;
    margin:0;
}

.zone-update .content-container{
    position: absolute;
    top: 0px;
    left: 10%;
    width: 90%;
    height: 0;
    opacity: 0;
    background: white;
}


.zone-update.active .content-container{
    height: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
