<form action="" class="form-horizontal" method="get" enctype="multipart/form-data" novalidate >

    {% include "@Admin/partials/form/date-line.html.twig" with {
        'form' : form.start,
        'label': "Date de début",
    } %}

    {% include "@Admin/partials/form/date-line.html.twig" with {
        'form' : form.end,
        'label': "Date de fin",
    } %}

    <div class="form-group panel-block">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>
