{% set menuActive = 'db-detect' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Détecteur des différences Entities/Doctrine" %}

{% block menu %}
    {% if not secure %}{{ parent() }}{% endif %}
{% endblock %}

{% block headbar %}
    {% if not secure %}{{ parent() }}{% endif %}
{% endblock %}

{% block content %}
    <div class="row">

        <!-- Stats -->

        <div class="col-md-12">

            {% if canexec %}
            <pre class="bg-success">{% spaceless %}{{ output|replace({'The following SQL statements will be executed:': "Les requêtes SQL suivantes devraient être executées:"}) }}{% endspaceless %} </pre>
            {% else %}
                <pre class="bg-info">Tout est clean...</pre>
            {% endif %}
            <p style="text-align: center">
                {% if canexec %}
                    <a href="{{ path('admin_database_force_update') }}" class="btn btn-success"><i class="fa fa-cogs"></i> Executer</a>
                {% else %}
                    <br/>
                    <em>Il n'y a rien à executer...</em><br/><br/>
                {% endif %}

                {% if secure %}
                    <a href="{{ path('admin_homepage') }}" class="btn btn-warning">Passer l'étape</a>
                {% endif %}
            </p>
        </div>

        <!-- / Stats -->

    </div>
{% endblock %}
