{% extends 'admin/layout.html.twig' %}

{% block mainTitle 'Entrées de stock 115' %}

{% block options %}
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search"></i> Rechercher
    </a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .flash-message {
            top: -4.6rem;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row position-relative">
        <div class="position-absolute flash-message">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-md-12 m-b-2 col-sm-12 search-zone" {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">
                        <div class="panel-body">
                            {% include "admin/StockEntry/partials/searchList.html.twig" with {'form': form} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">
                                {{ knp_pagination_sortable(pagination, "N° de l'entrée", 'e.id') }}
                                {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}
                            </th>
                            <th>Stock</th>
                            <th class="cansort {% if pagination.isSorted('se.created') %}sorted{% endif %}">
                            {{ knp_pagination_sortable(pagination, "Créée le", 'se.created') }}
                            {% if pagination.isSorted('se.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}
                            </th>
                            <th>Demandeur</th>
                            <th>Code produit</th>
                            <th>Nom du produit</th>
                            <th>Code EAN (piece)</th>
                            <th>Code EAN (carton)</th>
                            <th class="cansort {% if pagination.isSorted('se.pickUpDate') %}sorted{% endif %}">
                            {{ knp_pagination_sortable(pagination, "Date de ramassage", 'se.pickUpDate') }}
                            {% if pagination.isSorted('se.pickUpDate') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}
                            </th>
                            <th>Statut</th>
                            <th>Bordereau d'envoi</th>
                            {# <th>Action</th> #}
                        </tr>
                    </thead>

                    <tbody>
                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% if pagination.count %}
                                {% set stock_entry_id = pagination[0].stockEntryId %}
                            {% endif %}
                            {% set id_loop = 0 %}
                            {% for item in pagination %}
                                {% set change_id = stock_entry_id != item.stockEntryId %}
                                {% if not change_id %}
                                    {% set id_loop = id_loop + 1 %}
                                {% else %}
                                    {% set id_loop = 0 %}
                                {% endif %}
                                <tr>
                                    <td class="text-center" style="vertical-align:middle;width: 80px;font-size: 10px;">
                                        {% if not id_loop or not loop.index0 %}
                                            {{ item.stockEntryId }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not id_loop or not loop.index0 %}
                                            {{ item.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not id_loop or not loop.index0 %}
                                            {{ item.created|date('d/m/Y H:i') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not id_loop or not loop.index0 %}
                                            {{ item.username }}
                                        {% endif %}
                                    </td>
                                    <td>{{ item.code }}</td>
                                    <td>{{ item.productName }}</td>
                                    <td class="text-center">{{ item.eanPart|length ? item.eanPart : '-' }}</td>
                                    <td class="text-center">{{ item.eanBox|length ? item.eanBox : '-' }}</td>
                                    <td>
                                        {% if not id_loop or not loop.index0 %}
                                            {{ item.pickUpDate|date('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set style = 'text-dark' %}
                                        {% if item.status == 'ok' %}
                                            {% set style = 'text-success' %}
                                            {% set label = 'Complète' %}
                                        {% elseif item.status == 'partial' %}
                                            {% set style = 'text-warning' %}
                                            {% set label = 'Incomplète' %}
                                        {% elseif item.status == 'empty' %}
                                            {% set style = 'text-danger' %}
                                            {% set label = 'Annulée' %}
                                        {% elseif item.status == constant('App\\Entity\\StockEntry115::STATE_ITEM_CREATE') %}
                                            {% set style = 'text-info' %}
                                            {% set label = 'En attente de traitement' %}
                                        {% elseif item.status == constant('App\\Entity\\StockEntry115::STATE_IN_STOCK') %}
                                            {% set style = 'text-info' %}
                                            {% set label = 'Terminée' %}
                                        {% elseif item.status == constant('App\\Entity\\StockEntry115::STATE_ITEM_VALIDATE') %}
                                            {% set style = 'text-info' %}
                                            {% set label = 'Validée' %}
                                        {% else %}
                                            {% set label = item.status %}
                                        {% endif %}

                                        <b class="{{ style }}">{{ label }}</b>
                                    </td>
                                    <td>
                                        {% if not id_loop or not loop.index0 %}
                                            <a href="{{ path('admin_stock_entry_item_115_stock_entry_packing_slip_pdf', { 'id' : item.stockEntryId }) }}" class="btn btn--dark btn--auto">
                                                Télécharger
                                            </a>
                                        {% endif %}
                                    </td>
                                    {# <td class="text-center">
                                        {% if not id_loop or not loop.index0 %}
                                            <form method="post" action="{{ path('admin_stock_entry_item_115_delete_stock_entry_115', {'id': item.stockEntryId}) }}" class="d-inline-block js-delete-stock-entry-form" data-id="{{ item.stockEntryId }}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="askLocale" value="{{ askLocale }}">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete_stock_entry_115_' ~ item.stockEntryId) }}">
                                                <button type="button" class="btn btn-xs btn-danger js-delete-stock-entry-btn" data-id="{{ item.stockEntryId }}">
                                                    <i class="fa fa-trash-o text-white" style="transition: all 30s linear;"></i>
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td> #}
                                </tr>
                                {% set stock_entry_id = item.stockEntryId %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, 'admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirm-delete-stock-entry-modal" tabindex="-1" aria-labelledby="confirm-delete-stock-entry-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body h-263px d-flex align-items-center justify-content-center px-5 py-4">
                    <div>
                        <div class="text-center">
                            <input type="hidden" class="js-stock-entry-id">
                            <h3 class="font-weight-semibold" style="font-size: 18px">Attention!</h3>
                            <p style="font-size: 18px">Voulez-vous supprimer l'entrée de stock 115 n° <span class="js-text-stock-entry-id"></span> ? Cette action est irréversible.
                            </p>
                            <p style="font-size: 18px">Voulez-vous continuer?</p>
                        </div>
                        <div style="display: flex;justify-content: space-between">
                            <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" style="font-size: 14px; font-weight: 500">Annuler</button>
                            <button type="button" class="btn btn-lg bg-danger text-white js-confirm-delete-stock-entry-btn" style="font-size: 14px;font-weight: 500">Confirmer la suppression</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        setTimeout(function () {
            $('.alert').slideUp(500);
        }, 2500);

        $('.js-delete-stock-entry-btn').click(function () {
            $('#confirm-delete-stock-entry-modal .js-stock-entry-id').val($(this).data('id'));
            $('#confirm-delete-stock-entry-modal .js-text-stock-entry-id').text($(this).data('id'));
            $('#confirm-delete-stock-entry-modal').modal('show');
        });

        $('.js-confirm-delete-stock-entry-btn').click(function () {
            let id = $(this).closest('#confirm-delete-stock-entry-modal').find('.js-stock-entry-id').val();
            $('.js-delete-stock-entry-form[data-id="' + id + '"]').submit();
        });
    </script>
{% endblock %}
