/* ------------------------------------------------------------ *\
	Accordion
\* ------------------------------------------------------------ */

.accordion {
	.accordion__section {
		border-top: 1px solid $c-grey;
		&:last-child {
			border-bottom: 1px solid $c-grey;
		}

		&.is-current {
			.accordion__expand {
				span:nth-child(2) {
					transform: rotate(0);
				}
			}
		}
	}

	.accordion__expand {
		width: 7px;
		height: 7px;
		position: relative;

		span {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 7px;
			height: 2px;
			background-color: $c-dark;
			display: inline-block;
			transition: transform 0.3s, background 0.3s;

			&:nth-child(2) {
				transform: rotate(90deg);
			}
		}
	}

	.accordion__remove {
		width: 7px;
		height: 7px;
		position: relative;
		cursor: pointer;
		color: red;
		left: 15px;
	}

	.accordion__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 23px 15px 18px 0;
	}

	.accordion__head h6 {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.5px;
	}

	.accordion__body {
		padding-bottom: 10px;
	}
}
