/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
	min-width: 320px;
	padding-bottom: 0;
	background: $c-white;
	font-family: $f-trebuchet;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $c-dark;
	font-weight: normal;
}

a {
	color: $c-dark;
	text-decoration: underline;
	transition: all $t-duration;

	&:hover {
		color: $c-brown-light;
		text-decoration: underline;
	}

	&[href^='tel'] {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
	margin-bottom: 1.22em;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-weight: normal;
}

h1 {
	font-size: 50px;
	line-height: 1.64;
	font-family: $f-moet;

	/*Tablet Portrait*/
	@include breakpoint-tablet-portrait {
		font-size: 30px;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		font-size: 30px;
		line-height: 1.25;
	}
}

h2 {
	font-size: 44px;
	line-height: 1.32;

	@include breakpoint-tablet-portrait {
		font-size: 31px;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		font-size: 16px;
		line-height: 1.25;
	}
}

h3 {
	font-size: 28px;
	line-height: 1.75;

	/*Mobile*/
	@include breakpoint-mobile {
		font-size: 14px;
		line-height: 1.43;
	}
}

h4 {
	font-size: 24px;
	line-height: 1.43;

	/*Mobile*/
	@include breakpoint-mobile {
		font-size: 12px;
		line-height: 1.17;
	}
}

h5 {
	font-size: 20px;
	line-height: 1.15;
}

h6 {
	font-size: 16px;
	line-height: 1.25;

	@include breakpoint-tablet-portrait {
		font-size: 12px;
	}
}

body {
	&.scroll-disable {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
	}

	&.show-fixed-header {
		.header {
			transform: translateY(0);
		}
	}
}
