/* ------------------------------------------------------------ *\
	Block Info Alt
\* ------------------------------------------------------------ */

.block-info-alt {
	background-color: rgba($c-grey-2, 0.5);
	padding: 44px 42px 65px;

	.block__actions {
		text-align: center;
		margin-top: 43px;

		.btn {
			min-width: 281px;

			@include breakpoint-mobile {
				min-width: 100%;
				display: block;
			}
		}

		.btn + .btn {
			margin-left: 18px;

			@include breakpoint-mobile {
				margin-left: 0px;
				margin-top: 10px;
			}
		}
	}

	.block__group + .block__group {
		margin-top: 30px;

		@include breakpoint-mobile {
			margin-top: 20px;
		}
	}

	@include breakpoint-mobile {
		padding: 20px;
	}
}
