/* ------------------------------------------------------------ *\
	Block Info SImple
\* ------------------------------------------------------------ */

.block-simple-info + .block-simple-info {
	margin-top: 30px;
}

.block-simple-info {
	.block__inner {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		background-color: rgba(#e3e2dc, 0.5);
		padding: 35px;

		@include breakpoint-mobile {
			padding: 15px;
			display: block;
		}
	}

	.block__content {
		padding-right: 15px;
	}

	.block__actions {
		padding-bottom: 10px;

		@include breakpoint-mobile {
			padding-bottom: 0;
			margin-top: 20px;
		}
	}

	.block__title {
		margin-bottom: 20px;
		font-family: $f-moet;

		@include breakpoint-mobile {
			font-size: 20px;
		}
	}

	.block__subtitle {
		margin-bottom: 20px;
		font-family: $f-trebuchet;
		font-size: 16px;
		line-height: 1.25;
		font-weight: 700;

		@include breakpoint-mobile {
			font-size: 14px;
			margin-bottom: 15px;
		}
	}

	.block__entry {
	}

	.block__entry p {
		font-size: 15px;
		line-height: 1.87;
		color: #7f7a77;

		@include breakpoint-mobile {
			font-size: 14px;
		}
	}

	.block__entry p span {
		font-size: 10px;
		font-weight: 700;
	}

	.block__entry p strong {
	}
}
