/* ------------------------------------------------------------ *\
	Block
\* ------------------------------------------------------------ */

.block-orders {
	.block__head {
		margin-bottom: 34px;
	}

	.block__title {
		h4 {
			font-family: $f-moet;
			display: inline-block;
			vertical-align: middle;
		}

		svg {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			path {
				fill: $c-dark;
			}
		}

		&--green {
			svg {
				path {
					fill: $c-green;
				}
			}
		}
	}

	.block__subtitle {
		margin-top: 14px;
		p {
			font-size: 15px;
			font-weight: 700;
			color: $c-base;
		}
	}

	.block__info {
		display: block;
		max-width: 162px;
		margin: 6px auto 0;
		color: $c-grey-dark;
		line-height: 1.26;
		font-size: 15px;
		font-style: italic;
		text-align: left;
	}

	.block__cols {
		//flex-wrap: wrap;
		display: flex;
		justify-content: flex-start;
	}

	.block__col {
		&--1of2 {
			text-align: center;
			flex: 0 0 44%;
		}
	}

	.block__col + .block__col {
		margin-left: 20px;
	}

	.block__row + .block__row {
		margin-top: 60px;
	}

	.block__group + .block__group {
		margin-top: 92px;
	}

	.btn {
		width: 100%;
		display: block;
		height: 52px;
		padding: 0 10px;
	}

	.btn + .toolbox-holder {
		margin-top: 21px;
	}

	@include breakpoint-small-desktop {
		.block__cols {
			flex-wrap: wrap;
		}

		.block__col {
			margin-bottom: 20px;
			flex: 0 0 100%;
		}
		.block__col + .block__col {
			margin-left: 0;
		}

		.btn {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}

	@include breakpoint-tablet-portrait {
		.block__head {
			margin-bottom: 20px;
		}
		.block__row + .block__row {
			margin-top: 0;
		}

		.block__group + .block__group {
			margin-top: 50px;
		}

		.btn + .toolbox-holder {
			margin-top: 10px;
		}
	}

	@include breakpoint-mobile {
		.block__title {
			h4 {
				font-size: 18px;
			}
		}

		.block__group + .block__group {
			margin-top: 20px;
		}

		.block__subtitle {
			p {
				font-size: 14px;
			}
		}
	}
}
