/* ------------------------------------------------------------ *\
	Boxes
\* ------------------------------------------------------------ */

.boxes {
	display: flex;
	justify-content: space-between;
	max-width: 780px;
	margin: auto;

	@include breakpoint-tablet-portrait {
		max-width: 100%;
	}

	@include breakpoint-mobile {
		flex-direction: column;
	}
}

.box {
	width: 49%;
	padding: 18px 30px 33px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: $c-white;
	align-content: space-between;

	.box__title {
		font-family: $f-moet;
		line-height: 1;
		font-size: 36px;

		.svg {
			margin-bottom: -10px;
			margin-right: -10px;
		}
	}

	.box__content {
		width: 100%;
	}

	.box__row {
		position: relative;
		margin-bottom: 14px;
	}

	.box__label {
		position: absolute;
		top: 18px;
		left: 0;
		display: inline-block;
		font-size: 16px;
		font-style: italic;
		font-weight: 400;
		color: rgba($c-base, 0.7);
		transition: top $t-duration, font-size $t-duration;
		pointer-events: none;
	}

	.focused,
	.filled {
		.box__label {
			top: 0;
			font-size: 14px;
			line-height: 1.67;
			font-style: normal;
		}
	}

	.box__controls {
		svg {
			position: absolute;
			top: 22px;
			right: 0;
			pointer-events: none;

			/*Mobile*/
			@include breakpoint-mobile {
				top: 15px;
			}
		}

		.svg-arrow {
			width: 8px;
			height: 5px;
			path {
				fill: #929fa9;
			}
		}
	}

	.box__actions {
		margin-top: 10px;
	}

	@include breakpoint-tablet-portrait {
		.box__head {
			margin-bottom: 10px;
		}
	}

	@include breakpoint-mobile {
		width: 100%;
		margin-bottom: 10px;
	}
}

.box--green {
	.box__title {
		color: $c-green;
	}
}
