/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn {
	position: relative;
	display: inline-block;
	min-width: 220px;
	height: 52px;
	padding: 0 25px;
	border: 1px solid $c-dark;
	border-radius: 0;
	background: transparent;
	font-size: 14px;
	line-height: 50px;
	color: $c-dark;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: border $t-duration, color $t-duration, background $t-duration;
	appearance: none;

	&:focus {
		box-shadow: none;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		height: 50px;
		padding: 0 23px;
		line-height: 48px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}

	i,
	svg {
		vertical-align: middle;

		+ span {
			margin-right: 3px;
			margin-left: 7px;

			/*Mobile*/
			@include breakpoint-mobile {
				margin-right: 0;
				margin-left: 14px;
			}
		}
	}

	svg {
		use {
			fill: $c-dark;
			transition: fill $t-duration;
		}

		path {
			fill: $c-white;
		}
	}

	.svg {
		&--group {
			path {
				fill: none;
			}
		}
	}

	&:hover {
		background: $c-dark;
		color: $c-white;
		text-decoration: none;

		svg {
			use {
				fill: $c-white;
			}

			path {
				fill: $c-dark;
			}
		}
	}

	&--disabled {
		background-color: rgba(127, 122, 119, 0.2);
		color: $c-white;
		border-color: rgba(127, 122, 119, 0.2);
		&:hover {
			background-color: rgba(127, 122, 119, 0.2);
			color: $c-white;
			border-color: rgba(127, 122, 119, 0.2);
		}
	}

	&--white {
		background-color: $c-white;
		svg {
			path {
				fill: $c-dark;
			}
		}

		&:hover {
			svg {
				path {
					fill: $c-white;
				}
			}
		}
	}

	&--dark {
		background: $c-dark;
		color: $c-white;

		&:hover {
			background: $c-white;
			color: $c-dark;
		}
	}

	&--grey-dark {
		background: $c-grey-dark;
		color: $c-white;
		border-color: $c-grey-dark;
		&:hover {
			border-color: $c-dark;

			svg {
				path {
					fill: $c-white;
					stroke: $c-white;
				}
			}
		}
	}

	&--green {
		background-color: $c-green;
		color: $c-white;
		border-color: $c-green;

		&:hover {
			background-color: $c-white;
			color: $c-green;
			svg {
				path {
					fill: $c-green;
				}
			}
		}
	}

	&--pink-light {
		background-color: $c-pink-light;
		color: $c-white;
		border-color: $c-pink-light;
		&:hover {
			background-color: $c-white;
			color: $c-pink-light;
		}
	}

	&--auto {
		height: auto;
		line-height: 1.14;
		padding-top: 10px;
		padding-bottom: 10px;
		min-width: 260px;
	}

	&--md {
		padding: 0 12px;
	}
	&--cart {
		svg {
			use {
				fill: $c-white;
			}
		}

		&:hover {
			svg {
				use {
					fill: $c-dark;
				}
			}
		}
	}
}

.btn-add {
	width: 52px;
	height: 52px;
	margin: auto;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid $c-pink;
	display: block;
	position: relative;
	span {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 28px;
		height: 2px;
		border-radius: 2px;
		background-color: $c-pink;
		display: inline-block;
		transition: transform 0.3s, background 0.3s;

		&:nth-child(2) {
			transform: rotate(90deg);
		}
	}

	&:hover {
		background-color: rgba($c-pink, 0.3);
	}
}

.btn-group {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.btn + .btn {
		margin-left: 10px;
	}

	&--bar {
		flex-wrap: nowrap;
		.btn {
			height: 60px;
		}

		.btn--white {
			border-color: #ebebeb;
		}
		.btn + .btn {
			margin-left: 0;
		}
	}

	@include breakpoint-tablet-portrait {
		.btn {
			margin-bottom: 10px;
		}

		&--bar {
			width: 100%;
			.btn {
				margin-bottom: 0;
				flex: 0 1 34%;
			}
		}
	}

	@include breakpoint-mobile {
		.btn {
			display: block;
			min-width: 220px;
			margin-bottom: 15px;
			padding: 0 15px;
		}

		.btn + .btn {
			margin-left: 0;
		}

		&--bar {
			justify-content: flex-start;
			.btn {
				text-align: left;
				font-size: 11px;
				flex: 1 3 33%;
				min-width: auto;
				margin-bottom: 0;
				width: 33%;
				line-height: 1;
				padding: 14px 14px;
				span {
					display: inline-block;
					vertical-align: middle;
					white-space: normal;
				}

				svg {
					& + span {
						margin-left: 8px;
					}
				}
			}
		}
	}

	@include breakpoint-mobile-portrait {
		flex-wrap: wrap;
		.btn {
			width: 100%;
			flex: 1 2 100%;
		}
	}
}

body {
	&.show-nav-main {
		.btn {
			&-menu {
				span {
					background-color: transparent;

					&:before,
					&:after {
						margin-top: -1px;
					}

					&:before {
						transform: rotate(45deg);
					}

					&:after {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
