/* ------------------------------------------------------------ *\
	Callout
\* ------------------------------------------------------------ */

.callout {
	padding: 44px 0 42px;

	.callout__message {
		position: relative; 
		max-width: 754px;
		padding: 0 20px 0 87px;
		margin: 0 auto;
		font-size: 16px; 
		line-height: 1.63; 
		color: #1e1e1e;
		font-weight: 300; 
		letter-spacing: .007em;

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 0;
			font-size: 14px; 
			line-height: 1.43; 
			text-align: center; 
		}

		i {
			position: absolute; 
			top: 50%;
			left: 0; 
			transform: translateY(-50%);
			display: flex; 
			justify-content: center;
			align-items: center;
			width: 58px; 
			height: 58px; 
			border-radius: 100%; 
			background: $c-brown-light;

			/*Mobile*/
			@include breakpoint-mobile {
				position: static; 
				transform: none;
				margin: 0 auto 20px;
			}
		}

		p {
			transform: translateY(2px);
		}

		a {
			text-decoration: none; 
		}
	}
}