/* ------------------------------------------------------------ *\
	Cart
\* ------------------------------------------------------------ */

.cart {
	display: block;
	padding: 7px 28px 8px 30px;
	letter-spacing: -0.05em;
	text-decoration: none;

	&:hover {
		color: $c-dark;
		text-decoration: none;
	}

	.cart__content {
		position: relative;
		display: flex;
		align-items: center;
		font-size: 15px;
	}

	strong {
		letter-spacing: 0;
		font-weight: 400;
	}

	.cart__items {
		position: absolute;
		top: -17px;
		left: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		background: $c-pink;
		font-size: 8px;
		line-height: 1.25;
		color: $c-white;
		font-weight: 500;

		/*Mobile*/
		@include breakpoint-mobile {
			top: -13px;
		}
	}

	&:not(:first-child) {
		border-left: 1px solid $c-grey-light;

		/*Mobile*/
		@include breakpoint-mobile {
			border-left: 0;
		}
	}

	svg {
		margin-right: 17px;

		@include breakpoint-tablet-portrait {
			margin-right: 0;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			margin-right: 0;
		}
	}

	@media (max-width: 1320px) {
		padding: 8px 20px;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 15px;

		strong {
			display: none;
		}
	}
}
