/* ------------------------------------------------------------ *\
	Chackbox Simple
\* ------------------------------------------------------------ */

.checkboxes-simple {
	ul {
		list-style-type: none;
	}

	li {
		display: inline-block;
		vertical-align: middle;

		@include breakpoint-mobile {
			display: block;
		}
	}

	li + li {
		margin-left: 35px;
		@include breakpoint-mobile {
			margin-left: 0;
			margin-top: 10px;
		}
	}
}

.checkbox-simple {
	input {
		position: absolute;
		opacity: 0;
	}

	label {
		font-size: 14px;
		color: $c-base;
		position: relative;
		display: block;
		padding-left: 25px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			width: 14px;
			height: 14px;
			background-color: transparent;
			border: 1px solid rgba($c-dark, 0.3);
			transition: background 0.3s, border 0.3s;
		}
	}

	input:checked ~ label:before {
		background-color: $c-dark;
		border-color: $c-dark;
	}
}
