/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container {
	max-width: ($container-max-width + $container-gutter * 2);
	padding-right: $container-gutter;
	padding-left: $container-gutter;

	@media (max-width: 1800px) {
		max-width: (1450px + $container-gutter);
	}

	@media (max-width: 1500px) {
		max-width: (1178px + $container-gutter);
	}

	&--small {
		max-width: 1020px;
	}
}
