/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {
	float: left; 
	width: 74.7%; 

	@media (max-width: 1500px) {
		width: 74%; 
	}

	/*Small Desktop*/
	@include breakpoint-small-desktop {
		width: 75%; 
	}

	/*Mobile*/
	@include breakpoint-mobile {
		width: 100%; 
		margin-top: 26px; 
	}
}
