/* ------------------------------------------------------------ *\
	Datepicker
\* ------------------------------------------------------------ */

.datepicker-wrapper {
	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.7);
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		transition: opacity $t-duration, visibility $t-duration;
	}

	&.darken:before {
		opacity: 1;
		visibility: visible;
	}
}

.ui-datepicker {
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	z-index: 20 !important;
	transform: translate(-50%, -50%) !important;
	width: auto;
	padding: 50px 55px 39px;
	border: 0 !important;
	border-radius: 0;

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 40px 15px 28px;
	}

	&:before {
		position: absolute;
		top: -30px;
		right: 0;
		display: block;
		width: 16px;
		height: 16px;
		border-collapse: initial;
		background: url(../images/close-pink.svg) center no-repeat;
		background-size: 16px 16px;
		pointer-events: none;

		/*Mobile*/
		@include breakpoint-mobile {
			top: -35px;
			right: -2px;
		}
	}

	table {
		position: relative;
		font-size: 12px;
		line-height: 1.5;
		color: #1e1e1e;
		font-weight: 500;
		text-transform: uppercase;

		&:before {
			content: '';
			position: absolute;
			right: 13px;
			top: 35px;
			left: 13px;
			height: 1px;
			background: $c-grey-dark;

			/*Mobile*/
			@include breakpoint-mobile {
				right: 12px;
				left: 12px;
			}
		}
	}

	th {
		padding: 0;
		font-weight: bold;

		span {
			display: inline-block;
			padding: 8px 0;

			/*Mobile*/
			@include breakpoint-mobile {
				padding: 9px 0;
			}
		}
	}

	td {
		span,
		a {
			position: relative;
			padding: 8px 13px;
			text-align: center;

			/*Mobile*/
			@include breakpoint-mobile {
				padding: 8px 11px;
			}

			&:before {
				content: '';
				position: absolute;
				right: 8px;
				bottom: 1px;
				left: 8px;
				height: 2px;
				background: $c-brown-light;
				opacity: 0;
				visibility: hidden;
				transition: opacity $t-duration, visibility $t-duration;
			}
		}

		a {
			&:hover {
				color: $c-brown-light;
			}
		}
	}

	.ui-datepicker-header {
		padding: 0;
		border: 0;
		margin-bottom: 20px;
		background: transparent;

		/*Mobile*/
		@include breakpoint-mobile {
			margin-bottom: 29px;
		}
	}

	.ui-datepicker-title {
		font-family: $f-gotham;
		font-size: 14px;
		line-height: 1.14;
		color: #1e1e1e;
		font-weight: 500;
		text-transform: uppercase;
	}

	/*  days  */
	.ui-priority-secondary,
	.ui-widget-content .ui-priority-secondary,
	.ui-widget-header .ui-priority-secondary {
		color: $c-grey-dark;
	}

	/*  month arrows  */
	.ui-datepicker-prev,
	.ui-datepicker-next {
		top: 50%;
		transform: translateY(-50%);
		width: 24px !important;
		height: 24px !important;
		border: 0 !important;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 7px 12px;
		transition: background $t-duration !important;

		&.ui-state-disabled {
			opacity: 1;
		}
	}

	/*  month next  */
	.ui-datepicker-next {
		right: 4px !important;
		background-image: url(../images/angle-right-light@2x.png);

		&.ui-state-hover {
			background-image: url(../images/angle-right@2x.png);
		}
	}

	/*  month prev  */
	.ui-datepicker-prev {
		left: 4px !important;
		background-image: url(../images/angle-left-light@2x.png);

		&.ui-state-hover,
		&.ui-state-disabled {
			background-image: url(../images/angle-left@2x.png);
		}
	}

	.ui-state-hover {
		border: 0;
		background-color: transparent;
	}
}

.ui-widget {
	font-family: $f-gotham;

	&-header {
		.ui-icon {
			background: none !important;
		}
	}
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 0;
	background: transparent;
	font-weight: 500;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	color: $c-brown-light;

	&:before {
		opacity: 1 !important;
		visibility: visible !important;
	}
}
