/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */

.dropdown-header {
	border-right: 1px solid $c-grey-light;
	position: relative;
	a {
		font-size: 15px;
		text-decoration: none;
	}

	.dropdown-toggle {
		svg {
			margin-left: 15px;
		}
	}

	.dropdown-menu {
		padding: 10px;
	}

	&--alt {
		padding: 0;
		border: none;

		.dropdown-toggle {
			svg {
				margin-left: 0;
				display: inline-block;
				vertical-align: middle;

				&:first-child {
					margin-right: 0;
					top: 25px;
					transform: translate(-50%, 0);
				}

				&:last-child {
					margin-left: 1px;
				}
			}
		}

		.dropdown-menu {
			li {
				display: block;

				a {
					padding: 0;
				}
			}
		}
	}

	&--new {
		a {
			font-size: 12px !important;
			padding: 10px 35px 10px 31px !important;

			@media (max-width: 1130px) {
				padding: 10px 14px 10px 24px !important;
			}
		}
	}
}
