/* ------------------------------------------------------------ *\
	Filter
\* ------------------------------------------------------------ */

.filter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 1.75;
	color: $c-base;
	font-weight: normal;

	p {
		margin-bottom: 0;
	}

	.list-filter {
		padding-left: 14px;

		/*Mobile*/
		@include breakpoint-mobile {
			transform: translateY(-2px);
			padding-left: 18px;
		}
	}

	@include breakpoint-tablet-portrait {
		font-size: 14px;
	}
}
