/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	padding: 41px 0;
	font-size: 12px;
	line-height: 1.17;
	color: $c-grey-dark;
	text-align: center;

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 20px 0;
		font-size: 11px;
		line-height: 1.27;

		p {
			max-width: 245px;
			margin-right: auto;
			margin-left: auto;
		}
	}
}
