/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	.form__section {
		padding: 87px 0 35px;

		&--dark {
			background-color: rgba($c-grey-2, 0.5);
		}

		@include breakpoint-mobile {
			padding: 25px 15px;
		}
	}

	.form__head {
		margin-bottom: 29px;

		/*Mobile Portrait*/
		@include breakpoint-mobile {
			margin-bottom: 25px;
		}
	}

	.form__title {
		margin-bottom: 10px;
		position: relative;
		letter-spacing: 0;
		font-weight: 400;
		font-family: $f-moet;

		/*Mobile*/
		@include breakpoint-mobile {
			padding-right: 15px;
			padding-left: 24px;
			font-size: 25px !important;
			line-height: 1.38 !important;
			font-weight: normal;
			letter-spacing: 0 !important;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: -32px;
			width: 50px;
			height: 1px;
			background-image: linear-gradient(270deg, #e6a88e 0%, #b2806e 100%);
		}
	}

	.form__subtitle {
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			margin-bottom: 0;
			font-weight: 700;
			font-size: 15px;
			color: $c-base;
		}

		@include breakpoint-tablet-portrait {
			flex-direction: column;
			align-items: flex-start;
		}

		@include breakpoint-mobile {
			p {
				font-size: 14px;
			}
		}
	}

	.form__subhead {
		margin-bottom: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			font-size: 15px;
			color: $c-base;
		}

		h4 {
			margin-bottom: 0;
			position: relative;
			font-weight: 400;
			font-family: $f-moet;
			padding-left: 34px;
		}

		svg {
			path {
				fill: $c-dark;
			}
		}

		.svg {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}

		@include breakpoint-tablet-portrait {
			margin-bottom: 10px;
		}

		@include breakpoint-mobile {
			flex-direction: column;
			align-items: flex-start;

			h4 {
				font-size: 18px;
				margin-bottom: 5px;
			}
		}
	}

	.form__row {
		position: relative;
		margin-bottom: 14px;

		/*Mobile*/
		@include breakpoint-mobile {
			margin-bottom: 16px;
		}

		&--md {
			margin-bottom: 38px;

			/*Mobile*/
			@include breakpoint-mobile {
				margin-bottom: 30px;
			}
		}

		&--disabled {
			opacity: 0.35;
		}

		&--textarea {
			padding-top: 23px;
		}

		&--textarea.form__row--textarea-label-icon {
			padding-top: 37px;

			& .form__label--textarea .icon {
				height : 35px;
				&:first-of-type {
					padding-left: 15px;
				}
			}
		}
	}

	.form__uploads {
		margin-bottom: 40px;
		display: flex;
	}

	.form__col + .form__col {
		margin-left: 200px;
		@include breakpoint-tablet-portrait {
			margin-left: 0;
		}
	}

	.form__controls {
		svg {
			position: absolute;
			top: 22px;
			right: 0;
			pointer-events: none;

			/*Mobile*/
			@include breakpoint-mobile {
				top: 15px;
			}
		}

		.svg-arrow {
			width: 8px;
			height: 5px;
			path {
				fill: #929fa9;
			}
		}

		&--textarea {
			padding-top: 12px;

			textarea {
				height: 32px;
				padding-top: 0;
				line-height: 32px;
			}
		}
	}

	.form__label {
		position: absolute;
		top: 18px;
		left: 0;
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		color: rgba($c-base, 0.7);
		transition: top $t-duration, font-size $t-duration;
		pointer-events: none;

		&--textarea {
			top: 0;
			font-size: 14px;
			font-style: normal;
			line-height: 1.67;
		}
	}

	.form__actions {
		/*Mobile*/
		@include breakpoint-mobile {
			margin-top: 0px;
		}
	}

	.form__btn {
		margin: auto;
		display: block;
	}

	.form__note {
		font-size: 15px;
		font-style: italic;
		color: $c-base;
		padding: 3px 0;

		@include breakpoint-mobile {
			font-size: 13px;
		}
	}

	.form__info {
		position: relative;
		font-size: 15px;
		font-style: italic;
		color: $c-base;
		padding: 6px 0 6px 22px;
		margin-bottom: 0;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 9px;
			background-image: url(../images/info.svg);
			background-size: 100% 100%;
			width: 15px;
			height: 15px;
		}

		&--no-icon {
			padding-left: 0;
			&:before {
				display: none;
			}
		}

		@include breakpoint-mobile {
			font-size: 13px;
		}
	}

	.form__asterisk {
		font-size: 15px;
		color: $c-base;

		@include breakpoint-mobile {
			font-size: 13px;
			margin-top: 10px;
		}
	}

	.form__foot {
		&--center {
			margin-top: 30px;
			text-align: center;
		}
	}

	.form__error {
		position: relative;
		transform: translateY(10px);
		display: none;
		padding-left: 20px;
		margin-top: 0px;
		margin-bottom: 40px;
		font-size: 15px;
		line-height: 1.3;
		color: $c-red;
		font-weight: 700;

		&:before {
			content: '!';
			position: absolute;
			top: 3px;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 15px;
			height: 15px;
			border: 1px solid $c-red;
			border-radius: 100%;
			font-size: 11px;
			line-height: 2;
			color: $c-red;
			font-weight: bold;
		}

		@include breakpoint-mobile {
			font-size: 13px;
		}
	}

	.form__table {
		margin-top: 36px;
		padding-top: 20px;
		border-top: 1px solid $c-grey;
	}

	.error {
		.form__error {
			display: block;
		}
	}

  .form__error {
    display: block;
  }

	.focused,
	.filled {
		.form__label {
			top: 0;
			font-size: 14px;
			line-height: 1.67;
		}
	}

	.checkbox {
		padding-bottom: 7px;

		/*Mobile*/
		@include breakpoint-mobile {
			padding-bottom: 5px;
		}
	}

	.form__group + .form__group {
		margin-top: 40px;

		@include breakpoint-tablet-portrait {
			margin-top: 20px;
		}
	}

	.link {
		margin-top: 0;
	}

	&--categories {
		.selectric {
			font-weight: 500;
			text-transform: uppercase;

			.label {
				font-size: 11px;
			}
		}
	}

	&--filter {
		.selectric .label {
			font-size: 15px;
			font-weight: 700;
			text-transform: none;
		}

		@include breakpoint-mobile {
			padding-top: 0;
			.selectric-custom-select-simple .selectric:after {
				top: 12px;
			}
			.selectric .label {
				font-size: 13px;
				padding-left: 0;
				height: 30px;
				line-height: 30px;
			}
		}
	}

	&--count {
		.list-count {
			margin-top: 5px;
		}

		.form__body {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.form__foot {
			margin-top: 38px;
		}

		&.form--error {
			.form__error {
				display: block;
				transform: translateY(0);
				margin-top: 0;
				letter-spacing: 0;

				&:before {
					top: 0;
				}
			}
		}

		&.form--disabled {
			opacity: 0.4;
			pointer-events: none;

			.list-count {
				svg {
					use {
						fill: $c-dark;
						stroke: $c-dark;
					}
				}
			}
		}

		.form__btn {
			margin: 0;
			@media (min-width: 1501px) {
				min-width: 253px;
			}
		}
	}

	&--projects {
		min-height: 760px;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			min-height: initial;
		}

		.form__inner {
			display: flex;
			flex-wrap: wrap;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				justify-content: space-between;
			}
		}

		.form__content {
			width: 67%;
			padding: 94px 56px 51px 0;

			@media (max-width: 1800) {
				width: 73%;
			}

			@media (max-width: 1500px) {
				width: 74.6%;
			}

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				width: 70%;
				padding-bottom: 28px;
				padding-right: 20px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 100%;
				padding: 22px 0 17px;
			}
		}

		.form__sidebar {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 31.9vw;
			padding: 75px 58px;
			background: rgba($c-grey-2, 0.5);

			@media (max-width: 1800px) {
				width: 28.9vw;
			}

			@media (max-width: 1500px) {
				padding: 75px 20px;
			}

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				padding-top: 50px;
				position: static;
				width: calc(30% + 25px);
				margin-right: -25px;
				font-size: 12px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: calc(100% + 50px);
				padding: 30px 20px;
				margin-right: -25px;
				margin-left: -25px;
				font-size: 13px;
				line-height: 1.54;
			}

			&-inner {
				max-width: 380px;

				@media (max-width: 1800px) {
					max-width: 343px;
				}

				@media (max-width: 1500px) {
					max-width: 296px;
					margin: 0 auto;
				}

				/*Mobile*/
				@include breakpoint-mobile {
					max-width: 100%;
				}
			}

			.btn {
				width: 100%;
			}

			&.fadeout {
				opacity: 0;
				visibility: hidden;
				transition: opacity $t-duration, visibility $t-duration;
			}

			&.fadein {
				opacity: 1;
				visibility: visible;
				transition: opacity $t-duration, visibility $t-duration;
			}
		}

		.form__title {
			font-family: $f-moet;
			margin-bottom: 35px;
			line-height: 1.33;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				margin-bottom: 25px;
				font-size: 14px;
				padding-left: 0;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				margin-bottom: 12px;
				font-size: 18px !important;
			}

			&:before {
				display: none;
			}
		}

		.form__body {
			padding-top: 2px;
			margin-right: -17px;

			@media (max-width: 1250px) {
				margin-right: 0;
			}

			/*Small Desktop*/
			@include breakpoint-small-desktop {
				padding-top: 0;
			}

			.checkbox {
				padding-bottom: 2px;

				label {
					font-weight: 300;
					letter-spacing: 0;
				}
			}

			.datepicker-wrapper {
				&.disabled {
					opacity: 0.4;
					pointer-events: none;
				}
			}
		}

		.form__controls {
			svg {
				top: 16px;
			}
		}

		.form__foot {
			margin-top: 22px;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				margin-top: 30px;
			}

			&-entry {
				padding-top: 73px;
				font-size: 13px;
				line-height: 1.39;
				color: $c-grey-dark;
				font-weight: 300;

				/*Tablet Portrait*/
				@include breakpoint-tablet-portrait {
					padding-top: 30px;
				}

				/*Mobile*/
				@include breakpoint-mobile {
					padding-top: 10px;
				}
			}
		}

		.form__row {
			margin-bottom: 16px;

			&--md {
				margin-bottom: 28px;
			}
		}

		.form__actions {
			margin-top: 40px;
			border-top: 1px solid rgba($c-dark, 0.1);
			padding-top: 40px;

			/*Mobile*/
			@include breakpoint-mobile {
				padding: 0 0;
				margin-top: 42px;
			}

			.btn {
				display: block;
				min-width: 100%;
				/*Mobile*/
				@include breakpoint-mobile {
					height: 52px;
					line-height: 50px;
				}

				+ .btn {
					margin-top: 20px;
				}
			}

			p {
				font-size: 14px;
				line-height: 2;
				color: $c-dark;
			}

			@include breakpoint-tablet-portrait {
				margin-top: 20px;
				padding-top: 20px;
			}
		}
	}

	&--account {
		width: 100%;

		form {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			/*Mobile*/
			@include breakpoint-mobile {
				display: block;
			}
		}

		.form__body {
			width: calc(100% - 410px);

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				width: calc(100% - 240px);
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 100%;
			}
		}

		.form__row {
			margin-bottom: 0;
		}

		.form__actions {
			width: 300px;
			padding-left: 50px;
			margin-top: 0;
			text-align: right;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				width: 240px;
				padding-left: 25px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 100%;
				padding-left: 0;
				margin-top: 15px;
			}
		}

		.field {
			border-bottom-color: $c-dark;
			font-size: 14px;
			color: $c-dark;
			font-weight: 4001;
			font-style: italic;

			&::placeholder {
				font-weight: normal;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				font-size: 12px;
			}
		}

		.btn {
			padding: 0 32px;
			min-height: 60px;
		}

		.error {
			.field {
				border-bottom-color: $c-red;
				color: $c-red;
			}
		}
	}
}

/*  Form Procedure  */
.form--procedure {
	h5 {
		color: $c-base;
		font-size: 15px;
		font-weight: 700;
	}

	p {
		color: $c-grey-dark;
		font-size: 15px;

		+ p {
			margin-top: 42px;
		}
	}
	.form__body {
		max-width: 400px;
		padding-bottom: 80px;

		@include breakpoint-mobile {
			max-width: 100%;
			padding-bottom: 20px;
		}
	}

	.form__section {
		padding: 35px 0 0;
	}


	.form__subhead {
		display: block;
		margin-bottom: 30px;

		h4 {
			margin-bottom: 11px;
		}
	}

	.form__subhead--alt {
		margin-bottom: 38px;
	}

	.form__btn {
		margin-left: 30px;

		+ p {
			margin-top: 39px;
		}
	}

	.form__list {
		margin-top: 28px;
		color: $c-grey-dark;
		font-size: 15px;
		list-style: none;

		li {
			+ li {
				margin-top: 5px;
			}
		}
	}

	.form__group {
		+ .form__group {
			margin-top: 59px;
		}
	}

	.form__toolbox-holder {
		display: inline-block;
		margin-left: 11px;
	}

	.form__note {
		padding-left: 31px;
		margin-top: 8px;
		line-height: 1.16;
	}

	.form__info-alt {
		display: flex;
		margin: 36px 0;

		@include breakpoint-mobile {
			display: block;
		}

		p {
			margin-bottom: 0;
			font-weight: 700;
		}

		.form__toolbox-holder {
			@include breakpoint-mobile {
				margin-left: 0;
			}
		}
	}

	.form__label-alt {
		font-size: 14px;
	    color: rgba(127, 122, 119, 0.7);
	}

	.form__row {
		+ .form__row {
			margin-top: 16px;
		}
	}

	.form__row--alt {
		margin-bottom: 29px;
	}

	.form__italic {
		font-style: italic;
	}

	.form__actions {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		padding: 56px 93px;
		background-color: #fff;
		text-align: center;

		@include breakpoint-mobile {
			position: static;
			transform: translateX(0);
			width: 100%;
			padding: 20px 10px;
		}

		.form__btn {
			margin: 0 auto 17px;
		}
	}

	.form__asterisk {
		text-align: left;
		margin-top: -30px;

		@include breakpoint-mobile {
			margin-top: 0;
		}
	}

	.form__select {
		.select2-container--default .select2-selection--single {
			border: none;
			border-bottom: 2px solid rgba($c-dark, 0.3);
			border-radius: 0;
			height: 30px;
		}

		.select2-container--default
			.select2-selection--single
			.select2-selection__rendered {
			font-size: 16px;
			font-weight: 700;
			color: $c-base;
			padding-left: 0;
			line-height: 30px;

			.img-profile {
				display: none;
			}
		}

		.select2-container--default
			.select2-selection--single
			.select2-selection__clear {
			display: none;
		}

		.select2-container--default
			.select2-selection--single
			.select2-selection__placeholder {
			color: rgba($c-base, 0.3);
		}

		.select2-container--default
			.select2-selection--single
			.select2-selection__arrow
			b {
			border: none;
			background-image: url(../images/angle-down-new.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 8px;
			height: 5px;
			margin-left: 2px;
		}
	}

	.select--alt {
		+ svg {
			top: 28px;
		}

		.selectric {
			.label {
				height: 44px;
			}
		}
	}

	.container {
		position: static;
	}
}

/* ------------------------------------------------------------ *\
	Form Alt
\* ------------------------------------------------------------ */

.form--alt {
	.form__head {
		margin-bottom: 61px;
	}

	.form__subhead {
		margin-bottom: 10px;
		svg {
			path {
				fill: $c-green;
			}
		}
	}

	.form__section {
		padding: 56px 15px 69px;
	}

	@include breakpoint-mobile {
		.form__section {
			padding: 30px 15px;
		}
	}
}

/* ------------------------------------------------------------ *\
	Form Alt Simple
\* ------------------------------------------------------------ */

.form--alt-simple {
	.form__head {
		margin-bottom: 17px;
	}

	.form__head h4 {
		font-size: 24px;
		font-family: $f-moet;
	}

	.form__head span {
		margin-left: 4px;
	}

	.form__head span,
	.form__head svg {
		display: inline-block;
		vertical-align: middle;
	}

	.field {
		padding: 42px 30px 16px 0;
	}

	.selectric .label {
		height: 59px;
	}

	.form__row {
		margin-bottom: 19px;
	}

	.form__cols {
		display: flex;
		justify-content: space-around;

		@include breakpoint-mobile {
			flex-wrap: wrap;
		}
	}

	.form__col--1of2 {
		width: 40%;

		@include breakpoint-tablet-portrait {
			width: 46%;
		}

		@include breakpoint-mobile {
			width: 100%;
		}
	}

	.form__group {
		padding: 69px 0 99px;

		@include breakpoint-mobile {
			padding: 20px 0;
		}
	}

	.form__group--gray {
		background-color: rgba($c-grey-2, 0.5);
	}

	.form__group--small {
		padding: 23px 0 47px;
	}

	.form__group + .form__group {
		margin-top: 0;
	}
}
