/* ------------------------------------------------------------ *\
	Form Simple
\* ------------------------------------------------------------ */

.form-simple {
	.form__cols {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include breakpoint-small-desktop {
			justify-content: flex-start;
		}
	}

	.form__row--flex {
		display: flex;
		flex-wrap: wrap;
	}

	.form__row + .form__row {
		margin-top: 30px;
	}

	.form__col--size1 {
		width: 13%;
	}

	.form__col--size2 {
		width: 16%;
	}

	.form__col--size3 {
		width: 14%;
	}

	.form__col--size4 {
		width: 8%;
	}

	.form__col--size5 {
		width: 7%;
	}

	.form__col--size1,
	.form__col--size2,
	.form__col--size3,
	.form__col--size4,
	.form__col--size5 {
		@include breakpoint-small-desktop {
			width: 17%;
		}

		@include breakpoint-tablet-portrait {
			width: 30%;
		}

		@include breakpoint-mobile {
			width: 100%;
		}
	}

	.form__col {
		@include breakpoint-small-desktop {
			margin-right: 20px;
			margin-bottom: 20px;
		}

		@include breakpoint-mobile {
			margin-right: 0;
		}
	}

	.form__label {
		font-size: 14px;
		color: rgba($c-base, 0.7);
	}

	.form__select {
		.select2-container--default .select2-selection--single {
			border: none;
			border-bottom: 2px solid rgba($c-dark, 0.3);
			border-radius: 0;
			height: 30px;
		}

		.select2-container--default
			.select2-selection--single
			.select2-selection__rendered {
			font-size: 16px;
			font-weight: 700;
			color: $c-base;
			padding-left: 0;
			line-height: 30px;

			.img-profile {
				display: none;
			}
		}

		.select2-container--default
			.select2-selection--single
			.select2-selection__clear {
			display: none;
		}

		.select2-container--default
			.select2-selection--single
			.select2-selection__placeholder {
			color: rgba($c-base, 0.3);
		}

		.select2-container--default
			.select2-selection--single
			.select2-selection__arrow
			b {
			border: none;
			background-image: url(../images/angle-down-new.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 8px;
			height: 5px;
			margin-left: 2px;
		}
	}

	.form__field {
		line-height: 30px;
		min-height: 30px;
		width: 100%;
		font-size: 16px;
		font-weight: 700;
		color: $c-base;
		border: none;
		border-bottom: 2px solid rgba($c-dark, 0.3);
		border-radius: 0;
	}

	.form__note {
		font-size: 14px;
		color: $c-base;
		margin-right: 40px;
	}
}
