/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder {
	color: inherit;
	opacity: 1;
}

textarea::placeholder {
	color: inherit;
	opacity: 1;
}

input:-webkit-autofill {
	-webkit-text-fill-color: inherit;
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}

/* ------------------------------------------------------------ *\
	Field
\* ------------------------------------------------------------ */

.field {
	display: block;
	width: 100%;
	height: 53px;
	padding: 22px 30px 12px 0;
	border: 0;
	font-weight: 700;
	border-bottom: 1px solid rgba($c-dark, 0.3);
	border-radius: 0;
	background: transparent;
	font-size: 16px;
	line-height: 53px;
	color: $c-base;
	transition: border $t-duration, background $t-duration;
	appearance: none;
	resize: none;
	overflow: hidden;

	&--simple {
		height: 36px;
		padding: 3px 0 0;
	}

	&--textarea {
		height: auto;
		border: 1px solid #b3bbbe;
		padding: 12px 14px;
		line-height: 1.19;
	}
}

/* ------------------------------------------------------------ *\
	Textarea
\* ------------------------------------------------------------ */

.textarea {
	width: 100%;
	height: 46px;
	padding: 10px 0;
	border: 0;
	border-bottom: 1px solid rgba($c-dark, 0.3);
	border-radius: 0;
	background: $c-white;
	font-size: 13px;
	line-height: 1.15;
	color: $c-black;
	transition: border $t-duration, background $t-duration;
	appearance: none;
	resize: none;
}

/* ------------------------------------------------------------ *\
	Checkbox
\* ------------------------------------------------------------ */

.checkbox {
	position: relative;

	label {
		position: relative;
		display: inline-block;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 31px;
		margin-bottom: 0;
		font-size: 15px;
		line-height: 1.15;
		color: $c-base;
		font-weight: normal;

		/*Mobile*/
		@include breakpoint-mobile {
			padding-left: 37px;
			letter-spacing: -0.005em;
		}

		&:before {
			content: '';
			position: absolute;
			top: -1px;
			left: 0;
			width: 20px;
			height: 20px;
			background-color: transparent;
			border: 1px solid $c-base;
			background-size: 12px 9px;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	input {
		display: none;

		&:checked + label {
			&:before {
				background-color: $c-base;
				background-image: url(../images/check.svg);
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Selectric
\* ------------------------------------------------------------ */

.selectric-open {
	z-index: 10;
}

.selectric-hover .selectric,
.selectric-open .selectric {
	border-bottom-color: $c-dark;
}

.selectric {
	width: 100%;
	border: 0;
	border-bottom: 1px solid rgba($c-dark, 0.3);
	background: transparent;

	.label {
		height: 52px;
		padding-top: 10px;
		margin: 0 46px 0 0;
		font-size: 16px;
		font-weight: 700;
		line-height: 52px;
		color: $c-base;
		font-weight: 700;
	}

	.button {
		display: none;
		width: 46px;
		height: 44px;
		background: transparent;

		&:before {
			content: '';
			position: absolute;
			top: 11px;
			right: 12px;
			width: 23px;
			height: 23px;
			border-radius: 100%;
			background: $c-white;
		}

		&:after {
			top: 18px;
			right: 19px;
			bottom: auto;
			left: auto;
			width: 9px;
			height: 9px;
			border: 0;
			margin: 0;
			background: url(images/arrow-down-white@2x.png) center no-repeat;
			background-size: 100%;
		}
	}

	&-items {
		border: 0;
		padding: 14px 0;
		margin-top: 15px;
		background: $c-white;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

		li {
			padding: 4px 60px 4px 21px;
			font-size: 14px;
			line-height: 1.57;
			color: $c-dark;
			font-weight: normal;

			&.last {
				padding-bottom: 0;
			}

			&.highlighted,
			&:hover {
				background: transparent;
				color: $c-brown-light;
				font-weight: 500;
			}

			&.disabled {
				display: none;
			}
		}
	}

	&-open {
		.button {
			&:after {
				transform: rotate(180deg);
			}
		}
	}

	&-focus {
		.selectric {
			border-bottom-color: #e4e4e4;
		}
	}

	&-wrapper {
		.nicescroll-rails {
			left: auto !important;
			right: 0 !important;
			z-index: 10 !important;
			width: 3px !important;
			padding: 0 20px 10px 40px;
			background: transparent;

			> div {
				// border-radius: 3px !important;
				padding: 0 20px 10px 40px;
				border: 0 !important;
				margin-right: -20px;
				background: transparent !important;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 20px;
					width: 3px;
					border: 0;
					background: rgb(216, 182, 147);
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 20px;
				width: 3px;

				background: $c-pink;
			}

			&-hr {
				display: none !important;
			}
		}
	}
}

.selectric-custom-select--box {
	text-align: left;
	.label {
		height: 58px;
	}
}

.selectric-custom-select-simple {
	.selectric {
		position: relative;
		border-bottom: 1px solid rgba($c-dark, 0.4);
		background: transparent;

		/*Mobile*/
		@include breakpoint-mobile {
			border-color: $c-grey-dark;
		}

		&:after {
			content: '';
			position: absolute;
			top: 21px;
			right: 2px;
			transform: rotate(45deg);
			width: 6px;
			height: 6px;
			border-right: 1px solid $c-dark;
			border-bottom: 1px solid $c-dark;

			/*Mobile*/
			@include breakpoint-mobile {
				right: 22px;
			}
		}

		.label {
			height: 41px;
			padding: 2px 45px 0 0px;
			margin-right: 0;
			line-height: 48px;
			color: $c-dark;

			/*Mobile*/
			@include breakpoint-mobile {
				height: 48px;
				padding-left: 23px;
			}
		}

		&-items {
			top: calc(100% - 1px);
			padding: 0;
			border: 1px solid $c-grey-light;
			margin-top: 0;
			box-shadow: none;

			/*Mobile*/
			@include breakpoint-mobile {
				border-color: $c-grey-dark;
			}

			li {
				padding: 14px 29px 15px;
				border-bottom: 1px solid $c-grey-light;
				font-size: 13px;
				line-height: 1.54;
				font-weight: 300;

				/*Mobile*/
				@include breakpoint-mobile {
					border-bottom-color: $c-grey-dark;
				}

				&.highlighted,
				&:hover {
					background: $c-pink;
					color: $c-white;
					font-weight: normal;
				}

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}

.select.disabled {
	.selectric {
		opacity: 0.8;
		pointer-events: none;
	}
}
