/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 50;
	padding: 0 0 5px;
	background: #fffdfd;
	transition: transform 0.3s cubic-bezier(0.375, 0, 0.15, 0.92);
	border: 1px solid $c-grey-light;

	+ * {
		margin-top: 60px;

		@include breakpoint-tablet-portrait {
			margin-top: 52px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			margin-top: 59px;
		}
	}

	/*Mobile*/
	@include breakpoint-mobile {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 100;
		padding: 3px 0 0;
		background: $c-white;
	}

	.container {
		max-width: 100%;
		padding: 0;
	}

	&.slideDown {
		transform: translateY(0);
	}

	&.slideUp {
		transform: translateY(-100%);
	}

	&--simple {
		padding: 0;
		+ * {
			margin-top: 0;
		}

		.navbar {
			padding: 0;
		}
	}

	@include breakpoint-small-desktop {
		padding-bottom: 0;
	}
}
