/* ------------------------------------------------------------ *\ 
	# Icons
\* ------------------------------------------------------------ */

[class^="ico-"] { 
	position: relative; 
	display: inline-block;
	vertical-align: top; 
	background-size: 100%;
	font-size: 0; 
	line-height: 0; 
	text-indent: -4004px;
}

.ico {
	&-search {
		width: 20px; 
		height: 20px; 
		background-image: url(../images/search@2x.png);
	}

	&-profile {
		width: 18px; 
		height: 20px; 
		background-image: url(../images/profile@2x.png);
	}

	&-angle-down {
		width: 11px; 
		height: 7px; 
		background-image: url(../images/angle-down@2x.png);
	}

	&-clock {
		width: 11px; 
		height: 7px; 
		background-image: url(../images/angle-up@2x.png);
	}

	&-clock {
		width: 20px; 
		height: 20px; 
		background-image: url(../images/clock@2x.png);
	}
}