/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro {
	height: calc(100vh - 70px);
	min-height: 560px;
	position: relative;
	z-index: 2;
	background-color: rgba(227, 226, 220, 0.2);
	.container {
		height: 100%;
	}

	.row {
		height: 100%;
	}

	.intro__title {
		margin-bottom: 10px;
	}

	.intro__subtitle {
		color: $c-base;
	}

	.intro__head {
		max-width: 554px;
		margin: auto;
	}

	.intro__images {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		z-index: -1;
	}

	.intro__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 33.33%;
	}

	.intro__inner {
		/* display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column; */
	}

	.intro__actions {
		margin-top: 37px;

		.link {
			display: block;
			margin: 43px auto 0;
		}

		&--top {
			margin-top: 73px;
		}
	}

	&--full {
		height: 100vh;
	}

	@include breakpoint-mobile {
		height: calc(100vh - 59px);
		.intro__title {
			margin-bottom: 17px;
		}

		.intro__subtitle {
			font-size: 14px;
			line-height: 1.57;
		}

		.intro__image {
			width: 100%;
			&:nth-child(1),
			&:nth-child(3) {
				display: none;
			}
		}

		.intro__actions {
			margin-top: 37px;
			.link {
				margin-top: 13px;
			}
		}

		&--full {
			padding: 68px 0;
			height: auto;
		}

		&--full-mobile {
			height: 100vh;
		}
	}
}
