/* ------------------------------------------------------------ *\
	Link More
\* ------------------------------------------------------------ */

.link-more {
	position: relative;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;

	em {
		display: inline-block;
		margin-right: 11px;
		font-size: 14px;
		font-weight: 300;
		text-transform: none;
	}

	span {
		position: relative;
		transform: translateY(-3px);
		display: inline-block;
		font-weight: normal;
		letter-spacing: 0.015em;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;
			height: 1px;
			background: $c-dark;
			transition: opacity $t-duration, visibility $t-duration;
		}
	}

	&:hover {
		text-decoration: none;

		span:after {
			opacity: 0;
			visibility: hidden;
		}
	}
}

/* ------------------------------------------------------------ *\
	Link Back
\* ------------------------------------------------------------ */

.link-back {
	font-size: 15px;
	line-height: 1.2;
	font-weight: normal;
	text-decoration: none;
	color: $c-base;

	svg {
		transform: translateY(2px);
		margin-right: 18px;

		path {
			fill: $c-base;
		}

		use {
			fill: $c-base;
		}

		rect {
			transition: fill $t-duration;
		}
	}

	&:hover {
		text-decoration: none;

		svg rect {
			fill: $c-brown-light;
		}
	}

	@include breakpoint-mobile {
		font-size: 12px;

		svg {
			margin-right: 5px;
		}
	}
}

/* ------------------------------------------------------------ *\
	Link
\* ------------------------------------------------------------ */

.link {
	color: $c-pink;
	font-size: 13px;
	letter-spacing: 0.35px;
	text-transform: uppercase;
	text-decoration: none;

	span {
		text-decoration: underline;
		display: inline-block;
		vertical-align: middle;
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		+ span {
			margin-left: 9px;
		}

		path {
			fill: $c-pink;
		}
	}

	&:hover {
		text-decoration: none;
		color: $c-dark;
		svg {
			path {
				fill: $c-dark;
			}
		}
	}

	&--alt {
		display: block;
		margin: auto;
		color: $c-base;
		text-decoration: underline;

		.svg {
			&--toolbox {
				width: 16px;
				height: 16px;
				border-radius: 50%;

				path {
					fill: $c-base;
				}
			}
		}

		&:hover {
			.svg {
				&--toolbox {
					background-color: $c-base;
					path {
						fill: $c-white;
					}
				}
			}
		}
	}

	&--toolbox {
		text-decoration: none;
		span {
			text-decoration: underline;
		}
	}

	&--white {
		color: $c-white;
		svg {
			path {
				fill: $c-white;
			}
		}
	}
}
