/* ------------------------------------------------------------ *\
	List Product info
\* ------------------------------------------------------------ */

.list-product-info {
  &.entry115Btn{
    .list-product-info__qty {
      width : 10%;
    }
    .list-product-info__btn {
      width: 73%;
    }
  }

	ul {
		display: flex;
		list-style-type: none;
		flex-wrap: wrap;
	}
	.list-product-info__label {
		width : 15%;
		@include breakpoint-mobile {
			width: 100%;
		}
	}

	.list-product-info__name {
		width : 85%;
		text-align: left;
		@include breakpoint-mobile {
			width: 100%;
		}
	}

	.list-product-info__qty {
		width : 48%;
		@include breakpoint-mobile {
			width: 100%;
		}
	}

	.list-product-info__btn {
		width: 17%;
		text-align: right;
		@include breakpoint-mobile {
			width: 100%;
    }

	}

	strong {
		font-weight: 700;
		font-size: 16px;
		color: $c-dark;
		display: block;
	}

	span {
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		background-color: rgba($c-grey-dark, 0.2);
		padding: 11px 11px 12px;
		min-width: 135px;
		color: $c-white;
		text-transform: uppercase;
		font-size: 14px;

		&.bg-red {
			background-color: #e12a1f;
		}

		&.bg-green {
			background-color: #52c48a;
		}

		@include breakpoint-mobile {
			min-width: 120px;
		}
	}

	span + span {
		margin-left: -4px;
	}

	li + li {
		@include breakpoint-mobile {
			margin-top: 10px;
		}
	}
}
