/* ------------------------------------------------------------ *\
	List Numbers
\* ------------------------------------------------------------ */

.list-numbers {
	ul {
		list-style-type: none;
		margin-bottom: 0;
	}

	li {
		display: inline-block;
		vertical-align: middle;

		@include breakpoint-mobile {
			display: block;
		}
	}

	li + li {
		margin-left: 27px;

		@include breakpoint-mobile {
			margin-left: 0;
			margin-top: 10px;
		}
	}

	span {
		font-size: 15px;
		color: $c-base;
	}

	ul + ul {
		margin-top: 36px;
		padding-top: 22px;
		border-top: 1px solid $c-grey;

		@include breakpoint-mobile {
			margin-top: 10px;
			padding-top: 10px;
		}
	}
}
