/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^='list-'] {
	list-style: none;
	margin-bottom: 0;
}

/*  List Icon  */
.list-icon {
	margin-bottom: 30px;
	line-height: 1.39;

	/*Mobile*/
	@include breakpoint-mobile {
		padding-left: 18px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	li {
		position: relative;
		padding-left: 37px;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			padding-left: 30px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			padding-left: 38px;
		}

		+ li {
			margin-top: 32px;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				margin-top: 20px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				margin-top: 31px;
			}
		}

		svg,
		i {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);

			/*Mobile*/
			@include breakpoint-mobile {
				left: 1px;
			}

			&.svg-edit {
				top: calc(50% + 3px);
				left: -13px;
			}
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: $c-dark;
			text-decoration: underline;
		}
	}
}

/*  List Icons  */
.list-icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -9px;

	/*Tablet Portrait*/
	@include breakpoint-tablet-portrait {
		margin: 0 -2px;

		svg {
			width: 44px;
			height: 44px;
		}
	}

	/*Mobile*/
	@include breakpoint-mobile {
		height: 30px;
		margin: 0 -6px;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		svg {
			width: 100%;
			height: 100%;
		}
	}

	li {
		flex-grow: 1;
		padding: 0 9px;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			padding: 0;
			text-align: center;
			flex-grow: 0;
			width: 32%;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 0;
			text-align: center;
		}

		&.hide {
			opacity: 0;
			visibility: hidden;

			/*Mobile*/
			@include breakpoint-mobile {
				display: none;
			}
		}
	}

	a {
		position: relative;
		display: inline-block;

		span {
		}

		&:hover {
			span {
				opacity: 1;
				visibility: visible;
			}
		}

		svg {
			path {
				fill: $c-dark;
			}
		}
	}

	.eye {
		width: 25px;
		height: 18px;
	}

	span {
		position: absolute;
		top: -20px;
		left: 50%;
		transform: translateX(-50%) translateZ(0);
		-moz-backface-visibility: hidden;
		width: 115px;
		font-size: 13px;
		line-height: 1.38;
		color: $c-grey-dark;
		font-weight: 300;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity $t-duration, visibility $t-duration;
	}
}

/* List Icons Alt */

.list-icons--alt {
	justify-content: space-around;
	li {
		padding: 0;
		flex-grow: 0;
	}

	li + li {
		margin-left: 20px;
	}

	@include breakpoint-small-desktop {
		li + li {
			margin-left: 0;
		}
	}

	@include breakpoint-tablet-portrait {
		svg {
			width: auto;
			height: auto;
		}
	}

	@include breakpoint-mobile {
		justify-content: flex-start;
		li {
			width: auto;
		}

		a {
			span {
				display: none;
			}
		}

		li + li {
			margin-left: 10px;
		}
	}
}

/*  List Count  */
.list-count {
	display: flex;
	align-items: center;
	list-style: none;

	/*Mobile*/
	@include breakpoint-mobile {
		max-width: 200px;
		margin: 0 auto 30px;
	}

	a {
		display: block;
		text-decoration: none;
	}

	input {
		width: 100px;
		border: 0;
		border-radius: 0;
		margin: 0 35px;
		font-size: 18px;
		line-height: 1.22;
		font-weight: 500;
		text-align: center;
		appearance: none;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
		}

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			width: 50px;
			margin: 0 7px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			width: 100px;
			margin: 0 35px;
		}
	}

	svg {
		vertical-align: middle;
		use {
			fill: $c-dark;
			stroke: $c-dark;
		}
	}

	&.disabled {
		pointer-events: none;

		svg use {
			stroke: $c-grey-dark;
			fill: $c-grey-dark;
		}
	}

	&--pink {
		svg {
			use {
				fill: $c-pink;
				stroke: $c-pink;
			}
		}

		input {
			color: #44413d;
		}
	}
}

/*  List Rhombs  */
.list-rhombs {
	font-family: $f-hennessy-sans;
	font-size: 14px;
	line-height: 1.29;
	font-weight: normal;
	text-transform: uppercase;

	li {
		position: relative;
		padding-left: 30px;

		/*Mobile*/
		@include breakpoint-mobile {
			padding-left: 37px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 7px;
			transform: rotate(45deg) translateY(-50%);
			width: 7px;
			height: 7px;
			background: $c-brown-light;

			/*Mobile*/
			@include breakpoint-mobile {
				left: 0;
			}
		}
	}
}

/*  List Dates  */
.list-dates {
	font-size: 13px;
	line-height: 1.38;
	font-weight: normal;

	/*Mobile*/
	@include breakpoint-mobile {
		br {
			display: none;
		}
	}

	li {
		position: relative;
		padding-left: 40px;

		/*Mobile*/
		@include breakpoint-mobile {
			padding-left: 37px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			background: url(../images/calendar.svg) center no-repeat;
			background-size: 20px 20px;
		}
	}
}

/*  List Pins  */
.list-pins {
	font-size: 13px;
	line-height: 1.39;
	font-weight: normal;

	li {
		position: relative;
		padding-left: 39px;

		/*Mobile*/
		@include breakpoint-mobile {
			padding-left: 37px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 22px;
			height: 22px;
			background: url(../images/pin.svg) center no-repeat;

			/*Mobile*/
			@include breakpoint-mobile {
				left: -2px;
			}
		}
	}
}

/*  List Categories  */
.list-categories {
	font-size: 20px;

	/*Tablet Portrait*/
	@include breakpoint-tablet-portrait {
		font-size: 14px;
	}

	li + li {
		margin-top: 21px;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			margin-top: 25px;
		}
	}

	a {
		display: block;
		color: $c-base;
		text-decoration: none;
		transition: color $t-duration;

		sup {
			display: none;
			transform: translateY(-2px);
			font-size: 15px;
			line-height: 1.25;
			color: $c-brown-light;
			font-weight: 700;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				transform: translateY(-2px);
				font-size: 11px;
			}
		}

		&:hover {
			font-weight: 500;
			text-decoration: none;
		}
	}

	.current {
		a {
			font-weight: 500;
			text-decoration: none;

			sup {
				display: inline-block;
			}
		}
	}
}

/*  List Filter  */
.list-filter {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -9px;
	font-size: 16px;
	line-height: 1.75;

	/*Mobile*/
	@include breakpoint-mobile {
		margin: 0 -6px;
	}

	li {
		padding: 0 5px;

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 0 6px;
		}

		&.current {
			/*Mobile*/
			@include breakpoint-mobile {
				padding: 0 7px;
			}

			a {
				font-weight: 500;
			}
		}
	}

	a {
		display: block;
		color: $c-base;
		text-decoration: none;
		transition: color $t-duration;

		&:hover {
			font-weight: 500;
		}
	}

	@include breakpoint-mobile {
		font-size: 13px;
	}
}

/* List Links */

.list-links {
	column-count: 3;
	font-size: 16px;
	text-align: left;

	a {
		text-decoration: none;
		color: $c-base;
		&:hover {
			color: $c-dark;
		}
	}

	li {
		margin-bottom: 28px;
	}

	@include breakpoint-tablet-portrait {
		column-count: 2;

		li {
			margin-bottom: 10px;
		}
	}

	@include breakpoint-mobile {
		column-count: 1;
		font-size: 14px;

		li {
			margin-bottom: 5px;
		}
	}
}

/* List Links Alt */

.list-links-alt {
	li {
		display: inline-block;
		vertical-align: middle;
		position: relative;

		a {
			text-decoration: none;
			padding: 10px 40px 8px;
			display: block;
			font-size: 15px;
			position: relative;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 90%;
			height: 1px;
			background-color: $c-base;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s, visibility 0.3s;
		}

		.c-green {
			&:after {
				background-color: $c-green;
			}
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}

		img + span {
			margin-left: 10px;
		}
	}

	li:hover {
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}

	.active {
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	li + li {
		border-left: 1px solid $c-grey-light;
		border-right: none;
	}

	@media (max-width: 1320px) {
		li {
			a {
				padding: 10px 20px 8px;
			}
		}
	}
}

/* List Links Alt New */

.list-links-alt--new {
	li a {
		padding: 10px 14px 10px 24px;

		@media (max-width: 1130px) {
			padding: 10px 14px;
		}
	}

	li img + span {
		margin-left: 2px;
	}
}

/* List Checkboxes */

.list-checkboxes {
	li + li {
		margin-top: 14px;
	}

	@include breakpoint-mobile {
		margin-bottom: 14px !important;
	}
}

/* List Details */

.list-details {
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $c-grey;
		padding: 18px 200px 23px 0;
		span {
			font-size: 16px;
			color: $c-base;
		}
	}

	@include breakpoint-mobile {
		li {
			padding: 10px;
			span {
				font-size: 13px;
			}
		}
	}
}

/* List info */

.list-info {
	p {
		color: $c-base;
		font-size: 15px;
	}

	li + li {
		margin-top: 5px;
	}
}

/* List info package */

.list-info-package {
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 15px;
		color: $c-base;
		span {
			font-size: 16px;
		}
	}

	li + li {
		margin-top: 23px;
	}

	.field {
		font-weight: 400;
		text-align: right;
		padding: 5px 0;
		height: auto;
		line-height: 1;
	}
}

/* List Info Package Alt */

.list-info-package--alt {
	span {
		text-align: right;
		max-width: 280px;
	}
	li + li {
		margin-top: 17px;
		padding-top: 29px;
		border-top: 1px solid $c-grey;
	}
}
