/* ------------------------------------------------------------ *\
	Message
\* ------------------------------------------------------------ */

.message {
	background-color: #e3e2dc;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 300;
	padding: 0 0;
	min-height: 60px;

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 22px 0;
	}

	.container {
		position: relative;
		max-width: (1800px + $container-gutter * 2);

		@media (max-width: 1800px) {
			max-width: (1557px + $container-gutter * 2);
		}

		@media (max-width: 1500px) {
			max-width: (1284px + $container-gutter * 2);
		}
	}

	.message__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 60px;
		padding: 0 53px 0 117px;

		@include breakpoint-small-desktop {
			padding-left: 130px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			padding-left: 0;
			display: block;
			min-height: 36px;
		}
	}

	.message__content {
		max-width: 790px;
		padding-right: 30px;
		p {
			font-size: 13px;
			font-weight: 400;
		}
		/*Mobile*/
		@include breakpoint-mobile {
			padding-right: 0;
		}
	}

	.message__actions {
		padding-left: 42px;

		.btn {
			height: 60px;
			line-height: 60px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			margin-top: 20px;
			padding-left: 0;
		}
	}

	.message__info {
		position: relative;
		padding-left: 35px;
		font-size: 13px;
		line-height: 2;
		color: $c-dark;
		font-weight: 500;

		/*Mobile*/
		@include breakpoint-mobile {
			font-size: 12px;
			line-height: 1.5;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			path {
				fill: $c-dark;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 22px;
				height: 22px;
			}

			&.svg-alt {
				/*Mobile*/
				@include breakpoint-mobile {
					width: 45px;
					height: 45px;
				}
			}
		}
	}

	.message__close {
		position: absolute;
		top: 50%;
		right: 20px;
		z-index: 15;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		text-decoration: none;

		svg {
			width: 100%;
			height: 100%;
			display: block;

			path {
				fill: $c-pink;
				transition: fill $t-duration;
			}
		}

		&:hover {
			text-decoration: none;

			svg path {
				fill: $c-dark;
			}
		}
	}

	&--alt {
		padding: 0 0 0;
		font-size: 14px;
		line-height: 1.57;
		font-weight: 500;
		letter-spacing: 0.004em;

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 22px 0 24px;
			font-size: 12px;
			line-height: 1.5;
		}

		.btn {
			min-width: 90px;

			/*Mobile*/
			@include breakpoint-mobile {
				width: 100%;
			}
		}

		.message__inner {
			padding: 0 43px 0 85px;

			/*Mobile*/
			@include breakpoint-mobile {
				padding: 0;
			}
		}

		.message__aside {
			/*Mobile*/
			@include breakpoint-mobile {
				margin-top: 27px;
			}
		}

		.message__close {
			/*Mobile*/
			@include breakpoint-mobile {
				display: none;
			}
		}

		.btn {
			min-width: 140px;
		}
	}

	&--form {
		.message__inner {
			min-height: inherit;
		}
	}

	&--default {
		min-height: 59px;
		.message__info {
			padding-left: 20px;
			color: $c-base;
		}

		.message__close {
			right: 60px;
			width: 13px;
			height: 13px;
			svg {
				path {
					fill: $c-base;
				}
			}
		}

		@include breakpoint-tablet-portrait {
			.message__inner {
				padding-left: 0;
			}
		}

		@include breakpoint-mobile {
			.message__close {
				right: 20px;
			}

			.message__info {
				padding-left: 0;
			}
		}
	}

	&-wrapper {
		position: fixed;
		top: 68px;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 40;
		background: rgba(0, 0, 0, 0.44);
		opacity: 0;
		visibility: hidden;
		transition: opacity $t-duration, visibility $t-duration;

		/*Mobile*/
		@include breakpoint-mobile {
			top: 62px;
		}

		&--transparent {
			top: 74px;
			background-color: transparent;

			@include breakpoint-small-desktop {
				top: 69px;
			}

			@include breakpoint-mobile {
				top: 58px;
			}
		}

		&.visible {
			opacity: 1;
			visibility: visible;
		}

		&--delete {
			p {
				span {
					text-transform: uppercase;
				}
			}
		}
	}
}
