/* ------------------------------------------------------------ *\
	Magnific popup
\* ------------------------------------------------------------ */

.mfp-bg {
	background: rgba($c-white, 0.75);
}

.mfp-close {
	svg {
		pointer-events: none;
	}
}
