/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 0;

	&-brand {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		max-width: 127px;
		height: 130px;
		padding: 0;
		margin: 0;

		img {
			display: block;
			height: 100%;
		}

		svg {
			display: block;

			/*Mobile*/
			@include breakpoint-mobile {
				transform: scale(0.8);
				transform-origin: 0 50%;
			}
		}

		@media (max-width: 1130px) {
			height: 68px;
		}

		/*Small Desktop*/
		@include breakpoint-small-desktop {
			margin-left: 0;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			max-width: 60px;
			top: -3px;
			height: 58px;
		}

		&:hover {
			opacity: 0.8;
		}

		&--large {
			height: 130px;
			@media (max-width: 1130px) {
				height: 70px;
			}

			@include breakpoint-mobile {
				height: 58px;
			}
		}

		&.slideDown {
			visibility: visible;
			opacity: 1;
		}

		&.slideUp {
			visibility: hidden;
			opacity: 0;
		}
	}

	&-right {
		display: flex;
		align-items: center;
		padding-top: 7px;

		/*Mobile*/
		@include breakpoint-mobile {
			padding-top: 2px;
			margin-right: 0;
		}
	}

	&-left {
		&--new {
			padding-left: 127px;

			@media (max-width: 1130px) {
				padding-left: 74px;
			}
		}
	}

	&-toggler {
		position: relative;
		display: flex;
		align-items: center;
		padding: 8px 34px;
		font-size: 15px;
		line-height: 1.17;
		color: $c-dark;
		font-weight: 500;

		@media (max-width: 1320px) {
			padding: 8px 16px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 15px;
		}

		&:focus {
			box-shadow: none;
			outline: none;
		}

		strong {
			font-weight: 400;
			min-width: 115px;
			text-align: left;

			+ svg {
				position: absolute;
				top: 50%;
				right: 42px;
				transform: translateY(-50%);
			}
			@media (max-width: 1320px) {
				+ svg {
					right: 20px;
				}
			}
		}

		svg {
			&:first-child {
				display: inline-block;
				margin-right: 7px;

				/*Mobile*/
				@include breakpoint-mobile {
					margin-right: 0;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}

		+ .navbar-toggler {
			border-left: 1px solid #ebebeb;
		}

		&[aria-expanded='true'] {
			+ .navbar-collapse {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
				transition: opacity $t-duration, visibility $t-duration;

				.navbar-nav {
					transform: translateX(0);
				}
			}
		}

		&--small {
			padding: 8px 17px;
			strong {
				min-width: auto;
			}
		}

		&--login {
			@include breakpoint-tablet-portrait {
				padding: 15px;
				svg {
					&:first-child {
						margin-right: 0;
					}
				}
			}
		}

		&--user {
			flex-wrap: wrap;
			svg:first-child {
				margin-right: 16px;

				@include breakpoint-tablet-portrait {
					margin-right: 0;
				}
			}

			span {
				display: block;
			}

			strong {
				font-weight: 700;

				span:last-child {
					font-weight: 400 !important;
				}
			}

			strong + svg {
				top: 38%;
				right: 38px;

				@include breakpoint-large-desktop {
					right: 25px;
				}
			}
		}
	}

	&-border-left {
		border-left: 1px solid #ebebeb;

		/*Mobile*/
		@include breakpoint-mobile {
			border-left: 0;
		}
	}

	&-collapse {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 200;
		display: block !important;
		height: 100vh !important;
		background: rgba(0, 0, 0, 0.7);
		opacity: 0;
		visibility: hidden;
		transition: opacity $t-duration, visibility $t-duration,
			transform 0.6s 0.4s;

		/*Mobile*/
		@include breakpoint-mobile {
			overflow-y: auto;
		}
	}

	&-nav {
		transform: translateX(100%);
		height: auto;
		min-height: 100vh;
		width: 273px;
		background: $c-white;
		margin-left: auto;
		transition: transform 0.6s;

		/*Mobile*/
		@include breakpoint-mobile {
			width: 100%;
			height: auto;
			min-height: 100vh;
		}
	}

	.user-email {
		padding-top: 0;
		padding-left: 10px;
		font-weight: bold;
	}

	&-profile {
		font-size: 15px;
		line-height: 1.83;
		font-weight: 300;

		.has-dropdown {
			padding: 22px 28px 23px 39px;
			svg {
				position: absolute;
				top: 30px;
				right: 28px;
				transition: transform 0.3s;
			}

			&.show {
				svg {
					transform: rotate(180deg);
				}
			}
		}

		li {
			position: relative;
			padding: 22px 61px 19px 69px;
			border-bottom: 1px solid $c-grey-light;

			/*Mobile*/
			@include breakpoint-mobile {
				padding: 22px 61px 23px 84px;
			}

			&:first-child {
				padding: 30px 41px 28px 40px;

				/*Mobile*/
				@include breakpoint-mobile {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					padding: 9px 25px 12px;
					min-height: 54px;
				}

				.navbar-toggler {
					width: 100%;
					padding: 0;

					/*Mobile*/
					@include breakpoint-mobile {
						width: auto;
					}

					strong {
						font-weight: 500;
					}

					svg {
						use,
						g {
							fill: $c-dark;
						}

						&:first-child {
							use,
							g {
								fill: $c-dark;
								transition: fill $t-duration, stroke $t-duration;
							}

							/*Mobile*/
							@include breakpoint-mobile {
								use {
									fill: $c-brown-light;
								}
							}

							&:first-child {
								position: static;
								transform: none;
							}
						}
					}

					&:hover {
						svg:first-child {
							use,
							g {
								fill: $c-brown-light;
								stroke: $c-brown-light;
							}
						}
					}
				}
			}

			a {
				display: flex;
				align-items: center;
				text-decoration: none;

				&:hover {
					color: $c-dark;

					svg {
						use,
						g {
							fill: $c-dark;
						}
					}
				}
			}

			svg {
				use,
				rect {
					fill: $c-brown-light;
					transition: fill $t-duration;
				}

				&:first-child {
					position: absolute;
					top: 50%;
					left: 37px;
					transform: translate(-50%, -50%);

					/*Mobile*/
					@include breakpoint-mobile {
						left: 53px;
					}
				}
			}
		}
	}

	&-search {
		background: rgba(68, 65, 61, 0.7);
	}

	.dropdown-toggle {
		&:after {
			display: none;
		}
	}

	.dropdown-menu {
		border: none;
		padding: 18px 13px 0;
		ul {
			list-style-type: none;
		}

		li {
			padding: 0;
			border: none;
			letter-spacing: 0;
			@include breakpoint-mobile {
				&:first-child {
					justify-content: space-between;
				}
			}
		}

		li + li {
			margin-top: 13px;
		}

		a {
			font-size: 15px;
			color: $c-base;
		}

		@include breakpoint-mobile {
			li {
				min-height: auto;
			}
		}
	}

	@media (max-width: 1130px) {
		padding-top: 11px;
	}

	@include breakpoint-tablet-portrait {
		padding-top: 20px;
	}

	@include breakpoint-mobile {
		padding-top: 0;
	}

	&--transparent {
		background-color: transparent;
	}
}
