/* ------------------------------------------------------------ *\
	Page Bar
\* ------------------------------------------------------------ */

.page-bar {
	padding: 5px 0 0 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $c-grey-2;
	min-height: 60px;

	@media (max-width: 1130px) {
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 0 0;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 12px 0 0;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		/*Mobile*/

		@include breakpoint-mobile {
			display: block;
			padding: 0 17px;
		}
	}

	.page__content {
		@include breakpoint-small-desktop {
			width: 80%;
		}

		@media (max-width: 1130px) {
			margin-bottom: 10px;
		}

		@include breakpoint-mobile {
			margin-bottom: 0;
		}
	}

	.page__info {
		display: flex;
		align-items: flex-start;
		font-size: 13px;
		line-height: 1.38;
		font-weight: 400;
		color: $c-base;
		margin-right: 10px;

		span {
			width: 80%;
		}

		@include breakpoint-small-desktop {
			margin-right: 0;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			align-items: flex-start;
			font-size: 11px;
			line-height: 1.5;
			margin-right: auto;
			padding: 0 20px;
		}

		svg {
			margin-top: 0;
			margin-right: 11px;
			width: 20px;
			height: 16px;
			path {
				fill: $c-base;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				transform: translateY(4px);
				width: 20px;
				height: 16px;
				flex: 0 0 20px;
				margin-right: 21px;
			}
		}
	}

	.page__aside {
		padding-right: 0;
		padding-left: 0;

		/*Small Desktop*/
		@include breakpoint-small-desktop {
			padding-right: 0;
			padding-left: 41px;
		}

		@media (max-width: 1130px) {
			padding-left: 0;
		}

		@include breakpoint-tablet-portrait {
			width: 100%;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			margin-top: 13px;
			padding-left: 0;
			width: 100%;
		}
	}

	&--alt {
		padding: 7px 0 7px 150px;

		@media (max-width: 1130px) {
			padding-left: 7px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 10px 0 22px;

			.form--filter {
				padding-top: 0;
			}
		}

		.container {
			display: block;

			/*Mobile*/
			@include breakpoint-mobile {
				padding: 0 25px;
			}
		}

		.page__content {
			padding: 0;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				padding: 0;
			}

			p {
				font-size: 15px;
				line-height: 1.47;
				color: $c-base;
				margin-bottom: 0;
			}

			@include breakpoint-mobile {
				p {
					font-size: 11px;
				}
			}
		}

		.row {
			align-items: center;
			margin: 0 -10px;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				margin: 0 -5px;
			}
		}

		[class^='col'] {
			padding: 0 10px;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				padding: 0 5px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.list-dates {
			max-width: 156px;
			margin-right: auto;
			margin-left: auto;

			/*Mobile*/
			@include breakpoint-mobile {
				max-width: 100%;
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}
