/* ------------------------------------------------------------ *\
	Paging
\* ------------------------------------------------------------ */

.paging {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	line-height: 2;
	color: $c-base;

	ul {
		display: flex;
		align-items: center;
		padding: 0 6px;
		margin-bottom: 0;
		list-style: none;
	}

	li {
		padding: 0 10px;

		&.current {
			a {
				color: $c-brown-light;
				font-weight: bold;
			}
		}
	}

	a {
		text-decoration: none;
	}

	.paging__spacer {
		padding: 0 5px;
	}

	.paging__first,
	.paging__last {
		font-weight: bold;
	}

	.paging__prev,
	.paging__next {
		position: relative;
		display: block;
		width: 21px;
		height: 21px;

		&:before {
			content: '';
			position: absolute;
			top: 7px;
			width: 8px;
			height: 8px;
			border-top: 2px solid $c-dark;
			border-right: 2px solid $c-dark;
		}
	}

	.paging__prev {
		&:before {
			left: 7px;
			transform: rotate(-135deg);
		}
	}

	.paging__next {
		&:before {
			right: 7px;
			transform: rotate(45deg);
		}
	}
}
