/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */

.popup {
	max-width: 780px;
	margin: auto;
	background-color: $c-grey-light-3;
	position: relative;

	.mfp-close {
		top: 10px;
		right: 10px;
	}

	.popup__inner {
		padding: 54px 75px 70px;
	}

	.popup__head {
		margin-bottom: 26px;
		p {
			font-weight: 700;
			color: $c-base;
			font-size: 15px;
		}
	}

	.popup__title {
		font-family: $f-moet;
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		h4 {
			margin-left: 8px;
		}
	}

	@include breakpoint-tablet-portrait {
		.popup__inner {
			padding: 30px;
		}
	}

	@include breakpoint-mobile {
		.popup__title {
			h4 {
				font-size: 18px;
			}
		}
	}
}

/* Popup Info */

.popup--info {
	max-width: 873px;

	.popup__head {
		align-items: flex-end;
		margin-bottom: 51px;

		@include breakpoint-mobile {
			margin-bottom: 20px;
		}
	}

	.popup__title h4 {
		margin-left: 13px;
		color : $c-pink-light;
	}

	.popup__inner {
		padding: 54px 15px 51px 84px;

		@include breakpoint-tablet-portrait {
			padding: 54px 30px 51px;
		}

		@include breakpoint-mobile {
			padding: 30px 30px 7px;
		}
	}

	.popup__entry p {
		font-size: 15px;
		color: $c-base;
		margin-bottom: 23px;
	}

	.popup__entry p a {
		color: $c-base;
		font-weight: 700;

		&:hover {
			text-decoration: none;
		}
	}
}
