/* ------------------------------------------------------------ *\
	Preview
\* ------------------------------------------------------------ */

.preview {
	width: 80px;
	height: 80px;
	position: relative;

	.preview__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: rgba($c-black, 0);
			transition: background 0.3s;
		}

		&:hover {
			&:after {
				background: rgba($c-black, 0.75);
			}

			.preview__link {
				svg {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.preview__link {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s, visibility 0.3s;
			path {
				fill: $c-white;
			}
		}
	}
}

.preview + .preview {
	margin-left: 20px;
}
