/* ------------------------------------------------------------ *\
	Product
\* ------------------------------------------------------------ */

.products {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;

	/*Tablet Portrait*/
	@include breakpoint-tablet-portrait {
		margin: 0 -5px;
	}

	.product {
		width: 33.33%;
		padding: 0 10px;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			padding: 0 5px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			width: 50%;
		}

		&:nth-child(n + 4) {
			margin-top: 37px;
		}

		&:nth-child(n + 3) {
			/*Mobile*/
			@include breakpoint-mobile {
				margin-top: 20px;
			}
		}
	}

	&-4 {
		.product {
			width: 25%;

			&:nth-child(n + 4) {
				margin-top: 0;
			}

			&:nth-child(n + 5) {
				margin-top: 29px;
			}
		}

		/*Mobile*/
		@include breakpoint-mobile {
			.product {
				width: 50%;

				&:nth-child(n + 3) {
					margin-top: 20px;
				}
			}
		}
	}
}

.product {
	position: relative;
	font-size: 13px;
	line-height: 1.54;

	/*Tablet Portrait*/
	@include breakpoint-tablet-portrait {
		font-size: 12px;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		font-size: 11px;
		line-height: 1.27;
	}

	&:before {
		content: '';
		position: absolute;
		right: 10px;
		bottom: 0;
		left: 10px;
		height: 1px;
		background: $c-grey;
	}

	.product__image {
		@include imgCover;
		display: block;
		padding-top: 100%;
		margin-bottom: 25px;
		position: relative;

		@include breakpoint-tablet-portrait {
			margin-bottom: 19px;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	.product__block {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $c-pink;
		text-align: center;
		padding: 11px;
		font-size: 15px;
		line-height: 1.87;
		color: $c-white;
		span {
			display: inline-block;
			vertical-align: middle;
		}
		svg {
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			path {
				fill: $c-white;
			}
		}

		@include breakpoint-mobile {
			font-size: 13px;
			padding: 5px;
			svg {
				width: 15px;
				height: 15px;
			}
		}
	}

	.product__content {
		min-height: 120px;
		padding-bottom: 57px;

		/*Mobile*/
		@include breakpoint-mobile {
			min-height: 92px;
			padding-bottom: 34px;
		}

		h6 {
			max-width: 220px;
			margin-bottom: 2px;
			text-transform: uppercase;
			color: $c-dark;
			letter-spacing: 0;
			font-weight: 700;

			/*Mobile*/
			@include breakpoint-mobile {
				margin-bottom: 4px;
			}

			a {
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}
		}

		p {
			margin-bottom: 0;
			font-size: 15px;
		}

		@include breakpoint-tablet-portrait {
			p {
				font-size: 11px;
			}
		}
	}

	.product__stock {
		position: absolute;
		bottom: 10px;
		left: 9px;
		display: flex;
		align-items: center;
		min-height: 44px;
		font-size: 15px;
		line-height: 1.33;
		color: $c-green;
		font-weight: 700;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			font-size: 11px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			bottom: 5px;
			left: 6px;
			min-height: 24px;
			font-size: 10px;
			line-height: 1.2;
		}

		svg {
			margin-right: 5px;

			path {
				fill: $c-green;
			}

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				margin-right: 3px;
				width: 12px;
				height: 8px;
				bottom: auto;
				top: 0;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 10px;
				height: 10px;
				margin-right: 6px;
			}
		}

		&.error {
			color: $c-red;

			svg {
				width: 14px;
				height: 14px;
				path {
					fill: $c-red;
					stroke: $c-red;
				}
			}

			@include breakpoint-tablet-portrait {
				svg {
					width: 8px;
					height: 8px;
				}
			}
		}
	}

	.product__stock + .product__stock {
		bottom: 4px;
	}

	.product__error {
		position: relative;
		display: none;
		padding-left: 29px;
		margin-top: 19px;
		font-size: 11px;
		line-height: 2 !important;
		color: $c-red;
		font-weight: 500 !important;

		/*Mobile*/
		@include breakpoint-mobile {
			padding-left: 24px;
			margin-top: 11px;
			margin-left: -69px;
			font-size: 10px;
		}

		&:before {
			content: '!';
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 19px;
			height: 19px;
			border: 1px solid $c-red;
			border-radius: 100%;
			font-size: 11px;
			line-height: 2;
			color: $c-red;
			font-weight: bold;

			/*Mobile*/
			@include breakpoint-mobile {
				top: 1px;
				width: 15px;
				height: 15px;
				font-size: 8px;
			}
		}

		&.error {
			display: block;
		}
	}

	&--higher {
		.product__content {
			padding-bottom: 77px;
		}
		.product__stock {
			bottom: 28px;
		}

		@include breakpoint-mobile {
			.product__content {
				padding-bottom: 59px;
			}
		}
	}

	&--alt {
		.product__content {
			min-height: 69px;
			padding-bottom: 11px;
		}
	}

	&--small {
		display: flex;
		align-items: flex-start;

		&:before {
			display: none;
		}

		.product__image {
			width: 100px;
			height: 100px;
			flex: 0 0 100px;
			padding-top: 0;
			margin-right: 40px;
			margin-bottom: 0;

			/*Small Desktop*/
			@include breakpoint-small-desktop {
				margin-right: 20px;
			}

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				width: 80px;
				height: 80px;
				flex: 0 0 80px;
				margin-top: 0;
				margin-right: 10px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 53px;
				height: 53px;
				flex: 0 0 53px;
				margin-right: 16px;
			}

			&:hover {
				opacity: 1;
			}
		}

		.product__content {
			min-height: initial;
			padding-top: 10px;
			padding-bottom: 0;

			/*Small Desktop*/
			@include breakpoint-small-desktop {
				padding-top: 0;
			}

			h4 {
				max-width: 100%;

				/*Mobile*/
				@include breakpoint-mobile {
					max-width: 190px;
					margin-bottom: 10px;
					line-height: 1.5;
				}
			}

			p {
				color: $c-base;
			}
		}

		.product__stock {
			position: static;
			min-height: initial;
			margin-top: 6px;
			font-weight: 700;
			letter-spacing: 0;
			color: $c-pink;
			font-size: 15px;

			/*Small Desktop*/
			@include breakpoint-small-desktop {
				margin-top: 6px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				margin-top: 8px;
				font-size: 14px;
			}

			svg {
				margin-right: 5px;

				path {
					fill: $c-pink;
				}

				/*Mobile*/
				@include breakpoint-mobile {
					margin-right: 9px;
				}
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Product Single
\* ------------------------------------------------------------ */

.product-single {
	@include clearfix;
	margin-bottom: 135px;

	/*Tablet Portrait*/
	@include breakpoint-tablet-portrait {
		margin-bottom: 70px;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		margin-bottom: 54px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.product__image {
		@include clearfix;
		float: left;
		width: 49.15%;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			display: flex;
			flex-wrap: wrap;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			float: none;
			width: 100%;
			margin-bottom: 24px;
		}

		&-list {
			float: left;
			margin-right: 26px;
			list-style: none;

			@media (max-width: 1500px) {
				margin-right: 21px;
			}

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				order: 2;
				float: none;
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				margin: -5px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				display: block;
				margin: 0;
			}

			> li {
				width: 114px;

				@media (max-width: 1800px) {
					width: 94px;
				}

				@media (max-width: 1500px) {
					width: 78px;
				}

				/*Tablet Portrait*/
				@include breakpoint-tablet-portrait {
					padding: 5px;
				}

				/*Mobile*/
				@include breakpoint-mobile {
					width: 100%;
					height: auto;
					padding: 0;
				}

				+ li {
					margin-top: 11px;

					/*Tablet Portrait*/
					@include breakpoint-tablet-portrait {
						margin-top: 0;
					}
				}

				&.current {
					a {
						&:before {
							opacity: 1;
							visibility: visible;

							/*Mobile*/
							@include breakpoint-mobile {
								opacity: 0;
								visibility: hidden;
							}
						}
					}
				}
			}

			a {
				@include imgContain;
				position: relative;
				display: block;
				padding-top: 100%;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 3px;
					background: $c-pink;
					opacity: 0;
					visibility: hidden;
				}

				&:hover {
					opacity: 0.8;
				}
			}
		}

		&-main {
			position: relative;
			@include imgContain;
			float: left;
			width: calc(100% - 140px);
			padding-top: calc(100% - 140px);

			@media (max-width: 1800px) {
				width: calc(100% - 120px);
				padding-top: calc(100% - 120px);
			}

			@media (max-width: 1500px) {
				width: calc(100% - 99px);
				padding-top: calc(100% - 99px);
			}

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				float: none;
				order: 1;
				width: 100%;
				padding-top: 100%;
				margin-bottom: 15px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				display: none;
			}
		}
	}

	.product__content {
		float: left;
		width: 50.85%;
		padding-left: 8.7%;
		line-height: 1.58;
		letter-spacing: -0.005em;

		/*Small Desktop*/
		@include breakpoint-small-desktop {
			padding-top: 10px;
			padding-left: 30px;
		}

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			font-size: 13px;

			.btn {
				min-width: 230px;
				display: block;
			}

			.btn + .btn {
				margin-top: 10px;
			}
		}

		/*Mobile*/
		@include breakpoint-mobile {
			width: 100%;
			padding-top: 0;
			padding-left: 0;

			.btn {
				width: 100%;
			}

			.btn + .btn {
				margin-top: 15px;
			}
		}

		h2 {
			font-family: $f-moet;
			position: relative;
			margin-bottom: 0;
			&:before {
				content: '';
				position: absolute;
				left: -21px;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 40px;
				height: 1px;
				background-color: $c-pink;
			}

			@include breakpoint-mobile {
				font-size: 28px;
				&:before {
					display: none;
				}
			}
		}

		p {
			margin-bottom: 28px;
			color: $c-base;
			font-size: 15px;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				margin-bottom: 15px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				margin-bottom: 31px;
				font-size: 13px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.product__meta {
		display: block;
		margin-bottom: 27px;
		font-size: 15px;
		line-height: 1.33;
		font-weight: normal;
		color: $c-base;

		/*Small Desktop*/
		@include breakpoint-small-desktop {
			margin-bottom: 25px;
		}

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			margin-bottom: 15px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			margin-bottom: 24px;
			font-size: 13px;
			margin-top: 13px;
		}
	}

	.product__stock {
		display: block;
		padding-bottom: 23px;
		border-bottom: 1px solid $c-grey-light;
		margin-bottom: 22px;
		font-weight: 700;
		letter-spacing: 0;
		color: $c-pink;
		font-size: 15px;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			padding-bottom: 18px;
			margin-bottom: 18px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			padding-bottom: 31px;
			margin-bottom: 31px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		svg {
			path {
				fill: $c-pink;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				margin-left: -2px;
			}
		}

		&.error {
			padding-bottom: 31px;
			color: $c-red;
			letter-spacing: 0.003em;

			svg {
				transform: translateY(2px);
				width: 12px;
				height: 12px;
				margin-right: 11px;

				use {
					fill: $c-red;
				}
			}
		}

		&--no-border {
			border-bottom: none;
			padding-bottom: 5px;
			margin-bottom: 0;
		}
	}

	.product__message {
		position: relative;
		display: block;
		padding-left: 30px;
		margin-bottom: 26px;
		font-size: 15px;
		color: $c-base;

		&:last-child {
			margin-bottom: 0;
		}

		svg {
			position: absolute;
			top: 0;
			left: 0;

			path {
				fill: $c-dark;
			}
			&.svg-eye {
				top: 6px;
				left: -3px;
			}
		}
	}

	.product__info {
		font-size: 15px;
		color: $c-base;
		padding-top: 24px;
		display: block;
	}

	.form--count {
		margin-top: 31px;
		padding-bottom: 30px;
		border-bottom: 1px solid $c-grey;
	}

	.product__block {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($c-pink, 0.8);
		text-align: center;
		padding: 11px;
		font-size: 15px;
		line-height: 1.87;
		color: $c-white;
		span {
			display: inline-block;
			vertical-align: middle;
		}
		svg {
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			path {
				fill: $c-white;
			}
		}
	}
}

.product-single--alt {
	.product__image-main {
		border: 1px solid #979797;
		background-size: cover;
	}

	.product__image-list {
		a {
			border: 1px solid #979797;
			background-size: cover;
		}
	}

	.product__content {
		h2 {
			margin-bottom: 8px;
		}

		p {
			margin-bottom: 0;
		}
	}
	.product__stock {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 15px;
	}

	.product__info {
		padding-top: 17px;
		ul {
			list-style-type: none;
		}
		li {
			font-size: 15px;
			margin-bottom: 8px;
		}
	}

	.product__actions {
		margin-top: 23px;
		padding-top: 30px;
		border-top: 1px solid $c-grey;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.product__foot {
		text-align: right;
		margin-top: 17px;
	}

	.product__image-list {
		margin-right: 15px;
		& > li {
			width: 80px;
		}
	}

	.product__image {
		width: 52.15%;
	}

	.product__content {
		width: 47.85%;
		padding-left: 5.7%;
	}

	@include breakpoint-mobile {
		.product__image,
		.product__content {
			width: 100%;
			padding-left: 0;
		}
	}
}
