/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 300;
	padding: 28px 0;
	background: $c-white;

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 18px 0;
	}

	form {
		position: relative;
		margin-left: 50px;

		/*Small Desktop*/
		@include breakpoint-small-desktop {
			margin-left: 0;
		}
	}

	.container {
		position: relative;
	}

	.search__field {
		width: 100%;
		height: 24px;
		padding: 0 50px 5px;
		border: 0;
		border-radius: 0;
		font-size: 18px;
		line-height: 24px;
		font-weight: normal;
		font-style: italic;
		appearance: none;

		/*Mobile*/
		@include breakpoint-mobile {
			height: 22px;
			padding: 3px 39px 0px;
			font-size: 16px;
			line-height: 22px;
		}
	}

	.search__btn {
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		border: 0;
		border-radius: 0;
		background: url(../images/search.svg);
		background-size: 20px 20px;
		background-position: center;
		background-repeat: no-repeat;
		appearance: none;
	}

	.search__close {
		position: absolute;
		top: 0;
		right: 20px;
		z-index: 15;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		text-decoration: none;

		svg use {
			transition: fill $t-duration;
		}

		&:hover {
			text-decoration: none;

			svg use {
				fill: $c-dark;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Search Simple
\* ------------------------------------------------------------ */

.search-simple {
	position: relative;
	width: 40.5%;

	/*Mobile*/
	@include breakpoint-mobile {
		width: 100%;
	}

	.search__field {
		width: 100%;
		height: 50px;
		padding: 2px 90px 0 23px;
		border: 0;
		border-radius: 0;
		background: $c-grey-light;
		font-size: 11px;
		line-height: 50px;
		font-weight: 500;
		appearance: none;
		text-transform: uppercase;

		&::placeholder {
			color: $c-dark;
			opacity: 1;
		}
	}

	.search__btn {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 70px;
		height: 50px;
		border: 0;
		border-radius: 0;
		background: transparent;
		appearance: none;

		/*Mobile*/
		@include breakpoint-mobile {
			width: 54px;
		}
	}
}

/* ------------------------------------------------------------ *\
	Serach Alt
\* ------------------------------------------------------------ */

.search-alt {
	max-width: 201px;
	margin-left: auto;
	margin-bottom: 54px;

	form {
		border-bottom: 1px solid $c-dark;
		display: flex;
		justify-content: space-between;
		padding: 3px 0;
	}

	.search__field {
		border: none;
		background-color: transparent;
	}

	.search__btn {
		border: none;
		background-color: transparent;
	}

	@include breakpoint-mobile {
		max-width: 100%;
	}
}
