/* ------------------------------------------------------------ *\
	section-default-simple
\* ------------------------------------------------------------ */

.section-default-simple {
	padding: 70px 0;

	@include breakpoint-mobile {
		padding: 30px 0;
	}

	.section__title {
		font-size: 44px;
		margin-bottom: 21px;
		line-height: 1.2;
		margin-left: -38px;

		@include breakpoint-small-desktop {
			margin-left: 0;
		}

		@include breakpoint-mobile {
			font-size: 30px;
		}
	}

	.section__head p {
		font-size: 15px;
		line-height: 1.47;
		color: #7f7a77;
		max-width: 520px;
	}

	.section__head {
		margin-bottom: 55px;

		@include breakpoint-mobile {
			margin-bottom: 30px;
		}
	}

	.section__foot {
		padding: 49px 0 56px;

		@include breakpoint-small-desktop {
			padding: 20px 0;
		}
	}

	.section__error {
		color: #e12a1f;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
	}

	.section__subtitle {
		margin-top: 40px;
	}

	.section__subtitle h4 {
		font-family: $f-moet;
		margin-left: 6px;

		@include breakpoint-mobile {
			font-size: 20px;
		}
	}

	.section__subtitle svg,
	.section__subtitle h4 {
		display: inline-block;
		vertical-align: middle;
	}
}

/* ------------------------------------------------------------ *\
	Section default simple Alt
\* ------------------------------------------------------------ */

.section-default-simple--alt {
	.section__title {
		margin-left: 0;
		margin-bottom: 34px;
	}

	.section__head {
		margin-bottom: 35px;
	}

	.section__head p {
		max-width: 100%;
	}
}

/* ------------------------------------------------------------ *\
	Section default simple Form
\* ------------------------------------------------------------ */

.section-default-simple--form {
	.section__head {
		margin-bottom: 62px;
	}

	.section__title {
		margin-bottom: 33px;
	}

	.section__head p {
		max-width: 100%;
	}

	.section__subtitle {
		margin-bottom: 16px;
	}

	.section__subhead {
		margin-bottom: 36px;
	}

	.section__subhead p {
		font-size: 15px;
		line-height: 1.6;
	}

	.section__actions {
		margin-top: 47px;
	}
}

/* ------------------------------------------------------------ *\
	section-default-simple
\* ------------------------------------------------------------ */

.section-default-simple--no-padding {
	padding: 0;
}
