/* ------------------------------------------------------------ *\
	Section Products
\* ------------------------------------------------------------ */

.section-products {
	padding: 50px 0 54px;
	color: #4a4a4a;

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 20px 0;
	}

	.container {
		@include clearfix;
	}

	.filter {
		justify-content: flex-end;
		margin-bottom: 34px;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			margin-bottom: 25px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			justify-content: flex-start;
		}
	}

	.paging {
		padding-top: 40px;
	}

	.sidebar {
		padding-top: 10px;

		@media (max-width: 1500px) {
			padding-top: 35px;
			padding-left: 12px;
		}

		/*Small Desktop*/
		@include breakpoint-small-desktop {
			padding-top: 0;
			padding-left: 0;
		}
	}

	.content {
		@media (max-width: 1500px) {
			padding-right: 12px;
		}

		/*Small Desktop*/
		@include breakpoint-small-desktop {
			padding-right: 0;
		}
	}
}

/* ------------------------------------------------------------ *\
	Section Product
\* ------------------------------------------------------------ */

.section-product {
	padding: 97px 0 71px;

	.section__head {
		margin-bottom: 37px;

		/*Mobile*/
		@include breakpoint-mobile {
			margin-bottom: 26px;
		}
	}

	@include breakpoint-mobile {
		padding: 50px 0;
	}

	&--small {
		.container {
			max-width: 1179px;
		}
	}
}

/* ------------------------------------------------------------ *\
	Section Related
\* ------------------------------------------------------------ */

.section-related {
	padding: 63px 0 16px;

	/*Tablet Portrait*/
	@include breakpoint-tablet-portrait {
		padding-top: 30px;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 23px 0 30px;
	}

	.section__head {
		margin-bottom: 34px;
		text-align: center;

		h3 {
			font-family: $f-moet;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			margin-bottom: 26px;
			h3 {
				font-size: 28px;
			}
		}

		h2 {
			letter-spacing: 0.012em;
		}
	}

	.section__body {
		/*Mobile*/
		@include breakpoint-mobile {
			overflow-x: auto;
			white-space: nowrap;
			margin: 0 -25px;
		}
	}

	.row {
		margin: 0 -10px;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			margin: 0 -5px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			width: 688px;
			padding: 0 25px;
		}
	}

	[class^='col'] {
		padding: 0 10px;
		white-space: initial;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			padding: 0 5px;
		}
	}

	.product {
		height: 100%;

		&:before {
			right: 0;
			left: 0;
		}

		.product__stock {
			left: 0;
		}
	}
}

/* ------------------------------------------------------------ *\
	Section Project
\* ------------------------------------------------------------ */

.section-project {
	position: relative;
	min-height: calc(100vh - 270px);

	/*Mobile*/
	@include breakpoint-mobile {
		min-height: calc(100vh - 397px);
	}

	.section__head {
		margin-bottom: 59px;
	}

	.section__title {
		padding-left: 30px;
		font-family: $f-moet;
		position: relative;
		margin-bottom: 13px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 50px;
			height: 1px;
			background-color: $c-pink;
		}

		@include breakpoint-mobile {
			font-size: 25px;
		}
	}

	.section__subtitle {
		font-size: 15px;
		font-weight: 700;
		color: $c-base;
	}

	.link-back {
		display: inline-block;
		margin-bottom: 41px;
		span {
			color: $c-base;
		}

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			margin-bottom: 20px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			margin-bottom: 23px;

			svg {
				margin-right: 11px;
			}
		}
	}

	&--empty {
		.form__content {
			h1 {
				margin-bottom: 5px;
			}

			p {
				margin-bottom: 28px;
			}

			.btn {
				min-width: 280px;

				/*Mobile*/
				@include breakpoint-mobile {
					min-width: auto;
					width: 100%;
				}
			}
		}
	}

	&--alt {
		padding: 94px 0 70px;
		line-height: 1.39;

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 22px 0 0;
		}

		p {
			margin-bottom: 28px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.btn {
			padding: 0 20px;
		}

		.link-back {
			/*Mobile*/
			@include breakpoint-mobile {
				margin-bottom: 26px;
			}

			svg {
				/*Mobile*/
				@include breakpoint-mobile {
					margin-right: 17px;
				}
			}
		}

		h1 {
			/*Mobile*/
			@include breakpoint-mobile {
				margin-bottom: 0;
			}
		}

		&.section-project--empty {
			padding-bottom: 25px;

			h1 {
				/*Mobile*/
				@include breakpoint-mobile {
					margin-bottom: 30px;
				}
			}
		}

		@include breakpoint-tablet-portrait {
			.link-back {
				margin-bottom: 26px;
			}

			.section__head {
				margin-bottom: 26px;
			}
		}

		@include breakpoint-mobile {
			.section__head {
				margin-bottom: 15px;
			}

			.section__subtitle {
				font-size: 13px;
			}

			.link-back {
				margin-bottom: 10px;
			}
		}
	}

	&--diff {
		.section__head {
			display: flex; 
			justify-content: space-between; 
			align-items: flex-end;
			@include breakpoint-mobile {
				display: block; 
			}
		}

		.section__head-actions {
			margin-left: 20px; 

			@include breakpoint-mobile {
				margin-left: 0; 
				margin-top: 20px; 
			}
		}
		.list-icons {
			@include breakpoint-mobile {
				display: flex; 
				align-items: center; 
			}

			li {
				width: 50%; 
				margin: 0; 

				@include breakpoint-mobile {
					width: auto; 
				}

				svg {
					width: 20px; 
				}
			}

			li + li {
				@include breakpoint-mobile {
					margin-left: 20px; 
				}
			}
		}
	}

	&--primary {
		padding: 76px 0;

		@include breakpoint-mobile {
			padding: 40px 0;
		}

		h1,
		h2,
		h3,
		h4 {
			font-family: $f-moet;

			svg {
				margin: 0 5px -1px 0;
			}
		}

		.section__head {
			padding-left: 4px;
			margin-bottom: 45px;
		}

		.section__table {
			padding-top: 66px;

			@include breakpoint-mobile {
				padding-top: 40px;
			}
		}

		.list-icons {
			li {
				svg {
					width: 20px;
				}
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Section Form
\* ------------------------------------------------------------ */

.section-form {
	background-color: rgba($c-grey-2, 0.2);
}

/* ------------------------------------------------------------ *\
	Section Details
\* ------------------------------------------------------------ */

.section-details {
	background-color: rgba($c-grey-2, 0.5);
	padding: 46px 0 70px;

	.section__head {
		margin-bottom: 12px;
		text-align: center;
		h3 {
			color: $c-dark;
			font-family: $f-moet;
		}
	}

	.section__body {
		display: flex;

		ul {
			width: 50%;

			&:last-child {
				li {
					padding-right: 0;
					padding-left: 200px;
				}
			}
		}
	}

	@include breakpoint-tablet-portrait {
		.section__body {
			ul {
				li {
					padding-right: 20px;
				}

				&:last-child {
					li {
						padding-left: 20px;
					}
				}
			}
		}
	}

	@include breakpoint-mobile {
		padding: 20px 0;
		.section__head {
			h3 {
				font-size: 28px;
			}
		}

		.section__body {
			flex-direction: column;
			ul {
				width: 100%;

				li {
					padding-right: 0;
					padding-left: 0;
				}

				&:last-child {
					li {
						padding-left: 0;
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Section Default
\* ------------------------------------------------------------ */

.section-default {
	padding: 78px 0 0;
	min-height: calc(100vh - 270px);

	.section__head {
		padding-left: 50px;
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.section__title {
		padding-left: 37px;
		position: relative;
		font-family: $f-moet;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 88px;
			height: 1px;
			margin: auto;
			background-image: linear-gradient(270deg, #e6a88e 0%, #b2806e 100%);
			z-index: -1;
		}
	}

	.section__subtitle {
		margin-bottom: 14px;
		h4 {
			font-family: $f-moet;
			display: inline-block;
			vertical-align: middle;
		}

		.svg {
			margin-right: 7px;
			display: inline-block;
			vertical-align: middle;
		}

		p {
			font-size: 15px;
			font-weight: 700;
			margin-top: 4px;
			color: $c-base;
		}
	}

	.section__body {
		min-height: 600px;
		position: relative;
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
		}
	}

	.section__aside {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 42%;
		background-color: $c-grey-2;
		padding: 32px 40px 32px 93px;
	}

	.section__content {
		width: 57%;
		padding-left: 6px;
		padding-bottom: 50px;
	}

	.section__actions {
		text-align: center;
		margin-top: 50px;
	}

	.tabs-alt {
		margin-top: 35px;
	}

	@include breakpoint-large-desktop {
		.section__aside {
			padding-left: 30px;
		}
	}

	@include breakpoint-small-desktop {
		.section__head {
			padding-left: 0;
		}

		.section__aside {
			padding: 30px;
		}
	}

	@include breakpoint-tablet-portrait {
		min-height: 800px;
		padding: 50px 0 0;
		.section__aside {
			padding: 20px;
		}
	}

	@include breakpoint-mobile {
		padding: 30px 0 30px;

		.section__head {
			margin-bottom: 20px;
			flex-direction: column;
			align-items: flex-start;
		}

		.section__title {
			font-size: 25px;

			&:before {
				width: 50px;
			}
		}

		.section__subtitle {
			h4 {
				font-size: 18px;
			}
		}

		.section__aside {
			width: 100%;
			position: static;
		}

		.section__content {
			width: 100%;
		}

		.section__body {
			.container {
				flex-direction: column-reverse;
			}
		}

		.link {
			margin-top: 10px;
		}
	}
}

.section-default--primary {
	position: relative;
	padding: 87px 0 0;

	@include breakpoint-mobile {
		padding: 30px 0;
	}

	.section__head {
		display: block;
		padding-left: 116px;
		margin-bottom: 13px;

		@include breakpoint-small-desktop {
			padding-left: 0;
		}

		h5 {
			color: $c-base;
			font-size: 15px;
			font-weight: 700;
		}
	}

	.section__title {
		margin-bottom: 3px;
	}

	.section__body {
		padding-bottom: 100px;

		@include breakpoint-mobile {
			padding-bottom: 0;
		}

		.container {
			justify-content: flex-start;
		}
	}

	.section__aside {
		left: auto;
		right: 0;
	    padding: 42px 40px 32px 94px;

	    @include breakpoint-small-desktop {
		    padding: 42px 40px 32px 40px;
		}

		@include breakpoint-tablet-portrait {
			padding: 20px;
		}

		h4 {
			margin-bottom: 17px;
			color: $c-green;
			font-family: $f-moet;
			font-weight: 400;

			svg {
				margin: 0px 3px -4px 0
			}
		}

		p {
			margin-bottom: 20px;
			color: $c-grey-dark;
			font-size: 15px;
			font-weight: 700;

			@include breakpoint-mobile {
				margin-bottom: 10px;
				font-size: 14px;
			}
		}

		&.is-sticky {
			position: fixed;
			top: 74px;
		}
	}

	.section__content {
		padding-bottom: 16px;
	}

	.form--procedure {
		.container {
			@include breakpoint-mobile {
				flex-direction: column;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Section Alt
\* ------------------------------------------------------------ */

.section-alt {
	padding: 96px 0 24px;
	background: rgba($c-grey-2, 0.2);

	.section__head {
		margin-bottom: 36px;
	}

	.section__title {
		padding-left: 37px;
		position: relative;
		font-family: $f-moet;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 44px;
			height: 1px;
			margin: auto;
			background-image: linear-gradient(270deg, #e6a88e 0%, #b2806e 100%);
			z-index: -1;
		}

		@include breakpoint-mobile {
			font-size: 25px;

			&:before {
				width: 50px;
			}
		}
	}

	.section__subtitle {
		color: $c-grey-dark;
		font-size: 15px;
		font-weight: 700;
		margin-top: 15px;
	}

	.section__group {
		padding: 36px 0 65px;
	}

	.section__subhead {
		margin-bottom: 38px;
		&--left {
			margin-left: -37px;
		}

		@include breakpoint-small-desktop {
			&--left {
				margin-left: 0;
			}
		}

		@include breakpoint-mobile {
			margin-bottom: 20px;
		}
	}

	.section__actions {
		p {
			font-size: 15px;
			color: $c-base;
		}
	}

	.table--products {
		max-width: 800px;
	}

	@include breakpoint-small-desktop {
		padding: 75px 0 25px;
	}

	@include breakpoint-tablet-portrait {
		padding: 50px 0 25px;

		.section__subhead {
			margin-bottom: 0;
		}

		.section__group {
			padding: 35px 0;
		}
	}
}

/* ------------------------------------------------------------ *\
	Section Primary
\* ------------------------------------------------------------ */

.section-primary {
	padding: 52px 0 68px;
	background-color: $c-grey-2;

	@include breakpoint-mobile {
		padding: 40px 0;
	}

	h1,
	h2,
	h3,
	h4 {
		@include breakpoint-mobile {
			font-size: 20px;
		}

		svg {
			@include breakpoint-mobile {
				margin-bottom: -4px;
			}
		}
	}

	ul {
		color: $c-grey-dark;
		font-size: 15px;
		list-style: none;
	}

	li {
		+ li {
			margin-top: 5px;
		}
	}

	.section__inner {
		padding: 0 0 0 91px;

		@include breakpoint-mobile {
			padding: 0;
		}
	}

	.section__head {
		padding-left: 0;
	}

	.section__body {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		@include breakpoint-mobile {
			display: block;
		}
	}

	.section__content {
		h4 {
			margin-bottom: 21px;
		}

		@include breakpoint-mobile {
			margin-bottom: 20px;
		}
	}

	.section__actions {
		padding-bottom: 2px;
		margin-right: -35px;

		@media(max-width: 1600px) {
			margin-right: 0;
		}
	}
}
