/* ------------------------------------------------------------ *\
	Selectric
\* ------------------------------------------------------------ */
.selectric-items li.disabled {
  display: block !important;
}
.selectric-items {
	padding: 0;
	box-shadow: 0 2px 14px rgba(100, 100, 100, 0.4);
	border: none;
	li {
		font-size: 15px;
		color: $c-base;
		background-color: #f1f1ee;
		padding: 11px 20px;

		&.last {
			padding: 11px 20px;
		}
	}

	.highlighted,
	li:hover {
		background-color: $c-dark;
		color: $c-white;
	}
}
