/* ------------------------------------------------------------ *\
	Select 2
\* ------------------------------------------------------------ */

.select2-dropdown.select__dropdown {
	box-shadow: 0 2px 14px rgba(100, 100, 100, 0.4);
	border: none;

	.select2-results__option {
		font-size: 15px;
		color: $c-base;
		background-color: #f1f1ee;
		padding: 11px 20px;
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: $c-dark;
		color: $c-white;
	}
}

.select2-dropdown.select__dropdown-alt {
	box-shadow: 0 2px 14px rgba(100, 100, 100, 0.4);
	border: none;
	width: 282px !important;

	.img-profile {
		margin-right: 13px;
	}

	.select2-results__option {
		font-size: 15px;
		color: $c-base;
		background-color: #f1f1ee;
		padding: 11px 20px;
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: $c-dark;
		color: $c-white;
	}

	@include breakpoint-mobile {
	}
}
