/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar {
	float: left; 
	width: 25.3%; 
	padding-right: 20px; 

	@media (max-width: 1500px) {
		width: 26%; 
	}

	/*Small Desktop*/
	@include breakpoint-small-desktop {
		width: 25%; 
	}

	/*Mobile*/
	@include breakpoint-mobile {
		float: none; 
		width: 100%; 
		padding-right: 0; 
	}
}
