/* ------------------------------------------------------------ *\
	Slick Carousel
\* ------------------------------------------------------------ */

.slick-dots { position: absolute; bottom: 16px; left: 50%; transform: translateX(-50%); display: flex; align-items: center; list-style: none; }
.slick-dots li { padding: 5px; }
.slick-dots li button { display: block; width: 4px; height: 4px; border: 0; border-radius: 100%; background: #f1f1f1; font-size: 0; transition: border $t-duration, background $t-duration; }

.slick-dots li button:hover,
.slick-dots .slick-active button { width: 7px; height: 7px; border-color: transparent; background: $c-white; }
.slick-dots li button:focus {
	outline: none;
	box-shadow: none;
}
