/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

.tabs {
	padding: 53px 100px 27px;
	font-size: 14px;
	line-height: 1.58;
	font-weight: normal;

	/*Mobile*/
	@include breakpoint-mobile {
		font-size: 13px;
		line-height: 1.54;
	}

	/*Tablet Portrait*/
	@include breakpoint-tablet-portrait {
		padding: 25px 25px;
	}

	/*Mobile*/
	@include breakpoint-mobile {
		padding: 31px 25px 37px;
	}

	.tabs__nav {
		ul {
			display: flex;
			justify-content: space-around;
			list-style: none;
			text-align: center;
		}

		li {
			position: relative;
			width: 100%;
			padding-bottom: 34px;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				padding-bottom: 23px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				padding-bottom: 19px;
				letter-spacing: -0.03em;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				height: 1px;
				background: $c-grey;
			}

			a {
				text-decoration: none;
				transition: color $t-duration;
			}

			&.active {
				&:after {
					height: 3px;
					background: $c-brown-light;
				}

				a {
					color: $c-brown-light;
					font-weight: 500;
					text-decoration: none;
				}
			}
		}
	}

	.tabs__body {
		position: relative;
	}

	.tab {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;

		&.active {
			position: relative;
			opacity: 1;
			visibility: visible;
		}
	}

	.tab__entry {
		padding: 40px 0;
		letter-spacing: -0.005em;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			padding: 35px 0 20px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 32px 0 0px;
			letter-spacing: -0.003em;
		}

		p {
			margin-bottom: 22px;

			/*Mobile*/
			@include breakpoint-mobile {
				margin-bottom: 20px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Tabs Alt
\* ------------------------------------------------------------ */

.tabs-alt {
	.nav-item {
		min-width: 200px;
		text-align: center;
	}

	.nav-link {
		font-size: 14px;
		color: $c-dark;
		text-decoration: none;
		padding: 15px;
		background-color: #f9f9f8;
		color: rgba($c-base, 0.35);
		border-radius: 0;
		border-left: none;
	}

	.tabs__head {
		margin-bottom: 40px;
	}

	@include breakpoint-small-desktop {
		.nav-item {
			min-width: auto;
			flex-grow: 1;
		}
	}
	@include breakpoint-mobile {
		.tabs__head {
			margin-bottom: 0;
		}
	}
}
