/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.57;
	font-weight: 300;

	/*Mobile*/
	@include breakpoint-mobile {
		font-size: 12px;
		line-height: 1.3;
	}

	tr {
		+ tr {
			border-top: 1px solid $c-grey;
		}
	}

	td {
		padding: 22px 5px 25px;
		border-top: 0;

		/*Mobile*/
		@include breakpoint-mobile {
			padding: 15px 5px;
		}

		strong {
			letter-spacing: -0.005em;
		}

		&:first-child {
			padding-left: 0;
		}
	}

	&--attributes {
		/*Mobile*/
		@include breakpoint-mobile {
			word-break: break-word;
		}

		tr {
			&:last-child {
				td {
					padding-bottom: 0;
				}
			}
		}

		td {
			&:first-child {
				width: 210px;

				/*Mobile*/
				@include breakpoint-mobile {
					width: 40%;
				}
			}
		}
	}

	&--projects {
		thead {
			th {
				padding: 3px 0;
				border: 0;
				font-size: 13px;
				line-height: 2;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 0.65px;
				color: $c-base;

				/*Mobile*/
				@include breakpoint-mobile {
					display: none;
				}

				&:first-child {
					padding-left: 0;
					text-align: left;
				}
			}
		}

		.list-count {
			justify-content: center;

			input {
				width: 80px;
				margin: 0 15px;
				background-color: transparent;

				/*Tablet Portrait*/
				@include breakpoint-tablet-portrait {
					width: 40px;
					margin: 0 8px;
				}

				/*Mobile*/
				@include breakpoint-mobile {
					width: 92px;
					margin: 0 9px;
					font-size: 14px;
					line-height: 1.57;
				}
			}
		}

		td {
			padding: 25px 5px 24px;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				padding: 18px 3px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				padding: 12px 3px;
			}
		}

		tbody {
			tr {
				/*Mobile*/
				@include breakpoint-mobile {
					display: flex;
					justify-content: space-between;
					width: 100%;
					flex-wrap: wrap;
				}
			}

			td {
				vertical-align: middle;

				/*Mobile*/
				@include breakpoint-mobile {
					padding: 0 0 5px;
				}

				&:first-child {
					padding-right: 5px;

					/*Small Desktop*/
					@include breakpoint-small-desktop {
						width: calc(100% - 300px);
					}

					/*Mobile*/
					@include breakpoint-mobile {
						width: 100%;
						padding-top: 20px;
						padding-bottom: 24px;
					}
				}

				&:nth-child(2) {
					width: 287px;

					/*Small Desktop*/
					@include breakpoint-small-desktop {
						width: 200px;
					}

					/*Tablet Portrait*/
					@include breakpoint-tablet-portrait {
						width: 112px;
					}

					/*Mobile*/
					@include breakpoint-mobile {
						width: auto;
						padding-left: 0;
					}
				}

				&:last-child {
					width: 70px;
					text-align: center;

					a {
						display: inline-block;

						/*Mobile*/
						@include breakpoint-mobile {
							transform: translateX(0);
							margin-top: -15px;
						}

						&.disabled {
							pointer-events: none;

							svg use {
								fill: $c-grey-dark;
							}
						}
					}
				}
			}
		}

		tfoot {
			border-top: 1px solid $c-grey;

			tr {
				/*Mobile*/
				@include breakpoint-mobile {
					display: flex;
					flex-wrap: wrap;
				}
			}

			td {
				padding: 30px 5px 20px;
				vertical-align: middle;

				/*Mobile*/
				@include breakpoint-mobile {
					width: 100%;
				}

				&:first-child {
					/*Mobile*/
					@include breakpoint-mobile {
						order: 2;
						padding: 8px 15px 23px;
					}
				}

				&:last-child {
					padding-right: 25px;
					text-align: right;

					/*Tablet Portrait*/
					@include breakpoint-tablet-portrait {
						padding-right: 0;
					}

					/*Mobile*/
					@include breakpoint-mobile {
						order: 1;
						padding: 26px 0 15px;
					}
				}

				strong {
					font-family: $f-trebuchet;
					font-size: 16px;
					line-height: 1.25;
					font-weight: 700;
					letter-spacing: 0;

					/*Tablet Portrait*/
					@include breakpoint-tablet-portrait {
						font-size: 16px;
					}

					/*Mobile*/
					@include breakpoint-mobile {
						font-size: 14px;
						line-height: 1.57;
						letter-spacing: 0.015em;
					}
				}
			}

			.btn {
				min-width: 220px;

				/*Tablet Portrait*/
				@include breakpoint-tablet-portrait {
					min-width: 150px;
				}

				/*Mobile*/
				@include breakpoint-mobile {
					width: 100%;
					height: 52px;
					line-height: 50px;
				}
			}
		}
	}
}

.table--products {
	tbody {
		td {
			&:last-child {
				width: 380px;
			}
		}
	}

	tfoot {
		td:last-child {
			text-align: left;
		}
	}
}

/* ------------------------------------------------------------ *\
	Table Projects Alt
\* ------------------------------------------------------------ */

.table-projects-alt {
	/*Mobile*/
	@include breakpoint-mobile {
		margin: 0 -25px;
	}

	.status {
		display: flex;
		align-items: center;
		padding-left: 0;
		font-weight: 700;

		span {
			font-size: 15px;
		}

		@include breakpoint-tablet-portrait {
			span {
				font-size: 13px;
			}
		}

		/*Mobile*/
		@include breakpoint-mobile {
			padding-left: 0;
			font-size: 13px;
			width: 55%;
		}

		svg {
			flex: 0 0 16px;
			width: 12px;
			height: 12px;
			margin-right: 5px;
			margin-top: 3px;

			&.clock {
				flex: 0 0 16px;
				width: 16px;
				height: 16px;
				margin-right: 10px;
			}

			path,
			.c-check {
				fill: $c-base;
			}
		}

		&.alt {
			transform: translateY(-10px);

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				transform: none;
			}

			svg {
				flex: 0 0 40px;
				width: 12px;
				height: 12px;
				margin-left: -19px;
				margin-top: 0;
				margin-right: -6px;

				use {
					fill: $c-base;
				}

				/*Mobile*/
				@include breakpoint-mobile {
					transform: translateY(2px);
					margin-right: -5px;
					margin-left: -12px;
				}
			}

			@include breakpoint-mobile {
				svg {
					margin-top: -5px;
					margin-left: 0;
					margin-right: 7px;
				}
			}
		}

		&.danger {
			color: $c-red;
			align-items: flex-start;

			svg {
				path {
					fill: $c-red;
				}
			}
		}

		&.success {
			color: $c-green;
			align-items: flex-start;

			svg {
				width: 16px;
				height: 12px;
				flex: 0 0 16px;
				margin-right: 5px;
				margin-top: 5px;
				path,
				.c-check {
					fill: $c-green;
				}
			}
		}

		&.hold {
			align-items: flex-start;
		}

		&.gold {
			color: $c-pink;
			align-items: flex-start;

			svg {
				width: 16px;
				height: 12px;
				flex: 0 0 16px;
				margin-right: 5px;
				margin-top: 5px;
				path,
				.c-check {
					fill: $c-pink;
				}
			}
		}

		&.gray {
			color: $c-grey-light-2;

			svg {
				path {
					fill: $c-grey-light-2;
				}
			}
		}
	}

	.status-list {
		flex-wrap: wrap;
	}

	table {
		font-size: 13px;
		line-height: 1.38;
		font-weight: 300;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			font-size: 12px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			font-size: 13px;
		}
	}

	th {
		padding: 2px 5px 12px;
		font-size: 12px;
		line-height: 2;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		text-align: left;
		font-family: $f-futura;

		/*Tablet Portrait*/
		@include breakpoint-tablet-portrait {
			padding-bottom: 2px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			display: none;
		}

		&:first-child {
			padding-left: 0px;

			/*Small Desktop*/
			@include breakpoint-small-desktop {
				padding-left: 10px;
			}
		}

		&:last-child {
			padding-right: 0;
		}
	}

	td {
		padding: 42px 5px 36px;
		vertical-align: middle;
		font-size: 15px;
		color: $c-base;

		@include breakpoint-tablet-portrait {
			padding: 20px 5px;
		}

		/*Mobile*/
		@include breakpoint-mobile {
			display: flex;
			flex-wrap: wrap;
			padding: 8px 25px;

			&:before {
				content: attr(data-title);
				display: inline-block;
				vertical-align: middle;
				min-width: 130px;
				margin-right: 10px;
				margin-bottom: 9px;
				font-size: 13px;
				font-weight: 300;
				text-transform: uppercase;
				color: $c-dark;
			}
		}

		&:first-child {
			padding-left: 0;
			width: 28%;
			color: $c-dark;

			/*Small Desktop*/
			@include breakpoint-small-desktop {
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 100%;
				padding-top: 2px;
				padding-left: 25px;

				&:before {
					width: 100%;
				}
			}
		}

		&:nth-child(2) {
			width: 13%;

			/*Small Desktop*/
			@include breakpoint-small-desktop {
				width: 90px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 100%;

				&:before {
					margin-top: 4px;
					margin-right: 9px;
				}
			}
		}

		&:nth-child(3) {
			width: 13%;

			/*Mobile*/
			@include breakpoint-mobile {
				width: 100%;

				&:before {
					margin-top: 4px;
				}
			}
		}

		&:nth-child(4) {
			width: 17%;

			/*Mobile*/
			@include breakpoint-mobile {
				display: flex;
				align-items: center;
				width: 100%;
				padding: 0 25px;

				&:before {
					margin-bottom: 0;
				}
			}
		}

		&:nth-child(5) {
			width: 13%;

			@include breakpoint-mobile {
				width: 100%;
			}
		}

		&:last-child {
			width: 180px;
			padding-right: 0;

			/*Tablet Portrait*/
			@include breakpoint-tablet-portrait {
				width: 152px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				width: 100%;
				padding-bottom: 27px;

				&:before {
					display: none;
				}
			}

			.list-icons {
				transform: translateX(12px);

				/*Tablet Portrait*/
				@include breakpoint-tablet-portrait {
					transform: translateX(0);
				}

				/*Mobile*/
				@include breakpoint-mobile {
					transform: translateX(0);
				}
			}
		}

		h4 {
			font-size: 16px;
			line-height: 1.25;
			letter-spacing: 0;
			text-transform: uppercase;
			font-weight: 700;

			/*Small Desktop*/
			@include breakpoint-small-desktop {
				font-size: 13px;
			}

			/*Mobile*/
			@include breakpoint-mobile {
				font-size: 14px;
				line-height: 1.43;
			}
		}
	}

	tr {
		/*Mobile*/
		@include breakpoint-mobile {
			display: block;
		}

		&.gold {
			color: $c-brown-light;

			svg {
				use {
					fill: $c-brown-light;
				}

				&.black {
					use {
						fill: $c-dark;
					}
				}
			}
		}

		&.grey {
			background: #fafafa;
			color: $c-grey-dark;
		}

		+ tr {
			border-top: 1px solid $c-grey;
		}
	}

	svg {
		&.grey {
			use,
			rect,
			path {
				fill: $c-grey-dark;
			}
		}

		&.gold {
			use {
				fill: $c-brown-light;
			}
		}

		&.small {
			width: 10px;
			height: 10px;
		}
	}
}

.table-projects-alt--secondary {
	th {
		font-weight: 300;
	}
	td {
		&:first-child {
			width: 240px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			width: 130px;
		}

		&:last-child {
			width: 110px;
			.list-icons {
				transform: translateX(0);
				margin: 0;
			}
		}
	}

	.status {
		ul {
			list-style-type: none;
			margin-top: 6px;
			margin-left: 20px;
			li {
				font-size: 11px;
				color: $c-dark;
				font-weight: 400;
			}
			li + li {
				margin-top: 5px;
			}
		}
	}

	tr {
		&:last-child {
			td {
				border-bottom: 1px solid $c-grey;
			}
		}
	}

	@include breakpoint-mobile {
		td {
			&:first-child {
				padding-top: 27px;
				width: 100%;
			}

			&:nth-child(2),
			&:nth-child(3),
			&:last-child {
				width: 100%;
			}

			.list-icons {
				width: 100%;
			}
		}

		tr {
			&:last-child {
				border: 1px solid $c-grey;
				td {
					border: none;
				}
			}
		}
	}
}

.table-projects-alt--primary {
	@include breakpoint-mobile {
		margin: 0;
	}

	a {
		color: $c-base;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	th {
		padding: 2px 5px 30px;
		font-weight: 400;

		@include breakpoint-mobile {
			padding: 8px 0;
		}

		&:nth-child(4) {
			padding-left: 31px;
		}
	}

	td {
		padding: 35px 5px 39px;

		@include breakpoint-mobile {
			flex-wrap: nowrap;
			min-height: 46px;
			padding: 8px 0;
		}

		&:before {
			min-width: 170px;
		}

		&:first-child {
			width: 6.6%;
			padding-left: 2px;

			@include breakpoint-mobile {
				display: block;
				width: 100%;
				padding: 8px 0;
			}
		}

		&:nth-child(2) {
			width: 22%;
			font-size: 16px;

			@include breakpoint-mobile {
				width: 100%;
			}
		}

		&:nth-child(3) {
			width: 25.7%;

			@include breakpoint-mobile {
				width: 100%;
			}
		}

		&:nth-child(4) {
			width: 14.4%;

			@include breakpoint-mobile {
				width: 100%;
				padding: 8px 0;
			}
		}

		&:nth-child(5) {
			width: 17.2%;

			@include breakpoint-mobile {
				width: 100%;
			}
		}

		&:last-child {
			@include breakpoint-mobile {
				padding: 8px 0;
			}
		}

		.status.success {
			svg {
				@include breakpoint-mobile {
					margin-top: 3px;
				}
			}
		}

		.list-icons {
			@include breakpoint-mobile {
				flex-wrap: nowrap;
				margin: 0;
			}

			li {
				+ li {
					@include breakpoint-mobile {
						margin-left: 10px;
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Table members
\* ------------------------------------------------------------ */

.table-members {
	color: $c-base;
	th {
		padding: 11px 0;
		font-size: 15px;
		font-weight: 700;
		&:nth-child(2) {
			text-align: right;
		}
	}
	tbody {
		td {
			padding: 9px 0;
			font-size: 15px;
			&:nth-child(2) {
				text-align: right;
			}

			&:last-child {
				padding-left: 48px;
			}
		}
	}

	tfoot {
		td {
			padding: 30px 0 0;
		}
	}

	.list-icons {
		margin: 0;
	}

	@include breakpoint-mobile {
		overflow-y: auto;
		table {
			width: 460px;
		}
	}
}
