/* ------------------------------------------------------------ *\
	Title
\* ------------------------------------------------------------ */

.title {
	padding-left: 37px;
	position: relative;
	font-family: $f-moet;

	@include breakpoint-mobile {
		padding-left: 20px; 
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 25px;
		bottom: 0;
		width: 60px;
		height: 1px;
		background-image: linear-gradient(270deg, #e6a88e 0%, #b2806e 100%);
		z-index: -1;

		@include breakpoint-mobile {
			width: 35px; 
			top: 20px; 
		}
	}
}