/* ------------------------------------------------------------ *\
	Toolbox
\* ------------------------------------------------------------ */

.toolbox-holder {
	position: relative;

	.link {
		position: relative;
		display: inline-block;
		&:after {
			content: '';
			position: absolute;
			bottom: -18px;
			right: -7px;
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 18px solid $c-white;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s, visibility 0.3s;
		}
	}
	&:hover {
		.toolbox {
			opacity: 1;
			visibility: visible;
		}

		.link {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.toolbox {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	margin-top: 18px;
	min-width: 380px;
	background-color: $c-white;
	padding: 26px 28px;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;

	/* &:before {
		content: '';
		position: absolute;
		top: -18px;
		left: 0;
		right: 0;
		margin: auto;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 18px solid red;
	} */

	.toolbox__head {
		margin-bottom: 23px;
		h6 {
			font-size: 14px;
			color: $c-green;
			font-weight: 700;
		}
	}

	.toolbox__content {
		p {
			font-size: 14px;
			color: $c-base;
			line-height: 1.57;
		}
	}
}
