/* ------------------------------------------------------------ *\
	Uploader
\* ------------------------------------------------------------ */

.uploader {
	color: $c-pink;
	font-size: 13px;
	letter-spacing: 0.35px;
	text-transform: uppercase;
	text-decoration: none;
	input {
		width: 1px;
		height: 1px;
		appearance: none;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	span {
		position: relative;
		transform: translateY(-3px);
		display: inline-block;
		font-weight: normal;
		letter-spacing: 0.015em;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;
			height: 1px;
			background: $c-pink;
			transition: opacity $t-duration, visibility $t-duration;
		}
	}

	&:hover {
		span {
			color: $c-base;
			&:after {
				background-color: $c-base;
			}
		}
	}
}
