{% set menuActive = 'about' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Informations" %}

{% block content %}
    <form action="" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-12">

                <div class="row">



                    <div class="col-sm-6">
                        <div class="panel">

                            <div class="panel-title">
                                <i class="fa fa-cogs"></i> &nbsp; Générales
                            </div>

                            <div class="table-responsive">
                                <table class="table table-condensed table-hover table-striped" style="font-size: 12px;">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Framework</td>
                                        <td class="text-xs-right text-success">
                                            <strong>
                                                Symfony 4.*
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Flex</td>
                                        <td class="text-xs-right text-success">
                                            <strong>
                                                {{ json['symfony/flex'] }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PHP</td>
                                        <td class="text-xs-right text-info">
                                            <strong>
                                                {{ json['php'] }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Swiftmailer</td>
                                        <td class="text-xs-right">
                                            <strong>
                                                {{ json['symfony/swiftmailer-bundle'] }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Doctrine</td>
                                        <td class="text-xs-right">
                                            <strong>
                                                {{ json['doctrine/orm'] }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Twig Extension</td>
                                        <td class="text-xs-right">
                                            <strong>
                                                {{ json['twig/extensions'] }}
                                            </strong>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
