{% set menuActive = 'log' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Logs" %}

{% block content %}
        <div class="row">
            <div class="col-md-12">

                <div class="row">



                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    {% form_theme form with 'bootstrap_3_layout.html.twig' %}
                                    {{ form_start(form, {'attr': {'action': path('admin_about_log_list'), 'class': 'form-inline pull-left', 'id': 'search-logs-form'}}) }}
                                    {{ form_row(form.name, {'attr': {'class': 'log-choice select2-single'}}) }}
                                    {{ form_row(form.nbLine, {'attr': {'class': 'log-choice select2-single'}}) }}
                                    {{ form_end(form) }}
                                    <a href="#" class="btn-refresh-logs pull-right  btn btn-xs btn-success font-size-12" style="float: right; color: #fff;">
                                        <i class="fa fa-refresh"></i> &nbsp;
                                        Rafraîchir
                                    </a>
                                </span>
                            </div>

                            <div class="panel-body font-size-12" id="logsBody" style="max-height: 300px;overflow: scroll;overflow-wrap: break-word;">
                                <i class="fa fa-refresh"></i> &nbsp; Chargement en cours...
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function reloadLogs()
        {
            var form = $('#search-logs-form');
            $('#logsBody').html('<p style="text-align:center"><img style="max-height: 50px" src="/assets/admin/images/ajax-loader.svg?4"></p>');
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize()
            }).done(function(html) {
                $('#logsBody').html(html);
            });
        }
        $('.btn-refresh-logs').click(function(e){
            e.preventDefault();
            reloadLogs();
        });
        $(document).on('change', '.log-choice', function(){
            reloadLogs();
        });
        reloadLogs();
    </script>
{% endblock %}