{% set menuActive = 'test-email' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Testez l'envoi d'un email" %}

{% block content %}
    <form action="" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-12">

                <div class="row">


                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-title  bg-warning">
                                Email
                            </div>

                            <hr class="m-a-0">

                            <div class="table-responsive">
                                <table class="table table-condensed table-hover table-striped" style="font-size: 12px;">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    <tr>
                                        <td>Adresse de départ</td>
                                        <td class="text-xs-right"><strong>{{ mailer_from }}</strong></td>
                                    </tr>
                                        <td>Adresse de destination (dev)</td>
                                        <td class="text-xs-right"><strong>{{ mailer_delivery_address }}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <hr style="margin-top: 0px;"/>
                    </div>

                    <div class="col-sm-12">
                        <ul class="nav nav-info nav-tabs">
                            <li class="active">
                                <a href="#general" data-toggle="tab"><i class="fa fa-send"></i> &nbsp; Formulaire d'envoi
                                    {% if
                                    form.to.vars['errors'] |length > 0 or
                                    form.from.vars['errors'] |length > 0 or
                                    form.subject.vars['errors'] |length > 0 or
                                    form.content.vars['errors'] |length > 0
                                    %}
                                        <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>


                        <div class="tab-content tab-content-bordered panel">
                            <div class="tab-pane fade in active" id="general">

                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                'form' : form.from,
                                'label': "Depuis l'adresse"
                                } %}

                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                'form' : form.to,
                                'label': "Vers l'adresse",
                                } %}


                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                'form' : form.subject,
                                'label': "Sujet",
                                } %}

                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                'form' : form.content,
                                'label': "Contenu"
                                } %}
                            </div>

                            {{ form_errors(form._token) }}
                            {{ form_widget(form._token) }}

                        </div>
                    </div>

                </div>

                <button class="btn btn-info btn-save">
                    <i class="fa fa-save"></i> Envoyer
                </button>
            </div>
        </div>
    </form>
{% endblock %}
