{% set menuActive = 'menuitems' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Menus' %}


{%  block options %}
{% endblock %}

{% block content %}

    <style type="text/css">
        .menu-zone{
            width: 100%;
            padding-left: 30px;
        }
        .menu-zone .element{
            padding: 10px;
            border-radius: 10px;
            line-height: 20px;
            display: block;
            cursor: move;
            border: 1px solid lightgrey;
            background: white;
            margin: 1px 0;
            position: relative;
        }

        .menu-zone .element.open-drop{
            border-color: #aabcca !important;
            color: #aabcca !important;
        }

        .menu-zone .element .label-init{
            display: inline-block;
        }

        .menu-zone .element-add{
            display: block;
            color: deepskyblue;
            border: none;
            background: none;
            padding: 2px 10px;
            padding-top: 2px;
            position: relative;
            border-radius: 10px;
            opacity: 0.5;
            margin: 0;
            text-decoration: none;
            background: #E5E5E5;
            border-left: 20px solid darkgrey;
        }

        .element-add.ui-droppable-active, .element.ui-droppable-active{
            height: auto !important;
        }

        .menu-zone .element-add.open-drop{
            border-color: #aabcca !important;
            color: #aabcca !important;
        }


        .menu-zone .element-add .icon{
            display: none;
            text-decoration: none;
            vertical-align: top;
        }

        .menu-zone .element-add .text{
            display: none;
            text-decoration: none;
            vertical-align: top;
        }

        .menu-zone .element-add:hover, .menu-zone .element-add.open, .menu-zone .element-add.open-drop{
            border: 1px dashed deepskyblue;
            background: whitesmoke;
            opacity: 1;
            padding: 2px 10px;
            font-size: 11px;
        }

        .menu-zone .element-add .open-drop
        {
            border-color: #aabcca !important;
            color: #aabcca !important;
        }
        .menu-zone .element-add:hover .text, .menu-zone .element-add.open .text, .menu-zone .element-add.open-drop .text,
        .menu-zone .element-add:hover .icon, .menu-zone .element-add.open .icon, .menu-zone .element-add.open-drop .icon{
            display: inline-block;
        }
        .menu-zone .element .tab{
            width: 10px;
            display: inline-block;
            height: 10px;
            margin-right: 2px;
        }

        .light-desc{
            height: 80px;
        }


        .menu-zone .element.open-drop-active{
            border-color: magenta !important;
            color: magenta !important;
        }

        .menu-zone .element-add.open-drop-active{
            border-color: magenta !important;
            color: magenta !important;
        }


        .menu-zone .element.selected{
            border-color: magenta;
            color: magenta;
        }

        .menu-zone .element .delete-it{
            display: block;
            position: absolute;
            right: 0;
            width: 30px;
            background: orangered;
            height: 100%;
            top: 0;
            color: white;
            line-height: 45px;
            text-align: center;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            cursor: pointer;
        }


        .menu-zone .element.open-drop .delete-it, .menu-zone .element.selected .delete-it{
            display: none !important;
        }


    </style>

    <div class="row">

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_menuitem_list'} %}

        <div class="col-md-12">

            <div class="menu-zone">
                {% include "@Admin/MenuItem/partials/list.html.twig" with {items: items} %}
            </div>

        </div>


    </div>


    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="mediaModalLabel">Menu</h5>
                </div>
                <div class="body-modal-ajax">

                </div>
                <div class="modal-footer">
                    <a id="save-menu" href="#" class="btn btn-info">Sauvegarder</a>
                    <button id="closeMenu" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        $('body').on("click", '.delete-it', function(e){
            e.preventDefault();
            e.stopPropagation();

            if(confirm("La suppression de l'élément s'aapliquera sur toutes les langues, confirmez-vous cette action ?"))
            {


                $(".menu-zone").css('opcity', 0.5);
                $.ajax({
                    url: $(this).data('href'),
                    method: 'GET'
                }).done(function(res){
                    $("#menuModal").modal("hide");
                    $(".menu-zone").html(res);
                    reloadDragNDrop();
                }).fail(function(jqXHR, textStatus, errorThrown){
                }).always(function(){
                    $(".menu-zone").css('opcity', 1);
                });
            }

        });

        $('body').on("mouseenter", '.btn-menuadd', function (e) {
            if (!$(this).hasClass('open'))
            {
                $(".open").each(function(){
                    $(this).removeClass('open');
                    $(this).removeClass('open-drop');
                });
            }
        });

        $('body').on("click", '.btn-menuadd', function (e) {
            e.preventDefault();

            $(this).addClass('open');
            $("#menuModal").modal("show")
            var href = $(this).attr('href');
            $('#menuModal .body-modal-ajax').html("<div class='modal-body'><p style='text-align: center'><img style=\"max-height: 50px\" src=\"/assets/admin/images/ajax-loader.svg?4\"></p></div>");


            $.ajax({
                url: href,
            }).done(function(html) {
                $('#menuModal .body-modal-ajax').html(html);
            });

        });


        $('body').on("click", '.element-real', function (e) {
            e.preventDefault();

            $(this).addClass('open');
            $("#menuModal").modal("show")
            var href = $(this).attr('href');
            $('#menuModal .body-modal-ajax').html("<div class='modal-body'><p style='text-align: center'><img style=\"max-height: 50px\" src=\"/assets/admin/images/ajax-loader.svg?4\"></p></div>");


            $.ajax({
                url: href,
            }).done(function(html) {
                $('#menuModal .body-modal-ajax').html(html);
            });

        });


        var lockMenuPlay = 0;
        $('body').on("click", '#save-menu', function (e) {
            e.preventDefault();

            if (!lockMenuPlay)
            {
                var button = $(this);
                var parent = $(this).parents('.modal-content');
                var form = parent.find('form');

                if (form.length > 0)
                {
                    lockMenuPlay = 1;
                    button.css('opacity', 0.5);
                    var action = form.attr('action');
                    var datas = form.serialize();
                    $('#menuModal .body-modal-ajax').html("<div class='modal-body'><p style='text-align: center'><img style=\"max-height: 50px\" src=\"/assets/admin/images/ajax-loader.svg?4\"></p></div>");
                    $.ajax({
                        url: action,
                        method: 'POST',
                        data:datas
                    }).done(function(res){
                        $("#menuModal").modal("hide");
                        $(".menu-zone").html(res);
                        reloadDragNDrop();
                    }).fail(function(jqXHR, textStatus, errorThrown){
                        parent.find('.body-modal-ajax').html(jqXHR.responseText);
                    }).always(function(){
                        lockMenuPlay = 0;
                        button.css('opacity', 1);
                    });
                }
            }
        });


        reloadDragNDrop();
        function reloadDragNDrop()
        {
            var draggableElement = null;
            var lockdnd = false;
            $( ".draggable" ).draggable(
                {
                    axis: "y",
                    revert: false,
                    cursor: "crosshair",
                    helper: function(){
                        var init = $(this).find('.label-init').clone().html();
                        return $("<div class='element element-real notme'></div>").append("<span class='label-init'>"+init+"</span>");
                    },
                    zIndex: 2000,
                    create: function () {

                    },
                    start: function () {
                        draggableElement = $(this);


                        $(this).addClass('notme');
                        $(".element-add:not(.notme), .element:not(.notme)").addClass('open-drop');
                        $('.element-add .text').html($('.element-add .text').data('drop'));


                        var id = $(this).data('id');
                        var position = $(this).data('position');
                        var deepness = $(this).data('deepness');
                        var findit = false;
                        $(this).addClass('selected');
                        $('.element-common').each(function(){
                            if (findit)
                            {
                                $(this).removeClass('open-drop');
                                if ($(this).hasClass('droppable'))
                                {
                                    $(this).hide();
                                }


                                if ($(this).hasClass('draggable'))
                                {
                                    if ($(this).data('deepness') <= deepness)
                                    {
                                        findit = false;
                                    }
                                    else
                                    {
                                        $(this).addClass('selected');
                                    }
                                }
                            }
                            else
                            {
                                if ($(this).data('id') == id)
                                {
                                    findit = true;

                                    $(this).prev().removeClass('open-drop');
                                    if ($(this).prev().hasClass('droppable'))
                                    {
                                        $(this).prev().hide();
                                    }

                                }
                            }
                        });
                    },
                    stop: function (event, ui) {
                        if (!lockdnd)
                        {
                            $(".open-drop").removeClass('open-drop');
                            $(this).removeClass('dragndrop-select');
                            $(".open-drop-active").removeClass('open-drop-active');
                            $('.element-add .text').html($('.element-add .text').data('add'));
                            $(this).removeClass('notme');
                            $('.droppable').show();
                            $('.selected').removeClass('selected');
                        }
                    }
                }
            );
            $( ".droppable" ).droppable(
                {
                    greedy: true,
                    accept: ".draggable",
                    tolerance: "pointer",
                    over: function () {
                        $(this).addClass('open-drop-active');
                    },
                    out: function () {
                        $(this).removeClass('open-drop-active');
                    },
                    drop: function() {

                        lockdnd = true;

                        $(this).find('.icon').hide();
                        $(this).find('.text').html("<img style=\"max-height: 20px\" src=\"/assets/admin/images/ajax-loader.svg?4\">");

                        $( ".droppable" ).droppable('destroy');
                        $( ".draggable" ).draggable('destroy');

                        var id = draggableElement.data('id');
                        var deepness = $(this).data('deepness');
                        var position = $(this).data('position');
                        var parent = $(this).data('parent');

                        $.ajax({
                            url: "{{ path('admin_menuitem_move') }}?id="+id+"&position="+position+"&deepness="+deepness+"&parent="+parent,
                            method: 'GET'
                        }).done(function(res){
                            $("#menuModal").modal("hide");
                            $(".menu-zone").html(res);
                            reloadDragNDrop();
                        }).fail(function(jqXHR, textStatus, errorThrown){
                        }).always(function(){
                        });
                    }
                }
            );
        }
    </script>
{% endblock %}
