

    <div id="form-gen">
        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_entity">Nom de la classe (Entity)</label>
            <div class="col-md-7">
                <input type="text" name="gen[entity]" id="gen_entity" class="form-control class-input" value="" placeholder="Car" required="true">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_trad">Nom en Français</label>
            <div class="col-md-7">
                <input type="text" name="gen[trad]" id="gen_trad" class="form-control" value="" placeholder="Voiture" required="true">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_trad_desc">Description du menu</label>
            <div class="col-md-7">
                <input type="text" name="gen[trad_desc]" id="gen_trad_desc" class="form-control" value="" placeholder="Boite en ferraille qui roule" required="true">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_trad_icon">Icône du menu</label>
            <div class="col-md-4">
                <input type="text" name="gen[trad_icon]" id="gen_trad_icon" class="form-control icon-preview-input" value="ion-ios-nutrition" required="true">
            </div>
            <div class="col-md-3">
                <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
            </div>
            <div class="col-md-1">
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" >-</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <em>-</em>
                    </div>
                    <div class="col-md-5">
                        <em style="font-size: 12px">Nom de l'attribut dans l'entité</em>
                    </div>
                    <div class="col-md-5">
                        <em style="font-size: 12px">Label dans les formulaires</em>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_name">Nom (avec slug)</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" disabled  checked id="gen_name" class="form-control" value="">
                        <input type="checkbox" style="display: none" name="gen[attributes][name][case]" checked id="gen_name_h" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][name][field]" id="gen_name_field" class="form-control nows-input"  value="name">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][name][label]"  class="form-control"  value="Nom">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][name][baseLabel]"class="form-control"  value="Nom">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_mantra">Mantra</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" name="gen[attributes][mantra][case]" checked id="gen_mantra" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][mantra][field]" id="gen_mantra_field" class="form-control nows-input"  value="mantra">
                    </div>

                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][mantra][label]"  class="form-control"  value="Mantra">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][mantra][baseLabel]"class="form-control"  value="Mantra">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_description">Description</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" name="gen[attributes][description][case]" checked id="gen_description" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][description][field]" id="gen_description_field" class="form-control nows-input"  value="description">
                    </div>

                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][description][label]"  class="form-control"  value="Description">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][description][baseLabel]"class="form-control"  value="Description">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>



        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_description">Description (Wysiwyg)</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" name="gen[attributes][descriptionUi][case]" checked  id="gen_descriptionUi" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][descriptionUi][field]" id="gen_descriptionUi_field" class="form-control nows-input"  value="descriptionUi">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][descriptionUi][label]"  class="form-control"  value="Description (wyswyg)">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][descriptionUi][baseLabel]"class="form-control"  value="Description (wyswyg)">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_category">Catégorie</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" name="gen[attributes][category][case]"  id="gen_category" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][category][field]" id="gen_category_field" class="form-control nows-input"  value="category">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][category][label]"  class="form-control"  value="Catégorie">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][category][baseLabel]"class="form-control"  value="Catégorie">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>



        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_multiples">Choix multiples</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" name="gen[attributes][multiples][case]"  id="gen_multiples" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][multiples][field]" id="gen_multiples_field" class="form-control nows-input"  value="multiples">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][multiples][label]"  class="form-control"  value="Multiples">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][multiples][baseLabel]"class="form-control"  value="Multiples">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_publishDate">Date</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" name="gen[attributes][publishDate][case]" checked id="gen_publishDate" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][publishDate][field]" id="gen_publishDate_field" class="form-control nows-input"  value="publishDate">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][publishDate][label]"  class="form-control"  value="Date de publication">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][publishDate][baseLabel]"class="form-control"  value="Date de publication">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_cover">Fichier / Image</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" name="gen[attributes][cover][case]" checked id="gen_cover" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][cover][field]" id="gen_cover_field" class="form-control nows-input"  value="cover">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][cover][label]"  class="form-control"  value="Photo de couverture">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][cover][baseLabel]"class="form-control"  value="Photo de couverture">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>



        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_active">Activation</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" name="gen[attributes][active][case]" checked id="gen_active" class="form-control" value="1">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][active][field]" id="gen_active_field" class="form-control nows-input"  value="active">
                    </div>
                    <div class="col-md-5">
                        <input type="text" style="line-height: 35px;    height: 35px;" name="gen[attributes][active][label]"  class="form-control"  value="En ligne">
                        <input type="hidden" style="line-height: 35px;    height: 35px;" name="gen[attributes][active][baseLabel]" class="form-control"  value="En ligne">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <hr/>


        <div class="row">
            <div class="col-md-1"></div>
            <label class="col-md-3 control-label" style="line-height: 35px;" for="gen_seo">Inclure la gestion SEO</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-1">
                        <input type="checkbox" name="gen[seo]"  id="gen_seo" class="form-control" value="1">
                    </div>
                    <div class="col-md-11">
                        <em style="line-height: 35px;">Gestion des metas Basics & Facebook</em>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    <hr/>
