{% set menuActive = 'product-stocks-'~cave %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Stocks' %}


{%  block options %}
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
    {% if not is_granted('ROLE_VEOLOG_ADMIN') %}
        {% set current_admin_stock = app.session.get('current_admin_stock', null) %}
        {% if current_admin_stock is not empty %}
            <button class="btn btn-warning btn-xs btn-choice-locale"
                    data-toggle="modal"
                    data-target="#modals-alerts-info"
                    data-href="{{ path('admin_locale_export_choice', {routename: 'admin_stockLine_export', routeparams:{cave:cave}}) }}">
                <i class="fa fa-download "></i> Exporter ma cave
            </button>
        {% endif %}
        <button class="btn btn-warning btn-xs btn-choice-locale"
                data-toggle="modal"
                data-target="#modals-alerts-info"
                data-href="{{ path('admin_locale_export_choice', {routename: 'admin_product_export'}) }}">
            <i class="fa fa-download "></i> Exporter tous les produits
        </button>
    {% endif %}
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/StockLine/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-12 col-sm-12">
            <p>
                Visibilité du stock sur la période du <b>{{ dataSearch.dateStart|date("d/m/Y", "Europe/Paris") }}</b> au <b>{{ dataSearch.dateEnd|date("d/m/Y", "Europe/Paris") }}</b>
                &nbsp; <a class="btn btn-info btn-xs btn-search-open" href="#"> Modifier</a>
            </p>
        </div>

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" style="margin:auto;" id="flip-scroll">

                <p style="text-align: right">
                    <a href="{{ path('admin_product_create') }}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Ajouter un produit</a>
                </p>

                    <table class="table table-bordered table-hover table-striped cf">
                        <thead class="cf">
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Couverture</th>
                            <th class="cansort {% if pagination.isSorted('et.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nom', 'et.name') }} {% if pagination.isSorted('et.name') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('et.code') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'SKU', 'et.code') }} {% if pagination.isSorted('et.code') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Catégories</th>
                            <th class="cansort {% if pagination.isSorted('et.state') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Etat', 'et.state') }} {% if pagination.isSorted('et.state') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            {# <th>Stock Réel</th> #}
                            <th>Stock</th>
                            <th>Origine</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for item in pagination %}
                                {% set product = item[0] %}
                                {% set total = item.total %}
                                {% set totalWithHold = item.totalWithHold + item.totalHoldVariation %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ product.id }}</td>

                                    <td width="100" style="vertical-align: middle;text-align: center;">
                                        {% if product.translate(app.request.locale).cover is not empty and product.translate(app.request.locale).cover.path is not empty%}
                                            <img style="max-width: 50px; max-height: 50px;" src="{{ asset(product.translate(app.request.locale).cover|ifs.path|imagine_filter(filter|default('hennessy_project_list'))) }}" />
                                        {% else %}
                                            <img style="max-width: 50px; max-height: 50px;" src="{{ asset("assets/admin/images/pixel-admin/noimage.jpg") }}" />
                                        {% endif %}
                                    </td>
                                    <td style="min-width: 250px;vertical-align:middle;font-size: 12px">
                                        {{ product.translate(app.request.locale).name }}

                                        <span style="font-size: 10px;color: gray;display: block">
                                            {{ product.translate(app.request.locale).description|nl2br }}
                                        </span>

                                        <em style="font-size: 10px;color: grey;">Créé le :{{ product.translate(app.request.locale).created|date("m/d/Y h:i", "Europe/Paris") }} </em>
                                        {% if product.translate(app.request.locale).isExpendable %}
                                            <span style="float:right;ddisplay: block;font-size: 10px;" class="text-success">Consommable</span>
                                        {% else %}
                                            <span style="float:right;display: block;font-size: 10px;" class="text-danger">Non consommable</span>
                                        {% endif %}
                                    </td>
                                    <td style="min-width: 50px;vertical-align:middle;font-size: 12px">
                                        <span style="display: block;font-size: 9px;color: magenta;line-height: 8px;padding-bottom: 2px;text-transform: uppercase;">{{ product.translate(app.request.locale).code }}</span>
                                    </td>
                                    <td style="text-align:center;vertical-align:middle;">
                                        {% if product.translate(app.request.locale).categories|length > 0 %}
                                            {% for category in product.translate(app.request.locale).categories %}
                                               <span class="label label-info">{{ category.translate(app.request.locale).name }}</span>
                                            {% endfor %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="text-align:center;vertical-align:middle;">
                                      {% if product.translate(app.request.locale).state == 'out_of_use' %}
                                        <span class="label label-warning">{{ 'app.product.states.out_of_use'|trans }}</span>
                                      {% else %}
                                          <span class="label label-success">{{ 'app.product.states.new'|trans }}</span>
                                      {% endif %}
                                    </td>
                                    {# <td style="vertical-align:middle;width: 200px;text-align:center;">
                                        {% if total > 0 %}
                                            <b class="text-success">{{ total }}</b>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td> #}

                                    <td style="vertical-align:middle;width: 200px;text-align:center;">
                                        {% if totalWithHold > 0 %}
                                            <b class="text-warning">{{ totalWithHold }}</b>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>

                                    <td style="text-align:center;vertical-align:middle;font-size: 12px">
                                        {% if product.translate(app.request.locale).origin == 0 %}
                                            <span style="color: grey">SAP</span>
                                        {% else %}
                                            <span style="color: darkgray">NON&nbsp;SAP</span>
                                            <em style="display: block;font-size: 9px">#{{ product.translate(app.request.locale).origin }}</em>
                                        {% endif %}
                                    </td>
                                    <td style="text-align:center;vertical-align:middle;">


                                        <a href="{{ path('admin_product_show', {id: product.id}) }}" class="btn btn-secondary btn-xs">
                                            <i class="fa fa-eye"></i> Voir la fiche
                                        </a>

                                        {% if product.translate(app.request.locale).origin == 0  %}
                                            {% if is_granted('ROLE_GENERAL_ADMIN') %}
                                                <a href="{{ path('admin_product_edit', {id: product.id}) }}" class="btn btn-info btn-xs">
                                                    <i class="fa fa-edit"></i> Editer
                                                </a>
                                            {% else %}
                                                <a href="#" class="btn btn-secondary btn-xs">
                                                    <i class="fa fa-lock"></i> Editer
                                                </a>
                                            {% endif %}
                                        {% else %}

                                            {# {% if is_granted('ROLE_GENERAL_ADMIN') or product.translate(app.request.locale).origin == app.session.get('current_admin_stock', null).id %} #}
                                                <a href="{{ path('admin_product_edit', {id: product.id}) }}" class="btn btn-info btn-xs">
                                                    <i class="fa fa-edit"></i> Editer
                                                </a>
                                            {# {% else %}
                                                <a href="#" class="btn btn-secondary btn-xs">
                                                    <i class="fa fa-lock"></i> Editer
                                                </a>
                                            {% endif %} #}
                                        {% endif %}

                                        {% if is_granted('ROLE_VEOLOG_ADMIN') or is_granted('ROLE_GENERAL_ADMIN') %}
                                            <a title="" href="{{ path('admin_stockLine_add', {id: product.id, cave:cave }) }}" class="btn btn-xs btn-warning">
                                                <i class="fa fa-edit" style="color:white;transition: all 30s linear;"></i> Modifier le stock
                                            </a>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
