{% set menuActive = 'stock-variations-'~cave %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle %}
    Variations de stock
{% endblock %}

{%  block options %}
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}

{% block content %}


    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#general" data-toggle="tab"><i class="fa fa-folder"></i> &nbsp; Stock
            </a>
        </li>
    </ul>
    <div class="tab-content tab-content-bordered" style="background: #fff;">
        <div class="tab-pane fade in active" id="general">

            <div class="row">
                <div class="col-md-12 m-b-2 col-sm-12 search-zone" {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="panel panel-inverse">

                                <div class="panel-body">
                                    <form action="" method="get" enctype="multipart/form-data" class="form-horizontal  p-y-0" novalidate>
                                        <div class="form-group panel-block">
                                            <div class="row">
                                                {{ form_label(form.productId, "ID Produit", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
                                                <div class="col-sm-10">
                                                    {{ form_widget(form.productId, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group panel-block">
                                            <div class="row">
                                                {{ form_label(form.productName, "Nom Produit", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
                                                <div class="col-sm-10">
                                                    {{ form_widget(form.productName, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group panel-block">
                                            <div class="row">
                                                {{ form_label(form.productSku, "SKU Produit", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
                                                <div class="col-sm-10">
                                                    {{ form_widget(form.productSku, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group panel-block">
                                            <div class="row">
                                                {{ form_label(form.status, "Statut des variations", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
                                                <div class="col-sm-10">
                                                    {{ form_widget(form.status, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12" style="text-align: center;">
                                                <input class="btn btn-default" type="submit" value="Rechercher">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 col-sm-12">

                    {% if lines|length > 0 %}

                    <div class="table-disko" id="flip-scroll">

                        <table class="table table-bordered table-hover table-striped cf">
                            <thead class="cf">
                                <tr>
                                    <th>Produit</th>
                                    <th>Label</th>
                                    <th>Opération</th>
                                    <th>Date</th>
                                    <th>Commande associée</th>
                                    <th>Statut</th>
                                </tr>
                            </thead>
                            {% for line in lines %}
                                <tr id="stockLine-{{ line.id }}" {% if (line.archived is not empty and not line.stockVariation) or (line.archived and line.stockVariation and line.stockVariationValid) or not line.id|is_variation_validatable %}style="opacity: 0.5"{% endif %} {% if line.stockVariationChallenged %}class="table-warning"{% endif %}>
                                    <td>
                                        <span class="badge badge-warning">{{ line.stock.translate('fr').name }} ({{ line.stock.translate('fr').code }})</span>
                                        <br>
                                        <b>{{ line.product.translate('fr').code }} - </b>
                                        <span>
                                        {% if line.product.translate(app.request.locale).state == 'out_of_use' %}
                                            {{ 'app.product.states.out_of_use'|trans }}
                                        {% else %}
                                            {{ 'app.product.states.new'|trans }}
                                        {% endif %}
                                        </span>
                                        <br>
                                        <em>{{ line.product.translate('fr').name }}</em>
                                        <br>
                                        <a target="_blank" href="{{ path('admin_stockLine_add', {cave: cave, id: line.product.id }) }}?stockId={{ line.stock.id }}"><i class="fa fa-list"></i> Voir les mouvements de stock pour ce produit</a>
                                    </td>
                                    <td>
                                        {# {% if line.stockVariation %}<span class="badge badge-warning">Variation de stock</span>{% endif %} #} {{ line.label }}
                                        &nbsp;
                                        {% if is_granted('ROLE_GENERAL_ADMIN') and line.stockVariation and line.id|is_variation_validatable %}
                                            <br><br>
                                            {% if not line.stockVariationValid %}
                                                <a href="{{ path('admin_variation_list', {cave: cave}) }}?validateVariation={{ line.id }}&amp;page={{ currentPage }}" onclick="return confirm('Souhaitez-vous vraiment valider la variation de stock ? Un mouvement de stock de [{{ line.number }}] sera appliqué sur le produit après cette opération.');" class="btn btn-success btn-xs">
                                                    <i class="fa fa-check"></i> Valider la variation de stock
                                                </a>
                                                &nbsp;
                                            {% endif %}
                                            
                                            {% if not line.stockVariationValid and not line.stockVariationChallenged %}
                                                <a href="{{ path('admin_variation_list', {cave: cave}) }}?challengeVariation={{ line.id }}&amp;page={{ currentPage }}" onclick="return confirm('Souhaitez-vous vraiment contester la variation de stock ? Un email sera transmis à Veolog.');" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-close"></i> Contester la variation de stock
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <b class="{% if line.holdForProject  %}
                                        text-warning
                                        {% elseif line.number > 0 %}
                                        text-success
                                        {% elseif line.number == 0 %}
                                        text-warning
                                        {% else %}
                                        text-danger
                                        {% endif %}">
                                            {% if line.number > 0 %}+{% endif %}
                                            {{ line.number }}
                                            {% if line.holdForProject %}
                                                <br/>
                                                <em style="font-size: 11px;" class="text-warning">
                                                    {% if line.number > 0 %}
                                                        En retour de la commande le {{ line.date|date("d/m/Y", "Europe/Paris") }}
                                                    {% else %}
                                                        En réservation le {{ line.date|date("d/m/Y", "Europe/Paris") }}
                                                    {% endif %}
                                                </em>
                                            {% endif %}
                                        </b>
                                    </td>
                                    <td>{{ line.date|date("d/m/Y H:i") }}</td>
                                    <td>
                                        {% if line.project is not empty %}
                                            {{ line.project.name }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if line.id|is_variation_validatable %}
                                            {% if line.archived %}
                                                {% if line.stockVariation %}
                                                    {% if not line.stockVariationChallenged and not line.stockVariationValid  %}
                                                        <span class="badge badge-warning">Variation de stock en attente de traitement</span>
                                                        <br>
                                                    {% endif %}

                                                    {% if line.stockVariationChallenged %}
                                                        <span class="badge badge-danger">Variation de stock contestée{% if line.stockVariationChallengedDate is not null %} le {{ line.stockVariationChallengedDate|date("d/m/Y", "Europe/Paris") }}{% endif %}</span>
                                                        <br>
                                                    {% endif %}

                                                    {% if line.stockVariationValid %}
                                                        <span class="badge badge-secondary">Variation de stock archivée</span>
                                                        <br>
                                                        {% if line.stockVariationValidDate is not null %}
                                                            <span class="badge badge-success">Variation de stock validée le {{ line.stockVariationValidDate|date("d/m/Y", "Europe/Paris") }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    Archivée
                                                {% endif %}
                                            {% else %}
                                                {% if line.stockVariation and line.stockVariationValid %}
                                                    <span class="badge badge-success">Variation de stock validée{% if line.stockVariationValidDate is not null %} le {{ line.stockVariationValidDate|date("d/m/Y", "Europe/Paris") }}{% endif %}</span>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% if lines|length > 0 %}
                            <div class="navigation">
                                {{ knp_pagination_render(lines, '@Admin/partials/sliding.html.twig') }}
                            </div>
                        {% endif %}
                    </div>
                    {% else %}
                        <p><em>Aucune ligne d'opération sur stock trouvée pour le moment.</em></p>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>



{% endblock %}
