{% set menuActive = 'product-stocks-'~cave %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle %}
    Fiche de stock : {{ product.translate(app.request.locale).name }}
    <em style="font-size: 12px;display: block;    line-height: 10px;">pour le stock {{ stock.translate(app.request.locale).name }}</em>
{% endblock %}

{%  block options %}
{% endblock %}

{% block content %}


    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#general" data-toggle="tab"><i class="fa fa-folder"></i> &nbsp; Stock
            </a>
        </li>
    </ul>
    <div class="tab-content tab-content-bordered" style="background: #fff;">
        <div class="tab-pane fade in active" id="general">
            <h3 style="margin-top: 0;">Lignes d'opération / Stock</h3>


            <a class="btn" href="{{ path('admin_stockLine_list', {cave: cave}) }}">Retour à la liste</a>

            <div class="row">
                <div class="col-md-12 col-sm-12">


                    <form action="" method="post">

                        <table class="table table-striped" style="max-width: 500px;margin: auto;margin-bottom: 30px;border: 1px solid rgba(0,0,0,.05);">

                            <tr>
                                <td style="width: 150px;">

                                    <label class="control-label" style="margin-top: 5px;">Faire une opération :</label>
                                </td>
                                <td>
                                    <input type="number" class="form-control" value="" name="operation" placeholder="10, 1, -1, -10"/>
                                </td>
                                <td>
                                    <input type="submit" class="btn btn-warning" value="Executer" />
                                </td>
                            </tr>
                        </table>
                    </form>

                    {% if lines|length > 0 %}

                        <p>
                            Produit en stock actuellement : <b>{{ total }}</b>
                        </p>

                    <div class="table-disko" id="flip-scroll">

                        <table class="table table-bordered table-hover table-striped cf">
                            <thead class="cf">
                                <tr>
                                    <th>Label</th>
                                    <th>Opération</th>
                                    <th>Date</th>
                                    <th>Commande associée</th>
                                    <th>Statut</th>
                                </tr>
                            </thead>
                            {% for line in lines %}
                                <tr {% if (line.archived is not empty and not line.stockVariation) or (line.archived and line.stockVariation and line.stockVariationValid) or not line.id|is_variation_validatable %}style="opacity: 0.5"{% endif %}>
                                    <td>
                                    
                                        {% if line.stockVariation and line.number != 0 %}<span class="badge badge-warning">Variation de stock</span>{% endif %} {{ line.label }}
                                        &nbsp;
                                        {% if is_granted('ROLE_GENERAL_ADMIN') and line.stockVariation and line.id|is_variation_validatable and line.number != 0 %}
                                            <br><br>`
                                            {% if not line.stockVariationValid %}
                                                <a href="{{ path('admin_stockLine_add', {cave: cave, id: product.id}) }}?validateVariation={{ line.id }}" onclick="return confirm('Souhaitez-vous vraiment valider la variation de stock ? Un mouvement de stock de [{{ line.number }}] sera appliqué sur le produit après cette opération.');" class="btn btn-success btn-xs">
                                                    <i class="fa fa-check"></i> Valider la variation de stock
                                                </a>
                                                &nbsp;
                                            {% endif %}
                                            
                                            {% if not line.stockVariationValid and not line.stockVariationChallenged %}
                                                <a href="{{ path('admin_stockLine_add', {cave: cave, id: product.id}) }}?challengeVariation={{ line.id }}" onclick="return confirm('Souhaitez-vous vraiment contester la variation de stock ? Un email sera transmis à Veolog.');" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-close"></i> Contester la variation de stock
                                                </a>
                                            {% endif %}
                                        {% endif %} 
                                    </td>
                                    <td>
                                        {% if line.number != 0 %}
                                            <b class="{% if line.holdForProject  %}
                                            text-warning
                                            {% elseif line.number > 0 %}
                                            text-success
                                            {% elseif line.number == 0 %}
                                            text-warning
                                            {% else %}
                                            text-danger
                                            {% endif %}">
                                                {% if line.number > 0 %}+{% endif %}
                                                {{ line.number }}
                                                {% if line.holdForProject %}
                                                    <br/>
                                                    <em style="font-size: 11px;" class="text-warning">
                                                        {% if line.number > 0 %}
                                                            En retour de la commande le {{ line.date|date("d/m/Y", "Europe/Paris") }}
                                                        {% else %}
                                                            En réservation le {{ line.date|date("d/m/Y", "Europe/Paris") }}
                                                        {% endif %}
                                                    </em>
                                                {% endif %}
                                            </b>
                                        {% endif %}
                                    </td>
                                    <td>{{ line.date|date("d/m/Y H:i", "Europe/Paris") }}</td>
                                    <td>
                                        {% if line.project is not empty %}
                                            {{ line.project.name }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if line.id|is_variation_validatable and line.number != 0 %}
                                            {% if line.archived %}
                                                {% if line.stockVariation %}
                                                    {% if not line.stockVariationChallenged and not line.stockVariationValid  %}
                                                        <span class="badge badge-warning">Variation de stock en attente de traitement</span>
                                                        <br>
                                                    {% endif %}
                                                    
                                                    {% if line.stockVariationChallenged %}
                                                        <span class="badge badge-danger">Variation de stock contestée{% if line.stockVariationChallengedDate is not null %} le {{ line.stockVariationChallengedDate|date("d/m/Y", "Europe/Paris") }}{% endif %}</span>
                                                        <br>
                                                    {% endif %}

                                                    {% if line.stockVariationValid %}
                                                        <span class="badge badge-secondary">Variation de stock archivée</span>
                                                        <br>
                                                        {% if line.stockVariationValidDate is not null %}
                                                            <span class="badge badge-success">Variation de stock validée le {{ line.stockVariationValidDate|date("d/m/Y", "Europe/Paris") }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    <span class="badge badge-secondary">Mouvement de stock archivé</span>
                                                {% endif %}
                                            {% else %}
                                                {% if line.stockVariation and line.stockVariationValid %}
                                                    <span class="badge badge-success">Variation de stock validée{% if line.stockVariationValidDate is not null %} le {{ line.stockVariationValidDate|date("d/m/Y", "Europe/Paris") }}{% endif %}</span>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% else %}
                        <p><em>Aucune ligne d'opération sur stock trouvée pour le moment.</em></p>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>



{% endblock %}
