{% extends 'front/layout.html.twig' %}


{% block content %}

    <div class="intro intro--alt">
        <div class="container">
            <div class="intro__inner fadein" style="padding-right: 0;">
                <div class="intro__content">
                    {% for stock in stocks %}<a href="{{ path('homepage_choice', {id: stock.id}) }}" style="display: inline-block;width: 25%;padding: 15px 0px">{{ stock.translate('fr').name }}</a>{% endfor %}
                </div>
            </div><!-- /.intro__inner -->
        </div><!-- /.container -->
    </div><!-- /.intro -->
{% endblock %}

{% block footer %}
{% endblock %}