{% set menuActive = 'dump' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Dumps - BDD" %}


{%  block options %}
    <a class="btn btn-warning btn-xs" href="{{ path('admin_dump_do_it') }}">
        <i class="fa fa-download "></i> Générer un nouveau dump
    </a>
{% endblock %}

{% block content %}
    <div class="alert alert-mini alert-warning" style="margin-bottom: 15px;">
        <i class="px-nav-icon ion-archive" style="position: relative;bottom: -2px;left: 5px;"></i> L'outils <b>mysqldump</b> est obligatoire pour pouvoir utiliser cette fonctionnalité
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                    <tr>
                        <th>Fichier</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if files|length <= 0 %}
                        <tr>
                            <td colspan="100">Aucun résultat trouvé.</td>
                        </tr>
                    {% else %}
                        {% for file in files %}
                            <tr>
                                <td style="vertical-align:middle;text-align: left;font-size: 12px;">
                                    <b><i class="px-nav-icon ion-archive text-info" style="position: relative;bottom: -2px;left: 5px;"></i> {{ file.path }}</b>
                                    &nbsp; <em>{{ file.size }}</em>
                                    &nbsp;
                                    <a href="{{ path('admin_dump_ddl', {filename: file.path}) }}" class="btn btn-xs btn-info" style="font-size: 9px;position: relative;top: -2px;">Télécharger</a>&nbsp;
                                    <a href="{{ path('admin_dump_delete', {filename: file.path}) }}" class="btn btn-xs btn-danger delete-button" style="font-size: 9px;position: relative;top: -2px;">x</a>
                                    <br/><span style="font-size: 10px;">{{ file.fullpath }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}