{% set menuActive = 'myBoxesBarcodes' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Codes barres' %}


{%  block options %}
    <button class="btn btn-warning btn-xs btn-choice-locale" data-toggle="modal" data-target="#modals-alerts-info" data-href="{{ path('admin_locale_export_choice', {routename: 'admin_myBoxesBarcode_export'}) }}">
        <i class="fa fa-download "></i> Exporter

    </button>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}
{% block content %}


    <div class="row">


        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                        {% include "@Admin/MyBoxesBarcode/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% include "@Admin/partials/choice.html.twig" with {path: 'admin_myBoxesBarcode_list'} %}

        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="cansort {% if pagination.isSorted('e.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, '#', 'e.id') }} {% if pagination.isSorted('e.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.code') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Code', 'e.code') }} {% if pagination.isSorted('e.code') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('boxId') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Utilisé', 'boxId') }}{% if pagination.isSorted('boxId') %}<i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th class="cansort {% if pagination.isSorted('e.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Créé le', 'e.created') }} {% if pagination.isSorted('e.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if pagination|length <= 0 %}
                            <tr>
                                <td colspan="100">Aucun résultat trouvé.</td>
                            </tr>
                        {% else %}
                            {% for item in pagination %}
                                {% set myBoxesBarcode = item.barcode %}
                                {% set used = item.boxId != null %}
                                {% set usedBy = item.boxName ~ ' <small>(#' ~ item.boxId ~ ')</small>' %}
                                <tr>
                                    <td style="vertical-align:middle;width: 40px;text-align: center;font-size: 10px;">{{ myBoxesBarcode.id }}</td>

                                    <td style="vertical-align:middle;font-size: 12px">{{ myBoxesBarcode.code }}</td>
                                    <td style="vertical-align:middle;font-size: 12px">
                                        {% if used %}
                                            <span class="label label-pill" style="background-color: blue"><i class="fa fa-lock"></i></span>
                                            <span style="font-size: 10px;">Oui : </span>
                                            <span style="font-size: 10px;">{{ usedBy|raw }}</span>
                                        {% else %}
                                            <span class="label label-pill" style="background-color: blueviolet"><i class="fa fa-unlock"></i></span>
                                            <span style="font-size: 10px;">Non</span>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align:middle;width: 110px; color:gray;font-size: 11px;">{{ myBoxesBarcode.created|date("d/m/Y h:i", "Europe/Paris") }}</td>
                                    <td style="width: 150px;text-align:center;vertical-align:middle;">
                                            <a title="Supprimer" href="{{ path('admin_myBoxesBarcode_delete', {'id': myBoxesBarcode.id}) }}" class="btn btn-xs btn-danger delete-button">
                                                <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                            </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
