


    <div class="row">
        <div class="col-md-12">

            {{ form_errors(form) }}

            <div class="a2lix_translations">


                {% include "@Admin/partials/form/intl-bar.html.twig" with {
                    'form' : form
                } %}

                <div class="a2lix_translationsFields tab-content">
                    {% set formParent = form %}

                    {% for form in form.translations %}
                        {% set locale = form.vars.name %}

                        <div class="{{ form.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.get('locale', app.request.locale) == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">

                            <div class="row">


                                <div class="col-sm-12">
                                    <ul class="nav nav-info nav-tabs">
                                        <li class="active">
                                            <a href="#{{ form.vars.id }}_general" data-toggle="tab"><i class="fa fa-cogs"></i> Paramètres généraux
                                                {% if
                                                    form.name.vars['errors'] |length > 0
                                                %}
                                                    <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                {% endif %}
                                            </a>
                                        </li>

                                    </ul>


                                    <div class="tab-content tab-content-bordered">
                                        <div class="tab-pane fade in active" id="{{ form.vars.id }}_general">

                                            {% set obj = billingcenter %}
                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.name,
                                                'label': "app.billing_center.name"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.description,
                                              'label': "app.billing_center.description"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : formParent.stocks,
                                              'label': "app.billing_center.stocks",
                                              'class_widget': 'select2-multiple'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.contact,
                                              'label': "app.billing_center.contact",
                                              'class_widget': 'select2-single'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.house,
                                              'label': "app.billing_center.house"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.department,
                                              'label': "app.billing_center.department"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.company,
                                              'label': "app.billing_center.company"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.address1,
                                              'label': "app.billing_center.address1"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.address2,
                                              'label': "app.billing_center.address2"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.zipCode,
                                              'label': "app.billing_center.zip_code"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.city,
                                              'label': "app.billing_center.city"
                                            } %}

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>


            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>


<script>
    $(document).ready(function(){
        $('#billingcenter_translations_fr_contact').select2({
            ajax: {
                url: '{{ path('admin_stock_get_user_list_ajax') }}',
                dataType: 'json'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            },
            placeholder: 'Sélectionner un utilisateur',
            multiple: true
        });
    });
</script>
