    <div class="row">
        <div class="col-md-12">

            {{ form_errors(form) }}

            <div class="">



                <div class="Fields tab-content">
                    {% set formParent = form %}

                        <div class="{{ form.vars.id }}_fields {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">

                            <div class="row">


                                <div class="col-sm-12">
                                    <ul class="nav nav-info nav-tabs">
                                        <li class="active">
                                            <a href="#{{ form.vars.id }}_general" data-toggle="tab"><i class="fa fa-cogs"></i> Paramètres généraux
                                                {% if
                                                    form.name.vars['errors'] |length > 0
                                                %}
                                                    <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                {% endif %}
                                            </a>
                                        </li>

                                    </ul>


                                    <div class="tab-content tab-content-bordered">
                                        <div class="tab-pane fade in active" id="{{ form.vars.id }}_general">

                                            {% set obj = box %}

                                              {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.name,
                                                'label': "Nom"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.content,
                                                'label': "Contenu"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.barcode,
                                                'label': "Code Barre"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.seal,
                                                'label': "Numéro de scellé"
                                            } %}

                                            {% if formParent.boxUsers is defined %}
                                                {% include "@Admin/partials/form/text-line.html.twig" with {
                                                    'form' : formParent.boxUsers,
                                                    'label': "Accès",
                                                    'class_widget': "select2-multiple"
                                                } %}
                                            {% endif %}

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                </div>
            </div>


            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>

<script>
    $(document).ready(function(){
        $('#my_boxes_box_boxUsers').select2({
            ajax: {
                url: '{{ path('admin_box_get_user_list_ajax') }}',
                dataType: 'json'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            },
            placeholder: 'Sélectionner un utilisateur',
        });
    });
</script>
