
<form action="" method="get" enctype="multipart/form-data" class="form-horizontal  p-y-0" novalidate>
    {{ form_errors(form.id) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.id, "ID", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.id, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.name, "Nom", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.barcode, "Code barre", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.barcode, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.seal, "Numéro de scellé", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.seal, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.email, "Email d'un propriétaire", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.state, "Etat", { 'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
            <div class="col-sm-10">
                {{ form_widget(form.state, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>
