
{% form_theme form 'hub/parts/form_theme.html.twig' %}

<section class="section-project section-project{% if project.empty is defined and project.empty %}--empty{% endif %}">
    <div class="container container-md">
        <div class="form form--projects" style="min-height: 1000px">

            {{ form_start(form, {'attr': {'id': 'cart-project-form', 'data-url-cart-save': path('project_cart_save'), 'data-url-information-edit': path('project_update_information', {'id': project.id})}}) }}
                <div class="form__inner">

                    <div class="form__content">
                        {% include 'hub/project/cart/_header.html.twig' %}

                        {% if project.type == constant("App\\Entity\\Project::TYPE_BULK") %}

                            {# TODO : Liste des sous projets #}
                            LISTE DES COMMANDES
                            {% include 'hub/account/projects.html.twig' with { 'projects' : project.subProjects, 'parent': project } %}

                        {% elseif not project.isEmpty %}
                            {% include 'hub/project/cart/_items.html.twig' %}
                        {% else %}
                            <p><em>{{ 'sylius.ui.car_no_product'|trans }}</em></p>



                            {% set path_add_product = null %}
                            {% if show_action is not defined %}
                                {% set path_add_product = path('catalog') %}
                            {% else %}
                                {% set path_add_product = path('project_switch', {'id': project.id}) %}
                            {% endif %}


                            {% if (project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") or project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED")) and project.user == app.user %}
                                {% if path_add_product is not null %}
                                    <a href="{{ path_add_product }}" class="btn">
                                        <span>Ajouter des produits</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div><!-- /.form__content -->
                    {% include 'hub/project/cart/_sidebar.html.twig' %}

                </div><!-- /.form__inner -->
            {{ form_end(form) }}
        </div><!-- /.form -->
    </div><!-- /.container -->
</section><!-- /.section-project -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        if ($(window).innerWidth() > 991) {
            var height = Math.ceil($(".form__sidebar-inner").innerHeight()) + 150;
            var formContentHeight =  Math.ceil($(".form__content").innerHeight());
            var setHeight = height;

            if(height < formContentHeight) {
                setHeight = formContentHeight;
            }

            $(".form__content").css("height", setHeight + "px"); 
        }
    });
</script>
