{% set path = path('catalog') %}
{% set label = 'sylius.ui.back_to_product' %}
{% if show_action is defined %}
    {% set path = path('account') %}
    {% set label = 'sylius.ui.back_to_account' %}
{% endif %}

{% if project.type == constant("App\\Entity\\Project::TYPE_BULK") %}
    <a href="{{ path('account') }}" class="link-back">
        <img class="svg" src="{{ asset('assets/shop/images/angle-left.svg') }}" alt="">
        <span>Retour en page d'accueil</span>
    </a>

    <h2 class="section__title">Ma commande groupée</h2>
{% elseif project.parent is defined and project.parent is not null %}
    <a href="{{ path('project_switch_and_see', { 'id' : project.parent.id }) }}" class="link-back">
        <img class="svg" src="{{ asset('assets/shop/images/angle-left.svg') }}" alt="">
        <span>Retour au récap de la commande groupée globale</span>
    </a>

    <h2 class="section__title">Ma commande</h2>
{% else %}
    <a href="{{ path }}" class="link-back">
        <img class="svg" src="{{ asset('assets/shop/images/angle-left.svg') }}" alt="">
        <span>{{ label|trans }}</span>
    </a>

    <h2 class="section__title">Mon panier commande</h2>
{% endif %}
