<div class="table table--projects">
    {{ form_errors(form) }}
    <input type="hidden" name="_method" value="PATCH"/>
    <table id="sylius-cart-items">
        <thead>
        <tr>
            <th>{{ 'sylius.ui.item'|trans }}</th>
            <th>{{ 'sylius.ui.qty'|trans }}</th>
            <th>{{ 'sylius.ui.delete'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            {% for item in form.items %}
                {% include 'hub/project/cart/_item.html.twig' with {'form': item} %}
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>
                {% set path_add_product = null %}
                {% if show_action is not defined %}
                    {% set path_add_product = path('catalog') %}
                {% else %}
                    {% set path_add_product = path('project_switch', {'id': project.id}) %}
                {% endif %}



                {% if (project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") or project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED")) and project.parent is null %}
                    {% if path_add_product is not null %}
                        <a href="{{ path_add_product }}" class="btn btn btn--grey-dark">
                            <span>Ajouter des produits</span>
                        </a>
                    {% endif %}
                {% endif %}
            </td>
            <td colspan="2">
                <strong>{{ 'sylius.ui.total.choice'|trans({'%count%': project.getTotalQuantity()}) }}</strong>
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="ui hidden divider"></div>
    {{ form_row(form._token) }}
</div>
