<section class="section section--error">
    <div class="container container-md">
        <header class="section__head">
            <h1>{{ 'sylius.ui.error'|trans }}</h1>
            <p><em>{{ 'sylius.ui.cart_no_project'|trans }}</em></p>
        </header><!-- /.section__head -->
        <div class="section__actions">
            <a href="{{ path('project_create') }}" class="btn">
                <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="papers">
                <span>{{ 'sylius.ui.create_project'|trans }}</span>
            </a>
        </div><!-- /.section__actions -->
    </div><!-- /.container -->
</section><!-- /.section -->