{% if project.parent is defined and project.parent is not null %}
    <h4 class="form__title">{{ project.recipientLastname }} {{ project.recipientFirstname }}</h4>
{% else %}
    <h4 class="form__title">{{ project.name }}</h4>
{% endif %}

{% if project.type == constant("App\\Entity\\Project::TYPE_BULK") %}
    {% set bulkProjectId = project.id %}
{% elseif project.parent is defined and project.parent is not null %}
    {% set bulkProjectId = project.parent.id %}
{% endif %}

{% if project.type == constant("App\\Entity\\Project::TYPE_BULK") %}
    <div class="packing-slip-button">
        <a href="{{ path('bulk_order_packing_slip_pdf', {bulkOrderId: bulkProjectId}) }}" class="btn btn-secondary btn-sm active" style="width: auto;height: auto;margin-bottom: 20px;">
        Telecharger le Bordereau Récapitulatif</a>
    </div>
{% endif %}

<div class="project-status" data-id-project="{{ project.id }}">
    {% include 'hub/account/_state.html.twig' %}
</div>

<ul class="list-info">
    <li>
        <p><strong>Référence commande :</strong> #{{ project.id }}</p>
    </li>

    <li>
        <p><strong>Nom :</strong> {{ project.name }}</p>
    </li>

    <li>
        <p><strong>Type :</strong> {% include "hub/project/partials/type.html.twig" %}</p>
    </li>

    <li>
        <p><strong>Commande créée le :</strong> {{ project.created|date('d/m/Y à H:i') }}</p>
    </li>

    <li>
        <p>
            <strong>Date livraison souhaitée :</strong>
            {{ project.dateStart|date('d/m/Y') }}
            {% if project.type != constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                {{ project.hourStart|date('H:i') }}
            {% endif %}
        </p>
    </li>

    {% if project.needReturn %}
        <li>
            <p><strong>Date retour souhaité :</strong> {{ project.dateEnd|date('d/m/Y') }}</p>
        </li>
    {% endif %}

    <li>
        <p><strong>Cave :</strong> {{ project.cave|capitalize }}</p>
    </li>

    <li>
        <p><strong>Centre de coût :</strong> {{ project.billingCenter.name }}</p>
    </li>

    {% if project.type != constant("App\\Entity\\Project::TYPE_BULK") %}
        <li>
            <p><strong>Services Amont :</strong> {{ project.beforeServices|length }} </p>
        </li>
    {% endif %}

    {% if project.type != constant("App\\Entity\\Project::TYPE_BULK") %}
        {% if project.needReturn and project.afterServices|length > 0 %}
            <li>
                <p><strong>Services Retour :</strong> {{ project.afterServices|length }} </p>
            </li>
        {% endif %}
    {% endif %}

    {% if project.type != constant("App\\Entity\\Project::TYPE_BULK") %}
        <li>
            <p>
                <strong>Contact de livraison :</strong>
                {% if project.recipientFirstName is not empty or project.recipientLastName is not empty %}
                    <span style="margin-left: 10px;display: block;">{{ project.recipientFirstName }} {{ project.recipientLastName }}</span>
                {% endif %}
                {% if project.recipientSociety is not empty %}
                    <span style="margin-left: 10px;display: block;">{{ project.recipientSociety }}</span>
                {% endif %}

                {% if project.recipientEmail is not empty or project.recipientPhone is not empty or project.recipientMobilePhone is not empty %}
                    <br>
                {% endif %}
                {% if project.recipientEmail is not empty %}
                    <span style="margin-left: 10px;display: block;">{{ project.recipientEmail }}</span>
                {% endif %}
                {% if project.recipientPhone is not empty %}
                    <span style="margin-left: 10px;display: block;">{{ project.recipientPhone }}</span>
                {% endif %}
                {% if project.recipientMobilePhone is not empty %}
                    <span style="margin-left: 10px;display: block;">{{ project.recipientMobilePhone }}</span>
                {% endif %}

                {% if project.recipientInformation is not empty %}
                    <br>
                    <span style="margin-left: 10px;display: block;">{{ project.recipientInformation }}</span>
                {% endif %}
            </p>
        </li>
        <li>
            <p>
                {% set isCaveInterne = project.cave == constant('App\\Entity\\Project::CAVE_115') %}
                {% if isCaveInterne %}
                    <strong>Adresse de livraison :</strong>
                    {% if project.recipientAddress is not empty %}
                        <span style="margin-left: 10px;display: block;">Etage : {{ project.recipientAddress }}</span>
                    {% endif %}
                    {% if project.recipientAddressComplement is not empty %}
                        <span style="margin-left: 10px;display: block;">Bureau : {{ project.recipientAddressComplement }}</span>
                    {% endif %}
                {% else %}
                    <strong>Adresse de livraison :</strong>
                    {% if project.recipientAddress is not empty %}
                        <span style="margin-left: 10px;display: block;">{{ project.recipientAddress }}</span>
                    {% endif %}
                    {% if project.recipientZip is not empty %}
                        <span style="margin-left: 10px;display: block;">{{ project.recipientZip }} {{ project.recipientCity }}</span>
                    {% endif %}
                    {% if project.recipientCountry is not empty %}
                        <span style="margin-left: 10px;display: block;">{{ project.recipientCountry }}</span>
                    {% endif %}

                    {% if project.recipientAddressComplement is not empty %}
                        <br>
                        <span style="margin-left: 10px;display: block;">{{ project.recipientAddressComplement }}</span>
                    {% endif %}
                {% endif %}
            </p>
        </li>
    {% endif %}

</ul>

{% block javascripts %}
  <script>

      $('.project-status').each(function (index, el) {
        var project_id = $(el).data('id-project');

        let datas = $(this).serialize();
        $.ajax({
          url: '{{ path('dashboard_project_item_ajax_status') }}',
          method: 'post',
          data: {data:project_id},
          contentType: 'application/json',
          headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
          cache: false,
          success: function (data) {
            var status = data['state'];
            var trackers = data['trackers'];

            for (var x = 0; x < trackers.length; x++) {
              $(el).find('.tracking').append("<a href='" + trackers[x] + "' target='_blank'>suivre la commande</a><br>");
            }

            if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_DRAFT") }}') {
              $(el).find('.status').html('<img class="svg mr-1" src="{{ asset('assets/front/images/block.svg') }}" alt="alt">&nbsp;Brouillon');
            } else if (status == 'review') {
              $(el).find('.status').addClass('danger').html('<img class="svg mr-1" src="{{ asset('assets/front/images/clock.svg') }}" alt="alt">En revue');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED") }}') {
              $(el).find('.status').addClass('success').html('<img class="svg mr-1" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Validée');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED") }}' || status == 'back_product' || status == 'in_progress') {
              $(el).find('.status').addClass('success').html('<img class="svg mr-1" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Validée non modifiable');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_REJECTED") }}') {
              $(el).find('.status').addClass('danger').html('<img class="svg mr-1" src="{{ asset('assets/front/images/close.svg') }}" alt="alt">Rejetée par Véolog');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_INT") }}') {
              $(el).find('.status').addClass('success').html('<img class="svg mr-1" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Commande intégrée chez Véolog');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_PREPARE") }}') {
                {% if app.session.get('current_stock').cave == '115' %}
                    $(el).find('.status').addClass('success').html('<img class="svg mr-1" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">En préparation chez le Runner');
                {% else %}
                    $(el).find('.status').addClass('success').html('<img class="svg mr-1" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">En préparation chez Veolog');
                {% endif %}
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_EXP") }}') {
                {% if app.session.get('current_stock').cave == '115' %}
                    $(el).find('.status').addClass('success').html('<img class="svg mr-1" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Expédiée par le Runner');
                {% else %}
                    $(el).find('.status').addClass('success').html('<img class="svg mr-1" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Expédiée par Veolog');
                {% endif %}
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_REFUSED") }}') {
              $(el).find('.status').addClass('danger').html('<img class="svg mr-1" src="{{ asset('assets/front/images/close.svg') }}" alt="alt">Refusé');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_CANCEL_ASK") }}') {
              $(el).find('.status').addClass('danger').html('<img class="svg mr-1" src="{{ asset('assets/front/images/close.svg') }}" alt="alt">Annulation demandée');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED_VEOLOG_CANCEL") }}') {
              $(el).find('.status').addClass('danger').css('color', '#e44137').html('<img class="svg mr-1" src="{{ asset('assets/front/images/close.svg') }}"alt="alt">Annulation confirmée');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_CANCEL") }}') {
              $(el).find('.status').addClass('danger').html('<img class="svg mr-1" src="{{ asset('assets/front/images/close.svg') }}" alt="alt">Annulée');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_DELIVERED") }}') {
              $(el).find('.status').addClass('success').html('<img class="svg mr-1" src="{{ asset('assets/front/images/check.svg') }}" alt="alt">Livrée');
            } else if (status == '{{ constant("App\\Entity\\Project::STATE_HUB_DRAFT_CANCEL_ASK") }}') {
              $(el).find('.status').addClass('danger').css('color', '#e44137').html('<img class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="alt">Annulation confirmée');
            }

            convertImgToSVG();
          }
        });
      })
  </script>
{% endblock %}
