{% form_theme form 'hub/parts/form_theme.html.twig' %}
{{ form_row(form.name) }}
{{ form_row(form.dateStart) }}
{{ form_row(form.dateEnd) }}
{{ form_row(form.hourStart) }}
{{ form_row(form.hourEnd) }}
{{ form_row(form.place) }}
{{ form_row(form.information) }}