<style>
    .project-status .danger .svg {
        -webkit-box-flex: 0;
        flex: 0 0 16px;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        margin-top: 3px;
        color: #e44137;
        fill: #e44137;
    }
</style>
<div class="form__sidebar" style="background-color: #f4f4f4">
    <div class="form__sidebar-inner">
        <div class="form__entry information-no-form visible-element" id="information-no-form-content">
            {% include 'hub/project/cart/_project_informations.html.twig' %}
        </div>
        <div class="form__foot">
            {% if project.type != constant("App\\Entity\\Project::TYPE_BULK") %}
                <div class="section__actions">
                    <a href="{{ path('single_order_packing_slip_pdf', { 'orderId' : project.id }) }}">
                        <button type="button" value="Submit" class="btn btn--dark btn--auto">
                            <span>Télécharger <br>le récapitulatif de la commande</span>
                        </button>
                    </a>
                </div><!-- /.section__actions -->
                <br>
            {% endif %}

            {% if project.state == constant("App\\Entity\\Project::STATE_HUB_DRAFT") or project.state == constant("App\\Entity\\Project::STATE_HUB_ACCEPTED") %}
                {% if project.user == app.user %}
                    {% if project.type != constant("App\\Entity\\Project::TYPE_BULK") %}
                        <a href="{{ path('project_update_information',{id: project.id}) }}" class="link">
                            <span>Editer informations commande</span>
                        </a>
                    {% endif %}
                    {% if show_action is not defined %}
                        <div class="form__actions information-no-form">
                            {% if form.submit is defined %}
                                {{ form_widget(form.submit) }}
                            {% endif %}
                            {% if form.draft is defined %}
                                {% if form.vars.data.state != constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}<div style="display: none">{% endif %}
                                    {{ form_widget(form.draft) }}
                                {% if form.vars.data.state != constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}</div>{% endif %}
                            {% endif %}
                            {% if project.isDeletable and project.isOwnedBy(app.user) %}
                                <a href="{{ path('project_remove_form', {'id': project.id}) }}" class="btn btn btn--grey-dark jsProjectDeleteForm">
                                    <img class="svg black" src="{{ asset('assets/myboxes/images/trash.svg') }}" alt="trash">
                                    <span>Annuler</span>
                                </a>
                            {% endif %}
                        </div><!-- /.form__actions -->
                    {% else %}
                        {% if project.isDeletable %}
                            <div class="form__actions information-no-form">
                                <a href="{{ path('project_remove_form', {'id': project.id}) }}" class="btn btn btn--grey-dark jsProjectDeleteForm">
                                    <img class="svg black" src="{{ asset('assets/myboxes/images/trash.svg') }}" alt="trash">
                                    <span>Annuler</span>
                                </a>
                            </div><!-- /.form__actions -->
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="form__actions">
                    <p><em>Vous n’avez plus le droit de valider votre commande. Pour toute question veuillez contacter le responsable de votre stock. </em></p>
                    {% if project.isDeletable and app.user == project.user %}
                        <a href="{{ path('project_remove_form', {'id': project.id}) }}" class="btn btn btn--grey-dark jsProjectDeleteForm">
                            <img class="svg black" src="{{ asset('assets/myboxes/images/trash.svg') }}" alt="trash">
                            <span>Annuler</span>
                        </a>
                    {% endif %}
                </div>
                <div class="hide">
                    {% if form.submit is defined %}
                        {{ form_widget(form.submit) }}
                    {% endif %}
                    {% if form.draft is defined %}
                        {% if form.vars.data.state != constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}<div style="display: none">{% endif %}
                        {{ form_widget(form.draft) }}
                        {% if form.vars.data.state != constant("App\\Entity\\Project::STATE_HUB_DRAFT") %}</div>{% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div><!-- /.form__foot -->
    </div><!-- /.form__sidebar-inner -->
</div><!-- /.form__sidebar -->
