<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <title>{% block title %}Hub 142  / MyBoxes{% endblock %}</title>

    <link rel="manifest" href="{{ asset('manifest.json') | assetModificationDate }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/front/images/favicon.ico') | assetModificationDate }}">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/myboxes/vendor/bootstrap-4.0.0/css/bootstrap.min.css') | assetModificationDate }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('assets/myboxes/vendor/slick-1.8.1/slick.css') | assetModificationDate }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('assets/myboxes/vendor/jquery-ui-1.12.1/jquery-ui.min.css') | assetModificationDate }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('assets/myboxes/vendor/custom-select-and-scroll/selectric.css') | assetModificationDate }}">
        <link rel="stylesheet" href="{{ asset('assets/myboxes/vendor/magnific-popup.css') | assetModificationDate }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/myboxes/css/bundle.css') | assetModificationDate }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/myboxes/css/easy-autocomplete.min.css') | assetModificationDate }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/myboxes/css/easy-autocomplete.themes.min.css') | assetModificationDate }}">

        <style>
            .btn--orange {
                background-color: orange;
                color: #fff;
                border-color: orange;
            }

            .btn--orange:hover {
                background-color: #fff;
                color: orange;
                border-color: #fff;
            }

            .btn--orange:hover svg{
                color: orange;
            }

        </style>
        <style>
            body .form .form__error {
                display: block;
                margin-bottom: 0px;
            }
        </style>

    {% endblock %}

    {% block javascripts_head %}
        <script src="{{ asset('assets/myboxes/vendor/jquery-3.1.1.min.js') | assetModificationDate }}"></script>
        <script src="{{ asset('assets/myboxes/vendor/bootstrap-4.0.0/js/bootstrap.min.js') | assetModificationDate }}"></script>
        <script src="{{ asset('assets/myboxes/vendor/slick-1.8.1/slick.min.js') | assetModificationDate }}"></script>
        <script src="{{ asset('assets/myboxes/vendor/jquery-ui-1.12.1/jquery-ui.min.js') | assetModificationDate }}"></script>
        <script src="{{ asset('assets/myboxes/vendor/custom-select-and-scroll/jquery.selectric.min.js') | assetModificationDate }}"></script>
        <script src="{{ asset('assets/myboxes/vendor/custom-select-and-scroll/jquery.nicescroll.min.js') | assetModificationDate }}"></script>
        <script src="{{ asset('assets/myboxes/vendor/jquery.magnific-popup.min.js') | assetModificationDate }}"></script>
        <script src="{{ asset('assets/myboxes/js/jquery.easy-autocomplete.min.js') | assetModificationDate }}"></script>
    {% endblock %}

    <style type="text/css">
        .hide{
            display: none;
        }
    </style>
</head>

<body {% block body_class %}{% endblock %}>

<div class="wrapper">


    {% block top %}
        {% include 'hub/partials/header-mb.html.twig' %}
    {% endblock %}

    {% block project_sticky_menu %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="footer" style="margin-top: 40px;background-color: #2c455b">
        <div class="container">
            <a href="mailto:hub142@moethennessy.com" class="link link--white">
                {#<img src="{{ asset('assets/myboxes/images/phone.svg') }}" alt="" class="svg">#}
                <span>Nous contacter</span>
            </a>
        </div><!-- /.container -->
    </footer><!-- /.footer -->
    {#

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% if message_cart is defined and message_cart is not null %}
        <div class="message-wrapper visible">
            <div class="message message--alt">
                <div class="container">
                    <div class="message__inner">
                        <div class="message__content">
                            <p>
                                {% if message_cart == "draft" or message_cart == "submit" %}
                                {{ ('sylius.ui.modal.' ~ message_cart)|trans|raw }}
                                {% else %}
                                    {{ message_cart|trans|raw }}
                                {% endif %}
                            </p>
                        </div><!-- /.message__content -->

                        <div class="message__aside">
                            <a href="#" class="btn  btn--dark jsMessageClose">
                                <span>{{ 'sylius.ui.modal.button.ok'|trans }}</span>
                            </a>
                        </div><!-- /.message__aside -->

                    </div><!-- /.message__inner -->

                    <a href="#" class="message__close jsMessageClose">
                        <img class="svg" src="{{ asset('front/images/close.svg') }}" alt="">
                    </a><!-- /.message__close -->

                </div><!-- /.container -->
            </div><!-- /.message -->
        </div><!-- /.message-wrapper -->
    {% endif %}
    #}
</div>

{% block javascripts %}
    <script src="{{ asset('assets/front/vendor/moment.min.js') }}"></script>
    <script src="{{ asset('assets/front/vendor/moment-business.js') }}"></script>
    <script src="{{ asset('assets/myboxes/js/bundle.js?n=1') | assetModificationDate }}"></script>

    <script>
        if (typeof convertImgToSVG === 'undefined' || typeof convertImgToSVG !== 'function'){
            function convertImgToSVG() {
                $('img.svg').each(function () {
                var $img = $(this);
                var imgID = $img.attr('id');
                var imgClass = $img.attr('class');
                var imgURL = $img.attr('src');

                $.get(
                    imgURL,
                    function (data) {
                    // Get the SVG tag, ignore the rest
                    var $svg = $(data).find('svg');

                    // Add replaced image's ID to the new SVG
                    if (typeof imgID !== 'undefined') {
                        $svg = $svg.attr('id', imgID);
                    }

                    // Add replaced image's classes to the new SVG
                    if (typeof imgClass !== 'undefined') {
                        $svg = $svg.attr('class', imgClass + ' replaced-svg');
                    }

                    // Remove any invalid XML tags
                    $svg = $svg.removeAttr('xmlns:a');

                    if (!$svg.attr('viewBox')) {
                        $svg.attr(
                        'viewBox',
                        '0 0 ' +
                        $svg.attr('width') +
                        ' ' +
                        $svg.attr('height')
                        );
                    }

                    // Replace image with new SVG
                    $img.replaceWith($svg);
                    },
                    'xml'
                );
                });
            }
        }

        $( document ).ready(function() {
            if ($('#select-pick-time').length > 0)
            {
                var hour = $('#project_hourEnd_hour').val();
                var minute = $('#project_hourEnd_minute').val();

                hour =  hour+'|'+minute;
                $('#select-pick-time').val(hour);

                $('.project_hourEnd .selectric .label').html($('#select-pick-time').find("option:selected").html());
            }


            if ($('.page-bar').length > 0)
            {
                $('.navbar-brand').addClass('navbar-brand--large');
            }



            $('.jsProjectDelete').click(function(e){
               var href = $(this).attr('href');
               $('.deleteConfirm').attr('href', href);
            });

            $( document ).ready(function() {
                daysOff = [];
                daysOff.push({day:  1, month:  1});
                daysOff.push({day:  1, month:  5});
                daysOff.push({day:  8, month:  5});
                daysOff.push({day: 14, month:  7});
                daysOff.push({day: 15, month:  8});
                daysOff.push({day:  1, month: 11});
                daysOff.push({day: 11, month: 11});
                daysOff.push({day: 25, month: 12});
                $(".datepicker.no-weekend").datepicker("option", "beforeShowDay", date => {
                    var dayOfWeek = date.getDay();
                    var dayOfMonth = date.getDate();
                    var month = date.getMonth() +1;
                    if (dayOfWeek == 0) {
                        // Dimanche => bloqué
                        return [false];
                    }
                    if (dayOfWeek == 6) {
                        // Samedi => bloqué
                        return [false];
                    }
                    if (daysOff.filter(d => d.day == dayOfMonth && d.month == month).length > 0){
                        // Jour OFF
                        return [false]
                    }
                    // Jour Semaine Non Férié.
                    return [true];
                });
            });

            if($('#confirm-bulk-stock-entry-validation').length != 0){
                var stockEntryValidationConfirm = $('#confirm-bulk-stock-entry-validation');

                stockEntryValidationConfirm.attr('disabled', '');

                $('.stock-entry-checkbox').each(function(){
                    var sECheckbox = $(this);

                    sECheckbox.change(function(){
                        if($('.stock-entry-checkbox:checked').length > 0){
                            stockEntryValidationConfirm.removeAttr('disabled');
                        }else{
                            stockEntryValidationConfirm.attr('disabled', '');
                        }
                    });
                });
            }
        });


        $('#select-pick-time').change(function(e){

            var val = $(this).val();
            var spl = val.split('|');

            $('#project_hourEnd_hour').val(spl[0]);
            $('#project_hourEnd_minute').val(spl[1]);
        });

        $('body').on('change', '#change_stock', function(e){
            var url = "{{ path('change_stock') }}";
            var val = $(this).val();

            document.location.href = url+'?id='+val;
        });
        $(document).on('change', '#project_switch_project', function() {
            $('#sticky-project-switch').submit();
        });


        $(document).on('click', '.cart-btn', function () {
            $('#cart-project-form').attr('action', $('#cart-project-form').data('url-cart-save'));
            $('#cart-project-form').submit();
        });

        $(document).on('click tap touchend', '#cart_submit, #cart_draft', function () {
            $('#cart_button').val($(this).attr('id'));
        });


        var xhrAddToCart = null;
        $(document).on('submit', '#add-to-cart', function () {
            if (xhrAddToCart !== null) {
                xhrAddToCart.abort();
            }
            xhrAddToCart = $.ajax({
                url: $(this).attr('action'),
                method: 'post',
                data:  $(this).serialize()
            }).done(function(data) {
                $('#add-to-cart-form').html(data.content);
                if (!data.error) {
                    $('body').addClass('scroll-disable');
                    $('#container').after(data.success);
                    $('#cart-quantity').html(data.quantity_label);
                    $('.product__stock_available').html(parseInt($('.product__stock_available').html()) - parseInt(data.quantity_diff));
                }
                convertImgToSVG();
                quantityClick();
            });

            return false;
        });


        var xhrProjectDelete = null;
        $('.jsProjectDeleteForm').click(function(e){
            e.preventDefault();
            if (xhrProjectDelete !== null) {
                xhrProjectDelete.abort();
            }
            xhrProjectDelete = $.ajax({
                url: $(this).attr('href'),
                method: 'get'
            }).done(function(data) {
                $('#form-delete-project').html(data.content);
                setTimeout(function(){
                    $('.message-wrapper--delete').addClass('visible');
                }, 50);
                xhrProjectDelete = null;
            });

            return false;
        });

        $(document).on('submit', '#project-delete-form', function () {
            var reason = $('#delete_project_reasonOfDelete');
            var parent = reason.parent('.form__controls');
            parent.removeClass('error');
            if (reason.val() == '') {
                parent.addClass('error');
                return false;
            }

            return true;
        });


        $('.mfp-close-btn').click(function(e){
            e.preventDefault();
            $('.mfp-close').click();
        });


        $( document ).ready(function() {
            var options = {

                url: function(phrase) {
                    return "{{ path('myboxes_user_search') }}";
                },

                getValue: function(element) {
                    return element.name;
                },

                ajaxSettings: {
                    dataType: "json",
                    method: "POST",
                    data: {
                        dataType: "json"
                    }
                },

                preparePostData: function(data) {
                    data.phrase = $('.me-select2-user-email').val();
                    return data;
                },

                requestDelay: 400
            };


            $(".select2-user-email").easyAutocomplete(options);
            $('.easy-autocomplete').each(function(){
               $(this).css('width', '100%');
               $(this).find('input').addClass('field');
            });

            $('body').on('keydown','.select2-user-email', function(){
               $('.me-select2-user-email').removeClass('me-select2-user-email');
               $(this).addClass('me-select2-user-email');
            });
        });
    </script>
{% endblock %}

    <div class="message-wrapper message-wrapper--delete">
        <div class="message message--alt" style="background-color: #f4f4f4">
            <div class="container">
                <div class="message__inner">
                    <div class="form form--account" id="form-delete-project">

                    </div>
                </div><!-- /.message__inner -->
                <a href="#" class="message__close jsMessageClose">
                    <img class="svg" src="{{ asset('assets/shop/images/close.svg') }}" alt="close" />
                </a><!-- /.message__close -->
            </div><!-- /.container -->
        </div><!-- /.message -->
    </div><!-- /.message-wrapper -->
</body>
</html>
