
<form action="{{ path('admin_menuitem_create', {deepness: app.request.get('deepness', 1), position: app.request.get('position', 1), base: app.request.get('base', null), parent: app.request.get('parent', 1)}) }}" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
    <div class="row">
        <div class="col-md-12">
            {% include "@Admin/MenuItem/partials/form.html.twig" with {'create': true} %}
        </div>
    </div>
</form>