<form action="{{ path('admin_menuitem_edit', {id: menuitem.id}) }}" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data" novalidate>
    <div class="row">
        <div class="col-md-12">
            {% include "@Admin/MenuItem/partials/form.html.twig" with {'edit': true} %}
        </div>
    </div>
</form>
