

<div class='modal-body'>

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info alert-layout alert-dark" ><i class="fa fa-info-circle"></i>&nbsp; {{ flashMessage|raw }}<button type="button" class="close" data-dismiss="alert">×</button></div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-layout alert-dark" ><i class="fa fa-check"></i>&nbsp; {{ flashMessage|raw }}<button type="button" class="close" data-dismiss="alert">×</button></div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning alert-layout alert-dark" ><i class="fa fa-exclamation-triangle"></i>&nbsp; {{ flashMessage|raw }}<button type="button" class="close" data-dismiss="alert">×</button></div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-layout alert-dark" ><i class="fa fa-check"></i>&nbsp; {{ flashMessage|raw }}<button type="button" class="close" data-dismiss="alert">×</button></div>
    {% endfor %}


    <div class="row">
        <div class="col-md-12">

            {{ form_errors(form) }}

            <div class="a2lix_translations">


                {% include "@Admin/partials/form/intl-bar.html.twig" with {
                    'form' : form
                } %}

                <div class="a2lix_translationsFields tab-content">
                    {% set formParent = form %}
                    {% for form in form.translations %}
                        {% set locale = form.vars.name %}

                        <div class="{{ form.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.get('locale', app.request.locale) == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">

                            <div class="row">


                                <div class="col-sm-12">
                                    <ul class="nav nav-info nav-tabs">
                                        <li class="active">
                                            <a href="#{{ form.vars.id }}_general" data-toggle="tab"><i class="fa fa-cogs"></i> Paramètres généraux
                                                {% if
                                                    form.label.vars['errors'] |length > 0
                                                %}
                                                    <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        
                                    </ul>


                                    <div class="tab-content tab-content-bordered">
                                        <div class="tab-pane fade in active" id="{{ form.vars.id }}_general">

                                            {% set obj = menuitem %}

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    {% include "@Admin/partials/form/text-line.html.twig" with {
                                                        'form' : form.label,
                                                        'label': "Label"
                                                    } %}

                                                    {% include "@Admin/partials/form/text-line.html.twig" with {
                                                        'form' : form.type,
                                                        'label': "Type",
                                                        'class_widget': 'select2-single'
                                                    } %}

                                                    {% include "@Admin/partials/form/text-line.html.twig" with {
                                                        'form' : form.url,
                                                        'label': "URL"
                                                    } %}

                                                </div>
                                                <div class="col-sm-6">
                                                    {% include "@Admin/partials/form/image-line.html.twig" with {
                                                        'form' : form.cover,
                                                        'label': "Photo",
                                                        'modeSmall': true
                                                    } %}
                                                </div>
                                                <div class="col-sm-12">
                                                    <hr/>
                                                    {% include "@Admin/partials/form/text-line.html.twig" with {
                                                        'form' : form.description,
                                                        'label': "Description",
                                                        'class_widget': "light-desc"
                                                    } %}
                                                    {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                                                        'form' : form.active,
                                                        'label': "En ligne",
                                                    } %}
                                                </div>
                                            </div>

                                            
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>


            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>
</div>
