

{% if items|length >0 %}


    {% set parents = {0 : 0} %}
    {% set positions = {} %}
    {% set currentdeepness = 1 %}

    {% for key,item in items %}

        {% if item.deepness < currentdeepness and  (currentdeepness - item.deepness) > 1 %}
            {% if currentdeepness < item.deepness  %}
                {% set currentdeepness = item.deepness %}
            {% endif %}


            {% for deepness in range(currentdeepness - 1, item.deepness + 1 ) %}

                <a href="{{ path('admin_menuitem_create', {
                    position: positions[':'~currentdeepness] + 1,
                    deepness: deepness,
                    parent: parents[deepness - 1]}) }}"
                   data-parent="{{ parents[deepness - 1]}}"
                   data-position="{{ item.position }}"
                   data-deepness="{{ deepness }}"  class="element-add btn-menuadd droppable element-common" style="margin-left: {{ (deepness * 20)-20 }}px">
                    <span class="icon"><i class="fa fa-plus"></i> &nbsp; </span>
                    <span class="text" data-add="Ajouter"  data-drop="Insérer ici">
                    Ajouter
                </span>
                </a>

            {% endfor %}

        {% endif %}

        {% set currentdeepness = item.deepness %}

        {% if parents[item.deepness] is defined %}
            {% set parents = parents[:item.deepness] %}
        {% endif %}
        {% set parents = parents|merge({ ('' ~ item.deepness) : item.id})  %}

        {% if positions[item.deepness] is defined %}
            {% set positions = positions[:item.deepness] %}
        {% endif %}
        {% set positions = positions|merge({ (':' ~ item.deepness) : item.position})  %}


        {% if items[key-1] is not defined or items[key-1].deepness != item.deepness %}
            <a href="{{ path('admin_menuitem_create', {position: item.position, deepness: item.deepness, parent: parents[item.deepness - 1]}) }}"
               data-parent="{{ parents[item.deepness - 1]}}"
               data-position="{{ item.position }}"
               data-deepness="{{ item.deepness }}"  class="element-add btn-menuadd droppable element-common" style="margin-left: {{ (item.deepness * 20)-20 }}px">
                <span class="icon"><i class="fa fa-plus"></i> &nbsp; </span>
                <span class="text" data-add="Ajouter"  data-drop="Insérer ici">
                    Ajouter
                </span>
            </a>
        {% endif %}

        <a href="{{ path('admin_menuitem_edit', {id: item.id}) }}"
           data-id="{{ item.id }}"
           data-position="{{ item.position }}"
           data-deepness="{{ item.deepness }}"
           class="element element-real draggable element-common" style="margin-left: {{ (item.deepness * 20)-20 }}px">
            {% if item.translate(app.request.get('askLocale', app.request.locale)).active %}
                <span class="label label-success" style="font-size: 10px;float:right;margin-right: 30px;">En ligne</span>
            {% else %}
                <span class="label label-danger" style="font-size: 10px;float:right;margin-right: 30px;">Hors ligne</span>
            {% endif %}

            <span class="label-init" style="font-size: 12px;line-height: 12px;">
                {{ item.translate(app.request.get('askLocale', app.request.locale)).label }}
                <br/>

                {% if item.translate(app.request.get('askLocale', app.request.locale)).url is not empty %}
                    <span style="color: deepskyblue; font-size: 10px;"><em>{{ item.translate(app.request.get('askLocale', app.request.locale)).url }}</em></span>
                {% endif %}



            </span>
            <span class="delete-it" data-href="{{ path('admin_menuitem_delete', {id: item.id}) }}"><i class="fa fa-times"></i></span>
        </a>



        {% if items[key+1] is not defined or items[key+1].deepness <= item.deepness %}

            <a href="{{ path('admin_menuitem_create', {position:  0, deepness: item.deepness + 1, parent: parents[item.deepness]}) }}"
               data-parent="{{ parents[item.deepness]}}"
               data-position="0"
               data-deepness="{{ item.deepness + 1 }}"
               class="element-add btn-menuadd droppable element-common" style="margin-left: {{ ((item.deepness + 1) * 20)-20 }}px">
                <span class="icon"><i class="fa fa-plus"></i> &nbsp; </span>
                <span class="text" data-add="Ajouter"  data-drop="Insérer ici">
                    Ajouter
                </span>
            </a>

        {% endif %}



        {% if items[key+1] is defined and items[key+1].deepness <= item.deepness %}
            <a href="{{ path('admin_menuitem_create', {position: item.position + 1, deepness: item.deepness, parent: parents[item.deepness - 1]}) }}"
               data-parent="{{ parents[item.deepness - 1]}}"
               data-position="{{ item.position + 1 }}"
               data-deepness="{{ item.deepness }}" class="element-add btn-menuadd droppable element-common" style="margin-left: {{ (item.deepness * 20)-20 }}px">
                <span class="icon"><i class="fa fa-plus"></i> &nbsp; </span>
                <span class="text" data-add="Ajouter"  data-drop="Insérer ici">
                Ajouter
            </span>
            </a>

        {% endif %}


    {% endfor %}


    {% for key, pos in positions|reverse(true) %}
        {% if parents[key|trim(':') - 1] is defined and currentdeepness  >= key|trim(':') %}
            <a href="{{ path('admin_menuitem_create', {position: pos + 1, deepness: key|trim(':'), parent: parents[key|trim(':') - 1]}) }}"
               data-parent="{{ parents[key|trim(':') - 1] }}"
               data-position="{{ pos + 1 }}"
               data-deepness="{{ key|trim(':') }}" class="element-add btn-menuadd droppable element-common" style="margin-left: {{ (key|trim(':') * 20)-20 }}px">
                <span class="icon"><i class="fa fa-plus"></i> &nbsp; </span>
                <span class="text" data-add="Ajouter"  data-drop="Insérer ici">
                Ajouter
            </span>
            </a>
        {% endif %}
    {% endfor %}
{% else %}
    <a href="{{ path('admin_menuitem_create', {position: 0, deepness: 1, parent: 0}) }}"  data-position="1" data-deepness="1"  class="element-add btn-menuadd element-add-first open element-common" style="margin-left: 0px">
        <span class="icon"><i class="fa fa-plus"></i> &nbsp; </span>
        <span class="text" data-add="Ajouter"  data-drop="Insérer ici">
            Ajouter
        </span>
    </a>
{% endif %}