<!DOCTYPE html>

<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Open Sans font from Google CDN -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {% block stylesheets %}
        <!-- Pixel Admin's stylesheets -->
        <link href="{{ asset('assets/admin/css/style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.3/cropper.css" rel="stylesheet" type="text/css">


    <!-- Pixel Admin's javascripts -->
    {% if app.request.get('_route') != 'admin_stock_create' and app.request.get('_route') != 'admin_billingcenter_create' %}
    <script src="{{ asset('assets/admin/ckeditor/ckeditor.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/admin/js/app.js') }}"></script>
    {% if app.request.get('_route') != 'admin_stock_create' and app.request.get('_route') != 'admin_billingcenter_create' %}
    <script src="{{ asset('assets/admin/js/city.js') }}"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.3/cropper.js"></script>
    {% if app.request.get('_route') != 'admin_stock_create' and app.request.get('_route') != 'admin_billingcenter_create' %}
    <script type="text/javascript" src="{{ asset('assets/admin/js/easteregg.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    {% endif %}
</head>


<!-- 1. $BODY ======================================================================================

	Body

	Classes:
	* 'theme-{THEME NAME}'
	* 'right-to-left'      - Sets text direction to right-to-left
	* 'main-menu-right'    - Places the main menu on the right side
	* 'no-main-menu'       - Hides the main menu
	* 'main-navbar-fixed'  - Fixes the main navigation
	* 'main-menu-fixed'    - Fixes the main menu
	* 'main-menu-animated' - Animate main menu
-->
<body>

    <div class="versions-zone">
        <a href="#" class="btn btn-info versions-zone-close btn-sm"><i class="fa fa-times"></i></a>
        <div class="versions-zone-body">
        </div>
    </div>

    {% block menu %}
        {% include "@Admin/partials/menu.html.twig" %}
    {% endblock %}
    {% block headbar %}
        {% include "@Admin/partials/headbar.html.twig" %}
    {% endblock %}
    <p id="loader-changestock" style="position: absolute;
    top: 100px;
    text-align: center;
    width: auto;
    display:none;
    left: 50%;
    z-index: 10000;"><img width="100" src="{{ asset('assets/admin/images/ajax-loader.svg') }}" /></p>

    <!-- Content -->
    <div class="px-content">


        {{ wo_render_breadcrumbs({ viewTemplate: "@Admin/partials/breadcrumbs.html.twig" }) }}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-layout alert-dark" ><i class="fa fa-info-circle"></i>&nbsp; {{ flashMessage|raw }}<button type="button" class="close" data-dismiss="alert">×</button></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success alert-layout alert-dark" ><i class="fa fa-check"></i>&nbsp; {{ flashMessage|raw }}<button type="button" class="close" data-dismiss="alert">×</button></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning alert-layout alert-dark" ><i class="fa fa-exclamation-triangle"></i>&nbsp; {{ flashMessage|raw }}<button type="button" class="close" data-dismiss="alert">×</button></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-layout alert-dark" ><i class="fa fa-check"></i>&nbsp; {{ flashMessage|raw }}<button type="button" class="close" data-dismiss="alert">×</button></div>
        {% endfor %}

        <!--
        <ol class="breadcrumb page-breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
        !-->


        <div class="page-header">
            <h1>{% block mainTitle %}{% endblock %} </h1>

            <div style="display: inline-block; float: right;">
                {%  block options %}{% endblock %}
            </div>
            <div>
                    {% block mainSubtitle %}{% endblock %}
            </div>

        </div>

        <div>

            {% block content %}{% endblock %}

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Insertion d'une image</h5>
                </div>
                <div class="modal-body">
                    <p style="text-align:center"><img src="{{ asset('assets/admin/images/ajax-loader.gif') }}" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="seoModal" tabindex="-1" role="dialog" aria-labelledby="seoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">SEO du fichier</h5>
                </div>
                <div class="modal-body">
                    <p style="text-align:center"><img style="max-height: 50px" src="{{ asset('assets/admin/images/ajax-loader.svg') }}" /></p>
                </div>
                <div class="modal-footer">
                    <a id="seoModication" href="#" class="btn btn-primary">Modifier</a>
                    <button id="closeMedia" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="mediaModalLabel">Médiathèque</h5>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow-y: scroll;">
                    <p style="text-align:center"><img style="max-height: 50px" src="{{ asset('assets/admin/images/ajax-loader.svg') }}" /></p>
                </div>
                <div class="modal-footer">
                    <button id="closeMedia" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mediaAddModal" tabindex="-1" role="dialog" aria-labelledby="mediaAddLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un fichier</h5>
                </div>
                <div class="modal-body">
                    <p style="text-align:center"><img style="max-height: 50px" src="{{ asset('assets/admin/images/ajax-loader.svg') }}" /></p>
                </div>
                <div class="modal-footer">
                    <button id="closeMedia" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="px-footer px-footer-bottom">
        Copyright © {{ 'now'|date('Y') }} Disko - Digital Agency.
    </footer>



    <!-- Danger -->
    <div id="modals-alerts-delete" class="modal modal-alert modal-danger fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-times-circle"></i>
                </div>
                <div class="modal-title">Suppression detectée</div>
                <div class="modal-body"><br/>Toutes les données de l'élément vont être supprimées définitivement !<br/> Confirmez-vous cette action ?</div>
                <div class="modal-footer">
                    <hr/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler (Je ne suis pas sûr)</button>
                    <a id="link-delete" href="#" class="btn btn-danger">Confirmer</a>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div> <!-- / .modal -->
    <!-- / Danger -->


    <!-- Info -->
    <div id="modals-alerts-info" class="modal modal-alert modal-info fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-flag-checkered"></i>
                </div>
                <div class="body-modal-ajax">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler (Je ne veux pas faire ça)</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div> <!-- / .modal -->
    <!-- / Info -->


    <!-- Info -->
    <div id="modals-info" class="modal modal-alert modal-info fade">
        <div class="modal-dialog" style="min-width: 800px;">
            <div class="modal-content" style="width: 100%;">
                <form id="generate" action="" method="post">
                    <div class="modal-header">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="body-modal-ajax">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info btn-generate">Générer</button>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler (Je ne veux pas faire ça)</button>
                    </div>
                </form>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div> <!-- / .modal -->
    <!-- / Info -->


    <!-- Cat -->
    <div id="modals-cat" class="modal modal-alert modal-danger fade">
        <div class="modal-dialog" style="min-width: 800px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header">
                    <i class="fa fa-times"></i>
                </div>
                <div class="body-modal-ajax">

                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div> <!-- / .modal -->
    <!-- / Cat -->

    {% block javascripts %}
        <script>
            var add_label = "Ajouter";
            var delete_label = "Supprimer";
        </script>
        <script>
            var c = 0;
            var cropped = false;
            function reloadDropzone()
            {
                $('.dropzone-box').each(function(){

                    if($(this).hasClass('alreadyinit'))
                    {
                        return;
                    }

                    var accepted = $(this).data('accepted');
                    if (!accepted)
                    {
                        accepted = "image/*";
                    }


                    var ratio = $(this).data('ratio');

                    var uploader = $(this).addClass('alreadyinit').dropzone({
                        url: "{{ path('admin_media_upload') }}",
                        method: "post",
                        paramName: "file", // The name that will be used to transfer the file
                        maxFilesize: 5, // MB
                        parallelUploads: 1,
                        uploadMultiple: false,

                        //createImageThumbnails: (ratio == '') ? false : true,
                        autoProcessQueue: (ratio == '') ? true : false,

                        dictRemoveFileConfirmation: false,
                        addRemoveLinks : true,
                        thumbnailWidth: 200,
                        thumbnailHeight: 200,
                        maxFiles: 1,

                        acceptedFiles: accepted,

                        dictDefaultMessage: "Drop les fichiers ici",
                        dictFallbackMessage: "Votre navigateur ne supporte pas l'upload de fichier",
                        dictFallbackText: "",
                        dictFileTooBig: "Votre fichier est trop lourd. Maximum: 5MiB.",
                        dictInvalidFileType: "Vous ne pouvez pas uploader ce type de fichier.",
                        dictResponseError: "Le serveur répond avec une erreur.",
                        dictCancelUpload: "Annuler l'upload",
                        dictCancelUploadConfirmation: "Êtes-vous certain de vouloir annuler l'upload ?",
                        dictRemoveFile: 'Supprimer le fichier',
                        dictMaxFilesExceeded: "Vous ne pouvez pas uploader plus de fichier.",

                        sending: function(){
                            $('.btn-save').attr('disabled', 'disabled');
                        },

                        success: function(file, response) {
                            $('.btn-save').removeAttr('disabled');
                            response = JSON.parse(response);
                            showFinishUpload(response, $(file.previewElement));
                        },

                        previewTemplate: '<div class="dz-preview dz-file-preview"><div class="dz-details"><div class="dz-thumbnail-wrapper"><div class="dz-thumbnail"><img data-dz-thumbnail><span class="dz-nopreview">Pas de prévisualisation</span><div class="dz-success-mark"><i class="fa fa-check-circle-o"></i></div><div class="dz-error-mark"><i class="fa fa-times-circle-o"></i></div><div class="dz-error-message"><span data-dz-errormessage></span></div></div></div></div><div class="progress progress-striped active"><div class="progress-bar progress-bar-success" data-dz-uploadprogress></div></div></div>',

                        resize: function(file) {
                            var info = { srcX: 0, srcY: 0, srcWidth: file.width, srcHeight: file.height },
                                srcRatio = file.width / file.height;
                            if (file.height > this.options.thumbnailHeight || file.width > this.options.thumbnailWidth) {
                                info.trgHeight = this.options.thumbnailHeight;
                                info.trgWidth = info.trgHeight * srcRatio;
                                if (info.trgWidth > this.options.thumbnailWidth) {
                                    info.trgWidth = this.options.thumbnailWidth;
                                    info.trgHeight = info.trgWidth / srcRatio;
                                }
                            } else {
                                info.trgHeight = file.height;
                                info.trgWidth = file.width;
                            }
                            return info;
                        },
                    });

                    uploader[0].dropzone.on('error', function(file, errormessage, xhr) {
                        $(file.previewElement).find('.progress-bar').css('width', '100%');
                        $('.btn-save').removeAttr('disabled');
                    });



                    if (ratio == '')
                    {
                        return;
                    }

                    uploader[0].dropzone.on('addedfile', function(file) {
                        console.log(file);

                        $('.btn-save').attr('disabled', 'disabled');

                        if (file.type == "application/pdf")
                        {
                            cropped = true;
                        }

                        if (!cropped) {
                            this.removeFile(file);
                            $("#mediaAddModal").modal("hide");
                            cropper(file, this, $(this.element).data('ratio'));
                        } else {
                            cropped = false;
                            $("#mediaAddModal").modal("hide");
                            var previewURL = URL.createObjectURL(file);
                            var dzPreview = $(file.previewElement).find('img');
                            dzPreview.attr("src", previewURL);
                            this.uploadFile(file);
                            if ($('.panel-media-list').length > 0)
                            {
                                $('.panel-media-list').html('<p style="text-align:center"><img style="max-height: 50px" src="{{ asset('assets/admin/images/ajax-loader.svg') }}" /></p>');
                            }

                        }
                    });

                    var cropper = function(file,myDropzone, ratio) {
                        var fileName = file.name;
                        var loadedFilePath = getSrcImageFromBlob(file);
                        // @formatter:off
                        var modalTemplate =
                            '<div class="modal fade" tabindex="-1" role="dialog">' +
                            '<div class="modal-dialog" role="document" style="width: 70%;">' +
                            '<div class="modal-content" style="width: 90%;margin: auto;"><span style="    color: white;position: absolute; right: -165px;width: 155px;display: block;text-align: center;font-size: 11px;top: 30px;font-weight: bold;background: rgba(0,0,0, 0.5);border-radius: 10px;padding: 10px;">Si votre image est trop grande, merci de scroller vers le bas depuis cet encart.<br/><br/><i class="fa fa-arrow-down" ></i><br/><i class="fa fa-arrow-down" style="font-size:9px" ></i><br/><i class="fa fa-arrow-down" style="font-size:8px" ></i></span>' +
                            '<div class="modal-header">' +
                            '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>' +
                            '<h5 class="modal-title" id="mediaModalLabel">Crop</h5>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            '<div class="cropper-container">' +
                            '<img id="img-' + ++c + '" src="' + loadedFilePath + '" data-vertical-flip="false" data-horizontal-flip="false">' +
                            '</div>' +
                            '</div>' +
                            '<div class="modal-footer">' +
                            '<button type="button" class="btn btn-info rotate-left"><span class="fa fa-rotate-left"></span></button>' +
                            '<button type="button" class="btn btn-info rotate-right"><span class="fa fa-rotate-right"></span></button>' +
                            '<button type="button" class="btn btn-info scale-x" data-value="-1"><span class="fa fa-arrows-h"></span></button>' +
                            '<button type="button" class="btn btn-info scale-y" data-value="-1"><span class="fa fa-arrows-v"></span></button>' +
                            '<button type="button" class="btn btn-info reset"><span class="fa fa-refresh"></span></button>' +
                            '<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>' +
                            '<button type="button" class="btn btn-success crop-upload">Découper et Télécharger</button>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        // @formatter:on

                        var $cropperModal = $(modalTemplate);

                        $cropperModal.modal('show').on("shown.bs.modal", function() {
                            var $image = $('#img-' + c);
                            var params = {
                                autoCropArea: 0.5,
                                cropBoxResizable: true,
                                movable: true,
                                rotatable: true,
                                scalable: true,
                                viewMode: 3,
                                minContainerWidth: 100,
                            };

                            if (ratio != 'free' && ratio > 0)
                            {
                                params.aspectRatio = ratio;
                            }

                            var cropper = $image.cropper(params)
                                .on('hidden.bs.modal', function() {
                                    $image.cropper('destroy');
                                });

                            $cropperModal.on('click', '.crop-upload', function() {
                                // get cropped image data
                                $image.cropper('getCroppedCanvas', {
                                    width: 160,
                                    height: 90,
                                    minWidth: 256,
                                    minHeight: 256,
                                    maxWidth: 4096,
                                    maxHeight: 4096,
                                    fillColor: '#fff',
                                    imageSmoothingEnabled: false,
                                    imageSmoothingQuality: 'high'
                                }).toBlob(function(blob) {
                                    var croppedFile = blobToFile(blob, fileName);
                                    croppedFile.accepted = true;
                                    var files = myDropzone.getAcceptedFiles();
                                    for (var i = 0; i < files.length; i++) {
                                        var file = files[i];
                                        if (file.name === fileName) {
                                            myDropzone.removeFile(file);
                                        }
                                    }
                                    cropped = true;

                                    myDropzone.files.push(croppedFile);
                                    myDropzone.emit('addedfile', croppedFile);
                                    myDropzone.createThumbnail(croppedFile); //, width, height, resizeMethod, fixOrientation, callback)
                                    $cropperModal.modal('hide');
                                });
                            })
                                .on('click', '.rotate-right', function() {
                                    $image.cropper('rotate', 90);
                                })
                                .on('click', '.rotate-left', function() {
                                    $image.cropper('rotate', -90);
                                })
                                .on('click', '.reset', function() {
                                    $image.cropper('reset');
                                })
                                .on('click', '.scale-x', function() {
                                    if (!$image.data('horizontal-flip')) {
                                        $image.cropper('scale', -1, 1);
                                        $image.data('horizontal-flip', true);
                                    } else {
                                        $image.cropper('scale', 1, 1);
                                        $image.data('horizontal-flip', false);
                                    }
                                })
                                .on('click', '.scale-y', function() {
                                    if (!$image.data('vertical-flip')) {
                                        $image.cropper('scale', 1, -1);
                                        $image.data('vertical-flip', true);
                                    } else {
                                        $image.cropper('scale', 1, 1);
                                        $image.data('vertical-flip', false);
                                    }
                                });
                        });
                    };


                    function getSrcImageFromBlob(blob) {
                        var urlCreator = window.URL || window.webkitURL;
                        return urlCreator.createObjectURL(blob);
                    }

                });
            }


            function showFinishUpload(response, el)
            {
                el.parents('.dropzone-box').find('.dz-success-mark .fa-check-circle-o').hide();
                el.parents('.dropzone-box').find('.input-dropzone-disko').find('input').val(response.id);
                el.parents('.dropzone-box').find('.input-dropzone-disko').find('input.url').val(response.url);
                el.parents('.dropzone-box').find('.input-dropzone-disko').find('input.legend').val(response.legend);
                el.parents('.dropzone-box').find('.input-dropzone-disko').find('input.alt').val(response.alt);
                el.parents('.dropzone-box').find('.input-dropzone-disko').find('input.title').val(response.title);
                var inputHidden = el.parents('.dropzone-box').find('.input-dropzone-disko');


                $('<a class="dz-update-disko" style="margin-top: 10px;" href="/admin/image-seo/'+response.id+'"><i class="fa fa-cogs"></i> &nbsp; Seo</a>').insertBefore(el.find('.dz-remove'));

                if (inputHidden.parents('#imageModal').length > 0)
                {
                    $('#imageModalUrl').val(response.url);
                }

                el.parents('.dropzone-box').find('.progress-bar').addClass('progress-bar-success').css('width', '100%');
                el.parents('.dropzone-box').find('.dz-preview').addClass("dz-success");

                if (response.mimetype == "application/pdf")
                {
                    el.parents('.dropzone-box').find('.dz-thumbnail').find('img').attr('src', "{{ asset('/assets/admin/images/pdf_icon.png') }}");
                }

                if ($('.panel-media-list').length > 0)
                {
                    $.ajax({
                        url: "{{ path("admin_media_center_index_ajax_list") }}",
                        type: 'PUT'
                    }).done(function(response){
                        $('.panel-media-list').html(response).hide().fadeIn();
                    });

                }
            }

            function blobToFile(theBlob, fileName) {
                theBlob.lastModifiedDate = new Date();
                theBlob.name = fileName;

                theBlob.upload = {
                    bytesSent: 0,
                    filename: fileName,
                    progress: 0,
                    total: theBlob.size
                }

                return theBlob;
            }

            var lockSelectPicture = false;
            $('body').on('click', '.btn-select-picture', function(e){
                e.preventDefault();

                if (!lockSelectPicture)
                {
                    $(this).find('.btn-select-picture-button').html('<i class="fa fa-mouse-pointer"></i>Chargement...');
                    $(this).addClass('hover');
                    $('.btn-select-picture').each(function(){
                        if (!$(this).hasClass('hover')    )
                        {
                            $(this).removeClass('canhover');
                            $(this).css('opacity', 0.5);
                        }
                    });

                    lockSelectPicture = true;

                    // It's need crop, so we create a new version
                    if (currentDropZoneSelect.parents('.form-group').find('.dropzone-box').data('ratio'))
                    {
                        var url = $(this).find('.btn-select-picture-button').attr('href');
                        var filename = $(this).find('.btn-select-picture-button').data('filename');
                        var xhr = new XMLHttpRequest();
                        xhr.open('GET', url, true);
                        xhr.responseType = 'blob';
                        xhr.onload = function(e) {
                            if (this.status == 200) {
                                var myBlob = this.response;
                                lastSelectedFile = blobToFile(myBlob, filename);
                                lockSelectPicture = false;
                                $('#mediaModal').modal('hide');


                                if (currentDropZoneSelect.parents('.form-group').find('.dz-remove').length > 0)
                                {
                                    currentDropZoneSelect.parents('.form-group').find('.dz-remove').click();

                                    if (currentDropZoneSelect.parents('.form-group').find('.dz-remove')[0])
                                    {
                                        var event = new Event('click');
                                        currentDropZoneSelect.parents('.form-group').find('.dz-remove')[0].dispatchEvent(event);
                                    }
                                }

                                myDropzone = currentDropZoneSelect.parents('.form-group').find('.dropzone-box')[0].dropzone;
                                myDropzone.files.push(lastSelectedFile);
                                myDropzone.createThumbnail(lastSelectedFile);
                                myDropzone.emit('addedfile', lastSelectedFile);

                            }
                        };
                        xhr.send();
                    }
                    else
                    {
                        var url = $(this).find('.btn-select-picture-button').data('info');
                        $.ajax({
                            url: url,
                            type: 'GET'
                        }).done(function(response){

                            lastSelectedFile = blobToFile(new Blob(), 'uknown');
                            lockSelectPicture = false;
                            $('#mediaModal').modal('hide');

                            if (currentDropZoneSelect.parents('.form-group').find('.dz-remove').length > 0)
                            {
                                currentDropZoneSelect.parents('.form-group').find('.dz-remove').click();

                                if (currentDropZoneSelect.parents('.form-group').find('.dz-remove')[0])
                                {
                                    var event = new Event('click');
                                    currentDropZoneSelect.parents('.form-group').find('.dz-remove')[0].dispatchEvent(event);
                                }
                            }


                            myDropzone = currentDropZoneSelect.parents('.form-group').find('.dropzone-box')[0].dropzone;
                            myDropzone.files.push(lastSelectedFile);
                            myDropzone.createThumbnail(lastSelectedFile);
                            myDropzone.emit('addedfile', lastSelectedFile);
                            var dzPreview = currentDropZoneSelect.parents('.form-group').find('.dropzone-box').find('img');
                            dzPreview.attr("src", response.url);
                            showFinishUpload(response, currentDropZoneSelect.parents('.form-group').find('.dz-preview'));
                        });

                    }
                }
            });


            // DROPZONE
            $('body, .zone-update > .content').on('click', '.dz-remove-disko', function(e){
                e.preventDefault();

                $(this).parents('.dropzone-box').attr('class', 'dropzone-box dz-clickable');
                $(this).parents('.dropzone-box').find('.input-dropzone-disko').find('input').val('');
                $(this).parents('.dz-preview').remove();
            });
            $('body').on('click', '#buttonImage', function(e){
                $('.ckeditor-action').attr('data-content', $('#imageModalUrl').val());
            });

            $('.input-dropzone-disko').each(function(){
                if ($(this).data('id'))
                {
                    $(this).find("input").val($(this).data('id'));
                }
            });
            $('.input-dropzone-disko input').each(function(){
                if ($(this).data('id'))
                {
                    $(this).val($(this).data('id'));
                }
                if ($(this).data('url'))
                {
                    $(this).val($(this).data('url'));
                }
                if ($(this).data('alt'))
                {
                    $(this).val($(this).data('alt'));
                }
                if ($(this).data('title'))
                {
                    $(this).val($(this).data('title'));
                }
                if ($(this).data('legend'))
                {
                    $(this).val($(this).data('legend'));
                }
            });
            reloadDropzone();
        </script>

        <script type="text/javascript">
            {% if menuActive is defined %}
            $('#main-menu li').removeClass('active');
            $('#main-menu').find('#nav-' + '{{ menuActive }}').addClass('active');
            {% endif %}
        </script>
        <script>
            $( document ).ready(function() {
                $('.editor-wysiwyg').each(function (e) {
                    CKEDITOR.replace(this.id, {
                        customConfig: "{{ asset('assets/admin/ckeditor/ckeditor_config.js') }}"
                    });
                });
            });
        </script>

        <script>
            $('body').on('change', '#change_stock', function(e){
                var url = "{{ path('admin_change_stock') }}";
                var val = $(this).val();

                $('#main-menu .px-nav-scrollable-area').css('opacity', '0.5');
                $('.px-content').css('opacity', '0.5');
                $('#loader-changestock').fadeIn();

                document.location.href = url+'?id='+val;
            });
        </script>
    {% endblock %}

    <div class="elevator easteregg"></div>

</body>
</html>
