<div class="row">
        <div class="col-md-12">

            {{ form_errors(form) }}

            <div class="a2lix_translations">
                {% include "@Admin/partials/form/intl-bar.html.twig" with {
                    'form' : form
                } %}

                <div class="a2lix_translationsFields tab-content">
                    {% set formParent = form %}
                    {% for form in form.translations %}
                        {% set locale = form.vars.name %}

                        <div class="{{ form.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.get('locale', app.request.locale) == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">
                            <div class="row">

                                <div class="col-sm-12">
                                    <ul class="nav nav-info nav-tabs">
                                        <li class="active">
                                            <a href="#{{ form.vars.id }}_general" data-toggle="tab"><i class="fa fa-cogs"></i> Paramètres généraux
                                                {% if
                                                    form.name.vars['errors'] |length > 0
                                                %}
                                                    <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li>
                                          <a href="#gallery" data-toggle="tab"><i class="fa fa-image"></i> {{ 'app.product.gallery'|trans }}
                                              {% if
                                                form.name.vars['errors'] |length > 0
                                              %}
                                                <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                              {% endif %}
                                          </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content tab-content-bordered">
                                        <div class="tab-pane fade in active" id="{{ form.vars.id }}_general">
                                          <div>
                                            <p class="control-integer">Les champs en bleu sont à renseigner avec des caractères numériques uniquement</p>
                                          </div>

                                            {% set obj = product %}
                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.name,
                                                'label': "app.product.name"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.code,
                                                'label': "app.product.code"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.categories,
                                                'label': "app.product.categories",
                                                'class_widget': "select2-multiple"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.description,
                                              'label': "app.product.description"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.brand,
                                              'label': "app.product.brand",
                                              'class_widget': "select2-single"
                                            } %}

                                            <div class="form-group relative-line " style="    padding: 0;
                                                position: relative;
                                                top: -3px;
                                                border: 0;">
                                                <div class="row">
                                                    <label class="col-sm-2 control-label" ></label>
                                                    {#<div class="col-sm-8">
                                                        Autre : &nbsp; {{ form_widget(form.brandOther) }}
                                                    </div>#}
                                                </div>
                                            </div>

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.unitConditioning,
                                              'label': "app.product.unit_conditioning",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.eanPart,
                                              'label': "app.product.ean_part",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.weight,
                                              'label': "app.product.weight",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.width,
                                              'label': "app.product.width",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.height,
                                              'label': "app.product.height",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.depth,
                                              'label': "app.product.depth",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.totalUnitsByBox,
                                              'label': "app.product.total_units_by_box",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.eanBox,
                                              'label': "app.product.ean_box",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.widthBox,
                                              'label': "app.product.width_box",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.heightBox,
                                              'label': "app.product.height_box",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.weightBox,
                                              'label': "app.product.weight_box",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.depthBox,
                                              'label': "app.product.depth_box",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.country,
                                              'label': "app.product.country"
                                            } %}
                                            <div style="text-align: center;">
                                                <a href="{{ asset('assets/front/liste code ISO.xlsx') }}">Liste des codes ISO 3166-1</a>
                                            </div>

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.referenceSAP,
                                              'label': "app.product.reference_sap",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.referenceProvider,
                                              'label': "app.product.reference_provider"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.color,
                                              'label': "app.product.color"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.material,
                                              'label': "app.product.material"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.valorization,
                                              'label': "app.product.valorization",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                                              'form' : form.isFragile,
                                              'label': "app.product.is_fragile"
                                            } %}

                                            {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                                              'form' : form.isExpendable,
                                              'label': "app.product.is_expendable"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.state,
                                              'label': "app.product.state",
                                              'class_widget': "select2-single"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.litrageBottle,
                                              'label': "app.product.litrage_bottle",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.designationBottle,
                                              'label': "app.product.designation_bottle"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.vintage,
                                              'label': "app.product.vintage",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.wineCategory,
                                              'label': "app.product.wine_category"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.wineColor,
                                              'label': "app.product.wine_color"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.degreeAlcohol,
                                              'label': "app.product.degree_alcohol",
                                              'label_class' : 'control-integer'
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.otherInformation,
                                              'label': "app.product.other_information"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.customsNomenclature,
                                              'label': "app.product.customs_nomenclature",
                                              'label_class' : 'control-integer'
                                            } %}
                                            <div style="text-align: center;">
                                                {% if douaneToolBox is defined and douaneToolBox is not null %}
                                                    <a target="_blank" href="{{ path('media_view', {'id': douaneToolBox.translate(app.request.locale).cover.id}) }}">Liste des codes douaniers</a>
                                                {% else %}
                                                    <a target="_blank" href="{{ asset('pdf/Codes douaniers - HUB142.pdf') }}">Liste des codes douaniers</a>
                                                {% endif %}
                                            </div>

                                            {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                                              'form' : form.crd,
                                              'label': "app.product.crd"
                                            } %}

                                            {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                                              'form' : form.isEffervescent,
                                              'label': "app.product.is_effervescent"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.origin,
                                              'label': "app.product.origin"
                                            } %}

                                            {% include "@Admin/partials/form/image-line.html.twig" with {
                                                'form' : form.cover,
                                                'label': "Photo de couverture",
                                            } %}
                                        </div>

                                        <div class="tab-pane fade" id="gallery">
                                          {% include "@Admin/Product/partials/gallery.html.twig" %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>
{#

#}
