<div class="gallery" data-prototype="{% filter escape %}{% include '@Admin/Product/partials/gallery/form.html.twig' with {'form': form.imageGallery.vars.prototype} %}{% endfilter %}">
  {% for imageGallery in form.imageGallery %}
    <div class="well" style="display: inline-block; width: 100%; margin-left: 5px; vertical-align: top; padding: 19px 0 0 0;">
      {% include '@Admin/Product/partials/gallery/form.html.twig' with {'form': imageGallery} %}
    </div>
  {% endfor %}
</div>

<script>
    // Récupère le div qui contient la collection de tags
    var baseGallery = 'div.gallery';
    var collectionHolderGallery = $(baseGallery);
    var cptImages = collectionHolderGallery.find('.well').length;

    // ajoute un lien « add a tag »
    var $addLinkImage = $('<hr/><div style="text-align: center;"><a href="#" class="btn btn-success"><i class="fa fa-plus pull-left"></i> {{ 'app.ui.add_new_image'|trans }}</a></div>');
    var $newLinkImage = $('<div></div>').append($addLinkImage);

    $(document).ready(function() {
        $(baseGallery + ' > div').each(function() {
            addFormImageDeleteLink($(this));
        });

        collectionHolderGallery.append($newLinkImage);

        $addLinkImage.on('click', function(e) {
            e.preventDefault();
            addFormImage(collectionHolderGallery, $newLinkImage);
            reloadPlugins();
            reloadDropzone();
        });
    });

    function addFormImage(collectionHolderGallery, $newLinkImage) {
        var prototype = collectionHolderGallery.attr('data-prototype');
        var newForm = prototype.replace(/__name__/g, cptImages);
        cptImages++;
        var $newFormLi = $('<div class="well"  style="display: inline-block; width: 100%; margin-left: 5px; vertical-align: top; padding: 19px 0 0 0;"></div>').append(newForm);
        $newLinkImage.before($newFormLi);
        addFormImageDeleteLink($newFormLi);
    }

    function addFormImageDeleteLink($formLi) {
        var $removeFormA = $('<div style="display: inline-block;><a href="#" class="btn btn-danger"><i class="fa fa-trash-o pull-left"></i> {{ 'app.ui.delete'|trans }}</a></div>');
        $formLi.find('.form-group-master').append($removeFormA);

        $removeFormA.on('click', function(e) {
            e.preventDefault();
            $formLi.remove();
        });
    }
</script>
