


    <div class="row">
        <div class="col-md-12">

            {{ form_errors(form) }}

            <div class="a2lix_translations">


                {% include "@Admin/partials/form/intl-bar.html.twig" with {
                    'form' : form
                } %}

                <div class="a2lix_translationsFields tab-content">
                    {% set formParent = form %}
                    {% for form in form.translations %}
                        {% set locale = form.vars.name %}

                        <div class="{{ form.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.get('locale', app.request.locale) == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}" role="tabpanel">

                            <div class="row">


                                <div class="col-sm-12">
                                    <ul class="nav nav-info nav-tabs">
                                        <li class="active">
                                            <a href="#{{ form.vars.id }}_general" data-toggle="tab"><i class="fa fa-cogs"></i> Paramètres généraux
                                                {% if
                                                    form.name.vars['errors'] |length > 0
                                                %}
                                                    <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                                                {% endif %}
                                            </a>
                                        </li>

                                    </ul>


                                    <div class="tab-content tab-content-bordered">
                                        <div class="tab-pane fade in active" id="{{ form.vars.id }}_general">

                                            {% set obj = service %}
                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.name,
                                                'label': "app.service.name"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.description,
                                                'label': "app.service.description"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.code,
                                              'label': "app.service.code"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                                'form' : form.choiceMomentService,
                                                'label': "app.service.choice_moment_service",
                                                'class_widget': "select2-single"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.serviceProvider,
                                              'label': "app.service.service_provider",
                                              'class_widget': "select2-single"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.deadline,
                                              'label': "app.service.deadline"
                                            } %}

                                            {% include "@Admin/partials/form/text-line.html.twig" with {
                                              'form' : form.stock,
                                              'label': "app.service.stock",
                                              'class_widget': "select2-single"
                                            } %}

                                            {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                                                'form' : form.isServiceStandard,
                                                'label': "app.service.is_service_standard"
                                            } %}

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>


            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>


{#

#}
