<html lang="fr">
<body>
<p>Bonjour,</p>
<p>La {{ ('app.cave.front.cave_' ~ stockEntry.stock.cave)|trans|title }} a bien reçu votre information d'entrée de stock.</p>
<p>Vous serez averti d'une réception par mail et via le <a href="{{ stockEntryUrl }}">lien suivant</a>.</p>
{% include 'mails/signature/stock_entry.html.twig' %}
</body>
</html>
