<html lang="fr">
<body>

<p>Bonjour {{ project.user.getFullName() }}</p>

<p>Le projet {{ project.name }} est expédié.</p>

{{ 'sylius.ui.mail.text_update_project'|trans({'%applicant%': project.user.getFullName(), '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}

{% set link %}
  <a href="{{ absolute_url(path('project_view', {'id': project.id})) }}">{{ 'sylius.ui.click_here'|trans() }}</a>
{% endset %}
<br>

<p>Voici les liens de tracking :</p>

<ul>
  {% for track in project.trackers %}
    {% if track != '' %}
      <li><a href="{{ track }}">{{ track }}</li>
    {% endif %}
  {% endfor %}
</ul>
</br>
{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}
</body>
</html>
