Bonjour,

{{ errors | length }} {% if errors | length ==1 %}erreur a été remontée{% else %}erreurs ont été remontées{% endif %} lors de la mise à jour des stocks :
{% for error in errors %}
 - {{ error }}
{% endfor %}

{% include 'mails/notification_mybox_footer.txt.twig' %}
