<html lang="fr">
<body>

<p>Bonjour {{ project.user.getFullName() }}, </p>

<p>La commande {{ project.name }} - N° {{ project.id }} est validée.</p>
{{ 'sylius.ui.mail.text_update_project'|trans({'%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}

{% set link %}
  <a href="{{ absolute_url(path('project_view', {'id': project.id})) }}">{{ 'sylius.ui.click_here'|trans() }}</a>
{% endset %}
<br>
{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}
<br>
<p>Bien cordialement,</p>
<p>L'équipe Hub142</p>
</body>
</html>
