Bonjour,

Vous trouverez ci-joint le bordereau d'entrée de stock #{{ stockEntry.id }} saisie par {{ stockEntry.user.fullName }} sur le stock {{ stockEntry.stock.translate('fr').code }}.

Cordialement,

L'équipe Hub142
--------------------------------------
Hub142@moethennessy.com

