<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Votre commande Cave 115 a bien été reçue et est en attente de préparation.</p>
<br>
{% include 'mails/notification_cave115_footer.html.twig' %}
</body>
</html>
