Bonjour,
Une contestation a été levée pour l'entrée de stock sur le produit {{ stockEntryItem.product.translate(app.request.locale).code }} ({{ stockEntryItem.product.translate(app.request.locale).name }}) par {{ user.firstname }} {{ user.lastname }}.
Quantité attendue : {{ stockEntryItem.quantity }}
Quantité reçue : {{ stockEntryItem.quantityReceived }}

Les protagonistes de cette entrée de stock sont en copie de ce mail.

{% if stockEntry.stock.cave == constant("App\\Entity\\Project::CAVE_115") %}
Nous vous invitons à contacter les équipes du stock 115 à l’adresse suivante : 115@moethennessy.com pour leur transmettre ou recevoir les informations nécessaires à la validation de l’entrée de stock.
{% else %}
Nous vous invitons à contacter les équipes support Veolog à l’adresse suivante : Hub142@veolog.fr pour leur transmettre ou recevoir les informations nécessaires à la validation de l’entrée de stock.
{% endif %}

{% include 'mails/signature/stock_entry.txt.twig' %}
