<html lang="fr">
<body>

<p>Bonjour {{ project.user.getFullName() }},</p>

<p>La commande {{ project.name }} - N° {{ project.id }} fait l'objet d'une demande d'annulation.</p>

{{ 'sylius.ui.mail.text_update_project2'|trans({'%applicant%': project.user.getFullName(), '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}

{% set link %}
  <a href="{{ absolute_url(path('project_view', {'id': project.id})) }}">{{ 'sylius.ui.click_here'|trans() }}</a>
{% endset %}
<br>

<p>Voici la raison : </p>
<p>{{ project.reasonOfDelete }}</p>

{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}

<p>Bien cordialement,</p>
<p>L'équipe Hub142</p>
</body>
</html>