<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Votre commande MyBoxes a été livrée au 142 depuis plus de {{nbHours}}h, pensez à la renvoyer au plus vite au Hub via la plateforme <a href="{{ absolute_url(path('myboxes_homepage')) }}">MyBoxes</a></p>

{# <p>NB : Voici la procédure pour renvoyer votre boite.</p> #}

<p>N'hésitez pas à contacter l'équipe Hub142 (hub142@moethennessy.com) si vous avez des questions.</p>

<p>Merci pour votre collaboration.</p>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
