<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Des variations de stock ont été trouvées à {{ date|date('H:i:s') }} le {{ date|date('d/m/Y') }} lors de la synchronisation avec l'inventaire VEOLOG.</p>
<ul>
{% for sku, stockVariation in stockVariations %}
    <li>
        [{{ stockVariation.stock }}] {{ stockVariation.product }} ({{ sku }})
        <br>
         --> {{ stockVariation.variation }}
    </li>
{% endfor %}
</ul>
<br>
<p>Vous pouvez vérifier et valider ces variations individuellement via le <a href="{{ absolute_url(path('admin_variation_list', {'cave': 'pantin'})) }}">lien suivant</a>.</p>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
