Bonjour,

Des variations de stock ont été trouvées à {{ date|date('H:i:s') }} le {{ date|date('d/m/Y') }} lors de la synchronisation avec l'inventaire VEOLOG.
{% for sku, stockVariation in stockVariations %}
- [{{ stockVariation.stock }}] {{ stockVariation.product }} ({{ sku }}) - {{ stockVariation.variation }}
{% endfor %}

Vous pouvez vérifier et valider ces variations individuellement via l'interface d'administration.

{% include 'mails/notification_mybox_footer.txt.twig' %}
