Bonjour,</p>

La {{ ('app.cave.front.cave_' ~ stockEntry.stock.cave)|trans|title }} a bien reçu votre information d'entrée de stock.

Vous serez averti d'une réception par mail et via le lien suivant : {{ stockEntryUrl }}

{% include 'mails/signature/stock_entry.txt.twig' %}
