Bonjour,

Vous venez de saisir une entrée de stock, {{ ('app.cave.front.la_cave_' ~ stockEntry.stock.cave)|trans }} va en être informée.

Veuillez garder ce mail afin de pouvoir suivre son évolution sur le lien suivant : {{ absolute_url(path('entree_stock', {'id': stockEntry.id})) }}

{% include 'mails/signature/stock_entry.txt.twig' %}
