Bonjour,

Le Hub142 a lancé le rapatriement de votre {{ box.boxUsers | length == 1 ? 'MyBoxes' : 'MyTEAMBoxes' }} {{ box.name }} qui est en route !

Pour la suivre :
{% for tracker in box.trackers %}
{{ tracker }}
{% endfor %}

{% include 'mails/notification_mybox_footer.txt.twig' %}
