<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Votre commande MyBoxes est en route !</p>
<br>
<p>Elle comprend :</p>
<ul>
{% for item in command.items %}
{% if item.quantity > 0 %}
<li> {{ item.product.name }} x{{ item.quantity }}</li>
{% endif %}
{% endfor %}
</ul>
<br>
<p>Pour la suivre :</p>
<ul>
{% for tracker in box.trackers %}
  <li><a href="{{ tracker }}" target="_blank">{{ tracker }}</a></li>
{% endfor %}
</ul>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
