Bonjour,

Votre demande de rapatriement {{ box.boxUsers | length == 1 ? 'MyBoxes' : 'MyTEAMBoxes' }} "{{ box.name }}" a bien été prise en compte.
Elle vous sera livrée par le service courrier à votre bureau lors de la prochaine navette Hub142.

{% include 'mails/notification_mybox_footer.txt.twig' %}
