<html lang="fr">
<body>

<p>Bonjour,</p>

<p>Votre commande MyBoxes a été livrée au 142 depuis plus de 72h, pensez à la renvoyer au plus vite au Hub et à confirmer son envoi sur le site <a href="{{ 'https://hub142.moethennessy.com' ~ path('myboxes_homepage') }}">MyBoxes</a></p>

{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
