Bonjour,

Votre commande MyBoxes a été livrée au 142 depuis plus de {{nbHours}}h, pensez à la renvoyer au plus vite au Hub et à confirmer son envoi sur le site MyBoxes :
{{ absolute_url(path('myboxes_homepage')) }}

{% include 'mails/notification_mybox_footer.txt.twig' %}
