<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>
    {{ errors | length }}
    {% if errors | length ==1 %} erreur a été remontée
    {% else %} erreurs ont été remontées
    {% endif %}
    lors de la mise à jour des stocks :
</p>
<ol>
{% for error in errors %}
<li> {{ error }}</li>
{% endfor %}
</ol>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
