<html lang="fr">
<body>
<p>Bonjour,</p>
<p>Une réception de produit a été effectuée au stock {{ ('app.cave.service.cave_' ~ stockEntry.stock.cave)|trans }}, en relation avec cette entrée de stock.</p>
<p>Il se peut que cette réception soit une réception partielle en cas d'envoi échelonné des produits.</p>
<p>Vous pouvez vérifier les quantités de produits reçues via le <a href="{{ absolute_url(path('entree_stock', {'id': stockEntry.id})) }}">lien suivant</a>.</p>
{# <p>Note : la mise à jour des entrées de stock au sein de votre catalogue se fait quotidiennement à 13H30 & 20H30.</p> #}
<p>Cordialement,</p>
{% include 'mails/signature/stock_entry.html.twig' %}
</body>
</html>
