<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Veuillez trouver ci joint la liste des boxes en attente de récupération par la navette :</p>
<ul>
{% for item in items %}
    <li>{{ item.name }} x{{ item.quantity }}</li>
{% endfor %}
</ul>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
