Bonjour,

Votre commande a été livrée (à {{ project.landingHour }}).
La personne ayant validé la réception est {{ project.landingPerson }}.

Commentaire sur les produits :
{% for item in project.items %}
* {{ item.runnerStatus == 'ok' ? 'Livré' : item.runnerStatus == 'empty' ? 'Non-Livré' : item.runnerStatus == 'partial' ? 'Partiellement Livré' : '---' }} : {{ item.product.translate(app.request.locale).name }}
{% if item.runnerComment is not empty %}
{{ item.runnerComment }}
{% endif %}
{% endfor %}

Commentaire livraison :
{{ project.landingComment }}

{% include 'mails/notification_cave115_footer.txt.twig' %}
