Bonjour,

Une réception de produit a été effectuée au stock {{ ('app.cave.service.cave_' ~ stockEntry.stock.cave)|trans }}, en relation avec cette entrée de stock.

Il se peut que cette réception soit une réception partielle en cas d'envoi échelonné des produits.

Vous pouvez vérifier les quantités de produits reçues via le lien suivant : {{ stockEntryUrl }}.

{% include 'mails/signature/stock_entry.txt.twig' %}
