Bonjour,

Votre commande MyBoxes est en route !

Elle comprend :
{% for item in command.items %}
{% if item.quantity > 0 %}
 - {{ item.product.name }} x{{ item.quantity }}
{% endif %}
{% endfor %}

Pour la suivre :
{% for tracker in command.trackers %}
{{ tracker }}
{% endfor %}

{% include 'mails/notification_mybox_footer.txt.twig' %}
