<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Votre demande de rapatriement {{ box.boxUsers | length == 1 ? 'MyBoxes' : 'MyTEAMBoxes' }} "{{ box.name }}" a bien été prise en compte.</p>
<p>Elle vous sera livrée par le service courrier à votre bureau lors de la prochaine navette Hub142.</p>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
