<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Votre commande de MyBoxes vide a bien été prise en compte.</p>
<p>Elle vous sera livrée par le service courrier à votre bureau lors de la prochaine navette Hub142.</p>
<br>
<p>Elle comprend :</p>
<ul>
{% for item in command.items %}
{% if item.quantity > 0 %}
<li> {{ item.product.name }} x{{ item.quantity }}</li>
{% endif %}
{% endfor %}
</ul>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
