Bonjour {{ project.user.getFullName() }}, 

Le projet {{ project.name }} est expédié.

{{ 'sylius.ui.mail.text_update_project'|trans({'%applicant%': project.user.getFullName(), '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}

Voici les liens de tracking :

{% set link %}
  {{ absolute_url(path('project_view', {'id': project.id})) }}
{% endset %}

  {% for track in project.trackers %}
    {% if track != '' %}
      {{ track }}
    {% endif %}
  {% endfor %}

{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}

