Bonjour,

Votre commande MyBoxes a été livrée au 142 depuis plus de 72h, pensez à la renvoyer au plus vite au Hub et à confirmer son envoi sur le site MyBoxes :
{{ 'https://hub142.moethennessy.com' ~ path('myboxes_homepage') }}

{% include 'mails/notification_mybox_footer.txt.twig' %}
