<html lang="fr">
<p>
<p>Bonjour,</p>
<p>Une contestation a été levée pour l'entrée de stock N°{{ stockEntry.id }} sur le produit {{ stockEntryItem.product.translate(app.request.locale).code }} ({{ stockEntryItem.product.translate(app.request.locale).name }}) par {{ user.firstname }} {{ user.lastname }}.</p>
<p>Quantité attendue : {{ stockEntryItem.quantity }}</p>
<p>Quantité reçue : {{ stockEntryItem.quantityReceived }}</p>
<br>
<p>Les protagonistes de cette entrée de stock sont en copie de ce mail.</p>
{% if stockEntry.stock.cave == constant("App\\Entity\\Project::CAVE_115") %}
    <p>Nous vous invitons à contacter les équipes du stock 115 à l’adresse suivante : 115@moethennessy.com pour leur transmettre ou recevoir les informations nécessaires à la validation de l’entrée de stock.</p>
{% else %}
    <p>Nous vous invitons à contacter les équipes support Veolog à l’adresse suivante : Hub142@veolog.fr pour leur transmettre ou recevoir les informations nécessaires à la validation de l’entrée de stock.</p>
{% endif %}
<p>Nous restons à votre disposition pour toute information complémentaire.</p>
{% include 'mails/signature/stock_entry.html.twig' %}
</body>
</html>
