<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>{{ errors | length }} erreurs ont été remontées lors de la confirmation de commande :</p>
<ul>
{% for error in errors %}
<li> {{ error }}</li>
{% endfor %}
</ul>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
