<html lang="fr">
<body>
<p>Bonjour {{ project.user.getFullName() }},</p>
<br>
<p>Votre commande {{ project.name }} a été préparée au stock 115.</p>
<br>
<p>
    Elle est en cours d'acheminement et sera livrée à votre bureau sous un délai d'une heure.
    <a href="{{ absolute_url(path('project_view', {'id': project.id})) }}">Cliquez ici</a> pour accéder au détail de votre commande.
</p>
<br>
{% include 'mails/notification_cave115_footer.html.twig' %}
</body>
</html>
