<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Votre demande d’envoi {{ box.boxUsers | length == 1 ? 'MyBoxes' : 'MyTEAMBoxes' }} "VIDE" a bien été enregistrée.</p>
<p>Merci de la déposer devant la bannette courrier.</p>
<p>Elle sera prise en charge pour transfert lors de la prochaine navette Hub142.</p>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
