Bonjour,

Veuillez trouver ci joint la liste des boxes en attente de récupération par la navette :
{% for item in items %}
    - {{ item.name }} x{{ item.quantity }}
{% endfor %}

{% include 'mails/notification_mybox_footer.txt.twig' %}
