<html lang="fr">
<body>
<p>Bonjour,</p>
<p>Vous venez de saisir l'entrée de stock <strong>#{{ stockEntry.id }}</strong>, sur le stock <strong>{{ stockEntry.stock.translate(app.request.locale).code }}</strong>, {% if stockEntry.stock.cave == constant("App\\Entity\\Project::CAVE_115") %}{{ ('app.cave.front.la_cave_' ~ stockEntry.stock.cave)|trans }}{% else %}le Hub142 à Pantin{% endif %} va en être informée.</p>
<p>Veuillez garder ce mail afin de pouvoir suivre son évolution sur le <a href="{{ absolute_url(path('entree_stock', {'id': stockEntry.id, 'cave': stockEntry.stock.cave})) }}">lien suivant</a>.</p>
{% include 'mails/signature/stock_entry.html.twig' %}
</body>
</html>
