<html lang="fr">
<body>
<p>Bonjour,</p>
<p>Votre déclaration d'entrée de stock vient d'être envoyé à {{ ('app.cave.front.la_cave_' ~ stockEntry.stock.cave)|trans }}.</p>
<p>Veuillez garder ce mail afin de pouvoir suivre son évolution sur le <a href="{{ absolute_url(path('entree_stock', {'id': stockEntry.id})) }}">lien suivant</a>.</p>
{% include 'mails/signature/stock_entry.html.twig' %}
</body>
</html>
