<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>
    Votre commande a été livrée (à {{ project.landingHour }}).<br>
    La personne ayant validé la réception est {{ project.landingPerson }}.
</p>

<p>Commentaire sur les produits :</p>
<ul>
    {% for item in project.items %}
        <li>
            {{ item.runnerStatus == 'ok' ? 'Livré' : item.runnerStatus == 'empty' ? 'Non-Livré' : item.runnerStatus == 'partial' ? 'Partiellement Livré' : '---' }}
            :
            {{ item.product.translate(app.request.locale).name }}
            <br>
            {% if item.runnerComment is not empty %}
                {{ item.runnerComment }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
<br>
<p>Commentaire livraison :</p>
<p>
    {{ project.landingComment|nl2br }}
</p>
<br>
{% include 'mails/notification_cave115_footer.html.twig' %}
</body>
</html>
