Bonjour,

{{ errors | length }} erreurs ont été remontées lors de la confirmation de commande :
{% for error in errors %}
 - {{ error }}
{% endfor %}

{% include 'mails/notification_mybox_footer.txt.twig' %}
