Bonjour {{ project.user.getFullName() }},

Votre commande {{ project.name }} a été préparée au stock 115.

Elle est en cours d'acheminement et sera livrée à votre bureau sous un délai d'une heure. Cliquez ici pour accéder au détail de votre commande:
{{ absolute_url(path('project_view', {'id': project.id})) }}

{% include 'mails/notification_cave115_footer.txt.twig' %}
