<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Le Hub142 a lancé le rapatriement de votre {{ box.boxUsers | length == 1 ? 'MyBoxes' : 'MyTEAMBoxes' }} {{ box.name }} qui est en route !</p>
<br>
<p>Pour la suivre :</p>
<ul>
{% for tracker in box.trackers %}
  <li><a href="{{ tracker }}" target="_blank">{{ tracker }}</a></li>
{% endfor %}
</ul>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
