Bonjour,

Votre commande de MyBoxes vide a bien été prise en compte.
Elle vous sera livrée par le service courrier à votre bureau lors de la prochaine navette Hub142.

Elle comprend :
{% for item in command.items %}
{% if item.quantity > 0 %}
 - {{ item.product.name }} x{{ item.quantity }}
{% endif %}
{% endfor %}

{% include 'mails/notification_mybox_footer.txt.twig' %}
