Bonjour {{ project.user.getFullName() }},

La commande {{ project.name }} - N° {{ project.id }} fait l'objet d'une demande d'annulation.

{{ 'sylius.ui.mail.text_update_project2'|trans({'%applicant%': project.user.getFullName(), '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}

{% set link %}
  {{ absolute_url(path('project_view', {'id': project.id})) }}
{% endset %}

Voici la raison : 
{{ project.reasonOfDelete }}

{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}

Bien cordialement,

L'équipe Hub142