<html lang="fr">
<body>

<p>Bonjour,</p>

<p>Vous trouverez ci-joint le bordereau d'entrée de stock #{{ stockEntry.id }} saisie par {{ stockEntry.user.fullName }} sur le stock {{ stockEntry.stock.translate('fr').code }}.
</p>

<p>Cordialement,</p>
<hr>
<p>L'équipe Hub142</p>
<p>
  <a href="mailto:hub142@moethennessy.com">
    Hub142@moethennessy.com
  </a>
</p>
<img src="{{  'https://hub142.moethennessy.com' ~ asset('assets/myboxes/images/logo@2x.png') }}" alt="">

</body>
</html>
