Bonjour,

Votre demande d’envoi {{ box.boxUsers | length == 1 ? 'MyBoxes' : 'MyTEAMBoxes' }} "{{ box.name }}" a bien été enregistrée.
Merci de la déposer devant la bannette courrier.
Elle sera prise en charge pour transfert lors de la prochaine navette Hub142.

{% include 'mails/notification_mybox_footer.txt.twig' %}
