{{ 'sylius.ui.mail.text_update_project'|trans({'%applicant%': project.user.firstName ~ ' ' ~ project.user.lastName, '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}
{% if project.state != 'delete' and project.clean %}
    {{ 'sylius.ui.mail.clean'|trans }}
{% elseif project.state == 'delete' and project.reasonOfDelete is not empty %}
    {{ 'sylius.ui.mail.text_reason_remove'|trans({'%comment%': project.reasonOfDelete}) }}
{% endif %}
