{{ 'sylius.ui.mail.text_update_project'|trans({'%applicant%': project.user.getFullName(), '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}
{% set link %}
    {{ absolute_url(path('app_admin_project_show', {'id': project.id})) }}
{% endset %}
{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}
