Bonjour {{ project.user.getFullName() }}, le projet {{ project.name }} a été rejeté par Veolog. Ci-dessous les modifs de rejet :

{% for rejection in project.rejectionMessages %}
    {% if rejection.product %}
        {{ rejection.product.translate('fr').name }} ({{ rejection.product.translate('fr').code }})
    {% endif %}
    --> {{ rejection.rejectionMessage }}

{% endfor %}

{{ absolute_url(path('admin_project_show', {'id': project.id})) }}
