<html lang="fr">
<body>

<p>Chère équipe Veolog,</p>

<p>Vous trouverez ci-joint les documents d'accompagnement (facture ou document DSAC) nécessaires au traitement de l'entrée de stock N°{{ stockEntry.id }} saisie par {{ stockEntry.user.fullName }} sur le stock {{ stockEntry.stock.translate('fr').code }} pour les produits :</p>

<ul>
  {% for entry in stockEntry.stockEntryItems %}
    <li>{{ entry.quantity }} x {{ entry.product.translate('fr').name }} (SKU : {{ entry.product.translate('fr').code }})</li>
  {% endfor %}
</ul>

<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
