{#{{ 'sylius.ui.mail.text_update_project'|trans({'%applicant%': project.user.getFullName(), '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}
{% set link %}
    {{ url('app_admin_project_show', {'id': project.id}) }}
{% endset %}
{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}#}

Bonjour {{ project.user.getFullName() }}, le projet {{ project.name }} est pris en charge par veolog:

{{ 'sylius.ui.mail.text_update_project'|trans({'%applicant%': project.user.getFullName(), '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}

voici les liens de tracking :

  {% for infos in tracking %}
    {% set tracking_infos = infos|split(';') %}
    {{ tracking_infos.3 }}

  {% endfor %}

{{ absolute_url(path('admin_project_show', {'id': project.id})) }}
