<html lang="fr">
<body>

<p>Bonjour {{ project.user.getFullName() }}, le projet {{ project.name }} semble avoir été annulé par veolog:</p>
{{ 'sylius.ui.mail.text_update_project'|trans({'%applicant%': project.user.getFullName(), '%name%': project.name, '%date%': project.dateStart|date('d/m/Y'), '%place%': project.place, '%state%': ('sylius.ui.mail.project_state.' ~ project.state)|trans()}) }}

{% set link %}
  <a href="{{ absolute_url(path('admin_project_show', {'id': project.id})) }}">{{ 'sylius.ui.click_here'|trans() }}</a>
{% endset %}
<br>
{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}
</body>
</html>
