Chère équipe Veolog,

Vous trouverez ci-joint les documents d'accompagnement (facture ou document DSAC) nécessaires au traitement de l'entrée de stock N°{{ stockEntry.id }} saisie par {{ stockEntry.user.fullName }} sur le stock {{ stockEntry.stock.translate('fr').code }} pour les produits :

{% for entry in stockEntry.stockEntryItems %}
  - {{ entry.quantity }} x {{ entry.product.translate('fr').name }} (SKU : {{ entry.product.translate('fr').code }})
{% endfor %}
