<html lang="fr">
<body>

<p>Bonjour à tous, 
<br>
La commande {{ project.id }} prélevée sur le stock {{ project.stock.translate('fr').code }}, créée à {{ project.created|date('H:i:s') }} le {{ project.created|date('d/m/Y') }} n’apparait pas en statut « Commande intégrée chez Veolog » sur le site Hub142.</p>

<p>Merci aux équipes IT Veolog et Disko de procéder aux correctifs nécessaires pour rectifier cette anomalie sous 30 mn maximum et de contacter l’équipe Hub142 (hub142@moethennessy.com et bmaraval@moethennessy.com) pour les tenir informés de la résolution de ce dossier.</p>

<br>
Bien cordialement,<br>
L’équipe Support Hub142
</body>
</html>
