<html lang="fr">
<body>

<p>Bonjour {{ project.user.getFullName() }}, le projet {{ project.name }} a été rejeté par Veolog. Ci-dessous les modifs de rejet :</p>

<ul>
{% for rejection in project.rejectionMessages %}
    <li>
      {% if rejection.product %}
        {{ rejection.product.translate('fr').name }} ({{ rejection.product.translate('fr').code }})
        <br>
      {% endif %}
        --> {{ rejection.rejectionMessage }}
    </li>
{% endfor %}
</ul>

{% set link %}
  <a href="{{ absolute_url(path('admin_project_show', {'id': project.id})) }}">{{ 'sylius.ui.click_here'|trans() }}</a>
{% endset %}
<br>
{{ 'sylius.ui.mail.text_click_here'|trans({'%link%': link})|raw }}
</body>
</html>
