<html lang="fr">
<body>

<p>Bonjour à tous, 
<br><br>
Une variation de stock a été trouvée à {{ stockVariation.date|date('H:i:s') }} le {{ stockVariation.date|date('d/m/Y') }} lors de la synchronisation avec l'inventaire VEOLOG :</p>

<ul>
    <li>Produit : {{ stockVariation.product.translate('fr').name }} ({{ stockVariation.product.translate('fr').code }})</li>
    <li>Stock : {{ stockVariation.stock.translate('fr').code }}</li>
    <li>{{ stockVariation.label }}</li>
</ul>

<p>Merci aux équipes Veolog de procéder aux vérifications nécessaires concernant cette anomalie et de contacter l’équipe Hub142 (hub142@moethennessy.com et bmaraval@moethennessy.com) pour les tenir informés de la résolution de ce dossier.</p>

<br>
Bien cordialement,<br>
L’équipe Support Hub142
</body>
</html>
