Bonjour, 

Une variation de stock a été trouvée à {{ stockVariation.date|date('H:i:s') }} le {{ stockVariation.date|date('d/m/Y') }} lors de la synchronisation avec l'inventaire VEOLOG :

- Produit : {{ stockVariation.product.translate('fr').name }} ({{ stockVariation.product.translate('fr').code }})
- Stock : {{ stockVariation.stock.translate('fr').code }}
- {{ stockVariation.label }}

Merci aux équipes Veolog de procéder aux vérifications nécessaires concernant cette anomalie et de contacter l’équipe Hub142 (hub142@moethennessy.com et bmaraval@moethennessy.com) pour les tenir informés de la résolution de ce dossier.