Bonjour,

Nouvelle commande de la présidence "{{project.name}}" passée par {{project.user.fullName}}

Produits :

{% for item in project.items %}
{{ item.quantity }} x {{ item.product.translate('fr').name }} (SKU : {{ item.product.translate('fr').code }})
{% endfor %}

{% include 'mails/notification_mybox_footer.txt.twig' %}
