<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Pour information, sur le stock "{{stock.name}}", le niveau de certains produits est faible :</p>
<ul>
{% for item in list %}
<li>x{{item.total}} de {{item.name}} ({{item.code}})</li>
{% endfor %}
</ul>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
