<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Pour information, le stock de la box vide suivante est inférieur à 30 : {{ product.name }}</p>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
