Bonjour {{ project.infoReturn }},

La commande "{{ project.name }}" a une date de retour le {{ project.dateReturn|date('d/m/Y') }}.

Merci de faire le nécessaire.

{% include 'mails/notification_mybox_footer.txt.twig' %}
