Bonjour,

Pour information, sur le stock "{{stock.name}}", le niveau de certains produits est faible :<br>
{% for item in list %}
 - x{{item.total}} de {{item.name}} ({{item.code}})
{% endfor %}

{% include 'mails/notification_mybox_footer.txt.twig' %}
