<html lang="fr">
<body>
<p>Bonjour {{ project.infoReturn }},</p>
<br>
<p>Votre commande "{{ project.name }}" a une date de retour prévue le {{ project.dateReturn|date('d/m/Y') }}.</p>
<br>
<p>Merci de renseigner les informations de quantité à renvoyer sur le bordereau de retour joint à la marchandise lors de son expédition. Ce bordereau complété doit accompagner vos produits pour le transport retour.</p>
<br>
<p>Si vous n'êtes pas présent sur le lieu d'enlèvement, merci de communiquer cette information à votre contact sur place.</p>
<br>
<p>Le Hub142 passera la commande de transport retour pour la date et l'heure précisées lors de votre commande. En cas de changement de date ou d’heure d’enlèvement, merci d'envoyer un mail à hub142@moethennessy.com au moins 4h avant l’heure prévue ou 4h avant la nouvelle heure souhaitée.</p>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
