<html lang="fr">
<body>
<p>Bonjour,</p>
<br>
<p>Nouvelle commande <strong>{{ project.type }}</strong>, <strong>#{{ project.id }}</strong> de la présidence "{{project.name}}" passée par {{project.user.fullName}} sur le stock <strong>{{ project.stock.translate('fr').code }}</strong>.</p>

<p>Produits :</p>
<ul>
    {% for item in project.items %}
    <li>{{ item.quantity }} x {{ item.product.translate('fr').name }} (SKU : {{ item.product.translate('fr').code }})</li>
    {% endfor %}
</ul>
<br>
{% include 'mails/notification_mybox_footer.html.twig' %}
</body>
</html>
