

<div class="row">

    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#general" data-toggle="tab"><i class="fa fa-user"></i> &nbsp; SSO
                    {% if
                        form.email is defined and form.email.vars['errors'] |length > 0
                    %}
                        <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                    {% endif %}
                </a>
            </li>

            <li class="">
                <a href="#stocks" data-toggle="tab"><i class="fa fa-folder"></i> &nbsp; Stocks autorisés
                    {% if
                        form.stocks.vars['errors'] |length > 0
                    %}
                        <span class="badge badge-danger flash-danger" ><i class="fa fa-flash"></i></span>
                    {% endif %}
                </a>
            </li>
            {#
            <li class="">
                <a href="#roles" data-toggle="tab"><i class="fa fa-cogs"></i> Rôle (Super Admin)
                </a>
            </li>
            #}
        </ul>


        <div class="tab-content tab-content-bordered">
            <div class="tab-pane fade in active" id="general">

                {% if form.email is defined %}
                    {% include "@Admin/partials/form/text-line.html.twig" with {
                        'form' : form.email,
                        'label': "Email SSO",
                        'info' : "Email du compte du SSO"
                    } %}
                {% else %}
                    <div class="form-group relative-line ">
                        <div class="row">
                            <label class="col-sm-2 control-label">Email SSO</label>
                            <div class="col-sm-8">
                                <input type="text" disabled value="{{ form.vars.data.email }}"  class="form-control">
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="form-group relative-line ">
                    <div class="row">
                        <label class="col-sm-2 control-label">Nom</label>
                        <div class="col-sm-8">
                            <input type="text" disabled value="{{ form.vars.data.lastName }}"  class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group relative-line ">
                    <div class="row">
                        <label class="col-sm-2 control-label">Prénom</label>
                        <div class="col-sm-8">
                            <input type="text" disabled value="{{ form.vars.data.firstName }}"  class="form-control">
                        </div>
                    </div>
                </div>


                <div class="form-group relative-line ">
                    <div class="row">
                        <label class="col-sm-2 control-label">Département</label>
                        <div class="col-sm-8">
                            <input type="text" disabled value="{{ form.vars.data.department }}"  class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group relative-line ">
                    <div class="row">
                        <label class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-8">
                            <input type="text" disabled value="{{ form.vars.data.company }}"  class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group relative-line ">
                    <div class="row">
                        <label class="col-sm-2 control-label">Téléphone</label>
                        <div class="col-sm-8">
                            <input type="text" disabled value="{{ form.vars.data.phone }}"  class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group relative-line ">
                    <div class="row">
                        <label class="col-sm-2 control-label">Pays</label>
                        <div class="col-sm-8">
                            <input type="text" disabled value="{{ form.vars.data.country }}"  class="form-control">
                        </div>
                    </div>
                </div>


                <div class="form-group relative-line ">
                    <div class="row">
                        <label class="col-sm-2 control-label">Organisation</label>
                        <div class="col-sm-8">
                            <input type="text" disabled value="{{ form.vars.data.organizationUnit }}"  class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group relative-line ">
                    <div class="row">
                        <label class="col-sm-2 control-label">Attributs SSO</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" disabled>{{ form.vars.data.attributes }}</textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="stocks">


                {% include "@Admin/partials/form/text-line.html.twig" with {
                    'form' : form.stocks,
                    'label': "Stocks Autorisés",
                    'class_widget': 'select2-multiple',
                    'info' : "Stock pouvant être utilisé pour les commandes (juste accès pour créer des commandes)"
                } %}

                {#
                <div class="alert alert-warning">


                    {% include "@Admin/partials/form/text-line.html.twig" with {
                        'form' : form.adminStocks,
                        'label': "Stocks Autorisés en administrateur",
                        'class_widget': 'select2-multiple',
                        'info' : "Stock pouvant être utilisé pour les commandes (pourra gérer les produits/stocks de celui-ci via l'administration)"
                    } %}
                </div>
                #}

            </div>


            {#
            <div class="tab-pane fade in" id="roles">
                <div class="alert alert-success ">
                    {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                        'form' : form.isVeologAdmin,
                        'label': "Veolog Administrateur",
                        'info' : "Faire passer un utilisateur en veolog administrateur"
                    } %}

                </div>
                <div class="alert alert-danger alert-danger-sp">
                    {% include "@Admin/partials/form/checkbox-line.html.twig" with {
                        'form' : form.isGeneralAdmin,
                        'label': "Super Administrateur",
                        'info' : "Faire passer un utilisateur en super administrateur"
                    } %}

                </div>
            </div>
            #}

            {{ form_errors(form._token) }}
            {{ form_widget(form._token) }}

        </div>
    </div>

</div>



<script type="text/javascript">
    $('#user_isAdmin').on('change', function(){
        if ($('#user_isGeneralAdmin').prop('checked'))
        {
            $('#user_isGeneralAdmin').prop('checked', false);
        }
    });
    $('#user_isGeneralAdmin').on('change', function(){
        if ($('#user_isAdmin').prop('checked'))
        {
            $('#user_isAdmin').prop('checked', false);
        }
    });

    $('.alert-danger-sp').find('label.control-label').html('<img style="width: 20px;margin-right: 10px;" src="{{ asset('assets/admin/images/sp.png') }}"/>' + $('.alert-danger-sp').find('label.control-label').html());

    {% if app.request.get('tab', '') == 'stocks' %}
    $(document).ready(function(){
        $('a[href="#stocks"]').click();
    });
    {% endif %}
</script>