{% extends 'hub/layout.html.twig' %}

{% block project_sticky_menu %}
    {% if app.user is not null %}
        {{ render(controller('App\\Controller\\Front\\ProjectController::stickyMenu')) }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="section-product">
        <div class="container container-md">

            {% set url = referer %}
            {% if url is null or url == app.request.uri %}
                {% set url = path('catalog') %}
            {% endif %}
            <header class="section__head">
                <a href="{{ url }}" class="link-back">
                    <img class="svg" src="{{ asset('assets/front/images/angle-left.svg') }}" alt="">
                    <span>{{ 'sylius.ui.back_result'|trans }}</span>
                </a>
            </header><!-- /.section__head -->

            <div class="section__body">
                <div class="product-single">
                    {% include 'hub/product/partials/_images.html.twig' %}

                    <div class="product__content">
                        {% include 'hub/product/partials/_header.html.twig' %}

                        {{ render(url('add_project_item', {'productId': product.id})) }}
                    </div><!-- /.product__content -->
                </div><!-- /.product-single -->
            </div><!-- /.section__body -->

        </div><!-- /.container -->
    </section><!-- /.section-product -->

    {% include 'hub/product/partials/_tabs.html.twig' %}

    {% include 'hub/product/partials/_associations.html.twig' %}

{% endblock %}



{% block footer %}
    {% include 'hub/partials/footer.html.twig' %}
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        if ($('.section-details').length > 0 && $('.section-details .list-details').length > 1)
        {
            var first = $('.section-details .list-details:eq(0)');
            var second = $('.section-details .list-details:eq(1)');

            var nbfirst = first.find('li').length;
            var nbsecond = second.find('li').length;
            if (nbfirst - nbsecond < 0)
            {
                var tabsF = [];
                var tabsS = [];
                first.find('li').each(function(){
                   tabsF.push($(this).html());
                });
                second.find('li').each(function(){
                    tabsS.push($(this).html());
                });

                first.html('');
                second.html('');


                if (nbsecond > nbfirst)
                {
                    var swi = tabsF.length;

                    tabsF.forEach(function(tab, index){
                        first.append('<li>'+tab+'</li>');
                    });

                    var current = 'first';
                    tabsS.forEach(function(tab, index){
                        if (index >= swi)
                        {
                            console.log(current);
                            if (current == 'first')
                            {
                                first.append('<li>'+tab+'</li>');
                                current = 'second';
                            }
                            else
                            {
                                second.append('<li>'+tab+'</li>');
                                current = 'first';
                            }
                        }
                        else {
                            second.append('<li>'+tab+'</li>');
                        }
                    });
                }
                else
                {
                    var swi = tabsS.length;
                    tabsS.forEach(function(tab, index){
                        first.append('<li>'+tab+'</li>');
                    });

                    var current = 'second';
                    tabsF.forEach(function(tab, index){
                        if (index >= swi)
                        {
                            if (current == 'first')
                            {
                                first.append('<li>'+tab+'</li>');
                                current = 'second';
                            }
                            else
                            {
                                second.append('<li>'+tab+'</li>');
                                current = 'first';
                            }
                        }
                        else {
                            second.append('<li>'+tab+'</li>');
                        }
                    });
                }
            }


        }
    </script>
{% endblock %}
