<form action="" method="get" class="form-horizontal p-y-0" autocomplete="off" novalidate>
    {{ form_errors(form.id) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.id, "N° de l'entrée", {
                'label_attr': {
                    'class': 'col-sm-1 control-label'
                }
            }) }}
            <div class="col-sm-11">
                {{ form_widget(form.id, {
                    'attr': {
                        'class': 'form-control',
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.stock, "Stock", {
                'label_attr': {
                    'class': 'col-sm-1 control-label'
                }
            }) }}
            <div class="col-sm-11">
                {{ form_widget(form.stock, {
                    'attr': {
                        'class': 'form-control',
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.requester, "Demandeur", {
                'label_attr': {
                    'class': 'col-sm-1 control-label'
                }
            }) }}
            <div class="col-sm-11">
                {{ form_widget(form.requester, {
                    'attr': {
                        'class': 'form-control',
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.code, "Code du produit", {
                'label_attr': {
                    'class': 'col-sm-1 control-label'
                }
            }) }}
            <div class="col-sm-11">
                {{ form_widget(form.code, {
                    'attr': {
                        'class': 'form-control',
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.status, "Statut", {
                'label_attr': {
                    'class': 'col-sm-1 control-label'
                }
            }) }}
            <div class="col-sm-11">
                {{ form_widget(form.status, {
                    'attr': {
                        'class': 'form-control',
                    }
                }) }}
            </div>
        </div>
    </div>
    <div class="form-group panel-block">
        <div class="row">
          {{ form_label(form.createdAt, "Date de création", {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          }) }}
        <div class="col-sm-11">
            <div class='input-group date'>
                {{ form_widget(form.createdAt, { 'attr': {'class': 'form-control disko-group'} }) }}
                <span class="input-group-addon"><span class="fa fa-calendar"></span>
                        </span>
            </div>
        </div>
        </div>
    </div>
  <div class="form-group panel-block">
      <div class="row">
        {% if is115 is defined %}
            {{ form_label(form.delivery, "Date de ramassage", {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
            }) }}
        {% else %}
            {{ form_label(form.delivery, "Date de livraison", {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
            }) }}
        {% endif %}
        <div class="col-sm-11">
            <div class='input-group date'>
                {{ form_widget(form.delivery, { 'attr': {'class': 'form-control disko-group'} }) }}
                <span class="input-group-addon"><span class="fa fa-calendar"></span>
                        </span>
            </div>
        </div>
      </div>
  </div>

    <div class="form-group">
        <div class="col-sm-12 text-center">
            {{ form_widget(form.submit, {
                'label': "Rechercher",
                'attr': {
                    'class': 'btn btn-default',
                }
            }) }}
        </div>
    </div>
</form>