<div class="modal-title">Choisissez la langue à exporter</div>
<div class="modal-body">
    Langues disponibles :
    <br/>
    {% for locale in locales %}
        {% set params = routeparams|merge({'locale':  locale.codeFlag }) %}
        <a href="{{ path(routename, params) }}"
           style="width: 25px;height: 25px;"
           class="flag-icon flag-icon-{% if locale.code|lower == 'en' %}gb{% else %}{{ locale.codeFlag }}{% endif %}">
        </a>
    {% endfor %}
</div>