{% set menuActive = 'locales' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Création d'une langue" %}

{% block content %}
    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-md-12">

                {% include "@Admin/Locale/partials/form.html.twig" with {'create': true} %}

                <button class="btn btn-primary btn-save">
                    <i class="fa fa-save"></i> Créer
                </button>
            </div>
        </div>
    </form>
{% endblock %}
