{% set menuActive = 'locales' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Langues" %}



{%  block options %}
    <a class="btn btn-success btn-xs" href="{{ path('admin_locale_create') }}">
        <i class="fa fa-plus "></i> Ajouter
    </a>
    <a class="btn btn-warning btn-xs" href="{{ path('admin_locale_export') }}">
        <i class="fa fa-download "></i> Exporter
    </a>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> Rechercher
    </a>
{% endblock %}

{% block content %}

    <div class="row">




        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is  empty %}style="display: none;"{% endif %}>
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            {% include "@Admin/Locale/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="col-md-12 col-sm-12">
            <!-- Primary table -->
            <div class="table-disko" id="flip-scroll">
                <table class="table table-bordered table-hover table-striped cf">
                    <thead class="cf">
                    <tr>
                        <th class="cansort {% if pagination.isSorted('l.id') %}sorted{% endif %}" style="text-align: center;">{{ knp_pagination_sortable(pagination, '#', 'l.id') }} {% if pagination.isSorted('l.id') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th>Drapeau</th>
                        <th class="cansort {% if pagination.isSorted('l.code') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Code ISO', 'l.code') }} {% if pagination.isSorted('l.code') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('l.default') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Par défaut', 'l.default') }} {% if pagination.isSorted('l.default') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('l.active') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'En ligne', 'l.active') }} {% if pagination.isSorted('l.active') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th class="cansort {% if pagination.isSorted('l.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Created at', 'l.created') }} {% if pagination.isSorted('l.created') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if pagination|length <= 0 %}
                        <tr>
                            <td colspan="100">Aucun résultat trouvé.</td>
                        </tr>
                    {% else %}
                        {% for locale in pagination %}
                            <tr>
                                <td width="50" style="vertical-align:middle;text-align: center;">{{ locale.id }}</td>
                                <td width="30" style="text-align: center;">

                                    <img style="max-width: 20px; max-height: 20px;" src="{{ asset("assets/admin/images/flags_iso/24/" ~ locale.codeFlag ~ ".png") }}" />
                                </td>


                                <td style="vertical-align:middle;text-align: left;" ><a href="{{ path('admin_locale_edit', {'id': locale.id}) }}">{{ locale.code|upper }} ({{ locale.code|displayRegion|capitalize }})</a> </td>

                                <td style="text-align:center;vertical-align:middle;width: 100px">
                                    {% if locale.default %}
                                        <span class="label label-success label-pill" style="font-size: 4px;line-height: 14px;"><i class="fa fa-check"></i></span>
                                    {% else %}
                                        <span class="label label-danger label-pill" style="font-size: 4px;line-height: 14px;"><i class="fa fa-times"></i></span>
                                    {% endif %}
                                </td>

                                <td style="text-align:center;vertical-align:middle;width: 100px">
                                    {% if locale.active %}
                                        <span class="label label-success label-pill" style="font-size: 4px;line-height: 14px;"><i class="fa fa-check"></i></span>
                                    {% else %}
                                        <span class="label label-danger label-pill" style="font-size: 4px;line-height: 14px;"><i class="fa fa-times"></i></span>
                                    {% endif %}
                                </td>

                                <td width="150" style="vertical-align:middle;font-style: italic;color: darkgray;">{{ locale.created|date("m/d/Y h:i", "Europe/Paris") }}</td>
                                <td width="100" style="width: 100px;text-align:center;vertical-align:middle;">

                                    <a title="Edit" href="{{ path('admin_locale_edit', {'id': locale.id}) }}" class="btn btn-xs btn-default">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a title="Delete" href="{{ path('admin_locale_delete', {'id': locale.id}) }}" class="btn btn-xs btn-danger delete-button">
                                        <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                {% if pagination|length > 0 %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, '@Admin/partials/sliding.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
