<div class="product">
    <a href="{{ path('product_view', {slug: product.translate('fr').slug}) }}" class="product__image"


       style="background-image: url('{% if product.translate('fr').cover is not empty and product.translate('fr').cover.path is not empty %}{{ asset( product.translate('fr').cover|ifs.path) }}{% else %}//placehold.it/200x200{% endif %}');">
    </a>
    <div class="product__content">
        <h4>
            <a href="{{ path('product_view', {slug: product.translate('fr').slug}) }}">
                {{ product.translate('fr').name }}
            </a>
        </h4>
        <p>{{ product.translate('fr').material }}</p>

        {% include "front/product/partials/_stock.html.twig" %}
    </div><!-- /.product__content -->
</div>