<div class="filter">
    <p>Nombre d'articles par page : </p>
    <ul class="list-filter">
        {% for limit in [12, 24] %}
            {% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'limit': limit})) %}
            <li {% if search.limit == limit %}class="current"{% endif %}>
                <a {% if search.limit != limit %}href="{{ path }}"{% endif %}>{{ limit }}</a>
            </li>
        {% endfor %}
    </ul><!-- /.list-filter -->
</div><!-- /.filter -->
