<div class="search-simple">
    <form method="get" action="{{ path('catalog') }}">
        <input type="text" id="keyword" name="keyword" class="search__field" value="{{ app.request.get('keyword', '') }}">

        <button type="submit" class="search__btn">
            <img class="svg" src="{{ asset('assets/shop/images/search.svg') }}" alt="search">
        </button>
    </form>
</div><!-- /.search-simple -->