{% if categories|length > 0 %}
    <div class="sidebar">
        <ul class="list-categories hidden-xs">

            <li {% if app.request.get('category', null) is empty %}class="current"{% endif %}><a href="{{ path('catalog') }}">Voir tous les produits</a> </li>
            {% for category in categories %}
                {% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'category': category.id})) %}

                {% set countObj = 0 %}
                {% if categoriesCounts is defined and categoriesCounts is not empty %}
                    {% set find = false %}
                    {% for obj in categoriesCounts %}
                        {% if obj.id == category.id %}
                            {% set find = true %}
                            {% set countObj = obj.count %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if countObj > 0 %}
                    <li {% if app.request.get('category', null) == category.id %}class="current"{% endif %}>
                        <a href="{{ path }}">
                            <span>{{ category.translate('fr').name }}</span>
                            <sup style="display:inline-block;">{{ countObj }}</sup>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
