//Media  queries
@mixin breakpoint-xlarge-desktop {
  @media #{$breakpoint-xlarge-desktop} {
    @content;
  }
}

@mixin breakpoint-large-desktop {
  @media #{$breakpoint-large-desktop} {
    @content;
  }
}

@mixin breakpoint-small-desktop {
  @media #{$breakpoint-small-desktop} {
    @content;
  }
}

@mixin breakpoint-tablet-portrait {
  @media #{$breakpoint-tablet-portrait} {
    @content;
  }
}

@mixin breakpoint-mobile {
  @media #{$breakpoint-mobile} {
    @content;
  }
}

@mixin breakpoint-mobile-portrait {
  @media #{$breakpoint-mobile-portrait} {
    @content;
  }
}

@mixin retina {
  @media
    (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}