<ul>
    {% for choice in form.vars.choices %}
        <li>
            <div class="checkbox-simple">
                <input type="checkbox" name="{{ form.vars.full_name }}[]" id="{{ form.vars.id }}_{{ loop.index0 }}" value="{{ choice.value }}">

                <label style="font-size: 18px;" for="{{ form.vars.id }}_{{ loop.index0 }}">{{ choice.label }}</label>
            </div>
        </li>
    {% endfor %}
</ul>