<div class="accordion__section is-current item-stock-entry" style="list-style: none;">
    <div class="accordion__head">
        <h6>Marchandise <span class="merchandise_nb"></span></h6>

        <span>
            <span class="accordion__expand">
                <span></span>
                <span></span>
            </span>
            <span class="accordion__remove">X</span>
        </span>
    </div><!-- /.accordion__head -->
    {{ form_widget(form.productId) }}
    <div class="accordion__body">
        <div class="form-simple">
            <div class="form__body">
                <div class="form__row">
                    <div class="form__cols">
                        <div class="form__col form__col--size1">
                            <label for="field-category-1" class="form__label">Catégorie*</label>

                            <div class="form__controls">
                                <div class="form__select">
                                    {{ form_widget(form.productCategory) }}
                                </div><!-- /.select -->
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productCategory) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size1 -->

                        <div class="form__col form__col--size1">
                            {{ form_label(form.productName, 'Marque*') }}

                            <div class="form__controls">
                                {{ form_widget(form.productBrand) }}
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productBrand) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size1 -->

                        <div class="form__col form__col--size2">
                            {{ form_label(form.productName, 'Nom du produit*') }}

                            <div class="form__controls">
                                {{ form_widget(form.productName) }}
                                <img src="{{ asset('assets/admin/images/ajax-loader.svg') }}" class="spinner-waiting-product">
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productName) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size1 -->

                        <div class="form__col form__col--size3">
                            <label for="field-code-product-1" class="form__label">Code produit*</label>

                            <div class="form__controls">
                                {{ form_widget(form.productCode) }}
                                <img src="{{ asset('assets/admin/images/ajax-loader.svg') }}" class="spinner-waiting-product">
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productCode) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size3 -->

                        <div class="form__col form__col--size3">
                            <label for="field-code-ean-1" class="form__label">Code EAN (Code barre)</label>

                            <div class="form__controls">
                                {{ form_widget(form.productEan) }}
                                <img src="{{ asset('assets/admin/images/ajax-loader.svg') }}" class="spinner-waiting-product">
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productEan) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size3 -->

                        {# <div class="form__col form__col--size4">
                            <label for="field-qualite-1" class="form__label">&Eacute;tat*</label>

                            <div class="form__controls">
                                <div class="form__select" class="productState">
                                    {{ form_widget(form.productState) }}
                                </div><!-- /.select -->
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productState) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size3 --> #}

                        <div class="form__col form__col--size5">
                            {{ form_label(form.productName, 'Quantité*') }}

                            <div class="form__controls">
                                {{ form_widget(form.quantity) }}
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.quantity) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size3 -->

                        <div class="form__col form__col--size5 crd-col" style="display:none;">
                            <label for="field-crd-1" class="form__label">CRD*</label>

                            <div class="form__controls">
                                <div class="form__select" class="crd">
                                    {{ form_widget(form.crd) }}
                                </div><!-- /.select -->
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.crd) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size2 -->
                    </div><!-- /.form__cols -->
                </div><!-- /.form__row -->

                <div class="form__row form__row--flex row-crd-doc" style="display:none;">
                    <p class="invoicefile-error" style="color:red;display:none;width:100%;">Les bouteilles sans CRD doivent être accompagnées d'une facture ou document DSAC</p>
                    <label for="field-code-invoice-1" class="form__label">Facture ou document DSAC :&nbsp;</label>

                    <div class="form__controls">
                        {{ form_widget(form.invoiceFile) }}
                        <img src="{{ asset('assets/admin/images/ajax-loader.svg') }}" class="spinner-waiting-product">
                    </div><!-- /.form__controls -->
                    <div class="error">
                        {{ form_errors(form.invoiceFile) }}
                    </div>
                </div>

                <div class="form__row form__row--flex">
                    <p style="font-size: 18px;" class="form__note">Services additionnels :</p><!-- /.form__note -->

                    <div class="checkboxes-simple">
                        <ul>
                            <li>
                                <div class="checkbox-simple">
                                    {{ form_widget(form.washBasins, { 'attr' : { 'id' : 'field-1#' } }) }}
                                </div>
                            </li>
                            <li>
                                <div class="checkbox-simple">
                                    {{ form_widget(form.dryCleaning, { 'attr' : { 'id' : 'field-2#' }}) }}
                                </div>
                            </li>
                            <li>
                                <div class="checkbox-simple">
                                    {{ form_widget(form.washGlasses, { 'attr' : { 'id' : 'field-3#' }}) }}
                                </div>
                            </li>
                        {#{% include "hub/partials/form/checkbox-line.html.twig" with {
                            'form' : form.additionalServices,
                        } %}#}
                    </div><!-- /.checkboxes-simple -->
                </div><!-- /.form__row -->
                <div><p style="color: #7f7a77;">Ce service vous sera facturé. Avant de valider votre entrée de stock merci de consulter la <a href="{{ asset('assets/front/Grille Tarifaire Globale MH_HUB142 2020.pdf') }}">grille tarifaire</a> qui servira de base de calcul. </p></div>
            </div><!-- /.form__body -->
        </div><!-- /.form -->
    </div><!-- /.accordion__body -->
</div><!-- /.accordion__section -->