<div class="accordion__section is-current item-stock-entry" style="list-style: none;">
    <div class="accordion__head">
        <h6>Marchandise <span class="merchandise_nb"></span></h6>

        <span>
            <span class="accordion__expand">
                <span></span>
                <span></span>
            </span>
            <span class="accordion__remove">X</span>
        </span>
    </div><!-- /.accordion__head -->
    {{ form_widget(form.productId) }}
    <div class="accordion__body">
        <div class="form-simple">
            <div class="form__body">
                <div class="form__row">
                    <div class="form__cols">
                        <div class="form__col form__col--size1">
                            <label for="field-category-1" class="form__label">Catégorie*</label>

                            <div class="form__controls">
                                <div class="form__select">
                                    {{ form_widget(form.productCategory) }}
                                </div><!-- /.select -->
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productCategory) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size1 -->

                        <div class="form__col form__col--size1">
                            {{ form_label(form.productName, 'Marque*') }}

                            <div class="form__controls">
                                {{ form_widget(form.productBrand) }}
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productBrand) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size1 -->

                        <div class="form__col form__col--size2">
                            {{ form_label(form.productName, 'Nom du produit*') }}

                            <div class="form__controls">
                                {{ form_widget(form.productName) }}
                                <img src="{{ asset('assets/admin/images/ajax-loader.svg') }}" class="spinner-waiting-product">
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productName) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size1 -->

                        <div class="form__col form__col--size3">
                            <label for="field-code-product-1" class="form__label">Code produit*</label>

                            <div class="form__controls">
                                {{ form_widget(form.productCode) }}
                                <img src="{{ asset('assets/admin/images/ajax-loader.svg') }}" class="spinner-waiting-product">
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productCode) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size3 -->

                        <div class="form__col form__col--size3">
                            <label for="field-code-ean-1" class="form__label">Code EAN (Code barre)</label>

                            <div class="form__controls">
                                {{ form_widget(form.productEan) }}
                                <img src="{{ asset('assets/admin/images/ajax-loader.svg') }}" class="spinner-waiting-product">
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productEan) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size3 -->

                        <div class="form__col form__col--size4">
                            <label for="field-qualite-1" class="form__label">&Eacute;tat*</label>

                            <div class="form__controls">
                                <div class="form__select" class="productState">
                                    {{ form_widget(form.productState) }}
                                </div><!-- /.select -->
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.productState) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size3 -->

                        <div class="form__col form__col--size5">
                            {{ form_label(form.productName, 'Quantité*') }}

                            <div class="form__controls">
                                {{ form_widget(form.quantity) }}
                            </div><!-- /.form__controls -->
                            <div class="error">
                                {{ form_errors(form.quantity) }}
                            </div>
                        </div><!-- /.form__col form__col-/-size3 -->
                    </div><!-- /.form__cols -->
                </div><!-- /.form__row -->
            </div><!-- /.form__body -->
        </div><!-- /.form -->
    </div><!-- /.accordion__body -->
</div><!-- /.accordion__section -->