<style>
    .input-preview {
        position: relative;
        max-width: 200px;
        max-height: 200px;
    }
    .input-upload {
        display : none;
    }
    .input-upload-id {
        display : none;
    }
</style>

<div id="{{ form.vars.id }}">
    <div class="form__row jsFocusLabel">
        <label for="{{ form.vars.id }}_id" class="form__label">{{ form.vars.label }}</label>
        <div class="form__controls">
            <button type="button" class="btn btn-xs btn-upload" style="margin: auto auto 10px auto;display: block;white-space: initial;max-width: 130px;">
                Télécharger
            </button>
            <input type="file" class="input-upload"/>
            <div class="input-preview">
            </div>
            {{ form_widget(form) }}
        </div>
    </div>
</div>
<script>
    $("#{{ form.vars.id }} .btn-upload").click(function(e) {
        $(this).parent('.form__controls').find('.input-upload').trigger('click');
    });
    $("#{{ form.vars.id }} .input-upload").change(function(e) {
        var fileName = $(this).val();
        if (fileName) {
            var formData = new FormData();
            formData.append('file', $(this)[0].files[0]);
            $.ajax({
                method      : 'POST',
                url         : '{{ path('myboxes_media_upload') }}',
                data        : formData,
                dataType    : 'json',
                processData : false,
                contentType: false,
                cache: false,
            }).then((response) => {
//                {id: 56, extension: "png", mimetype: "image/png", legend: null, url: "/media/56", …}
                $(this).parent('.form__controls').find('#{{ form.vars.id }}_id').val(response.id)
                $(this).parent('.form__controls').find('.input-preview').empty().append($('<img>').attr('src', response.url))
            }, (error) => {
                console.log(error)
            });
        }
    });

</script>
