{% if locales is defined and askLocale is defined and path is defined %}
    {% if locales|length >= 2 %}
        <div class="col-md-12 col-sm-12" style="margin-bottom: 10px;">
            <span>Choix de la langue affichée : </span>
            {% for locale in locales  %}
                <a href="{{ path(path, {askLocale: locale}) }}" style="height: 12px;opacity: {% if askLocale == locale %}1{%  else %}0.5{% endif %}" class="flag-icon flag-icon-{% if locale == 'en' %}gb{% else %}{{ locale }}{% endif %}">
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}