
<!-- Navbar -->
<nav class="navbar px-navbar" style="border-bottom: 3px solid #a9d5de!important;">
    <div class="navbar-header">
        <span class="navbar-brand">
            <span style="display: inline-block;font-weight: bold;font-size: 14px;vertical-align: middle;">&nbsp;HUB 142</span>

            {{ render(controller(
                'App\\Controller\\Admin\\StockController::choice', {}
            )) }}

        </span>

    </div>

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#px-navbar-collapse" aria-expanded="false"><i class="navbar-toggle-icon"></i></button>

    <div class="collapse navbar-collapse" id="px-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="btn btn-info" href="{{ path('homepage') }}" style="    background: #a9d5de;
    border: 1px solid #a9d5de;
    color: white;
    font-weight: 600;
    border-radius: 0;" target="_blank"><i class="fa fa-globe"></i> &nbsp; Accéder au site</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                    <img style="border: none;outline: none;" src="{{ asset('assets/admin/images/signin-bg-8.jpg') }}" alt="" class="px-navbar-image">

                    {% if app.user is defined and app.user is not null %}
                        <span class="hidden-md">{{ app.user.username }}</span>
                    {% endif %}
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('logout') }}"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Déconnexion</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>