<div class="product__image">
  {% set first_path = '//placehold.it/500x500' %}
    {% if product.images is not empty %}
      {% for image in product.images %}
          {% set source_path = asset(image|ifs.path|imagine_filter(filter|default('hennessy_product_box'))) %}
          <img src="{{ source_path }}" alt="" class="" />
      {% endfor %}
    {% endif %}
</div>
