
<!-- Nav -->
<nav id="main-menu" class="px-nav px-nav-left">
    <button type="button" class="px-nav-toggle" data-toggle="px-nav"  style="    height: 53px;border-bottom: 3px solid #a9d5de!important;">
        <span class="px-nav-toggle-arrow"></span>
        <span class="navbar-toggle-icon"></span>
        <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
    </button>

    <ul class="px-nav-content">

        <li>
            <br/>
        </li>


        <li id="nav-dashboard"  class="px-nav-item active" style="border-top: 1px solid #dfe4e6;">
            <a href="{{ path('admin_homepage') }}"><i class="menu-icon px-nav-icon ion-ios-speedometer-outline"></i><span class="px-nav-label">Tableau de bord</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Point de vue général</span></a>
        </li>


        {% if not is_granted('ROLE_VEOLOG_ADMIN') %}

            {% set current_admin_stock = app.session.get('current_admin_stock', null)%}

            {% if app.session.get('current_admin_stock', null) is not empty %}
                <li id="nav-head-stock" class="px-nav-item bg-info" style="margin-top: 25px;font-weight: bold;">
                    <a href="#" style="padding:4px 22px;">Administration du stock

                        {{ render(controller(
                            'App\\Controller\\Admin\\StockController::current', {}
                        )) }}
                    </a>
                </li>
            {% endif %}

            {% if current_admin_stock is not empty and current_admin_stock.cave == constant('App\\Entity\\Project::CAVE_115') %}
                <li id="nav-product-stocks-{{ constant('App\\Entity\\Project::CAVE_115') }}"  class="px-nav-item">
                    <a href="{{ path('admin_stockLine_list', {cave: constant('App\\Entity\\Project::CAVE_115')}) }}">
                        <i class="menu-icon px-nav-icon ion-beer"></i>
                        <span class="px-nav-label">{{ 'app.cave.admin.cave_115'|trans|raw }}</span>
                        <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">Les produits sur ce lieu</span>
                    </a>
                </li>
            {% endif %}

            {% if current_admin_stock is not empty and current_admin_stock.cave == constant('App\\Entity\\Project::CAVE_PANTIN') %}
                <li id="nav-product-stocks-{{ constant('App\\Entity\\Project::CAVE_PANTIN') }}"  class="px-nav-item">
                    <a href="{{ path('admin_stockLine_list', {cave: constant('App\\Entity\\Project::CAVE_PANTIN')}) }}">
                        <i class="menu-icon px-nav-icon ion-beer"></i>
                        <span class="px-nav-label">{{ 'app.cave.admin.cave_pantin'|trans|raw }}</span>
                        <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">Les produits sur ce lieu</span>
                    </a>
                </li>
            {% endif %}

            <li id="nav-projects-restrict" class="px-nav-item">
                <a href="{{ path('admin_project_list_current') }}">
                    <i class="menu-icon px-nav-icon ion-clipboard"></i>
                    <span class="px-nav-label">Commandes</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des commandes du stock</span>
                </a>
            </li>

            <li id="nav-restrict-users"  class="px-nav-item active">
                <a href="{{ path('admin_restrict_user_list') }}"><i class="menu-icon px-nav-icon ion-ios-people"></i><span class="px-nav-label">Utilisateurs</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des utilisateurs du stock</span></a>
            </li>
            <li id="nav-parameters"  class="px-nav-item active">
                <a href="{{ path('admin_stock_edit_current') }}"><i class="menu-icon px-nav-icon ion-ios-cog"></i><span class="px-nav-label">Paramètres</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Modifier les informations du stock</span></a>
            </li>
        {% endif %}



        {% if is_granted('ROLE_VEOLOG_ADMIN') %}

            <li id="nav-head-stock" class="px-nav-item bg-warning" style="margin-top: 25px;font-weight: bold;">
                <a href="#" style="padding:4px 22px;"><i class="fa fa-cogs"></i>  Veolog
                </a>
            </li>


            <li id="nav-products" class="px-nav-item">
                <a href="{{ path('admin_product_list') }}">
                    <i class="menu-icon px-nav-icon ion-beer"></i>
                    <span class="px-nav-label">Produits</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Référentiel</span>
                </a>
            </li>
            <li id="nav-projects-veolog" class="px-nav-item">
                <a href="{{ path('admin_project_list_veolog') }}">
                    <i class="menu-icon px-nav-icon ion-clipboard"></i>
                    <span class="px-nav-label">Commandes</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des commandes du stock</span>
                </a>
            </li>

            <li id="nav-services" class="px-nav-item">
                <a href="{{ path('admin_service_list') }}">
                    <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
                    <span class="px-nav-label">Services</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des services disponibles</span>
                </a>
            </li>
        {% endif %}
{# GENERATOR #}

{# GENERATOR #}
        {#
            If you want delete the section GENERATOR without remove all generators follow this link :
            https://media2.giphy.com/media/12XMGIWtrHBl5e/giphy.gif?cid=790b76115d42b1364253754241e81d3a&rid=giphy.gif
        #}



        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {# EXAMPLE #}
            <li id="nav-examples" class="px-nav-item">
                <a href="{{ path('admin_example_list') }}">
                    <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
                    <span class="px-nav-label">Exemples <sup style="font-size: 10px">(Liste)</sup></span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">CRUD d'un ensemble</span>
                </a>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('admin_generator_example_launch') }}" class="createin-menu" data-href="{{ path('admin_generator_example_form') }}">
                        <i class="fa fa-plus" style="color:white !important;"></i> <i class="text" style="color:white !important;">Générer un CRUD (Liste)</i>
                    </a>
                {% endif %}
            </li>
            {# EXAMPLE #}
        {% endif %}



        {% if is_granted('ROLE_GENERAL_ADMIN') %}
            <li id="nav-head-myboxes" class="px-nav-item bg-danger" style="background: #55c1b1 !important;margin-top: 25px;font-weight: bold;">
                <a href="#" style="padding:4px 22px;"><i class="fa fa-cube"></i> &nbsp; MyBoxes</a>
            </li>

            <li id="nav-myBoxesCommands" class="px-nav-item">
                <a href="{{ path('admin_myBoxesCommand_list') }}">
                    <i class="menu-icon px-nav-icon ion-clipboard"></i>
                    <span class="px-nav-label">Commandes</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Les commandes de boxes</span>
                </a>
            </li>

            <li id="nav-myBoxesBoxs" class="px-nav-item">
                <a href="{{ path('admin_myBoxesBox_list') }}">
                    <i class="menu-icon px-nav-icon ion-ios-albums"></i>
                    <span class="px-nav-label">Boxes</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Les boxes existantes</span>
                </a>
            </li>

            <li id="nav-myBoxesBarcodes" class="px-nav-item">
                <a href="{{ path('admin_myBoxesBarcode_list') }}">
                    <i class="menu-icon px-nav-icon ion-ios-cog"></i>
                    <span class="px-nav-label">Codes barres</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Les codes barres autorisés/utilisés</span>
                </a>
            </li>

            {# <li id="nav-toolboxs" class="px-nav-item">
                <a href="{{ path('admin_toolbox_list') }}">
                    <i class="menu-icon px-nav-icon ion-clipboard"></i>
                    <span class="px-nav-label">Toolboxs</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des toolboxs</span>
                </a>
            </li> #}

        {% endif %}



        {% if is_granted('ROLE_GENERAL_ADMIN') %}
            <li id="nav-head-admin" class="px-nav-item bg-danger" style="margin-top: 25px;font-weight: bold;">
                <a href="#" style="padding:4px 22px;"><i class="fa fa-cogs"></i> &nbsp; Super Administration</a>
            </li>

            <li id="nav-toolboxs" class="px-nav-item">
                <a href="{{ path('admin_toolbox_list') }}">
                    <i class="menu-icon px-nav-icon ion-clipboard"></i>
                    <span class="px-nav-label">Toolboxs</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des toolboxs</span>
                </a>
            </li>


            <li class="px-nav-item px-nav-dropdown">
                <a href="#"><i class="px-nav-icon ion-ios-pulse-strong"></i><span class="px-nav-label">Rapports</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Statistiques sur MyHub, MyBoxes, Commandes, Utilisateurs...</span></a>
                <ul class="px-nav-dropdown-menu">


                    <li id="nav-report-commons" class="px-nav-item">
                        <a href="{{ path('admin_common_report') }}">
                            <i class="menu-icon px-nav-icon ion-clipboard"></i>
                            <span class="px-nav-label">Communs</span>
                            <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Utilisateurs, Connexions...</span>
                        </a>
                    </li>

                    <li id="nav-report-myhub" class="px-nav-item">
                        <a href="{{ path('admin_myHub_report') }}">
                            <i class="menu-icon px-nav-icon ion-clipboard"></i>
                            <span class="px-nav-label">MyHub</span>
                            <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Delais d'expéditions, commandes par maison...</span>
                        </a>
                    </li>

                    <li id="nav-report-mybox" class="px-nav-item">
                        <a href="{{ path('admin_myBoxes_report') }}">
                            <i class="menu-icon px-nav-icon ion-clipboard"></i>
                            <span class="px-nav-label">MyBoxes</span>
                            <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Temps de stockages, Nombre de destruction, Rotations...</span>
                        </a>
                    </li>

                    <li id="nav-report-stock115" class="px-nav-item">
                        <a href="{{ path('admin_stock115_report') }}">
                            <i class="menu-icon px-nav-icon ion-clipboard"></i>
                            <span class="px-nav-label">Stock 115</span>
                            <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Nombre de commandes, de produits, délais de livraison...</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li id="nav-projects" class="px-nav-item">
                <a href="{{ path('admin_project_list') }}">
                    <i class="menu-icon px-nav-icon ion-clipboard"></i>
                    <span class="px-nav-label">Commandes</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des commandes </span>
                </a>
            </li>

            <li id="nav-projects-restrict" class="px-nav-item">
                <a href="{{ path('admin_stock_entry_item_list') }}">
                    <i class="menu-icon px-nav-icon ion-clipboard"></i>
                    <span class="px-nav-label">Entrée de stock Pantin</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des entrées de stock Pantin</span>
                </a>
            </li>

            <li id="nav-projects-restrict" class="px-nav-item">
                <a href="{{ path('admin_stock_entry_item_115_list') }}">
                    <i class="menu-icon px-nav-icon ion-clipboard"></i>
                    <span class="px-nav-label">Entrée de stock 115</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des entrées de stock 115</span>
                </a>
            </li>

            <li id="nav-products" class="px-nav-item">
                <a href="{{ path('admin_product_list') }}">
                    <i class="menu-icon px-nav-icon ion-beer"></i>
                    <span class="px-nav-label">Produits</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Référentiel</span>
                </a>
            </li>

            <li id="nav-stock-variations-{{ constant('App\\Entity\\Project::CAVE_PANTIN') }}" class="px-nav-item">
                <a href="{{ path('admin_variation_list', { 'cave': constant('App\\Entity\\Project::CAVE_PANTIN') }) }}">
                    <i class="menu-icon px-nav-icon ion-ios-albums"></i>
                    <span class="px-nav-label">Variations de stock</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Les variations de stock</span>
                </a>
            </li>


            <li id="nav-categorys" class="px-nav-item">
                <a href="{{ path('admin_category_list') }}">
                    <i class="menu-icon px-nav-icon ion-ios-list"></i>
                    <span class="px-nav-label">Catégories</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Catégories de produits</span>
                </a>
            </li>


            <li id="nav-stocks" class="px-nav-item">
                <a href="{{ path('admin_stock_list') }}">
                    <i class="menu-icon px-nav-icon ion-ios-albums"></i>
                    <span class="px-nav-label">Stocks</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Les différents stocks</span>
                </a>
            </li>

            <li id="nav-brands" class="px-nav-item">
              <a href="{{ path('admin_brand_list') }}">
                <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
                <span class="px-nav-label">Marques</span>
                <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Gestion des marques</span>
              </a>
            </li>

            <li id="nav-serviceproviders" class="px-nav-item">
              <a href="{{ path('admin_serviceprovider_list') }}">
                <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
                <span class="px-nav-label">Fournisseur de services</span>
                <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des fournisseurs de services</span>
              </a>
            </li>

            <li id="nav-services" class="px-nav-item">
              <a href="{{ path('admin_service_list') }}">
                <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
                <span class="px-nav-label">Services</span>
                <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des services disponibles</span>
              </a>
            </li>

            <li id="nav-billingcenters" class="px-nav-item">
              <a href="{{ path('admin_billingcenter_list') }}">
                <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
                <span class="px-nav-label">Centre de coûts</span>
                <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste des centres de coûts</span>
              </a>
            </li>

            <li id="nav-contacts" class="px-nav-item">
              <a href="{{ path('admin_contact_list') }}">
                <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
                <span class="px-nav-label">Contacts</span>
                <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Liste de contacts</span>
              </a>
            </li>


            <li id="nav-deliverys" class="px-nav-item">
                <a href="{{ path('admin_delivery_list') }}">
                    <i class="menu-icon px-nav-icon ion-ios-cog"></i>
                    <span class="px-nav-label">Conditions de livraison</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Veolog</span>
                </a>
            </li>

            <li id="nav-mediacenter" class="px-nav-item">
                <a href="{{ path('admin_media_center_list') }}"><i class="menu-icon px-nav-icon ion-android-image"></i><span class="px-nav-label">Médiathèque</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Tous les fichiers uploadés</span></a>

            </li>

            <li id="nav-users" class="px-nav-item">
                <a href="{{ path('admin_user_list') }}"><i class="menu-icon px-nav-icon ion-ios-people"></i><span class="px-nav-label">Utilisateurs</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Membres, Administrateurs...</span></a>
            </li>

            {#
            <li>
                <a href="{{ path('admin_actions_check') }}" class="btn btn-success" style="width: 100%;
    white-space: normal;
    font-size: 11px;
    display: block;">
                    <i class="fa fa-truck"></i> &nbsp; Lancer la commande de gestion de réservations
                </a>
            </li>
            #}



        {% endif %}






        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li  class="px-nav-item px-nav-dropdown">
                <a href="#"><i class="px-nav-icon ion-stats-bars"></i><span class="px-nav-label">Paramètres Généraux</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Au dessus c'est le soleil</span></a>
                <ul class="px-nav-dropdown-menu">


                    <li tabindex="-1" id="nav-locales" class="px-nav-item">
                        <a href="{{ path('admin_locale_list') }}"><i class="px-nav-icon ion-android-globe"></i><span class="px-nav-label">Langues</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Parlons plus de dialecte</span></a>
                    </li>


                    <li class="px-nav-item px-nav-dropdown">
                        <a href="#"><i class="px-nav-icon ion-hammer"></i><span class="px-nav-label">Outils</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Dump, debug...</span></a>
                        <ul class="px-nav-dropdown-menu">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li id="nav-db-detect" class="px-nav-item">
                                    <a href="{{ path('admin_database_detect_dump') }}"><i  class="menu-icon px-nav-icon ion-ios-search"></i><span class="px-nav-label"><span style="font-weight: 600;">Doctrine Update Force</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">permettre d'executer la mise à jour directement</span></span></a>
                                </li>
                                <li tabindex="-1" id="nav-redirect-generator" class="px-nav-item">
                                    <a href="{{ path('admin_redirect_generator') }}"><i class="px-nav-icon ion-archive"></i><span class="px-nav-label">Redirections Web</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Générez vos redirections pour Apache ou Nginx</span></a>
                                </li>
                            {% endif %}

                            <li tabindex="-1" id="nav-maintenance" class="px-nav-item">
                                <a href="{{ path('admin_maintenance') }}"><i class="px-nav-icon ion-android-hand"></i><span class="px-nav-label">Maintenance</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Activer / Désactiver le mode en maintenance</span></a>
                            </li>


                            <li id="nav-detect" class="px-nav-item">
                                <a href="{{ path('admin_detect_todo') }}"><i  class="menu-icon px-nav-icon ion-ios-paw"></i><span class="px-nav-label"><span style="font-weight: 600;">Détecteur</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">À prévoir avant la production</span></span></a>
                            </li>
                            <li id="nav-dump" class="px-nav-item">
                                <a href="{{ path('admin_dump_list') }}" style="color: steelblue !important;"><i style="color: steelblue !important;" class="menu-icon px-nav-icon ion-archive"></i><span class="px-nav-label"><span style="font-weight: 600;">Dumps SQL</span></span><span style="font-size: 10px;display: block;padding-left: 20px;line-height: 10px;">Archivez la BDD</span></a>
                            </li>
                            <li id="nav-zipuploads" class="px-nav-item">
                                <a href="{{ path('admin_zipupload_list') }}" style="color: mediumseagreen !important;"><i style="color: mediumseagreen !important;" class="menu-icon px-nav-icon ion-archive"></i><span class="px-nav-label"><span style="font-weight: 600;">ZIP Uploads</span></span><span style="font-size: 10px;display: block;padding-left: 20px;line-height: 10px;">Archivez vos uploads</span></a>
                            </li>
                            <li id="nav-test-email" class="px-nav-item">
                                <a href="{{ path('admin_email_test_form') }}"><i  class="menu-icon px-nav-icon ion-android-send"></i><span class="px-nav-label"><span style="font-weight: 600;">E-mail</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Tester l'envoi d'e-mail</span></span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="px-nav-item px-nav-dropdown">
                        <a href="#"><i class="px-nav-icon ion-ios-pulse-strong"></i><span class="px-nav-label">Monitoring</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Restons vigilants</span></a>
                        <ul class="px-nav-dropdown-menu">

                            {% if app.environment == "dev" %}
                                <li id="nav-custom-error-pages" class="px-nav-item">
                                    <a href="{{ path('admin_custom_error_pages') }}"><i class="menu-icon px-nav-icon ion-bug"></i><span class="px-nav-label">Page d'erreurs</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Voir les pages 404, 500 et 503 customisées</span></a>
                                </li>
                            {% endif %}

                            <li id="nav-ips" class="px-nav-item">
                                <a href="{{ path('admin_ip_list') }}"><i class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label">Restriction d'IP</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Mieux vaut prévenir que guérir</span></a>
                            </li>

                            <li id="nav-fail2bans" class="px-nav-item">
                                <a href="{{ path('admin_fail2ban_list') }}" style="color: darkred;"><i  class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label"><span style="font-weight: 600;">Fail 2 Ban</span><span style="font-size: 10px;display: block;padding-left: 20px;line-height: 10px;">Logs des connexions</span></span></a>
                            </li>
                            <li id="nav-log" class="px-nav-item">
                                <a href="{{ path('admin_about_log') }}"><i  class="menu-icon px-nav-icon ion-android-warning"></i><span class="px-nav-label"><span style="font-weight: 600;">Logs</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Voir en direct les logs de Symfony</span></span></a>
                            </li>
                            <li id="nav-about" class="px-nav-item">
                                <a href="{{ path('admin_about_info') }}"><i  class="menu-icon px-nav-icon ion-bonfire"></i><span class="px-nav-label"><span style="font-weight: 600;">À Propos</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Versions de l'application</span></span></a>
                            </li>
                        </ul>
                    </li>

                  <li class="px-nav-item px-nav-dropdown">
                    <a href="#"><i class="px-nav-icon ion-ios-pulse-strong"></i><span class="px-nav-label">Veolog</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Commande manuel</span></a>
                    <ul class="px-nav-dropdown-menu">

                      <li id="nav-check-integration" class="px-nav-item">
                        <a href="{{ path('admin_veolog_check_projects') }}"><i class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label">Bloqué les commandes à -7 jour de date de début</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">disko:check:projects</span></a>
                      </li>

                      <li id="nav-order-ask" class="px-nav-item">
                        <a href="{{ path('admin_veolog_order_ask') }}"><i class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label">Demande de préparation</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">veolog:order-ask</span></a>
                      </li>

                      <li id="nav-order-confirm" class="px-nav-item">
                        <a href="{{ path('admin_veolog_order_confirm') }}"><i class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label">Réccupération statut commande par veolog</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">veolog:order-confirm</span></a>
                      </li>

                      <li id="nav-stock-update" class="px-nav-item">
                        <a href="{{ path('admin_veolog_stock_update') }}"><i class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label">Réccupération état des stock de veolog</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">veolog:stock-update</span></a>
                      </li>

                      <li id="nav-synch-product" class="px-nav-item">
                        <a href="{{ path('admin_veolog_synch_product') }}"><i class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label">Mise à jour de la base produit pour veolog</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">veolog:synch-product</span></a>
                      </li>

                      <li id="nav-check-integration" class="px-nav-item">
                        <a href="{{ path('admin_veolog_check_integration') }}"><i class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label">Annulé commande non traité par veolog</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">veolog:check-integration</span></a>
                      </li>

                    </ul>
                  </li>

                  <li class="px-nav-item px-nav-dropdown">
                    <a href="#"><i class="px-nav-icon ion-ios-pulse-strong"></i><span class="px-nav-label">Import produit SAP</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Commande manuel</span></a>
                    <ul class="px-nav-dropdown-menu">

                      <li id="nav-import-product-sap" class="px-nav-item">
                        <a href="{{ path('admin_import_product_sap') }}"><i class="menu-icon px-nav-icon ion-android-lock"></i><span class="px-nav-label">Lancé un import</span><span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">disko:import:product</span></a>
                      </li>

                    </ul>
                  </li>
                </ul>
            </li>
        {% endif %}


        {% if is_granted('ROLE_GENERAL_ADMIN') %}
            <li  class="px-nav-item px-nav-dropdown">
                <a href="#">
                    <i class="px-nav-icon ion-stats-bars"></i>
                    <span class="px-nav-label">Commandes CRON</span>
                    <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">CRON mais manuellement</span>
                </a>
                <ul class="px-nav-dropdown-menu">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li tabindex="-1" class="px-nav-item">
                        <a href="{{ path('admin_exec_command', {id: 'disko:project:return'}) }}">
                            <i class="px-nav-icon ion-android-globe"></i>
                            <span class="px-nav-label">Email Reminder Retour</span>
                            <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">disko:project:return</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li tabindex="-1" class="px-nav-item">
                        <a href="{{ path('admin_exec_command', {id: 'disko:import:product'}) }}">
                            <i class="px-nav-icon ion-android-globe"></i>
                            <span class="px-nav-label">SAP - Import Product</span>
                            <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">disko:import:product</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li  class="px-nav-item px-nav-dropdown">
                        <a href="#">
                            <i class="px-nav-icon ion-wineglass"></i>
                            <span class="px-nav-label">VEOLOG - Classic</span>
                            <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">Actions autour des produits classiques</span>
                        </a>
                        <ul class="px-nav-dropdown-menu">
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:order-ask'}) }}">
                                    <i class="px-nav-icon ion-wineglass"></i>
                                    <span class="px-nav-label">Send Order</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:order-ask</span>
                                </a>
                            </li>
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:order-confirm'}) }}">
                                    <i class="px-nav-icon ion-wineglass"></i>
                                    <span class="px-nav-label">Receive Order</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:order-confirm</span>
                                </a>
                            </li>
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:stock-update'}) }}">
                                    <i class="px-nav-icon ion-wineglass"></i>
                                    <span class="px-nav-label">Receive Stock</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:stock-update</span>
                                </a>
                            </li>
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:synch-product'}) }}">
                                    <i class="px-nav-icon ion-wineglass"></i>
                                    <span class="px-nav-label">Send Product Synch</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:synch-product</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li  class="px-nav-item px-nav-dropdown">
                        <a href="#">
                            <i class="px-nav-icon ion-cube"></i>
                            <span class="px-nav-label">VEOLOG - MyBoxes</span>
                            <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">Actions autour des produits MyBoxes</span>
                        </a>
                        <ul class="px-nav-dropdown-menu">
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:myboxes:order-ask'}) }}">
                                    <i class="px-nav-icon ion-cube"></i>
                                    <span class="px-nav-label">Send Order</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:myboxes:order-ask</span>
                                </a>
                            </li>
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:myboxes:order-confirm'}) }}">
                                    <i class="px-nav-icon ion-cube"></i>
                                    <span class="px-nav-label">Receive Order</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:myboxes:order-confirm</span>
                                </a>
                            </li>
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:myboxes:stock-update'}) }}">
                                    <i class="px-nav-icon ion-cube"></i>
                                    <span class="px-nav-label">Receive Stock Update</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:myboxes:stock-update</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li  class="px-nav-item px-nav-dropdown">
                        <a href="#">
                            <i class="px-nav-icon ion-cube"></i>
                            <span class="px-nav-label">VEOLOG - StockEntry</span>
                            <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">Actions autour des Entrées de Stock</span>
                        </a>
                        <ul class="px-nav-dropdown-menu">
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:stock-entries-update'}) }}">
                                    <i class="px-nav-icon ion-cube"></i>
                                    <span class="px-nav-label">Send Stock Entry</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:stock-entries-update</span>
                                </a>
                            </li>
                            <li tabindex="-1" class="px-nav-item">
                                <a href="{{ path('admin_exec_command', {id: 'veolog:stock-entries-callback'}) }}">
                                    <i class="px-nav-icon ion-cube"></i>
                                    <span class="px-nav-label">Receive Stock Entry</span>
                                    <span style="font-size: 10px;display: block; padding-left: 20px;line-height: 10px;">veolog:stock-entries-callback</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
        {% endif %}



    </ul>
</nav>
