<div class="form-group relative-line">
    <div class="row">
        <label class="col-sm-2 control-label" for="stock_translations_fr_contact">{{ label|trans }}</label>
        <div class="col-sm-8">
            <p style="padding-top: 5px;">
                {% if entityAdmin is empty %}
                    {{ 'app.stock.no_contact_define'|trans }}
                {% else %}
                    {% for user in entityAdmin %}
                        {% set fullname = (user.firstname|e) ~ ' ' ~ (user.lastname|e) %}
                        {% if link is not empty %}
                            <a href="{{ path(link, {id: user.id, onglet: 'stocks'})}}">
                                {{ fullname }}
                            </a>
                        {% else %}
                            {{ fullname }}
                        {% endif %}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
</div>