{% form_theme form 'front/parts/form_theme.html.twig' %}

<div id="add-to-cart-form">
    {% include 'hub/product/partials/_stock_alone.html.twig' %}

    {% if app.session.get('current_project', null) %}

        {% if totalInCart > 0 %}
            {% if totalInCart > 1 %}
                {{ totalInCart }} produits présents dans votre panier
            {% else %}
                {{ totalInCart }} produit présent dans votre panier
            {% endif %}
        {% else %}
            <p id="product-actual-book">
                Produit non présent dans votre commande
            </p>
        {% endif %}
    {% endif %}

    <span class="product__message">
        <img class="svg svg-eye" src="{{ asset('assets/front/images/info.svg') }}" alt="">
        Toutes les bouteilles sont gérées à l'unité sauf les coffrets cadeaux et les caisses bois.
    </span>

    {% if not app.session.get('current_project', null)  %}


        <span class="product__message">
            <img class="svg svg-eye" src="{{ asset('assets/front/images/eye.svg') }}" alt="">

            Vous êtes actuellement en mode consultation de catalogue, créez une commande pour réserver des produits
        </span>

        <a href="{{ path('project_create') }}" class="btn btn--dark">
            <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">

            <span>Commande standard</span>
        </a>

        <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_URGENCY")}) }}" class="btn btn--grey-dark">
            <img class="svg" src="{{ asset('assets/front/images/package.svg') }}" alt="">

            <span>Commande urgente</span>
        </a>

        <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_SHUTTLE")}) }}" class="btn btn--white">
            <img class="svg" src="{{ asset('assets/front/images/delivery.svg') }}" alt="">

            <span>Commande navette 142</span>
        </a>

    {% elseif totalAvailable is not empty and totalAvailable > 0 %}
        {% if app.session.get('current_project', null).state != constant("App\\Entity\\Project::STATE_HUB_ACCEPTED_FIXED") %}
            {{ form_errors(form) }}
            <div class="form form--count form--error">
                {{ form_start(form, {'action': path('add_project_item', {'productId': product.id}), 'attr': {'novalidate': 'novalidate', 'id': 'add-to-cart'}}) }}
                    <div class="form__body">

                        {% if project is defined and (project.state in constant("App\\Entity\\Project::STATE_EDITABLE")) %}

                            <ul class="list-count jsCounter">
                                <li class="minus">
                                    <a href="#" class="qty-less">
                                        <img class="svg" src="{{ asset('assets/shop/images/minus.svg') }}" alt="">
                                    </a>
                                </li>
                                <li class="result">
                                    {{ form_widget(form.quantity) }}
                                </li>
                                <li class="plus">
                                    <a href="#" class="qty-more">
                                        <img class="svg" src="{{ asset('assets/shop/images/plus.svg') }}" alt="">
                                    </a>
                                </li>
                            </ul><!-- /.list-count -->


                            <button type="submit" class="btn form__btn">
                                <img class="svg" src="{{ asset('assets/shop/images/basket.svg') }}" alt="">
                                <span>{{ 'sylius.ui.add_to_cart'|trans }}</span>
                            </button>
                        {% else %}
                            <p>Votre commande n'est plus modifiable</p>
                        {% endif %}
                    </div><!-- /.form__body -->
                    {{ form_row(form._token) }}
                <div class="form__foot">
                    {{ form_errors(form.quantity) }}

                </div>

                {{ form_end(form, {'render_rest': false}) }}
            </div><!-- /.form -->
        {% endif %}
    {% endif %}
</div>


