<div class="message-wrapper visible">
    <div class="message message--alt">
        <div class="container">
            <div class="message__inner">
                <div class="message__content">
                    <p>
                        <img class="svg" src="{{ asset('assets/shop/images/basket.svg') }}" alt="">
                        <span>{{ 'sylius.cart.add_product_success'|trans() }} !</span>
                    </p>
                </div><!-- /.message__content -->
                <div class="message__aside">
                    <a href="{{ path('project_summary') }}" class="btn  btn--dark">
                        <span>{{ 'sylius.cart.see_my_cart'|trans() }}</span>
                    </a>
                </div><!-- /.message__actions -->
            </div><!-- /.message__inner -->
            <a href="#" class="message__close jsMessageClose">
                <img class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="">
            </a><!-- /.message__close -->
        </div><!-- /.container -->
    </div><!-- /.message -->
</div><!-- message-wrapper -->