<div class="product">
    <a href="{{ path('product_view', {'slug': product.translate('fr').slug}) }}" class="product__image" style="background-image: url({% include 'front/images/_mainImage.html.twig' with {'product': product, 'filter': 'hennessy_product_box', 'only_path': true} %});">
    </a>
    <div class="product__content">
        <h4>
            <a href="{{ path('product_view', {'slug': product.translate('fr').slug}) }}">
                {{ product.translate('fr').name }}
            </a>
        </h4>
        <p>{{ product.translate('fr').material }}</p>

        {% include "hub/product/partials/_stock.html.twig" with {similar: true} %}
    </div><!-- /.product__content -->
</div><!-- /.product -->