
{% if project %}


    <a href="{{ path('project_summary') }}" class="cart">
        <div class="cart__content">
            <span class="cart__items" id="cart-quantity">{{ project.getTotalQuantity() }}</span>
            <img class="svg" src="{{ asset('assets/shop/images/basket.svg') }}" alt="" />

            <strong>Mon panier commande</strong>
        </div><!-- /.cart__content -->
    </a><!-- /.cart -->

{% endif %}