<h2>{{ product.translate('fr').name }}</h2>
{% if product.translate('fr').brand is not empty %}<span class="product__meta">{{ product.translate('fr').brand.name }}</span>{% endif %}
<p>
    {% if product.translate('fr').description is not empty %}
        {{ product.translate('fr').description|nl2br }}
    {% else %}
        Aucune description disponible.
    {% endif %}
</p>
