<div class="product__image">
  <ul class="product__image-list jsProductGallery">
    {% set first_path = '//placehold.it/500x500' %}

    {% if product.images is defined %}
      {% for image in product.images %}
        {% if image.path is not null %}
          {% set source_path = image.path %}
          {% set original_path = source_path|imagine_filter('hennessy_product_main') %}
          {% set path = source_path|imagine_filter(filter|default('hennessy_product_slider')) %}
        {% else %}
          {% set original_path = '//placehold.it/500x500' %}
          {% set path = '//placehold.it/80x80' %}
        {% endif %}


        <li {% if loop.index == 1 %}class="current"{% endif %}>
          <a href="#" data-image-small="{{ path }}" data-image-large="{{ original_path }}"></a>
        </li>


        {% if loop.index == 1 %}
          {% set first_path = original_path %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul><!-- /.product__image-list -->

    <div class="product__image-main"
         style="
                 background-image: url({{ first_path }});
         ">

        <span class="product__block" style="{% if product.translate('fr').state == "new" %}background-color: #2c455b;{% else %}background-color: #b08067;{% endif %}">
            {% if product.translate('fr').state == "new" %}
                <img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="">
            {% else %}
                <img class="svg" src="{{ asset('assets/front/images/info.svg') }}" alt="">
            {% endif %}

            <span>{% if product.translate('fr').state == "new" %}{{ 'app.product.states.new'|trans }}{% else %}{{ 'app.product.states.out_of_use'|trans }}{% endif %}</span>
        </span>
    </div><!-- /.product__image-main -->

</div><!-- /.product__image -->
