{% if totalAvailable is not empty  %}
    <span class="product__stock {% if totalAvailable <= 0 %}error{% endif %}">
        {% if totalAvailable > 0 %}
            <span class="product__stock_available">{{ totalAvailable }}</span>&nbsp;disponibles en stock
        {% else %}
            <span style="color: red">Indisponible</span>
        {% endif %}
    </span>
{% elseif total115Available is not empty  %}
    <span class="product__stock product__stock--no-border {% if total115Available <= 0 %}error{% endif %}" style="padding-bottom: 0px;">
        {% if total115Available > 0 %}
            <img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="">
            {{ total115Available }} disponibles en stock {{ 'app.cave.front.at_cave_115'|trans }}
        {% else %}
            <img class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="">
            <span style="color: red">Indisponible {{ 'app.cave.front.at_cave_115'|trans }}</span>
        {% endif %}
    </span>
{% elseif totalPantinAvailable is not empty  %}
    <span class="product__stock {% if totalPantinAvailable <= 0 %}error{% endif %}">
        {% if totalPantinAvailable > 0 %}
            <img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="">
            {{ totalPantinAvailable }} disponibles en stock {{ 'app.cave.front.at_cave_pantin'|trans }}
        {% else %}
            <img class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="">
            <span style="color: red">Indisponible {{ 'app.cave.front.at_cave_pantin'|trans }}</span>
        {% endif %}
    </span>
{% else %}
{% endif %}
