{% if totalWithHolds is iterable or totalWithHolds is not empty   %}
    {% set num = 0 %}
    {% for total in totalWithHolds if total['id'] == product.id %}
        {% set num = total['total'] %}
    {% endfor %}

    <span class="product__stock  {% if num <= 0 %}error{% endif %}">
        {% if num > 0 %}
            <img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="">
            {{ num }} disponibles en stock
        {% else %}
            <img class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="">
            <span style="color: red">Indisponible</span>
        {% endif %}
    </span>
{% elseif total115WithHolds is not empty  %}
    {% set num115 = 0 %}
    {% for total in total115WithHolds if total['id'] == product.id %}
        {% set num115 = total['total'] %}
    {% endfor %}

    <span class="product__stock  {% if num115 <= 0 %}error{% endif %}" style="{% if similar is defined and  similar %}bottom: 22px;{% else %}bottom: 30px;{% endif %}">
        {% if num115 > 0 %}
            <img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="">
            {{ num115 }} disponibles en stock {{ 'app.cave.front.at_cave_115'|trans }}
        {% else %}
            <img class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="">
            <span style="color: red">Indisponible {{ 'app.cave.front.at_cave_115'|trans }}</span>
        {% endif %}
    </span>
{% elseif totalPantinWithHolds is not empty  %}
    {% set numPantin = 0 %}
    {% for total in totalPantinWithHolds if total['id'] == product.id %}
        {% set numPantin = total['total'] %}
    {% endfor %}

    <span class="product__stock {% if numPantin <= 0 %}error{% endif %}">
        {% if numPantin > 0 %}
            <img class="svg" src="{{ asset('assets/front/images/check.svg') }}" alt="">
            {{ numPantin }} disponibles en stock {{ 'app.cave.front.at_cave_pantin'|trans }}
        {% else %}
            <img class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="">
            <span style="color: red">Indisponible {{ 'app.cave.front.at_cave_pantin'|trans }}</span>
        {% endif %}
    </span>
{% else %}
{% endif %}
