
<section class="section-details">
    <div class="container">
        <div class="section__head">
            <h3>Détails du produit</h3>
        </div><!-- /.section__head -->

        <div class="section__body">
            <ul class="list-details">

              {% if product.translate(askLocale).code %}
                <li>
                  <span>{{ 'app.product.code'|trans }}</span>
                  <span>{{ product.translate(askLocale).code }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).categories|length > 0 %}
                <li>
                  <span>{{ 'app.product.categories'|trans }}</span>
                  <span>
                    {% for categorie in product.translate(askLocale).categories %}
                      {{ categorie.name }}
                      {% if not loop.last %},{% endif %}
                    {% endfor %}
                  </span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).unitConditioning %}
                <li>
                  <span>{{ 'app.product.unit_conditioning'|trans }}</span>
                  <span>{{ product.translate(askLocale).unitConditioning }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).eanPart %}
                <li>
                  <span>{{ 'app.product.ean_part'|trans }}</span>
                  <span>{{ product.translate(askLocale).eanPart }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).valorization %}
                <li>
                  <span>{{ 'app.product.valorization'|trans }}</span>
                  <span>{{ product.translate(askLocale).valorization }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).customsNomenclature %}
                <li>
                  <span>{{ 'app.product.customs_nomenclature'|trans }}</span>
                  <span>{{ product.translate(askLocale).customsNomenclature }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).totalUnitsByBox %}
                <li>
                  <span>{{ 'app.product.total_units_by_box'|trans }}</span>
                  <span>{{ product.translate(askLocale).totalUnitsByBox }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).eanBox %}
                <li>
                  <span>{{ 'app.product.ean_box'|trans }}</span>
                  <span>{{ product.translate(askLocale).eanBox }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).weightBox %}
                <li>
                  <span>{{ 'app.product.weight_box'|trans }}</span>
                  <span>{{ product.translate(askLocale).weightBox }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).widthBox %}
                <li>
                  <span>{{ 'app.product.width_box'|trans }}</span>
                  <span>{{ product.translate(askLocale).widthBox }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).heightBox %}
                <li>
                  <span>{{ 'app.product.height_box'|trans }}</span>
                  <span>{{ product.translate(askLocale).heightBox }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).depthBox %}
                <li>
                  <span>{{ 'app.product.depth_box'|trans }}</span>
                  <span>{{ product.translate(askLocale).depthBox }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).otherInformation %}
                <li>
                  <span>{{ 'app.product.other_information'|trans }}</span>
                  <span>{{ product.translate(askLocale).otherInformation }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).brand %}
                <li>
                  <span>{{ 'app.product.brand'|trans }}</span>
                  <span>{{ product.translate(askLocale).brand.name }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).color %}
                <li>
                  <span>{{ 'app.product.color'|trans }}</span>
                  <span>{{ product.translate(askLocale).color }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).degreeAlcohol %}
                <li>
                  <span>{{ 'app.product.degree_alcohol'|trans }}</span>
                  <span>{{ product.translate(askLocale).degreeAlcohol }}</span>
                </li>
              {% endif %}
            </ul><!-- /.list-details -->

            <ul class="list-details">
              {% if product.translate(askLocale).weight %}
                <li>
                  <span>{{ 'app.product.weight'|trans }}</span>
                  <span>{{ product.translate(askLocale).weight }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).width %}
                <li>
                  <span>{{ 'app.product.width'|trans }}</span>
                  <span>{{ product.translate(askLocale).width }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).height %}
                <li>
                  <span>{{ 'app.product.height'|trans }}</span>
                  <span>{{ product.translate(askLocale).height }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).depth %}
                <li>
                  <span>{{ 'app.product.depth'|trans }}</span>
                  <span>{{ product.translate(askLocale).depth }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).state %}
                <li>
                  <span>{{ 'app.product.state'|trans }}</span>
                  <span>{{ ('app.product.states.' ~ product.translate(askLocale).state)|trans }}</span>
                </li>
              {% endif %}

                <li>
                  <span>{{ 'app.product.is_fragile'|trans }}</span>
                  <span>{% include '@Admin/partials/enabled.html.twig' with {'data': product.translate(askLocale).isFragile} %}</span>
                </li>

                <li>
                  <span>{{ 'app.product.is_expendable'|trans }}</span>
                  <span>{% include '@Admin/partials/enabled.html.twig' with {'data': product.translate(askLocale).isExpendable} %}</span>
                </li>

                <li>
                  <span>{{ 'app.product.crd'|trans }}</span>
                  <span>{% include '@Admin/partials/enabled.html.twig' with {'data': product.translate(askLocale).crd} %}</span>
                </li>

              {% if product.translate(askLocale).country %}
                <li>
                  <span>{{ 'app.product.country'|trans }}</span>
                  <span>{{ product.translate(askLocale).country }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).litrageBottle %}
                <li>
                  <span>{{ 'app.product.litrage_bottle'|trans }}</span>
                  <span>{{ product.translate(askLocale).litrageBottle }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).designationBottle %}
                <li>
                  <span>{{ 'app.product.designation_bottle'|trans }}</span>
                  <span>{{ product.translate(askLocale).designationBottle }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).vintage %}
                <li>
                  <span>{{ 'app.product.vintage'|trans }}</span>
                  <span>{{ product.translate(askLocale).vintage }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).wineColor %}
                <li>
                  <span>{{ 'app.product.wine_color'|trans }}</span>
                  <span>{{ product.translate(askLocale).wineColor }}</span>
                </li>
              {% endif %}

              {% if product.translate(askLocale).wineCategory %}
                <li>
                  <span>{{ 'app.product.wine_category'|trans }}</span>
                  <span>{{ product.translate(askLocale).wineCategory }}</span>
                </li>
              {% endif %}

                <li>
                  <span>{{ 'app.product.is_effervescent'|trans }}</span>
                  <span>{% include '@Admin/partials/enabled.html.twig' with {'data': product.translate(askLocale).isEffervescent} %}</span>
                </li>
            </ul><!-- /.list-details -->
        </div><!-- /.section__body -->
    </div><!-- /.container -->
</section><!-- /.section-details -->
