
{% if stocks|length > 0 %}
    <ul>
        {% for stock in stocks if app.session.get('current_stock') is empty or app.session.get('current_stock').id != stock.id  %}

            <li>
                <a style="font-size: 13px;" href="{{ path('change_stock', {id: stock.id}) }}">{{ stock.translate(app.request.locale).name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}