

{% if app.session.get('current_stock') is not empty %}
    <a href="#" class="dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>{{ app.session.get('current_stock').translate(app.request.locale).name  }}</span>

        <img class="svg" src="{{ asset('assets/front/images/angle-up.svg') }}" alt="">
    </a>
{% endif %}

{% if stocks|length > 0 %}
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <ul>

            {% for stock in stocks if app.session.get('current_stock').id != stock.id  %}

                <li>
                    <a style="font-size: 13px;" href="{{ path('change_stock', {id: stock.id}) }}">{{ stock.translate(app.request.locale).name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div><!-- /.dropdown -->
{% endif %}