<li id="nav-examples" class="px-nav-item">
    <a href="{{ path('admin_example_list') }}">
        <i class="menu-icon px-nav-icon ion-ios-nutrition"></i>
        <span class="px-nav-label">Exemples</span>
        <span style="font-size: 10px;display: block;    padding-left: 20px;line-height: 10px;">Description</span>
    </a>
</li>