{% set preview =    form.vars.value is not empty
                and form.vars.value.cover is not empty
                and form.vars.value.cover.id is not empty
                    ? path('media_view', {'id': form.vars.value.cover.id })
                    : asset("assets/admin/images/pixel-admin/noimage.jpg") %}

<div class="preview__img" style="background-image: url({{ preview }});">
    <a href="#" class="js-remove-img preview__link">
        <svg width="15" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 18"><path fill="#fff" d="M14.98 1.95v3.406h-1.032L12.955 18H2.026L1.032 5.356H0V1.95h5.006V0h4.988v1.95zM6 1.93h3V.966H6zm6.955 3.408H2.045l.916 11.678h9.078zm1.052-2.423H.994v1.457h13.013zM9.75 7.5h.75V15h-.75zm-2.714 0h.75V15h-.75zM4.5 7.5h.75V15H4.5z"/></svg>
    </a>
    <div style="display:none;">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
</div><!-- /.preview__img -->
