
<tr class="row-member">
    <td>
        <div class="form__controls">
            {% if form.user.email.vars.value == app.user.email %}
                <p style="
    height: 53px;
    padding: 22px 30px 12px 0;margin: 0;font-weight: bold;
    border-bottom: 1px solid rgba(44, 69, 91, 0.3);
    font-size: 16px;">{{ form.user.email.vars.value }}</p>
                <div style="display: none">
                    {{ form_widget(form.user.email, {'attr' : {'class': 'field '}}) }}
                    {{ form_errors(form.user.email) }}
                </div>
            {% else %}
                {{ form_widget(form.user.email, {'attr' : {'class': 'field select2-user-email', 'autocomplete': "off"}}) }}
                {{ form_errors(form.user.email) }}
            {% endif %}
        </div>
    </td>
    <td>

        {% if form.user.email.vars.value != app.user.email %}

            <ul class="list-icons list-icons--alt">
                <li>
                    <a href="#" class="remove-member">
                        <img class="svg" src="{{ asset('assets/myboxes/images/trash.svg') }}" alt="">
                    </a>
                </li>
            </ul><!-- /.list-icons -->
        {% endif %}
    </td>
</tr>
