{% use "form_div_layout.html.twig" %}

{# Widgets #}
{% block datetime_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) -%}
        {% set valid = true %}
    {%- endif -%}
    {{- parent() -}}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) -%}
        {% set valid = true %}
    {%- endif -%}
    {{- parent() -}}
    <img class="svg" src="{{ asset('assets/shop/images/calendar.svg') }}" alt="calendar">
{%- endblock date_widget %}

{% block time_widget -%}
    <div class="select">
        {{- parent() -}}
        {% include 'front/parts/_select_hours.html.twig' with {'id': form.vars.id} %}
    </div>
    <img class="svg" src="{{ asset('assets/shop/images/clock.svg') }}" alt="clock">
{%- endblock time_widget %}

{% block form_widget_simple -%}
    {% if type is not defined or type != 'hidden' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ (type|default('') == 'file' ? ' custom-file-input' : ''))|trim}) -%}
    {% endif %}
    {%- if type is defined and (type == 'range' or type == 'color') %}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block widget_attributes -%}
    {%- if not valid %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) %}
    {% endif -%}
    {{ parent() }}
{%- endblock widget_attributes -%}


{% block checkbox_widget -%}
    <div class="checkbox{% if form_checkbox_white %} white{% endif %}" {% if not form_checkbox_white %}style="margin-top: 15px;"{% endif %}>
        {{ parent() }}
        {{- form_label(form, null, { widget: parent() }) -}}
    </div>
{%- endblock checkbox_widget %}

{# Labels #}
{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- set label_attr = label_attr|merge({for: id}) -%}
        {% if not form_checkbox %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form__label')|trim}) %}
        {% endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}{% if required -%} *{% endif %}</{{ element|default('label') }}>
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label %}


{# Rows #}
{% block form_row -%}
    {% set class_container_input = '' %}
    {% if form_date %}
        {% set class_container_input = ' datepicker-wrapper' %}
    {% elseif form_textarea %}
        {% set class_container_input = ' form__controls--textarea' %}
    {% endif %}
    {%- set widget_attr = {} -%}
    <div class="form__row{% if form_md %} form__row--md{% endif %}{% if form_focus_label %} jsFocusLabel{% if form.vars.value is not empty %} filled{% endif %}{% endif %}">
        {% if not form_checkbox %}
            {{- form_label(form) -}}
        {% endif %}
        <div class="form__controls{% if readonly %} disabled{% endif %} {{ class_container_input }} {% if errors|length > 0 -%}error{% endif %}">
            {{- form_widget(form, widget_attr) -}}
            {% if form_icon %}
                <img class="svg" src="{{ asset('assets/shop/images/' ~ form_icon) }}" alt="{{ form_icon }}">
            {% endif %}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{# Errors #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="form__error">
                {{ error.message }}
            </p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}
