{% set menuActive = 'report-mybox' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle 'Rapports MyBoxes' %}


{%  block options %}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-12 col-sm-12 search-zone">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="">Statistiques Fixes</h3>
                </div>
            </div>
        </div>

        <div class="col-md-12 m-b-2 col-sm-12">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div class="table-disko" style="max-height: 700px;">
                                <h6 style="margin: 0 0 10px 0;text-align: center">Top 15 : boxes</h6>

                                <form action="{{ path('admin_myBoxes_report_top_ajax') }}" class="form-horizontal form-bordered form-ajax-top-user" method="get" enctype="multipart/form-data" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group relative-line">
                                                <input type="text" name="search" class="form-control" value="" style="display: inline-block;width:50%" placeholder="Rechercher un email"/>
                                                <button class="btn btn-info" style="display: inline-block;position: relative; top: -2px;">
                                                    Rechercher
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="table-ajax-top-user">
                                    {% include "@Admin/Report/MyBoxes/partials/table-top-user.html.twig" %}
                                </div>

                                <script>

                                    var xhrTop = null;
                                    $('.form-ajax-top-user').submit(function(e){
                                        e.preventDefault();
                                        if (xhrTop !== null) {
                                            xhrTop.abort();
                                        }

                                        $('.table-ajax-top-user').css('opacity', 0.5);
                                        xhrTop = $.ajax({
                                            url: $(this).attr('action'),
                                            method: 'get',
                                            data:  $(this).serialize()
                                        }).done(function(data) {
                                            $('.table-ajax-top-user').html(data);
                                        }).always(function(){
                                            $('.table-ajax-top-user').css('opacity', 1);
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div class="table-disko">
                                <h6 style="margin: 0 0 10px 0;text-align: center">Top 15 : boxes dormantes</h6>

                                <form action="{{ path('admin_myBoxes_report_sleep_box_ajax') }}" class="form-horizontal form-bordered form-ajax-sleep-box" method="get" enctype="multipart/form-data" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group relative-line">
                                                <input type="text" name="search" class="form-control" value="" style="display: inline-block;width:50%" placeholder="Rechercher un code barre"/>
                                                <button class="btn btn-info" style="display: inline-block;position: relative; top: -2px;">
                                                    Rechercher
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="table-ajax-sleep-box">
                                    {% include "@Admin/Report/MyBoxes/partials/table-sleep-box.html.twig" %}
                                </div>

                                <script>

                                    var xhrSleepBox = null;
                                    $('.form-ajax-sleep-box').submit(function(e){
                                        e.preventDefault();
                                        if (xhrSleepBox !== null) {
                                            xhrSleepBox.abort();
                                        }

                                        $('.table-ajax-sleep-box').css('opacity', 0.5);
                                        xhrSleepBox = $.ajax({
                                            url: $(this).attr('action'),
                                            method: 'get',
                                            data:  $(this).serialize()
                                        }).done(function(data) {
                                            $('.table-ajax-sleep-box').html(data);
                                        }).always(function(){
                                            $('.table-ajax-sleep-box').css('opacity', 1);
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 search-zone">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="">Statistiques dans le temps</h3>
                </div>
            </div>
        </div>

        <div class="col-md-12 m-b-2 col-sm-12 search-zone">
            <div class="row" style="margin: 5% 0 5% 0;">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">
                            {% include "@Admin/Report/MyBoxes/partials/searchList.html.twig" %}
                        </div>

                    </div>
                </div>

            </div>
        </div>





        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChart" style="display: block; height: 800px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config = {
                                    type: 'pie',
                                    data: {
                                        datasets: [
                                            {
                                            backgroundColor: [
                                                'rgb(54, 162, 235)',
                                                'rgb(75, 192, 192)'
                                            ],
                                            data: [
                                                {{ nbBoxAlone }},
                                                {{ nbBoxTeam }},
                                            ],
                                            fill: false,
                                        }],
                                        labels: [
                                            'Personnelle',
                                            'Team'
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Nombre de boxes expédiées par Veolog sur la période par utilisation'
                                        },
                                    }
                                };


                            </script>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div style="width: 100%;">
                                <canvas id="myChart2" style="display: block; height: 800px; width: 926px;"></canvas>
                            </div>
                            <script>

                                var config2 = {
                                    type: 'pie',
                                    data: {
                                        datasets: [
                                            {
                                                backgroundColor: [
                                                    'rgb(255, 205, 86)', // 40
                                                    'rgb(255, 99, 132)', // 55
                                                    'rgb(54, 162, 235)' // 72
                                                ],
                                                data: [
                                                    {% set nb = 0 %}
                                                    {% for type in nbBoxTypes %}
                                                        {% if type.type == "BOX_40L_001" %}
                                                            {% set nb = type.cpt %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {{ nb }},

                                                    {% set nb = 0 %}
                                                    {% for type in nbBoxTypes %}
                                                    {% if type.type == "BOX_55L_001" %}
                                                    {% set nb = type.cpt %}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {{ nb }},

                                                    {% set nb = 0 %}
                                                    {% for type in nbBoxTypes %}
                                                    {% if type.type == "BOX_72L_001" %}
                                                    {% set nb = type.cpt %}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {{ nb }},
                                                ],
                                                fill: false,
                                            }],
                                        labels: [
                                            ' 40L ',
                                            ' 55L ',
                                            ' 72L '
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Nombre de boxes expédiées par Veolog sur la période par format\n' +
                                              '\n'
                                        },
                                    }
                                };


                            </script>
                        </div>

                    </div>
                </div>

              <div class="col-md-6 col-sm-12">
                <div class="panel panel-inverse">

                  <div class="panel-body">

                    <div style="width: 100%;">
                      <canvas id="myChart3" style="display: block; height: 800px; width: 926px;"></canvas>
                    </div>
                    <script>

                      var config3 = {
                        type: 'pie',
                        data: {
                          datasets: [
                            {
                              backgroundColor: [
                                'rgb(54, 162, 235)',
                                'rgb(75, 192, 192)'
                              ],
                              data: [
                                {{ nbBoxAloneNoState }},
                                {{ nbBoxTeamNoState }},
                              ],
                              fill: false,
                            }],
                          labels: [
                            'Personnelle',
                            'Team'
                          ]
                        },
                        options: {
                          responsive: true,
                          title: {
                            display: true,
                            text: 'Nombre de boxes expédiées par Veolog par utilisation'
                          },
                        }
                      };


                    </script>
                  </div>

                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="panel panel-inverse">

                  <div class="panel-body">

                    <div style="width: 100%;">
                      <canvas id="myChart4" style="display: block; height: 800px; width: 926px;"></canvas>
                    </div>
                    <script>

                      var config4 = {
                        type: 'pie',
                        data: {
                          datasets: [
                            {
                              backgroundColor: [
                                'rgb(255, 205, 86)', // 40
                                'rgb(255, 99, 132)', // 55
                                'rgb(54, 162, 235)' // 72
                              ],
                              data: [
                                {% set nb = 0 %}
                                {% for type in nbBoxTypesNoState %}
                                {% if type.type == "BOX_40L_001" %}
                                {% set nb = type.cpt %}
                                {% endif %}
                                {% endfor %}
                                {{ nb }},

                                {% set nb = 0 %}
                                {% for type in nbBoxTypesNoState %}
                                {% if type.type == "BOX_55L_001" %}
                                {% set nb = type.cpt %}
                                {% endif %}
                                {% endfor %}
                                {{ nb }},

                                {% set nb = 0 %}
                                {% for type in nbBoxTypesNoState %}
                                {% if type.type == "BOX_72L_001" %}
                                {% set nb = type.cpt %}
                                {% endif %}
                                {% endfor %}
                                {{ nb }},
                              ],
                              fill: false,
                            }],
                          labels: [
                            ' 40L ',
                            ' 55L ',
                            ' 72L '
                          ]
                        },
                        options: {
                          responsive: true,
                          title: {
                            display: true,
                            text: 'Nombre de boxes expédiées par Veolog par format\n' +
                              '\n'
                          },
                        }
                      };


                    </script>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="panel panel-inverse">

                  <div class="panel-body">

                    <div class="table-disko">
                      <h6 style="margin: 0 0 10px 0;text-align: center">Delais avant expédition par Veolog (réel vs attendu)</h6>

                      <form action="{{ path('admin_myHub_report_top_delay_ajax') }}" class="form-horizontal form-bordered form-ajax-movement-box" method="get" enctype="multipart/form-data" novalidate>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group relative-line">
                              <input type="hidden" name="searchdatestart" class="searchdatestart" value="">
                              <input type="hidden" name="searchdateend" class="searchdateend" value="">
                              <input type="text" name="search" class="form-control" value="" style="display: inline-block;width:50%" placeholder="Rechercher un nom / email / type"/>
                              <button class="btn btn-info" style="display: inline-block;position: relative; top: -2px;">
                                Rechercher
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>

                      <div class="table-ajax-top-delay">
                        {% include "@Admin/Report/MyBoxes/partials/table-top-delay.html.twig" %}
                      </div>

                      <script>

                        var xhrTopDelay = null;
                        $('.form-ajax-movement-box').submit(function(e){
                          e.preventDefault();
                          if (xhrTopDelay !== null) {
                            xhrTopDelay.abort();
                          }

                          $(this).find('.searchdatestart').val($('#search_start').val());
                          $(this).find('.searchdateend').val($('#search_end').val());
                          $('.table-ajax-top-delay').css('opacity', 0.5);
                          xhrTopDelay = $.ajax({
                            url: $(this).attr('action'),
                            method: 'get',
                            data:  $(this).serialize()
                          }).done(function(data) {
                            $('.table-ajax-top-delay').html(data);
                          }).always(function(){
                            $('.table-ajax-top-delay').css('opacity', 1);
                          });
                        });
                      </script>
                    </div>
                  </div>

                </div>
              </div>

                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div class="table-disko">
                                <h6 style="margin: 0 0 10px 0;text-align: center">Top boxes en mouvement</h6>

                                <form action="{{ path('admin_myBoxes_report_movement_box_ajax') }}" class="form-horizontal form-bordered form-ajax-movement-box" method="get" enctype="multipart/form-data" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group relative-line">
                                                <input type="hidden" name="searchdatestart" class="searchdatestart" value="">
                                                <input type="hidden" name="searchdateend" class="searchdateend" value="">
                                                <input type="text" name="searchmovement" class="form-control" value="" style="display: inline-block;width:50%" placeholder="Rechercher un code barre / email"/>
                                                <button class="btn btn-info" style="display: inline-block;position: relative; top: -2px;">
                                                    Rechercher
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="table-ajax-movement-box">
                                    {% include "@Admin/Report/MyBoxes/partials/table-movement-box.html.twig" %}
                                </div>

                                <script>

                                    var xhrMovementBox = null;
                                    $('.form-ajax-movement-box').submit(function(e){
                                        e.preventDefault();
                                        if (xhrMovementBox !== null) {
                                            xhrMovementBox.abort();
                                        }

                                        $(this).find('.searchdatestart').val($('#search_start').val());
                                        $(this).find('.searchdateend').val($('#search_end').val());
                                        $('.table-ajax-movement-box').css('opacity', 0.5);
                                        xhrMovementBox = $.ajax({
                                            url: $(this).attr('action'),
                                            method: 'get',
                                            data:  $(this).serialize()
                                        }).done(function(data) {
                                            $('.table-ajax-movement-box').html(data);
                                        }).always(function(){
                                            $('.table-ajax-movement-box').css('opacity', 1);
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">

                            <div class="table-disko">
                                <br>
                                <h6 style="margin: 0 0 10px 0;text-align: center">Durée de stockage des boxes au 142</h6>

                                {# <form action="{{ path('admin_myBoxes_report_movement_box_ajax') }}" class="form-horizontal form-bordered form-ajax-movement-box" method="get" enctype="multipart/form-data" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group relative-line">
                                                <input type="hidden" name="searchdatestart" class="searchdatestart" value="">
                                                <input type="hidden" name="searchdateend" class="searchdateend" value="">
                                                <input type="text" name="searchmovement" class="form-control" value="" style="display: inline-block;width:50%" placeholder="Rechercher un code barre / email"/>
                                                <button class="btn btn-info" style="display: inline-block;position: relative; top: -2px;">
                                                    Rechercher
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form> #}

                                <div class="table-ajax-storage-delay">
                                    {% include "@Admin/Report/MyBoxes/partials/table-storage-delay-box.html.twig" %}
                                </div>

                                <script>

                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        window.onload = function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            window.myLine = new Chart(ctx, config);
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            window.myLine = new Chart(ctx2, config2);

            var ctx3 = document.getElementById('myChart3').getContext('2d');
            window.myLine = new Chart(ctx3, config3);
            var ctx4 = document.getElementById('myChart4').getContext('2d');
            window.myLine = new Chart(ctx4, config4);
        };
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
