{% set menuActive = 'custom-error-pages' %}
{% extends "@Admin/layout.html.twig" %}

{% block mainTitle "Pages d'erreurs" %}


{%  block options %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 m-b-2 col-sm-12">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">

                        <div class="panel-body">


                            <p>Liste des pages d'erreurs customisées :</p>

                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <td style="text-align: center;vertical-align: middle">Error <b>404</b></td>
                                    <td style="vertical-align: middle">Ressource non trouvée.</td>
                                    <td style="text-align: center;vertical-align: middle">
                                        <a href="{{ path('_twig_error_test', {code: 404}) }}" class="btn btn-info" target="_blank">Simuler la page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: middle">Error <b>500</b></td>
                                    <td style="vertical-align: middle">Erreur interne du serveur.</td>
                                    <td style="text-align: center;vertical-align: middle">
                                        <a href="{{ path('_twig_error_test', {code: 500}) }}" class="btn btn-info" target="_blank">Simuler la page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: middle">Error <b>503</b></td>
                                    <td style="vertical-align: middle">Service temporairement indisponible ou en maintenance.</td>
                                    <td style="text-align: center;vertical-align: middle">
                                        <a href="{{ path('_twig_error_test', {code: 503}) }}" class="btn btn-info" target="_blank">Simuler la page</a>
                                    </td>
                                </tr>
                            </table>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
