{% extends 'front/layout.html.twig' %}

{% form_theme form 'front/parts/form_theme.html.twig' %}


{% block content %}

    <div class="intro intro--alt">
        <div class="container">
            <div class="intro__inner fadein" style="padding: 60px;">
                <div class="intro__content"  style="padding: 0px;">
                    <div class="form">
                        <div class="form__head">
                            <h1>CRÉATION DE PROJET</h1>
                        </div><!-- /.form__head -->

                        {% include "front/project/partials/form.html.twig" with {edit: false} %}

                    </div><!-- /.form -->
                </div><!-- /.intro__content -->
                <div class="intro__bottom" style="position: initial;margin-top: 20px;">
                    <span>* Champs obligatoires</span>
                </div><!-- /.intro__bottom -->
            </div><!-- /.intro__inner -->
        </div><!-- /.container -->
    </div><!-- /.intro -->
{% endblock %}

{% block footer %}
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    {% include "front/project/partials/scripts.html.twig" %}

    <script>
        var alreadySubmit = false;
        $('body').on('submit', '#project-create', function(e){

            if (!alreadySubmit)
            {
                alreadySubmit = true;
                e.preventDefault();

                {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
                    var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_CLASSIC') }};
                    var messagecutoff = "Les commandes passées après 17h pour une livraison à J+1 seront livrées au maximum à J+2 avant midi. Voulez-vous confirmer votre création de projet ?";
                {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
                    var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_EMERGENCY') }};
                    var messagecutoff = "Les commandes passées après 16h pour une livraison urgente seront livrées à J+1. Voulez-vous confirmer votre création de projet ?";
                {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
                    var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_SHUTTLE') }};
                    var messagecutoff = "Les commandes navette 142 passées après 10h ne sont plus prises en compte pour aujourd'hui, vous serez livré à J+1. Voulez-vous confirmer votre création de projet ?";
                {% endif %}

                var today = new Date();
                var hours = today.getHours();
                var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();

                var startDate = $('#project_dateStart').val();

                if (startDate == date && hours >= timecutoff)
                {
                    if (confirm(messagecutoff))
                    {
                        $(this).submit();
                    }
                }
                else
                {
                    $(this).submit();
                }

                alreadySubmit = false;
            }
        });
    </script>
{% endblock %}