{% extends 'front/layout.html.twig' %}



{% block content %}
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__content">
                    <div class="intro__entry">
                        <h1>
                            Bienvenue sur<br><strong>Hub 142</strong>
                        </h1>
                        <h3>VOTRE OUTIL DE CRÉATION D’ÉVÈNEMENTS</h3>
                        <p>Réservez le mobilier, les accessoires, ou encore les équipements dont vous avez besoin pour votre évènement Hennessy, grâce à E-Stock.</p>

                        <div>
                            <a href="{{ path('project_create') }}" class="btn">
                                <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="papers" />
                                <span>Créer un projet</span>
                            </a>
                        </div>
                        <div>
                            <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_URGENCY")}) }}" class="btn">
                                <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="papers" />
                                <span>Créer un projet urgent</span>
                            </a>
                        </div>
                        <div>
                            <a href="{{ path('project_create', {'type': constant("App\\Entity\\Project::TYPE_SHUTTLE")}) }}" class="btn">
                                <img class="svg" src="{{ asset('assets/shop/images/papers.svg') }}" alt="papers" />
                                <span>Créer un projet navette 142</span>
                            </a>
                        </div>
                        <br />
                        <a href="{{ path('catalog') }}" class="link-more">
                            <em>ou</em><span>Consulter le catalogue</span>
                        </a>
                    </div><!-- /.intro__entry -->
                </div><!-- /.intro__content -->
                <div class="intro__bottom">
                    <a href="{{ asset('pdf/e-stock-notice-explicative.pdf') }}" target="_blank">
                        <img class="svg" src="{{ asset('assets/shop/images/questionmark.svg') }}" alt="questionmark" />
                        <span>Première visite ? Découvrez comment ça marche.</span>
                    </a>
                </div><!-- /.intro__bottom -->
            </div><!-- /.intro__inner -->
            {% include 'front/parts/images_homepage.html.twig' with {'medium': false} %}
        </div><!-- /.container -->
    </div><!-- /.intro -->
{% endblock %}

{% block footer %}
{% endblock %}