{% extends 'front/layout.html.twig' %}

{% set header = 'Mon panier projet' %}

{% block title %}{{ parent() }} | {{ header|trans }}{% endblock %}

{% block content %}

    {% if project %}
        {% include 'front/project/cart/_cart.html.twig' %}
    {% else %}
        {% include 'front/project/cart/_no_cart.html.twig' %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
        var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_CLASSIC') }};
        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_URGENCY") %}
        var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_EMERGENCY') }};
        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_SHUTTLE") %}
        var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_SHUTTLE') }};
        {% elseif form.vars.data.type == constant("App\\Entity\\Project::TYPE_BULK") %}
        var timecutoff = {{ constant('App\\Entity\\Project::CUTOFF_CLASSIC') }};
        {% endif %}

        var today = new Date();

        {% if form.vars.data.type == constant("App\\Entity\\Project::TYPE_BASIC") %}
            today.setDate(today.getDate()+1);
        {% endif %}

        var hours = today.getHours();
        var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();


        function parseDate(input) {
            var parts = input.match(/(\d+)/g);
            // note parts[1]-1
            return new Date(parts[2], parts[1]-1, parts[0]);
        }

        var startDate = "{{ form.vars.data.dateStart|date("d/m/Y", "Europe/Paris") }}";
        startDate = parseDate(startDate, "dd/mm/yyyy");
        startDate = startDate.getDate()+'/'+(startDate.getMonth()+1)+'/'+startDate.getFullYear();

        if (startDate == date && hours >= timecutoff)
        {
            $('.information-no-form').first().append("<p style='color: red'>Cutoff : Attention, vous avez dépassé l'heure limite de "+timecutoff+"h, votre commande sera livrée le lendemain si vous validez</p>");
        }
    </script>
{% endblock %}

{% block footer %}
{% endblock %}