
<footer class="footer" style="background-color: #2c455b">
    <div class="container">
        <a href="mailto:hub142@moethennessy.com" class="link link--white" style="color: white !important;margin: 0 30px;">
            Contact
        </a>
        <a href="{{ path('legal_mention') }}" class="link link--white" style="color: white !important;margin: 0 30px;">
            Mentions légales
        </a>
        <a href="{{ path('services') }}" class="link link--white" style="color: white !important;margin: 0 30px;">
            Informations prestations
        </a>
        <a href="{{ absolute_url('/pdf/aide-hub142.pdf') }}" target="_blank" class="link link--white" style="color: white !important;margin: 0 30px;">
            Aide
        </a>
    </div><!-- /.container -->
</footer><!-- /.footer -->