
<header class="header">
    <div class="container">
        <div class="navbar">
            <div class="navbar-left navbar-left--new">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('assets/myboxes/images/logo@2x.png') }}" alt="">
                </a>

                <ul class="list-links-alt d-none d-lg-block">
                    <li>
                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('assets/myboxes/images/house.svg') }}" alt="">
                        </a>
                    </li>

                    {% if is_granted('ROLE_GENERAL_ADMIN') or app.user.stocks|length > 0 %}
                        <li class="dropdown-header dropdown-header--alt {# active #}">
                            <a href="#" class="dropdown-toggle" id="my-hub" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('assets/myboxes/images/boxes.svg') }}" alt="" class="svg">

                                <span>
                                    {% if app.session.get('current_stock') is not empty %}
                                        {{ app.session.get('current_stock').translate(app.request.locale).name  }}
                                    {% else %}
                                        MyHub
                                    {% endif %}
                                </span>

                                <img class="svg" src="{{ asset('assets/myboxes/images/arrow-down.svg' ) }}" alt="">
                            </a>

                            <div class="dropdown-menu" aria-labelledby="my-hub">

                                {{ render(controller('App\\Controller\\Front\\StockController::choice', {}, { 'type': 'mb' })) }}

                            </div><!-- /.dropdown -->
                        </li>
                    {% endif %}

                    <li class="">
                        <a href="{{ path('myboxes_homepage') }}" class="c-green">
                            <img src="{{ asset('assets/myboxes/images/box.svg') }}" alt="">
                            <span>MyBoxes</span>
                        </a>
                    </li>
                </ul><!-- /.list-links-alt -->
            </div><!-- /.navbar-left -->

            <div class="navbar-right">
                <a href="{{ path('myboxes_toolbox') }}" style="text-decoration: none;" class="navbar-toggler navbar-toggler--small d-none d-lg-flex">
                    <img class="svg" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                    <strong class="hidden-xs">Toolbox</strong>
                </a>

                {% if app.session.get('current_project') is not empty %}
                    <a href="{{ path('project_summary') }}" class="cart">
                        <div class="cart__content">
                            <span class="cart__items">{{ app.session.get('current_project').getTotalQuantity() }}</span>
                            <img class="svg" src="{{ asset('assets/myboxes/images/basket.svg') }}" alt="" />
                            <strong>Mon panier</strong>
                        </div><!-- /.cart__content -->
                    </a><!-- /.cart -->
                {% endif %}

                <button class="navbar-toggler navbar-border-left" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="svg" src="{{ asset('assets/myboxes/images/profile.svg') }}" alt="">

                    <strong class="hidden-xs">
                        Mon compte
                        <div style="font-size: 10px;">{{ app.user.email }}</div>
                    </strong>

                    <img class="svg hidden-xs" src="{{ asset('assets/myboxes/images/angle-down.svg') }}" alt="">
                </button>
            </div><!-- /.navbar-right -->
        </div><!-- /.navbar -->
    </div><!-- /.container -->
</header><!-- /.header -->



<div class="navbar">
    <button class="hidden navbar-toggler navbar-border-left" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
        <img class="svg" src="{{ asset('assets/myboxes/images/profile.svg') }}" alt="">

        <strong class="hidden-xs">Mon compte
            <div style="font-size: 10px;">{{ app.user.email }}</div>
        </strong>

        <img class="svg hidden-xs" src="{{ asset('assets/myboxes/images/angle-down.svg') }}" alt="">
    </button>

    <div class="navbar-collapse navbar-profile collapse">
        <ul class="navbar-nav">
            <li>
                <a href="{{ path('homepage') }}" class="navbar-brand hidden-sm hidden-md hidden-lg">
                    <img src="{{ asset('assets/myboxes/images/logo@2x.png') }}" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="svg hidden-xs" src="{{ asset('assets/myboxes/images/profile.svg') }}" alt="">
                    <strong class="hidden-xs">Mon compte
                        <div style="font-size: 10px;">{{ app.user.email }}</div>
                    </strong>
                    <img class="svg hidden-xs" src="{{ asset('assets/myboxes/images/angle-up.svg') }}" alt="">
                    <img class="svg hidden-sm hidden-md hidden-lg" src="{{ asset('assets/myboxes/images/close.svg') }}" alt="">
                </button>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin_homepage') }}">
                        <img class="svg" src="{{ asset('assets/shop/images/edit.svg') }}" alt="" />
                        <span>Administration</span>
                    </a>
                </li>
            {% endif %}

            <li>
                <a href="{{ path('logout') }}">
                    <img class="svg" src="{{ asset('assets/myboxes/images/power.svg') }}" alt="">
                    <span>Déconnexion</span>
                </a>
            </li>

            {% if is_granted('ROLE_GENERAL_ADMIN') or app.user.stocks|length > 0 %}
                <li>
                    <a href="{{ path('account') }}">
                        <img class="svg" src="{{ asset('assets/myboxes/images/boxes.svg') }}" alt="">
                        <span>Mes commandes MyHub</span>
                    </a>
                </li>
            {% endif %}

            <li class="d-block d-lg-none">
                <a href="{{ path('myboxes_homepage') }}" class="c-green">
                    <img class="svg" src="{{ asset('assets/myboxes/images/box.svg') }}" alt="">
                    <span>MyBoxes</span>
                </a>
            </li>

            <li class="d-block d-lg-none">
                <a href="{{ path('myboxes_toolbox') }}">
                    <img class="svg" src="{{ asset('assets/myboxes/images/toolbox.svg') }}" alt="">
                    <span>Toolbox</span>
                </a>
            </li>

            <li class="d-block d-lg-none">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('assets/myboxes/images/house.svg') }}" alt="">
                </a>
            </li>
        </ul><!-- /.navbar-nav -->
    </div><!-- /.navbar-collapse -->
</div><!-- /.navbar -->

{% for message in app.flashes('flash_mb') %}
    <div class="message-wrapper message-wrapper--transparent visible">
        <div class="message message--default">
            <div class="container">
                <div class="message__inner">
                    <div class="message__content">
                        <div class="message__info">
                            <span style="color: #D89D83;font-weight: bold;">{{ message|raw }}</span>
                        </div>
                    </div><!-- /.message__content -->
                </div><!-- /.message__inner -->

                <a href="#" class="message__close jsMessageClose">
                    <img class="svg" src="{{ asset('assets/myboxes/images/close-dark.svg') }}" alt="">
                </a><!-- /.message__close -->
            </div><!-- /.container -->
        </div><!-- /.message -->
    </div><!-- message-wrapper -->
{% endfor %}
