


{% if headerType is defined and headerType == "simple" %}

    <header class="header header--simple">
        <div class="container">
            <div class="navbar d-flex justify-content-center">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset("assets/front/images/logo@2x.png") }}" alt="">
                </a>
            </div><!-- /.navbar -->
        </div><!-- /.container -->
    </header><!-- /.header -->

{% else %}

    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbar-left">
                    <a class="navbar-brand" href="{{ path('project_index') }}">
                        <img src="{{ asset("assets/front/images/logo@2x.png") }}" alt="">
                    </a>
                </div>

                <div class="navbar-right">


                    {% if app.user and app.session.get('current_stock', false) %}

                        <div class="dropdown-header d-none d-lg-block">
                            {{ render(controller('App\\Controller\\Front\\StockController::choice')) }}
                        </div>



                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-search" aria-controls=".navbar-search" aria-expanded="false" aria-label="Toggle navigation">
                            <img class="svg" src="{{ asset('assets/front/images/search.svg') }}" alt="">
                        </button>

                        <div class="navbar-collapse navbar-search collapse">
                            <div class="search">
                                <div class="container">
                                    <a href="#" class="search__close jsSearchClose">
                                        <img class="svg" src="{{ asset('assets/front/images/close.svg') }}" alt="">
                                    </a><!-- /.search__close -->

                                    <form method="get" action="{{ path('catalog') }}">
                                        <input type="search" value="{{ app.request.get('keyword', '') }}" name="keyword" id="keyword" class="search__field" />


                                        <button type="submit" value="GO" class="search__btn">
                                            <ion-icon name="search"></ion-icon>
                                        </button>
                                    </form>
                                </div><!-- /.container -->

                            </div><!-- /.search -->
                        </div><!-- /.navbar-collapse -->


                        {{ render(controller('App\\Controller\\Front\\ProjectItemController::cartHead')) }}

                    {% endif %}

                    <button class="navbar-toggler navbar-border-left" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
                        <img class="svg" src="{{ asset('assets/front/images/profile.svg') }}" alt="">

                        <strong class="hidden-xs">
                            Mon compte
                            <div style="position: absolute;font-size: 10px;">{{ app.user.email }}</div>
                        </strong>

                        <img class="svg hidden-xs" src="{{ asset('assets/front/images/angle-down.svg') }}" alt="">
                    </button>
                </div><!-- /.navbar-right -->
            </div><!-- /.navbar -->
        </div><!-- /.container -->
    </header><!-- /.header -->

    <div class="navbar">
        <button class="hidden navbar-toggler navbar-border-left" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
            <img class="svg" src="{{ asset('assets/front/images/profile.svg') }}" alt="">

            <strong class="hidden-xs">Mon compte
                <div style="font-size: 10px;">{{ app.user.email }}</div>
            </strong>
        </button>

        <div class="navbar-collapse navbar-profile collapse">
            <ul class="navbar-nav">
                <li>
                    <a href="{{ path('project_index') }}" class="navbar-brand hidden-sm hidden-md hidden-lg">
                        <img src="{{ asset('assets/front/images/logo@2x.png') }}" alt="">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-profile" aria-controls=".navbar-profile" aria-expanded="false" aria-label="Toggle navigation">
                        <img class="svg hidden-xs" src="{{ asset('assets/front/images/profile.svg') }}" alt="">

                        <strong class="hidden-xs">Mon compte
                            <div style="font-size: 10px;">{{ app.user.email }}</div></strong>

                        <img class="svg hidden-sm hidden-md hidden-lg" src="{{ asset('assets/front/images/close.svg') }}" alt="">
                    </button>
                </li>


                <li class="has-dropdown dropdown">
                    {{ render(controller('App\\Controller\\Front\\StockController::choice')) }}
                </li>


                {% if app.session.get('current_stock', false) %}
                    <li>
                        <a href="{{ path('account') }}">
                            <img class="svg" src="{{ asset('assets/front/images/document.svg') }}" alt="">

                            <span>Voir mes commandes</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_homepage') }}">
                            <img class="svg" src="{{ asset('assets/shop/images/edit.svg') }}" alt="" />
                            <span>Administration</span>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="{{ path('logout') }}">
                        <img class="svg" src="{{ asset('assets/front/images/power.svg') }}" alt="">

                        <span>Déconnexion</span>
                    </a>
                </li>

            </ul><!-- /.navbar-nav -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.navbar -->

{% endif %}