
{% if pageCount > 1 %}
    <div class="paging">
        <ul>
            {% if previous is defined %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" rel="prev" class="paging__prev"></a></li>
            {% else %}
                <li class="disabled"><a href="#"></a></li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="current"><b><a href="#">{{ page }}</a></b></li>
                {% endif %}

            {% endfor %}

            {#<li class="dots"><a href="#">...</a></li>#}

            {% if next is defined %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): next})) }}" rel="next" class="paging__next"></a></li>
            {% else %}
                <li class="disabled"><a href="#"></a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}